<md-card>
  <md-card-header ng-click="$ctrl.collapsed = !$ctrl.collapsed">
    <md-card-header-text>
      <h2 class="md-title">{{'global.cards.details' | translate }}</h2>
    </md-card-header-text>
    <md-button
      class="md-card-collapsible-button"
      aria-label="{{($ctrl.collapsed ? 'global.collapsed' : 'global.uncollapsed') | translate}}">
      <md-icon md-font-set="material-icons" ng-if="!$ctrl.collapsed">keyboard_arrow_up</md-icon>
      <md-icon md-font-set="material-icons" ng-if="$ctrl.collapsed">keyboard_arrow_down</md-icon>
    </md-button>
  </md-card-header>
  <div ng-if="!$ctrl.collapsed">
    <md-card-content>
      <md-list>
        <md-list-item ng-if="$ctrl.options.analysisPackage.authors">
          <h5>{{'analysis-package-management.detail.label.authors' | translate }}:</h5>
          <div
            class="md-secondary" style="white-space: pre-wrap;"
            ng-repeat="author in $ctrl.options.analysisPackage.authors"><span>{{author.lastName}}, {{author.firstName}}{{author.middleName !== undefined?' '+author.middleName:''}}</span><a ng-if="author.orcid" href="https://orcid.org/{{author.orcid}}" target="_blank"> <img alt="ORCID logo" src="assets/images/icons/ORCID.svg" style="width: 16px; height: 16px;"/></a>{{!$last?'; ':''}}</div>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.analysisPackage.institutions">
          <h5>{{'analysis-package-management.detail.label.institutions' | translate }}:</h5>
          <span
            class="md-secondary" style="white-space: pre-wrap;"
            ng-repeat="institution in $ctrl.options.analysisPackage.institutions">{{institution[$ctrl.lang]}}{{!$last?'; ':''}}</span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.analysisPackage.sponsors">
          <h5>{{'analysis-package-management.detail.label.sponsors' | translate }}:</h5>
          <div class="md-secondary">
	    <div style="white-space:pre-wrap" ng-repeat="sponsor in $ctrl.options.analysisPackage.sponsors"><ul style="margin-bottom:5px;padding-left:0px;list-style-type: none;"><li>{{sponsor.name[$ctrl.lang]}}<br ng-if="sponsor.fundingRef ? true : false" /><h5 ng-if="sponsor.fundingRef ? true : false" style="display:inline">{{'analysis-package-management.detail.label.fundingRef' | translate }}: </h5>{{sponsor.fundingRef}}<br ng-if="sponsor.fundingProgram ? true : false" /><h5 ng-if="sponsor.fundingProgram ? true : false" style="display:inline">{{'analysis-package-management.detail.label.fundingProgram' | translate }}: </h5>{{sponsor.fundingProgram}}</li></ul></div>
	  </div>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.analysisPackage.projectContributors">
          <h5>{{'analysis-package-management.detail.label.projectContributors' | translate }}:</h5>
          <div
            class="md-secondary pre"
            ng-repeat="person in $ctrl.options.analysisPackage.projectContributors"><span>{{person.lastName}}, {{person.firstName}}{{person.middleName !== undefined?' '+person.middleName:''}}</span><a ng-if="person.orcid" href="https://orcid.org/{{person.orcid}}" target="_blank"> <img alt="ORCID logo" src="assets/images/icons/ORCID.svg" style="width: 16px; height: 16px;"/></a>{{!$last?'; ':''}}</div>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.analysisPackage.dataLanguages && $ctrl.options.analysisPackage.dataLanguages.length > 0">
          <h5>{{'analysis-package-management.detail.label.dataLanguages' | translate }}:</h5>
          <span
            class="md-secondary pre"
            ng-repeat="language in $ctrl.options.analysisPackage.dataLanguages">{{(language | displayIsoLanguage: $ctrl.lang)}}{{$index + 1 !== $ctrl.options.analysisPackage.dataLanguages.length ? ', ': ''}}</span>
          </span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.analysisPackage.dataCurators">
          <h5>{{'analysis-package-management.detail.label.data-curators' | translate }}:</h5>
          <div
            class="md-secondary pre"
            ng-repeat="person in $ctrl.options.analysisPackage.dataCurators"><span>{{person.lastName}}, {{person.firstName}}{{person.middleName !== undefined?' '+person.middleName:''}}</span><a ng-if="person.orcid" href="https://orcid.org/{{person.orcid}}" target="_blank"> <img alt="ORCID logo" src="assets/images/icons/ORCID.svg" style="width: 16px; height: 16px;"/></a>{{!$last?'; ':''}}</div>
        </md-list-item>
        <md-list-item
          ng-if="$ctrl.options.analysisPackage.doi">
          <h5>{{'analysis-package-management.detail.label.doi' | translate }}:</h5>
          <a
            ng-href="https://doi.org/{{$ctrl.options.analysisPackage.doi}}"
            class="md-secondary"
            target="_blank">
            {{$ctrl.options.analysisPackage.doi}}
            <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'analysis-package-management.detail.doi-tooltip' | translate}}
            </md-tooltip>
          </a>
        </md-list-item>
        <md-list-item>
          <h5>{{'analysis-package-management.detail.label.version' | translate }}:</h5>
          <span ng-if="$ctrl.options.analysisPackage.release && !$ctrl.options.analysisPackage.release.isPreRelease" class="md-secondary">{{$ctrl.options.analysisPackage.release.version + ' (' + ('analysis-package-management.detail.label.published-at' | translate) + ' ' + ($ctrl.options.analysisPackage.release.firstDate + 'Z' | date:'mediumDate') + ')'}}</span>
          <span ng-if="$ctrl.options.analysisPackage.release && $ctrl.options.analysisPackage.release.isPreRelease" class="md-secondary">{{$ctrl.options.analysisPackage.release.version + ' (' + ('analysis-package-management.detail.label.pre-published-at' | translate) + ' ' + ($ctrl.options.analysisPackage.release.firstDate + 'Z' | date:'mediumDate') + ')'}}</span>
          <span ng-if="!$ctrl.options.analysisPackage.release" class="md-secondary">{{'analysis-package-management.detail.not-yet-released' | translate}}</span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.project.embargoDate">
          <h5>{{'analysis-package-management.detail.label.embargo-date' | translate }}:</h5>
          <span class="md-secondary">{{$ctrl.options.project.embargoDate | date:'mediumDate'}}</span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.analysisPackage.annotations">
          <h5>{{'analysis-package-management.detail.label.annotations' | translate }}:</h5>
          <p
            class="md-secondary"
            markdown-to-html="$ctrl.options.analysisPackage.annotations | displayI18nString"
            ></p>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.analysisPackage.additionalLinks && $ctrl.options.analysisPackage.additionalLinks.length > 0">
          <h5>{{'analysis-package-management.detail.label.additional-links' | translate }}:</h5>
          <ul class="md-secondary" style="list-style-type: none; margin: 0px; margin-block: 0px; padding-inline: 0px; padding: 0px;">
            <li ng-repeat="link in $ctrl.options.analysisPackage.additionalLinks">
              <a href="{{link.url}}" target="_blank">
                {{ link.displayText ? (link.displayText | displayI18nString) : link.url}}
                <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                  {{'analysis-package-management.detail.link-tooltip' | translate}}
                </md-tooltip>
              </a>
            </li>
          </ul>
        </md-list-item>
      </md-list>
    </md-card-content>
  </div>
</md-card>
