<md-dialog aria-label="{{'variable-management.detail.variables' | translate }}" style="width: 70%;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'variable-management.detail.variables' | translate }}</h2>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="ctrl.closeDialog()">
                <md-icon md-svg-src="/assets/images/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div block-ui="blockRelatedVariableContainer">
            <div class="fdz-InfiniteScroll">
                <md-virtual-repeat-container id="vertical-container">
                    <div data-md-virtual-repeat="item in ctrl.infiniteItems" data-md-on-demand flex>
                        <md-card ui-sref="variableDetail({id:item._source.id})" class="fdz-search-result">
                            <md-card-header class="fdz-card-header-border">
                                <md-card-avatar>
                                    <md-icon md-svg-src="/assets/images/icons/variable.svg" class="fdz-search-result-icon"></md-icon>
                                </md-card-avatar>
                                <md-card-header-text class="fdz-truncate-string">
                                    <div class="md-title fdz-truncate-string">{{item._source.label}}
                                        ({{item._source.id}})</div>
                                    <div class="md-subhead fdz-truncate-string">{{item._source.name}}
                                        ({{item._source.dataType}},
                                        {{item._source.scaleLevel}})</div>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <div layout="row" layout-xs="column">
                                    <div class="fdz-search-result-label">
                                        {{ 'variable-management.labels.surveyed-in' | translate}}
                                    </div>
                                    <div layout="column">
                                        <div class="fdz-truncate-string" ng-repeat="title in item._source.surveyTitles track by $index">
                                            <md-icon md-svg-src="/assets/images/icons/survey.svg" class="fdz-inline-icon"></md-icon>
                                            {{title}}
                                        </div>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                </md-virtual-repeat-container>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
