<div ng-if="ctrl.variable.id">
  <previous-search-result bowser="bowser" current-language="currentLanguage"></previous-search-result>
  <next-search-result bowser="bowser" current-language="currentLanguage"></next-search-result>
    <div class="fdz-cc" ng-if="!isAuthenticated()">
      <div>
        <div class="fdz-detail">
          <div class="fdz-detail__header">
            <h1 class="md-headline" display-i18n-string="ctrl.variable.label" fdz-hyphenate></h1>
          </div>
          <fdz-detail
            collapsed="false"
            lang="currentLanguage"
            options="ctrl"
            template-url="scripts/variablemanagement/templates/dp-detail.html.tmpl"></fdz-detail>
          <fdz-related-objects
            collapsed="false"
            lang="currentLanguage"
            options="ctrl.counts"
            id="ctrl.variable.id"
            template-url="scripts/common/detail/common/dp-related-objects.html.tmpl"></fdz-related-objects>
          <fdz-detail
            ng-if="ctrl.isDiagramVisible()"
            collapsed="false"
            lang="currentLanguage"
            options="ctrl.variable"
            template-url="scripts/variablemanagement/templates/dp-statistic.html.tmpl"></fdz-detail>
          <fdz-detail
            ng-if="ctrl.variable.accessWays != 'not-accessible' && ctrl.variable.distribution.statistics"
            collapsed="false"
            lang="currentLanguage"
            options="ctrl"
            template-url="scripts/variablemanagement/templates/dp-metric.html.tmpl"></fdz-detail>
          <fdz-detail
            ng-if="ctrl.validResponsesOrMissingsAvailable"
            collapsed="false"
            lang="currentLanguage"
            options="ctrl"
            template-url="scripts/variablemanagement/templates/dp-frequencies.html.tmpl"></fdz-detail>
          <fdz-detail
            ng-if="ctrl.variable.generationDetails"
            collapsed="false"
            lang="currentLanguage"
            options="ctrl"
            template-url="scripts/variablemanagement/templates/dp-generation.html.tmpl"></fdz-detail>
          <fdz-detail
            collapsed="false"
            lang="currentLanguage"
            options="ctrl.previousVariables"
            template-url="scripts/variablemanagement/templates/dp-prev.html.tmpl"></fdz-detail>
          <fdz-detail
            collapsed="false"
            lang="currentLanguage"
            options="ctrl.nextVariables"
            template-url="scripts/variablemanagement/templates/dp-next.html.tmpl"></fdz-detail>
        </div>
      </div>
    </div>
  <div class="fdz-cc" ng-if="isAuthenticated()">
    <div layout="row" layout-margin style="margin-bottom: 0px;">
      <h1 class="md-headline"><span display-i18n-string="ctrl.variable.label" fdz-hyphenate></span>
        <span class="label label-as-badge label-default">{{ctrl.variable.masterId}}</span></h1>
      <json-content-dialog class="mb0" content="ctrl.variable" exclude-fields="jsonExcludes"
                           header-title="ctrl.variable.label" ng-if="enableJsonView"></json-content-dialog>
    </div>
    <div layout="column" layout-gt-sm="row">
      <div flex-gt-sm="50" layout="column">
        <md-card flex="auto">
          <md-card-header>
            <md-card-header-text>
              <h2 class="md-title">{{'global.cards.details' | translate }}</h2>
            </md-card-header-text>
          </md-card-header>
          <md-divider></md-divider>
          <md-card-content class="pt16">
            <div class="fdz-add-bottom-margin" ng-if="ctrl.variable.name">
              <span style="font-weight: bold;">{{'variable-management.detail.label.name' | translate }}:</span>
              <span>{{ctrl.variable.name}}</span>
            </div>
            <div class="fdz-add-bottom-margin" ng-if="ctrl.variable.label">
              <span style="font-weight: bold;">{{'variable-management.detail.label.label' | translate }}:</span>
              <span display-i18n-string="ctrl.variable.label" fdz-hyphenate></span>
            </div>
            <div class="fdz-add-bottom-margin" ng-if="ctrl.variable.dataType">
              <span style="font-weight: bold;">{{'variable-management.detail.label.data-type' | translate }}:</span>
              <span display-i18n-string="ctrl.variable.dataType"></span>
            </div>
            <div class="fdz-add-bottom-margin" ng-if="ctrl.variable.scaleLevel">
              <span style="font-weight: bold;">{{'variable-management.detail.label.scale-level' | translate }}:</span>
              <span display-i18n-string="ctrl.variable.scaleLevel"></span>
            </div>
            <div class="fdz-add-bottom-margin" ng-if="ctrl.variable.accessWays">
              <span style="font-weight: bold;">{{'variable-management.detail.label.access-ways' | translate }}:</span>
              <span>{{ctrl.variable.accessWays.join(', ')}}</span>
            </div>
            <div class="fdz-add-bottom-margin fdz-text-block" ng-if="ctrl.variable.annotations">
              <span style="font-weight: bold;">{{'variable-management.detail.label.annotations' | translate }}:</span>
              <span class="fdz-multiline-property" display-i18n-string="ctrl.variable.annotations" fdz-hyphenate></span>
            </div>
            <div class="fdz-add-bottom-margin fdz-text-block" ng-if="ctrl.variable.filterDetails.description">
              <span
                style="font-weight: bold;">{{'variable-management.detail.label.filter-description' | translate }}:</span>
              <span class="fdz-multiline-property" display-i18n-string="ctrl.variable.filterDetails.description"
                    fdz-hyphenate></span>
            </div>
            <div ng-if="ctrl.variable.filterDetails">
              <span style="font-weight: bold;">{{'variable-management.detail.label.input-filter' | translate }} ({{variable.filterDetails.expressionLanguage}}):</span>
              <div class="fdz-overlay-outer-box">
                <div class="fdz-code-container"
                     create-variable-links="{currentLanguage: currentLanguage, currentVariable: variable}"
                     hljs hljs-language="{{ctrl.variable.filterDetails.expressionLanguage}}"
                     hljs-source="variable.filterDetails.expression"
                     ng-class="{'fdz-hidden-code': filterDetailsCodeToggleFlag}"
                     style="margin-top: 0.5em;"></div>
                <div class="fdz-overlay-inner-box-top">
                  <md-button
                    class="md-icon-button md-primary"
                    data-clipboard-text="{{ctrl.variable.filterDetails.expression}}"
                    ng-click="openSuccessCopyToClipboardToast('variable-management.log-messages.variable.filter-details-success-copy-to-clipboard')"
                    ngclipboard>
                    <md-icon md-font-library="material-icons">content_copy</md-icon>
                    <md-tooltip md-autohide="true" md-direction="top"
                                md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                      {{'variable-management.detail.copy-complete-input-filter-tooltip' | translate}}
                    </md-tooltip>
                  </md-button>
                  <md-button class="md-icon-button md-primary" ng-click="toggleFilterDetailsCode()">
                    <md-icon md-svg-src="/assets/images/icons/arrow-expand.svg"
                             ng-if="ctrl.filterDetailsCodeToggleFlag"></md-icon>
                    <md-icon md-svg-src="/assets/images/icons/arrow-compress.svg"
                             ng-if="!ctrl.filterDetailsCodeToggleFlag"></md-icon>
                    <md-tooltip md-autohide="true" md-direction="top"
                                md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                      {{'variable-management.detail.show-complete-input-filter-tooltip.' + filterDetailsCodeToggleFlag |
                      translate }}
                    </md-tooltip>
                  </md-button>
                </div>
              </div>
            </div>
          </md-card-content>
        </md-card>
      </div>
      <div flex-gt-sm="50" layout="column">
        <md-card flex="auto"
                 ng-class="{'fdz-reset-left-margin': $mdMedia('gt-sm'), 'fdz-reset-top-margin': $mdMedia('sm') || $mdMedia('xs')}">
          <md-card-header>
            <md-card-header-text>
              <h2 class="md-title">{{'global.cards.related-objects' | translate }}</h2>
            </md-card-header-text>
          </md-card-header>
          <md-divider></md-divider>
          <md-card-content class="pt16" layout="column">
            <div layout="row" style="margin-bottom: 0.5em; width: 100%;">
              <div class="fdz-truncate-string" flex ng-if="!ctrl.study">
                <md-icon md-svg-src="/assets/images/icons/study.svg"></md-icon>
                {{'study-management.detail.label.study' | translate }}: {{'global.messages.error.unavailable' |
                translate}}
              </div>
              <div class="fdz-truncate-string" flex ng-if="ctrl.study">
                <a ui-sref="studyDetail({id: study.masterId, version: variable.shadow?variable.release.version:''})">
                  <md-icon md-svg-src="/assets/images/icons/study.svg"></md-icon>
                  {{'study-management.detail.label.study' | translate }}: <span
                  display-i18n-string="ctrl.study.title"></span>
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'variable-management.detail.tooltips.studies.one' | translate}}
                  </md-tooltip>
                </a>
              </div>
            </div>
            <div layout="row" style="margin-bottom: 0.5em; width: 100%;">
              <div class="fdz-truncate-string" flex ng-if="ctrl.counts.surveysCount == 1 && !ctrl.survey">
                <md-icon md-svg-src="/assets/images/icons/survey.svg"></md-icon>
                {{'survey-management.detail.label.surveys' | translate }}: {{'global.messages.error.unavailable' |
                translate}}
              </div>
              <div class="fdz-truncate-string" flex ng-if="counts.surveysCount == 1 && survey">
                <a
                  ui-sref="surveyDetail({'id': survey.masterId, version: variable.shadow?variable.release.version:''})">
                  <md-icon md-svg-src="/assets/images/icons/survey.svg"></md-icon>
                  {{'survey-management.detail.label.survey' | translate }}: <span
                  display-i18n-string="ctrl.survey.title"></span>
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'variable-management.detail.tooltips.surveys.one' | translate}}
                  </md-tooltip>
                </a>
              </div>
              <div class="fdz-truncate-string" flex ng-if="ctrl.counts.surveysCount > 1">
                <a
                  ui-sref="search({'type': 'surveys', 'variable':variable.id, 'study': variable.studyId, 'data-set': variable.dataSetId})">
                  <md-icon md-svg-src="/assets/images/icons/survey.svg"></md-icon>
                  {{'survey-management.detail.label.surveys' | translate }}: ({{ctrl.counts.surveysCount}})
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'variable-management.detail.tooltips.surveys.many' | translate}}
                  </md-tooltip>
                </a>
              </div>
            </div>
            <div layout="row" style="margin-bottom: 0.5em; width: 100%;">
              <div class="fdz-truncate-string" flex ng-if="!ctrl.dataSet">
                <md-icon md-svg-src="/assets/images/icons/data-set.svg"></md-icon>
                {{'data-set-management.detail.label.data-set' | translate }}: {{'global.messages.error.unavailable' |
                translate}}
              </div>
              <div class="fdz-truncate-string" flex ng-if="ctrl.dataSet">
                <a
                  ui-sref="dataSetDetail({id: dataSet.masterId, version: variable.shadow?variable.release.version:''})">
                  <md-icon md-svg-src="/assets/images/icons/data-set.svg"></md-icon>
                  {{'data-set-management.detail.label.data-set' | translate }}: <span
                  display-i18n-string="dataSet.description"></span>
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'variable-management.detail.tooltips.data-sets.one' | translate}}
                  </md-tooltip>
                </a>
              </div>
            </div>
            <div layout="row"
                 ng-if="ctrl.variable.relatedQuestions && ctrl.variable.relatedQuestions.length > 0"
                 style="margin-bottom: 0.5em; width: 100%;">
              <div class="fdz-truncate-string" flex ng-if="ctrl.counts.questionsCount == 1 && !ctrl.question">
                <md-icon md-svg-src="/assets/images/icons/question.svg"></md-icon>
                {{'question-management.detail.label.questions' | translate }}: {{'global.messages.error.unavailable' |
                translate}}
              </div>
              <div class="fdz-truncate-string" flex ng-if="ctrl.counts.questionsCount == 1 && ctrl.question">
                <a
                  ui-sref="questionDetail({'id': variable.nestedQuestions[0].masterId, version: variable.shadow?variable.release.version:''})">
                  <md-icon md-svg-src="/assets/images/icons/question.svg"></md-icon>
                  {{'question-management.detail.label.question' | translate }}: <span
                  display-i18n-string="ctrl.question.questionText"></span>
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'variable-management.detail.tooltips.questions.one' | translate}}
                  </md-tooltip>
                </a>
              </div>
              <div class="fdz-truncate-string" flex ng-if="counts.questionsCount > 1">
                <a
                  ui-sref="search({'type': 'questions', 'variable':variable.id, 'study': variable.studyId, 'data-set': variable.dataSetId})">
                  <md-icon md-svg-src="/assets/images/icons/question.svg"></md-icon>
                  {{'question-management.detail.label.questions' | translate }}: ({{counts.questionsCount}})
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'variable-management.detail.tooltips.questions.many' | translate}}
                  </md-tooltip>
                </a>
              </div>
            </div>
            <div layout="row" ng-if="ctrl.variable.panelIdentifier" style="margin-bottom: 0.5em; width: 100%;">
              <div class="fdz-truncate-string" flex ng-if="ctrl.counts.variablesInPanel === 1">
                <md-icon md-svg-src="/assets/images/icons/variable.svg"></md-icon>
                {{'variable-management.detail.label.variables-in-panel' | translate }}:
                {{'global.messages.error.unavailable' | translate}}
              </div>
              <div class="fdz-truncate-string" flex ng-if="ctrl.counts.variablesInPanel > 1">
                <a
                  ui-sref="search({'type': 'variables', 'panel-identifier':variable.panelIdentifier, 'study': variable.studyId, 'data-set': variable.dataSetId})">
                  <md-icon md-svg-src="/assets/images/icons/variable.svg"></md-icon>
                  {{'variable-management.detail.label.variables-in-panel' | translate }}: ({{ctrl.counts.variablesInPanel}})
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'variable-management.detail.tooltips.variables.same-in-panel' | translate}}
                  </md-tooltip>
                </a>
              </div>
            </div>
            <div layout="row" ng-if="ctrl.variable.derivedVariablesIdentifier" style="margin-bottom: 0.5em; width: 100%;">
              <div class="fdz-truncate-string" flex ng-if="ctrl.counts.derivedVariables === 1">
                <md-icon md-svg-src="/assets/images/icons/variable.svg"></md-icon>
                {{'variable-management.detail.label.derived-variables' | translate }}:
                {{'global.messages.error.unavailable' | translate}}
              </div>
              <div class="fdz-truncate-string" flex ng-if="ctrl.counts.derivedVariables > 1">
                <a
                  ui-sref="search({'type': 'variables', 'derived-variables-identifier': variable.derivedVariablesIdentifier, 'study': variable.studyId, 'data-set': variable.dataSetId})">
                  <md-icon md-svg-src="/assets/images/icons/variable.svg"></md-icon>
                  {{'variable-management.detail.label.derived-variables' | translate }}: ({{counts.derivedVariables}})
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'variable-management.detail.tooltips.variables.derived-variables' | translate}}
                  </md-tooltip>
                </a>
              </div>
            </div>
            <div layout="row" style="margin-bottom: 0.5em; width: 100%;">
              <div class="fdz-truncate-string" flex ng-if="ctrl.counts.publicationsCount == 0">
                <md-icon md-svg-src="/assets/images/icons/related-publication.svg"></md-icon>
                {{'related-publication-management.detail.label.publications' | translate }}:
                {{'global.messages.error.undocumented' | translate}}
              </div>
              <div class="fdz-truncate-string" flex ng-if="counts.publicationsCount == 1">
                <a ui-sref="relatedPublicationDetail({'id': relatedPublication.id})">
                  <md-icon md-svg-src="/assets/images/icons/related-publication.svg"></md-icon>
                  {{'related-publication-management.detail.label.publication' | translate }}:
                  {{ctrl.relatedPublication.title}}
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'variable-management.detail.tooltips.publications.one' | translate}}
                  </md-tooltip>
                </a>
              </div>
              <div class="fdz-truncate-string" flex ng-if="ctrl.counts.publicationsCount > 1">
                <a
                  ui-sref="search({'type': 'related_publications', 'variable':variable.id, 'study': variable.studyId, 'data-set': variable.dataSetId})">
                  <md-icon md-svg-src="/assets/images/icons/related-publication.svg"></md-icon>
                  {{'related-publication-management.detail.label.publications' | translate }}:
                  ({{ctrl.counts.publicationsCount}})
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'variable-management.detail.tooltips.publications.many' | translate}}
                  </md-tooltip>
                </a>
              </div>
            </div>
            <div layout="row" style="margin-bottom: 0.5em; width: 100%;">
              <div class="fdz-truncate-string" flex ng-if="ctrl.counts.conceptsCount == 0">
                <md-icon md-svg-src="/assets/images/icons/concept.svg"></md-icon>
                {{'concept-management.detail.label.concepts' | translate }}: {{'global.messages.error.undocumented' |
                translate}}
              </div>
              <div class="fdz-truncate-string" flex ng-if="ctrl.counts.conceptsCount == 1">
                <a ui-sref="conceptDetail({'id': concept.id})">
                  <md-icon md-svg-src="/assets/images/icons/concept.svg"></md-icon>
                  {{'concept-management.detail.label.concept' | translate }}:
                  <span display-i18n-string="ctrl.concept.title"></span>
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'variable-management.detail.tooltips.concepts.one' | translate}}
                  </md-tooltip>
                </a>
              </div>
              <div class="fdz-truncate-string" flex ng-if="ctrl.counts.conceptsCount > 1">
                <a
                  ui-sref="search({'type': 'concepts', 'variable':variable.id, 'study': variable.studyId, 'data-set': variable.dataSetId})">
                  <md-icon md-svg-src="/assets/images/icons/concept.svg"></md-icon>
                  {{'concept-management.detail.label.concepts' | translate }}: ({{ctrl.counts.conceptsCount}})
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'variable-management.detail.tooltips.concepts.many' | translate}}
                  </md-tooltip>
                </a>
              </div>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </div>
    <div layout="column" layout-gt-sm="row">
      <div flex-gt-sm="50" layout="column">
        <md-card class="fdz-reset-top-margin" flex="auto" ng-if="ctrl.isDiagramVisible()">
          <md-card-header>
            <md-card-header-text>
              <h2 class="md-title">{{'variable-management.detail.statistics.graphics' | translate | fdzHyphenate }}</h2>
            </md-card-header-text>
          </md-card-header>
          <md-divider></md-divider>
          <div id="diagramContainer">
            <diagram language="ctrl.lang" ng-cloak variable="ctrl.variable"></diagram>
          </div>
        </md-card>
      </div>
      <div flex-gt-sm="50" layout="column">
        <md-card class="fdz-reset-top-margin" flex="auto"
                 ng-class="{'fdz-reset-left-margin': $mdMedia('gt-sm') && ctrl.validResponsesOrMissingsAvailable }"
                 ng-if="ctrl.variable.accessWays != 'not-accessible' && ctrl.variable.distribution.statistics">
          <md-card-header>
            <md-card-header-text>
              <h2 class="md-title">{{'variable-management.detail.statistics.statistics' | translate | fdzHyphenate
                }}</h2>
            </md-card-header-text>
          </md-card-header>
          <md-divider></md-divider>
          <md-card-content class="pt16" ng-cloak="true">
            <div>
              <div class="fdz-add-bottom-margin" ng-if="ctrl.variable.distribution.validResponses">
                {{'variable-management.detail.label.statistics.validResponses' | translate}}:
                {{ctrl.variable.distribution.validResponses.length}}
              </div>
              <div class="fdz-add-bottom-margin" ng-if="ctrl.variable.distribution.statistics.minimum != null">
                {{'variable-management.detail.label.statistics.minimum' | translate}} <span katex>(min)</span>:
                {{ctrl.variable.distribution.statistics.minimum | formatResponse: ctrl.variable}}
              </div>
              <div class="fdz-add-bottom-margin" ng-if="ctrl.variable.distribution.statistics.maximum != null">
                {{'variable-management.detail.label.statistics.maximum' | translate}} <span katex>(max)</span>:
                {{ctrl.variable.distribution.statistics.maximum | formatResponse: ctrl.variable}}
              </div>
              <h3 ng-if="ctrl.checkCentralTendencyElements()"
                  style="font-size: 18px; margin-top: 1.0em; margin-bottom: 0.5em;">
                {{'variable-management.detail.label.central-tendency' | translate}}
              </h3>
              <div class="fdz-add-bottom-margin" ng-if="ctrl.variable.distribution.statistics.meanValue != null">
                {{'variable-management.detail.label.statistics.mean-value' | translate}} <span katex>(\bar x)</span>:
                {{ctrl.variable.distribution.statistics.meanValue | formatResponse: ctrl.variable:true}}
              </div>
              <div class="fdz-add-bottom-margin" ng-if="ctrl.variable.distribution.statistics.median != null">
                {{'variable-management.detail.label.statistics.median' | translate}} <span katex>(\tilde x)</span>:
                {{ctrl.variable.distribution.statistics.median | formatResponse: ctrl.variable}}
              </div>
              <div class="fdz-add-bottom-margin" ng-if="ctrl.variable.distribution.statistics.mode != null">
                {{'variable-management.detail.label.statistics.mode' | translate}} <span katex>(h)</span>:
                {{ctrl.variable.distribution.statistics.mode | formatResponse: ctrl.variable}}
              </div>
              <h3 ng-if="ctrl.checkDispersionElements()" style="font-size: 18px; margin-top: 1.0em; margin-bottom: 0.5em;">
                {{'variable-management.detail.label.dispersion' | translate}}
              </h3>
              <div class="fdz-add-bottom-margin" ng-if="ctrl.variable.distribution.statistics.standardDeviation != null">
                {{'variable-management.detail.label.statistics.standardDeviation' | translate}} <span katex>(s)</span>:
                {{ctrl.variable.distribution.statistics.standardDeviation | number:2}}
              </div>
              <h3 ng-if="ctrl.checkDistributionElements()" style="font-size: 18px; margin-top: 1.0em; margin-bottom: 0.5em;">
                {{'variable-management.detail.label.distribution' | translate}}
              </h3>
              <div class="fdz-add-bottom-margin" ng-if="ctrl.variable.distribution.statistics.skewness != null">
                {{'variable-management.detail.label.statistics.skewness' | translate}} <span katex>(v)</span>:
                {{ctrl.variable.distribution.statistics.skewness | number:2}}
              </div>
              <div class="fdz-add-bottom-margin" ng-if="ctrl.variable.distribution.statistics.kurtosis != null">
                {{'variable-management.detail.label.statistics.kurtosis' | translate}} <span katex>(w)</span>:
                {{ctrl.variable.distribution.statistics.kurtosis | number:2}}
              </div>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </div>
    <div layout="row" ng-if="ctrl.validResponsesOrMissingsAvailable">
      <md-card class="fdz-reset-top-margin" flex>
        <md-card-header class="fdz-card-header-with-button" layout-align="center center">
          <md-card-header-text>
            <h2 class="md-title">{{'variable-management.detail.frequencies' | translate | fdzHyphenate }}</h2>
          </md-card-header-text>
          <md-button
            class="md-fab md-mini md-primary"
            ng-click="ctrl.toggleAllRowsVisible()"
            ng-disabled="!ctrl.variable.distribution.validResponses || ctrl.variable.distribution.validResponses.length <= 10">
            <md-tooltip
              md-autohide="true"
              md-direction="left" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001"
              ng-hide="!ctrl.variable.distribution.validResponses || ctrl.variable.distribution.validResponses.length <= 10">
              {{'variable-management.detail.show-complete-distribution-tooltip.' + ctrl.notAllRowsVisible | translate }}
            </md-tooltip>
            <md-icon md-svg-src="/assets/images/icons/arrow-expand.svg" ng-if="ctrl.notAllRowsVisible"></md-icon>
            <md-icon md-svg-src="/assets/images/icons/arrow-compress.svg" ng-if="!ctrl.notAllRowsVisible"></md-icon>
          </md-button>
        </md-card-header>
        <table fdz-table>
          <thead>
          <tr>
            <th>{{'variable-management.detail.label.statistics.value' | translate }}
              <md-tooltip hide-gt-xs md-direction="right">
                {{'variable-management.detail.label.statistics.value' | translate }}
              </md-tooltip>
            </th>
            <th class="fdz-table-absorbing-column">{{'variable-management.detail.label.statistics.label' | translate }}
              <md-tooltip hide-gt-xs md-direction="right">
                {{'variable-management.detail.label.statistics.label' | translate }}
              </md-tooltip>
            </th>
            <th>Missing
            </th>
            <th>{{'variable-management.detail.label.statistics.frequency' | translate }}
              <md-tooltip hide-gt-xs md-direction="right">
                {{'variable-management.detail.label.statistics.frequency' | translate }}
              </md-tooltip>
            </th>
            <th>{{'variable-management.detail.label.statistics.valid-percent' | translate }}
              <md-tooltip hide-gt-xs md-direction="right">
                {{'variable-management.detail.label.statistics.valid-percent' | translate }}
              </md-tooltip>
            </th>
            <th>{{'variable-management.detail.label.statistics.percent' | translate }}
              <md-tooltip hide-gt-xs md-direction="right">
                {{'variable-management.detail.label.statistics.percent' | translate }}
              </md-tooltip>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-class="{'fdz-table-last-row':$last}" ng-hide="ctrl.isRowHidden($index)"
              ng-repeat-start="row in ctrl.variable.distribution.validResponses">
            <td ng-class="{'fdz-table-number' : ctrl.variable.dataType.en === 'numeric'}">
              {{row.value | formatResponse: ctrl.variable}}{{row.code | number:0}}&nbsp;
            </td>
            <td display-i18n-string="row.label"></td>
            <td class="fdz-table-number">&nbsp;</td>
            <td class="fdz-table-number">{{row.absoluteFrequency | number:0}}&nbsp;</td>
            <td class="fdz-table-number">{{row.validRelativeFrequency | number:2}} %
            </td>
            <td class="fdz-table-number">{{row.relativeFrequency | number:2}} %
            </td>
          </tr>
          <tr ng-click="ctrl.toggleAllRowsVisible()" ng-hide="!ctrl.notAllRowsVisible"
              ng-if="$index === 4 && ctrl.variable.distribution.validResponses.length > 10" ng-repeat-end>
            <td ng-class="{'fdz-table-number' : ctrl.variable.dataType.en === 'numeric'}">...</td>
            <td>...</td>
            <td class="fdz-table-number">...</td>
            <td class="fdz-table-number">...&nbsp;</td>
            <td class="fdz-table-number">...</td>
            <td class="fdz-table-number">...</td>
          </tr>
          <tr ng-if="ctrl.variable.distribution.validResponses.length > 0">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="fdz-table-total-number">{{ctrl.variable.distribution.totalValidAbsoluteFrequency | number:0}}&nbsp;
            </td>
            <td class="fdz-table-total-number">100 %</td>
            <td class="fdz-table-total-number">{{ctrl.variable.distribution.totalValidRelativeFrequency | number:2}} %
            </td>
          </tr>
          <tr ng-class="{'fdz-table-last-row':$last}" ng-repeat="row in ctrl.variable.distribution.missings">
            <td ng-class="{'fdz-table-number' : ctrl.variable.dataType.en === 'numeric'}">{{row.code}}&nbsp;</td>
            <td display-i18n-string="row.label"></td>
            <td class="fdz-table-number">m</td>
            <td class="fdz-table-number">{{row.absoluteFrequency | number:0}}&nbsp;</td>
            <td class="fdz-table-number">&nbsp;</td>
            <td class="fdz-table-number">{{row.relativeFrequency | number:2}} %
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="fdz-table-total-number">{{ctrl.variable.distribution.totalAbsoluteFrequency | number:0}}&nbsp;</td>
            <td class="fdz-table-total-number">&nbsp;</td>
            <td class="fdz-table-total-number">100 %</td>
          </tr>
          </tbody>
        </table>
      </md-card>
    </div>
    <div layout="row" ng-if="ctrl.variable.generationDetails">
      <md-card class="fdz-reset-top-margin" flex>
        <md-card-header layout-align="center center">
          <md-card-header-text>
            <h2 class="md-title">{{'variable-management.detail.label.generation-details' | translate | fdzHyphenate
              }}</h2>
          </md-card-header-text>
        </md-card-header>
        <md-divider></md-divider>
        <md-card-content class="pt16">
          <div class="fdz-add-bottom-margin fdz-text-block">
                    <span style="font-weight: bold;">{{'variable-management.detail.label.generation-details-description' | translate }}:
                    </span>
            <span class="fdz-multiline-property" display-i18n-string="ctrl.variable.generationDetails.description"
                  fdz-hyphenate></span>
          </div>
          <div ng-if="ctrl.variable.generationDetails.rule">
                    <span style="font-weight: bold; margin-right:0px;">{{'variable-management.detail.label.generation-details-rule' | translate }}
                        ({{ctrl.variable.generationDetails.ruleExpressionLanguage}}):
                    </span>
            <div class="fdz-overlay-outer-box">
              <div class="fdz-code-container"
                   create-variable-links="{currentLanguage: ctrl.lang, currentVariable: ctrl.variable}"
                   hljs hljs-language="{{ctrl.variable.generationDetails.ruleExpressionLanguage}}"
                   hljs-source="ctrl.variable.generationDetails.rule"
                   ng-class="{'fdz-hidden-code': ctrl.generationCodeToggleFlag}"
                   style="margin-top: 0.5em;"></div>
              <div class="fdz-overlay-inner-box-top">
                <md-button
                  class="md-icon-button md-primary"
                  data-clipboard-text="{{ctrl.variable.generationDetails.rule}}"
                  ng-click="ctrl.openSuccessCopyToClipboardToast('variable-management.log-messages.variable.generation-details-rule-success-copy-to-clipboard')"
                  ngclipboard>
                  <md-icon md-font-library="material-icons">content_copy</md-icon>
                  <md-tooltip md-autohide="true" md-direction="top"
                              md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'variable-management.detail.copy-complete-rule-tooltip' | translate}}
                  </md-tooltip>
                </md-button>
                <md-button class="md-icon-button md-primary" ng-click="ctrl.toggleGenerationCode()">
                  <md-icon md-svg-src="/assets/images/icons/arrow-expand.svg"
                           ng-if="ctrl.generationCodeToggleFlag"></md-icon>
                  <md-icon md-svg-src="/assets/images/icons/arrow-compress.svg"
                           ng-if="!ctrl.generationCodeToggleFlag"></md-icon>
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'variable-management.detail.show-complete-rule-tooltip.' + ctrl.generationCodeToggleFlag | translate }}
                  </md-tooltip>
                </md-button>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div layout="column" layout-gt-sm="row">
      <div flex-gt-sm="50" layout="column">
        <md-card class="fdz-reset-top-margin" flex="auto">
          <md-card-header>
            <md-card-header-text>
              <h2 class="md-title">{{'variable-management.detail.previous-variable-in-data-set' | translate |
                fdzHyphenate }}</h2>
            </md-card-header-text>
          </md-card-header>
          <md-divider></md-divider>
          <md-card-content class="pt16">
            <div ng-repeat="previous in ctrl.previousVariables" style="width: 100%;">
              <variable-search-result bowser="bowser" current-language="ctrl.lang"
                                      search-result="previous._source"></variable-search-result>
            </div>
            <div layout="row" layout-align="center center" layout-padding ng-if="ctrl.previousVariables.length == 0">
              {{'variable-management.detail.no-previous-variable' | translate}}
            </div>
          </md-content>
        </md-card>
      </div>
      <div flex-gt-sm="50" layout="column">
        <md-card class="fdz-reset-top-margin" flex="auto" ng-class="{'fdz-reset-left-margin': $mdMedia('gt-sm')}">
          <md-card-header>
            <md-card-header-text>
              <h2 class="md-title">{{'variable-management.detail.next-variable-in-data-set' | translate | fdzHyphenate
                }}</h2>
            </md-card-header-text>
          </md-card-header>
          <md-divider></md-divider>
          <md-card-content class="pt16">
            <div ng-repeat="next in ctrl.nextVariables" style="width: 100%;">
              <variable-search-result bowser="bowser" current-language="ctrl.lang"
                                      search-result="next._source"></variable-search-result>
            </div>
            <div layout="row" layout-align="center center" layout-padding ng-if="ctrl.nextVariables.length == 0">
              {{'variable-management.detail.no-next-variable' | translate }}
            </div>
          </md-content>
        </md-card>
      </div>
    </div>

  </div>
  <div class="fdz-fab-button-container" layout="column">
    <md-button class="md-fab md-raised md-accent" ng-click="ctrl.addToShoppingCart($event)"
               ng-if="!ctrl.isAuthenticated() || hasAuthority('ROLE_USER')">
      <md-tooltip md-autohide="true" md-direction="left" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
        {{'shopping-cart.buttons.add-study-tooltip' | translate}}
      </md-tooltip>
      <md-icon md-font-set="material-icons">add_shopping_cart</md-icon>
    </md-button>
  </div>
</div>
