<md-dialog aria-label="{{'choose-previous-attachment-version.title' | translate:translationParams }}" layout="column" class="ms-flex" flex="50">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <h2 class="fdz-truncate-string">
                <span>{{'choose-previous-attachment-version.title' | translate:translationParams }}</span>
            </h2>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon md-font-set="material-icons">clear</md-icon>
                <md-tooltip md-direction="top" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
                    {{'choose-previous-attachment-version.cancel-tooltip' | translate }}
                </md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
  <md-divider></md-divider>
    <md-dialog-content layout-padding flex layout="column" class="ms-flex">
        <p ng-if="attachments && attachments.length > 0" class="ma0">{{'choose-previous-attachment-version.text' | translate:translationParams }}</p>
        <table md-autofocus fdz-table ng-if="attachments && attachments.length > 0" class="w-100 ms-flex" flex>
            <thead>
            <tr>
                <th style="max-width: 600px;">{{'choose-previous-attachment-version.attachment-description' | translate }}
                    <md-tooltip hide-gt-xs md-direction="right">
                        {{'choose-previous-attachment-version.attachment-description' | translate }}
                    </md-tooltip>
                </th>
                <th>{{'choose-previous-attachment-version.lastModified' | translate }}
                    <md-tooltip hide-gt-xs md-direction="right">
                        {{'choose-previous-attachment-version.lastModified' | translate }}
                    </md-tooltip>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="attachment in attachments" ng-click="attachment.id && select(attachment, $index)" ng-class="{'fdz-current-version': isCurrentVersion($index), 'fdz-deleted-version': !attachment.id}">
                <td ng-if="attachment.id" display-i18n-string="attachment.description" class="fdz-truncate-string" style="max-width: 600px;" title="{{ getVersionTitle($index) }}"></td>
                <td ng-if="!attachment.id" class="fdz-truncate-string" style="max-width: 600px;" title="{{'choose-previous-attachment-version.attachment-deleted' | translate}}"></td>
                <td class="fdz-table-nowrap" title="{{ attachment.lastModifiedDate + 'Z'| date:'fullDate'}} {{ attachment.lastModifiedDate + 'Z'| date:'mediumTime'}}">
                    <span am-time-ago="attachment.lastModifiedDate | amUtc | amLocal"></span> {{ 'choose-previous-attachment-version.lastModifiedBy' | translate }} {{ attachment.lastModifiedBy }}
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-if="!attachments || attachments.length === 0" flex class="ms-flex">
            <span>{{'choose-previous-attachment-version.no-versions-found' | translate:translationParams }}</span>
        </div>
        <div ng-hide="(!attachments || attachments.length === 0) && (currentPage.number === 0)" layout="row" layout-align="space-between center" class="mt8">
            <md-button ng-disabled="currentPage.number === 0" class="md-raised md-primary md-icon-button" ng-click="previousPage()">
                <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
                    {{'choose-previous-attachment-version.previous-page-tooltip' | translate }}
                </md-tooltip>
                <md-icon md-font-set="material-icons">navigate_before</md-icon>
            </md-button>
            <md-button ng-disabled="!attachments || attachments.length === 0 || attachments.length < currentPage.limit" class="md-raised md-primary md-icon-button" ng-click="nextPage()">
                <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
                    {{'choose-previous-attachment-version.next-page-tooltip' | translate }}
                </md-tooltip>
                <md-icon md-font-set="material-icons">navigate_next</md-icon>
            </md-button>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" style="padding-right: 1em;">
        <md-button class="md-raised" ng-click="closeDialog()">
            <span>{{'global.entity.action.cancel' | translate}}</span>
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
                {{'choose-previous-attachment-version.cancel-tooltip' | translate }}
            </md-tooltip>
        </md-button>
    </md-dialog-actions>
</md-dialog>
