<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:include="common/head::head">
</head>
<body class="body-with-jumbotron">
	<header>
		<div th:include="common/navbar::navbar"></div>
		<div
			th:include="common/jumbotron::jumbotron(title=#{disclosure.title},subtitle='')"></div>
	</header>
	<div class="container">
		<address>
		<strong>Deutsches Zentrum für Hochschul- und Wissenschaftsforschung GmbH</strong>
		<p>Goseriede 9<br></br>30159 Hannover<br></br>
		<span th:text="#{disclosure.phone}"></span>+49 511 1220-0 <br></br>
		<span th:text="#{disclosure.fax}"></span>+49 511 1220-160 </p>
		<p th:text="#{disclosure.or}"></p>
		<p>Postfach 2920<br></br>30029 Hannover</p>
		</address>
		<p><span th:text="#{disclosure.responsibleUrlsText}"></span></p>
		<p><span th:text="#{disclosure.Supervisory}"></span><span>Peter Greisler</span></p>
		<p><span th:text="#{disclosure.scientificDirectorFemale}"></span><span>Prof. Dr. Monika Jungbauer-Gans</span></p>
		<p><span th:text="#{disclosure.executiveDirectorMale}"></span><span>Dr. Bernhard Hartung</span></p>
		<p><span th:text="#{disclosure.registerCourt}"></span><span>Hannover | HRB 210251 </span></p>
		<p><span th:text="#{disclosure.identificationNumber}"></span><span>DE291239300</span></p>
		<p><span th:text="#{disclosure.responsiblePressLaw}"></span><br></br><span>Dr. Franziska Kümmerling</span><br></br><a href="mailto:kuemmerling@dzhw.eu">kuemmerling@dzhw.eu</a></p>
		<p><span th:text="#{disclosure.copyright}"></span></p>
		<p><span th:utext="#{disclosure.copyrightGeneral}"></span></p>
		<p><span th:text="#{disclosure.copyrightEmployees}"></span></p>
		<p><span th:text="#{disclosure.copyrightEditorial}"></span></p>
	</div>
	<div th:include="common/js_libraries::js"></div>
</body>
</html>
