<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
</head>
<body>
	<!-- add div element which contains text of global errors -->
	<div th:fragment="globalAlerts(field)" class="global-error"
		th:id="${field}">
		<div th:each="err : ${#fields.errors('__${field}__')}"
			class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only" th:text="${err}"></span>
			<span th:text="${err}"></span>
		</div>
	</div>
</body>
</html>
