<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
	<header th:fragment="head">
		 <nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand visible-xs" href="/" th:text="#{nav.title}">MetaDataManagement</a>
					<a class="navbar-brand hidden-xs" href="/" th:text="#{nav.brand(${@environment.getProperty('info.app.version')})}">Version</a>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
						<span class="sr-only" th:text="#{nav.navtoggle}"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
			 	<div class="collapse navbar-collapse" id="navbar-collapse">
					<ul class="nav navbar-nav navbar-left">dfdf</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
						   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" th:inline="text"> 
							<span class="glyphicon glyphicon-flag"></span>[[#{nav.language}]]
							<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
							 	<li th:classappend="${#locale.language=='de'? 'active' : ''}">
								   <a th:href="${@urlHelper.getURLWithAdditionalQueryParam(#httpServletRequest,'language','de')}"
									th:text="#{nav.language.german}">German</a>
								</li>
								<li th:classappend="${#locale.language=='en'? 'active' : ''}">
								   <a th:href="${@urlHelper.getURLWithAdditionalQueryParam(#httpServletRequest,'language','en')}"
									  th:text="#{nav.language.english}">English</a>
								</li>
							</ul>
						</li>
						<li class="about"><a href="#aboutarea" th:inline="text"
							data-toggle="modal"> <span
								class="glyphicon glyphicon-question-sign"></span>
								[[#{nav.about}]]
						</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="jumbotron">
			<div class="container">
				<h1 th:inline="text">
					[[#{welcome.title}]] <small th:text="#{welcome.subtitle}">Subtitle</small>
				</h1>
				<p th:text="#{welcome.intro}">This is just an example page which
					demonstrates bootstrap, input validation and autocomplete.</p>
			</div>
		</div>
		<div class="modal fade" id="aboutarea" tabindex="-1" role="dialog"
			aria-labelledby="modalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button id="close-button" tabindex="1" type="button" class="close"
							data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="modalLabel" th:text="#{modal.about}">About</h4>
					</div>
					<div class="modal-body">
						<span class="list-group-item active" th:text="#{modal.app}">Application</span>
						<span class="list-group-item"
							th:text="#{modal.brand(${@environment.getProperty('info.app.version')})}"></span>
						<span class="list-group-item"
							th:text="#{modal.application.buildtime(${@environment.getProperty('info.app.buildtime')})}"></span>
						<span class="list-group-item"
							th:text="#{modal.application.starttime(${@environment.getProperty('info.app.startuptime')})}"></span>
						<span class="list-group-item active">Springboot</span> <span
							class="list-group-item"
							th:text="#{modal.springboot(${@environment.getProperty('info.app.spring.version')})}"></span>
						<span class="list-group-item active">Elasticsearch</span> <span
							class="list-group-item"
							th:text="#{modal.elasticsearch(${@environment.getProperty('info.app.elasticsearch.version')})}"></span>
						<span class="list-group-item active">Java</span> <span
							class="list-group-item"
							th:text="#{modal.javavendor(${@environment.getProperty('java.vendor')})}"></span>
						<span class="list-group-item"
							th:text="#{modal.javaversion(${@environment.getProperty('java.version')})}"></span>
						<span class="list-group-item active" th:text="#{modal.os}">OS</span>
						<span class="list-group-item"
							th:text="#{modal.osname(${@environment.getProperty('os.name')})}"></span>
						<span class="list-group-item"
							th:text="#{modal.osarchitectur(${@environment.getProperty('os.arch')})}"></span>
						<span class="list-group-item"
							th:text="#{modal.osversion(${@environment.getProperty('os.version')})}"></span>
					</div>
					<div class="modal-footer">
						<button type="button" tabindex="2" class="btn btn-primary"
							data-dismiss="modal" th:text="#{common.button.close}">close</button>
					</div>
				</div>
			</div>
		</div>
	</header>
</body>
</html>
