<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
</head>
<body>

	<!-- fragment holding a bootstrap form-group with input, label and  help-block -->
	<div th:fragment="input(field,label,placeholder,type,readonly)"
		class="form-group has-feedback"
		th:classappend="${#fields.hasErrors('__${field}__')}? has-error : has-success">
		<label class="hidden-xs hidden-sm" th:text="${label}"></label>
		<label class="visible-xs visible-sm" th:text="${placeholder}"></label>
		<input th:type="${type}"
			class="form-control" th:field="*{__${field}__}"
			th:placeholder="${placeholder}" th:readonly="${readonly}" /> <span
			class="glyphicon form-control-feedback"
			th:classappend="${#fields.hasErrors('__${field}__')}? glyphicon-remove : glyphicon-ok"></span>
		<span class="help-block">
			<span th:if="${#fields.hasErrors('__${field}__')}"
				th:errors="*{__${field}__}"></span>
		</span>
	</div>

	<!-- fragment holding a bootstrap form-group with textarea, label and  help-block -->
	<div th:fragment="textarea(field,label,placeholder,rows, readonly)"
		class="form-group has-feedback"
		th:classappend="${#fields.hasErrors('__${field}__')}? has-error : has-success">
		<label th:text="${label}"></label>
		<textarea th:rows="${rows}" class="form-control"
			th:field="*{__${field}__}" th:placeholder="${placeholder}"
			th:readonly="${readonly}"></textarea>
		<span class="glyphicon form-control-feedback"
			th:classappend="${#fields.hasErrors('__${field}__')}? glyphicon-remove : glyphicon-ok"></span>
		<span class="help-block">
			<span th:if="${#fields.hasErrors('__${field}__')}"
				th:errors="*{__${field}__}"></span>
		</span>
	</div>

	<!-- fragment holding a bootstrap form-group with select, label and  help-block -->
	<div th:fragment="select(field,label,valuesMap,readonly)"
		class="form-group has-feedback"
		th:classappend="${#fields.hasErrors('__${field}__')}? has-error : has-success">
		<label th:text="${label}"></label> <select th:field="*{__${field}__}"
			class="form-control" th:readonly="${readonly}">
			<option value="" th:text="#{common.select.empty}">--Nothing selected--</option>
			<option th:each="value: ${__${valuesMap}__}"
				th:selected="${value} == *{__${field}__}" th:text="${value}"
				th:value="${value}"></option>
		</select> <span class="glyphicon form-control-feedback"
			th:classappend="${#fields.hasErrors('__${field}__')}? glyphicon-remove : glyphicon-ok"></span>
		<span class="help-block">
			<span th:if="${#fields.hasErrors('__${field}__')}"
				th:errors="*{__${field}__}"></span>
		</span>
	</div>

</body>
</html>