<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:lang="${#locale.language}">
<head>
</head>
<body>
	<!-- this fragment holds all js libraries which are used by all pages -->
	<div th:fragment="js">
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		 <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		 <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script
			src="/js/common.js"></script>
	</div>
</body>
</html>