<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${T(org.springframework.context.i18n.LocaleContextHolder).getLocale().getLanguage()}">
<head>
</head>
<body>
  <div th:fragment="jumbotrone">
       <div class="jumbotron">
			<div class="container">
				<h1 th:inline="text">
					[[#{common.jumbo.title}]]
				</h1>
				<p th:text="${var}">Welcome</p>
			</div>
		</div>
   </div>
</body>
</html>