<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
</head>
<body>
	<div th:fragment="navbar">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header" style="min-width: 280px;">
					<a class="navbar-brand" th:href="${resource.homeLink.href}"> <img
						style="max-height: 45px; margin-top: -12px; max-width: 189px;"
						th:src="@{/images/FDZ_Logo.svg}" th:title="#{logo.fdz}"
						th:alt="#{logo.fdz}"></img></a>
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar-collapse">
						<span class="sr-only" th:text="#{nav.navtoggle}"></span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="navbar-collapse">
					<ul class="nav navbar-nav navbar-left">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-expanded="false"> <span
								th:text="#{nav.variable}">variable</span> <span class="caret"></span>
						</a>

							<ul class="dropdown-menu" role="menu">
								<li><a th:href="${resource.variablesSearchLink.href}"
									th:text="#{nav.variable.search}" class="active">Search</a></li>
								<li><a th:href="${resource.variablesCreateLink.href}"
									th:text="#{nav.variable.create}" class="active">Create</a></li>
							</ul></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a th:href="${resource.disclosureLink.href}"
							class="dropdown-toggle" role="button"> <span
								th:text="#{disclosure.title}"></span>
						</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-expanded="false"> <span
								class="glyphicon glyphicon-flag"></span> <span
								th:text="#{nav.language}"></span> <span class="caret"></span>
						</a>
							<ul class="dropdown-menu" role="menu">
								<li th:classappend="${#locale.language=='de'? 'active' : ''}">
									<a th:href="${resource.germanLink.href}"
									th:text="#{nav.language.german}">German</a>
								</li>
								<li th:classappend="${#locale.language=='en'? 'active' : ''}">
									<a th:href="${resource.englishLink.href}"
									th:text="#{nav.language.english}">English</a>
								</li>
							</ul></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>