<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
</head>
<body>
	<!-- fragment holding a bootstrap form-group with input, label and  help-block -->
	<div th:fragment="year(field,label,placeholder,readonly)"
		class="form-group">
		<label th:text="${label}"></label> <input th:id="${field}"
			type="number" min="1970" size="4" class="form-control yearPicker"
			th:placeholder="${placeholder}" th:readonly="${readonly}"></input> <input
			th:id="${field}+'_alt'" th:type="hidden" th:field="*{__${field}__}" />
	</div>
</body>
</html>