<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
</head>
<body>
	<div th:fragment="output(label,text,column,columnOffset)">
		<div th:class="'col-md-'+${column}+' col-md-offset-'+${columnOffset}">
				<span class="customLabel" th:text="${label}">label</span><br></br>			
				<span th:if="${text != ''}" class="text-left" th:text="${text}">Keine angaben</span>
				<span th:if="${text == null}" class="text-left" th:text="#{variable.details.notaplicable}">Keine angaben</span>
		</div>
	</div>
</body>
</html>