<div layout="row"
     layout-gt-sm="row"
     class="ms-flex">
  <title-component
    index="$ctrl.index"
    name="analysisDataPackages"
    not-null="true"
    current-form="$ctrl.currentForm"
    translation-key-package="analysis-package"
    translation-key-name="title"
    max-length="2048"
    content="$ctrl.package.title"
    class="df fg"></title-component>
</div>
<div layout="row"
     layout-gt-sm="row"
     class="ms-flex">
  <md-input-container flex="40"
                      md-is-error="!$ctrl.currentForm['analysisDataPackageAvailabilityType_' + $ctrl.index].$valid && ($ctrl.currentForm['analysisDataPackageAvailabilityType_' + $ctrl.index].$dirty || $ctrl.currentForm['analysisDataPackageAvailabilityType_' + $ctrl.index].$touched)"
                      class="ml28 ms-flex">
    <label>{{ 'analysis-package-management.detail.label.availabilityType' | translate}}</label>
    <md-select ng-model="$ctrl.package.availabilityType"
               name="analysisDataPackageAvailabilityType_{{$ctrl.index}}" required>
      <md-option ng-repeat="item in $ctrl.availabilityType"
                 ng-value="item.type">
        {{ item[$ctrl.currentLanguage] }}
      </md-option>
    </md-select>
    <div class="fdz-input-hint"
         ng-if="!$ctrl.currentForm['analysisDataPackageAvailabilityType_' + $ctrl.index].$dirty && !$ctrl.currentForm['analysisDataPackageAvailabilityType_' + $ctrl.index].$touched && !$ctrl.package.availabilityType">
      {{'analysis-package-management.edit.hints.availabilityType.choose' | translate}}
    </div>
    <div class="fdz-input-hint" ng-if="$ctrl.package.availabilityType === 'OPEN_ACCESS'">
      {{'analysis-package-management.edit.hints.availabilityType.open' | translate}}
    </div>
    <div class="fdz-input-hint" ng-if="$ctrl.package.availabilityType === 'RESTRICTED_ACCESS'">
      {{'analysis-package-management.edit.hints.availabilityType.restricted' | translate}}
    </div>
    <div class="fdz-input-hint" ng-if="$ctrl.package.availabilityType === 'NOT_ACCESSIBLE'">
      {{'analysis-package-management.edit.hints.availabilityType.none' | translate}}
    </div>
    <div multiple ng-messages="$ctrl.currentForm['analysisDataPackageAvailabilityType_' + $ctrl.index].$error">
      <div ng-message="required">{{'analysis-package-management.error.analysis-package.analysisDataPackages.availabilityType.i18n-not-null' |
      translate}}
      </div>
    </div>
  </md-input-container>
</div>
