<input hidden
       name="analysisDataPackageType_{{$ctrl.index}}"
       ng-model="package.type">
<title-component
    index="$ctrl.index"
    name="analysisDataPackages"
    not-null="true"
    current-form="$ctrl.currentForm"
    translation-key-package="analysis-package"
    translation-key-name="title"
    max-length="2048"
    content="package.title"
    class="df fg"></title-component>
