<md-dialog aria-label="{{'shopping-cart.access-way-info.title' | translate}}" layout="column" class="ms-flex" flex="50">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <h2 class="fdz-truncate-string">
                <span>{{'shopping-cart.access-way-info.title' | translate}}</span>
            </h2>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon md-font-set="material-icons">clear</md-icon>
                <md-tooltip md-direction="top" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
                    {{'shopping-cart.version-info.close-tooltip' | translate }}
                </md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
  <md-divider></md-divider>
    <md-dialog-content layout-padding flex layout="column" class="ms-flex" data-translate="shopping-cart.access-way-info.content">

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-primary" ng-click="closeDialog()">
            <span>{{'global.entity.action.ok' | translate}}</span>
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
                {{'shopping-cart.version-info.close-tooltip' | translate }}
            </md-tooltip>
        </md-button>
    </md-dialog-actions>
</md-dialog>
