<md-dialog aria-label="{{'global.welcome-dialog.toolbar-head' |translate}}" md-autofocus>
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <h2>{{"shopping-cart.detail.citation" | translate}}</h2>
      <md-button class="md-icon-button" ng-click="ctrl.closeDialog()">
        <md-icon md-font-set="material-icons">clear</md-icon>
        <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{"global.dialog.tooltip.close" | translate}}
        </md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <md-divider></md-divider>
  <div class="md-dialog-content">
    <div>
      <h5>{{'shopping-cart.detail.label.cite-data-package' | translate }}</h5>
      <p style="display: inline;" display-i18n-string="ctrl.dataPackageCitationHint" id="dataPackageCitationHint">
      </p>
      <md-button class="md-icon-button md-primary md-inline-tiny" data-clipboard-target="#dataPackageCitationHint" ng-click="ctrl.openSuccessCopyToClipboardToast('shopping-cart.detail.citation-success-copy-to-clipboard')" ngclipboard>
        <md-icon md-font-library="material-icons">content_copy</md-icon>
        <md-tooltip md-autohide="true" md-direction="south" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'shopping-cart.detail.copy-citation-tooltip' | translate}}
        </md-tooltip>
      </md-button>
      <md-button ng-if="!bowser.msie" class="md-primary md-inline-tiny" ng-click="ctrl.downloadDataPackageBibtex()">
        <span>BibTex</span>
        <md-icon md-font-library="material-icons">download</md-icon>
        <md-tooltip md-autohide="true" md-direction="south" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'shopping-cart.detail.download-bibtex-tooltip' | translate}}
        </md-tooltip>
      </md-button>
    </div>
    <div ng-if="ctrl.methodReportsCitationHint.de || ctrl.methodReportsCitationHint.en">
      <h5 style="margin-top: 10px;">{{'shopping-cart.detail.label.cite-method-report' | translate }}</h5>
      <p style="display:inline;" display-i18n-string="ctrl.methodReportsCitationHint" id="methodReportsCitationHint">
      </p>
      <md-button class="md-icon-button md-primary md-inline-tiny" data-clipboard-target="#methodReportsCitationHint" ng-click="ctrl.openSuccessCopyToClipboardToast('shopping-cart.detail.citation-success-copy-to-clipboard')" ngclipboard>
        <md-icon md-font-library="material-icons">content_copy</md-icon>
        <md-tooltip md-autohide="true" md-direction="south" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'shopping-cart.detail.copy-citation-tooltip' | translate}}
        </md-tooltip>
      </md-button>
      <md-button ng-if="!bowser.msie" class="md-primary md-inline-tiny" ng-click="ctrl.downloadMethodReportBibtex()">
        <span>BibTex</span>
        <md-icon md-font-library="material-icons">download</md-icon>
        <md-tooltip md-autohide="true" md-direction="south" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'shopping-cart.detail.download-bibtex-tooltip' | translate}}
        </md-tooltip>
      </md-button>
    </div>
    <!-- render citation of instrument attachment types 'questionnaire' and 'variable questionnaire' -->
    <div ng-if="ctrl.instrumentAttachmentCitations.length > 0">
        <h5 style="margin-top: 10px;">{{'shopping-cart.detail.label.cite-questionnaire' | translate }}</h5>
        <div ng-repeat="citation in ctrl.instrumentAttachmentCitations" ng-init="index = $index">
          <p style="display:inline;" id="instrumentAttachmentCitationHint-{{index}}">{{ citation.hint }}</p>
          <md-button class="md-icon-button md-primary md-inline-tiny" data-clipboard-target="#instrumentAttachmentCitationHint-{{index}}" ng-click="ctrl.openSuccessCopyToClipboardToast('shopping-cart.detail.citation-success-copy-to-clipboard')" ngclipboard>
            <md-icon md-font-library="material-icons">content_copy</md-icon>
            <md-tooltip md-autohide="true" md-direction="south" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'shopping-cart.detail.copy-citation-tooltip' | translate}}
            </md-tooltip>
          </md-button>
          <md-button ng-if="!bowser.msie" class="md-primary md-inline-tiny" ng-click="ctrl.downloadInstrumentAttachmentBibtex(citation.details)">
            <span>BibTex</span>
            <md-icon md-font-library="material-icons">download</md-icon>
            <md-tooltip md-autohide="true" md-direction="south" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'shopping-cart.detail.download-bibtex-tooltip' | translate}}
            </md-tooltip>
          </md-button>
        </div>
    </div>
    <div class="fdz-input-hint" style="margin-top: 10pt">{{'shopping-cart.detail.citation-node' | translate}}</div>
  </div>
  <md-dialog-actions>
    <span flex></span>
    <md-button class="md-primary md-raised" ng-click="ctrl.closeDialog()">
      {{"global.buttons.close" | translate}}
      <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
        {{"global.dialog.tooltip.close" | translate}}
      </md-tooltip>
    </md-button>
  </md-dialog-actions>
</md-dialog>
