<md-dialog  flex="60" style="max-height: 600px; margin: auto; position:relative;" aria-label="List dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Surprise!</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <section ng-repeat="variable in variables" ng-click="closeDialog()" md-ink-ripple class="fdz-search-result fdz-card-header-border">
      <a ui-sref="variableDetail({id:variable.id})" style="text-decoration: none;">
        <section layout="row">
         <md-icon md-svg-src="/assets/images/icons/variable.svg" class="fdz-search-result-icon" style= "margin-right: 10px; margin-left: 10px;"></md-icon>
         <section layout="column">
         <span>{{variable.label[currentLanguage]}}</span>
         <span>{{variable.name}}
             ({{variable.dataType[currentLanguage]}},
             {{variable.scaleLevel[currentLanguage]}})</span>
        </section>
      </section>
      </a>
     </section>
  </md-dialog-content>
<md-dialog-actions>
   <md-button aria-label="close" ng-click="closeDialog()" class="md-primary"><span data-translate="global.buttons.close"></span></md-button>
 </md-dialog-actions>
</md-dialog>
