
<md-dialog aria-label="{{'variable-management.home.title' | translate }}" style="width: 70%;">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{'variable-management.home.title' | translate }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <md-icon md-svg-src="/assets/images/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
        <section ng-repeat="variable in variables" ng-click="closeDialog()" md-ink-ripple class="fdz-search-result fdz-card-header-border">
          <div ng-if="variable.name != 'notFoundVariable'" ui-sref="variableDetail({id:variable.id})">
            <section layout="row">
             <md-icon md-svg-src="/assets/images/icons/variable.svg" class="fdz-detail-icon"></md-icon>
             <section layout="column">
             <span>{{variable.label[currentLanguage]}}</span>
             <span>{{variable.name}} ({{variable.dataType[currentLanguage]}}, {{variable.scaleLevel[currentLanguage]}})</span>
            </section>
          </section>
        </div>
        <div ng-if="variable.name === 'notFoundVariable'">
          <section layout="row">
          <md-icon md-svg-src="/assets/images/icons/variable.svg" class="fdz-detail-icon" style="fill:red;"></md-icon>
          <span style="margin:auto 0px;">{{'variable-management.detail.not-found' | translate :'{id:"'+ variable.id +'"}'}}</span>
        </section>
      </div>
        </section>
    </md-dialog-content>
</md-dialog>
