<div ng-if="ctrl.dataPackage.id">
  <previous-search-result bowser="bowser" current-language="currentLanguage"></previous-search-result>
  <next-search-result bowser="bowser" current-language="currentLanguage"></next-search-result>
  <div class="fdz-cc">
    <div>
      <embargo-warning ng-if="ctrl.isProviderView && ctrl.dataPackage.release && ctrl.dataPackage.release.isPreRelease" project="ctrl.project" style="margin: 8px;"></embargo-warning>
      <div class="fdz-detail">
        <div class="fdz-detail__header">
          <div class="fdz-detail__header-text">
            <h1 class="md-headline" display-i18n-string="ctrl.dataPackage.title" ></h1>
            <json-content-dialog class="mb0" content="ctrl.dataPackage"
              header-title="ctrl.dataPackage.title" ng-if="ctrl.enableJsonView"></json-content-dialog>
          </div>
          <div class="fdz-tag-link-container" ng-if="ctrl.dataPackageTags.length > 0">
            <h5>{{'data-package-management.detail.label.tags' | translate}}: </h5>
            <a ng-repeat="tag in ctrl.dataPackageTags"
               ng-if="ctrl.isAuthenticated() && !ctrl.isProviderView"
               ui-sref="searchReleased({type: 'data_packages', 'tags': tag})">
              <span>{{tag}}{{!$last?',&nbsp;':''}}</span>
              <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'data-package-management.detail.tag-tooltip' | translate}}
              </md-tooltip>
            </a>
            <a ng-repeat="tag in ctrl.dataPackageTags"
               ng-if="ctrl.isAuthenticated() && ctrl.isProviderView"
               ui-sref="search({type: 'data_packages', 'query': tag})">
              <span>{{tag}}{{!$last?',&nbsp;':''}}</span>
              <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'data-package-management.detail.tag-tooltip' | translate}}
              </md-tooltip>
            </a>
            <a ng-repeat="tag in ctrl.dataPackageTags"
               ng-if="!ctrl.isAuthenticated()"
               ui-sref="search({type: 'data_packages', 'tags': tag})">
              <span>{{tag}}{{!$last?',&nbsp;':''}}</span>
              <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'data-package-management.detail.tag-tooltip' | translate}}
              </md-tooltip>
            </a>
          </div>
          <!-- ELSST tags -->
          <div class="fdz-tag-link-container" ng-if="ctrl.dataPackageTagsElsst.length > 0">
            <div style="display: flex; flex-direction: row; justify-items: flex-start; align-items: first baseline;">
              <div style="width: 195px;">
                <h5>{{'data-package-management.detail.label.tagsElsst' | translate}}</h5>
                <md-button class="md-primary md-icon-button" style="margin-left: -10px; padding: 2px 0px 0px 0px; margin-right: -5px; width: fit-content; padding-bottom: 0%;" ng-click="ctrl.infoModal($event)">
                  <md-icon style="margin: 0px; font-size: 20px">info</md-icon>
                  <md-tooltip md-direction="top" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'data-package-management.detail.elsst-general-tooltip' | translate}}
                  </md-tooltip>
                </md-button>
                <h5>: </h5>
              </div>
              <div>
                <a ng-repeat="tagElsst in ctrl.dataPackageTagsElsst"
                    ng-if="ctrl.isAuthenticated() && !ctrl.isProviderView"
                    ui-sref="searchReleased({type: 'data_packages', 'tagsElsst': tagElsst.prefLabel})">
                    <span>{{tagElsst.prefLabel}}{{!$last?',&nbsp;':''}}</span>
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'data-package-management.detail.tagElsst-tooltip' | translate}}
                  </md-tooltip>
                </a>
                <a ng-repeat="tagElsst in ctrl.dataPackageTagsElsst"
                    ng-if="ctrl.isAuthenticated() && ctrl.isProviderView"
                    ui-sref="search({type: 'data_packages', 'query': tagElsst.prefLabel})">
                    <span>{{tagElsst.prefLabel}}{{!$last?',&nbsp;':''}}</span>
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'data-package-management.detail.tagElsst-tooltip' | translate}}
                  </md-tooltip>
                </a>
                <a ng-repeat="tagElsst in ctrl.dataPackageTagsElsst"
                    ng-if="!ctrl.isAuthenticated()"
                    ui-sref="search({type: 'data_packages', 'tagsElsst': tagElsst.prefLabel})">
                  <span>{{tagElsst.prefLabel}}{{!$last?',&nbsp;':''}}</span>
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'data-package-management.detail.tagElsst-tooltip' | translate}}
                  </md-tooltip>
                </a>
              </div>
            </div>
          </div>
        </div>
        <md-divider></md-divider>
        <fdz-detail
          collapsed="false"
          lang="currentLanguage"
          options="ctrl"
          template-url="scripts/datapackagemanagement/templates/common-details.html.tmpl"></fdz-detail>
        <md-divider></md-divider>
        <fdz-detail
          collapsed="false"
          lang="currentLanguage"
          options="ctrl.dataPackage.description"
          template-url="scripts/datapackagemanagement/templates/description.html.tmpl"></fdz-detail>
        <md-divider></md-divider>
        <fdz-detail
          ng-if="ctrl.attachments.dataPackage.length > 0 || ctrl.attachments.instruments.length > 0 || ctrl.attachments.surveys.length > 0 || ctrl.attachments.dataSets.length > 0"
          collapsed="false"
          lang="currentLanguage"
          options="ctrl.attachments"
          template-url="scripts/datapackagemanagement/templates/attachments.html.tmpl"></fdz-detail>
        <md-divider></md-divider>
        <fdz-related-objects
          ng-if="ctrl.isProviderView || (!ctrl.isProviderView && !ctrl.dataPackage.release.isPreRelease)"
          collapsed="false"
          lang="currentLanguage"
          options="ctrl.counts"
          id="ctrl.dataPackage.id"
          template-url="scripts/common/details/related-objects.html.tmpl"></fdz-related-objects>
      </div>
    </div>
  </div>

  <div class="fdz-fab-button-container" layout="column" layout-align="center end">
    <report-publications-component ng-if="!ctrl.isAuthenticated()"></report-publications-component>
    <md-button class="md-accent md-fab" data-has-any-authority="ROLE_PUBLISHER, ROLE_DATA_PROVIDER"
               ng-click="ctrl.generateDataPackageOverview($event)" ng-if="!ctrl.projectIsCurrentlyReleased">
      <md-tooltip md-autohide="true" md-direction="left" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
        {{'data-package-management.detail.generate-datapackage-overview-tooltip' | translate}}
      </md-tooltip>
      <md-icon md-font-set="material-icons">picture_as_pdf</md-icon>
    </md-button>
    <md-button class="md-fab md-raised md-accent" data-has-any-authority="ROLE_PUBLISHER, ROLE_DATA_PROVIDER"
               ng-click="ctrl.dataPackageEdit()" ng-if="ctrl.shouldDisplayEditButton">
      <md-tooltip md-autohide="true" md-direction="left"
                  md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
        {{'search-management.buttons.edit-data-package-tooltip' | translate}}
      </md-tooltip>
      <md-icon md-font-set="material-icons">mode_edit</md-icon>
    </md-button>
    <!-- order button moves here if in mobile view -->
    <md-button hide-gt-md class="md-fab md-raised md-accent"
               ng-click="ctrl.toggleSidenav()">
      <md-tooltip md-autohide="true" md-direction="left"
                  md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
        {{'shopping-cart.buttons.choose-data-package-options' | translate}}
      </md-tooltip>
      <md-icon md-font-set="material-icons">add_shopping_cart</md-icon>
    </md-button>
  </div>
</div>
