<div ng-if="!question.$resolved">
    Lade Daten...
</div>
<div ng-if="question.$resolved">
    <md-card>
        <md-card-header>
            <md-card-header-text>
                <h1>(instrument.title) {{question.number}}</h1>
            </md-card-header-text>
        </md-card-header>
        <md-card-content class="md-padding" layout="column">
            <div layout="row" layout-xs="column" flex>
                <md-card flex="50" flex-xs="100">
                    <div style="max-height: 400px; overflow-y:auto;">
                        <a ng-href="public/files/questions/{{question.id}}" alt="{{question.questionText[currentLanguage] }}" target="_blank">
                            <md-tooltip md-direction="right">
                                {{'variable-management.home.title' | translate }}:
                                {{question.variableIds.length}}
                                {{'question-management.detail.successors' | translate }}:
                                {{successors.length}}
                                {{'question-management.detail.predecessors' | translate }}:
                                {{predecessors.length}}
                            </md-tooltip>
                            <img alt="" style="width:auto; max-width:100%; height:auto;" ng-src="public/files/questions/{{question.id}}"/>
                        </a>
                    </div>
                </md-card>
                <md-card flex="50" flex-xs="100">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-headline">{{'question-management.detail.related-informations' | translate }}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-content style="background-color:white;">
                        <section>
                            <md-button ng-disabled="true">
                                <section>
                                    <md-icon md-svg-src="/assets/images/icons/study.svg" class="fdz-detail-icon"></md-icon>
                                    <span>{{'study-management.home.title' | translate }}</span>
                                </section>
                            </md-button>
                            <md-button ng-click="addToNotepad('suf-1')">
                                <section>
                                    <md-icon md-svg-src="/assets/images/icons/addToshop.svg" class="fdz-detail-icon"></md-icon>
                                    <span>{{'notepad-management.home.title' | translate }}</span>
                                </section>
                            </md-button>
                        </section>
                        <section>
                            <md-button ng-disabled="true">
                                <section>
                                    <md-icon md-svg-src="/assets/images/icons/instrument.svg" class="fdz-detail-icon"></md-icon>
                                    <span>{{'instrument-management.home.title' | translate }}</span>
                                </section>
                            </md-button>
                        </section>
                        <section>
                            <md-button ng-click="showVariables()">
                                <section>
                                    <md-icon md-svg-src="/assets/images/icons/variable.svg" class="fdz-detail-icon"></md-icon>
                                    <span>{{'variable-management.home.title' | translate }}</span>
                                </section>
                            </md-button>
                        </section>
                    </md-content>
                </md-card>
            </div>
            <div layout="row" layout-xs="column" flex>
                <md-card flex="50" flex-xs="100">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-headline">{{'question-management.detail.predecessors' | translate }}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-content style="background-color:white;">
                        <section ng-repeat="predecessor in predecessors" md-ink-ripple class="fdz-search-result fdz-card-header-border">
                            <section ng-if="predecessor.name === 'notFoundQuestion'" layout="row">
                                <md-icon md-svg-src="/assets/images/icons/question.svg" class="fdz-detail-icon" style="fill:red;"></md-icon>
                                <span>{{'question-management.detail.not-found' | translate :'{id:"'+ predecessor.id +'"}'}}</span>
                            </section>
                            <section ng-if="predecessor.name != 'notFoundQuestion'" ui-sref="questionDetail({id:predecessor.id})" layout="row">
                                <md-icon md-svg-src="/assets/images/icons/question.svg" class="fdz-detail-icon"></md-icon>
                                <span>{{predecessor.number}}:
                                    {{predecessor.questionText[currentLanguage]}}</span>
                            </section>
                        </section>
                    </md-content>
                </md-card>
                <md-card flex="50" flex-xs="100">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-headline">{{'question-management.detail.successors' | translate }}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-content style="background-color:white;">
                        <section ng-repeat="successor in successors" md-ink-ripple class="fdz-search-result fdz-card-header-border">
                            <section ng-if="successor.name === 'notFoundQuestion'" layout="row">
                                <md-icon md-svg-src="/assets/images/icons/question.svg" class="fdz-detail-icon" style="fill:red;"></md-icon>
                                <span>{{'question-management.detail.not-found' | translate :'{id:"'+ successor.id +'"}'}}</span>
                            </section>
                            <section ng-if="successor.name != 'notFoundQuestion'" ui-sref="questionDetail({id:successor.id})" layout="row">
                                <md-icon md-svg-src="/assets/images/icons/question.svg" class="fdz-detail-icon"></md-icon>
                                <span>{{successor.number}}:
                                    {{successor.questionText[currentLanguage]}}</span>
                            </section>
                        </section>
                    </md-content>
                </md-card>
            </div>
        </md-card-content>
    </md-card>
</div>
