<md-card>
  <md-card-header ng-click="$ctrl.collapsed = !$ctrl.collapsed">
    <md-card-header-text>
      <h2 class="md-title">{{'data-package-management.detail.attachments.table-title' | translate}}</h2>
    </md-card-header-text>
    <md-button
      class="md-card-collapsible-button"
      aria-label="{{($ctrl.collapsed ? 'global.collapsed' : 'global.uncollapsed') | translate}}">
      <md-icon md-font-set="material-icons" ng-if="!$ctrl.collapsed">keyboard_arrow_up</md-icon>
      <md-icon md-font-set="material-icons" ng-if="$ctrl.collapsed">keyboard_arrow_down</md-icon>
    </md-button>
  </md-card-header>
  <div ng-if="!$ctrl.collapsed">
    <md-card-content class="pt8">
      <table fdz-table class="mh16 mb16">
        <thead>
        <tr>
          <th>{{'concept-management.detail.label.attachments.type' | translate }}
            <md-tooltip hide-gt-xs md-direction="right">
              {{'concept-management.detail.label.attachments.type' | translate }}
            </md-tooltip>
          </th>
          <th class="fdz-table-half-absorbing-column">{{'concept-management.detail.label.attachments.description' |
            translate }}
            <md-tooltip hide-gt-xs md-direction="right">
              {{'concept-management.detail.label.attachments.description' | translate }}
            </md-tooltip>
          </th>
          <th class="fdz-table-half-absorbing-column">{{'concept-management.detail.label.attachments.title' |
            translate }}
            <md-tooltip hide-gt-xs md-direction="right">
              {{'concept-management.detail.label.attachments.title' | translate }}
            </md-tooltip>
          </th>
          <th>{{'concept-management.detail.label.attachments.language' | translate }}
            <md-tooltip hide-gt-xs md-direction="right">
              {{'concept-management.detail.label.attachments.language' | translate }}
            </md-tooltip>
          </th>
          <th>{{'concept-management.detail.label.attachments.file' | translate }}
            <md-tooltip hide-gt-xs md-direction="right">
              {{'concept-management.detail.label.attachments.file' | translate }}
            </md-tooltip>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in $ctrl.options.attachments">
          <td class="fdz-table-nowrap" display-i18n-string="row.type"></td>
          <td class="fdz-text-block" display-i18n-string="row.description" ></td>
          <td lang="{{row.language}}">{{row.title}}&nbsp;</td>
          <td>{{row.language | displayIsoLanguage: currentLanguage}}&nbsp;</td>
          <td class="nowrap"><a ng-href="{{row.id}}" target="_blank" fdz-track-download>{{row.fileName}}
            <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'global.tooltips.files.download' | translate: {filename: row.fileName} }}
            </md-tooltip>
          </a>&nbsp;
          </td>
        </tr>
        </tbody>
      </table>
    </md-card-content>
  </div>
</md-card>
