<md-toast>
  <span class="fdz-truncate-string" data-translate="{{resultMessage}}" data-translate-values="{{translationParams}}"></span>
  <md-button class="md-accent md-raised" ng-click="showLog()" ng-class="{'md-icon-button': $mdMedia('xs')}">
    <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
      {{'global.joblogging.job-complete-toast.show-log' | translate}}
    </md-tooltip>
    <md-icon md-font-set="material-icons">remove_red_eye</md-icon>
    <span data-translate="global.joblogging.job-complete-toast.title">Show log</span>
  </md-button>
  <div class="md-action">
    <md-button ng-click="closeToast()">
      <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
        {{'global.dialog.tooltip.close' | translate}}
      </md-tooltip>
      <md-icon style="color: white;" md-font-set="material-icons">close</md-icon>
    </md-button>
  </div>
</md-toast>
