<md-dialog aria-label="{{'survey-management.edit.choose-survey-number.title' | translate }}" layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <h2 class="fdz-truncate-string">
                <span>{{'survey-management.edit.choose-survey-number.title' | translate }}</span>
            </h2>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
        <form name="surveyNumberForm" layout="row">
            <md-input-container flex md-is-error="!surveyNumberForm.surveyNumber.$valid && (surveyNumberForm.surveyNumber.$dirty || surveyNumberForm.surveyNumber.$touched)">
                <label>{{'survey-management.edit.choose-survey-number.label' | translate}}</label>
                <md-select required ng-model="selectedSurveyNumber" name="surveyNumber">
                    <md-option ng-value="surveyNumber" ng-repeat="surveyNumber in availableSurveyNumbers">{{surveyNumber}}</md-option>
                </md-select>
                <div ng-if="!surveyNumberForm.surveyNumber.$dirty && !surveyNumberForm.surveyNumber.$touched" class="fdz-input-hint">{{'survey-management.edit.hints.survey-number' | translate}}</div>
                <div ng-messages="surveyNumberForm.surveyNumber.$error" multiple>
                    <div ng-message="required">{{'survey-management.error.survey.number.not-null' | translate}}</div>
                </div>
            </md-input-container>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="closeDialog()" md-autofocus="true">
            <span>{{'global.entity.action.ok' | translate}}</span>
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
                {{'survey-management.edit.choose-survey-number.ok-tooltip' | translate }}
            </md-tooltip>
        </md-button>
    </md-dialog-actions>
</md-dialog>
