<md-button ng-click="open()" class="md-raised md-primary md-fab md-mini no-margin">
    <md-tooltip md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
        {{'common.dialogs.jsoncontentdialog.tooltip' | translate}}
    </md-tooltip>
    <span class="no-select">{&nbsp;}</span>
</md-button>