<md-dialog aria-label="{{'data-set-management.edit.choose-data-set-number.title' | translate }}" layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <h2 class="fdz-truncate-string">
                <span>{{'data-set-management.edit.choose-data-set-number.title' | translate }}</span>
            </h2>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
        <form name="dataSetNumberForm" layout="row">
            <md-input-container flex md-is-error="!dataSetNumberForm.dataSetNumber.$valid && (dataSetNumberForm.dataSetNumber.$dirty || dataSetNumberForm.dataSetNumber.$touched)">
                <label>{{'data-set-management.edit.choose-data-set-number.label' | translate}}</label>
                <md-select required ng-model="selectedDataSetNumber" name="dataSetNumber">
                    <md-option ng-value="dataSetNumber" ng-repeat="dataSetNumber in availableDataSetNumbers">{{dataSetNumber}}</md-option>
                </md-select>
                <div ng-if="!dataSetNumberForm.dataSetNumber.$dirty && !dataSetNumberForm.dataSetNumber.$touched" class="fdz-input-hint">{{'data-set-management.edit.hints.data-set-number' | translate}}</div>
                <div ng-messages="dataSetNumberForm.dataSetNumber.$error" multiple>
                    <div ng-message="required">{{'data-set-management.error.dataSet.number.not-null' | translate}}</div>
                </div>
            </md-input-container>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="closeDialog()" md-autofocus="true">
            <span>{{'global.entity.action.ok' | translate}}</span>
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
                {{'data-set-management.edit.choose-data-set-number.ok-tooltip' | translate }}
            </md-tooltip>
        </md-button>
    </md-dialog-actions>
</md-dialog>
