<div class="fdz-cc">
  <form name="dataSetForm">
    <div ng-if="ctrl.dataSet.id">
      <div layout="row" layout-margin class="mb0">
        <h1 class="md-headline" ng-if="ctrl.createMode">
          {{'data-set-management.edit.label.create-data-set' | translate}} <span class="label label-as-badge label-default">{{ctrl.dataSet.id}}</span></h1>
        <h1 class="md-headline" ng-if="!ctrl.createMode">
          {{'data-set-management.edit.label.edit-data-set' | translate}} <span class="label label-as-badge label-default">{{ctrl.dataSet.id}}</span></h1>
      </div>
      <md-card class="mb8">
        <md-card-header>
          <md-card-header-text>
            <h2 class="md-title">{{'global.cards.details' | translate }}</h2>
          </md-card-header-text>
        </md-card-header>
        <md-divider></md-divider>
        <md-card-content>
          <div layout="column" layout-gt-sm="row">
            <md-input-container flex="50" md-is-error="!dataSetForm.descriptionDe.$valid && (dataSetForm.descriptionDe.$dirty || dataSetForm.descriptionDe.$touched)" ng-class="{'mr10': $mdMedia('gt-sm')}" class="ms-flex">
              <label class="fdz-input-required">{{'data-set-management.detail.label.description' | translate}}
                ({{'global.in-german' | translate}})</label>
              <input fdz-required="!ctrl.dataSet.description.en" lang="de" md-maxlength="2048" md-no-asterisk name="descriptionDe" ng-model="ctrl.dataSet.description.de">
              <div class="fdz-input-hint" ng-if="!dataSetForm.descriptionDe.$dirty && !dataSetForm.descriptionDe.$touched">{{'data-set-management.edit.hints.description.de' | translate}}
              </div>
              <div multiple ng-messages="dataSetForm.descriptionDe.$error">
                <div ng-message="fdz-required">{{'data-set-management.error.data-set.description.i18n-string-not-empty'
                  | translate}}
                </div>
                <div ng-message="md-maxlength">{{'data-set-management.error.data-set.description.i18n-string-size' |
                  translate}}
                </div>
              </div>
            </md-input-container>
            <md-input-container flex="50" md-is-error="!dataSetForm.descriptionEn.$valid && (dataSetForm.descriptionEn.$dirty || dataSetForm.descriptionEn.$touched)" class="ms-flex">
              <label class="fdz-input-required">{{'data-set-management.detail.label.description' | translate}}
                ({{'global.in-english' | translate}})</label>
              <input fdz-required="!ctrl.dataSet.description.de" lang="en" md-maxlength="2048" md-no-asterisk name="descriptionEn" ng-model="ctrl.dataSet.description.en">
              <div class="fdz-input-hint" ng-if="!dataSetForm.descriptionEn.$dirty && !dataSetForm.descriptionEn.$touched">{{'data-set-management.edit.hints.description.en' | translate}}
              </div>
              <div multiple ng-messages="dataSetForm.descriptionEn.$error">
                <div ng-message="fdz-required">{{'data-set-management.error.data-set.description.i18n-string-not-empty'
                  | translate}}
                </div>
                <div ng-message="md-maxlength">{{'data-set-management.error.data-set.description.i18n-string-size' |
                  translate}}
                </div>
              </div>
            </md-input-container>
          </div>
          <div layout="column" layout-gt-sm="row">
            <md-input-container flex="50" md-is-error="!dataSetForm.format.$valid && (dataSetForm.format.$dirty || dataSetForm.format.$touched)" class="ms-flex">
              <label>{{'data-set-management.detail.label.format' | translate}}</label>
              <md-select name="format" ng-model="ctrl.dataSet.format" ng-model-options="{trackBy: '$value.de'}">
                <md-option ng-repeat="format in ctrl.formats" ng-value="format">{{format[currentLanguage]}}</md-option>
              </md-select>
              <div class="fdz-input-hint" ng-if="ctrl.dataSet.format == null || ctrl.dataSet.format == ''">
                {{'data-set-management.edit.hints.format' | translate}}
              </div>
              <div multiple ng-messages="dataSetForm.format.$error">
              </div>
            </md-input-container>
            <div flex="50"></div>
          </div>
          <div layout="column" layout-gt-sm="row" class="ms-flex">
            <md-input-container flex="50" md-is-error="!dataSetForm.type.$valid && (dataSetForm.type.$dirty || dataSetForm.type.$touched)" class="ms-flex">
              <label>{{'data-set-management.detail.label.type' | translate}}</label>
              <md-select name="type" ng-model="ctrl.dataSet.type" ng-model-options="{trackBy: '$value.de'}" required>
                <md-option ng-repeat="type in ctrl.types" ng-value="type">{{type[currentLanguage]}}</md-option>
              </md-select>
              <div class="fdz-input-hint" ng-if="!dataSetForm.type.$dirty && !dataSetForm.type.$touched">
                {{'data-set-management.edit.hints.type' | translate}}
              </div>
              <div multiple ng-messages="dataSetForm.type.$error">
                <div ng-message="required">{{'data-set-management.error.data-set.type.not-null' | translate}}</div>
              </div>
            </md-input-container>
            <div flex="50"></div>
          </div>
          <div layout="column" layout-gt-sm="row">
            <div flex="50" class="ms-flex">
              <label style="color: rgba(0,0,0,0.38); margin: 0px;">{{'data-set-management.edit.label.surveys' |
                translate}}</label>
              <md-chips md-autocomplete-snap="width" md-require-match="true" md-transform-chip="ctrl.transformChip($chip)" name="surveys" ng-change="ctrl.updateSurveyReferences()" ng-model="ctrl.surveyChips" ng-required="true">
                <md-autocomplete flex md-delay="250" md-items="item in ctrl.searchSurveys(ctrl.searchText)" md-min-length="0" md-no-cache="true" md-search-text="ctrl.searchText" md-selected-item="ctrl.selectedItem"
                  placeholder="{{'data-set-management.edit.hints.search-surveys' | translate}}" class="ms-flex">
                  <md-item-template>
                    <span class="item-title fdz-truncate-string">
                      <span class="label label-as-badge label-default" md-highlight-flags="ig" md-highlight-text="ctrl.searchText">{{item._source.id}}</span>
                      <strong md-highlight-flags="ig" md-highlight-text="ctrl.searchText">{{(item._source.title | displayI18nString)}}</strong>
                    </span>
                  </md-item-template>
                  <md-not-found>
                    {{'data-set-management.edit.hints.no-surveys-found' | translate}}
                  </md-not-found>
                </md-autocomplete>
                <md-chip-template>
                  <span>{{$chip.id}}</span>
                </md-chip-template>
              </md-chips>
              <div class="fdz-input-hint" ng-if="!dataSetForm.surveys.$dirty && !dataSetForm.surveys.$touched">
                {{'data-set-management.edit.hints.surveys' | translate}}
              </div>
              <div class="md-chips-messages" ng-messages="dataSetForm.surveys.$error" ng-show="!dataSetForm.surveys.$valid && (dataSetForm.surveys.$dirty || dataSetForm.surveys.$touched)">
                <div ng-message="required">{{'data-set-management.error.data-set.survey-numbers.not-empty' |
                  translate}}
                </div>
              </div>
            </div>
            <div flex="50"></div>
          </div>
          <div layout="column" layout-gt-sm="row">
            <md-input-container flex="50" md-is-error="!dataSetForm.annotationsDe.$valid && (dataSetForm.annotationsDe.$dirty || dataSetForm.annotationsDe.$touched)" ng-class="{'mr10': $mdMedia('gt-sm')}" class="ms-flex">
              <label>{{'data-set-management.detail.label.annotations' | translate}} ({{'global.in-german' |
                translate}})<md-icon md-svg-src="assets/images/icons/markdown.svg"></md-icon></label>
              <textarea lang="de" md-maxlength="2048" md-no-asterisk name="annotationsDe" ng-model="ctrl.dataSet.annotations.de" rows="4"></textarea>
              <div class="fdz-input-hint" ng-if="ctrl.dataSet.annotations.de == null || ctrl.dataSet.annotations.de == ''">{{'data-set-management.edit.hints.annotations.de' | translate}}
              </div>
              <div multiple ng-messages="dataSetForm.annotationsDe.$error">
                <div ng-message="md-maxlength">{{'data-set-management.error.data-set.annotations.i18n-string-size' |
                  translate}}
                </div>
              </div>
            </md-input-container>
            <md-input-container flex="50" md-is-error="!dataSetForm.annotationsEn.$valid && (dataSetForm.annotationsEn.$dirty || dataSetForm.annotationsEn.$touched)" class="ms-flex">
              <label>{{'data-set-management.detail.label.annotations' | translate}} ({{'global.in-english' |
                translate}})<md-icon md-svg-src="assets/images/icons/markdown.svg"></md-icon></label>
              <textarea lang="en" md-maxlength="2048" md-no-asterisk name="annotationsEn" ng-model="ctrl.dataSet.annotations.en" rows="4"></textarea>
              <div class="fdz-input-hint" ng-if="ctrl.dataSet.annotations.en == null || ctrl.dataSet.annotations.en == ''">{{'data-set-management.edit.hints.annotations.en' | translate}}
              </div>
              <div multiple ng-messages="dataSetForm.annotationsEn.$error">
                <div ng-message="md-maxlength">{{'data-set-management.error.data-set.annotations.i18n-string-size' |
                  translate}}
                </div>
              </div>
            </md-input-container>
          </div>
        </md-card-content>
      </md-card>
      <md-card class="mb8">
        <md-card-header>
          <md-card-header-text>
            <h2 class="md-title">{{'data-set-management.detail.label.languages' | translate}}</h2>
          </md-card-header-text>
        </md-card-header>
        <md-divider></md-divider>
        <md-card-content>
          <language-picker languages="ctrl.dataSet.languages" require-language="false"></language-picker>
        </md-card-content>
      </md-card>
      <md-card class="mb8">
        <md-card-header>
          <md-card-header-text>
            <h2 class="md-title">{{'data-set-management.detail.sub-data-sets.title' | translate }}</h2>
          </md-card-header-text>
        </md-card-header>
        <md-divider></md-divider>
        <md-card-content class="pa0">
          <div layout="column" ng-repeat="subDataSet in ctrl.dataSet.subDataSets track by $index">
            <div layout="row">
              <md-button class="md-primary md-icon-button mh0" ng-click="ctrl.deleteSubDataSet($index)" ng-if="ctrl.dataSet.subDataSets.length > 1" style="margin-top: 18px; padding-left: 0px;">
                <md-tooltip md-autohide="true" md-direction="bottom" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                  {{'data-set-management.edit.delete-sub-data-set-tooltip' | translate}}
                </md-tooltip>
                <md-icon md-font-set="material-icons">delete_forever</md-icon>
              </md-button>
              <div flex layout="row">
                <md-input-container flex="33" md-is-error="!dataSetForm['subDataSetsName_' + $index].$valid && (dataSetForm['subDataSetsName_' + $index].$dirty || dataSetForm['subDataSetsName_' + $index].$touched)" class="ms-flex">
                  <label class="fdz-input-required">{{'data-set-management.edit.label.sub-data-set.name' |
                    translate}}</label>
                  <input fdz-required md-maxlength="32" md-no-asterisk name="subDataSetsName_{{$index}}" ng-blur="ctrl.deleteCurrentSubDataSet($event)" ng-focus="ctrl.setCurrentSubDataSet($index,$event)" ng-model="subDataSet.name">
                  <div class="fdz-input-hint" ng-if="!dataSetForm['subDataSetsName_' + $index].$dirty && !dataSetForm['subDataSetsName_' + $index].$touched">{{'data-set-management.edit.hints.sub-data-set.name' | translate}}
                  </div>
                  <div multiple ng-messages="dataSetForm['subDataSetsName_' + $index].$error">
                    <div ng-message="fdz-required">{{'data-set-management.error.sub-data-set.name.not-empty' |
                      translate}}
                    </div>
                    <div ng-message="md-maxlength">{{'data-set-management.error.sub-data-set.name.size' | translate}}
                    </div>
                  </div>
                </md-input-container>
                <md-input-container flex="33" md-is-error="!dataSetForm['subDataSetsAccessWay_' + $index].$valid && (dataSetForm['subDataSetsAccessWay_' + $index].$dirty || dataSetForm['subDataSetsAccessWay_' + $index].$touched)" class="ms-flex">
                  <label>{{'data-set-management.edit.label.sub-data-set.access-way' | translate}}</label>
                  <md-select name="subDataSetsAccessWay_{{$index}}" ng-model="subDataSet.accessWay" ng-model-options="{trackBy: '$value'}" required>
                    <md-option ng-repeat="accessWay in ctrl.availableAccessWays" ng-value="accessWay" ng-click="ctrl.accessWayChanged(accessWay, subDataSet)">{{accessWay | displayAccessWay}}
                    </md-option>
                    <md-option ng-if="subDataSet.accessWay != null && subDataSet.accessWay !=''" ng-value="subDataSet.accessWay">{{subDataSet.accessWay | displayAccessWay}}
                    </md-option>
                  </md-select>
                  <div class="fdz-input-hint" ng-if="!dataSetForm['subDataSetsAccessWay_' + $index].$dirty && !dataSetForm['subDataSetsAccessWay_' + $index].$touched">{{'data-set-management.edit.hints.sub-data-set.access-way' | translate}}
                  </div>
                  <div multiple ng-messages="dataSetForm['subDataSetsAccessWay_' + $index].$error">
                    <div ng-message="required">{{'data-set-management.error.sub-data-set.access-way.not-null' |
                      translate}}
                    </div>
                  </div>
                </md-input-container>
                <md-input-container flex="33"
                  md-is-error="!dataSetForm['subDataSetsNumberOfObservations_' + $index].$valid && (dataSetForm['subDataSetsNumberOfObservations_' + $index].$dirty || dataSetForm['subDataSetsNumberOfObservations_' + $index].$touched)"
                  class="ms-flex">
                  <label>{{'data-set-management.edit.label.sub-data-set.number-of-observations' | translate}}</label>
                  <input min="1" max="2147483647" name="subDataSetsNumberOfObservations_{{$index}}" ng-blur="ctrl.deleteCurrentSubDataSet($event)" ng-focus="ctrl.setCurrentSubDataSet($index,$event)" ng-model="subDataSet.numberOfObservations" required step="1"
                    type="number">
                  <div class="fdz-input-hint" ng-if="!dataSetForm['subDataSetsNumberOfObservations_' + $index].$dirty && !dataSetForm['subDataSetsNumberOfObservations_' + $index].$touched">
                    {{'data-set-management.edit.hints.sub-data-set.number-of-observations' |
                    translate}}
                  </div>
                  <div multiple ng-messages="dataSetForm['subDataSetsNumberOfObservations_' + $index].$error">
                    <div ng-message="required">
                      {{'data-set-management.error.sub-data-set.number-of-observations.not-null' | translate}}
                    </div>
                    <div ng-message="step">
                      {{'data-set-management.error.sub-data-set.number-of-observations.invalid-number' | translate}}
                    </div>
                    <div ng-message="number">
                      {{'data-set-management.error.sub-data-set.number-of-observations.invalid-number' | translate}}
                    </div>
                    <div ng-message="min">
                      {{'data-set-management.error.sub-data-set.number-of-observations.invalid-number' | translate}}
                    </div>
                    <div ng-message="max">
                      {{'data-set-management.error.sub-data-set.number-of-observations.invalid-number' | translate}}
                    </div>
                  </div>
                </md-input-container>
                <md-input-container flex="25" style="-ms-flex:auto" md-is-error="dataSetForm['subDataSetsDataFormats_' + $index].$invalid && (dataSetForm['subDataSetsDataFormats_' + $index].$dirty || dataSetForm['subDataSetsDataFormats_' + $index].$touched)">
                  <label>{{'data-set-management.edit.label.sub-data-set.data-formats' | translate}}</label>
                  <md-select multiple ng-model="subDataSet.dataFormats" name="subDataSetsDataFormats_{{$index}}" required ng-disabled="!ctrl.availableDataFormats.$resolved">
                    <md-option ng-value="dataFormat" ng-repeat="dataFormat in ctrl.availableDataFormats">{{'data-set-management.detail.sub-data-sets.data-formats.' + dataFormat | translate}}</md-option>
                  </md-select>
                  <div ng-if="!dataSetForm['subDataSetsDataFormats_' + $index].$dirty && !dataSetForm['subDataSetsDataFormats_' + $index].$touched" class="fdz-input-hint">{{'data-set-management.edit.hints.sub-data-set.data-formats' | translate}}</div>
                  <div ng-messages="dataSetForm['subDataSetsDataFormats_' + $index].$error" multiple>
                    <div ng-message="required">{{'data-set-management.error.sub-data-set.data-formats.required' | translate}}</div>
                  </div>
                </md-input-container>
              </div>
            </div>
            <div layout="column" layout-gt-sm="row" ng-style="{'margin-left': ctrl.dataSet.subDataSets.length === 1?'0px':'40px'}" class="pr16">
              <md-input-container flex="50" md-is-error="!dataSetForm['subDataSetsDescriptionDe_' + $index].$valid && (dataSetForm['subDataSetsDescriptionDe_' + $index].$dirty || dataSetForm['subDataSetsDescriptionDe_' + $index].$touched)"
                ng-class="{'mr10': $mdMedia('gt-sm')}" class="ms-flex">
                <label class="fdz-input-required">{{'data-set-management.edit.label.sub-data-set.description' |
                  translate}} ({{'global.in-german' | translate}})</label>
                <input fdz-required="!subDataSet.description.en" lang="de" md-maxlength="512" md-no-asterisk name="subDataSetsDescriptionDe_{{$index}}" ng-blur="ctrl.deleteCurrentSubDataSet($event)" ng-focus="ctrl.setCurrentSubDataSet($index,$event)"
                  ng-model="subDataSet.description.de">
                <div class="fdz-input-hint" ng-if="!dataSetForm['subDataSetsDescriptionDe_' + $index].$dirty && !dataSetForm['subDataSetsDescriptionDe_' + $index].$touched">{{'data-set-management.edit.hints.sub-data-set.description.de' | translate}}
                </div>
                <div multiple ng-messages="dataSetForm['subDataSetsDescriptionDe_' + $index].$error">
                  <div ng-message="fdz-required">
                    {{'data-set-management.error.sub-data-set.description.i18n-string-not-empty' | translate}}
                  </div>
                  <div ng-message="md-maxlength">{{'data-set-management.error.sub-data-set.description.i18n-string-size'
                    | translate}}
                  </div>
                </div>
              </md-input-container>
              <md-input-container flex="50" md-is-error="!dataSetForm['subDataSetsDescriptionEn_' + $index].$valid && (dataSetForm['subDataSetsDescriptionEn_' + $index].$dirty || dataSetForm['subDataSetsDescriptionEn_' + $index].$touched)"
                class="ms-flex">
                <label class="fdz-input-required">{{'data-set-management.edit.label.sub-data-set.description' |
                  translate}} ({{'global.in-english' | translate}})</label>
                <input fdz-required="!subDataSet.description.de" lang="en" md-maxlength="512" md-no-asterisk name="subDataSetsDescriptionEn_{{$index}}" ng-blur="ctrl.deleteCurrentSubDataSet($event)" ng-focus="ctrl.setCurrentSubDataSet($index,$event)"
                  ng-model="subDataSet.description.en">
                <div class="fdz-input-hint" ng-if="!dataSetForm['subDataSetsDescriptionEn_' + $index].$dirty && !dataSetForm['subDataSetsDescriptionEn_' + $index].$touched">{{'data-set-management.edit.hints.sub-data-set.description.en' | translate}}
                </div>
                <div multiple ng-messages="dataSetForm['subDataSetsDescriptionEn_' + $index].$error">
                  <div ng-message="fdz-required">
                    {{'data-set-management.error.sub-data-set.description.i18n-string-not-empty' | translate}}
                  </div>
                  <div ng-message="md-maxlength">{{'data-set-management.error.sub-data-set.description.i18n-string-size'
                    | translate}}
                  </div>
                </div>
              </md-input-container>
            </div>
            <md-divider></md-divider>
          </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="begin center" style="margin-top: 12px; margin-bottom: 12px;">
          <md-button class="md-primary md-raised md-icon-button ml6" ng-click="ctrl.addSubDataSet()" ng-disabled="ctrl.dataSet.subDataSets.length === ctrl.allAccessWays.length">
            <md-tooltip md-autohide="true" md-direction="bottom" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'data-set-management.edit.add-sub-data-set-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">add</md-icon>
          </md-button>
          <md-button class="md-primary md-raised md-icon-button" id="move-sub-data-set-up-button" ng-click="ctrl.moveCurrentSubDataSetUp()" ng-disabled="ctrl.currentSubDataSetIndex == null || ctrl.currentSubDataSetIndex === 0">
            <md-tooltip md-autohide="true" md-direction="bottom" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'data-set-management.edit.move-sub-data-set-up-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">keyboard_arrow_up</md-icon>
          </md-button>
          <md-button class="md-primary md-raised md-icon-button" id="move-sub-data-set-down-button" ng-click="ctrl.moveCurrentSubDataSetDown()"
            ng-disabled="ctrl.currentSubDataSetIndex == null || ctrl.currentSubDataSetIndex === ctrl.dataSet.subDataSets.length - 1">
            <md-tooltip md-autohide="true" md-direction="bottom" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'data-set-management.edit.move-sub-data-set-down-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">keyboard_arrow_down</md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </form>
  <div>
    <md-card class="mt0 mb8" ng-if="ctrl.dataSet.id">
      <md-card-header layout-align="center center">
        <md-card-header-text class="pb">
          <h2 class="md-title">{{'data-set-management.detail.attachments.table-title' | translate}}</h2>
        </md-card-header-text>
      </md-card-header>
      <table fdz-table ng-if="!ctrl.createMode && ctrl.attachments && ctrl.attachments.length > 0">
        <thead>
          <tr>
            <th>
              &nbsp;
            </th>
            <th style="min-height: 40px;">
              &nbsp;
            </th>
            <th style="min-height: 40px;">
              &nbsp;
            </th>
            <th class="fdz-table-half-absorbing-column">{{'data-set-management.detail.label.attachments.title' | translate
          }}
              <md-tooltip hide-gt-xs md-direction="right">
                {{'data-set-management.detail.label.attachments.title' | translate }}
              </md-tooltip>
            </th>
            <th class="fdz-table-half-absorbing-column">{{'data-set-management.detail.label.attachments.description' |
          translate }}
              <md-tooltip hide-gt-xs md-direction="right">
                {{'data-set-management.detail.label.attachments.description' | translate }}
              </md-tooltip>
            </th>
            <th>{{'data-set-management.detail.label.attachments.language' | translate }}
              <md-tooltip hide-gt-xs md-direction="right">
                {{'data-set-management.detail.label.attachments.language' | translate }}
              </md-tooltip>
            </th>
            <th>DOI
            </th>
            <th>{{'data-set-management.detail.label.attachments.file' | translate }}
              <md-tooltip hide-gt-xs md-direction="right">
                {{'data-set-management.detail.label.attachments.file' | translate }}
              </md-tooltip>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-class="{'fdz-selected-table-row': $index === ctrl.currentAttachmentIndex}" ng-click="ctrl.selectAttachment($index)" ng-init="translationParams = {filename: row.fileName}" ng-repeat="row in ctrl.attachments">
            <td class="fdz-table-nowrap pr0">
              <md-radio-group class="md-primary" ng-model="ctrl.currentAttachmentIndex">
                <md-radio-button ng-value="$index" class="mb0">
                  <md-tooltip md-autohide="true" md-direction="right" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'data-set-management.detail.attachments.select-attachment-tooltip' | translate:translationParams }}
                  </md-tooltip>
                </md-radio-button>
              </md-radio-group>
            </td>
            <td class="fdz-table-nowrap pa0">
              <md-button class="md-primary md-icon-button ma0" ng-click="ctrl.editAttachment(row, $event)">
                <md-tooltip md-autohide="true" md-direction="bottom" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                  {{'data-set-management.detail.attachments.edit-attachment-tooltip' | translate:translationParams }}
                </md-tooltip>
                <md-icon md-font-set="material-icons">mode_edit</md-icon>
              </md-button>
            </td>
            <td class="fdz-table-nowrap pa0">
              <md-button class="md-primary md-icon-button ma0" ng-click="ctrl.deleteAttachment(row, $index)">
                <md-tooltip md-autohide="true" md-direction="bottom" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                  {{'data-set-management.detail.attachments.delete-attachment-tooltip' | translate:translationParams }}
                </md-tooltip>
                <md-icon md-font-set="material-icons">delete_forever</md-icon>
              </md-button>
            </td>
            <td lang="{{row.language}}">{{row.title}}&nbsp;</td>
            <td class="fdz-text-block" display-i18n-string="row.description" ></td>
            <td>{{row.language | displayIsoLanguage: currentLanguage}}&nbsp;</td>
            <td>
              <a target="_blank" rel="noopener noreferrer" href="{{row.doi}}" ng-if="row.doi">
                <md-icon md-font-set="material-icons" class="ng-scope material-icons md-primary" role="img">link</md-icon>
                <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                  {{row.doi}}
                </md-tooltip>
                <a ng-if="!row.doi" aria-disabled>
                  <md-icon md-font-set="material-icons" class="ng-scope material-icons" role="img">link_off</md-icon>
                </a> 
              </a> 
            </td>
            <td class="nowrap"><a ng-href="{{row.id}}" target="_blank">{{row.fileName}}
                <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                  {{'global.tooltips.files.download' | translate: {filename: row.fileName} }}
                </md-tooltip>
              </a>&nbsp;
            </td>
          </tr>
        </tbody>
      </table>
      <md-divider></md-divider>
      <md-card-content ng-if="ctrl.createMode">
        {{'data-set-management.detail.attachments.save-data-set-before-adding-attachment' | translate}}
      </md-card-content>
      <md-card-actions layout="row" layout-align="begin center" ng-if="!ctrl.createMode" style="margin-top: 12px; margin-bottom: 12px;">
        <md-button class="md-primary md-raised md-icon-button ml6" ng-click="ctrl.addAttachment($event)">
          <md-tooltip md-autohide="true" md-direction="bottom" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'data-set-management.detail.attachments.add-attachment-tooltip' | translate}}
          </md-tooltip>
          <md-icon md-font-set="material-icons">add</md-icon>
        </md-button>
        <md-button class="md-primary md-raised md-icon-button" ng-click="ctrl.moveAttachmentUp()" ng-disabled="ctrl.currentAttachmentIndex == null || ctrl.currentAttachmentIndex === 0">
          <md-tooltip md-autohide="true" md-direction="bottom" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'data-set-management.detail.attachments.move-attachment-up-tooltip' | translate}}
          </md-tooltip>
          <md-icon md-font-set="material-icons">keyboard_arrow_up</md-icon>
        </md-button>
        <md-button class="md-primary md-raised md-icon-button" ng-click="ctrl.moveAttachmentDown()" ng-disabled="ctrl.currentAttachmentIndex == null || ctrl.currentAttachmentIndex === ctrl.attachments.length - 1">
          <md-tooltip md-autohide="true" md-direction="bottom" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'data-set-management.detail.attachments.move-attachment-down-tooltip' | translate}}
          </md-tooltip>
          <md-icon md-font-set="material-icons">keyboard_arrow_down</md-icon>
        </md-button>
        <md-button class="md-accent md-raised md-icon-button" ng-click="ctrl.saveAttachmentOrder()" ng-disabled="!ctrl.attachmentOrderIsDirty">
          <md-tooltip md-autohide="true" md-direction="bottom" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'data-set-management.detail.attachments.save-attachment-order-tooltip' | translate}}
          </md-tooltip>
          <md-icon md-font-set="material-icons">save</md-icon>
        </md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>
<div class="fdz-fab-button-container" layout="column" ng-if="ctrl.dataSet.id">
  <md-button class="md-fab md-raised md-primary" ng-click="ctrl.openRestorePreviousVersionDialog($event)" ng-disabled="ctrl.createMode">
    <md-tooltip md-autohide="true" md-direction="left" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
      {{'data-set-management.edit.open-choose-previous-version-tooltip' | translate}}
    </md-tooltip>
    <md-icon md-font-set="material-icons" class="ml9">history</md-icon>
  </md-button>
  <md-button class="md-fab md-raised md-accent" ng-click="ctrl.saveDataSet()" ng-disabled="!dataSetForm.$dirty" type="submit">
    <md-tooltip md-autohide="true" md-direction="left" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
      {{'data-set-management.edit.save-tooltip' | translate}}
    </md-tooltip>
    <md-icon md-font-set="material-icons">save</md-icon>
  </md-button>
</div>
