<div>
      <h2>
            <span data-translate="metadatamanagementApp.dataAcquisitionProject.detail.title">Data Acquisition Project</span>
            {{dataAcquisitionProject.name}}</h2>
      <div class="row">
            <div class="table-responsive">
                  <table class="table table-striped">
                        <thead>
                              <tr>
                                    <th data-translate="entity.detail.field">Field</th>
                                    <th data-translate="entity.detail.value">Value</th>
                              </tr>
                        </thead>
                        <tbody>
                              <tr>
                                    <td>
                                          <span data-translate="metadatamanagementApp.dataAcquisitionProject.name">Name</span>
                                    </td>
                                    <td>
                                          <span class="form-control-static">{{dataAcquisitionProject.id}}</span>
                                    </td>
                              </tr>
                        </tbody>
                  </table>
            </div>
      </div>
      <div class="row">
            <button type="submit" onclick="window.history.back()" class="btn btn-info">
                  <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;
                  <span data-translate="entity.action.back">
                        Back</span>
            </button>
            <button type="button" class="btn btn-default" ng-click="exportToODT()">
                  <span class="glyphicon glyphicon-floppy-save"></span>
                  Download
            </button>
      </div>
</div>
<div class="panel panel-default">
   <div ngf-drop ngf-select ng-model="files" class="panel-body"
       ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
       accept=".xlsx"
       ngf-pattern="'.xlsx'">
 <p class="text-muted">Drop file here or click to upload</p>
     </div>
   <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
</div>
<pre>
  <code>
    <span ng-repeat="message in messages">
      {{message}}
    </span>
  </code>
  </pre>
