<div>
    <h2>
        <span data-translate="metadatamanagementApp.dataAcquisitionProject.detail.title">Data Acquisition Project</span>
        {{dataAcquisitionProject.name}}</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th data-translate="entity.detail.field">Field</th>
                            <th data-translate="entity.detail.value">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span data-translate="metadatamanagementApp.dataAcquisitionProject.name">Name</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{dataAcquisitionProject.id}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" onclick="window.history.back()" class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;
                <span data-translate="entity.action.back">
                    Back</span>
            </button>
            <button type="button" class="btn btn-default" ng-click="exportToODT()">
                <span class="glyphicon glyphicon-floppy-save"></span>
                {{'metadatamanagementApp.dataAcquisitionProject.detail.download' | translate}}
            </button>
            <button type="file" class="btn btn-default" ngf-select="onSurveyUpload($file)" accept=".xlsx">
                <span class="glyphicon glyphicon-cloud-upload"></span>
                {{'metadatamanagementApp.dataAcquisitionProject.detail.upload' | translate}}</button>
        </div>
        <div class="col-md-6">
          <div class="row" style="padding-top: 7px">
            <div class="col-md-4">
              <span class="pull-right" data-translate="metadatamanagementApp.dataAcquisitionProject.detail.progress">Progress:</span>
            </div>
            <div class="col-md-8">
              <uib-progressbar value="uploadStatus.getProgress()" max="uploadStatus.itemsToUpload" type="{{uploadStatus.getResult()}}">{{uploadStatus.getProgressState()}}</uib-progressbar>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <uib-accordion>
                <uib-accordion-group is-open="isOpen">
                    <uib-accordion-heading>
                      <div class="row">
                        <div class="col-md-12">
                          <span>{{'metadatamanagementApp.dataAcquisitionProject.detail.uploadprotocol' | translate}} </span>
                          <span class="pull-right">
                            <span class="label label-as-badge label-success">{{'metadatamanagementApp.dataAcquisitionProject.detail.success' | translate}}: {{uploadStatus.successes}}</span>
                            <span class="label label-as-badge label-danger">{{'metadatamanagementApp.dataAcquisitionProject.detail.error' | translate}}: {{uploadStatus.errors}}</span>
                            <i class="glyphicon" ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}"></i>
                          </span>
                        </div>
                      </div>
                    </uib-accordion-heading>
                    <div>
                      <pre><span ng-repeat="logMessage in uploadStatus.logMessages track by $index" ng-class="{'text-danger': logMessage.type==='error'}">{{logMessage.message}}</span></pre>
                    </div>
                </uib-accordion-group>
              </uib-accordion>
            </div>
        </div>
    </div>
