<div ng-if="isNotLoaded" style="text-align: center">
  <span> {{'variable-management.detail.statistics.graphic-is-loading'  | translate }}</span>
</div>
<div ng-hide="isNotAvailable" id="diagram"></div>
