<md-card>
    <md-card-header>
        <md-card-header-text>
            <h2 class="md-title">{{'variable-management.detail.variables' | translate }}</h2>
        </md-card-header-text>
    </md-card-header>
    <md-divider></md-divider>
    <div block-ui="blockRelatedVariableCard">
      <div ng-repeat="variable in relatedVariableController.variables">
        <variable-search-result search-result="variable._source"></variable-search-result>
      </div>
      <div ng-if="relatedVariableController.page.totalHits > relatedVariableController.page.size" layout="row" layout-align="center">
          <ul
              uib-pagination
              next-text="{{'global.pagination.next'|translate}}"
              previous-text="{{'global.pagination.previous'|translate}}"
              total-items="relatedVariableController.page.totalHits"
              ng-model="relatedVariableController.page.currentPageNumber"
              max-size="5"
              ng-change="relatedVariableController.search()"
              items-per-page="relatedVariableController.page.size"
              class="pagination-sm"></ul>
      </div>
      <div ng-if="relatedVariableController.page.totalHits === 0" layout-margin>
            <span>{{'variable-management.detail.no-related-variables' | translate }}</span>
      <div>
    </div>
</md-card>
