<div block-ui="blockRelatedVariableContainer">
<div  ng-if="RelatedVariableController.variables.totalHits !== 0" class="fdz-InfiniteScroll">
    <md-virtual-repeat-container id="vertical-container" ng-style="{{RelatedVariableController.style}}">
     <div md-virtual-repeat="variable in RelatedVariableController.variables" md-on-demand
         class="fdz-repeated-item" flex>
         <variable-search-result search-result="variable._source"></variable-search-result>
     </div>
   </md-virtual-repeat-container>
</div>
  <div ng-if="RelatedVariableController.variables.totalHits === 0" layout-margin>
    <span>{{'variable-management.detail.no-related-variables' | translate }}</span>
  </div>
</div>
