<span class="label label-as-badge bg-primary" ng-if="assigneeGroup">
    {{'common.projectstatuslabel.assigned-to' | translate}}
    {{('common.projectstatuslabel.' + assigneeGroup) | translate}}
</span>