<div layout="column">
    <md-card>
          <span>There are {{ basket.items.length }} studies in your basket.</span>
            <md-list-item class="md-2-line" ng-repeat="item in basket.items track by $index">
          <img ng-src="/assets/images/icons/study.svg" alt="in development" class="md-avatar"/>
          <div class="md-list-item-text">
            <a ui-sref="studyDetail({id:'suf-1'})"><h3>{{ item.text }}</h3></a>
            <p>{{ item.date | date:'medium'}}</p>
            <md-checkbox class="md-secondary" ng-model="item.done"></md-checkbox>
          </div>
        </md-list-item>
        <section layout="row" layout-align="end end">
          <md-button ng-disabled="isDisabled()" class="md-raised md-warn" ng-click="removeFromShoppingCart()">Remove</md-button>
        </section>
    </md-card>
    <md-card>
            <form name="basketForm" ng-submit="basketForm.$valid && submitForm()" novalidate>
                <md-input-container class="md-block" md-is-error="!basketForm.firstname.$valid">
                    <label>Name</label>
                    <md-icon md-svg-src="/assets/images/icons/person.svg"></md-icon>
                    <input type="text" name="firstname" ng-model="basket.firstname" minlength="5" md-maxlength="10" ng-required="true">
                    <div ng-messages="basketForm.firstname.$error" multiple md-auto-hide="false">
                        <p ng-message="minlength">Your name is too short.</p>
                        <p ng-message="md-maxlength">Your name is too long.</p>
                        <p ng-message="required">Your name is required.</p>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" md-is-error="!basketForm.email.$valid">
                    <md-icon md-svg-src="/assets/images/icons/email.svg"></md-icon>
                    <input ng-model="basket.email" type="email" name="email" placeholder="Email" ng-required="true">
                    <div ng-messages="basketForm.email.$error" multiple md-auto-hide="false">
                        <p ng-message="required">This field is required</p>
                        <p ng-message="email">This needs to be a valid email</p>
                    </div>
                </md-input-container>
                <section layout="row" layout-align="end end">
                    <md-button ng-disabled="isDisabled()" type="submit" class="md-raised md-primary">Send</md-button>
                </section>
            </form>
    </md-card>
</div>
