<md-input-container md-is-error="!$ctrl.currentForm[$ctrl.controlName + '_' + $ctrl.index].$valid && ($ctrl.currentForm[$ctrl.controlName + '_' + $ctrl.index].$dirty || $ctrl.currentForm[$ctrl.controlName + '_' + $ctrl.index].$touched)"
                    ng-class="{'mr10': $mdMedia('gt-sm')}"
                    style="max-width: 100%; display: block;">
  <label
    ng-class="$ctrl.notNull ? 'fdz-input-required' : ''">{{$ctrl.translationKeyPackage + '-management.detail.label.' + $ctrl.name + '.' + $ctrl.translationKeyName | translate}}
    ({{'global.in-german' | translate}})
    <md-icon md-svg-src="assets/images/icons/markdown.svg"></md-icon>
  </label>
  <textarea
    ng-attr-fdz-required="{{($ctrl.notNull) ? true : false}}"
    lang="de"
    md-maxlength="$ctrl.maxLength"
    md-no-asterisk
    name="{{$ctrl.controlName}}_{{$ctrl.index}}"
    ng-model="$ctrl.content"
    rows="4"></textarea>
  <div
    class="fdz-input-hint"
    ng-if="!$ctrl.currentForm[$ctrl.controlName + '_' + $ctrl.index].$dirty && !$ctrl.currentForm[$ctrl.controlName + '_' + $ctrl.index].$touched">
    {{$ctrl.translationKeyPackage + '-management.edit.hints.' + $ctrl.name + '.' + $ctrl.translationKeyName | translate}}
  </div>
  <div multiple
       ng-messages="$ctrl.currentForm[$ctrl.controlName + '_' + $ctrl.index].$error">
    <div
      ng-if="$ctrl.notNull"
      ng-message="fdz-required">
      {{$ctrl.translationKeyPackage + '-management.error.' + $ctrl.translationKeyPackage + '.' + $ctrl.name + '.' + $ctrl.translationKeyName + '.i18n-string-not-empty' |
    translate}}
    </div>
    <div
      ng-message="md-maxlength">
      {{$ctrl.translationKeyPackage + '-management.error.' + $ctrl.translationKeyPackage + '.' + $ctrl.name + '.' +  $ctrl.translationKeyName + '.i18n-string-size' |
    translate}}
    </div>
  </div>
</md-input-container>
