<md-input-container flex="50"
                    md-is-error="!$ctrl.currentForm[$ctrl.controlName + 'De_' + $ctrl.index].$valid && ($ctrl.currentForm[$ctrl.controlName + 'De_' + $ctrl.index].$dirty || $ctrl.currentForm[$ctrl.controlName + 'De_' + $ctrl.index].$touched)"
                    ng-class="{'mr10': $mdMedia('gt-sm')}"
                    class="ms-flex mr8">
  <label
    ng-class="$ctrl.notNull ? 'fdz-input-required' : ''">{{$ctrl.translationKeyManagement + '.detail.label.' + $ctrl.translationKeyPackage + '.' + $ctrl.translationKeyName | translate}}
    ({{'global.in-german' | translate}})
    <md-icon md-svg-src="assets/images/icons/markdown.svg"></md-icon>
  </label>
  <textarea
    ng-attr-fdz-required="{{($ctrl.notNull) ? true : false}}"
    lang="de"
    md-maxlength="$ctrl.maxLength"
    md-no-asterisk
    name="{{$ctrl.controlName}}De_{{$ctrl.index}}"
    ng-model="$ctrl.content.de"
    rows="4"></textarea>
  <div
    class="fdz-input-hint"
    ng-if="(
      (!$ctrl.notNull && ($ctrl.content.de == null || $ctrl.content.de == '')) ||
      ($ctrl.notNull && !$ctrl.currentForm[$ctrl.controlName + 'De_' + $ctrl.index].$dirty 
        && !$ctrl.currentForm[$ctrl.controlName + 'De_' + $ctrl.index].$touched)
      )">
    {{$ctrl.translationKeyManagement + '.edit.hints.' + $ctrl.translationKeyPackage + '.' + $ctrl.translationKeyName + '.de' | translate}}
  </div>
  <div ng-if="$ctrl.translationKeyManagement == 'analysis-package-management' && $ctrl.translationKeyPackage == 'external-data-package' && 
    ($ctrl.translationKeyName == 'description' || $ctrl.translationKeyName == 'annotations')" class="fdz-input-hint">
    {{'data-package-management.edit.hints.consent.part1' | translate}}<a
      href="{{'data-package-management.edit.hints.consent.link1' | translate}}"
      target="_blank">{{'data-package-management.edit.hints.consent.link1' |
      translate}}</a>{{'data-package-management.edit.hints.consent.part2' | translate}}<a
      href="{{'data-package-management.edit.hints.consent.link2' | translate}}"
      target="_blank">{{'data-package-management.edit.hints.consent.link2' | translate}}</a>
  </div>
  <div multiple
       ng-messages="$ctrl.currentForm[$ctrl.controlName + 'De_' + $ctrl.index].$error">
    <div
      ng-if="$ctrl.notNull"
      ng-message="fdz-required">
      {{$ctrl.translationKeyManagement + '.error.' + $ctrl.translationKeyPackage + '.' + $ctrl.translationKeyName + '.i18n-string-not-empty' | translate}}
    </div>
    <div
      ng-message="md-maxlength">
      {{$ctrl.translationKeyManagement + '.error.' + $ctrl.translationKeyPackage + '.' + $ctrl.translationKeyName + '.i18n-string-size' | translate}}
    </div>
  </div>
</md-input-container>
<md-input-container flex="50" component
                    md-is-error="!$ctrl.currentForm[$ctrl.controlName + 'En_' + $ctrl.index].$valid && ($ctrl.currentForm[$ctrl.controlName + 'En_' + $ctrl.index].$dirty || $ctrl.currentForm[$ctrl.controlName + 'En_' + $ctrl.index].$touched)"
                    class="ms-flex mr8">
  <label
    ng-class="$ctrl.notNull ? 'fdz-input-required' : ''">{{$ctrl.translationKeyManagement + '.detail.label.' + $ctrl.translationKeyPackage + '.' + $ctrl.translationKeyName | translate}}
    ({{'global.in-english' | translate}})
    <md-icon md-svg-src="assets/images/icons/markdown.svg"></md-icon>
  </label>
  <textarea
    ng-attr-fdz-required="{{($ctrl.notNull) ? true : false}}"
    lang="en"
    md-maxlength="$ctrl.maxLength"
    md-no-asterisk
    name="{{$ctrl.controlName}}En_{{$ctrl.index}}"
    ng-model="$ctrl.content.en"
    rows="4"></textarea>
  <div
    class="fdz-input-hint"
    ng-if="(
      (!$ctrl.notNull && ($ctrl.content.en == null || $ctrl.content.en == '')) ||
      ($ctrl.notNull && !$ctrl.currentForm[$ctrl.controlName + 'En_' + $ctrl.index].$dirty 
        && !$ctrl.currentForm[$ctrl.controlName + 'En_' + $ctrl.index].$touched)
      )">
    {{$ctrl.translationKeyManagement + '.edit.hints.' + $ctrl.translationKeyPackage + '.' + $ctrl.translationKeyName + '.en' | translate}}
  </div>
  <div ng-if="$ctrl.translationKeyManagement == 'analysis-package-management' && $ctrl.translationKeyPackage == 'external-data-package' && 
    ($ctrl.translationKeyName == 'description' || $ctrl.translationKeyName == 'annotations')" class="fdz-input-hint">
    {{'data-package-management.edit.hints.consent.part1' | translate}}<a
      href="{{'data-package-management.edit.hints.consent.link1' | translate}}"
      target="_blank">{{'data-package-management.edit.hints.consent.link1' |
      translate}}</a>{{'data-package-management.edit.hints.consent.part2' | translate}}<a
      href="{{'data-package-management.edit.hints.consent.link2' | translate}}"
      target="_blank">{{'data-package-management.edit.hints.consent.link2' | translate}}</a>
  </div>
  <div
    multiple
    ng-messages="$ctrl.currentForm[$ctrl.controlName + 'En_' + $ctrl.index].$error">
    <div
      ng-if="$ctrl.notNull"
      ng-message="fdz-required">
      {{$ctrl.translationKeyManagement + '.error.' + $ctrl.translationKeyPackage + '.' + $ctrl.translationKeyName + '.i18n-string-not-empty' | translate}}
    </div>
    <div
      ng-message="md-maxlength">
      {{$ctrl.translationKeyManagement + '.error.' + $ctrl.translationKeyPackage + '.' + $ctrl.translationKeyName + '.i18n-string-size' | translate}}
    </div>
  </div>
</md-input-container>
