<md-card>
  <md-card-header ng-click="$ctrl.collapsed = !$ctrl.collapsed">
    <md-card-header-text>
      <h2 class="md-title">{{'global.cards.details' | translate }}</h2>
    </md-card-header-text>
    <md-button
      class="md-card-collapsible-button"
      aria-label="{{($ctrl.collapsed ? 'global.collapsed' : 'global.uncollapsed') | translate}}">
      <md-icon md-font-set="material-icons" ng-if="!$ctrl.collapsed">keyboard_arrow_up</md-icon>
      <md-icon md-font-set="material-icons" ng-if="$ctrl.collapsed">keyboard_arrow_down</md-icon>
    </md-button>
  </md-card-header>
  <div ng-if="!$ctrl.collapsed">
    <md-card-content>
      <md-list>
        <md-list-item ng-if="$ctrl.options.authors">
          <h5>{{'related-publication-management.detail.label.authors' | translate }}:</h5>
          <span
            class="md-secondary">{{$ctrl.options.authors}}</span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.year">
          <h5>{{'related-publication-management.detail.label.year' | translate }}:</h5>
          <span
            class="md-secondary">{{$ctrl.options.year}}</span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.sourceReference">
          <h5>{{'related-publication-management.detail.label.sourceReference' | translate }}:</h5>
          <span
            class="md-secondary" lang="{{$ctrl.options.language}}" style="word-break: break-word;">{{$ctrl.options.sourceReference}}</span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.doi">
          <h5>{{'related-publication-management.detail.label.doi' | translate }}:</h5>
          <a class="md-secondary"
            ng-href="https://doi.org/{{$ctrl.options.doi}}"
            target="_blank">
              {{$ctrl.options.doi}}
            <md-tooltip
              md-autohide="true"
              md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'related-publication-management.detail.doi-tooltip' | translate}}
            </md-tooltip>
          </a>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.sourceLink">
          <h5>{{'related-publication-management.detail.label.sourceLink' | translate }}:</h5>
          <a class="md-secondary fdz-truncate-string"
              ng-href="{{$ctrl.options.sourceLink}}"
              target="_blank">{{$ctrl.options.sourceLink}}
              <md-tooltip
                md-autohide="true"
                md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                  {{'related-publication-management.detail.sourceLink-tooltip' | translate}}
              </md-tooltip>
          </a>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.annotations">
          <h5>{{'related-publication-management.detail.label.annotations' | translate }}:</h5>
          <p
            class="md-secondary"
            markdown-to-html="$ctrl.options.annotations | displayI18nString"
            ></p>
        </md-list-item>
    </md-card-content>
  </div>
</md-card>
