<div ng-form="dataSetFilterForm" layout="row" layout-align="center center">
  <md-autocomplete class="fdz-search-filter-component" md-input-name="dataSetFilter" md-floating-label="Datensatz" flex md-min-length="0" md-require-match="true" md-select-on-match="true" md-selected-item="currentDataSet" md-selected-item-change="onSelectionChanged(currentDataSet)" md-search-text="searchText" md-items="item in searchDataSets(searchText)" md-item-text="item._source.description.de + ' (' + item._source.id + ')'" md-clear-button="true" md-no-cache="true">
    <md-item-template>
      <span class="md-title" style="font-size: 14px;">{{item._source.description.de}}</span>
      <span class="label label-as-badge label-default">{{item._source.id}}</span>
    </md-item-template>
    <md-not-found>
      Not found
    </md-not-found>
    <div ng-messages="dataSetFilterForm.dataSetFilter.$error">
        <div ng-message="md-require-match">Kein Datensatz ausgewählt</div>
    </div>
  </md-autocomplete>
</div>
