<div ng-form="derivedVariablesIdentifierFilterForm" layout="row" layout-align="center center">
    <md-autocomplete md-delay="250" class="fdz-search-filter-component" md-input-name="derivedVariablesIdentifierFilter" md-floating-label="{{'search-management.filter.floating-label.derived-variables-identifier' | translate}}" flex md-min-length="0" md-require-match="true" md-select-on-match="true"
      md-selected-item="currentDerivedVariablesIdentifier" md-selected-item-change="onSelectionChanged(currentDerivedVariablesIdentifier)" md-search-text="searchText" md-items="item in searchDerivedVariablesIdentifiers(searchText)" md-item-text="item" md-clear-button="true" md-no-cache="true">
        <md-item-template>
            <span class="md-title" style="font-size: 14px;">{{item}}</span>
        </md-item-template>
        <md-not-found>
            {{'search-management.filter.derived-variables-identifier-filter.not-found' | translate}}
        </md-not-found>
        <div ng-messages="derivedVariablesIdentifierFilterForm.derivedVariablesIdentifierFilter.$error">
            <div ng-message="md-require-match">
                {{'search-management.filter.derived-variables-identifier-filter.no-valid-selected' | translate}}
            </div>
        </div>
    </md-autocomplete>
</div>
