<div layout="row" style="margin-top: 0px; margin-bottom: 0px;" layout-align="center center" layout-margin>
  <span style="margin-right: 0px;">Panel Kennunng:</span>
  <md-autocomplete flex md-min-length="0" md-require-match="true" md-selected-item="currentPanelIdentifier" md-selected-item-change="onSelectionChanged(currentPanelIdentifier)" md-search-text="searchText" md-items="item in searchPanelIdentifiers(searchText)" md-item-text="item" md-clear-button="true" md-no-cache="true">
    <md-item-template>
      <span class="md-title" style="font-size: 14px;">{{item}}</span>
    </md-item-template>
    <md-not-found>
      Not found
    </md-not-found>
  </md-autocomplete>
</div>
