<div ng-form="questionFilterForm" layout="row" layout-align="center center">
    <md-autocomplete fdz-autofocus="!currentSearchParams.filter.question" md-delay="250" class="fdz-search-filter-component" md-input-name="questionFilter" md-floating-label="{{'search-management.filter.floating-label.question' | translate}}" flex md-min-length="0" md-require-match="true" md-select-on-match="true" md-selected-item="currentQuestion"
      md-selected-item-change="onSelectionChanged(currentQuestion)" md-search-text="searchText" md-items="item in searchQuestions(searchText)" md-item-text="('question-management.detail.label.question' | translate) + ' ' + item.number + ': ' + (item.questionText | displayI18nString ) + ' (' + item.id + ')'"
      md-clear-button="true" md-no-cache="true" md-select-on-focus>
        <md-item-template>
            <span class="md-title" style="font-size: 14px;" md-highlight-text="searchText" md-highlight-flags="ig">{{'question-management.detail.label.question' | translate}} {{item.number}}: {{(item.questionText | displayI18nString)}}</span>
            <span class="label label-as-badge label-default" md-highlight-text="searchText" md-highlight-flags="ig">{{item.id}}</span>
            <span>({{item.count}} {{'search-management.tabs.' + type | translate}})</span>
        </md-item-template>
        <md-not-found>
            {{'search-management.filter.question-filter.not-found' | translate}}
        </md-not-found>
        <div ng-messages="questionFilterForm.questionFilter.$error">
            <div ng-message="md-require-match">
                {{'search-management.filter.question-filter.no-valid-selected' | translate}}
            </div>
        </div>
    </md-autocomplete>
</div>
