<div ng-form="relatedPublicationFilterForm" layout="row" layout-align="center center">
    <md-autocomplete fdz-autofocus="!currentSearchParams.filter['related-publication']" md-delay="250" class="fdz-search-filter-component" md-input-name="relatedPublicationFilter" md-floating-label="{{'search-management.filter.floating-label.related-publication' | translate}}" flex md-min-length="0" md-require-match="true" md-select-on-match="true"
      md-selected-item="currentRelatedPublication" md-selected-item-change="onSelectionChanged(currentRelatedPublication)" md-search-text="searchText" md-items="item in searchRelatedPublications(searchText)" md-item-text="item.title + ' (' + item.id + ')'"
      md-clear-button="true" md-no-cache="true" md-menu-class="fdz-search-filter-items" md-select-on-focus="true">
        <md-item-template>
          <span class="item-title fdz-truncate-string">
            <strong lang="{{item.language}}" md-highlight-text="searchText" md-highlight-flags="ig">{{item.title}}</strong>
            <span class="label label-as-badge label-default" md-highlight-text="searchText" md-highlight-flags="ig">{{item.id}}</span>
          </span>
          <span class="item-metadata fdz-truncate-string">{{'search-management.tabs.' + type + '-found' | translate:'{number:' + item.count + '}':'messageformat'}}</span>
        </md-item-template>
        <md-not-found>
          <span class="item-title fdz-truncate-string">
            <strong>{{'search-management.filter.related-publication-filter.not-found' | translate}}</strong>
          </span>
          <span class="item-metadata fdz-truncate-string">{{'search-management.tabs.' + type + '-found' | translate:'{number:0}':'messageformat'}}</span>
        </md-not-found>
        <div ng-messages="relatedPublicationFilterForm.relatedPublicationFilter.$error">
            <div ng-message="md-require-match">
                {{'search-management.filter.related-publication-filter.no-valid-selected' | translate}}
            </div>
        </div>
    </md-autocomplete>
</div>
