<md-divider></md-divider>
<div layout="row">
    <md-input-container flex-gt-sm="50" flex class="fdz-filter-select" ng-style="!selectedFilters || selectedFilters.length === 0 ? {'margin-right':'16px'} : {}">
        <md-icon md-svg-src="/assets/images/icons/filter.svg"></md-icon>
        <label>{{'search-management.filter.input-label.' + currentElasticsearchType | translate}}</label>
        <md-select ng-model="selectedFilters" md-on-close="clearFilterSearchTerm()" multiple>
            <md-select-header layout="row" class="fdz-select-header">
                <md-input-container flex>
                    <label>{{'search-management.filter.filter-search-input-label' | translate}}</label>
                    <input id="searchFilterInput" ng-model="filterSearchTerm" type="search" fdz-select-search-input>
                </md-input-container>
                <md-button class="md-icon-button" tabindex="-1" aria-label="{{'global.buttons.close' | translate}}" ng-click="closeSelectMenu()">
                    <md-icon md-font-set="material-icons">close</md-icon>
                </md-button>
            </md-select-header>
            <md-divider style="background-color: white;"></md-divider>
            <md-content>
                <md-option ng-value="filter" ng-repeat="filter in availableHiddenFilters | filterTranslatedValues:filterSearchTerm:'search-management.filter.'">{{'search-management.filter.' + filter | translate}}</md-option>
                <md-option ng-value="filter" ng-repeat="filter in displayAvailableFilters | filterTranslatedValues:filterSearchTerm:'search-management.filter.'">{{'search-management.filter.' + filter | translate}}</md-option>
            </md-content>
        </md-select>
    </md-input-container>
    <div flex-gt-sm></div>
    <md-button ng-show="selectedFilters && selectedFilters.length !== 0" class="md-icon-button" ng-click="filtersCollapsed = !filtersCollapsed" style="margin-right: 10px; margin-top: 16px;">
        <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
            {{'search-management.filter.uncollapse-filters-tooltip.' +  filtersCollapsed | translate}}
        </md-tooltip>
        <md-icon ng-if="filtersCollapsed" md-svg-src="/assets/images/icons/arrow-expand.svg"></md-icon>
        <md-icon ng-if="!filtersCollapsed" md-svg-src="/assets/images/icons/arrow-compress.svg"></md-icon>
    </md-button>
</div>
<div ng-if="selectedFilters && selectedFilters.length !== 0" layout="column" style="margin: 0px 16px 0px 16px;" ng-hide="filtersCollapsed">
    <form role="search" ng-submit="hideMobileKeyboard()">
        <study-search-filter ng-if="selectedFilters.indexOf('study') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" study-changed-callback="onOneFilterChanged" bowser="bowser"></study-search-filter>
        <survey-search-filter ng-if="selectedFilters.indexOf('survey') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" survey-changed-callback="onOneFilterChanged" bowser="bowser"></survey-search-filter>
        <survey-series-search-filter ng-if="selectedFilters.indexOf('survey-series-de') >= 0 || selectedFilters.indexOf('survey-series-en') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" selected-filters="selectedFilters" survey-series-changed-callback="onOneFilterChanged" bowser="bowser"></survey-series-search-filter>
        <instrument-search-filter ng-if="selectedFilters.indexOf('instrument') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" instrument-changed-callback="onOneFilterChanged" bowser="bowser"></instrument-search-filter>
        <question-search-filter ng-if="selectedFilters.indexOf('question') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" question-changed-callback="onOneFilterChanged" bowser="bowser"></question-search-filter>
        <dataset-search-filter ng-if="selectedFilters.indexOf('data-set') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" dataset-changed-callback="onOneFilterChanged" bowser="bowser"></dataset-search-filter>
        <variable-search-filter ng-if="selectedFilters.indexOf('variable') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" variable-changed-callback="onOneFilterChanged" bowser="bowser"></variable-search-filter>
        <access-way-search-filter ng-if="selectedFilters.indexOf('access-way') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" access-way-changed-callback="onOneFilterChanged" bowser="bowser"></access-way-search-filter>
        <panel-identifier-search-filter ng-if="selectedFilters.indexOf('panel-identifier') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" panel-identifier-changed-callback="onOneFilterChanged" bowser="bowser"></panel-identifier-search-filter>
        <derived-variables-identifier-search-filter ng-if="selectedFilters.indexOf('derived-variables-identifier') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" derived-variables-identifier-changed-callback="onOneFilterChanged" bowser="bowser"></derived-variables-identifier-search-filter>
        <related-publication-search-filter ng-if="selectedFilters.indexOf('related-publication') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" related-publication-changed-callback="onOneFilterChanged" bowser="bowser"></related-publication-search-filter>
        <input type="submit" ng-hide="true">
    </form>
</div>
