<div ng-form="sponsorFilterForm" layout="row" layout-align="center center">
    <md-autocomplete md-delay="250" class="fdz-search-filter-component"
                     md-input-name="sponsorFilter"
                     md-floating-label="{{'search-management.filter.floating-label.sponsor' | translate}}"
                     flex md-min-length="0" md-require-match="true" md-select-on-match="true"
                     md-selected-item="currentSponsor"
                     md-selected-item-change="onSelectionChanged(currentSponsor)"
                     md-search-text="searchText" md-items="item in searchSponsors(searchText)"
                     md-item-text="(item | displayI18nString)" md-clear-button="true"
                     md-no-cache="true" md-menu-class="fdz-search-filter-items"
                     md-select-on-focus="true"
                     fdz-autofocus="!currentSearchParams.filter.sponsor-de || !currentSearchParams.filter.sponsor-en">
        <md-item-template>
            <span class="item-title fdz-truncate-string">
                <strong>{{(item | displayI18nString)}}</strong>
            </span>
            <span class="item-metadata fdz-truncate-string">{{'search-management.tabs.' + type + '-found' | translate:'{number:' + item.count + '}':'messageformat'}}</span>
        </md-item-template>
        <md-not-found>
            <span class="item-title fdz-truncate-string">
                <strong>{{'search-management.filter.sponsor-filter.not-found' | translate}}</strong>
            </span>
            <span class="item-metadata fdz-truncate-string">{{'search-management.tabs.' + type + '-found' | translate:'{number:0}':'messageformat'}}</span>
        </md-not-found>
        <div ng-messages="sponsorFilterForm.sponsorFilter.$error">
            <div ng-message="md-require-match">
                {{'search-management.filter.sponsor-filter.no-valid-selected' | translate}}
            </div>
        </div>
    </md-autocomplete>
</div>
