<div ng-form="variableFilterForm" layout="row" layout-align="center center">
    <md-autocomplete fdz-autofocus="!currentSearchParams.filter.variable" md-delay="250" class="fdz-search-filter-component" md-input-name="variableFilter" md-floating-label="{{'search-management.filter.floating-label.variable' | translate}}" flex md-min-length="0" md-require-match="true" md-select-on-match="true" md-selected-item="currentVariable"
      md-selected-item-change="onSelectionChanged(currentVariable)" md-search-text="searchText" md-items="item in searchVariables(searchText)" md-item-text="(item.label | displayI18nString) + ' (' + item.masterId + ')'" md-clear-button="true" md-no-cache="true" md-menu-class="fdz-search-filter-items" md-select-on-focus="true">
        <md-item-template>
          <span class="item-title fdz-truncate-string">
            <strong md-highlight-text="searchText" md-highlight-flags="ig">{{(item.label | displayI18nString)}}</strong>
            <span class="label label-as-badge label-default" md-highlight-text="searchText" md-highlight-flags="ig">{{item.masterId}}</span>
          </span>
          <span class="item-metadata fdz-truncate-string">{{'search-management.tabs.' + type + '-found' | translate:'{number:' + item.count + '}':'messageformat'}}</span>
        </md-item-template>
        <md-not-found>
          <span class="item-title fdz-truncate-string">
            <strong>{{'search-management.filter.variable-filter.not-found' | translate}}</strong>
          </span>
          <span class="item-metadata fdz-truncate-string">{{'search-management.tabs.' + type + '-found' | translate:'{number:0}':'messageformat'}}</span>
        </md-not-found>
        <div ng-messages="variableFilterForm.variableFilter.$error">
            <div ng-message="md-require-match">
                {{'search-management.filter.variable-filter.no-valid-selected' | translate}}
            </div>
        </div>
    </md-autocomplete>
</div>
