<div ng-if="ctrl.analysisPackage.id">
  <previous-search-result bowser="bowser" current-language="currentLanguage"></previous-search-result>
  <next-search-result bowser="bowser" current-language="currentLanguage"></next-search-result>
  <div class="fdz-cc">
    <div>
      <embargo-warning ng-if="ctrl.isProviderView && ctrl.analysisPackage.release && ctrl.analysisPackage.release.isPreRelease" project="ctrl.project" style="margin: 8px;"></embargo-warning>
      <div class="fdz-detail">
        <div class="fdz-detail__header">
          <div class="fdz-detail__header-text">
            <h1 class="md-headline" display-i18n-string="ctrl.analysisPackage.title" ></h1>
            <json-content-dialog class="mb0" content="ctrl.analysisPackage"
                                 header-title="ctrl.analysisPackage.title" ng-if="ctrl.enableJsonView"></json-content-dialog>
          </div>
          <div class="fdz-tag-link-container" ng-if="ctrl.analysisPackageTags.length > 0">
            <h5>{{'analysis-package-management.detail.label.tags' | translate}}: </h5>
            <a ng-repeat="tag in ctrl.analysisPackageTags"
               ng-if="ctrl.isAuthenticated()"
               ui-sref="search({type: 'analysis_packages', 'query': tag})">
              <span>{{tag}}{{!$last?',&nbsp;':''}}</span>
              <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'analysis-package-management.detail.tag-tooltip' | translate}}
              </md-tooltip>
            </a>
            <a ng-repeat="tag in ctrl.analysisPackageTags"
               ng-if="!ctrl.isAuthenticated()"
               ui-sref="search({type: 'analysis_packages', 'tags': tag})">
              <span>{{tag}}{{!$last?',&nbsp;':''}}</span>
              <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'analysis-package-management.detail.tag-tooltip' | translate}}
              </md-tooltip>
            </a>
          </div>
          <!-- ELSST tags -->
          <div class="fdz-tag-link-container" ng-if="ctrl.analysisPackageTagsElsst.length > 0">
            <div style="display: flex; flex-direction: row; justify-items: flex-start; align-items: first baseline;">
              <div style="width: 165px;">
                <h5>{{'analysis-package-management.detail.label.tagsElsst' | translate}}</h5>
                <md-button class="md-primary md-icon-button" style="margin-left: -10px; padding: 2px 0px 0px 0px; margin-right: -5px; width: fit-content; padding-bottom: 0%;" ng-click="ctrl.infoModal($event)">
                  <md-icon style="margin: 0px; font-size: 20px">info</md-icon>
                  <md-tooltip md-direction="top" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'data-package-management.detail.elsst-general-tooltip' | translate}}
                  </md-tooltip>
                </md-button>
                <h5>: </h5>
              </div>
              <div>
                <a ng-repeat="tagElsst in ctrl.analysisPackageTagsElsst"
                  ng-if="ctrl.isAuthenticated()"
                  ui-sref="search({type: 'analysis_packages', 'query': tagElsst.prefLabel})">
                  <span>{{tagElsst.prefLabel}}{{!$last?',&nbsp;':''}}</span>
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'analysis-package-management.detail.tagElsst-tooltip' | translate}}
                  </md-tooltip>
                </a>
                <a ng-repeat="tagElsst in ctrl.analysisPackageTagsElsst"
                  ng-if="!ctrl.isAuthenticated()"
                  ui-sref="search({type: 'analysis_packages', 'tags': tagElsst.prefLabel})">
                  <span>{{tagElsst.prefLabel}}{{!$last?',&nbsp;':''}}</span>
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'analysis-package-management.detail.tagElsst-tooltip' | translate}}
                  </md-tooltip>
                </a>
              </div>
            </div>
          </div>
        </div>
        <md-divider></md-divider>
        <fdz-detail
          collapsed="false"
          lang="currentLanguage"
          options="ctrl"
          template-url="scripts/analysispackagemanagement/templates/common-details.html.tmpl"></fdz-detail>
        <md-divider></md-divider>
        <fdz-detail
          collapsed="false"
          lang="currentLanguage"
          options="ctrl.analysisPackage.description"
          template-url="scripts/analysispackagemanagement/templates/description.html.tmpl"></fdz-detail>
        <md-divider></md-divider>
        <fdz-detail
          ng-if="ctrl.analysisPackage.license"
          collapsed="true"
          lang="currentLanguage"
          options="ctrl.analysisPackage.license"
          template-url="scripts/analysispackagemanagement/templates/license.html.tmpl"></fdz-detail>
        <md-divider ng-if="ctrl.analysisPackage.license"></md-divider>
        <fdz-detail
          ng-if="ctrl.analysisPackage.scripts.length > 0"
          collapsed="false"
          lang="currentLanguage"
          options="ctrl.analysisPackage.scripts"
          template-url="scripts/analysispackagemanagement/templates/scripts.html.tmpl"></fdz-detail>
        <md-divider ng-if="ctrl.analysisPackage.scripts.length > 0"></md-divider>
        <fdz-detail
          ng-if="ctrl.analysisPackage.analysisDataPackages.length > 0 "
          collapsed="false"
          lang="currentLanguage"
          options="ctrl"
          template-url="scripts/analysispackagemanagement/templates/packages.html.tmpl"></fdz-detail>
        <md-divider ng-if="ctrl.analysisPackage.analysisDataPackages.length > 0 "></md-divider>
        <fdz-detail
          ng-if="ctrl.attachments.length > 0 "
          collapsed="false"
          lang="currentLanguage"
          options="ctrl.attachments"
          template-url="scripts/analysispackagemanagement/templates/attachments.html.tmpl"></fdz-detail>
        <md-divider ng-if="ctrl.attachments.length > 0 "></md-divider>
        <fdz-related-objects
          ng-if="ctrl.isProviderView || (!ctrl.isProviderView && !ctrl.analysisPackage.release.isPreRelease)"
          collapsed="false"
          lang="currentLanguage"
          options="ctrl.counts"
          id="ctrl.analysisPackage.id"
          template-url="scripts/common/details/related-objects.html.tmpl"></fdz-related-objects>
      </div>
    </div>
  </div>

  <div class="fdz-fab-button-container" layout="column" layout-align="center end">
    <report-publications-component ng-if="!ctrl.isAuthenticated()" analysis-package="true"></report-publications-component>  
    <md-button class="md-fab md-raised md-accent" data-has-any-authority="ROLE_PUBLISHER, ROLE_DATA_PROVIDER"
               ng-click="ctrl.analysisPackageEdit()" ng-if="ctrl.shouldDisplayEditButton">
      <md-tooltip md-autohide="true" md-direction="left"
                  md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
        {{'search-management.buttons.edit-analysis-package-tooltip' | translate}}
      </md-tooltip>
      <md-icon md-font-set="material-icons">mode_edit</md-icon>
    </md-button>
  </div>
</div>
