<md-dialog aria-label="{{labels.title.key | translate:labels.title.params }}" layout="column" class="ms-flex" flex="50">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <h2 class="fdz-truncate-string">
                <span>{{labels.title.key | translate:labels.title.params }}</span>
            </h2>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon md-font-set="material-icons">clear</md-icon>
                <md-tooltip md-direction="top" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
                    {{labels.cancelTooltip.key | translate:labels.cancelTooltip.params }}
                </md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
  <md-divider></md-divider>
    <md-dialog-content layout-padding flex layout="column" class="ms-flex">
        <p ng-if="versions && versions.length > 0" class="ma0">{{labels.text.key | translate:labels.text.params }}</p>
        <table md-autofocus fdz-table ng-if="versions && versions.length > 0" class="w-100 ms-flex" flex>
            <thead>
                <tr>
                    <th style="max-width: 600px;">{{'choose-previous-version.' + versionLabelAttribute | translate}}
                        <md-tooltip hide-gt-xs md-direction="right">
                            {{'choose-previous-version.' + versionLabelAttribute | translate}}
                        </md-tooltip>
                    </th>
                    <th>{{'choose-previous-version.lastModified' | translate }}
                        <md-tooltip hide-gt-xs md-direction="right">
                            {{'choose-previous-version.lastModified' | translate }}
                        </md-tooltip>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="version in versions" ng-click="version.id && select(version, $index)" ng-class="{'fdz-current-version': isCurrentVersion($index), 'fdz-deleted-version': !version.id}">
                    <td ng-if="version.id" display-i18n-string="version[versionLabelAttribute]" class="fdz-truncate-string" style="max-width: 600px;" title="{{ getVersionTitle($index) }}"></td>
                    <td ng-if="!version.id" class="fdz-truncate-string" style="max-width: 600px;" title="{{labels.deleted.key | translate:labels.deleted.params}}"></td>
                    <td class="fdz-table-nowrap" title="{{ version.lastModifiedDate + 'Z'| date:'fullDate'}} {{ version.lastModifiedDate + 'Z'| date:'mediumTime'}}">
                      <span am-time-ago="version.lastModifiedDate | amUtc | amLocal"></span> {{ 'choose-previous-version.lastModifiedBy' | translate }} {{ version.lastModifiedBy }}
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-if="!versions || versions.length === 0" flex class="ms-flex">
            <span>{{labels.noVersionsFound.key | translate:noVersionsFound.params }}</span>
        </div>
        <div ng-hide="(!versions || versions.length === 0) && (currentPage.number === 0)" layout="row" layout-align="space-between center" class="mt8">
          <md-button ng-disabled="currentPage.number === 0" class="md-raised md-primary md-icon-button" ng-click="previousPage()">
              <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
                  {{'choose-previous-version.previous-page-tooltip' | translate }}
              </md-tooltip>
              <md-icon md-font-set="material-icons">navigate_before</md-icon>
          </md-button>
          <md-button ng-disabled="!versions || versions.length === 0 || versions.length < currentPage.limit" class="md-raised md-primary md-icon-button" ng-click="nextPage()">
              <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
                  {{'choose-previous-version.next-page-tooltip' | translate }}
              </md-tooltip>
              <md-icon md-font-set="material-icons">navigate_next</md-icon>
          </md-button>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" style="padding-right: 1em;">
        <md-button class="md-raised" ng-click="closeDialog()">
            <span>{{'global.entity.action.cancel' | translate}}</span>
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
                {{labels.cancelTooltip.key | translate:labels.cancelTooltip.params }}
            </md-tooltip>
        </md-button>
    </md-dialog-actions>
</md-dialog>
