<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">Activation of your account</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Dear
        </p>
        <p>
            <span th:text="#{email.activation.text1}">Your Account of our Metadatasystem has been created. Please click on the link below to activate it:</span>
            <br/>
            <a th:href="@{|${baseUrl}/#!/${#locale.language}/activate?key=${user.activationKey}|}"
               th:text="|${user.login}|">Activation Link</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Regards,</span>
            <br/>
            <em th:text="#{email.signature}">Your FDZ-Team</em>
        </p>
    </body>
</html>
