<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.activation.title}">Activation of your
	account</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
a {
	text-decoration: none;
	color: #006AB2;
}

body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	color: black;
}
</style>
</head>
<body>
	<p th:if="${user.firstName != null and user.firstName != ''} and ${user.lastName != null and user.lastName != ''}"
     th:text="#{email.activation.greeting(${user.firstName}, ${user.lastName})}">Dear</p>
  <p th:if="${user.firstName == null or user.firstName == ''} or ${user.lastName == null or user.lastName == ''}"
     th:text="#{email.activation.greetingLogin(${user.login})}">Dear</p>
  <p>
		<span th:text="#{email.activation.text1}">Your Account of our
			Metadatasystem has been created. Please click on the link below to
			activate it:</span> <br /> <a
			th:href="@{|${baseUrl}/${#locale.language}/activate?key=${user.activationKey}|}"
			th:text="|${user.login}|">Activation Link</a>
	</p>
	<p>
		<span th:text="#{email.activation.text2}">Regards,</span> <br /> <em
			th:text="#{email.signature}">Your FDZ-Team</em>
	</p>
</body>
</html>
