<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.project-configuration-added.title}">You have been added to a project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        a {
            text-decoration: none;
            color: #006AB2;
        }

        body {
            font-family: Roboto, "Helvetica Neue", sans-serif;
            color: black;
        }
    </style>
</head>
<body>
<p th:if="${user.firstName != null and user.firstName != ''} and ${user.lastName != null and user.lastName != ''}"
   th:text="#{email.project-configuration-added.greeting(${user.firstName}, ${user.lastName})}">Dear</p>
<p th:if="${user.firstName == null or user.firstName == ''} or ${user.lastName == null or user.lastName == ''}"
   th:text="#{email.project-configuration-added.greetingLogin(${user.login})}">Dear</p>
<p>
    <span th:text="#{email.project-configuration-added.text1}">You have been added to</span>
    <a th:href="@{|${baseUrl}/${#locale.language}/projects/${projectId}|}" th:text="|${projectId}|">project</a>
    <span th:text="#{email.project-configuration-added.text2(${role})}">as a role</span>
</p>
<p>
    <span th:text="#{email.project-configuration-added.text3}">Regards,</span><br>
    <span th:text="#{email.signature}">Your FDZ-Team.</span>
</p>
</body>
</html>
