<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.assignee-group-changed.title}">You are now able to update the project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        a {
            text-decoration: none;
            color: #006AB2;
        }

        body {
            font-family: Roboto, "Helvetica Neue", sans-serif;
            color: black;
        }
    </style>
</head>
<body>
<p th:text="#{email.assignee-group-changed.greeting(${user.login})}">Dear</p>
<p th:text="#{email-assignee-group-changed.text1}">
    Please update the project
</p>
<p>
    <span th:text="#{email-assignee-group-changed.text2}">Regards,</span> <br />
    <em th:text="#{email.signature}">Your FDZ-Team</em>
</p>
</body>
</html>
