<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.dara-automatic-update.title}">Activation of your account</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.dara-automatic-update.greeting}">
            Dear DevOps,
        </p>
        <p>
            <span th:text="#{email.dara-automatic-update.text1(${projectId})}">An automatic update to da|ra failed. It was triggered by your last related publication uploads for the project
            </span>
        </p>
        <p>
            <span th:text="#{email.dara-automatic-update.text2}">Regards,</span>
            <br/>
            <em th:text="#{email.signature}">Your FDZ-Team</em>
        </p>
    </body>
</html>
