<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.data-provider-added.title}">You are now a data provider for a project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        a {
            text-decoration: none;
            color: #006AB2;
        }

        body {
            font-family: Roboto, "Helvetica Neue", sans-serif;
            color: black;
        }
    </style>
</head>
<body>
<p th:text="#{email.data-provider-added.greeting(${user.login})}">Dear</p>
<p th:text="#{email.data-provider-added.text1}">
    You have been added as a data provider for a project.
</p>
</body>
</html>
