<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.order.created.title}">Ihr Interesse an
	unseren Datenprodukten</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
th, td {
	text-align: left;
	padding: 6px;
}

.bottom {
	border-bottom: 1px solid #006AB2;
}

table {
	border-left: 1px solid #006AB2;
	border-right: 1px solid #006AB2;
}

th {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #006AB2;
}

body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	color: black;
}

.even {
	background-color: #E5F0F7;
}
</style>
</head>
<body>
	<p th:text="#{email.order.created.greeting(${order.customer.name})}">
		Liebe(r) René,</p>
	<p>
		<span th:text="#{email.order.created.text1}">Sie haben
			Interesse an den folgenden Datenprodukten:</span>
	</p>
	<table cellspacing="0" cellpadding="0" width="100%">
		<thead>
			<tr style="background-color: #006AB2; color: white;">
				<th th:text="#{email.order.created.study}">Studie</th>
				<th th:text="#{email.order.created.access-way}">Zugangsweg</th>
				<th>Version</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="product, iterStat : ${order.products}">
				<tr>
					<td th:class="${product.study.annotations == null ? 'bottom' : ''}"><a
						th:href="@{|${baseUrl}/#!/${order.languageKey}/studies/${product.study.id}?version=${product.version}|}"
						th:text="${product.study.title[order.languageKey] + ' (' + product.study.id + ')'}">Studientitel</a></td>
					<td	th:class="${product.study.annotations == null ? 'bottom' : ''}" th:text="${product.accessWay}">download-cuf</td>
					<td	th:class="${product.study.annotations == null ? 'bottom' : ''}" th:text="${product.version}">1.0.0</td>
				</tr>
				<tr th:if="${product.study.annotations != null}">
					<td colspan="3"
						th:text="${product.study.annotations != null ? product.study.annotations[order.languageKey] : ''}"
						class="bottom"
						style="padding-top: 0px; text-align: justify;">...</td>
				</tr>
			</th:block>
		</tbody>
	</table>
	<p>
		<span th:text="#{email.order.created.text2}">Wir melden uns...</span>
	</p>
	<p>
		<span th:text="#{email.order.created.regards}">Grüße,</span> <br /> <em
			th:text="#{email.signature}">Ihr FDZ-Team</em>
	</p>
</body>
</html>
