<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.publisher-removed.title(${projectId})}">You have been removed from project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        a {
            text-decoration: none;
            color: #006AB2;
        }

        body {
            font-family: Roboto, "Helvetica Neue", sans-serif;
            color: black;
        }
    </style>
</head>
<body>
<p th:if="${user.firstName != null and user.firstName != ''} and ${user.lastName != null and user.lastName != ''}"
   th:text="#{email.project-configuration-removed.greeting(${user.firstName}, ${user.lastName})}">Dear</p>
<p th:if="${user.firstName == null or user.firstName == ''} or ${user.lastName == null or user.lastName == ''}"
   th:text="#{email.project-configuration-removed.greetingLogin(${user.login})}">Dear</p>
<p>
    <span th:text="#{email.project-configuration-removed.text1}">You have been removed from</span>
    <span th:text="${projectId}">project</span>
    <span th:text="#{email.project-configuration-removed.text2(${role})}">as a role.</span>
</p>
<p>
    <span th:text="#{email.project-configuration-removed.text3}">Regards,</span><br>
    <span th:text="#{email.signature}">Your FDZ-Team.</span>
</p>
</body>
</html>
