    <div block-ui="blockRelatedDataSetCard">
      <div ng-repeat="dataSet in relatedDataSetController.dataSets">
        <div ui-sref="data-setDetail({id:dataSet._source.id})" style="cursor:pointer">
              <div layout="row">{{'data-set-management.detail.data-set' | translate}}: {{dataSet._source.id}}</div>
              <div layout="row">{{'data-set-management.detail.description' | translate}}: {{dataSet._source.description}}</div>
        </div>
      </div>
      <div ng-if="relatedDataSetController.page.totalHits > relatedDataSetController.page.size" layout="row" layout-align="center">
          <ul
              uib-pagination
              next-text="{{'global.pagination.next'|translate}}"
              previous-text="{{'global.pagination.previous'|translate}}"
              total-items="relatedDataSetController.page.totalHits"
              ng-model="relatedDataSetController.page.currentPageNumber"
              max-size="5"
              ng-change="relatedDataSetController.search()"
              items-per-page="relatedDataSetController.page.size"
              class="pagination-sm"></ul>
      </div>
      <div ng-if="relatedDataSetController.page.totalHits === 0" layout-margin>
            <span>{{'data-set-management.detail.no-related-data-sets' | translate }}</span>
      </div>
    </div>
