# ===================================================================
# Spring Boot configuration.
#
# This configuration will be overriden by the Spring profile you use,
# for example application-dev.yml if you use the "dev" profile.
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================

spring:
    data:
      rest:
        base-path: /api
        max-page-size: 50
        default-page-size: 10
        return-body-on-create: false
        return-body-on-update: false
      mongodb:
        auto-index-creation: true
    messages:
        basename: classpath:/i18n/messages
    mvc:
        favicon:
            enabled: false
    thymeleaf:
        mode: HTML
    http:
      encoding:
        force: false
    servlet:
      multipart:
        max-file-size: 15MB
        max-request-size: 15MB

springdoc:
  swagger-ui:
    path: /api/swagger-ui.html
    enabled: true
  api-docs:
    path: /api/api-docs
    enabled: true

logging:
  level:
    root: warn
    eu.dzhw.fdz.metadatamanagement: info

server:
    port: 8080
    tomcat:
        remote-ip-header: x-forwarded-for
        protocol-header: x-forwarded-proto
    compression:
        enabled: true
        mime-types: text/html,text/xml,text/plain,text/css, application/javascript, application/json

management:
  endpoints:
    web:
      base-path: /management
      exposure:
        include:
        - info
        - health
        - configprops
        - metrics
        - httptrace
        - prometheus
  endpoint:
    health:
      show-details: always
  info:
    git:
      mode: full
  health:
    elasticsearch:
      enabled: false
    refresh:
      enabled: false
    ping:
      enabled: false

javers:
  algorithm: levenshtein_distance

metadatamanagement:
  elasticsearch:
    version: 7.3.2
  ordermanagement:
    email: reitmann@dzhw.eu
  projectmanagement:
    email: reitmann@dzhw.eu
  dlp:
    endpoint: http://fakedlpendpoint.de
  dataset-report-task:
    start-command: java -jar /app/dataset-report-task.jar --task.dataSetId=%1$s --task.version=%2$s --task.language=%3$s --task.onBehalfOf=%4$s
    service-name: metadatamanagement-worker
    container-name: dataset-report-task

# ===================================================================
# JHipster specific properties
# ===================================================================

jhipster:
    mail:
        from: fdz-feedback@dzhw.eu
    security:
        authentication:
            oauth:
                clientid: metadatamanagementapp
                secret: $2a$04$1M3yLuQsTu2dJGl0Rj60c.d9dLt1hHpRNMLzilziLM50VgGJ52ckG
    http:
        cache: # Used by the CachingHttpHeadersFilter
            timeToLiveInDays: 31
    metrics: # DropWizard Metrics configuration, used by MetricsConfiguration
        jmx.enabled: false
        spark:
            enabled: false
            host: localhost
            port: 9999
        graphite:
            enabled: false
            host: localhost
            port: 2003
            prefix: metadatamanagement
