# ===================================================================
# Spring Boot configuration for the "dev" profile.
#
# This configuration overrides the application.yml file.
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================

spring:
    data:
        mongodb:
            uri: ${vcap.services.mongodb.credentials.uri}
    mail:
        host: ${vcap.services.email.credentials.hostname}
        port: 587
        username: ${vcap.services.email.credentials.username}
        password: ${vcap.services.email.credentials.password}
    thymeleaf:
        cache: true
    elasticsearch:
      rest:
        uris:
        - ${vcap.services.elastic.credentials.sslUri}

management:
  metrics:
    export:
      cloudwatch:
        namespace: metadatamanagement-dev
        batch-size: 20

# ===================================================================
# Properties specific to our application
# ===================================================================

metadatamanagement:
  server:
    instance-index: ${cf.instance.index}
    context-root: https://dev.metadata.fdz.dzhw.eu
  elasticsearch-angular-client:
    apiVersion: '7.3'
    logLevel: error
    pageSize: 10
  dara:
    endpoint: ${vcap.services.dara.credentials.endpoint}
    username: ${vcap.services.dara.credentials.username}
    password: ${vcap.services.dara.credentials.password}
  rabbitmq:
    uri: ${vcap.services.rabbitmq.credentials.uri}
  websockets:
    allowed-origins:
      - https://dev.metadata.fdz.dzhw.eu
  dataset-report-task:
    task-definition: dataset-report-task-dev
    cluster-name: metadatamanagement-dev
