# ===================================================================
# Spring Boot configuration for the "prod" profile.
#
# This configuration overrides the application.yml file.
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================

spring:
    profiles:
        active: prod
    devtools:
        restart:
            enabled: false
        livereload:
            enabled: false
    data:
        mongodb:
            host: localhost
            port: 27017
            database: metadatamanagement
    mail:
        host: ${vcap.services.email.credentials.hostname}
        port: 25
        username: ${vcap.services.email.credentials.username}
        password: ${vcap.services.email.credentials.password}
    thymeleaf:
        cache: true
    # cache static resources for one day
    resources:
        cache-period: 86400 

liquibase:
    contexts: prod

server:
    port: 8080
    tomcat:
        remote_ip_header: x-forwarded-for
        protocol_header: x-forwarded-proto
    compression:
        enabled: true
        mime-types: text/html,text/xml,text/plain,text/css, application/javascript, application/json

# ===================================================================
# JHipster specific properties
# ===================================================================

jhipster:
    http:
        cache: # Used by the CachingHttpHeadersFilter
            timeToLiveInDays: 31
    mail: # specific JHipster mail property, for standard properties see MailProperties
        from: metadatamanagement@dzhw.eu
    metrics: # DropWizard Metrics configuration, used by MetricsConfiguration
        jmx.enabled: true
        spark:
            enabled: false
            host: localhost
            port: 9999
        graphite:
            enabled: false
            host: localhost
            port: 2003
            prefix: metadatamanagement

# ===================================================================
# Properties specific to our application
# ===================================================================

metadatamanagement:
  elasticsearch-client:
    url: http://localhost:9200
    read-timeout: 60000
  elasticsearch-angular-client:
    url: https://public:bx6hbibdskm7j1ag4v6pyvvlsdxknfhu@dwalin-us-east-1.searchly.com
    versionApi: 1.7
    logLevel: trace
