# ===================================================================
# Spring Boot configuration for the "prod" profile.
#
# This configuration overrides the application.yml file.
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================

spring:
    profiles:
        active: prod
    devtools:
        restart:
            enabled: false
        livereload:
            enabled: false
    data:
        mongodb:
            uri: ${vcap.services.mongodb.credentials.uri}
    mail:
        host: ${vcap.services.email.credentials.hostname}
        port: 587
        username: ${vcap.services.email.credentials.username}
        password: ${vcap.services.email.credentials.password}
    thymeleaf:
        cache: true

server:
    port: 8080
    tomcat:
        remote_ip_header: x-forwarded-for
        protocol_header: x-forwarded-proto
    compression:
        enabled: true
        mime-types: text/html,text/xml,text/plain,text/css, application/javascript, application/json

# ===================================================================
# JHipster specific properties
# ===================================================================

jhipster:
    http:
        cache: # Used by the CachingHttpHeadersFilter
            timeToLiveInDays: 31
    mail: # specific JHipster mail property, for standard properties see MailProperties
        from: metadatamanagement@dzhw.eu
    metrics: # DropWizard Metrics configuration, used by MetricsConfiguration
        jmx.enabled: true
        spark:
            enabled: false
            host: localhost
            port: 9999
        graphite:
            enabled: false
            host: localhost
            port: 2003
            prefix: metadatamanagement

# ===================================================================
# Properties specific to our application
# ===================================================================

metadatamanagement:
  elasticsearch-client:
    url: http://localhost:9200
    read-timeout: 60000
  elasticsearch-angular-client:
    apiVersion: _default
    logLevel: error
    pageSize: 10
