# ===================================================================
# Spring Boot configuration for the "local" profile.
#
# This configuration overrides the application.yml file.
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================

spring:
    devtools:
        restart:
            enabled: true
            additional-exclude: scripts/**, node_modules/**, assets/**
        livereload:
            enabled: false # we use Grunt + BrowserSync for livereload
    data:
        mongodb:
            host: localhost
            port: 27017
            database: metadatamanagement
    mail:
        host: localhost
        port: 1025
    messages:
        cache-duration: 1
    thymeleaf:
        cache: false
    resources:
      static-locations:
        - file:src/main/webapp/
        - classpath:public/    
    autoconfigure:
      exclude:
        - org.springframework.cloud.aws.autoconfigure.context.ContextInstanceDataAutoConfiguration
        - org.springframework.cloud.aws.autoconfigure.context.ContextCredentialsAutoConfiguration
        - org.springframework.cloud.aws.autoconfigure.context.ContextRegionProviderAutoConfiguration
        - org.springframework.cloud.aws.autoconfigure.context.ContextResourceLoaderAutoConfiguration
        - org.springframework.cloud.aws.autoconfigure.context.ContextStackAutoConfiguration
      
logging:
    level:
      eu.dzhw.fdz.metadatamanagement: debug
      eu.dzhw.fdz.metadatamanagement.logmanagement: info
      eu.dzhw.fdz.metadatamanagement.searchmanagement: info

# ===================================================================
# JHipster specific properties
# ===================================================================

jhipster:
    mail: # specific JHipster mail property, for standard properties see MailProperties
        from: metadatamanagement@localhost

# ===================================================================
# Properties specific to our application
# ===================================================================

metadatamanagement:
  server:
    instance-index: 0
    context-root: http://localhost:8080
  elasticsearch-client:
    url: http://localhost:9200
    read-timeout: 60000
  elasticsearch-angular-client:
    apiVersion: '7.3'
    logLevel: error
    pageSize: 10
  dara:
    endpoint: ${DARA_ENDPOINT}
    username: ${DARA_USERNAME}
    password: ${DARA_PASSWORD}
  websockets:
    allowed-origins:
      - "*"
