<div class="modal-header">
            <h3 class="modal-title" data-translate="metadatamanagementApp.customHeader.confirm">Title</h3>
        </div>
        <div class="modal-body">
          {{text}}
        </div>
        <div class="modal-footer">
              <button type="button" class="btn btn-default" ng-click="cancel()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
                    <span data-translate="metadatamanagementApp.customModal.cancel">Cancel</span>
              </button>
              <button type="submit"  ng-click="ok()" class="btn btn-info">
                    <span class="glyphicon glyphicon-upload"></span>&nbsp;
                    <span data-translate="metadatamanagementApp.customModal.ok">Import Data</span>
              </button>
        </div>
