<div style="display: flex; align-items: center; justify-content: center;">
  <md-button ng-if="$ctrl.showBackToEditButton()" class="md-small md-raised md-primary fdz-truncate-string" style="margin-top: 25px;padding-top: 7px; padding-right: 10px;" 
  ui-sref="dataPackageDetail({id: $ctrl.dataPackageIdVersion.masterId.replace('$', ''), lang: $ctrl.lang})" 
  ui-sref-opts="{inherit: false, reload: true, notify: true}" ng-click="$ctrl.closeOrderMenu()">
      <md-icon md-font-set="material-icons">arrow_back</md-icon>
      {{'order-menu.back-to-project' | translate}}
      <md-tooltip md-direction="right" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'order-menu.back-to-project-tooltip'|translate}}
      </md-tooltip>
  </md-button>
</div>

<md-card class="fdz-data-package" ng-if="$ctrl.dataPackage && $ctrl.dataPackageIdVersion.masterId && $ctrl.lang && $ctrl.accessWays && $ctrl.releases">
  <md-card-header>
    <md-card-header-text>
      <a ui-sref="dataPackageDetail({id: $ctrl.dataPackageIdVersion.masterId.replace('$', ''), version: $ctrl.dataPackageIdVersion.version})" class="title">
        {{$ctrl.dataPackage.title[$ctrl.lang]}}
      </a>
    </md-card-header-text>
  </md-card-header>
  <md-card-content>
    <md-list class="">
      <md-list-item ng-if="$ctrl.dataPackage.surveyPeriod.start">
        <h5>{{'data-package-management.detail.label.survey-period' | translate }}:</h5>
        <span class="md-secondary">
          {{($ctrl.dataPackage.surveyPeriod.start | date:'mediumDate')}} - {{($ctrl.dataPackage.surveyPeriod.end | date:'mediumDate')}}
        </span>
      </md-list-item>
      <md-list-item ng-if="$ctrl.dataPackage.surveyDesign.en==='Panel' && $ctrl.dataPackage.numberOfWaves > 0">
        <h5>{{'data-package-management.detail.label.wave' | translate }}:</h5>
        <span class="md-secondary">
          {{$ctrl.dataPackage.numberOfWaves}}
        </span>
      </md-list-item>
      <md-list-item ng-if="$ctrl.dataPackage.surveyDataTypes && $ctrl.dataPackage.surveyDataTypes.length > 0">
        <h5>{{'data-package-management.detail.label.survey-data-type' | translate }}:</h5>
        <span
          class="md-secondary pre"
          ng-repeat="dataType in $ctrl.dataPackage.surveyDataTypes">{{dataType[$ctrl.lang]}}{{!$last?'; ':''}}</span>
      </md-list-item>
      <md-list-item ng-if="$ctrl.dataPackage.dataLanguages && $ctrl.dataPackage.dataLanguages.length > 0">
        <h5>{{'data-package-management.detail.label.dataLanguages' | translate }}:</h5>
        <span
          class="md-secondary pre"
          ng-repeat="language in $ctrl.dataPackage.dataLanguages">{{(language | displayIsoLanguage: $ctrl.lang)}}{{$index + 1 !== $ctrl.dataPackage.dataLanguages.length ? ', ': ''}}</span>
        </span>
      </md-list-item>
      <md-list-item ng-if="$ctrl.dataPackage.doi">
        <h5>{{'data-package-management.detail.label.doi' | translate }}:</h5>
        <span class="md-secondary">{{$ctrl.dataPackage.doi}}</span>
      </md-list-item>
      <md-list-item ng-if="$ctrl.dataPackage.release.firstDate">
        <h5>{{'data-package-management.detail.label.published' | translate }}:</h5>
        <span class="md-secondary">{{$ctrl.dataPackage.release.firstDate + 'Z' | date:'mediumDate'}}</span>
      </md-list-item>
      <md-list-item ng-if="$ctrl.releases.length > 0">
        <h5>{{'search-management.detail.version' | translate }}:</h5>
        <div class="md-secondary">
          <md-select class="md-accent" name="version" ng-model="$ctrl.selectedVersion" ng-disabled="$ctrl.disabled" aria-label="{{'search-management.detail.version' | translate }}">
            <md-optgroup label="{{'shopping-cart.detail.label.available-versions' | translate}}">
              <md-option ng-repeat="item in $ctrl.releases" ng-value="item.version">
                {{item.version}}{{$first?' (' + ('shopping-cart.detail.label.current' | translate) + ')':''}}</md-option>
            </md-optgroup>
          </md-select>
          <md-button class="md-icon-button md-primary" ng-click="$ctrl.showVersionHelp($event)">
            <md-icon>info</md-icon>
            <md-tooltip md-direction="top" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'shopping-cart.buttons.data-package-version-tooltip' | translate}}
            </md-tooltip>
          </md-button>
        </div>
      </md-list-item>
      <md-list-item ng-if="$ctrl.accessWays.length > 0">
        <h5>{{'search-management.detail.access-way' | translate}}:</h5>
        <div class="md-secondary">
          <md-select class="md-accent" name="accessWay" ng-model="$ctrl.selectedAccessWay" aria-label="{{'search-management.detail.access-way' | translate}}">
            <md-optgroup label="{{'shopping-cart.detail.label.available-access-ways' | translate}}">
              <md-option ng-repeat="item in $ctrl.accessWays" ng-value="item">{{item | displayAccessWay}}</md-option>
            </md-optgroup>
          </md-select>
          <md-button class="md-icon-button md-primary" ng-click="$ctrl.showAccessWayHelp($event)">
            <md-icon>info</md-icon>
            <md-tooltip md-direction="top" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'shopping-cart.buttons.data-package-access-way-tooltip' | translate}}
            </md-tooltip>
          </md-button>
        </div>
      </md-list-item>
      <md-list-item ng-if="$ctrl.releases.length > 0 && $ctrl.accessWays.length > 0" style="flex-flow: row; padding-right: 12px;">
        <md-button class="md-small md-raised md-accent fdz-truncate-string" ng-click="$ctrl.addToShoppingCart($event)"
          ng-disabled="!$ctrl.selectedVersion || $ctrl.noFinalRelease || $ctrl.variableNotAccessible"
          style="margin-right: 12px;" analytics-on="click" analytics-event="add-to-shopping-cart" analytics-label="{{'search-management.detail.cart' | translate}}" analytics-category="Bestellprozess">
          <md-tooltip md-direction="top" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'shopping-cart.buttons.add-data-package-tooltip' | translate}}
          </md-tooltip>
          <span>{{'search-management.detail.cart' | translate}}</span>
        </md-button>
        <md-button class="md-small md-raised md-primary fdz-truncate-string" ui-sref="shoppingCart"
          ng-disabled="$ctrl.numberOfShoppingCartProducts === 0" style="padding-top: 10px" ng-click="$ctrl.onGoToShoppingCart()">
          <md-tooltip md-direction="top" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'shopping-cart.buttons.open-cart-tooltip' | translate}}
          </md-tooltip>
          <span>{{'shopping-cart.buttons.open-cart' | translate}}</span>
        </md-button>
      </md-list-item>
      <md-list-item ng-if="$ctrl.releases.length > 0 && $ctrl.accessWays.length > 0" style="flex-flow: row; padding-right: 12px;" class="md-no-proxy">
        <md-button class="md-small md-raised md-primary fdz-truncate-string" ng-click="$ctrl.openCitationDialog($event)"
          ng-disabled="!$ctrl.selectedVersion || $ctrl.noFinalRelease || $ctrl.variableNotAccessible" style="margin-right: 12px; margin-top: 0px;">
          <md-tooltip md-direction="top" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'shopping-cart.buttons.open-citation-tooltip' | translate}}
          </md-tooltip>
          <span>{{'shopping-cart.buttons.open-citation' | translate}}</span>
        </md-button>
        <md-menu style="min-width: 50%">
          <md-button ng-click="$mdMenu.open($event)" class="md-small md-raised md-primary" style="min-width: 100%; margin-top: 0px;">
            <md-tooltip md-direction="top" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'shopping-cart.buttons.open-export-tooltip' | translate}}
            </md-tooltip>
            <span>{{'shopping-cart.buttons.open-export' | translate}}</span>
          </md-button>
          <md-menu-content>
            <md-menu-item><span>{{'shopping-cart.buttons.beta-hint' | translate}}</span></md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item ng-repeat="exportFormat in $ctrl.exportFormats"><md-button ng-href="/api/data-packages/{{$ctrl.dataPackage.id}}?format={{exportFormat.format}}" target="_blank" download fdz-track-download>{{exportFormat.label}}</md-button></md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-list-item>
    </md-list>
  </md-card-content>
  <md-card-footer style="padding-top: 0px;">
    <span ng-if="$ctrl.noFinalRelease">
      {{'shopping-cart.detail.no-final-release' | translate}}
    </span>
    <!-- maintenance hint -->
    <div ng-if="$ctrl.showMaintenanceHint" style="margin-bottom: 10px; margin-top: 10px;">
      {{'shopping-cart.detail.maintenance-hint' | translate}}
    </div>
    <span translate="shopping-cart.detail.note">
    </span>
  </md-card-footer>
</md-card>
