<mat-card class="state-card">
    <mat-card-header>
        <button mat-button style="margin-left: -8px !important"  (click)="goToSearch()">
            <span class="card-title">{{'test.title.'+type | translate }} ({{counts}})</span>
        </button>
        
    </mat-card-header>
    <mat-card-content>
        <div class="checkbox-row">
            <mat-checkbox 
                class="checkbox" 
                [(ngModel)]="dataProviderReady" 
                (change)="onDataProviderStateChanged($event)" 
                i18n="@@state-card-provider-ready">Datengeber:innen fertig</mat-checkbox>
            <mat-checkbox 
                class="checkbox" 
                [(ngModel)]="publisherReady" 
                (change)="onPublisherStateChanged($event)" 
                i18n="@@state-card-publisher-ready">Publisher fertig</mat-checkbox>
        </div>
    </mat-card-content>
    <mat-card-actions style="display: flex; flex-direction: row; justify-content: end;">
        <button mat-raised-button disabled i18n="@@state-card-delete-btn">
            Löschen
        </button>
        <button mat-raised-button disabled i18n="@@state-card-edit-btn">
            Bearbeiten
        </button>
    </mat-card-actions>
</mat-card>