fdz-breadcrumbs {
  display: flex;
  justify-content: center;
  & > * {
    max-width: $content-width;
  }
}
.fdz-breadcrumbs {
  display: flex;
  margin: 16px 8px 8px 8px;
  padding-left: 8px;
  width: 100%;
}
