.fdz-theme md-checkbox {
  .md-ripple {
    color: $accent-A700;
  }

  &.md-checked .md-ripple {
    color: $background-600;
  }

  &.md-checked.md-focused .md-container:before {
    background-color: $accent-color-026;
  ;
  }

  .md-ink-ripple {
    color: $foreground-2;
  }

  &.md-checked .md-ink-ripple {
    color: $accent-color-087;
  }

  &:not(.md-checked) .md-icon {
    border-color: $foreground-2;
  }

  &.md-checked .md-icon {
    background-color: $accent-color-087;
  }

  &.md-checked .md-icon:after {
    border-color: $accent-contrast-087;
  }

  &:not([disabled]) {
    &.md-primary {
     @include checkbox-primary;
    }

    &.md-warn {
      .md-ripple {
        color: $warn-600;
      }

      .md-ink-ripple {
        color: $foreground-2;
      }

      &.md-checked .md-ink-ripple {
        color: $foreground-2;
      }

      &:not(.md-checked) .md-icon {
        border-color: $foreground-2;
      }

      &.md-checked .md-icon {
        background-color: $warn-color-087;
      }

      &.md-checked.md-focused:not([disabled]) .md-container:before {
        background-color: $warn-color-026;
      }

      &.md-checked .md-icon:after {
        border-color: $background-200;
      }
    }
  }

  &[disabled] {
    &:not(.md-checked) .md-icon {
      border-color: $foreground-3;
    }

    &.md-checked .md-icon {
      background-color: $foreground-3;
    }

    &.md-checked .md-icon:after {
      border-color: $background-200;
    }

    .md-icon:after {
      border-color: $foreground-3;
    }

    .md-label {
      color: $foreground-3;
    }
  }

}
