$card-border-radius: 2px !default;

.fdz-theme .fdz-detail {
  margin: 8px;
  color: $foreground-1;
  background-color: $background-hue-1;
  border-radius: $card-border-radius;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
              0px 1px 1px 0px rgba(0, 0, 0, 0.14),
              0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  &:last-child {
    padding-bottom: 16px;
  }
  .fdz-detail__header {
    padding: 16px;
  }

  md-card {
    margin: 16px 8px;
    box-shadow: none;

    md-card-header {
      display: flex;
      justify-content: center;
      padding-bottom: 0;

      md-card-header-text {
        display: flex;
        justify-content: center;
      }
    }
    .md-card-collapsible-button {
      min-width: 24px;
      min-height: 24px;
      line-height: 24px;
      padding: 8px;
      margin: auto;
      display: inline-flex;
      justify-content: center;

      md-icon {
        color: $primary-contrast;
      }
    }

    md-card-content {

      & > p {
        margin-top: 16px;
        margin-bottom: 16px;

        @include rwd(700) {
          columns: 2;
        }
      }

      & .fdz-table-wide,
      .fdz-table-rotated {
        margin: 16px 0;
      }

      & md-tabs {
        margin-top: 16px;
      }
      md-list-item,
      md-list-item::before {
        min-height: auto;
      }

      md-list-item {
        padding: 0;
        display: flex;
        flex-flow: wrap;
        align-items: baseline;
        h5 {
          display: flex;
          width: 100%;
        }

        .md-secondary-container {
          display: flex;
          margin: 0;
          flex-shrink: unset;
          flex-flow: wrap;
        }

        @include rwd(700) {
          h5 {
            width: 30%;
          }
          .md-secondary-container {
            width: 50%;
          }
        }
        @include rwd(920) {
          .md-secondary-container {
            max-width: 100%;
          }
        }
      }
    }
  }
  .fdz-detail-search-container {
    .fdz-detail-search-item-container > * .fdz-search-result {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: $foreground-4;
    }
    .fdz-detail-search-item-container > *:last-child .fdz-search-result{
      border: none;
    }
  }

  survey-search-result,
  dataset-search-result {
    md-card-content > div > div {
      margin-right: unset;
      @include rwd(960) {
        margin-right: 6px;
      }
    }
    md-card-content > div > div ~ div {
      margin-left: unset;
      @include rwd(960) {
        margin-left: 6px;
      }
    }
  }
  & .fdz-overlay-outer-box {
    padding: 8px;
  }

  & .questions .fdz-search-result {
    margin: 0;
  }
  & .questions .fdz-search-result md-card-header,
  & .questions .fdz-search-result md-card-content {
    padding-right: 0;
    padding-left: 0;
  }

  & #diagramContainer {
    margin-top: 16px;
  }
}
