.fdz-footer {
  padding: 16px;
  color: rgba(0, 0, 0, 0.57);

  & a {
    color: rgba(0, 0, 0, 0.57);
    margin: 8px;
  }

  & .logo {
    .dzhw,
    .bmbf {
      height: auto;
      width: 120px;
      margin: 0 16px
    }
  }
}
