.fdz-footer {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 16px;
  color: rgba(0,0,0,0.57);

  & a {
    color: rgba(0,0,0,0.57);
    margin: 0 8px;
  }
}
