@mixin md-nav-bar-primary {
  > .md-nav-bar {
    background-color: $primary-color;
    .md-button._md-nav-button {
      & {
        color: $primary-100;
      }
      &.md-active, &.md-focused {
        color: $primary-contrast;
      }
      &.md-focused {
        background: $primary-contrast-01;
      }
    }
  }
}

@mixin md-nav-bar-warn {
  > .md-nav-bar {
    background-color: $warn-color;
    .md-button._md-nav-button {
      & {
        color: $warn-100;
      }
      &.md-active, &.md-focused {
        color: $warn-contrast;
      }
      &.md-focused {
        background: $warn-contrast-01;
      }
    }
  }
}

@mixin md-nav-bar-accent {
  > .md-nav-bar {
    background-color: $accent-color;
    .md-button._md-nav-button {
      & {
        color: $accent-A100;
      }
      &.md-active, &.md-focused {
        color: $accent-contrast;
      }
      &.md-focused {
        background: $accent-contrast-01;
      }
    }
    md-nav-ink-bar {
      color: $primary-600-1;
      background: $primary-600-1;
    }
  }
}

.fdz-theme md-nav-bar {

  .md-nav-bar {
    background-color: transparent;
    border-color: $foreground-4;
  }

  .md-button._md-nav-button {
    &.md-unselected {
      color: $foreground-2;
    }
    &[disabled] {
      color: $foreground-3;
    }
  }

  md-nav-ink-bar {
    color: $accent-color;
    background: $accent-color;
  }

  &.md-accent {
    @include md-nav-bar-accent();
  }

  &.md-warn {
    @include md-nav-bar-warn();
  }

  &.md-primary {
    @include md-nav-bar-primary();
  }
}

.fdz-theme md-toolbar > md-nav-bar {
  @include md-nav-bar-primary();
}
.fdz-theme  md-toolbar.md-accent > md-nav-bar {
  @include md-nav-bar-accent();
}
.fdz-theme md-toolbar.md-warn > md-nav-bar {
  @include md-nav-bar-warn();
}
