<md-card class="fdz-data-packet" ng-if="$ctrl.studyIdVersion.masterId && $ctrl.lang && $ctrl.accessWays">
  <md-card-header>
    <md-card-header-text>
      <a ui-sref="studyDetail({id: $ctrl.studyIdVersion.masterId, version: $ctrl.studyIdVersion.version})" class="md-title">
      {{$ctrl.study.title[$ctrl.lang]}}
      </a>
    </md-card-header-text>
  </md-card-header>
  <md-card-content>
    <md-list class="">
      <md-list-item>
        <h5>{{'study-management.detail.label.survey-period' | translate }}:</h5>
        <span
          class="md-secondary">
          {{($ctrl.study.surveyPeriod.start | date:'mediumDate')}} - {{($ctrl.study.surveyPeriod.end | date:'mediumDate')}}
          </span>
      </md-list-item>
      <md-list-item>
        <h5>{{'study-management.detail.label.wave' | translate }}:</h5>
        <span
          class="md-secondary">
            {{$ctrl.study.numberOfWaves}}
          </span>
      </md-list-item>
      <md-list-item>
        <h5>{{'study-management.detail.label.survey-data-type' | translate }}:</h5>
        <span
          class="md-secondary">
          <span
            ng-repeat="dataType in $ctrl.study.surveyDataTypes">
            {{dataType[$ctrl.lang]}}{{!$last?'; ':''}}</span>
        </span>
      </md-list-item>
      <md-list-item>
        <h5>{{'study-management.detail.label.doi' | translate }}:</h5>
        <span
          class="md-secondary">{{$ctrl.study.doi}}</span>
      </md-list-item>
      <md-list-item>
        <h5>{{'search-management.detail.versions' | translate }}:</h5>
          <md-select
            class="md-secondary"
            name="version"
            ng-model="$ctrl.selectedVersion"
            aria-label="{{'search-management.detail.versions' | translate }}">
            <md-optgroup
              label="{{'shopping-cart.detail.label.available-versions' | translate}}">
              <md-option
                ng-repeat="item in $ctrl.releases"
                ng-value="item.version">
                {{item.version}}{{$first?' (' + ('shopping-cart.detail.label.current' | translate) + ')':''}}</md-option>
              </md-optgroup>
          </md-select>
      </md-list-item>
      <md-list-item>
        <h5>{{'search-management.detail.access-ways' | translate}}:</h5>
        <md-select
          class="md-secondary"
          name="accessWay"
          ng-model="$ctrl.selectedAccessWay"
          aria-label="{{'search-management.detail.access-ways' | translate}}">
          <md-optgroup label="{{'shopping-cart.detail.label.available-access-ways' | translate}}">
            <md-option ng-repeat="item in $ctrl.accessWays" ng-value="item">{{item}}</md-option>
          </md-optgroup>
        </md-select>
      </md-list-item>
      <md-list-item>
        <md-button
          class="md-small md-raised md-accent fdz-truncate-string"
          ng-click="$ctrl.addToShoppingCart()"
          ng-disabled="!$ctrl.selectedAccessWay || !$ctrl.selectedVersion">
          <md-tooltip md-direction="top" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'shopping-cart.buttons.add-study-tooltip' | translate}}
          </md-tooltip>
          <span>{{'search-management.detail.cart' | translate}}</span>
        </md-button>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
