<md-toast ng-class="{'md-accent': alert}">
  <div flex>
    <p ng-repeat="elem in messages" class="mv8 mh0">
      <span data-translate="{{elem.messageId}}" data-translate-values="{{elem.messageParams}}"></span>
    </p>
  </div>
  <div class="md-action">
    <md-button ng-click="closeToast()">
      <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
        {{'global.toast.tooltip.close' | translate}}
      </md-tooltip>
      <md-icon ng-style="{color: alert?'black':'white'}" md-font-set="material-icons">close</md-icon>
    </md-button>
  </div>
</md-toast>
