<md-card class="mb8">
  <md-card-header>
    <md-card-header-text>
      <h2 class="md-title">
        {{'analysis-package-management.detail.label.additional-links' | translate
        }}</h2>
    </md-card-header-text>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content>
    <div id="url{{$ctrl.name}}-{{$index}}" layout="row"
         ng-repeat="link in $ctrl.content track by $index">
      <div>
        <md-button class="md-primary md-icon-button mt18 mh0 pl0"
                   ng-click="$ctrl.deleteLink($index)">
          <md-tooltip md-autohide="true" md-direction="bottom"
                      md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'analysis-package-management.edit.delete-link-tooltip' | translate}}
          </md-tooltip>
          <md-icon md-font-set="material-icons">delete_forever</md-icon>
        </md-button>
      </div>
      <md-input-container flex="33" class="ml0 mr8"
                          md-is-error="!$ctrl.currentForm[$ctrl.name + 'Url_' + $index].$valid && ($ctrl.currentForm[$ctrl.name + 'Url_' + $index].$dirty || $ctrl.currentForm[$ctrl.name + 'Url_' + $index].$touched)">
        <label
          class="fdz-input-required">{{'analysis-package-management.edit.label.additional-links.url' | translate}}</label>
        <input type="url" fdz-required md-no-asterisk
               name="{{$ctrl.name}}Url_{{$index}}" md-maxlength="2000"
               ng-blur="$ctrl.deleteCurrentLink($index,$event)"
               ng-focus="$ctrl.setCurrentLink($index,$event)"
               ng-model="link.url" autocomplete="off">
        <div
          class="fdz-input-hint"
          ng-if="!$ctrl.currentForm[$ctrl.name + 'Url_' + $index].$dirty && !$ctrl.currentForm[$ctrl.name + 'Url_' + $index].$touched">
          {{ 'analysis-package-management.edit.hints.additional-links.url' | translate}}
        </div>
        <div multiple
             ng-messages="$ctrl.currentForm[$ctrl.name + 'Url_' + $index].$error">
          <div ng-message="fdz-required">
            {{'analysis-package-management.error.analysis-package.additional-links.url-not-empty' | translate}}
          </div>
          <div ng-message="md-maxlength">
            {{'analysis-package-management.error.analysis-package.additional-links.url-size' | translate}}
          </div>
          <div ng-message="url">
            {{'analysis-package-management.error.analysis-package.additional-links.invalid-url' | translate}}
          </div>
        </div>
      </md-input-container>
      <md-input-container flex="33" class="mr8"
                          md-is-error="!$ctrl.currentForm['linkDisplayTextDe_' + $index].$valid && ($ctrl.currenFormk['linkDisplayTextDe_' + $index].$dirty || $ctrl.currentForm['linkDisplayTextDe_' + $index].$touched)">
        <label>{{'analysis-package-management.edit.label.additional-links.display-text' | translate}}
          ({{'global.in-german' | translate}})</label>
        <input md-no-asterisk name="linkDisplayTextDe_{{$index}}"
               md-maxlength="512"
               ng-blur="$ctrl.deleteCurrentLink($index,$event)"
               ng-focus="$ctrl.setCurrentLink($index,$event)"
               ng-model="link.displayText.de" autocomplete="off">
        <div
          class="fdz-input-hint"
          ng-if="link.displayText.de == null || link.displayText.de == ''">
          {{ 'analysis-package-management.edit.hints.additional-links.display-text.de' | translate}}
        </div>
        <div multiple
             ng-messages="$ctrl.currentForm['linkDisplayTextDe_' + $index].$error">
          <div ng-message="md-maxlength">
            {{'analysis-package-management.error.analysis-package.additional-links.display-text-size' | translate}}
          </div>
        </div>
      </md-input-container>
      <md-input-container flex="33" class="mr8"
                          md-is-error="!$ctrl.currentForm['linkDisplayTextEn_' + $index].$valid && ($ctrl.currenFormk['linkDisplayTextEn_' + $index].$dirty || $ctrl.currentForm['linkDisplayTextEn_' + $index].$touched)">
        <label>{{'analysis-package-management.edit.label.additional-links.display-text' | translate}}
          ({{'global.in-english' | translate}})</label>
        <input md-no-asterisk name="linkDisplayTextEn_{{$index}}"
               md-maxlength="512"
               ng-blur="$ctrl.deleteCurrentLink($index,$event)"
               ng-focus="$ctrl.setCurrentLink($index,$event)"
               ng-model="link.displayText.en" autocomplete="off">
        <div
          class="fdz-input-hint"
          ng-if="link.displayText.en == null || link.displayText.en == ''">
          {{ 'analysis-package-management.edit.hints.additional-links.display-text.en' | translate}}
        </div>
        <div multiple
             ng-messages="$ctrl.currentForm['linkDisplayTextEn_' + $index].$error">
          <div ng-message="md-maxlength">
            {{'analysis-package-management.error.analysis-package.additional-links.display-text-size' | translate}}
          </div>
        </div>
      </md-input-container>
    </div>
  </md-card-content>
  <md-card-actions layout="row" layout-align="begin center" class="mb12">
    <md-button class="md-primary md-raised md-icon-button ml6"
               ng-click="$ctrl.addLink()">
      <md-tooltip md-autohide="true" md-direction="bottom"
                  md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
        {{'analysis-package-management.edit.add-link-tooltip' | translate}}
      </md-tooltip>
      <md-icon md-font-set="material-icons">add</md-icon>
    </md-button>
    <md-button class="md-primary md-raised md-icon-button"
               id="move-link-up-button"
               ng-click="$ctrl.moveCurrentLinkUp()"
               ng-disabled="$ctrl.currentLinkIndex == null || $ctrl.currentLinkIndex === 0">
      <md-tooltip md-autohide="true" md-direction="bottom"
                  md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
        {{'analysis-package-management.edit.move-link-up-tooltip' | translate}}
      </md-tooltip>
      <md-icon md-font-set="material-icons">keyboard_arrow_up</md-icon>
    </md-button>
    <md-button class="md-primary md-raised md-icon-button"
               id="move-link-down-button"
               ng-click="$ctrl.moveCurrentLinkDown()"
               ng-disabled="$ctrl.currentLinkIndex == null || $ctrl.currentLinkIndex === $ctrl.content.length - 1">
      <md-tooltip md-autohide="true" md-direction="bottom"
                  md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
        {{'analysis-package-management.edit.move-link-down-tooltip' | translate}}
      </md-tooltip>
      <md-icon md-font-set="material-icons">keyboard_arrow_down</md-icon>
    </md-button>
  </md-card-actions>
</md-card>
