<div class="fdz-cc">
  <div layout="row" layout-margin class="mb0">
    <h1 class="md-headline" style="margin-left: 0px;">
      <span data-translate="related-publication-management.assign.page-title"
            data-translate-values="{ projectId: ctrl.project.id}">Assign publications</span>
    </h1>
  </div>
  <md-card>
    <md-autocomplete autocomplete="off" class="fdz-project-user-list" flex
                     md-delay="250"
                     md-item-text="publication.title"
                     md-items="publication in ctrl.searchPublications(ctrl.searchText)"
                     md-min-length="0" md-no-cache="true" md-require-match="true"
                     md-search-text="ctrl.searchText"
                     md-selected-item="ctrl.selectedPublication" md-selected-item-change="ctrl.selectedPublicationChanged(ctrl.selectedPublication)" placeholder="{{'related-publication-management.assign.search.placeholder' | translate}}"
                     style="margin-bottom: 2px; -ms-flex: auto;">
      <md-item-template>
        <div layout="row">
          <strong><span md-highlight-flags="ig"
                        md-highlight-text="ctrl.searchText">{{publication.title}}</span></strong>
          &nbsp;
          <span md-highlight-flags="ig" md-highlight-text="ctrl.searchText">({{publication.id}})</span>
        </div>
      </md-item-template>
      <md-not-found>
        <span data-translate="related-publication-management.assign.search.no-publications-found"></span>
      </md-not-found>
    </md-autocomplete>

    <md-list ng-if="ctrl.publications && ctrl.publications.length" class="pa0">
      <div ng-repeat="publication in ctrl.publications">
        <md-list-item layout="row" style="padding-right: 0px;">
          <div class="md-list-item-text fdz-truncate-string">
            <a style="color: black;" ui-sref="relatedPublicationDetail({id:publication.id})"><strong>{{publication.title}}</strong>
              ({{publication.id}})
              <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'search-management.cards.publication-tooltip' | translate: {id:publication.id} }}
              </md-tooltip>
            </a>
          </div>
          <span flex></span>
          <md-button class="md-icon-button md-primary" ng-click="ctrl.removePublication(publication)">
            <md-icon aria-hidden="true" class="ng-binding ng-scope material-icons" md-font-set="material-icons"
                     role="img">delete_forever
            </md-icon>
            <md-tooltip md-autohide="true" md-direction="left"
                        md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'related-publication-management.assign.button.remove-publication' | translate}}
            </md-tooltip>
          </md-button>
        </md-list-item>
        <md-divider ng-if=!$last></md-divider>
      </div>
    </md-list>
    <div ng-if="!ctrl.publications || !ctrl.publications.length" style="padding: 14px;">
      <i>{{'related-publication-management.assign.empty-publications' | translate}}</i>
    </div>
  </md-card>
</div>
<div class="fdz-fab-button-container" layout="column">
  <md-button class="md-fab md-raised md-primary" ng-click="ctrl.removeAllPublications()"
             ng-disabled="!ctrl.publications.length">
    <md-tooltip md-autohide="true" md-direction="left" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
      {{'search-management.buttons.delete-publications-tooltip' | translate}}
    </md-tooltip>
    <md-icon md-font-set="material-icons">delete_sweep</md-icon>
  </md-button>
</div>
