<div ng-if="ctrl.relatedPublication.$resolved && ctrl.relatedPublication.id">
  <div layout="row" style="margin-bottom: 0px;" layout-margin>
    <h1 class="md-headline fdz-truncate-string" style="margin-left: 0px;">{{ctrl.relatedPublication.title}} ({{ctrl.relatedPublication.id}})</h1>
  </div>
    <div layout="column" layout-gt-sm="row">
        <md-card flex-gt-sm>
            <md-card-header>
                <md-card-header-text>
                    <h2 class="md-title">{{'global.cards.details' | translate }}</h2>
                </md-card-header-text>
            </md-card-header>
            <md-divider></md-divider>
            <md-card-content>
              <div style="margin-bottom: 0.5em;" ng-if="ctrl.relatedPublication.authors">
                <span style="font-weight: bold;">{{'related-publication-management.detail.authors' | translate }}:
                </span>
                <span>{{ctrl.relatedPublication.authors}}</span>
              </div>
              <div style="margin-bottom: 0.5em;" ng-if="ctrl.relatedPublication.year">
                <span style="font-weight: bold;">{{'related-publication-management.detail.year' | translate }}:
                </span>
                <span>{{ctrl.relatedPublication.year}}</span>
              </div>
              <div style="margin-bottom: 0.5em;" ng-if="ctrl.relatedPublication.sourceReference">
                <span style="font-weight: bold;">{{'related-publication-management.detail.source-reference' | translate }}:
                </span>
                <span>{{ctrl.relatedPublication.sourceReference}}</span>
              </div>
              <div style="margin-bottom: 0.5em;" ng-if="ctrl.relatedPublication.doi">
                <span style="font-weight: bold;">{{'related-publication-management.detail.doi' | translate }}:
                </span>
                <span>{{ctrl.relatedPublication.doi}}</span>
              </div>
              <div style="margin-bottom: 0.5em;" ng-if="ctrl.relatedPublication.sourceLink" layout="row">
                <div style="font-weight: bold;">{{'related-publication-management.detail.sourceLink' | translate }}:&nbsp;
                </div>
                <div class="fdz-truncate-string" flex>
                  <a target="_blank" style="display: block;" ng-href="{{ctrl.relatedPublication.sourceLink}}">{{ctrl.relatedPublication.sourceLink}}</a>
                </div>
              </div>
            </md-card-content>
        </md-card>
        <md-card flex-gt-sm="40" ng-class="{'fdz-reset-left-margin': $mdMedia('gt-sm'), 'fdz-reset-top-margin': $mdMedia('sm') || $mdMedia('xs')}">
            <md-card-header>
                <md-card-header-text>
                    <h2 class="md-title">{{'global.cards.related-objects' | translate }}</h2>
                </md-card-header-text>
            </md-card-header>
            <md-divider></md-divider>
            <md-card-content>
                <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                    <md-icon md-svg-src="/assets/images/icons/study.svg" style="margin-top:0px; margin-right:4px;"></md-icon>
                    <div style="margin-right:3px;">{{'study-management.detail.studies' | translate }}:</div>
                    <div ng-if="ctrl.counts.studiesCount == 0" class="fdz-truncate-string" flex>{{'global.messages.error.unavailable' | translate}}</div>
                    <div ng-if="ctrl.counts.studiesCount > 0" class="fdz-truncate-string" flex>
                        <a ng-click="ctrl.showRelatedStudies()">({{ctrl.counts.studiesCount}})</a>
                    </div>
                </div>
                <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                  <md-icon md-svg-src="/assets/images/icons/data-set.svg" style="margin-top:0px; margin-right:4px;"></md-icon>
                  <div style="margin-right:3px;">{{'data-set-management.detail.data-sets' | translate }}:</div>
                  <div ng-if="ctrl.counts.dataSetsCount == 0" class="fdz-truncate-string" flex>{{'global.messages.error.unavailable' | translate}}</div>
                  <div ng-if="ctrl.counts.dataSetsCount > 0" class="fdz-truncate-string" flex>
                    <a ng-click="ctrl.showRelatedDataSets()">({{ctrl.counts.dataSetsCount}})</a>
                  </div>
                </div>
                <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                  <md-icon md-svg-src="/assets/images/icons/survey.svg" style="margin-top:0px; margin-right:4px;"></md-icon>
                  <div style="margin-right:3px;">{{'survey-management.detail.surveys' | translate }}:</div>
                  <div ng-if="ctrl.counts.surveysCount == 0" class="fdz-truncate-string" flex>{{'global.messages.error.unavailable' | translate}}</div>
                  <div ng-if="ctrl.counts.surveysCount > 0" class="fdz-truncate-string" flex>
                    <a ng-click="ctrl.showRelatedSurveys()">({{ctrl.counts.surveysCount}})</a>
                  </div>
                </div>
                <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                  <md-icon md-svg-src="/assets/images/icons/instrument.svg" style="margin-top:0px; margin-right:4px;"></md-icon>
                  <div style="margin-right:3px;">{{'instrument-management.detail.instruments' | translate }}:</div>
                  <div ng-if="ctrl.counts.instrumentsCount == 0" class="fdz-truncate-string" flex>{{'global.messages.error.unavailable' | translate}}</div>
                  <div ng-if="ctrl.counts.instrumentsCount > 0" class="fdz-truncate-string" flex>
                    <a ng-click="ctrl.showRelatedInstruments()">({{ctrl.counts.instrumentsCount}})</a>
                  </div>
                </div>
                <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                    <md-icon md-svg-src="/assets/images/icons/question.svg" style="margin-top:0px; margin-right:4px;"></md-icon>
                    <div style="margin-right:3px;">{{'question-management.detail.questions' | translate }}:</div>
                    <div ng-if="ctrl.counts.questionsCount == 0" class="fdz-truncate-string" flex>{{'global.messages.error.unavailable' | translate}}</div>
                    <div ng-if="ctrl.counts.questionsCount > 0" class="fdz-truncate-string" flex>
                        <a ng-click="ctrl.showRelatedQuestions()">({{ctrl.counts.questionsCount}})</a>
                    </div>
                </div>
                <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                    <md-icon md-svg-src="/assets/images/icons/variable.svg" style="margin-top:0px; margin-right:4px;"></md-icon>
                    <div style="margin-right:3px;">{{'variable-management.detail.variables' | translate }}:</div>
                    <div ng-if="ctrl.counts.variablesCount == 0" class="fdz-truncate-string" flex>{{'global.messages.error.unavailable' | translate}}</div>
                    <div ng-if="ctrl.counts.variablesCount > 0" class="fdz-truncate-string" flex>
                        <a ng-click="ctrl.showRelatedVariables()">({{ctrl.counts.variablesCount}})</a>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div layout="column" layout-gt-sm="row">
      <md-card flex-gt-sm>
          <md-card-header>
              <md-card-header-text>
                  <h2 class="md-title">{{'related-publication-management.detail.abstract' | translate }}</h2>
              </md-card-header-text>
          </md-card-header>
          <md-divider></md-divider>
          <md-card-content>
              <div style="margin-bottom: 0.5em;" ng-if="ctrl.relatedPublication.publicationAbstract">
                  <span>{{ctrl.relatedPublication.publicationAbstract}}</span>
              </div>
              <div style="margin-bottom: 0.5em;" ng-if="ctrl.relatedPublication.abstractSource">
                  <span style="font-weight: bold;">{{'related-publication-management.detail.abstract-source' | translate }}:
                  </span>
                  <span>{{ctrl.relatedPublication.abstractSource[currentLanguage]}}</span>
              </div>


          </md-card-content>
      </md-card>
    </div>
</div>
