<div ng-if="ctrl.relatedPublication.id">
  <previous-search-result bowser="bowser" current-language="currentLanguage"></previous-search-result>
  <next-search-result bowser="bowser" current-language="currentLanguage"></next-search-result>
  <div class="fdz-cc">
    <div>
      <div class="fdz-detail">
        <div class="fdz-detail__header">
          <div class="fdz-detail__header-text">
            <h1 class="md-headline" fdz-hyphenate lang="{{ctrl.relatedPublication.language}}">
              {{ctrl.relatedPublication.title}}</h1>
            <json-content-dialog class="mb0" content="ctrl.relatedPublication"
                                 exclude-fields="ctrl.jsonExcludes" header-title="ctrl.relatedPublication.title"
                                 ng-if="ctrl.enableJsonView"></json-content-dialog>
          </div>
        </div>
        <md-divider></md-divider>
        <fdz-detail
          collapsed="false"
          lang="currentLanguage"
          options="ctrl.relatedPublication"
          template-url="scripts/relatedpublicationmanagement/templates/dp-detail.html.tmpl"></fdz-detail>
        <md-divider></md-divider>
        <fdz-related-objects
          collapsed="false"
          lang="currentLanguage"
          options="ctrl.counts"
          id="ctrl.relatedPublication.id"
          template-url="scripts/common/detail/common/dp-related-objects.html.tmpl"></fdz-related-objects>
        <md-divider
          ng-if="ctrl.relatedPublication.publicationAbstract"></md-divider>
        <fdz-detail
          ng-if="ctrl.relatedPublication.publicationAbstract"
          collapsed="false"
          lang="currentLanguage"
          options="ctrl.relatedPublication"
          template-url="scripts/relatedpublicationmanagement/templates/dp-description.html.tmpl"></fdz-detail>
      </div>
    </div>
  </div>
</div>
