<md-card>
  <md-card-header ng-click="$ctrl.collapsed = !$ctrl.collapsed">
    <md-card-header-text>
      <h2 class="md-title">{{'global.cards.details' | translate }}</h2>
    </md-card-header-text>
    <md-button
      class="md-card-collapsible-button"
      aria-label="{{($ctrl.collapsed ? 'global.collapsed' : 'global.uncollapsed') | translate}}">
      <md-icon md-font-set="material-icons" ng-if="!$ctrl.collapsed">keyboard_arrow_up</md-icon>
      <md-icon md-font-set="material-icons" ng-if="$ctrl.collapsed">keyboard_arrow_down</md-icon>
    </md-button>
  </md-card-header>
  <div ng-if="!$ctrl.collapsed">
    <md-card-content>
      <md-list>
        <md-list-item ng-if="$ctrl.options.survey.serialNumber">
          <h5>{{'survey-management.detail.label.serial-number' | translate }}:
          </h5>
          <span class="md-secondary">{{ $ctrl.options.survey.serialNumber }}
            <md-button style="margin: -11px -4px;" class="md-icon-button md-primary" ng-click="$ctrl.options.showSerialNumberInfo($event)">
              <md-icon>info</md-icon>
              <md-tooltip md-direction="top" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'survey-management.detail.tooltips.show-serial-number-help' | translate}}
              </md-tooltip>
            </md-button>
          </span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.survey.population">
          <h5>{{'survey-management.detail.label.population' | translate }}:</h5>
          <p
            class="md-secondary"
            markdown-to-html="$ctrl.options.survey.population.description | displayI18nString"
            ></p>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.survey.population.unit">
          <h5>{{'survey-management.detail.label.unit' | translate }}:</h5>
          <span
            class="md-secondary"
            display-i18n-string="$ctrl.options.survey.population.unit"
            ></span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.survey.dataType">
          <h5>{{'survey-management.detail.label.data-type' | translate }}:</h5>
          <span
            class="md-secondary"
            display-i18n-string="$ctrl.options.survey.dataType"
            ></span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.survey.sample">
          <h5>{{'survey-management.detail.label.sample' | translate }}:</h5>
          <span
            class="md-secondary"
            display-i18n-string="$ctrl.options.survey.sample"
            ></span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.survey.surveyMethod">
          <h5>{{'survey-management.detail.label.survey-method' | translate }}:</h5>
          <span
            class="md-secondary"
            display-i18n-string="$ctrl.options.survey.surveyMethod"
            ></span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.survey.fieldPeriod">
          <h5>{{'survey-management.detail.label.field-period' | translate }}:</h5>
          <span
            class="md-secondary">
            {{$ctrl.options.survey.fieldPeriod.start | date}} - {{$ctrl.options.survey.fieldPeriod.end | date}}
          </span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.survey.grossSampleSize">
          <h5>{{'survey-management.detail.label.grossSampleSize' | translate }}:</h5>
          <span
            class="md-secondary">n = {{$ctrl.options.survey.grossSampleSize | number}}</span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.survey.sampleSize">
          <h5>{{'survey-management.detail.label.sampleSize' | translate }}:</h5>
          <span
            class="md-secondary">n = {{$ctrl.options.survey.sampleSize | number}}</span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.survey.responseRate">
          <h5>{{'survey-management.detail.label.responseRate' | translate }}:</h5>
          <span
            class="md-secondary">{{$ctrl.options.survey.responseRate | number}}%</span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.survey.annotations">
          <h5>{{'survey-management.detail.label.annotations' | translate }}:</h5>
          <p
            class="md-secondary"
            markdown-to-html="$ctrl.options.survey.annotations | displayI18nString"
            ></p>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.isSimpleGeographicCoverage">
          <h5>{{'survey-management.detail.label.geographic-coverage' | translate }}:</h5>
          <span
            class="md-secondary">{{$ctrl.options.getCountryName($ctrl.options.survey.population.geographicCoverages[0])}}</span>
        </md-list-item>
      </md-list>
    </md-card-content>
  </div>
</md-card>
