<md-card>
  <md-card-header ng-click="$ctrl.collapsed = !$ctrl.collapsed">
    <md-card-header-text>
      <h2 class="md-title">{{'survey-management.detail.response-rate-information' | translate}}</h2>
    </md-card-header-text>
    <md-button
      class="md-card-collapsible-button"
      aria-label="{{($ctrl.collapsed ? 'global.collapsed' : 'global.uncollapsed') | translate}}">
      <md-icon md-font-set="material-icons" ng-if="!$ctrl.collapsed">keyboard_arrow_up</md-icon>
      <md-icon md-font-set="material-icons" ng-if="$ctrl.collapsed">keyboard_arrow_down</md-icon>
    </md-button>
  </md-card-header>
  <div ng-if="!$ctrl.collapsed">
    <md-card-content>
      <a
        ng-href="{{'/public/files/surveys/' + $ctrl.options.survey.id + '/' + $ctrl.options.survey.number + '_responserate_' + $ctrl.lang}}"
        target="_blank">
        <img alt="{{'survey-management.detail.response-rate-information-alt-text' | translate}}" ngf-src="$ctrl.options.responseRateImage"
             src=""
             style="width:100%;top:0;left:0;bottom:0;right:0;"/>
        <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'global.tooltips.images' | translate}}
        </md-tooltip>
      </a>
    </md-card-content>
  </div>
</md-card>
