<md-toolbar md-whiteframe="1">
  <div class="ribbon md-body-2"
       ng-cloak ng-show="{{ENV === 'local' || ENV === 'dev' || ENV === 'test'}}" style="z-index: 999">{{ENV}}
  </div>

  <nav class="md-toolbar-tools" layout="row">
    <div>
      <md-button
        ng-if="show"
        class="md-icon-button fdz-secondary"
        hide-gt-md
        ng-click="toggleLeft()">
        <md-icon ng-if="!open" md-font-set="material-icons">menu</md-icon>
        <md-icon ng-if="open" md-font-set="material-icons">menu_open</md-icon>
        <md-tooltip md-autohide="true"
                    md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'global.toolbar.buttons.open-menu-tooltip' | translate}}
        </md-tooltip>
      </md-button>
      <md-button ng-if="!isAuthenticated()" class="fdz-logo"
                 ui-sref="start" rel="home">
        <img alt="{{'global.rdc-alt-text'|translate}}"
             src="assets/images/FDZ_Logo_With_Mag.svg">
        <md-tooltip md-autohide="true" md-direction="right"
                    md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'global.menu.back-to-start'|translate}}
        </md-tooltip>
      </md-button>
      <md-button ng-if="isAuthenticated()"
                 class="fdz-logo"
                 ui-sref="search"
                 ui-sref-opts="{reload: true, notify: true}"
                 ng-click="resetQuery()">
        <img alt="{{'global.rdc-alt-text'|translate}}"
             src="assets/images/FDZ_Logo_With_Mag.svg">
        <md-tooltip md-autohide="true" md-direction="right"
                    md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'global.menu.back-to-search'|translate}}
        </md-tooltip>
      </md-button>
    </div>
    <div>
      <md-button
        class="md-icon-button"
        id="changeLanguageToEn"
        lang="en" rel="alternate"
        ng-if="currentLanguage!='en'"
        ui-sref="({lang:'en'})" hreflang="en">
        <span>EN</span>
        <md-tooltip md-autohide="true" md-direction="left"
                    md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'global.toolbar.buttons.change-language' | translate}}
        </md-tooltip>
      </md-button>
      <md-button
        class="md-icon-button"
        id="changeLanguageToDe"
        lang="de" rel="alternate"
        ng-if="currentLanguage!='de'"
        ui-sref="({lang:'de'})" hreflang="de">
        <span>DE</span>
        <md-tooltip md-autohide="true" md-direction="left"
                    md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'global.toolbar.buttons.change-language' | translate}}
        </md-tooltip>
      </md-button>
      <!-- login -->
      <md-button
        class="md-icon-button"
        ng-if="!isAuthenticated()"
        ng-click="switchMode()">
        <md-icon class="fdz-secondary" md-font-set="material-icons">
          account_circle
        </md-icon>
        <md-tooltip
          md-autohide="true"
          md-direction="left"
          md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'global.toolbar.buttons.login-tooltip' | translate}}
        </md-tooltip>
      </md-button>
      <!-- logout -->
      <md-button
        class="md-icon-button md-accent"
        ng-click="switchMode()"
        ng-if="isAuthenticated()">
        <md-icon md-font-set="material-icons">account_circle</md-icon>
        <md-tooltip
          md-autohide="true"
          md-direction="left"
          md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'global.toolbar.buttons.logout-tooltip' | translate : '{username:"'
          + loginName() + '"}'}}
        </md-tooltip>
      </md-button>
      <md-button
        class="md-icon-button"
        ng-if="!productsCount && !isAuthenticated()"
        ui-sref="shoppingCart">
        <md-icon md-font-set="material-icons">shopping_cart</md-icon>
        <md-tooltip
          md-autohide="true"
          md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'shopping-cart.buttons.open-cart-tooltip' | translate}}
        </md-tooltip>
      </md-button>
      <md-button
        class="md-icon-button md-accent"
        id="shoppingCartButton"
        ng-if="productsCount  && !isAuthenticated()"
        ui-sref="shoppingCart">
        <!--        ng-if="!isAuthenticated() || hasAuthority('ROLE_USER')"-->
        <md-icon class="" md-font-set="material-icons">shopping_cart</md-icon>
        <!--            <span ng-if="productsCount" class="fdz-shopping-cart-count">{{productsCount}}</span>-->
        <md-tooltip
          md-autohide="true"
          md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'shopping-cart.buttons.open-cart-tooltip' | translate}}
        </md-tooltip>
      </md-button>
    </div>
  </nav>
</md-toolbar>
