<md-toolbar md-whiteframe="1">
  <div class="ribbon md-body-2"
       ng-cloak ng-show="{{ENV === 'local' || ENV === 'dev' || ENV === 'test'}}" style="z-index: 999">{{ENV}}
  </div>

  <nav class="md-toolbar-tools" layout="row">
    <div>
      <md-button
        ng-if="show"
        class="md-icon-button fdz-secondary"
        hide-gt-md
        ng-click="toggleLeft()">
        <md-icon ng-if="!open" md-font-set="material-icons">menu</md-icon>
        <md-icon ng-if="open" md-font-set="material-icons">menu_open</md-icon>
        <md-tooltip md-autohide="true"
                    md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'global.toolbar.buttons.open-menu-tooltip' | translate}}
        </md-tooltip>
      </md-button>
      <md-button ng-if="!isAuthenticated()" class="fdz-logo"
                 ui-sref="start" rel="home">
        <img alt="{{'global.rdc-alt-text'|translate}}"
             src="assets/images/FDZ_Logo_With_Mag.svg">
        <md-tooltip md-autohide="true" md-direction="right"
                    md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'global.menu.back-to-start'|translate}}
        </md-tooltip>
      </md-button>
      <md-button ng-if="isAuthenticated() && isDataProvider()"
                 class="fdz-logo"
                 ui-sref="searchReleased"
                 ui-sref-opts="{reload: true, notify: true}"
                 ng-click="resetQuery()">
        <img alt="{{'global.rdc-alt-text'|translate}}"
             src="assets/images/FDZ_Logo_With_Mag.svg">
        <md-tooltip md-autohide="true" md-direction="right"
                    md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'global.menu.back-to-search'|translate}}
        </md-tooltip>
      </md-button>
      <md-button ng-if="isAuthenticated() && !isDataProvider()"
                 class="fdz-logo"
                 ui-sref="search"
                 ui-sref-opts="{reload: true, notify: true}"
                 ng-click="resetQuery()">
        <img alt="{{'global.rdc-alt-text'|translate}}"
             src="assets/images/FDZ_Logo_With_Mag.svg">
        <md-tooltip md-autohide="true" md-direction="right"
                    md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'global.menu.back-to-search'|translate}}
        </md-tooltip>
      </md-button>
      <!-- Buttons to switch from oder to provider view -->
      <md-button
        ng-if="canSwitchViews()"
        id="switchToProvider"
        ui-sref="search"
        ui-sref-opts="{reload: true, notify: true}"
        ng-click="activateProviderView(true)">
        <md-tooltip md-autohide="true" md-direction="left"
                    md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'global.toolbar.buttons.switch-to-provider-view-tooltip' | translate}}
        </md-tooltip>
        {{'global.toolbar.buttons.switch-to-provider-view' | translate}}
      </md-button>
      <md-button
        ng-if="canSwitchViews()"
        id="switchToOrder"
        ui-sref="searchReleased"
        ui-sref-opts="{reload: true, notify: true}"
        ng-click="activateProviderView(false)">
        <md-tooltip md-autohide="true" md-direction="left"
                    md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'global.toolbar.buttons.switch-to-order-view-tooltip' | translate}}
        </md-tooltip>
        {{'global.toolbar.buttons.switch-to-order-view' | translate}}
      </md-button>
    </div>
    <div>
      <md-button
        class="md-icon-button"
        id="changeLanguageToEn"
        lang="en" rel="alternate"
        ng-if="currentLanguage!='en'"
        ui-sref="({lang:'en'})" hreflang="en">
        <span>EN</span>
        <md-tooltip md-autohide="true" md-direction="left"
                    md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'global.toolbar.buttons.change-language' | translate}}
        </md-tooltip>
      </md-button>
      <md-button
        class="md-icon-button"
        id="changeLanguageToDe"
        lang="de" rel="alternate"
        ng-if="currentLanguage!='de'"
        ui-sref="({lang:'de'})" hreflang="de">
        <span>DE</span>
        <md-tooltip md-autohide="true" md-direction="left"
                    md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'global.toolbar.buttons.change-language' | translate}}
        </md-tooltip>
      </md-button>
      <md-button
        class="md-icon-button"
        ng-if="!isAuthenticated()"
        ui-sref="login({lang:currentLanguage})">
        <md-icon class="fdz-secondary" md-font-set="material-icons">
          account_circle
        </md-icon>
        <md-tooltip
          md-autohide="true"
          md-direction="left"
          md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'global.toolbar.buttons.login-tooltip' | translate}}
        </md-tooltip>
      </md-button>
      <md-button
        class="md-icon-button md-accent"
        ng-click="logout()"
        ng-if="isAuthenticated()">
        <md-icon md-font-set="material-icons">account_circle</md-icon>
        <md-tooltip
          md-autohide="true"
          md-direction="left"
          md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'global.toolbar.buttons.logout-tooltip' | translate : '{username:"'
          + identity.login + '"}'}}
        </md-tooltip>
      </md-button>
      <md-button
        class="md-icon-button"
        ng-if="!productsCount && !isProviderViewActive()"
        ui-sref="shoppingCart">
        <md-icon md-font-set="material-icons">shopping_cart</md-icon>
        <md-tooltip
          md-autohide="true"
          md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'shopping-cart.buttons.open-cart-tooltip' | translate}}
        </md-tooltip>
      </md-button>
      <md-button
        class="md-icon-button md-accent"
        id="shoppingCartButton"
        ng-if="productsCount  && !isProviderViewActive()"
        ui-sref="shoppingCart">
        <md-icon class="" md-font-set="material-icons">shopping_cart</md-icon>
        <md-tooltip
          md-autohide="true"
          md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'shopping-cart.buttons.open-cart-tooltip' | translate}}
        </md-tooltip>
      </md-button>
    </div>
  </nav>
</md-toolbar>
