// TODO: Will be removed or implemented in new files for the new design

// Shopping cart
.fdz-search-result-actions-container {
  position: absolute!important;
  top: 0px!important;
  right: 8px!important;
  padding-top: 8px!important;
  padding-bottom: 8px!important;
  z-index: 0!important;
  background-color: rgba(255, 255, 255, 1)!important;
  border-bottom-left-radius: 4px!important;
}

//cards
.fdz-search-result-icon {
  width: 40px;
  height: 40px;
  color: $brand-primary;
  background-color: transparent;
  padding: 0;
}

.fdz-search-result {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fdz-search-result:focus,
.fdz-search-result:hover {
  background-color: rgba(158, 158, 158, 0.2);
}
.fdz-search-result:hover {
  color: black;
  text-decoration: none;
}

// Sidebar
.fdz-search-filter-component md-input-container {
  margin: 0;
}

.fdz-search-filter-component md-input-container input {
  margin-top: 8px;
}

.fdz-search-filter-component {
  margin-bottom: 0 !important;
}

.fdz-search-filter-component button {
  top: 10px !important;
}

.fdz-search-filter-component md-progress-linear {
  bottom: 22px !important;
}

.fdz-search-filter-component md-input-container.md-input-focused label,
.fdz-search-filter-component md-input-container.md-input-has-value label {
  bottom: 75% !important;
}

.fdz-search-filter-component md-input-container label:not(.md-container-ignore) {
  bottom: 88%;
}

.fdz-search-filter-component .ng-active div[ng-message] {
  opacity: 1;
  margin-top: 0;
}

.fdz-search-filter-items li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding: 6px;
  padding-left: 12px;
  white-space: normal;
}

.fdz-search-filter-items .item-title,
.fdz-search-filter-items .item-metadata {
  display: block;
  line-height: 1.5;
}
