$brand-primary: #006AB2 !default;
$brand-success: #28A745 !default;
$brand-info: #028AA4 !default;
$brand-warning: #F69F24 !default;
$brand-danger: #C91630 !default;
$state-success-text: $brand-success !default;
$state-success-bg: #F0EFCE !default;
$state-success-border: $brand-success !default;
$state-info-text: $brand-info !default;
$state-info-bg: #CCE8ED !default;
$state-info-border: $brand-info !default;
$state-warning-text: $brand-warning !default;
$state-warning-bg: #FDECD3 !default;
$state-warning-border: $brand-warning !default;
$state-danger-text: $brand-danger !default;
$state-danger-bg: #F5D0D0 !default;
$state-danger-border: $brand-danger !default; // bower:scss



.fdz-fade-in.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  opacity:0;
}

.fdz-fade-in.ng-enter-active {
  opacity:1;
}


.md-tooltip {
  font-size: 12px;
}

.fdz-search-result-label {
  padding-right: 0.5em;
}

.fdz-inline-icon {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

.fdz-card-header-border {
  border-bottom: 1px rgba(0,0,0,0.12) solid;
  position: relative;
  padding: 1em;
}

.fdz-svg-container > svg {
  display: block;
  margin: auto;
}

/*
style for datapackage
*/
.md-button,
.md-tab {
  text-transform: none;
}

.fdz-tab-heading {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  line-height: 24px;
}

.fdz-group {
  margin: 1em;
  display: block;
}

.fdz-group-text {
  margin: 0;
}

.fdz-group-label {
  flex-grow: 0;
  flex-shrink: 0;
  width: 20em;
  margin: 0;
  font-size: 14px;
  line-height: 1.428571429;
  font-weight: bold;
}

.fdz-group-label::after {
  content: ":";
}

.fdz-truncate-string {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fdz-truncate-string .md-title {
  min-height: 1.4em;
}

.fdz-navbar-menu {
  width: 100%;
}

.fdz-navbar-menu-accent {
  width: 100%;
}

.fdz-navbar-menu-items {
  padding: 0;
  margin: 0;
  width: 100%;
}

.fdz-navbar-menu-toggle {
  display: block;
  padding: 0 0 0 1em;
  margin: 0!important;
  width: 100%;
  height: 100%;
  text-align: left;
}

.fdz-navbar-menu-toggle > span {
  display: inline-block;
  width: 80%;
  text-transform: none!important;
  text-align: left!important;
}

.fdz-navbar-button {
  display: block;
  margin: 0!important;
  padding: 0 0 0 1em;
  width: 100%;
  height: 100%;
  text-align: left!important;
  text-transform: none!important;
}

.fdz-navbar-menu-items .fdz-navbar-button {
  padding: 0 0 0 2em;
}

.fdz-navbar-button-active {
  background-color: #E5F0F7;
}

.fdz-fab-button-container {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

md-dialog .fdz-fab-button-container {
  position: absolute;
}

.fdz-search-input {
  display: block;
  margin-left: 8px;
  margin-right: 16px;
  margin-bottom: 24px;
}

.fdz-search-input .md-errors-spacer {
  display: none;
}

md-input-container label {
  margin: 0px;
}

.fdz-log-error-text {
  color: $brand-danger;
}

.fdz-log-warning-text {
  color: $brand-warning;
}

#toast-container > md-toast {
  z-index: 2000;
  pointer-events: all;
}

.md-table-pagination div div.label {
  color: #757575;
}

.fdz-code-container {
  white-space: pre-wrap;
  overflow: hidden;
}

.fdz-file-drop-accept {
  background-color: $brand-success !important;
}

.fdz-file-drop-reject {
  background-color: $brand-danger !important;
}

.fdz-released {
  color: $brand-success;
}

.fdz-not-released {
  color: $brand-danger;
}

.fdz-bootstrap-headline,
md-dialog h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


.hljs {
  background-color: inherit;
}

pre {
  margin: 0;
}

.fdz-card-header-with-button {
  padding-top: 1px;
  padding-bottom: 1px;
}

.fdz-InfiniteScroll #vertical-container {
  width: 100%;
  min-height: 300px;
}

.fdz-repeated-item {
  border-bottom: 1px solid #ddd;
}

.fdz-overlay-outer-box {
  width: 100%;
  display: block;
  position: relative;
}

.fdz-overlay-outer-box .fdz-overlay-inner-box-top {
  top: 0;
  right: 0;
  position: absolute;
}

.fdz-overlay-outer-box .fdz-overlay-inner-box-bottom {
  bottom: 0;
  right: 0;
  position: absolute;
}

.fdz-fake-empty-card {
  margin: 8px;
  margin-bottom: 0px;
}

.fdz-reset-top-margin {
  margin-top: 0;
}

.fdz-reset-left-margin {
  margin-left: 0 !important;
}

.fdz-add-right-margin {
  margin-right: 10px;
}

.fdz-add-bottom-margin {
  margin-bottom: 0.5em;
}

.fdz-skip-navigation {
  position: absolute!important;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -100;
  display: block;
  width: 95%;
  margin: 0.5em;
  -webkit-transition: opacity 0.30s linear;
  transition: opacity 0.30s linear;
}

.fdz-skip-navigation:focus {
  opacity: 0.9;
  z-index: 60;
}

.js-plotly-plot .plotly .modebar {
  z-index: 50 !important;
}

//a:focus,
//button:focus {
//    outline: 0 !important;
//    outline-offset: 0 !important;
//    border: 1px solid $brand-warning !important;
//}

.fdz-content:focus {
  background-color: rgba(158, 158, 158, 0.2) !important;
  border: 1px solid $brand-warning !important;
}

md-tab-item:hover {
  background-color: rgba(158, 158, 158, 0.2) !important;
}

.fdz-toolbar-button {
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.26) !important;
}


.md-select-placeholder {
  font-weight: bold;
}

.md-select-menu-ie11-fix {
  max-height: 15em;
}

.fdz-select-header {
  background-color: white;
  padding-left: 10px;
}

.fdz-select-header md-input-container {
  margin-bottom: 10px;
  margin-top: 10px;
}

.fdz-select-header md-input-container.md-input-focused label,
.fdz-select-header md-input-container.md-input-has-value label {
  bottom: 65% !important;
}

.fdz-select-header .md-errors-spacer {
  display: none;
}

.fdz-filter-select {
  margin-left: 8px;
  margin-right: 0;
  margin-bottom: 24px;
}

md-input-container.fdz-filter-select.md-input-focused label,
md-input-container.fdz-filter-select.md-input-has-value label {
  bottom: 89% !important;
}

input::-ms-clear {
  display: none;
}

.fdz-hyphenate {
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

.fdz-text-block {
  text-align: justify;
}

.md-dialog-content-body {
  white-space: pre-line;
}



.fdz-input-hint {
  /* Position the hint */
  position: relative;
  clear: left;
  padding-top: 5px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  /* Set our own color */
  color: grey;
}

.fdz-input-required:after {
  content: ' *';
  font-size: 13px;
  vertical-align: top;
}

.md-input-focused .fdz-input-required:after {
  color: $brand-danger;
}

.fdz-current-version {
  background-color: $brand-success;
  color: white;
}

.fdz-current-version:hover {
  background-color: $brand-success !important;
  opacity: 0.5;
}

.fdz-deleted-version {
  background-color: $brand-danger;
  color: white;
  cursor: default;
}

.fdz-deleted-version:hover {
  background-color: $brand-danger !important;
  opacity: 0.5;
}

.md-dialog-backdrop {
  z-index: 78;
}

.md-dialog-backdrop ~ .md-dialog-backdrop {
  z-index: 79;
}

md-backdrop.md-dialog-backdrop {
  z-index: 78;
}

.md-dialog-container {
  z-index: 78;
}

.md-dialog-container ~ .md-dialog-container {
  z-index: 80;
}

.jk-carousel .md-icon-button md-icon {
  color: rgba(0,0,0,0.54) !important;
}

.jk-carousel .radio-buttons-container md-radio-button .md-off {
  border-color: rgba(0,0,0,0.54) !important;
}

.fdz-multiline-property {
  white-space: pre-line;
}

.highlight {
  background-color: $brand-warning;
  color: black !important;
}

.fdz-no-js {
  background-color: $brand-warning;
  color: black !important;
  animation: blinker 2s linear;
  margin: 6px;
  border-radius: 6px;
  padding: 6px;
  font-size: 26px;
}

.fdz-no-js p {
  margin: 0px;
}

.fdz-splash .fdz-bootstrap-error {
  display: none;
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
}

md-toast.md-accent > .md-toast-content {
  font-weight: bold;
  border: 1px solid black;
  background-color: $brand-warning;
  color: black !important;
}

.alert.alert-warning, .alert.alert-warning .alert-link {
  color: black;
}

.alert.alert-danger, .alert.alert-danger .alert-link {
  color: black;
}

.alert.alert-success, .alert.alert-success .alert-link {
  color: black;
}

@media screen and (max-width: 1280px) {
  ::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $accent-color;
    min-height: 2em;
    border-radius: 8px;
  }

  md-content, .md-virtual-repeat-scroller, tbody {
    //overflow: overlay;
  }
}

.fdz-shopping-cart-count {
  position: fixed;
  top: 5px;
  background: $brand-warning;
  color: black;
  border-radius: 50%;
  max-width: 24px;
  min-width: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.md-chips-messages {
  color: rgb(201,22,48);
  position: relative;
  order: 4;
  overflow: hidden;
}

.md-chips-messages [ng-message] {
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
  margin-top: 0;
  padding-top: 5px;
}

.fdz-no-margin {
  margin: 0
}

.fdz-no-margin-bottom {
  margin-bottom: 0;
}

.fdz-no-select {
  user-select: none;
}

.fdz-fullscreen-dialog {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.fdz-metadata-type-state-card {
  padding-bottom: 2px;
  display: block;
  min-width: 30%;
  @media screen and (max-width: 1600px) {
    min-width: 45%
  }
}

.fdz-released {
  color: #FFFFFF;
  background-color: #00CC66;
}

.fdz-unreleased {
  background-color: $brand-danger;
}

.fdz-welcome-dialog-image {
  display: block;
  margin: auto;
  border: 2px solid $brand-primary;
}

@keyframes fade-highlight {
  0% {
    background: lighten($brand-primary, 50%);
  }
  100% {
    background: white;
  }
}
.fdz-project-user-list + md-list md-list-item {
  background: white;
  animation: fade-highlight 1s ease-out;
}

.fdz-project-status-overview-metadata-status-table-cell {
  min-height: 28px;
}


geographic-coverage-list {
  display: block;

  md-card-content {
    padding: 0;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

geographic-coverage {
  display: block;
}

.fdz-error {
  color: $brand-danger;
}

.fdz-plain-list {
  list-style: none;
  padding: 0;
  li {
    margin: 0;

  }
}

.fdz-odd-row {
  background-color: #f9f9f9;
}

.md-button[disabled] {
  pointer-events: none;
}
