<md-dialog aria-label="{{'data-set-management.home.title' | translate }}" style="width: 70%;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'data-set-management.home.title' | translate }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="DataSetSearchDialogController.closeDialog()">
                <md-icon md-svg-src="/assets/images/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
      <related-data-sets method-name="{{DataSetSearchDialogController.methodName}}" method-params="DataSetSearchDialogController.methodParams" count="{{DataSetSearchDialogController.count}}"></related-data-sets>
    </md-dialog-content>
</md-dialog>
