<form name="dataSetForm">
    <div ng-if="ctrl.dataSet.id">
        <div layout="row" style="margin-bottom: 0px;" layout-margin>
            <h1 ng-if="ctrl.createMode" class="md-headline" style="margin-left: 0px;">{{'data-set-management.edit.label.create-data-set' | translate}} <span class="label label-as-badge label-default">{{ctrl.dataSet.id}}</span></h1>
            <h1 ng-if="!ctrl.createMode" class="md-headline" style="margin-left: 0px;">{{'data-set-management.edit.label.edit-data-set' | translate}} <span class="label label-as-badge label-default">{{ctrl.dataSet.id}}</span></h1>
        </div>
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <h2 class="md-title">{{'global.cards.details' | translate }}</h2>
                </md-card-header-text>
            </md-card-header>
            <md-divider></md-divider>
            <md-card-content>
                <div layout-gt-sm="row" layout="column">
                  <md-input-container flex="50" style="-ms-flex:auto" ng-class="{'fdz-add-right-margin': $mdMedia('gt-sm')}" md-is-error="!dataSetForm.descriptionDe.$valid && (dataSetForm.descriptionDe.$dirty || dataSetForm.descriptionDe.$touched)">
                      <label class="fdz-input-required">{{'data-set-management.detail.label.description' | translate}} ({{'global.in-german' | translate}})</label>
                      <input md-maxlength="2048" fdz-required="!ctrl.dataSet.description.en" ng-model="ctrl.dataSet.description.de" name="descriptionDe" lang="de" md-no-asterisk>
                      <div ng-if="!dataSetForm.descriptionDe.$dirty && !dataSetForm.descriptionDe.$touched" class="fdz-input-hint">{{'data-set-management.edit.hints.description.de' | translate}}</div>
                      <div ng-messages="dataSetForm.descriptionDe.$error" multiple>
                          <div ng-message="fdz-required">{{'data-set-management.error.data-set.description.i18n-string-not-empty' | translate}}</div>
                          <div ng-message="md-maxlength">{{'data-set-management.error.data-set.description.i18n-string-size' | translate}}</div>
                      </div>
                  </md-input-container>
                  <md-input-container flex="50" style="-ms-flex:auto" md-is-error="!dataSetForm.descriptionEn.$valid && (dataSetForm.descriptionEn.$dirty || dataSetForm.descriptionEn.$touched)">
                      <label class="fdz-input-required">{{'data-set-management.detail.label.description' | translate}} ({{'global.in-english' | translate}})</label>
                      <input md-maxlength="2048" fdz-required="!ctrl.dataSet.description.de" ng-model="ctrl.dataSet.description.en" name="descriptionEn" lang="en" md-no-asterisk>
                      <div ng-if="!dataSetForm.descriptionEn.$dirty && !dataSetForm.descriptionEn.$touched" class="fdz-input-hint">{{'data-set-management.edit.hints.description.en' | translate}}</div>
                      <div ng-messages="dataSetForm.descriptionEn.$error" multiple>
                          <div ng-message="fdz-required">{{'data-set-management.error.data-set.description.i18n-string-not-empty' | translate}}</div>
                          <div ng-message="md-maxlength">{{'data-set-management.error.data-set.description.i18n-string-size' | translate}}</div>
                      </div>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row" layout="column">
                  <md-input-container flex="50" style="-ms-flex:auto" md-is-error="!dataSetForm.format.$valid && (dataSetForm.format.$dirty || dataSetForm.format.$touched)">
                    <label>{{'data-set-management.detail.label.format' | translate}}</label>
                    <md-select ng-model="ctrl.dataSet.format" ng-model-options="{trackBy: '$value.de'}" name="format">
                      <md-option ng-value="format" ng-repeat="format in ctrl.formats">{{format[currentLanguage]}}</md-option>
                    </md-select>
                    <div ng-if="!dataSetForm.format.$dirty && !dataSetForm.format.$touched" class="fdz-input-hint">{{'data-set-management.edit.hints.format' | translate}}</div>
                    <div ng-messages="dataSetForm.format.$error" multiple>
                    </div>
                  </md-input-container>
                  <div flex="50"></div>
                </div>
                <div layout-gt-sm="row" layout="column" style="-ms-flex:auto">
                    <md-input-container flex="50" style="-ms-flex:auto" md-is-error="!dataSetForm.type.$valid && (dataSetForm.type.$dirty || dataSetForm.type.$touched)">
                        <label>{{'data-set-management.detail.label.type' | translate}}</label>
                        <md-select required ng-model="ctrl.dataSet.type" ng-model-options="{trackBy: '$value.de'}" name="type">
                            <md-option ng-value="type" ng-repeat="type in ctrl.types">{{type[currentLanguage]}}</md-option>
                        </md-select>
                        <div ng-if="!dataSetForm.type.$dirty && !dataSetForm.type.$touched" class="fdz-input-hint">{{'data-set-management.edit.hints.type' | translate}}</div>
                        <div ng-messages="dataSetForm.type.$error" multiple>
                            <div ng-message="required">{{'data-set-management.error.data-set.type.not-null' | translate}}</div>
                        </div>
                    </md-input-container>
                    <div flex="50"></div>
                </div>
                <div layout-gt-sm="row" layout="column">
                    <div flex="50" style="-ms-flex:auto">
                      <label style="color: rgba(0,0,0,0.38); margin: 0px;">{{'data-set-management.edit.label.surveys' | translate}}</label>
                      <md-chips name="surveys" ng-model="ctrl.surveyChips" md-transform-chip="ctrl.transformChip($chip)" md-autocomplete-snap="width" md-require-match="true" ng-change="ctrl.updateSurveyReferences()" ng-required="true">
                        <md-autocomplete md-no-cache="true" style="-ms-flex:auto" md-delay="250" flex md-min-length="0" md-selected-item="ctrl.selectedItem" md-search-text="ctrl.searchText" md-items="item in ctrl.searchSurveys(ctrl.searchText)" placeholder="{{'data-set-management.edit.hints.search-surveys' | translate}}">
                          <md-item-template>
                            <span class="item-title fdz-truncate-string">
                              <span class="label label-as-badge label-default" md-highlight-text="ctrl.searchText" md-highlight-flags="ig">{{item._source.id}}</span>
                              <strong md-highlight-text="ctrl.searchText" md-highlight-flags="ig">{{(item._source.title | displayI18nString)}}</strong>
                            </span>
                          </md-item-template>
                          <md-not-found>
                            {{'data-set-management.edit.hints.no-surveys-found' | translate}}
                          </md-not-found>
                        </md-autocomplete>
                        <md-chip-template>
                          <span>{{$chip.id}}</span>
                        </md-chip-template>
                      </md-chips>
                      <div ng-if="!dataSetForm.surveys.$dirty && !dataSetForm.surveys.$touched" class="fdz-input-hint">{{'data-set-management.edit.hints.surveys' | translate}}</div>
                      <div class="md-chips-messages" ng-show="!dataSetForm.surveys.$valid && (dataSetForm.surveys.$dirty || dataSetForm.surveys.$touched)" ng-messages="dataSetForm.surveys.$error">
                        <div ng-message="required">{{'data-set-management.error.data-set.survey-numbers.not-empty' | translate}}</div>
                      </div>
                    </div>
                    <div flex="50"></div>
                </div>
                <div layout-gt-sm="row" layout="column">
                    <md-input-container flex="50" style="-ms-flex:auto" ng-class="{'fdz-add-right-margin': $mdMedia('gt-sm')}" md-is-error="!dataSetForm.annotationsDe.$valid && (dataSetForm.annotationsDe.$dirty || dataSetForm.annotationsDe.$touched)">
                        <label>{{'data-set-management.detail.label.annotations' | translate}} ({{'global.in-german' | translate}})</label>
                        <textarea rows="4" md-maxlength="2048" ng-model="ctrl.dataSet.annotations.de" name="annotationsDe" lang="de" md-no-asterisk></textarea>
                        <div ng-if="!dataSetForm.annotationsDe.$dirty && !dataSetForm.annotationsDe.$touched" class="fdz-input-hint">{{'data-set-management.edit.hints.annotations.de' | translate}}</div>
                        <div ng-messages="dataSetForm.annotationsDe.$error" multiple>
                            <div ng-message="md-maxlength">{{'data-set-management.error.data-set.annotations.i18n-string-size' | translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="50" style="-ms-flex:auto" md-is-error="!dataSetForm.annotationsEn.$valid && (dataSetForm.annotationsEn.$dirty || dataSetForm.annotationsEn.$touched)">
                        <label>{{'data-set-management.detail.label.annotations' | translate}} ({{'global.in-english' | translate}})</label>
                        <textarea rows="4" md-maxlength="2048" ng-model="ctrl.dataSet.annotations.en" name="annotationsEn" lang="en" md-no-asterisk></textarea>
                        <div ng-if="!dataSetForm.annotationsEn.$dirty && !dataSetForm.annotationsEn.$touched" class="fdz-input-hint">{{'data-set-management.edit.hints.annotations.en' | translate}}</div>
                        <div ng-messages="dataSetForm.annotationsEn.$error" multiple>
                            <div ng-message="md-maxlength">{{'data-set-management.error.data-set.annotations.i18n-string-size' | translate}}</div>
                        </div>
                    </md-input-container>
                </div>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <h2 class="md-title">{{'data-set-management.detail.sub-data-sets.title' | translate }}</h2>
                </md-card-header-text>
            </md-card-header>
            <md-divider></md-divider>
            <md-card-content style="padding: 0px;">
                <div layout="column" ng-repeat="subDataSet in ctrl.dataSet.subDataSets track by $index">
                    <div layout="row" style="padding-right: 16px;">
                      <md-button ng-if="ctrl.dataSet.subDataSets.length > 1" class="md-primary md-icon-button" ng-click="ctrl.deleteSubDataSet($index)" style="margin-top: 18px; margin-left: 0px; margin-right: 0px;">
                        <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                          {{'data-set-management.edit.delete-sub-data-set-tooltip' | translate}}
                        </md-tooltip>
                        <md-icon md-font-set="material-icons">delete_forever</md-icon>
                      </md-button>
                      <div ng-if="ctrl.dataSet.subDataSets.length <= 1" style="margin-left: 16px;"></div>
                      <div flex layout="row">
                        <md-input-container flex="33" style="-ms-flex:auto" md-is-error="!dataSetForm['subDataSetsName_' + $index].$valid && (dataSetForm['subDataSetsName_' + $index].$dirty || dataSetForm['subDataSetsName_' + $index].$touched)">
                          <label class="fdz-input-required">{{'data-set-management.edit.label.sub-data-set.name' | translate}}</label>
                          <input fdz-required md-maxlength="32" ng-model="subDataSet.name" name="subDataSetsName_{{$index}}" ng-blur="ctrl.deleteCurrentSubDataSet($event)" ng-focus="ctrl.setCurrentSubDataSet($index,$event)" md-no-asterisk>
                          <div ng-if="!dataSetForm['subDataSetsName_' + $index].$dirty && !dataSetForm['subDataSetsName_' + $index].$touched" class="fdz-input-hint">{{'data-set-management.edit.hints.sub-data-set.name' | translate}}</div>
                          <div ng-messages="dataSetForm['subDataSetsName_' + $index].$error" multiple>
                            <div ng-message="fdz-required">{{'data-set-management.error.sub-data-set.name.not-empty' | translate}}</div>
                            <div ng-message="md-maxlength">{{'data-set-management.error.sub-data-set.name.size' | translate}}</div>
                          </div>
                        </md-input-container>
                        <md-input-container flex="33" style="-ms-flex:auto" md-is-error="!dataSetForm['subDataSetsAccessWay_' + $index].$valid && (dataSetForm['subDataSetsAccessWay_' + $index].$dirty || dataSetForm['subDataSetsAccessWay_' + $index].$touched)">
                          <label>{{'data-set-management.edit.label.sub-data-set.access-way' | translate}}</label>
                          <md-select required ng-model="subDataSet.accessWay" ng-model-options="{trackBy: '$value'}" name="subDataSetsAccessWay_{{$index}}">
                            <md-option ng-value="accessWay" ng-repeat="accessWay in ctrl.availableAccessWays">{{accessWay}}</md-option>
                            <md-option ng-if="subDataSet.accessWay != null && subDataSet.accessWay !=''" ng-value="subDataSet.accessWay">{{subDataSet.accessWay}}</md-option>
                          </md-select>
                          <div ng-if="!dataSetForm['subDataSetsAccessWay_' + $index].$dirty && !dataSetForm['subDataSetsAccessWay_' + $index].$touched" class="fdz-input-hint">{{'data-set-management.edit.hints.sub-data-set.access-way' | translate}}</div>
                          <div ng-messages="dataSetForm['subDataSetsAccessWay_' + $index].$error" multiple>
                            <div ng-message="required">{{'data-set-management.error.sub-data-set.access-way.not-null' | translate}}</div>
                          </div>
                        </md-input-container>
                        <md-input-container flex="33" style="-ms-flex:auto" md-is-error="!dataSetForm['subDataSetsNumberOfObservations_' + $index].$valid && (dataSetForm['subDataSetsNumberOfObservations_' + $index].$dirty || dataSetForm['subDataSetsNumberOfObservations_' + $index].$touched)">
                          <label>{{'data-set-management.edit.label.sub-data-set.number-of-observations' | translate}}</label>
                          <input required ng-model="subDataSet.numberOfObservations" name="subDataSetsNumberOfObservations_{{$index}}" type="number" step="1" min="0" ng-blur="ctrl.deleteCurrentSubDataSet($event)" ng-focus="ctrl.setCurrentSubDataSet($index,$event)">
                          <div ng-if="!dataSetForm['subDataSetsNumberOfObservations_' + $index].$dirty && !dataSetForm['subDataSetsNumberOfObservations_' + $index].$touched" class="fdz-input-hint">{{'data-set-management.edit.hints.sub-data-set.number-of-observations' | translate}}</div>
                          <div ng-messages="dataSetForm['subDataSetsNumberOfObservations_' + $index].$error" multiple>
                            <div ng-message="required">{{'data-set-management.error.sub-data-set.number-of-observations.not-null' | translate}}</div>
                            <div ng-message="step">{{'data-set-management.error.sub-data-set.number-of-observations.invalid-number' | translate}}</div>
                            <div ng-message="number">{{'data-set-management.error.sub-data-set.number-of-observations.invalid-number' | translate}}</div>
                            <div ng-message="min">{{'data-set-management.error.sub-data-set.number-of-observations.invalid-number' | translate}}</div>
                          </div>
                        </md-input-container>
                      </div>
                    </div>
                    <div layout-gt-sm="row" layout="column" style="padding-right: 16px;" ng-style="{'margin-left': ctrl.dataSet.subDataSets.length === 1?'16px':'40px'}">
                      <md-input-container flex="50" style="-ms-flex:auto" ng-class="{'fdz-add-right-margin': $mdMedia('gt-sm')}" md-is-error="!dataSetForm['subDataSetsDescriptionDe_' + $index].$valid && (dataSetForm['subDataSetsDescriptionDe_' + $index].$dirty || dataSetForm['subDataSetsDescriptionDe_' + $index].$touched)">
                          <label class="fdz-input-required">{{'data-set-management.edit.label.sub-data-set.description' | translate}} ({{'global.in-german' | translate}})</label>
                          <input md-maxlength="512" fdz-required="!subDataSet.description.en" ng-model="subDataSet.description.de" name="subDataSetsDescriptionDe_{{$index}}" lang="de" md-no-asterisk ng-blur="ctrl.deleteCurrentSubDataSet($event)" ng-focus="ctrl.setCurrentSubDataSet($index,$event)">
                          <div ng-if="!dataSetForm['subDataSetsDescriptionDe_' + $index].$dirty && !dataSetForm['subDataSetsDescriptionDe_' + $index].$touched" class="fdz-input-hint">{{'data-set-management.edit.hints.sub-data-set.description.de' | translate}}</div>
                          <div ng-messages="dataSetForm['subDataSetsDescriptionDe_' + $index].$error" multiple>
                              <div ng-message="fdz-required">{{'data-set-management.error.sub-data-set.description.i18n-string-not-empty' | translate}}</div>
                              <div ng-message="md-maxlength">{{'data-set-management.error.sub-data-set.description.i18n-string-size' | translate}}</div>
                          </div>
                      </md-input-container>
                      <md-input-container flex="50" style="-ms-flex:auto" md-is-error="!dataSetForm['subDataSetsDescriptionEn_' + $index].$valid && (dataSetForm['subDataSetsDescriptionEn_' + $index].$dirty || dataSetForm['subDataSetsDescriptionEn_' + $index].$touched)">
                          <label class="fdz-input-required">{{'data-set-management.edit.label.sub-data-set.description' | translate}} ({{'global.in-english' | translate}})</label>
                          <input md-maxlength="512" fdz-required="!subDataSet.description.de" ng-model="subDataSet.description.en" name="subDataSetsDescriptionEn_{{$index}}" lang="en" md-no-asterisk ng-blur="ctrl.deleteCurrentSubDataSet($event)" ng-focus="ctrl.setCurrentSubDataSet($index,$event)">
                          <div ng-if="!dataSetForm['subDataSetsDescriptionEn_' + $index].$dirty && !dataSetForm['subDataSetsDescriptionEn_' + $index].$touched" class="fdz-input-hint">{{'data-set-management.edit.hints.sub-data-set.description.en' | translate}}</div>
                          <div ng-messages="dataSetForm['subDataSetsDescriptionEn_' + $index].$error" multiple>
                              <div ng-message="fdz-required">{{'data-set-management.error.sub-data-set.description.i18n-string-not-empty' | translate}}</div>
                              <div ng-message="md-maxlength">{{'data-set-management.error.sub-data-set.description.i18n-string-size' | translate}}</div>
                          </div>
                      </md-input-container>
                    </div>
                    <div layout-gt-sm="row" layout="column" style="padding-right: 16px;" ng-style="{'margin-left': ctrl.dataSet.subDataSets.length === 1?'16px':'40px'}">
                      <md-input-container flex="50" style="-ms-flex:auto" ng-class="{'fdz-add-right-margin': $mdMedia('gt-sm')}" md-is-error="!dataSetForm['subDataSetsCitationHintDe_' + $index].$valid && (dataSetForm['subDataSetsCitationHintDe_' + $index].$dirty || dataSetForm['subDataSetsCitationHintDe_' + $index].$touched)">
                          <label>{{'data-set-management.edit.label.sub-data-set.citation-hint' | translate}} ({{'global.in-german' | translate}})</label>
                          <textarea md-maxlength="2048" rows="4" ng-model="subDataSet.citationHint.de" name="subDataSetsCitationHintDe_{{$index}}" lang="de" md-no-asterisk ng-blur="ctrl.deleteCurrentSubDataSet($event)" ng-focus="ctrl.setCurrentSubDataSet($index,$event)"></textarea>
                          <div ng-if="!dataSetForm['subDataSetsCitationHintDe_' + $index].$dirty && !dataSetForm['subDataSetsCitationHintDe_' + $index].$touched" class="fdz-input-hint">{{'data-set-management.edit.hints.sub-data-set.citation-hint.de' | translate}}</div>
                          <div ng-messages="dataSetForm['subDataSetsCitationHintDe_' + $index].$error" multiple>
                              <div ng-message="md-maxlength">{{'data-set-management.error.sub-data-set.citation-hint.i18n-string-size' | translate}}</div>
                          </div>
                      </md-input-container>
                      <md-input-container flex="50" style="-ms-flex:auto" md-is-error="!dataSetForm['subDataSetsCitationHintEn_' + $index].$valid && (dataSetForm['subDataSetsCitationHintEn_' + $index].$dirty || dataSetForm['subDataSetsCitationHintEn_' + $index].$touched)">
                          <label>{{'data-set-management.edit.label.sub-data-set.citation-hint' | translate}} ({{'global.in-english' | translate}})</label>
                          <textarea md-maxlength="2048" rows="4" ng-model="subDataSet.citationHint.en" name="subDataSetsCitationHintEn_{{$index}}" lang="en" md-no-asterisk ng-blur="ctrl.deleteCurrentSubDataSet($event)" ng-focus="ctrl.setCurrentSubDataSet($index,$event)"></textarea>
                          <div ng-if="!dataSetForm['subDataSetsCitationHintEn_' + $index].$dirty && !dataSetForm['subDataSetsCitationHintEn_' + $index].$touched" class="fdz-input-hint">{{'data-set-management.edit.hints.sub-data-set.citation-hint.en' | translate}}</div>
                          <div ng-messages="dataSetForm['subDataSetsCitationHintEn_' + $index].$error" multiple>
                              <div ng-message="md-maxlength">{{'data-set-management.error.sub-data-set.citation-hint.i18n-string-size' | translate}}</div>
                          </div>
                      </md-input-container>
                    </div>
                    <md-divider></md-divider>
                </div>
            </md-card-content>
            <md-card-actions style="margin-top: 12px; margin-bottom: 12px;" layout="row" layout-align="begin center">
                <md-button class="md-primary md-raised md-icon-button" ng-disabled="ctrl.dataSet.subDataSets.length === ctrl.allAccessWays.length" ng-click="ctrl.addSubDataSet()" style="margin-left: 6px;">
                    <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                        {{'data-set-management.edit.add-sub-data-set-tooltip' | translate}}
                    </md-tooltip>
                    <md-icon md-font-set="material-icons">add</md-icon>
                </md-button>
                <md-button id="move-sub-data-set-up-button" ng-disabled="ctrl.currentSubDataSetIndex == null || ctrl.currentSubDataSetIndex === 0" class="md-primary md-raised md-icon-button" ng-click="ctrl.moveCurrentSubDataSetUp()">
                    <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                        {{'data-set-management.edit.move-sub-data-set-up-tooltip' | translate}}
                    </md-tooltip>
                    <md-icon md-font-set="material-icons">keyboard_arrow_up</md-icon>
                </md-button>
                <md-button id="move-sub-data-set-down-button" ng-disabled="ctrl.currentSubDataSetIndex == null || ctrl.currentSubDataSetIndex === ctrl.dataSet.subDataSets.length - 1" class="md-primary md-raised md-icon-button" ng-click="ctrl.moveCurrentSubDataSetDown()">
                    <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                        {{'data-set-management.edit.move-sub-data-set-down-tooltip' | translate}}
                    </md-tooltip>
                    <md-icon md-font-set="material-icons">keyboard_arrow_down</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</form>
<md-card ng-if="ctrl.dataSet.id" class="fdz-reset-top-margin">
    <md-card-header layout-align="center center">
        <md-card-header-text>
            <h2 class="md-title">{{'data-set-management.detail.attachments.table-title' | translate | fdzHyphenate}}</h2>
        </md-card-header-text>
    </md-card-header>
    <table ng-if="!ctrl.createMode && ctrl.attachments && ctrl.attachments.length > 0" fdz-table>
        <thead>
            <tr>
                <th>
                    &nbsp;
                </th>
                <th style="min-height: 40px;">
                    &nbsp;
                </th>
                <th style="min-height: 40px;">
                    &nbsp;
                </th>
                <th class="fdz-table-half-absorbing-column">{{'data-set-management.detail.label.attachments.title' | translate }}
                    <md-tooltip hide-gt-xs md-direction="right">
                        {{'data-set-management.detail.label.attachments.title' | translate }}
                    </md-tooltip>
                </th>
                <th class="fdz-table-half-absorbing-column">{{'data-set-management.detail.label.attachments.description' | translate }}
                    <md-tooltip hide-gt-xs md-direction="right">
                        {{'data-set-management.detail.label.attachments.description' | translate }}
                    </md-tooltip>
                </th>
                <th>{{'data-set-management.detail.label.attachments.language' | translate }}
                    <md-tooltip hide-gt-xs md-direction="right">
                        {{'data-set-management.detail.label.attachments.language' | translate }}
                    </md-tooltip>
                </th>
                <th>{{'data-set-management.detail.label.attachments.file' | translate }}
                    <md-tooltip hide-gt-xs md-direction="right">
                        {{'data-set-management.detail.label.attachments.file' | translate }}
                    </md-tooltip>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in ctrl.attachments" ng-click="ctrl.selectAttachment($index)" ng-class="{'fdz-selected-table-row': $index === ctrl.currentAttachmentIndex}" ng-init="translationParams = {filename: row.fileName}">
                <td class="fdz-table-nowrap" style="padding-right: 0px;">
                    <md-radio-group ng-model="ctrl.currentAttachmentIndex" class="md-primary">
                        <md-radio-button ng-value="$index" style="margin-bottom: 0px;">
                            <md-tooltip md-direction="right" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                                {{'data-set-management.detail.attachments.select-attachment-tooltip' | translate:translationParams }}
                            </md-tooltip>
                        </md-radio-button>
                    </md-radio-group>
                </td>
                <td class="fdz-table-nowrap" style="padding: 0px;">
                    <md-button class="md-primary md-icon-button" ng-click="ctrl.editAttachment(row, $event)" style="margin: 0px;">
                        <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                            {{'data-set-management.detail.attachments.edit-attachment-tooltip' | translate:translationParams }}
                        </md-tooltip>
                        <md-icon md-font-set="material-icons">mode_edit</md-icon>
                    </md-button>
                </td>
                <td class="fdz-table-nowrap" style="padding: 0px;">
                    <md-button class="md-primary md-icon-button" ng-click="ctrl.deleteAttachment(row, $index)" style="margin: 0px;">
                        <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                            {{'data-set-management.detail.attachments.delete-attachment-tooltip' | translate:translationParams }}
                        </md-tooltip>
                        <md-icon md-font-set="material-icons">delete_forever</md-icon>
                    </md-button>
                </td>
                <td lang="{{row.language}}">{{row.title}}&nbsp;</td>
                <td display-i18n-string="row.description" fdz-hyphenate class="fdz-text-block"></td>
                <td>{{row.language | displayIsoLanguage: currentLanguage}}&nbsp;</td>
                <td style="white-space: nowrap;"><a ng-href="{{row.id}}" target="_blank">{{row.fileName}}
                        <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">{{'global.tooltips.files.download' | translate: {filename: row.fileName} }}</md-tooltip>
                    </a>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <md-divider ng-if="ctrl.createMode"></md-divider>
    <md-card-content ng-if="ctrl.createMode">
        {{'data-set-management.detail.attachments.save-data-set-before-adding-attachment' | translate}}
    </md-card-content>
    <md-card-actions ng-if="!ctrl.createMode" style="margin-top: 12px; margin-bottom: 12px;" layout="row" layout-align="begin center">
        <md-button class="md-primary md-raised md-icon-button" ng-click="ctrl.addAttachment($event)" style="margin-left: 6px;">
            <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                {{'data-set-management.detail.attachments.add-attachment-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">add</md-icon>
        </md-button>
        <md-button ng-disabled="ctrl.currentAttachmentIndex == null || ctrl.currentAttachmentIndex === 0" class="md-primary md-raised md-icon-button" ng-click="ctrl.moveAttachmentUp()">
            <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                {{'data-set-management.detail.attachments.move-attachment-up-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">keyboard_arrow_up</md-icon>
        </md-button>
        <md-button ng-disabled="ctrl.currentAttachmentIndex == null || ctrl.currentAttachmentIndex === ctrl.attachments.length - 1" class="md-primary md-raised md-icon-button" ng-click="ctrl.moveAttachmentDown()">
            <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                {{'data-set-management.detail.attachments.move-attachment-down-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">keyboard_arrow_down</md-icon>
        </md-button>
        <md-button ng-disabled="!ctrl.attachmentOrderIsDirty" class="md-accent md-raised md-icon-button" ng-click="ctrl.saveAttachmentOrder()">
            <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                {{'data-set-management.detail.attachments.save-attachment-order-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">save</md-icon>
        </md-button>
    </md-card-actions>
</md-card>
<div ng-if="ctrl.dataSet.id" class="fdz-fab-button-container" layout="column">
    <md-button class="md-fab md-raised md-primary" ng-click="ctrl.openRestorePreviousVersionDialog($event)" ng-disabled="ctrl.createMode">
        <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
            {{'data-set-management.edit.open-choose-previous-version-tooltip' | translate}}
        </md-tooltip>
        <md-icon md-font-set="material-icons">undo</md-icon>
    </md-button>
    <md-button class="md-fab md-raised md-accent" type="submit" ng-click="ctrl.saveDataSet()" ng-disabled="!dataSetForm.$dirty">
        <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
            {{'data-set-management.edit.save-tooltip' | translate}}
        </md-tooltip>
        <md-icon md-font-set="material-icons">save</md-icon>
    </md-button>
</div>
