<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:include="common/head::head">
</head>
<body class="body-with-pageheader">
	<header>
		<div th:include="common/navbar::navbar"></div>
		<div
			th:include="common/pageHeader::pageHeader(title=#{variable.details.subtitle(${resource.variableResource.variableDocument.label})},subtitle='('+${resource.variableResource.variableDocument.id}+')')"></div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-3">
						<div class="panel panel-primary">
							<div class="panel-heading custom-panel-heading"
								data-toggle="collapse" data-target="#collapsePanel">
								<a class="panel-title panel-toggle" href="#collapsePanel"
									data-toggle="collapse" th:text="#{variables.details.options}"></a>
							</div>
							<div id="collapsePanel" class="panel-collapse collapse fade in">
								<div class="panel-body">
									<a
										th:href="${resource.variableResource.getLink('edit').getHref()}"><i
										class="glyphicon glyphicon-edit"></i><span
										th:text="' '+#{variables.edit.title}"></span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="panel panel-primary">
							<div class="panel-heading custom-panel-heading"
								data-toggle="collapse" data-target="#variableInfo">
								<a class="panel-title panel-toggle" href="#variableInfo"
									data-toggle="collapse"
									th:text="#{variables.common.variableData}"></a>
							</div>
							<div id="variableInfo" class="panel-collapse collapse fade in">
								<div class="panel-body">

									<ul class="list-group">
										<li class="list-group-item">
											<div class="row">
												<div
													th:replace="common/textOutput::output(label=#{variables.common.variable.name},text=${resource.variableResource.variableDocument.name},column=6, columnOffset=0)"></div>
											</div>
										</li>
										<li class="list-group-item">

											<div class="row">
												<div
													th:replace="common/textOutput::output(label=#{variables.common.variable.question},text=${resource.variableResource.variableDocument.question},column=9,columnOffset=0)"></div>
											</div>
										</li>
										<li class="list-group-item">

											<div class="row">
												<div
													th:replace="common/textOutput::output(label=#{variables.common.variable.dataType},text=${resource.variableResource.variableDocument.dataType},column=6,columnOffset=0)"></div>
												<div
													th:replace="common/textOutput::output(label=#{variables.common.variable.scaleLevel},text=${resource.variableResource.variableDocument.scaleLevel},column=3,columnOffset=0)"></div>
											</div>
										</li>
									</ul>

								</div>
							</div>
						</div>

						<div
							th:if="${resource.variableResource.variableDocument.answerOptions.size() eq 0}"
							class="panel panel-primary">
							<div class="panel-heading custom-panel-heading"
								data-toggle="collapse" data-target="#answeroptions">
								<a class="panel-title panel-toggle collapsed"
									href="#answeroptions" data-toggle="collapse"
									th:text="#{variables.common.variable.answerOptions}"></a>
							</div>
							<div id="answeroptions" class="panel-collapse collapse fade">
								<div class="panel-body">
									<span th:text="#{variable.details.notaplicable}"></span>
								</div>
							</div>
						</div>

						<div
							th:if="${resource.variableResource.variableDocument.answerOptions.size() gt 0}"
							class="panel panel-primary">
							<div class="panel-heading custom-panel-heading"
								data-toggle="collapse" data-target="#answeroptions">
								<a class="panel-title panel-toggle" href="#answeroptions"
									data-toggle="collapse"
									th:text="#{variables.common.variable.answerOptions}"></a>
							</div>
							<div id="answeroptions" class="panel-collapse collapse fade in">
								<div class="panel-body">
									<div class="table-responsive">
										<table class="table table-hover">
											<thead>
												<tr>
													<th
														th:text="#{variables.common.variable.answerOption.code}">Code</th>
													<th
														th:text="#{variables.common.variable.answerOption.label}">Label</th>
												</tr>
											</thead>
											<tbody>
												<tr
													th:each="answerOption, rowStat : *{resource.variableResource.variableDocument.answerOptions}">
													<td
														th:text="${resource.variableResource.variableDocument.answerOptions[__${rowStat.index}__].code}"></td>
													<td
														th:text="${resource.variableResource.variableDocument.answerOptions[__${rowStat.index}__].label}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

						<div class="panel panel-primary">
							<div class="panel-heading custom-panel-heading"
								data-toggle="collapse" data-target="#survey">
								<a class="panel-title panel-toggle" href="#survey"
									data-toggle="collapse"
									th:text="#{variables.common.variable.surveyData}"></a>
							</div>
							<div id="survey" class="panel-collapse collapse fade in">
								<div class="panel-body">
									<ul class="list-group">
										<li class="list-group-item">
											<div class="row">
												<div
													th:replace="common/textOutput::output(label=#{variables.common.variable.survey.title},text=${resource.variableResource.variableDocument.variableSurvey.title},column=9,columnOffset=0)"></div>
											</div>
										</li>
										<li class="list-group-item">

											<div class="row">
												<div
													th:replace="common/textOutput::output(label=#{variables.common.variable.survey.id},text=${resource.variableResource.variableDocument.variableSurvey.surveyId},column=9,columnOffset=0)"></div>
											</div>
										</li>
										<li class="list-group-item">

											<div class="row">
												<div
													th:replace="common/textOutput::output(label=#{variables.common.variable.survey.variableAlias},text=${resource.variableResource.variableDocument.variableSurvey.variableAlias},column=9,columnOffset=0)"></div>
											</div>
										</li>

										<li class="list-group-item">
											<div class="row">
												<div
													th:replace="common/textOutput::output(label=#{variables.common.variable.survey.period.start},text=${@customLocalDateFormatter.format(resource.variableResource.variableDocument.variableSurvey.surveyPeriod.startDate,#locale)},column=6,columnOffset=0)"></div>
												<div
													th:replace="common/textOutput::output(label=#{variables.common.variable.survey.period.end},text=${@customLocalDateFormatter.format(resource.variableResource.variableDocument.variableSurvey.surveyPeriod.endDate,#locale)},column=3,columnOffset=0)"></div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-primary">
							<div class="panel-heading custom-panel-heading"
								data-toggle="collapse" data-target="#relatedVariables">
								<a class="panel-title panel-toggle" href="#relatedVariables"
									data-toggle="collapse" th:text="#{question.variables}"></a>
							</div>
							<div id="relatedVariables"
								class="panel-collapse collapse fade in">
								<div class="panel-body">
									<div class="table-responsive">
										<table class="table table-hover">
											<thead>
												<tr>
													<th th:text="#{variables.common.variable.name}">name</th>
													<th th:text="#{variables.common.variable.label}">label</th>
													<th th:text="#{variables.common.variable.dataType}">dataType</th>
													<th th:text="#{variables.common.variable.scaleLevel}">scaleLevel</th>
													<th th:text="#{variables.common.variable.id}">id</th>
												</tr>
											</thead>
											<tbody>
												<tr
													th:each="relatedVariable, rowStat : *{resource.variableResource.variableDocument.relatedVariables}">
													<td>
														<div
															th:replace="common/tableCellOutputText::cellContent(text=${resource.variableResource.variableDocument.relatedVariables[__${rowStat.index}__].name})"></div>
													</td>
													<td>
														<div
															th:replace="common/tableCellOutputText::cellContent(text=${resource.variableResource.variableDocument.relatedVariables[__${rowStat.index}__].label})"></div>
													</td>
													<td>
														<div
															th:replace="common/tableCellOutputText::cellContent(text=${resource.variableResource.variableDocument.relatedVariables[__${rowStat.index}__].dataType})"></div>
													</td>
													<td
														th:text="${resource.variableResource.variableDocument.relatedVariables[__${rowStat.index}__].scaleLevel}"></td>
<!-- 													<td><a -->
<!-- 														th:href="${relatedVariableResources[__${rowStat.index}__].getLink('self').href}"><i -->
<!-- 															class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;<span -->
<!-- 															th:text="${resource.variableResource.variableDocument.relatedVariables[__${rowStat.index}__].id}"></span></a> -->
<!-- 													</td> -->
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="common/js_libraries::js"></div>
</body>
</html>
