<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:include="common/head::head">
</head>
<body>
	<header>
		<div th:include="common/navbar::navbar"></div>
		<div
			th:include="common/pageHeader::pageHeader(title=#{variable.details.subtitle(${variableDocument.label})},subtitle='('+${variableDocument.id}+')')"></div>
	</header>
	<div class="container">
		<div class="row">
			<!-- Results and Filter area -->
			<div class="col-md-12" id="searchResults">
				<div class="row">
					<!-- Filter -->
					<div class="col-md-3">
						<div class="panel panel-primary">
							<div class="panel-heading custom-panel-heading"
								data-toggle="collapse" data-target="#collapsePanel">
								<a class="panel-title panel-toggle" href="#collapsePanel"
									data-toggle="collapse" th:text="#{variables.details.extras}"></a>
							</div>
							<div id="collapsePanel" class="panel-collapse collapse fade in">
								<div class="panel-body">
									<a th:href="${resource.getLink('edit').getHref()}"><i class="glyphicon glyphicon-edit"></i><span class="textForIcon" th:text="Edit"></span></a>
								</div>
							</div>
						</div>
					</div>
					<!-- result and page -->
					<div class="col-md-9">
						<div class="panel panel-primary">
							<div class="panel-heading custom-panel-heading"
								data-toggle="collapse" data-target="#variableInfo">
								<a class="panel-title panel-toggle" href="#variableInfo"
									data-toggle="collapse"
									th:text="#{variables.common.variableData}"></a>
							</div>
							<div id="variableInfo" class="panel-collapse collapse fade in">
								<div class="panel-body">

									<ul class="list-group">
										<li class="list-group-item">
											<div class="row">
												<div
													th:replace="common/textOutput::output(label=#{variables.common.variable.name},text=${variableDocument.name},column=6, columnOffset=0)"></div>
											</div>
										</li>
										<li class="list-group-item">

											<div class="row">
												<div
													th:replace="common/textOutput::output(label=#{variables.common.variable.question},text=${variableDocument.question},column=9,columnOffset=0)"></div>
											</div>
										</li>
										<li class="list-group-item">

											<div class="row">
												<div
													th:replace="common/textOutput::output(label=#{variables.common.variable.dataType},text=${variableDocument.dataType},column=6,columnOffset=0)"></div>
												<div
													th:replace="common/textOutput::output(label=#{variables.common.variable.scaleLevel},text=${variableDocument.scaleLevel},column=3,columnOffset=0)"></div>
											</div>
										</li>
									</ul>

								</div>
							</div>
						</div>

						<div class="panel panel-primary">
							<div class="panel-heading custom-panel-heading"
								data-toggle="collapse" data-target="#answeroptions">
								<a class="panel-title panel-toggle" href="#answeroptions"
									data-toggle="collapse"
									th:text="#{variables.common.variable.answerOptions}"></a>
							</div>
							<div id="answeroptions" class="panel-collapse collapse fade in">
								<div class="panel-body">
								<div class="table-responsive custom-table">
									<table class="col-md-12 table table-hover">
										<thead>
											<tr>
												<th th:text="#{variables.common.variable.answerOption.code}">Code</th>
												<th
													th:text="#{variables.common.variable.answerOption.label}">Label</th>
											</tr>
										</thead>
										<tbody>
											<tr
												th:each="answerOption, rowStat : *{variableDocument.answerOptions}">
												<td
													th:text="${variableDocument.answerOptions[__${rowStat.index}__].code}"></td>
												<td
													th:text="${variableDocument.answerOptions[__${rowStat.index}__].label}"></td>
											</tr>
										</tbody>
									</table>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-primary">
							<div class="panel-heading custom-panel-heading"
								data-toggle="collapse" data-target="#survey">
								<a class="panel-title panel-toggle" href="#survey"
									data-toggle="collapse"
									th:text="#{variables.common.variable.surveyData}"></a>
							</div>
							<div id="survey" class="panel-collapse collapse fade in">
								<div class="panel-body">
									<ul class="list-group">
										<li class="list-group-item">
											<div class="row">
												<div
													th:replace="common/textOutput::output(label=#{variables.common.variable.survey.title},text=${variableDocument.variableSurvey.title},column=9,columnOffset=0)"></div>
											</div>
										</li>
										<li class="list-group-item">

											<div class="row">
												<div
													th:replace="common/textOutput::output(label=#{variables.common.variable.survey.id},text=${variableDocument.variableSurvey.surveyId},column=9,columnOffset=0)"></div>
											</div>
										</li>
										<li class="list-group-item">

											<div class="row">
												<div
													th:replace="common/textOutput::output(label=#{variables.common.variable.survey.variableAlias},text=${variableDocument.variableSurvey.variableAlias},column=9,columnOffset=0)"></div>
											</div>
										</li>

										<li class="list-group-item">
											<div class="row">
												<div
													th:replace="common/textOutput::output(label=#{variables.common.variable.survey.period.start},text=${variableDocument.variableSurvey.surveyPeriod.startDate},column=6,columnOffset=0)"></div>
												<div
													th:replace="common/textOutput::output(label=#{variables.common.variable.survey.period.end},text=${variableDocument.variableSurvey.surveyPeriod.endDate},column=3,columnOffset=0)"></div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="common/js_libraries::js"></div>
</body>
</html>
