<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:include="common/head::head">
</head>
<body th:attr="data-focus-element-id=${focusElementId?:''}" class="body-with-jumbotron" >
	<header>
		<div th:include="common/navbar::navbar"></div>
		<div
			th:include="common/jumbotron::jumbotron(title=#{__${resource.createMode?'variables.create.title':'variables.edit.title'}__},subtitle=#{__${resource.createMode?'variables.create.subtitle':'variables.edit.subtitle'}__})"></div>
	</header>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span class="panel-title" th:text="#{variables.common.variableData}">Variableninformationen</span>
			</div>
			<div class="panel-body">
				<!-- Bootstrap form -->
				<form action="#" th:action="${resource.saveLink}"
					th:attr="data-validate-url=${resource.validateLink}"
					th:object="${variableDocument}" method="post" id="form">

					<input type="hidden" id="windowYPosition" name="windowYPosition"
						th:value="${windowYPosition}" />

					<div th:replace="common/errorAlerts::globalAlerts(field=global)"></div>
					<div class="row">
						<div class="col-md-6">
							<div
								th:replace="common/inputs::input(field=id,label=#{variables.common.variable.id},placeholder=#{variables.common.variable.id},type=text,readonly=${!resource.createMode})"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div
								th:replace="common/inputs::input(field=label,label=#{variables.common.variable.label},placeholder=#{variables.common.variable.label},type=text,readonly=false)"></div>
						</div>
						<div class=" col-md-6">
							<div
								th:replace="common/inputs::input(field=name,label=#{variables.common.variable.name},placeholder=#{variables.common.variable.name},type=text,readonly=false)"></div>
						</div>
					</div>
					<div class="row">
						<div class=" col-md-6">
							<div
								th:replace="common/inputs::select(field=dataType,label=#{variables.common.variable.dataType},valuesMap=dataTypesMap,readonly=false)"></div>
						</div>
						<div class=" col-md-6">
							<div
								th:replace="common/inputs::select(field=scaleLevel,label=#{variables.common.variable.scaleLevel},valuesMap=scaleLevelMap,readonly=false)"></div>
						</div>
					</div>
					<div class="row">
						<div class=" col-md-12">
							<div
								th:replace="common/inputs::textarea(field=question,label=#{variables.common.variable.question},placeholder=#{variables.common.variable.question},rows=4,readonly=false)"></div>
						</div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<span class="panel-title"
								th:text="#{variables.common.variable.answerOptions}">Antwortoptionen</span>
						</div>
						<div class="panel-body">
							<div
								th:replace="common/errorAlerts::globalAlerts(field=answerOptions)"></div>
							<div th:each="answerOption, rowStat : *{answerOptions}"
								class="row">
								<div class="col-md-5">
									<div
										th:replace="common/inputs::input(field=answerOptions[__${rowStat.index}__].code,label=#{variables.common.variable.answerOption.code},placeholder=#{variables.common.variable.answerOption.code},type=number,readonly=false)"></div>
								</div>
								<div class="col-md-5">
									<div
										th:replace="common/inputs::input(field=answerOptions[__${rowStat.index}__].label,label=#{variables.common.variable.answerOption.label},placeholder=#{variables.common.variable.answerOption.label},type=text,readonly=false)"></div>
								</div>
								<div class="col-md-2">
									<div
										th:replace="common/buttons::removeButtonSmall(index=${rowStat.index},name=removeAnswerOption)">
									</div>
								</div>
							</div>
							<a id="addAnswerOption"></a>
							<button
								th:replace="common/buttons::addButton(id=addAnswerOptionButton,name=addAnswerOption)"></button>
						</div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<span class="panel-title"
								th:text="#{variables.common.variable.surveyData}">Erhebungsdaten</span>
						</div>
						<div class="panel-body">
							<div
								th:replace="common/errorAlerts::globalAlerts(field=variableSurvey)"></div>
							<div class="row">
								<div class=" col-md-6">
									<div
										th:replace="common/inputs::input(field=variableSurvey.surveyId,label=#{variables.common.variable.survey.id},placeholder=#{variables.common.variable.survey.id.placeholder},type=text,readonly=false)"></div>
								</div>
							</div>
							<div class="row">
								<div class=" col-md-6">
									<div
										th:replace="common/inputs::input(field=variableSurvey.title,label=#{variables.common.variable.survey.title},placeholder=#{variables.common.variable.survey.title},type=text,readonly=false)"></div>
								</div>
							</div>
							<div class="row">
								<div class=" col-md-6">
									<div
										th:replace="common/inputs::input(field=variableSurvey.variableAlias,label=#{variables.common.variable.survey.variableAlias},placeholder=#{variables.common.variable.survey.variableAlias.placeholder},type=text,readonly=false)"></div>
								</div>
							</div>
							<div class="row">
								<div class=" col-md-12">
									<div class="panel panel-primary">
										<div class="panel-heading">
											<span class="panel-title"
												th:text="#{variables.common.variable.survey.period}">Erhebungszeitraum</span>
										</div>
										<div class="panel-body">
											<div
												th:replace="common/errorAlerts::globalAlerts(field=variableSurvey.surveyPeriod)"></div>
											<div class="col-md-6">
												<div
													th:replace="common/calendar::date(field=variableSurvey.surveyPeriod.startDate,label=#{variables.common.variable.survey.period.start},placeholder=#{variables.common.variable.survey.period.start},readonly=false)"></div>
											</div>
											<div class="col-md-6">
												<div
													th:replace="common/calendar::date(field=variableSurvey.surveyPeriod.endDate,label=#{variables.common.variable.survey.period.end},placeholder=#{variables.common.variable.survey.period.end},readonly=false)"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div>
						<button th:replace="common/buttons::saveButton"></button>
						<a th:replace="common/buttons::cancelButton">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div th:include="common/js_libraries::js"></div>
	<script src="/js/variables/modify.js"></script>
	<script src="/js/variables/datepicker.js"></script>
</body>
</html>
