<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:include="common/head::head">
</head>
<body>
	<header>
		<div th:include="common/navbar::navbar"></div>
		<div
			th:include="common/jumbotron::jumbotron(title=#{variables.modify.title},subtitle='')"></div>
	</header>
	<div class="container">
		<div class="col-md-12">


			<div id="col-md-12 form-container" class="well">
				<!-- Bootstrap form -->
				<form th:fragment="form-container" action="#" th:action="@{create}"
					th:object="${variableDocument}" method="post" role="form" id="form">
					<fieldset class="scheduler-border">
						<legend class="scheduler-border" th:text="#{variabledocument}">Variable
							document</legend>
						<div class="form-group has-feedback"
							th:classappend="${#fields.hasErrors('id')}? has-error : has-success">
							<label th:text="#{variables.modify.variableDocumentID}">Variable
								document id</label> <input type="text" autocomplete="off"
								class="form-control" th:field="*{id}" /> <span
								class="glyphicon form-control-feedback"
								th:classappend="${#fields.hasErrors('id')}? glyphicon-remove : glyphicon-ok"></span>
							<span class="help-block">
								<p th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Incorrect
									id</p>
							</span>
						</div>

						<div class="form-group has-feedback"
							th:classappend="${#fields.hasErrors('name')}? has-error : has-success">
							<label th:text="#{variables.modify.variableDocumentName}">Variable
								document name</label> <input type="text" autocomplete="off"
								class="form-control" th:field="*{name}" /> <span
								class="glyphicon form-control-feedback"
								th:classappend="${#fields.hasErrors('name')}? glyphicon-remove : glyphicon-ok"></span>
							<span class="help-block">
								<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect
									name</p>
							</span>
						</div>

						<div class="form-group has-feedback"
							th:classappend="${#fields.hasErrors('label')}? has-error : has-success">
							<label th:text="#{variables.modify.variableDocumentLabel}">Variable
								document label</label> <input type="text" autocomplete="off"
								class="form-control" th:field="*{label}" /> <span
								class="glyphicon form-control-feedback"
								th:classappend="${#fields.hasErrors('label')}? glyphicon-remove : glyphicon-ok"></span>
							<span class="help-block">
								<p th:if="${#fields.hasErrors('label')}" th:errors="*{id}">Incorrect
									label</p>
							</span>
						</div>
					</fieldset>
					<fieldset class="scheduler-border">
						<legend class="scheduler-border" th:text="#{survey}">Survey</legend>
						<th:block th:object="${variableDocument.variableSurvey}">
							<div class="form-group has-feedback"
								th:classappend="${#fields.hasErrors('surveyId')}? has-error : has-success">
								<label th:text="#{variables.modify.surveyID}">Survey id</label>
								<input type="text" autocomplete="off" class="form-control"
									th:field="*{surveyId}" /> <span
									class="glyphicon form-control-feedback"
									th:classappend="${#fields.hasErrors('surveyId')}? glyphicon-remove : glyphicon-ok"></span>
								<span class="help-block">
									<p th:if="${#fields.hasErrors('surveyId')}"
										th:errors="*{surveyId}">Incorrect survey id</p>
								</span>
							</div>
							<div class="form-group has-feedback"
								th:classappend="${#fields.hasErrors('title')}? has-error : has-success">
								<label th:text="#{variables.modify.surveyTitle}">Survey
									title</label> <input type="text" autocomplete="off"
									class="form-control" th:field="*{title}" /> <span
									class="glyphicon form-control-feedback"
									th:classappend="${#fields.hasErrors('title')}? glyphicon-remove : glyphicon-ok"></span>
								<span class="help-block">
									<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect
										survey title</p>
								</span>
							</div>
							<div class="form-group has-feedback"
								th:classappend="${#fields.hasErrors('variableAlias')}? has-error : has-success">
								<label th:text="#{variables.modify.surveyVariableAlias}">Variable
									alias </label> <input type="text" autocomplete="off"
									class="form-control" th:field="*{variableAlias}" /> <span
									class="glyphicon form-control-feedback"
									th:classappend="${#fields.hasErrors('variableAlias')}? glyphicon-remove : glyphicon-ok"></span>
								<span class="help-block">
									<p th:if="${#fields.hasErrors('variableAlias')}"
										th:errors="*{variableAlias}">Incorrect variable alias</p>
								</span>
							</div>

							<div class="form-group has-feedback"
								th:classappend="${#fields.hasErrors('surveyPeriod')}? has-error : has-success">
								<label th:text="#{variables.modify.surveyStartDate}">From
								</label> <input type="date" autocomplete="off" class="form-control"
									th:field="*{surveyPeriod.startDate}" /> <span
									class="glyphicon form-control-feedback"
									th:classappend="${#fields.hasErrors('surveyPeriod')}? glyphicon-remove : glyphicon-ok"></span>
								<span class="help-block">
									<p th:if="${#fields.hasErrors('surveyPeriod')}"
										th:errors="*{surveyPeriod}">Incorrect Start date</p>
								</span>
							</div>
							<div class="form-group has-feedback"
								th:classappend="${#fields.hasErrors('surveyPeriod')}? has-error : has-success">
								<label th:text="#{variables.modify.surveyEndDate}">To </label> <input
									type="date" autocomplete="off" class="form-control"
									th:field="*{surveyPeriod.endDate}" /> <span
									class="glyphicon form-control-feedback"
									th:classappend="${#fields.hasErrors('surveyPeriod')}? glyphicon-remove : glyphicon-ok"></span>
								<span class="help-block">
									<p th:if="${#fields.hasErrors('surveyPeriod')}"
										th:errors="*{surveyPeriod}">Incorrect End date</p>
								</span>
							</div>

						</th:block>
					</fieldset>


					<fieldset class="scheduler-border">
						<legend class="scheduler-border" th:text="#{answeroptions}">AnswerOptions</legend>

						<div th:each="answerOption, rowStat : *{answerOptions}">
							<label
								th:text="#{variables.modify.answerOption}+': '+${rowStat.index+1}">AnswerOption</label>
							<div class="form-group has-feedback "
								th:classappend="${#fields.hasErrors('answerOptions[__${rowStat.index}__].label')}? has-error : has-success">
								<label th:text="#{variables.modify.answerOptionLabel}">Label
								</label> <input type="text" autocomplete="off" class="form-control"
									th:field="*{answerOptions[__${rowStat.index}__].label}" /> <span
									class="glyphicon form-control-feedback"
									th:classappend="*{answerOptions[__${rowStat.index}__].label}? glyphicon-remove : glyphicon-ok"></span>
								<span class="help-block">
									<p th:if="*{answerOptions[__${rowStat.index}__].label}"
										th:errors="*{answerOptions[__${rowStat.index}__].label}">Incorrect
										label</p>
								</span>
							</div>


							<div class="form-group has-feedback "
								th:classappend="${#fields.hasErrors('answerOptions[__${rowStat.index}__].code')}? has-error : has-success">
								<label th:text="#{variables.modify.answerOptionCode}">Code
								</label> <input type="text" autocomplete="off" class="form-control"
									th:field="*{answerOptions[__${rowStat.index}__].code}" /> <span
									class="glyphicon form-control-feedback"
									th:classappend="*{answerOptions[__${rowStat.index}__].code}? glyphicon-remove : glyphicon-ok"></span>
								<span class="help-block">
									<p th:if="*{answerOptions[__${rowStat.index}__].code}"
										th:errors="*{answerOptions[__${rowStat.index}__].code}">Incorrect
										code</p>
								</span>
							</div>
						</div>

						<button type="submit" name="addOption" class="btn"
							th:text="#{variables.modify.addAnswerOption}">Add</button>
						<button type="submit" name="removeOption" class="btn"
							th:text="#{variables.modify.removeAnswerOption}">Remove</button>
					</fieldset>
					<hr class="divider"></hr>
					<div>
						<button type="submit" class="btn btn-default btn-primary"
							th:text="#{common.button.submit}">Save</button>
						<button form="form" type="reset" class="btn"
							th:text="#{common.button.cancel}">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div th:include="common/js_libraries::js"></div>
</body>
</html>
