<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:include="common/head::head">
</head>
<body>
	<header>
		<div th:include="common/navbar::navbar"></div>
		<div
			th:include="common/jumbotron::jumbotron(title=#{variables.search.title},subtitle=#{variables.search.subtitle})"></div>
	</header>
	<div class="container">
		<div class="row">
			<!-- SearchBox -->
			<div class="col-md-12 col-md-offset-3">
				<div class="row">
					<div class="col-md-9">
						<div class="panel panel-primary">
							<div class="panel-body">
								<form id="searchVariables" action="#"
									th:action="${resource.variablesSearchLink.href}"
									oninput="VariableSearchForm.search(this)" role="search"
									autocomplete="off">
									<div class="input-group">
										<label class="sr-only" for="search"
											th:text="#{variables.search.searchinput.placeholder}">Search
											for Variables</label> <input type="text" class="form-control"
											id="term" name="query" th:value="${query}"
											th:placeholder="#{variables.search.searchinput.placeholder}" />
										<span class="input-group-btn">
											<button type="submit" class="btn btn-default">
												<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
											</button>
										</span>
									</div>
								</form>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- Results and Filter area -->
			<div class="col-md-12" id="searchResults">
				<div class="row">
					<!-- Filter -->
					<div class="col-md-3">
						<div class="panel panel-primary">
							<div class="panel-heading custom-panel-heading"
								data-toggle="collapse" data-target="#collapsePanel">
								<a class="panel-title panel-toggle" href="#collapsePanel"
									data-toggle="collapse">Filter </a>
							</div>
							<div id="collapsePanel" class="panel-collapse collapse fade in">
								<div class="panel-body">Filters are coming soon...</div>
							</div>
						</div>
					</div>
					<!-- result and page -->
					<div class="col-md-9">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<span class="panel-title"
									th:text="${resource.page.metadata.totalElements}>0?#{variables.search.numberOfResults(${resource.page.metadata.totalElements},${resource.page.metadata.number}*${resource.page.metadata.size}+1,${resource.page.metadata.number}*${resource.page.metadata.size}+${resource.page.content.size()})}:#{variables.search.noresults(${query})}">100
									Variablen gefunden </span>
							</div>
							<div class="panel-body">
								<div class="list-group">
									<a th:if="${resource.page.content.size() gt 0}"
										th:href="${variable.id.href}" class="list-group-item "
										th:each="variable : ${resource.page}">
										<h4 class="list-group-item-heading"
											th:text="${variable.variableDocument.label}"></h4>
										<p class="list-group-item-text"
											th:text="'Name: '+${variable.variableDocument.name}"></p>
										<p class="list-group-item-text"
											th:text="#{variables.search.question(${variable.variableDocument.question})}"></p>

										<p class="list-group-item-text"
											th:text="#{variables.search.survey(${variable.variableDocument.variableSurvey.title})}"></p>
									</a>
									<p th:if="${resource.page.content.size() == 0}">
									<h4 class="list-group-item-heading"
										th:text="#{variables.search.noresults(${query})}"></h4>
									</p>
								</div>
								<div th:if="${resource.page.content.size() gt 0}">
									<ul class="pager">
										<li class="previous"
											th:if="${resource.page.previousLink != null}"><a
											th:href="${resource.page.previousLink.href}">&larr; <span
												th:text="#{common.pager.previous}"></span></a></li>
										<li class="previous disabled"
											th:if="${resource.page.previousLink == null}"><a>&larr;
												<span th:text="#{common.pager.previous}"></span>
										</a></li>

										<li><a> <span
												th:text="#{common.pagenumbers(${resource.page.metadata.number}+1,${resource.page.metadata.totalPages})}"></span>
										</a></li>
										<li class="next" th:if="${resource.page.nextLink != null}"><a
											th:href="${resource.page.nextLink.href}"><span
												th:text="#{common.pager.next}"></span> &rarr;</a></li>
										<li class="next disabled"
											th:if="${resource.page.nextLink == null}"><a><span
												th:text="#{common.pager.next}"></span> &rarr;</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="common/js_libraries::js"></div>
	<script src="/js/variables/search.js"></script>
</body>
</html>
