<span class="label label-as-badge" ng-class="{'fdz-released': released, 'fdz-unreleased': !released}">
{{(released ? 'common.releasestatusbadge.released' : 'common.releasestatusbadge.unreleased') | translate}}
</span>
