fdz-breadcrumbs {
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  & > * {
    max-width: $content-width;
  }
}
.fdz-breadcrumbs {
  display: flex;
  margin: 16px 8px 8px 8px;
  width: 100%;

  @include rwd(500) {
    padding-left: 8px;
  }
}
