$card-border-radius: 2px !default;

.fdz-theme md-card {
  position: relative;

  color: $foreground-1;
  background-color: $background-hue-1;
  border-radius: $card-border-radius;

  md-card-header {
    md-card-header-text {
      .md-subhead {
        color: $foreground-3-038;
      }
    }
  }

  md-card-title {
    md-card-title-text {
      &:not(:only-child) {
        .md-subhead {
          color: $foreground-2;
        }
      }
    }
  }

  md-card-content {
    display: block;
    padding: 0 16px 16px 16px;
  }
}
