.fdz-tag-link-container {
  display: flex;
  align-items: baseline;
  width:100%;
  h5 {
    color: $foreground-3;
    margin-right: 8px;
  }
  a {
    font-weight: normal;
    min-height: auto;
    min-width: auto;
    font-size: 100%;
    &:not(:last-child) {
      //margin-right: 8px;
    }
  }
}
