<md-card class="mb8">
  <md-card-header>
    <md-card-header-text>
      <h2 class="md-title">
        {{ 'analysis-package-management.detail.label.data-packages' | translate}}</h2>
    </md-card-header-text>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content>

  </md-card-content>
  <md-card-actions layout="row" layout-align="begin center"
                   style="margin-top: 0px; margin-bottom: 12px;">
    <md-button class="md-primary md-raised md-icon-button ml6"
               ng-click="$ctrl.addPackage()">
      <md-tooltip md-autohide="true"
                  md-direction="bottom"
                  md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
        {{'analysis-package-management.edit.add-script-tooltip' | translate}}
      </md-tooltip>
      <md-icon md-font-set="material-icons">add</md-icon>
    </md-button>
  </md-card-actions>
</md-card>
