<md-card>
  <md-card-header ng-click="$ctrl.collapsed = !$ctrl.collapsed">
    <md-card-header-text>
      <h2 class="md-title">{{'data-package-management.detail.attachments.table-title' | translate}}</h2>
    </md-card-header-text>
    <md-button
      class="md-card-collapsible-button"
      aria-label="{{($ctrl.collapsed ? 'global.collapsed' : 'global.uncollapsed') | translate}}">
      <md-icon md-font-set="material-icons" ng-if="!$ctrl.collapsed">keyboard_arrow_up</md-icon>
      <md-icon md-font-set="material-icons" ng-if="$ctrl.collapsed">keyboard_arrow_down</md-icon>
    </md-button>
  </md-card-header>
  <div ng-if="!$ctrl.collapsed">
    <md-card-content>
      <md-divider
        ng-if="$ctrl.options.dataPackage && $ctrl.options.dataPackage.length > 0"></md-divider>
      <fdz-attachment
        ng-if="$ctrl.options.dataPackage && $ctrl.options.dataPackage.length > 0"
        collapsed = false
        headline ="'search-management.filter.data-package'"
        lang="$ctrl.lang"
        options="$ctrl.options.dataPackage"
        template-url= "scripts/datapackagemanagement/components/attachments.html.tmpl"
      ></fdz-attachment>
      <md-divider
        ng-if="$ctrl.options.surveys && $ctrl.options.surveys.length > 0"></md-divider>
      <fdz-attachment
        ng-if="$ctrl.options.surveys && $ctrl.options.surveys.length > 0"
        collapsed = true
        headline ="'search-management.tabs.surveys'"
        lang="$ctrl.lang"
        options="$ctrl.options.surveys"
        template-url= "scripts/datapackagemanagement/components/attachments.html.tmpl"
      ></fdz-attachment>
      <md-divider
        ng-if="$ctrl.options.instruments && $ctrl.options.instruments.length > 0"></md-divider>
      <fdz-attachment
        ng-if="$ctrl.options.instruments && $ctrl.options.instruments.length > 0"
        collapsed = false
        headline ="'search-management.tabs.instruments'"
        lang="$ctrl.lang"
        options="$ctrl.options.instruments"
        template-url= "scripts/datapackagemanagement/components/attachments-instrument.html.tmpl"
      ></fdz-attachment>
      <md-divider
        ng-if="$ctrl.options.dataSets && $ctrl.options.dataSets.length > 0"></md-divider>
      <fdz-attachment
        ng-if="$ctrl.options.dataSets && $ctrl.options.dataSets.length > 0"
        collapsed = false
        headline ="'search-management.tabs.data_sets'"
        lang="$ctrl.lang"
        options="$ctrl.options.dataSets"
        template-url= "scripts/datapackagemanagement/components/attachments.html.tmpl"
      ></fdz-attachment>

    </md-card-content>
  </div>
</md-card>
