<md-card>
  <md-card-header ng-click="$ctrl.collapsed = !$ctrl.collapsed">
    <md-card-header-text>
      <h2 class="md-title">{{'global.cards.details' | translate }}</h2>
    </md-card-header-text>
    <md-button
      class="md-card-collapsible-button"
      aria-label="{{($ctrl.collapsed ? 'global.collapsed' : 'global.uncollapsed') | translate}}">
      <md-icon md-font-set="material-icons" ng-if="!$ctrl.collapsed">keyboard_arrow_up</md-icon>
      <md-icon md-font-set="material-icons" ng-if="$ctrl.collapsed">keyboard_arrow_down</md-icon>
    </md-button>
  </md-card-header>
  <div ng-if="!$ctrl.collapsed">
    <md-card-content>
      <md-list>
        <md-list-item ng-if="$ctrl.options.dataPackage.studySeries">
          <h5>{{'data-package-management.detail.label.studySeries' | translate }}:</h5>
          <a
            ng-if="$ctrl.options.isAuthenticated()"
            class="md-secondary"
            ui-sref="search({'type': 'data_packages', 'study-series-{{$ctrl.lang}}': $ctrl.options.dataPackage.studySeries.{{$ctrl.lang}}})">
            <span display-i18n-string="$ctrl.options.dataPackage.studySeries" ></span>
            <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'data-package-management.detail.tooltips.data-packages.study-series' | translate}}
            </md-tooltip>
          </a>
          <a
            ng-if="!$ctrl.options.isAuthenticated()"
            class="md-secondary"
            ui-sref="search({'type': 'data_packages', 'study-series': $ctrl.options.dataPackage.studySeries.{{$ctrl.lang}}})">
            <span display-i18n-string="$ctrl.options.dataPackage.studySeries" ></span>
            <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'data-package-management.detail.tooltips.data-packages.study-series' | translate}}
            </md-tooltip>
          </a>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.dataPackage.institutions">
          <h5>{{'data-package-management.detail.label.institutions' | translate }}:</h5>
          <span
            class="md-secondary" style="white-space: pre-wrap;"
            ng-repeat="institution in $ctrl.options.dataPackage.institutions">{{institution[$ctrl.lang]}}{{!$last?'; ':''}}</span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.dataPackage.sponsors">
          <h5>{{'data-package-management.detail.label.sponsors' | translate }}:</h5>
	  <div class="md-secondary">
	    <div style="white-space:pre-wrap" ng-repeat="sponsor in $ctrl.options.dataPackage.sponsors"><ul style="margin-bottom:5px;padding-left:0px;list-style-type: none;"><li>{{sponsor.name[$ctrl.lang]}}<br ng-if="sponsor.fundingRef ? true : false" /><h5 ng-if="sponsor.fundingRef ? true : false" style="display:inline">{{'data-package-management.detail.label.fundingRef' | translate }}: </h5>{{sponsor.fundingRef}}<br ng-if="sponsor.fundingProgram ? true : false" /><h5 ng-if="sponsor.fundingProgram ? true : false" style="display:inline">{{'data-package-management.detail.label.fundingProgram' | translate }}: </h5>{{sponsor.fundingProgram}}</li></ul></div>
	  </div>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.dataPackage.projectContributors">
          <h5>{{'data-package-management.detail.label.projectContributors' | translate }}:</h5>
          <div
            class="md-secondary pre"
            ng-repeat="person in $ctrl.options.dataPackage.projectContributors"><span>{{person.lastName}}, {{person.firstName}}{{person.middleName !== undefined?' '+person.middleName:''}}</span><a ng-if="person.orcid" href="https://orcid.org/{{person.orcid}}" target="_blank"> <img alt="ORCID logo" src="assets/images/icons/ORCID.svg" style="width: 16px; height: 16px;"/></a>{{!$last?'; ':''}}</div>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.dataPackage.surveyDesign">
          <h5>{{'data-package-management.detail.label.surveyDesign' | translate }}:</h5>
          <span
            class="md-secondary"
            display-i18n-string="$ctrl.options.dataPackage.surveyDesign" ></span>
        </md-list-item>
        <md-list-item
          ng-if="$ctrl.options.dataPackage.surveyDesign.en==='Panel' && $ctrl.options.dataPackage.numberOfWaves > 0">
          <h5>{{'data-package-management.detail.label.wave' | translate }}:</h5>
          <span
            class="md-secondary">{{$ctrl.options.dataPackage.numberOfWaves}}</span>
        </md-list-item>
        <md-list-item
          ng-if="$ctrl.options.dataPackage.surveyDataTypes && $ctrl.options.dataPackage.surveyDataTypes.length > 0">
          <h5>{{'data-package-management.detail.label.survey-data-type' | translate }}:</h5>
          <span
            class="md-secondary pre"
            ng-repeat="dataType in $ctrl.options.dataPackage.surveyDataTypes">{{dataType[$ctrl.lang]}}{{!$last?'; ':''}}</span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.dataPackage.dataLanguages && $ctrl.options.dataPackage.dataLanguages.length > 0">
          <h5>{{'data-package-management.detail.label.dataLanguages' | translate }}:</h5>
          <span
            class="md-secondary pre"
            ng-repeat="language in $ctrl.options.dataPackage.dataLanguages">{{(language | displayIsoLanguage: $ctrl.lang)}}{{$index + 1 !== $ctrl.options.dataPackage.dataLanguages.length ? ', ': ''}}</span>
          </span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.dataPackage.dataCurators">
          <h5>{{'data-package-management.detail.label.data-curators' | translate }}:</h5>
          <div
            class="md-secondary pre"
            ng-repeat="person in $ctrl.options.dataPackage.dataCurators"><span>{{person.lastName}}, {{person.firstName}}{{person.middleName !== undefined?' '+person.middleName:''}}</span><a ng-if="person.orcid" href="https://orcid.org/{{person.orcid}}" target="_blank"> <img alt="ORCID logo" src="assets/images/icons/ORCID.svg" style="width: 16px; height: 16px;"/></a>{{!$last?'; ':''}}</div>
        </md-list-item>
        <md-list-item
          ng-if="$ctrl.options.dataPackage.doi">
          <h5>{{'data-package-management.detail.label.doi' | translate }}:</h5>
          <a
            ng-href="https://doi.org/{{$ctrl.options.dataPackage.doi}}"
            class="md-secondary"
            target="_blank">
            {{$ctrl.options.dataPackage.doi}}
            <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'data-package-management.detail.doi-tooltip' | translate}}
            </md-tooltip>
          </a>
        </md-list-item>
        <md-list-item>
          <h5>{{'data-package-management.detail.label.version' | translate }}:</h5>
          <span
            class="md-secondary">{{$ctrl.options.dataPackage.release?$ctrl.options.dataPackage.release.version + ' (' + ('data-package-management.detail.label.published-at' | translate) + ' ' + ($ctrl.options.dataPackage.release.firstDate + 'Z' | date:'mediumDate') + ')': ('data-package-management.detail.not-yet-released' | translate)}}</span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.dataPackage.remarksUserService && $ctrl.options.showRemarks">
          <h5>{{'data-package-management.detail.label.remarksUserService' | translate }}:</h5>
          <span class="md-secondary">{{$ctrl.options.dataPackage.remarksUserService}}</span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.dataPackage.annotations">
          <h5>{{'data-package-management.detail.label.annotations' | translate }}:</h5>
          <p
            class="md-secondary"
            markdown-to-html="$ctrl.options.dataPackage.annotations | displayI18nString"
            ></p>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.dataPackage.additionalLinks && $ctrl.options.dataPackage.additionalLinks.length > 0">
          <h5>{{'data-package-management.detail.label.additional-links' | translate }}:</h5>
          <ul class="md-secondary" style="list-style-type: none; margin: 0px; margin-block: 0px; padding-inline: 0px; padding: 0px;">
            <li ng-repeat="link in $ctrl.options.dataPackage.additionalLinks">
              <a href="{{link.url}}" target="_blank">
                {{ link.displayText ? (link.displayText | displayI18nString) : link.url}}
                <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                  {{'data-package-management.detail.link-tooltip' | translate}}
                </md-tooltip>
              </a>
            </li>
          </ul>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.dataPackage.approvedUsage && $ctrl.options.dataPackage.approvedUsage.length > 0">
          <h5>{{'data-package-management.detail.label.approvedUsage' | translate }}:</h5>
          <p
            class="md-secondary"
            markdown-to-html="$ctrl.options.dataPackage.approvedUsage"
            ></p>
        </md-list-item>
      </md-list>
    </md-card-content>
  </div>
</md-card>
