<md-card>
  <md-card-header ng-click="$ctrl.collapsed = !$ctrl.collapsed">
    <md-card-header-text>
      <h2 class="md-title">{{'survey-management.detail.label.geographic-coverages' | translate}}</h2>
    </md-card-header-text>
    <md-button class="md-card-collapsible-button" aria-label="{{($ctrl.collapsed ? 'global.collapsed' : 'global.uncollapsed') | translate}}">
      <md-icon md-font-set="material-icons" ng-if="!$ctrl.collapsed">keyboard_arrow_up</md-icon>
      <md-icon md-font-set="material-icons" ng-if="$ctrl.collapsed">keyboard_arrow_down</md-icon>
    </md-button>
  </md-card-header>
  <div ng-if="!$ctrl.collapsed">
    <md-card-content>
      <md-list>
        <md-list-item ng-repeat="geographicCoverage in $ctrl.options.survey.population.geographicCoverages">
          <h5>{{$ctrl.options.getCountryName(geographicCoverage)}}{{geographicCoverage.description != null ? ':' :''}}</h5>
          <p ng-if="geographicCoverage.description"
            class="md-secondary"
            markdown-to-html="geographicCoverage.description | displayI18nString"
            ></p>
        </md-list-item>
      </md-list>
    </md-card-content>
  </div>
</md-card>
