<div block-ui="blockRelatedPublicationContainer">
<div  ng-if="RelatedPublicationController.relatedPublications.totalHits !== 0" class="fdz-InfiniteScroll">
    <md-virtual-repeat-container id="vertical-container">
     <div md-virtual-repeat="relatedPublication in RelatedPublicationController.relatedPublications" md-on-demand
         class="fdz-repeated-item" flex>
         <related-publication-search-result search-result="relatedPublication._source"></related-publication-search-result>
     </div>
   </md-virtual-repeat-container>
</div>
  <div ng-if="RelatedPublicationController.relatedPublications.totalHits === 0" layout-margin>
    <span>{{'related-publication-management.detail.no-related-publications' | translate }}</span>
  </div>
</div>
