<footer class="fdz-footer">
  <div class="layout-gt-md-row layout-align-gt-md-space-between-stretch layout-align-center-center layout-column">
    <div class="layout-align-end-center layout-column">
      <div>
        <a  class="fdz-footer__link" href="{{$ctrl.lang === 'de' ? 'https://www.dzhw.eu/index_html' : 'https://www.dzhw.eu/en/index_html'}}" target="_blank">
          <span class="hide-xs show-gt-xs">2023 {{'disclosure.company' | translate}}</span>
          <span class="hide-gt-xs">2023 DZHW GmbH</span>
        </a>
      </div>
    </div>
    <div class="logo layout-align-center-center layout-row">
      <a class="dzhw" ng-href="{{$ctrl.lang==='de'?'https://www.dzhw.eu/':'http://www.dzhw.eu/en/index_html'}}" target="_blank">
        <img ng-if="$ctrl.lang==='de'" src="assets/images/DZHW_Logo_de.svg" alt="{{'global.logos.dzhw-alt-text'|translate}}">
        <img ng-if="$ctrl.lang==='en'" src="assets/images/DZHW_Logo_en.svg" alt="{{'global.logos.dzhw-alt-text'|translate}}">
      </a>
      <a class="bmbf" ng-href="{{$ctrl.lang==='de'?'https://www.bmbf.de/':'https://www.bmbf.de/en/index.html'}}" target="_blank">
        <img ng-if="$ctrl.lang==='de'" src="assets/images/logo-bmbf-de.svg" alt="{{'global.logos.bmbf-alt-text'|translate}}">
        <img ng-if="$ctrl.lang==='en'" src="assets/images/logo-bmbf-en.svg" alt="{{'global.logos.bmbf-alt-text'|translate}}">
      </a>
    </div>
    <div class="layout-align-end-center layout-column">
      <div>
        <a class="fdz-footer__link" ui-sref="disclosure">
          <span data-translate="global.menu.disclosure">Disclosure</span>
        </a>
        <a class="fdz-footer__link" href="{{$ctrl.lang === 'de' ? 'https://www.dzhw.eu/gmbh/datenschutz/datenschutzerklaerung' : 'https://www.dzhw.eu/en/gmbh/datenschutz/datenschutzerklaerung'}}" target="_blank">
          <span data-translate="global.menu.dataprotection">security</span>
        </a>
        <a class="fdz-footer__link" href="{{$ctrl.lang === 'de' ? 'https://www.fdz.dzhw.eu/de/datennutzung' : 'https://www.fdz.dzhw.eu/en/data-usage'}}" target="_blank">
          <span data-translate="global.menu.data-access">Data Access</span>
        </a>
        <a class="fdz-footer__link" ng-click="$ctrl.openDialog()">
          <span data-translate="global.navbar-feedback.title">Feedback</span>
        </a>
        <a class="fdz-footer__link" href="https://metadatamanagement.readthedocs.io/de/stable/" target="_blank">
          <span data-translate="global.menu.documentation">Documentation</span>
        </a>
      </div>
    </div>
  </div>
</footer>
