<md-toolbar id="toolbar" md-whiteframe="4">
    <div ng-show="{{ENV === 'local' || ENV === 'dev' || ENV === 'test'}}" class="ribbon" ng-cloak>{{ENV}}</div>
    <div class="md-toolbar-tools" layout="row" ng-switch="isAuthenticated()">
        <md-button class="md-primary md-raised md-hue-1 md-icon-button" hide-gt-md ng-click="toggleLeft()">
            <md-icon md-font-set="material-icons">menu</md-icon>
        </md-button>
        <h1 class="md-headline fdz-truncate-string" flex>{{pageTitle | translate }}</h1>
        <md-button  id="changeLanguageToEn" aria-label="{{'global.toolbar.buttons.change-language' | translate}}" class="md-primary md-raised md-hue-1" ng-class="{'md-icon-button': $mdMedia('xs')}" ng-click="changeLanguage('en')" ng-if="currentLanguage!='en'">
          <md-tooltip>
              {{'global.toolbar.buttons.change-language' | translate}}
          </md-tooltip>
            <md-icon md-font-set="material-icons">language</md-icon>
            <span hide-xs>English</span>
        </md-button>
        <md-button id="changeLanguageToDe" aria-label="{{'global.toolbar.buttons.change-language' | translate}}" class="md-primary md-raised md-hue-1" ng-class="{'md-icon-button': $mdMedia('xs')}" ng-click="changeLanguage('de')" ng-if="currentLanguage!='de'">
            <md-tooltip>
                {{'global.toolbar.buttons.change-language' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">language</md-icon>
            <span hide-xs>Deutsch</span>
        </md-button>
        <div ng-switch-when="true">
            <md-button id="logout" aria-label="{{'global.toolbar.buttons.logout' | translate}}" class="md-primary md-raised md-hue-1" ng-class="{'md-icon-button': $mdMedia('xs')}" ng-click="logout()">
                <md-tooltip>
                    {{'global.toolbar.buttons.logout' | translate}}
                </md-tooltip>
                <md-icon md-svg-src="/assets/images/icons/logout.svg"></md-icon>
                <span hide-xs>{{identity.login}}</span>
            </md-button>
        </div>
        <div ng-switch-when="false">
            <md-button aria-label="{{'global.toolbar.buttons.login' | translate}}" id="login" class="md-primary md-raised md-hue-1" ng-class="{'md-icon-button': $mdMedia('xs')}" ng-click="login()">
                <md-tooltip>
                    {{'global.toolbar.buttons.login' | translate}}
                </md-tooltip>
                <md-icon md-svg-src="/assets/images/icons/login.svg"></md-icon>
                <span hide-xs data-translate="global.toolbar.buttons.login">Login</span>
            </md-button>
        </div>
        <div ng-switch-when="false">
            <md-button aria-label="{{'global.toolbar.buttons.register' | translate}}" id="register" class="md-primary md-raised md-hue-1" ng-class="{'md-icon-button': $mdMedia('xs')}" ng-click="register()">
                <md-tooltip>
                    {{'global.toolbar.buttons.register' | translate}}
                </md-tooltip>
                <md-icon md-svg-src="/assets/images/icons/account-plus.svg"></md-icon>
                <span hide-xs data-translate="global.toolbar.buttons.register">Register</span>
            </md-button>
        </div>
            <md-button id="basket" aria-label="Warenkorb" class="md-primary md-raised md-hue-1" ng-class="{'md-icon-button': $mdMedia('xs')}" ng-click="basket()">
                <md-tooltip>
                  Warenkorb
                </md-tooltip>
                <md-icon md-svg-src="/assets/images/icons/basket.svg"></md-icon>
                <span hide-xs>Warenkorb ({{itemsInBasket || 0}})</span>
            </md-button>
        </div>
</md-toolbar>
