<md-toolbar id="toolbar" md-whiteframe="4">
    <div ng-show="{{ENV === 'local' || ENV === 'dev' || ENV === 'test'}}" class="ribbon" ng-cloak>{{ENV}}</div>
    <div class="md-toolbar-tools" layout="row">
        <md-button class="md-primary md-raised md-icon-button fdz-toolbar-button" hide-gt-md ng-click="toggleLeft()">
            <md-icon md-font-set="material-icons">menu</md-icon>
            <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 20">
                {{'global.toolbar.buttons.open-menu-tooltip' | translate}}
            </md-tooltip>
        </md-button>
        <div layout="row" layout-align="start center" flex>
            <div ng-repeat="item in toolbarHeaderItems">
                <md-button style="max-width: 250px; transition: unset;" ng-class="{'md-accent': $first, 'md-primary': !$first, 'hide-xs': $mdMedia('xs') && !$first, 'hide-sm': $mdMedia('sm') && !$first, 'md-icon-button': $mdMedia('xs')}" class="md-raised fdz-toolbar-button" ng-if="!$last && !item.notFound && item.state" ui-sref="{{item.state}}">
                    <md-icon ng-if="item.iconType == 'font'" md-font-set="material-icons" aria-label="">{{item.icon}}</md-icon>
                    <md-icon ng-if="item.iconType == 'svg'" md-svg-icon="{{item.icon}}" aria-label=""></md-icon>
                    <span hide-xs class="fdz-truncate-string">{{item.type | translate}}</span>
                    <span hide-xs class="fdz-truncate-string" ng-if="item.tabName">({{item.tabName | translate}})</span>
                    <span hide-xs class="fdz-truncate-string" ng-if="item.id">{{item.id}}</span>
                    <span hide-xs class="fdz-truncate-string" ng-if="item.number">{{item.number}}</span>
                    <span hide-xs class="fdz-truncate-string" ng-if="item.numbers">{{item.numbers}}</span>
                    <span hide-xs class="fdz-truncate-string" ng-if="item.projectId">{{item.projectId}}</span>
                    <span hide-xs class="fdz-truncate-string" ng-if="item.name">{{item.name}}</span>
                    <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                      <span ng-if="item.tabName" translate='{{item.tooltip}}' translate-value-tabname="{{item.tabName | translate}}"></span>
                      <span ng-if="item.id" translate='{{item.tooltip}}' translate-value-param="{{item.id}}"></span>
                      <span ng-if="item.number" translate='{{item.tooltip}}' translate-value-param="{{item.number}}"></span>
                      <span ng-if="item.numbers" translate='{{item.tooltip}}' translate-value-param="{{item.numbers}}"></span>
                      <span ng-if="item.projectId" translate='{{item.tooltip}}' translate-value-param="{{item.projectId}}"></span>
                      <span ng-if="item.name" translate='{{item.tooltip}}' translate-value-param="{{item.name}}"></span>
                    </md-tooltip>
                </md-button>
                <md-button class="fdz-truncate-string" ng-if="item.notFound" ng-class="{'hide-xs': $mdMedia('xs'), 'hide-sm': $mdMedia('sm') && !$first}" disabled="true" style="max-width: 250px; margin-left: 2px; color: rgba(255,255,255,0.87);">
                    <md-icon ng-if="item.iconType == 'font'" md-font-set="material-icons" style="color: rgba(255,255,255,0.87);" aria-label="">{{item.icon}}</md-icon>
                    <md-icon ng-if="item.iconType == 'svg'" md-svg-icon="{{item.icon}}" style="fill: rgba(255,255,255,0.87);" aria-label=""></md-icon>
                    {{item.type | translate}}
                    <span class="fdz-truncate-string">{{item.notFound}}</span>
                </md-button>
                <md-icon md-font-set="material-icons" ng-class="{'hide-xs': $mdMedia('xs'), 'hide-sm': $mdMedia('sm') && !$first}" ng-if="!$last">forward</md-icon>
                <md-button class="fdz-truncate-string" ng-if="$last" disabled="true" style="max-width: 250px; margin-left: 2px; color: rgba(255,255,255,0.87);">
                    <md-icon ng-if="item.iconType == 'font'" md-font-set="material-icons" style="color: rgba(255,255,255,0.87);" aria-label="">{{item.icon}}</md-icon>
                    <md-icon ng-if="item.iconType == 'svg'" md-svg-icon="{{item.icon}}" style="fill: rgba(255,255,255,0.87);" aria-label=""></md-icon>
                    {{item.type | translate}}
                    <span class="fdz-truncate-string" ng-if="item.tabName">({{item.tabName | translate}})</span>
                    <span class="fdz-truncate-string" ng-if="item.id">{{item.id}}</span>
                    <span class="fdz-truncate-string" ng-if="item.number">{{item.number}}</span>
                    <span class="fdz-truncate-string" ng-if="item.projectId">{{item.projectId}}</span>
                    <span class="fdz-truncate-string" ng-if="item.name">{{item.name}}</span>
                </md-button>
            </div>
        </div>
    </div>
</md-toolbar>
