<md-toolbar id="toolbar" md-whiteframe="4">
    <div ng-show="{{ENV === 'local' || ENV === 'dev' || ENV === 'test'}}" class="ribbon" ng-cloak>{{ENV}}</div>
    <div class="md-toolbar-tools" layout="row" ng-switch="isAuthenticated()">
        <md-button class="md-primary md-raised md-icon-button fdz-toolbar-button" hide-gt-md ng-click="toggleLeft()">
            <md-icon md-font-set="material-icons">menu</md-icon>
            <md-tooltip md-z-index="10">
              {{'global.toolbar.buttons.open-menu' | translate}}
            </md-tooltip>
        </md-button>
        <div layout="row" layout-align="start center" flex>
          <div ng-repeat="item in toolbarHeaderItems">
            <md-button class="fdz-truncate-string" style="max-width: 200px;" ng-class="{'hide-xs': $mdMedia('xs') && !$first, 'hide-sm': $mdMedia('sm') && !$first}" class="md-primary md-raised fdz-toolbar-button" ng-if="!$last" ui-sref="{{item.state}}">
              <md-icon ng-if= "item.iconType == 'font'" md-font-set="material-icons">{{item.icon}}</md-icon>
              <md-icon ng-if= "item.iconType == 'svg'" md-svg-icon="{{item.icon}}"></md-icon>
              {{item.translateString | translate}}
              <span ng-if="item.tabName">({{item.tabName | translate}})</span>
              <span ng-if="item.id">{{item.id}}</span>
              <span ng-if="item.number">{{item.number}}</span>
              <span ng-if="item.projectId">{{item.projectId}}</span>
              <span ng-if="item.name">{{item.name}}</span>
              <md-tooltip md-z-index="10">{{item.translateString | translate}}
                <span ng-if="item.tabName">({{item.tabName | translate}})</span>
                <span ng-if="item.id">{{item.id}}</span>
                <span ng-if="item.number">{{item.number}}</span>
                <span ng-if="item.projectId">{{item.projectId}}</span>
                <span ng-if="item.name">{{item.name}}</span>
              </md-tooltip>
            </md-button>
            <md-icon md-font-set="material-icons" ng-class="{'hide-xs': $mdMedia('xs') && !$first, 'hide-sm': $mdMedia('sm') && !$first}" ng-if="!$last">forward</md-icon>
            <md-button class="fdz-truncate-string" ng-if="$last" disabled="true"  style="max-width: 200px; margin-left: 2px; color: rgba(255,255,255,0.87);">
              <md-icon ng-if= "item.iconType == 'font'" md-font-set="material-icons" style="color: rgba(255,255,255,0.87);">{{item.icon}}</md-icon>
              <md-icon ng-if= "item.iconType == 'svg'" md-svg-icon="{{item.icon}}" style="fill: rgba(255,255,255,0.87);"></md-icon>
              {{item.translateString | translate}}
              <span class="fdz-truncate-string" ng-if="item.tabName">({{item.tabName | translate}})</span>
              <span class="fdz-truncate-string" ng-if="item.id">{{item.id}}</span>
              <span class="fdz-truncate-string" ng-if="item.number">{{item.number}}</span>
              <span class="fdz-truncate-string" ng-if="item.projectId">{{item.projectId}}</span>
              <span class="fdz-truncate-string" ng-if="item.name">{{item.name}}</span>
            </md-button>
          </div>
        </div>
        <md-button
            id="changeLanguageToEn"
            aria-label="{{'global.toolbar.buttons.change-language' | translate}}"
            class="md-primary md-raised fdz-toolbar-button"
            ng-class="{'md-icon-button': $mdMedia('xs')}"
            ng-click="changeLanguage('en')"
            ng-if="currentLanguage!='en'">
            <md-tooltip md-z-index="10">
                {{'global.toolbar.buttons.change-language' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">language</md-icon>
            <span class="hide-xs">English</span>
        </md-button>
        <md-button
            id="changeLanguageToDe"
            aria-label="{{'global.toolbar.buttons.change-language' | translate}}"
            class="md-primary md-raised fdz-toolbar-button"
            ng-class="{'md-icon-button': $mdMedia('xs')}"
            ng-click="changeLanguage('de')"
            ng-if="currentLanguage!='de'">
            <md-tooltip md-z-index="10">
                {{'global.toolbar.buttons.change-language' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">language</md-icon>
            <span class="hide-xs">Deutsch</span>
        </md-button>
        <div ng-switch-when="true">
            <md-button id="logout" aria-label="{{'global.toolbar.buttons.logout' | translate}}" class="md-primary md-raised fdz-toolbar-button" ng-class="{'md-icon-button': $mdMedia('xs')}" ng-click="logout()">
                <md-tooltip md-z-index="10">
                    {{'global.toolbar.buttons.logout' | translate}}
                </md-tooltip>
                <md-icon md-svg-src="/assets/images/icons/logout.svg"></md-icon>
                <span class="hide-xs">{{identity.login}}</span>
            </md-button>
        </div>
        <div ng-switch-when="false">
            <md-button aria-label="{{'global.toolbar.buttons.login' | translate}}" id="login" class="md-primary md-raised fdz-toolbar-button" ng-class="{'md-icon-button': $mdMedia('xs')}" ng-click="login()">
                <md-tooltip md-z-index="10">
                    {{'global.toolbar.buttons.login' | translate}}
                </md-tooltip>
                <md-icon md-svg-src="/assets/images/icons/login.svg"></md-icon>
                <span class="hide-xs" data-translate="global.toolbar.buttons.login">Login</span>
            </md-button>
        </div>
        <div ng-switch-when="false">
            <md-button aria-label="{{'global.toolbar.buttons.register' | translate}}" id="register" class="md-primary md-raised fdz-toolbar-button" ng-class="{'md-icon-button': $mdMedia('xs')}" ng-click="register()">
                <md-tooltip md-z-index="10">
                    {{'global.toolbar.buttons.register' | translate}}
                </md-tooltip>
                <md-icon md-svg-src="/assets/images/icons/account-plus.svg"></md-icon>
                <span class="hide-xs" data-translate="global.toolbar.buttons.register">Register</span>
            </md-button>
        </div>
    </div>
</md-toolbar>
