.fdz-theme {

  a {
    color: #006AB2;
    text-decoration: none;
  }

  a:hover, a:focus {
    text-decoration: underline;
  }
  a:hover {
    color: #003c66;
  }
  a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-color: $accent-color;
    outline-offset: -2px;
  }
}
