<div block-ui="blockStudyContainer">
<div  ng-if="RelatedStudyController.studies.totalHits !== 0" class="fdz-InfiniteScroll">
    <md-virtual-repeat-container id="vertical-container">
     <div md-virtual-repeat="study in RelatedStudyController.studies" md-on-demand
         class="fdz-repeated-item" flex>
         <study-search-result search-result="study._source"></study-search-result>
     </div>
   </md-virtual-repeat-container>
</div>
  <div ng-if="RelatedStudyController.studies.totalHits === 0" layout-margin>
    <span>{{'study-management.detail.no-related-studies' | translate }}</span>
  </div>
</div>
