<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="md-headline fdz-bootstrap-headline" data-translate="user-management.activate.title">Activation</h2>

            <div class="alert alert-success" ng-show="success">
                <span data-translate="user-management.activate.messages.success">
                    <strong>Your user has been activated.</strong>
                    Please</span>
                <a class="alert-link" ng-href="#!/{{currentLanguage}}/login" data-translate="user-management.login.login">sign in</a>.
            </div>

            <div class="alert alert-danger" ng-show="error" data-translate="user-management.activate.messages.error">
                <strong>Your user could not be activated.</strong>
                Please use the registration form to sign up.
            </div>

        </div>
    </div>
</div>
