<div>
    <md-card class="md-whiteframe-3dp">
        <md-card-header>
            <md-card-header-text>
                <h1 class="md-headline">{{'metadatamanagementApp.datapackage.home.title' | translate}}
                    Absolventenbefragung 2005</h1>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <md-card class="md-whiteframe-3dp">
                <md-card-content>
                    <md-tabs md-dynamic-height md-border-bottom md-swipe-content="true">
                        <md-tab label="Eckdaten">
                                <div class="horizontalTabContent">
                                    <div layout-gt-xs="row" layout-xs="column" layout-align-xs="start start">
                                        <h2>FDZ-ID:</h2>
                                        <p flex>dp-abs2005</p>
                                    </div>
                                    <div layout-gt-xs="row" layout-xs="column" layout-align-xs="start start">
                                        <h2>Befragungsreihe:</h2>
                                        <p flex>DZHW-Absolventenbefragung</p>
                                    </div>
                                    <div layout-gt-xs="row" layout-xs="column" layout-align-xs="start start">
                                        <h2>Erhebende Institution:</h2>
                                        <p flex>Deutsches Zentrum für Hochschul- und Wissenschaftsforschung (DZHW)</p>
                                    </div>
                                    <div layout-gt-xs="row" layout-xs="column" layout-align-xs="start start">
                                        <h2>Finanzierung:</h2>
                                        <p flex>Bundesministerium für Bildung und Forschung (BMBF)</p>
                                    </div>
                                    <div layout-gt-xs="row" layout-xs="column" layout-align-xs="start start">
                                        <h2>Zugangswege:</h2>
                                        <p flex>Download-CUF, Download-SUF, Remote-Access, On-Site</p>
                                    </div>
                                    <div layout-gt-xs="row" layout-xs="column" layout-align-xs="start start">
                                        <h2>DOI:</h2>
                                        <p flex><a>xxxx/fdz.DZHW:xxxx</a></p>
                                    </div>
                                </div>
                        </md-tab>
                        <md-tab label="Informationen zur Studie">
                                <div class="verticalTabContent">
                                    <div layout="column">
                                        <h2  flex>Grundgesamtheit:</h2>
                                        <p flex>Hochschulabsolvent(inn)en, die im Wintersemester 2004/05 oder im Sommersemester 2005 ihren ersten berufsqualifizierenden Studienabschluss an einer Hochschule im Gebiet der Bundesrepublik Deutschland erworben haben (mit
                                            Ausnahme der Absolvent(inn)en der Bundeswehr- und Verwaltungsfachhochschulen).</p>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout="column">
                                        <h2 flex>Stichprobenverfahren:</h2>
                                        <p flex>Quotierte Klumpenstichprobe</p>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout="column">
                                        <h2 flex>Erhebungsmethode:</h2>
                                        <p flex>Standardisierte postalische Befragung</p>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout="column">
                                        <h2 flex>Erhebungszeitraum:</h2>
                                        <p flex>1. Welle: Januar 2006 bis Mai 2007<br>2. Welle: Dezember 2010 bis September 2011</p>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout="column">
                                        <h2 flex>Inhalte:</h2>
                                        <p flex>Die DZHW-Absolventenbefragungen sind eine Untersuchungsreihe zu den beruflichen Werdegängen von Hochschulabsolvent(inn)en. In Ergänzung zur amtlichen Hochschulstatistik erheben die Absolventenbefragungen Mikrodaten zum
                                            Studienverlauf, zum Weiterbildungsverhalten sowie zu beruflichen Werdegängen von Akademiker(inn)en. Seit 1989 wird jeder vierte Absolventenjahrgang in mehreren Wellen befragt. Themenschwerpunkte der Absolventenbefragung 2005 waren die Qualifikations-
                                            und Kompetenzentwicklung von Studierenden sowie das Fort- und Weiterbildungsverhalten der Befragten. Im Vergleich zu vorangegangenen Absolventenbefragungen wurde erstmalig eine nennenswerte Anzahl an Bachelorabsolvent(inn)en befragt. Hiermit können
                                            erste explorative Erkenntnisse über Bachelorabsolvent(inn)en erzielt werden.</p>
                                    </div>
                                </div>
                        </md-tab>
                        <md-tab label="Datensätze">
                                <div class="md-padding tabTableContent">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Anzahl Variablen</th>
                                                <th>Anzahl Fälle</th>
                                                <th>Format</th>
                                                <th>Zugangswege</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in currentPage">
                                                <td>{{data.name}}</td>
                                                <td>{{data.variablen}}</td>
                                                <td>{{data.faelle}}</td>
                                                <td>{{data.format}}</td>
                                                <td>{{data.zugangswege}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <uib-pagination
                                        total-items="pageState.totalElements"
                                        ng-model="pageState.currentPageNumber"
                                        ng-change="pageChanged()"
                                        max-size="pageState.maxSize"
                                        class="pagination-sm"
                                        boundary-links="true"
                                        previous-text="&lsaquo;"
                                        next-text="&rsaquo;"
                                        first-text="&laquo;"
                                        last-text="&raquo;"></uib-pagination>
                                </div>
                        </md-tab>
                        <md-tab label="Zitation">
                                <div class="verticalTabContent">
                                    <div layout="column">
                                        <h2 flex>DOI:</h2>
                                        <p flex>
                                            <a>xxxx/fdz.DZHW:xxxx</a>
                                        </p>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout="column">
                                        <h2 flex>Deutschsprachige Publikationen:</h2>
                                        <p flex>Diese Arbeit nutzt die Daten der Absolventenbefragung 2005. Die Daten wurden vom Forschungsdatenzentrum des Deutschen Zentrums für Hochschul- und Wissenschaftsforschung (fdz.DZHW) unter der doi:
                                            <a>xxxx/fdz.DZHW:xxxx</a> veröffentlicht.</p>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout="column">
                                        <h2 flex>Englichsprachige Publikationen:</h2>
                                        <p flex>This scientific work uses data of the graduate panel 2005, conducted by the German Center for Higher Education Research and Science Studies (Deutsches Zentrum für Hochschul- und Wissenschaftsforschung; DZHW). The data
                                            were published by the research data center of the DZHW, doi:
                                            <a>xxxx/fdz.DZHW:xxxx</a>.</p>
                                    </div>
                                </div>
                        </md-tab>
                        <md-tab label="Dokumentationsmaterialien">
                                <div class="verticalTabContent">
                                    <div layout="column">
                                        <h2 flex>Übergreifende Dokumente:</h2>
                                        <section layout="row" layout-xs="column" layout-align-xs="start start">
                                            <md-button class="md-primary md-hue-1" href="fakefiles/2016-05-19_Methodenbericht_WEB.pdf" download>Daten- und Methodenbericht</md-button>
                                            <md-button class="md-primary md-hue-1" href="fakefiles/VarReport_abs2005.pdf" download>Variablenreport (Personendaten)</md-button>
                                        </section>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout="column">
                                        <h2 flex>Welle 1:</h2>
                                        <section layout="row" layout-xs="column" layout-align-xs="start start">
                                            <md-button class="md-primary md-hue-1" href="fakefiles/Abs05_W1_Fragebogen.pdf" download>Fragebogen</md-button>
                                            <md-button class="md-primary md-hue-1" href="fakefiles/Abs05_W1_Variablenfragebogen.pdf" download>Variablenfragebogen</md-button>
                                            <md-button class="md-primary md-hue-1" href="fakefiles/Abs05_W1_Filtergrafik.pdf" download>Filterführung</md-button>
                                            <md-button class="md-primary md-hue-1" href="fakefiles/Abs05_W1_Pretest_Fragebogen.pdf" download>Pretestfragebogen</md-button>
                                            <md-button class="md-primary md-hue-1" href="fakefiles/Abs05_W1_Pretest_Fragenkatalog.pdf" download>Fragenkatalog Pretest</md-button>
                                        </section>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout="column">
                                        <h2 flex>Welle 2:</h2>
                                        <section layout="row" layout-xs="column" layout-align-xs="start start">
                                            <md-button class="md-primary md-hue-1" href="fakefiles/Abs05_W2_Fragebogen.pdf" download>Fragebogen</md-button>
                                            <md-button class="md-primary md-hue-1" href="fakefiles/Abs05_W2_Variablenfragebogen.pdf" download>Variablenfragebogen</md-button>
                                            <md-button class="md-primary md-hue-1" href="fakefiles/Abs05_W2_Filtergrafik.pdf" download>Filterführung</md-button>
                                            <md-button class="md-primary md-hue-1" href="fakefiles/Abs05_W2_Pretest_Fragebogen.pdf" download>Pretestfragebogen</md-button>
                                            <md-button class="md-primary md-hue-1" href="fakefiles/Abs05_W2_Pretest_Fragenkatalog.pdf" download>Fragenkatalog Pretest</md-button>
                                        </section>
                                    </div>
                                </div>
                        </md-tab>
                    </md-tabs>
                </md-card-content>
            </md-card>
        </md-card-content>
    </md-card>
</div>
