<h1 class="md-headline">
    Datenpaket
    {{dataAcquisitionProject.id}}
</h1>
<md-card>
    <md-card-header md-colors="::{backgroundColor: 'default-primary-700'}">
        <md-card-header-text>
            <h2 class="md-title">Allgemeine Informationen</h2>
        </md-card-header-text>
    </md-card-header>
    <md-card-content>
        <md-list layout-padding>
            <md-list-item class="md-3-line" ng-repeat="message in [{text:'name'},{text:'name'},{text:'name'}]">
                <div class="md-list-item-text">
                    <h3>message.text</h3>
                    <h4>message.text</h4>
                    <p>
                        message.text
                    </p>
                </div>
            </md-list-item>
        </md-list>
        <md-button class="md-warn">HURZ</md-button>
    </md-card-content>
</md-card>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Citation</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-list layout-padding>
            <md-list-item class="md-3-line" ng-repeat="message in [{text:'name'},{text:'name'},{text:'name'}]">
                <div class="md-list-item-text">
                    <h3>message.text</h3>
                    <h4>message.text</h4>
                    <p>
                        message.text
                    </p>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Inhaltliche Infos</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-list layout-padding>
            <md-list-item class="md-3-line" ng-repeat="message in [{text:'name'},{text:'name'},{text:'name'}]">
                <div class="md-list-item-text">
                    <h3>message.text</h3>
                    <h4>message.text</h4>
                    <p>
                        message.text
                    </p>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Datensätze</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-list layout-padding>
            <md-list-item class="md-3-line" ng-repeat="message in [{text:'name'},{text:'name'},{text:'name'}]">
                <div class="md-list-item-text">
                    <h3>message.text</h3>
                    <h4>message.text</h4>
                    <p>
                        message.text
                    </p>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
<!--
   <div flex-xs flex-gt-xs="50" layout="column">
     <md-card>
       <md-card-title>
         <md-card-title-text>
           <span class="md-headline">Icon action buttons</span>
         </md-card-title-text>
       </md-card-title>
       <md-card-content>
         <p>
           The titles of Washed Out's breakthrough song and the first single from Paracosm share the
           two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
         </p>
       </md-card-content>
       <md-card-actions layout="row" layout-align="end center">
         <md-button class="md-icon-button" aria-label="Favorite">
           <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
         </md-button>
         <md-button class="md-icon-button" aria-label="Settings">
           <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
         </md-button>
         <md-button class="md-icon-button" aria-label="Share">
           <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
         </md-button>
       </md-card-actions>
     </md-card>
     <md-card>
       <md-card-header>
         <md-card-avatar>
           <img src="img/logo.svg"/>
         </md-card-avatar>
         <md-card-header-text>
           <span class="md-title">Angular</span>
           <span class="md-subhead">Material</span>
         </md-card-header-text>
       </md-card-header>
       <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
       <md-card-title>
         <md-card-title-text>
           <span class="md-headline">Card header</span>
         </md-card-title-text>
       </md-card-title>
       <md-card-content>
         <p>
           The titles of Washed Out's breakthrough song and the first single from Paracosm share the
           two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
         </p>
       </md-card-content>
     </md-card>
   </div>
-->
