<div class="container-fluid">
<md-content></md-content>

        <md-tabs>
          <md-tab label="Info" style="text-transform: capitalize;">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th data-translate="entity.detail.field">Field</th>
                                    <th data-translate="entity.detail.value">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span data-translate="metadatamanagementApp.dataAcquisitionProject.name">Name</span>
                                    </td>
                                    <td>
                                        <span class="form-control-static">{{dataAcquisitionProject.id}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </md-tab>
          <md-tab label="ererer">
                  <datasetlist params="{dataAcquisitionProjectId: dataAcquisitionProject.id}" current-language="currentLanguage" current-page="objLists.dataSetList"></datasetlist>
          </md-tab>
        </md-tabs>
      </div>
