<md-card>
  <md-divider></md-divider>
  <md-card-header>
    <md-card-header-text>
      <h2 class="md-title">{{($ctrl.headline) | translate}}</h2>
    </md-card-header-text>
    <md-button
      aria-label="md-card collapsed = {{$ctrl.collapsed}}}"
      class="md-card-collapsible-button"
      ng-click="$ctrl.collapsed = !$ctrl.collapsed">
      <md-icon md-font-set="material-icons" ng-if="!$ctrl.collapsed">keyboard_arrow_up</md-icon>
      <md-icon md-font-set="material-icons" ng-if="$ctrl.collapsed">keyboard_arrow_down</md-icon>
    </md-button>
  </md-card-header>
  <div ng-if="!$ctrl.collapsed">
    <md-card-content>
      <table fdz-table class="mh16 mb16">
        <thead>
        <tr>
          <th class="fdz-table-third-absorbing-column">{{'study-management.detail.label.attachments.title' |
            translate }}
          </th>
          <th class="fdz-table-half-absorbing-column">{{'study-management.detail.label.attachments.description' |
            translate }}
          </th>
          <th>{{'study-management.detail.label.attachments.language' | translate }}
          </th>
          <th>{{'study-management.detail.label.attachments.file' | translate }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in $ctrl.options">
          <td lang="{{row.language}}">{{row.title}}&nbsp;</td>
          <td class="fdz-text-block" display-i18n-string="row.description" fdz-hyphenate></td>
          <td>{{row.language | displayIsoLanguage: $ctrl.lang}}</td>
          <td style="width: 200px;display:inline-block;word-break: break-all;"><a ng-href="{{row.id}}" target="_blank">{{row.fileName}}
            <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'global.tooltips.files.download' | translate: {filename: row.fileName} }}
            </md-tooltip>
          </a>
          </td>
        </tr>
        </tbody>
      </table>
    </md-card-content>
  </div>
</md-card>
