<md-card>
  <md-divider></md-divider>
  <md-card-header>
    <md-card-header-text>
      <h2 class="md-title">{{'global.cards.related-objects' | translate }}</h2>
    </md-card-header-text>
    <md-button
      aria-label="md-card collapsed = {{$ctrl.collapsed}}}"
      class="md-card-collapsible-button"
      ng-click="$ctrl.collapsed = !$ctrl.collapsed">
      <md-icon md-font-set="material-icons" ng-if="!$ctrl.collapsed">keyboard_arrow_up</md-icon>
      <md-icon md-font-set="material-icons" ng-if="$ctrl.collapsed">keyboard_arrow_down</md-icon>
    </md-button>
  </md-card-header>
  <div ng-if="!$ctrl.collapsed">
    <md-card-content>
      <md-tabs md-border-bottom md-dynamic-height md-selected="searchParams.selectedTabIndex">
        <md-tab md-on-select="onSelectedTabChanged()" ng-disabled="tab.disabled" ng-repeat="tab in tabs">
          <md-tab-label>
            <md-icon md-svg-icon="{{tab.icon}}" ng-if="tab.icon"></md-icon>
            <span>{{tab.title|translate}} {{tab.count != null? '(' + tab.count + ')' : ''}}</span>
            <md-tooltip md-autohide="true" md-direction="top"
                        md-z-index="bowser.msie || bowser.msedge || bowser.mobile || bowser.tablet ? -100 : 100001">
              {{tab.title+'-tooltip'|translate}}
            </md-tooltip>
          </md-tab-label>
        </md-tab>
      </md-tabs>
      <div class="fdz-detail-search-container">
        <form
          class="fdz-search"
          md-whiteframe="1"
          ng-submit="hideMobileKeyboard($event)"
          role="search">
          <md-input-container class="fdz-search__input hide-validation-error" md-no-float>
            <md-icon md-font-set="material-icons">search</md-icon>
            <input
              autocomplete="off"
              id="query"
              md-select-on-focus
              ng-model="searchParams.query"
              ng-model-options="{debounce: 250}"
              placeholder="{{'search-management.detail.search'|translate}}"
              tabindex="0"
              type="search">
            <md-button
              class="md-small md-primary"
              ng-if="!searchParams.query">
              Suchen
            </md-button>
            <md-button
              class="md-small md-primary"
              ng-click="searchParams.query = ''"
              ng-if="searchParams.query">
              Löschen
            </md-button>
          </md-input-container>
          <input ng-hide="true" type="submit">
          <md-progress-linear md-mode="indeterminate" ng-disabled="!isSearching"></md-progress-linear>
        </form>
        <div flex>
          <div ng-repeat="result in searchResult" ng-switch="result._index" class="fdz-fade-in">
            <variable-search-result ng-if="isAuthenticated()" ng-switch-when="variables" search-result="result._source" current-language="currentLanguage" bowser="bowser" search-result-index="computeSearchResultIndex($index)"></variable-search-result>
            <survey-search-result ng-if="isAuthenticated()" ng-switch-when="surveys" search-result="result._source" current-language="currentLanguage" bowser="bowser" add-margin="$mdMedia('gt-sm')" search-result-index="computeSearchResultIndex($index)"></survey-search-result>
            <question-search-result ng-if="isAuthenticated()" ng-switch-when="questions" search-result="result._source" current-language="currentLanguage" bowser="bowser" search-result-index="computeSearchResultIndex($index)"></question-search-result>
            <dataset-search-result ng-if="isAuthenticated()" ng-switch-when="data_sets" search-result="result._source" current-language="currentLanguage" bowser="bowser" add-margin="$mdMedia('gt-sm')" search-result-index="computeSearchResultIndex($index)"></dataset-search-result>
            <study-search-result ng-switch-when="studies" search-query="searchParams.query" search-result="result._source" current-language="currentLanguage" bowser="bowser" search-result-index="computeSearchResultIndex($index)"></study-search-result>
            <related-publication-search-result ng-if="isAuthenticated()" ng-switch-when="related_publications" search-result="result._source" current-language="currentLanguage" bowser="bowser" search-result-index="computeSearchResultIndex($index)"></related-publication-search-result>
            <instrument-search-result ng-if="isAuthenticated()" ng-switch-when="instruments" search-result="result._source" current-language="currentLanguage" bowser="bowser" search-result-index="computeSearchResultIndex($index)"></instrument-search-result>
            <concept-search-result ng-if="isAuthenticated()" ng-switch-when="concepts" search-result="result._source" current-language="currentLanguage" bowser="bowser" search-result-index="computeSearchResultIndex($index)"></concept-search-result>
          </div>
      </div>
    </md-card-content>
  </div>
</md-card>
