  <bread-crumb items=breadCrumbItems language=currentLanguage></bread-crumb>
<div flex>
    <md-card>
        <md-card-content>
            <address>
                <p>
                    <strong>Deutsches Zentrum für Hochschul- und Wissenschaftsforschung GmbH</strong>
                </p>
                <p>Lange Laube 12<br/>30159 Hannover<br/>
                    <span data-translate="disclosure.phone"></span>+49 511 450670-987<br/>
                    <span data-translate="disclosure.fax"></span>+49 511 450670-960</p>
                <p data-translate="disclosure.or"></p>
                <p>Postfach 2920<br/>30029 Hannover</p>
            </address>
            <p>
                <span data-translate="disclosure.responsible-urls-text"></span>
            </p>
            <p>
                <span data-translate="disclosure.supervisory"></span>
                <span>Peter Greisler</span>
            </p>
            <p>
                <span data-translate="disclosure.scientific-director-female"></span>
                <span>Prof. Dr. Monika Jungbauer-Gans</span>
            </p>
            <p>
                <span data-translate="disclosure.executive-director-male"></span>
                <span>Dr. Bernhard Hartung</span>
            </p>
            <p>
                <span data-translate="disclosure.register-court"></span>
                <span>Hannover | HRB 210251</span>
            </p>
            <p>
                <span data-translate="disclosure.identification-number"></span>
                <span>DE291239300</span>
            </p>
            <p>
                <span data-translate="disclosure.responsiblepress-law"></span><br/>
                <span>Daniel Matthes</span><br/>
                <a href="mailto:matthes@dzhw.eu">matthes@dzhw.eu</a>
            </p>

            <p>
                <strong>
                    <span data-translate="disclosure.copyright"></span>
                </strong>
            </p>

            <p>
                <span data-translate="disclosure.copyright-general"></span>
            </p>
            <p>
                <span data-translate="disclosure.copyright-employees"></span>
            </p>
            <p>
                <span data-translate="disclosure.copyright-editorial"></span>
            </p>
        </md-card-content>
    </md-card>
</div>
