<p data-translate="global.user-consent.text">Lorem Ipsum.</p>
<div>
  <md-button md-autofocus="" class="md-accent md-raised" ng-click="consentGiven()">
    <md-tooltip md-autohide="true" md-direction="left" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
      {{'global.user-consent.accept.tooltip' | translate }}
    </md-tooltip>
    OK
  </md-button>
</div>
