<md-dialog aria-label="{{'user-management.welcome-dialog.title' | translate}}">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{'user-management.welcome-dialog.title' | translate}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeDialog()">
        <md-icon md-font-set="material-icons">clear</md-icon>
        <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{"global.dialog.tooltip.close" | translate}}
        </md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <md-divider></md-divider>
  <md-dialog-content>
    <div class="md-dialog-content" data-translate="user-management.welcome-dialog.text-body"
         data-translate-values="{username: username, language: language}">
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-checkbox aria-label="{{'user-management.welcome-dialog.do-not-show-again' | translate}}" class="mb0"
                 ng-if="displayDeactivateDialogOption"
                 ng-model="data.doNotShowAgain">
      {{'user-management.welcome-dialog.do-not-show-again' | translate}}
    </md-checkbox>
    <md-button class="md-primary md-raised" ng-click="closeDialog()">
      {{"global.buttons.close" | translate}}
      <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
        {{"global.dialog.tooltip.close" | translate}}
      </md-tooltip>
    </md-button>
  </md-dialog-actions>
</md-dialog>
