<md-toast>
    <span>{{resultMessage}}</span>
    <md-button class="md-raised md-accent" ng-click="showLog()" aria-label="search.toast.show-log">
        <span data-translate="search.toast.show-log"></span>
    </md-button>
    <md-button class="md-raised md-primary" ng-click="closeToast()" aria-label="search.buttons.close">
        <span data-translate="search.buttons.close"></span>
    </md-button>
</md-toast>
