<div class="fdz-cc">
  <md-content layout="column" layout-align="start stretch">
    <md-card>
      <md-card-header class="mb8">
        <md-card-header-text>
          <h1 class="md-headline fdz-truncate-string" id="top">
            {{'data-acquisition-project-management.project-overview.header' | translate}}
          </h1>
        </md-card-header-text>
      </md-card-header>
      <!-- Search/Filters -->
      <div class="mb8">
        <md-card class="pa0 ma0 db">
            <div layout="row">
              <md-tabs md-selected="ctrl.selectedTabIndex" md-dynamic-height md-border-bottom flex>
                <md-tab ng-repeat="tab in tabs" md-on-select="ctrl.onSelectedTabChanged(tab)" ng-disabled="tab.disabled">
                    <md-tab-label>
                        <span>{{tab.title|translate}} {{tab.count != null? '(' + tab.count + ')' : ''}}</span>
                      <span ng-if="tab.group && currentProject && !currentProject.released && hasAnyAuthority(['ROLE_PUBLISHER','ROLE_DATA_PROVIDER']) && tab.group !== 'concepts'" ng-switch="getSentimentValue(tab.group)">
                                <span ng-switch-when="0">
                                    <md-icon md-svg-src="assets/images/icons/clipboard.svg"></md-icon>
                                </span>
                                <span ng-switch-when="1">
                                    <md-icon md-svg-src="assets/images/icons/clipboard-check.svg"></md-icon>
                                </span>
                                <span ng-switch-when="2">
                                    <md-icon md-svg-src="assets/images/icons/clipboard-double-check.svg"></md-icon>
                                </span>
                            </span>
                        <md-tooltip md-direction="top" md-autohide="true" md-z-index="bowser.msie || bowser.msedge || bowser.mobile || bowser.tablet ? -100 : 100001">{{tab.title+'-tooltip'|translate}}</md-tooltip>
                    </md-tab-label>
                </md-tab>
            </md-tabs>
            <md-button class="md-icon-button w-5 mt8" ng-click="ctrl.onClearFilters()">
              <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                  {{'search-management.filter.clear-filters-tooltip' | translate}}
              </md-tooltip>
              <md-icon class="ma0" md-svg-src="/assets/images/icons/filter-remove.svg"></md-icon>
            </md-button>
            </div>
            
            <!-- Search Bar -->
            <form role="search" ng-submit="hideMobileKeyboard($event)">
              <md-autocomplete class="mh16 mt16 mb8" md-search-text="ctrl.searchText" 
                  md-selected-item="ctrl.selectedProject" 
                  md-selected-item-change="ctrl.onFilterValueChanged()" 
                  md-items="project in ctrl.searchProjects(ctrl.searchText)" 
                  md-item-text="project.id"
                  md-min-length="0" 
                  md-delay="250" 
                  placeholder="{{'global.menu.entities.search-project' | translate}}" 
                  md-select-on-match="true" 
                  md-no-cache="true">
                    <md-item-template>
                        <span md-highlight-text="ctrl.searchTerm">{{project.id}}</span>
                    </md-item-template>
                    <md-not-found>
                        <span data-translate="global.menu.entities.unknown-project" data-translate-values="{projectId: ctrl.searchText}"></span>
                    </md-not-found>
                </md-autocomplete>
              <div layout="row" class="mr16">
                <!-- ASSIGNED GROUP -->
                <md-input-container flex class="ma16 ml16 w-20">
                  <label>{{'data-acquisition-project-management.project-overview.filter.label.assignee-group' | translate}}</label>
                  <md-select ng-model="ctrl.selectedAssignedGroup" ng-change="ctrl.onFilterValueChanged()" aria-label="{{'data-acquisition-project-management.project-overview.filter.label.assignee-group' | translate}}">
                      <md-option value="" ng-click="closeSelectMenu()"></md-option>
                        <md-option value="DATA_PROVIDER" ng-click="closeSelectMenu()">{{'data-acquisition-project-management.project-overview.filter.options.assignee-group.dataprovider' | translate}}</md-option>
                        <md-option value="PUBLISHER" ng-click="closeSelectMenu()">{{'data-acquisition-project-management.project-overview.filter.options.assignee-group.publisher' | translate}}</md-option>
                  </md-select>
                </md-input-container>
                <!-- RELEASE STATE -->
                <md-input-container flex class="ma16 w-20">
                  <label>{{'data-acquisition-project-management.project-overview.filter.label.release-state' | translate}}</label>
                  <md-select ng-model="ctrl.selectedReleaseState" ng-change="ctrl.onFilterValueChanged()" aria-label="{{'data-acquisition-project-management.project-overview.filter.label.release-state' | translate}}">
                    <md-content class="md-select-menu-ie11-fix">
                        <md-option value="" ng-click="closeSelectMenu()"></md-option>
                        <md-option value="true" ng-click="selectedFilters.indexOf(filter) === -1 && closeSelectMenu()">{{'data-acquisition-project-management.project-overview.filter.options.release-state.released' | translate}}</md-option>
                        <md-option value="false" ng-click="selectedFilters.indexOf(filter) === -1 && closeSelectMenu()">{{'data-acquisition-project-management.project-overview.filter.options.release-state.unreleased' | translate}}</md-option>
                    </md-content>
                  </md-select>
                </md-input-container>
                <!-- Filters Datapackage -->
                <md-input-container ng-if="ctrl.currentTab.group === 'dataPackages'" flex class="ma16 w-20">
                  <label>{{'data-acquisition-project-management.project-overview.filter.label.datapackage-filter' | translate}}</label>
                  <md-select ng-model="ctrl.selectedFiltersDataPackage" multiple ng-change="ctrl.onFilterValueChanged()" aria-label="{{'data-acquisition-project-management.project-overview.filter.label.datapackage-filter' | translate}}">
                    <md-content class="md-select-menu-ie11-fix">
                        <md-option value="Variables">{{'data-acquisition-project-management.project-overview.filter.options.datapackage-filter.variables' | translate}}</md-option>
                        <md-option value="Questions">{{'data-acquisition-project-management.project-overview.filter.options.datapackage-filter.questions' | translate}}</md-option>
                        <md-option value="Publications">{{'data-acquisition-project-management.project-overview.filter.options.datapackage-filter.publications' | translate}}</md-option>
                        <md-option value="Concepts">{{'data-acquisition-project-management.project-overview.filter.options.datapackage-filter.concepts' | translate}}</md-option>
                    </md-content>
                  </md-select>
                </md-input-container>
                
              </div>
              <div layout="row" class="mr16">
                <!-- Remarks User Service -->
                <md-input-container ng-if="ctrl.shouldShowRemarksFilter()" flex class="ma16 ml16 w-20">
                  <label>{{'data-acquisition-project-management.project-overview.filter.label.user-service-remarks' | translate}}</label>
                  <md-select ng-model="ctrl.selectedRemarksFilter" ng-change="ctrl.onFilterValueChanged()" aria-label="{{'data-acquisition-project-management.project-overview.filter.label.user-service-remarks' | translate}}">
                      <md-option value="" ng-click="closeSelectMenu()"></md-option>
                      <md-option value="true" ng-click="closeSelectMenu()">{{'data-acquisition-project-management.project-overview.filter.options.user-service-remarks.with-remarks' | translate}}</md-option>
                      <md-option value="false" ng-click="closeSelectMenu()">{{'data-acquisition-project-management.project-overview.filter.options.user-service-remarks.without-remarks' | translate}}</md-option>
                  </md-select>
                </md-input-container>
                <!-- External Datapackage -->
                <md-input-container ng-if="ctrl.shouldShowExternalDatapackageFilter()" flex class="ma16 w-20">
                  <label>{{'data-acquisition-project-management.project-overview.filter.label.external-datapackage' | translate}}</label>
                  <md-select ng-model="ctrl.selectedExternalFilter" ng-change="ctrl.onFilterValueChanged()" aria-label="{{'data-acquisition-project-management.project-overview.filter.label.external-datapackage' | translate}}">
                      <md-option value="" ng-click="closeSelectMenu()"></md-option>
                      <md-option value="true" ng-click="closeSelectMenu()">{{'data-acquisition-project-management.project-overview.filter.options.external-datapackage.true' | translate}}</md-option>
                      <md-option value="false" ng-click="closeSelectMenu()">{{'data-acquisition-project-management.project-overview.filter.options.external-datapackage.false' | translate}}</md-option>
                  </md-select>
                </md-input-container>
                <!-- Datatransmission via VerbundFDB -->
                <md-input-container ng-if="ctrl.shouldShowDataTransmisionFilter()" flex class="ma16 w-20">
                  <label>{{'data-acquisition-project-management.project-overview.filter.label.data-transmission-verbund-fdb' | translate}}</label>
                  <md-select ng-model="ctrl.selectedDataTransmissionFilter" ng-change="ctrl.onFilterValueChanged()" aria-label="{{'data-acquisition-project-management.project-overview.filter.label.data-transmission-verbund-fdb' | translate}}">
                      <md-option value="" ng-click="closeSelectMenu()"></md-option>
                      <md-option value="true" ng-click="closeSelectMenu()">{{'data-acquisition-project-management.project-overview.filter.options.data-transmission-verbund-fdb.true' | translate}}</md-option>
                      <md-option value="false" ng-click="closeSelectMenu()">{{'data-acquisition-project-management.project-overview.filter.options.data-transmission-verbund-fdb.false' | translate}}</md-option>
                  </md-select>
                </md-input-container>
              </div>
                
                
            </form>
        </md-card>
        <md-progress-linear md-mode="indeterminate" ng-disabled="!ctrl.isSearching"></md-progress-linear>
      </div>
      <!-- Check if currently any projects are assigned to currently logged in user -->
      <div ng-switch="ctrl.userHasProjects">
        <!-- user with projects -->
        <md-card-content ng-switch-when="true" card="pa0">
          <div ng-switch="ctrl.overview.data.length > 0" >
            <table ng-switch-when="true" class="table-striped table-hover fdz-table-rotated">
              <thead class="w-20">
              <tr>
                <th>{{'data-acquisition-project-management.project-overview.table.project-name' | translate}}</th>
                <th>{{'data-acquisition-project-management.project-overview.table.release-version' | translate}}</th>
                <th>{{'data-acquisition-project-management.project-overview.table.assigned-group' | translate}}</th>
                <th ng-if="ctrl.shouldShowRemarksInfo()">{{'data-acquisition-project-management.project-overview.table.user-service-remarks' | translate}}</th>
                <th class="fdz-project-status-overview-metadata-status-table-cell">
                  {{'data-acquisition-project-management.project-overview.table.data-package-status' | translate}}&nbsp;
                </th>
                <th class="fdz-project-status-overview-metadata-status-table-cell">
                  {{'data-acquisition-project-management.project-overview.table.analysis-package-status' | translate}}&nbsp;
                </th>
                <th class="fdz-project-status-overview-metadata-status-table-cell">
                  {{'data-acquisition-project-management.project-overview.table.surveys-status' | translate}}&nbsp;
                </th>
                <th class="fdz-project-status-overview-metadata-status-table-cell">
                  {{'data-acquisition-project-management.project-overview.table.instruments-status' | translate}}&nbsp;
                </th>
                <th class="fdz-project-status-overview-metadata-status-table-cell">
                  {{'data-acquisition-project-management.project-overview.table.data-sets-status' | translate}}&nbsp;
                </th>
                <th class="fdz-project-status-overview-metadata-status-table-cell">
                  {{'data-acquisition-project-management.project-overview.table.questions-status' | translate}}&nbsp;
                </th>
                <th class="fdz-project-status-overview-metadata-status-table-cell">
                  {{'data-acquisition-project-management.project-overview.table.variables-status' | translate}}&nbsp;
                </th>
                <th class="fdz-project-status-overview-metadata-status-table-cell">
                  {{'data-acquisition-project-management.project-overview.table.publications-status' | translate}}&nbsp;
                </th>
                <th class="fdz-project-status-overview-metadata-status-table-cell">
                  {{'data-acquisition-project-management.project-overview.table.concepts-status' | translate}}&nbsp;
                </th>
              </tr>
              </thead>
              <tbody>
              <tr ng-click="ctrl.openProjectCockpit(dataAcquisitionProject.id)"
                  ng-repeat="dataAcquisitionProject in ctrl.overview.data">
                <td class="fdz-table-data-vertical-middle">
                  {{::dataAcquisitionProject.id}}
                  <md-tooltip md-autohide="true" md-direction="top"
                              md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'data-acquisition-project-management.project-overview.table.tooltip'| translate}}
                  </md-tooltip>
                </td>
                <td class="fdz-table-data-vertical-middle">{{::dataAcquisitionProject.release.version ?
                  dataAcquisitionProject.release.version :
                  ('data-acquisition-project-management.project-overview.table.unreleased' | translate)}}&nbsp;
                </td>
                <td class="fdz-table-data-vertical-middle" ng-switch="dataAcquisitionProject.assigneeGroup">
                  <span ng-switch-when="PUBLISHER">{{'data-acquisition-project-management.project-overview.table.publisher' | translate}}</span>
                  <span ng-switch-when="DATA_PROVIDER">{{'data-acquisition-project-management.project-overview.table.data-provider' | translate}}</span>
                  <span ng-switch-default>&nbsp;</span>
                </td>
                <td ng-if="ctrl.shouldShowRemarksInfo()" class="fdz-table-data-vertical-middle">
                  <span ng-if="dataAcquisitionProject.hasUserServiceRemarks && !ctrl.isAnalysisPackage(dataAcquisitionProject)">{{'data-acquisition-project-management.project-overview.table.available' | translate}}</span>
                  <span ng-if="!dataAcquisitionProject.hasUserServiceRemarks || ctrl.isAnalysisPackage(dataAcquisitionProject)">&nbsp;</span>
                </td>
                <td class="fdz-table-data-vertical-middle">
                  <metadata-status project="dataAcquisitionProject" type="'DataPackages'"></metadata-status>
                </td>
                <td class="fdz-table-data-vertical-middle">
                  <metadata-status project="dataAcquisitionProject" type="'AnalysisPackages'"></metadata-status>
                </td>
                <td class="fdz-table-data-vertical-middle">
                  <metadata-status project="dataAcquisitionProject" type="'Surveys'"></metadata-status>
                </td>
                <td class="fdz-table-data-vertical-middle">
                  <metadata-status project="dataAcquisitionProject" type="'Instruments'"></metadata-status>
                </td>
                <td class="fdz-table-data-vertical-middle">
                  <metadata-status project="dataAcquisitionProject" type="'DataSets'"></metadata-status>
                </td>
                <td class="fdz-table-data-vertical-middle">
                  <metadata-status project="dataAcquisitionProject" type="'Questions'"></metadata-status>
                </td>
                <td class="fdz-table-data-vertical-middle">
                  <metadata-status project="dataAcquisitionProject" type="'Variables'"></metadata-status>
                </td>
                <td class="fdz-table-data-vertical-middle">
                  <metadata-status project="dataAcquisitionProject" type="'Publications'"></metadata-status>
                </td>
                <td class="fdz-table-data-vertical-middle">
                  <metadata-status project="dataAcquisitionProject" type="'Concepts'"></metadata-status>
                </td>
              </tr>
              </tbody>
            </table>
            <div ng-switch-when="true" layout="column" layout-align="start center">
              <ul boundary-link-numbers="true"
                  class="pagination-sm"
                  items-per-page="ctrl.pagination.itemsPerPage"
                  next-text="{{'global.pagination.next'|translate}}"
                  ng-change="ctrl.onPageChange()"
                  ng-model="ctrl.pagination.selectedPageNumber"
                  previous-text="{{'global.pagination.previous'|translate}}"
                  template-url="scripts/common/pagination/custom-uib-pagination.html.tmpl"
                  total-items="ctrl.pagination.totalItems"
                  uib-pagination>
              </ul>
            </div>
            <span ng-switch-when="false" data-translate="data-acquisition-project-management.project-overview.no-search-results-msg"></span>
          </div>
        </md-card-content>
        <div ng-switch-when="false">
          <span data-translate="data-acquisition-project-management.project-overview.no-project-msg"></span>
        </div>
      </div>
    </md-card>
  </md-content>
</div>
