<md-dialog
  aria-label="{{'data-acquisition-project-management.home.releaseLabel' | translate:'{id:\'' + project.id + '\'}'}}"
  class="md-inline-form" flex="50">
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <div flex>
        <h2 class="fdz-truncate-string">
          <span ng-if="isPreRelease()">{{'data-acquisition-project-management.home.prereleaseLabel' | translate:'{id:"' + project.id + '"}'}}</span>
          <span ng-if="!isPreRelease()">{{'data-acquisition-project-management.home.releaseLabel' | translate:'{id:"' + project.id + '"}'}}</span>
        </h2>
      </div>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-font-set="material-icons">clear</md-icon>
        <md-tooltip md-autohide="true" md-direction="top" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
          {{'data-acquisition-project-management.home.dialog-tooltip.release-cancel' | translate }}
        </md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <md-divider></md-divider>
  <!-- pre-release info -->
  <div ng-if="isPreRelease()" layout="row" layout-align="start center" class="ma8">
    <md-button class="md-icon-button" disabled>
      <md-icon md-font-set="material-icons">info</md-icon>
    </md-button>
    <span class="fdz-input-hint w-80">{{'data-acquisition-project-management.release.pre-release-hint' | translate:{id: project.id, date: (project.embargoDate | date:'mediumDate')} }}</span>
  </div>
  <form flex layout="column" layout-align="space-between stretch" name="releaseForm" class="ms-flex">
    <md-dialog-content style="padding: 1.5em 1.5em 0 1.5em;">
      <md-input-container class="md-block" md-is-error="!releaseForm.version.$valid">
        <label>{{'data-acquisition-project-management.release.version' | translate}}</label>
        <input autocomplete="off" data-md-autofocus data-md-maxlength="32"
               data-md-no-asterisk name="version" ng-model="release.version"
               ng-pattern="/^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$/"
               required translate-attr="{'title':'global.entity.validation.required'}" has-embargo-date="project.embargoDate ? true : false"
               valid-project-version="lastVersion" ng-disabled="release.isPreRelease">
        <div data-md-auto-hide="false" data-multiple ng-messages="releaseForm.version.$error">
          <div ng-message="required">{{'data-acquisition-project-management.error.release.version.not-empty' |
            translate}}
          </div>
          <div ng-message="md-maxlength">{{'data-acquisition-project-management.error.release.version.size' |
            translate}}
          </div>
          <div ng-message="pattern">{{'data-acquisition-project-management.error.release.version.pattern' | translate
            }}
          </div>
          <div ng-if="!isPreRelease() && !project.embargoDate" ng-message="valid-project-version">
            {{'data-acquisition-project-management.error.release.version.not-parsable-or-not-incremented' |
            translate:'{lastVersion: "' + lastVersion + '"}' }}
          </div>
          <div ng-if="(isPreRelease() && !lastVersion) || (!isPreRelease() && project.embargoDate && !lastVersion)" ng-message="valid-project-version">
            {{'data-acquisition-project-management.error.release.version.no-beta-version' |
            translate }}
          </div>
          <div ng-if="(isPreRelease() && lastVersion) || (!isPreRelease() && project.embargoDate && lastVersion)" ng-message="valid-project-version">
            {{'data-acquisition-project-management.error.release.version.no-major-version-change' |
            translate:{lastVersion: lastVersion, nextMajorVersion: getNextMajorVersion()} }}
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <div class="fdz-input-hint">
          {{'data-acquisition-project-management.release.landing-page-hint' | translate}}
        </div>
        <md-radio-group required name="doiPageLanguage" ng-model="release.doiPageLanguage" class="md-primary" ng-disabled="release.isPreRelease">
          <md-radio-button value="de" class="md-primary mr20" style="color:black">
            {{'data-acquisition-project-management.release.landing-page-de-title' | translate }}
          </md-radio-button>
          <md-radio-button value="en" class="md-primary" style="color:black">
            {{'data-acquisition-project-management.release.landing-page-en-title' | translate }}
          </md-radio-button>
        </md-radio-group>
      </md-input-container>
      <md-input-container ng-if="!project.configuration.requirements.analysisPackagesRequired && !isPreRelease()" class="md-block">
        <md-checkbox name="pinToStartPage" ng-model="release.pinToStartPage"
                     style="margin: 0 18px 0 0">
          {{'data-acquisition-project-management.release.pin-to-start-page' | translate }}
        </md-checkbox>
        <div class="fdz-input-hint">
          {{'data-acquisition-project-management.release.pin-to-start-page-hint' | translate}}
        </div>
      </md-input-container>
      <md-input-container class="md-block" md-is-error="!releaseForm.releaseConfirmed.$valid">
        <md-checkbox required name="releaseConfirmed" ng-model="releaseConfirmed"
                     style="margin: 0 18px 0 0">
          {{'data-acquisition-project-management.release.confirmed.' + ENV | translate }}
        </md-checkbox>
        <div class="fdz-input-hint">
          {{'data-acquisition-project-management.release.confirm-hint' | translate}}
        </div>
      </md-input-container>
      <!-- Tweet-->
      <!-- disabled for now, see https://github.com/dzhw/metadatamanagement/issues/3206
      <div ng-if="!isBetaRelease">
        <md-input-container class="md-block">
            <md-checkbox 
                name="toTweet"
                ng-model="release.toTweet"
                style="margin: 0 18px 0 0">
                {{'data-acquisition-project-management.release.toTweet' | translate }}
            </md-checkbox>
        </md-input-container>
        <md-input-container ng-disabled="!release.toTweet" class="md-block" md-is-error="!releaseForm.tweetTextInput.$valid"
            style="margin-top: 20pt;">
            <label>{{'data-acquisition-project-management.release.tweetTextLabel' | translate}}</label>
            <textarea rows="3"
                autocomplete="off" data-md-autofocus data-md-maxlength="280"
                data-md-no-asterisk name="tweetTextInput" ng-model="release.tweetTextInput"
                ng-required="release.toTweet" translate-attr="{'title':'global.entity.validation.required'}"
                ng-disabled="!release.toTweet">
            </textarea>
            <div ng-if="release.toTweet" data-md-auto-hide="false" data-multiple ng-messages="releaseForm.tweetTextInput.$error">
                <div ng-message="required">{{'data-acquisition-project-management.error.release.tweet.not-empty' |
                translate}}
                </div>
                <div ng-message="md-maxlength">{{'data-acquisition-project-management.error.release.tweet.size' |
                translate}}
                </div>
            </div>
            <div style="margin-top: 10pt; display: flex; justify-content: space-between;">
                <md-radio-group id="twitter-image-switch" ng-model="release.selectedTweetImage">
                    <div style="display: flex; align-items: center;">
                        <span>
                            <md-radio-button ng-disabled="!release.toTweet" style="padding-right:0; padding-left:0" ng-value="'data-acquisition-project-management.release.imagePath1' | translate"  aria-label="thumb_twitter_fdz_1"></md-radio-button>
                            <img ng-src="{{'data-acquisition-project-management.release.imagePath1' | translate }}" style="margin-right: 10pt; width: 75%; height: 75%;">
                        </span>
                        <span>
                            <md-radio-button ng-disabled="!release.toTweet" style="padding-right:0; padding-left:0" ng-value="'data-acquisition-project-management.release.imagePath2' | translate" aria-label="thumb_twitter_fdz_2"></md-radio-button>
                            <img ng-src="{{'data-acquisition-project-management.release.imagePath2' | translate }}" class="mt4" style="margin-right: 10pt; width: 75%; height: 75%;">
                        </span>
                        <span>
                            <md-radio-button ng-disabled="!release.toTweet" style="padding-right:0; padding-left:0" ng-value="'data-acquisition-project-management.release.imagePath3' | translate" aria-label="thumb_twitter_fdz_3"></md-radio-button>
                            <img ng-src="{{'data-acquisition-project-management.release.imagePath3' | translate }}" class="mt4" style="width: 75%; height: 75%;">
                        </span>
                    </div>
                </md-radio-group>
            </div>
        </md-input-container>
      </div>
      -->
    </md-dialog-content>
    <md-dialog-actions layout="row" style="padding: 0 1.5em 1em 0;">
      <md-button class="md-raised" ng-click="cancel()">
        <span>{{'global.entity.action.cancel' | translate}}</span>
        <md-tooltip md-autohide="true" md-direction="top" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
          {{'data-acquisition-project-management.home.dialog-tooltip.release-cancel' | translate }}
        </md-tooltip>
      </md-button>
      <md-button ng-if="!isPreRelease()" class="md-raised" ng-click="ok(release)" ng-disabled="releaseForm.$invalid" type="submit">
        <span >{{'data-acquisition-project-management.release.release-action' | translate}}</span>
        <md-tooltip md-autohide="true" md-direction="top" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
          {{'data-acquisition-project-management.home.dialog-tooltip.release-ok' | translate }}
        </md-tooltip>
      </md-button>
      <md-button ng-if="isPreRelease()" class="md-raised" ng-click="ok(release)" ng-disabled="releaseForm.$invalid" type="submit">
        <span >{{'data-acquisition-project-management.release.pre-release-action' | translate}}</span>
        <md-tooltip md-autohide="true" md-direction="top" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
          {{'data-acquisition-project-management.home.dialog-tooltip.release-ok' | translate }}
        </md-tooltip>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
