<div class="fdz-cc">
  <div class="container">
    <h2 class="md-headline fdz-bootstrap-headline" data-translate="administration.health.title">Health Checks</h2>

    <p>
      <button class="btn btn-primary" ng-click="refresh()" type="button">
        <span class="glyphicon glyphicon-refresh"></span>&nbsp;<span
        data-translate="administration.health.refresh-button">Refresh</span>
      </button>
    </p>

    <table class="table table-striped" id="healthCheck">
      <thead>
      <tr>
        <th class="col-md-6" data-translate="administration.health.table.service">Service Name</th>
        <th class="col-md-2 text-center" data-translate="administration.health.table.action">Action</th>
        <th class="col-md-2 text-center" data-translate="administration.health.table.status">Status</th>
        <th class="col-md-2 text-center" data-translate="administration.health.details.details">Details</th>

      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="health in healthData">
        <td>{{'administration.health.indicator.' + baseName(health.name) | translate}}
          {{subSystemName(health.name)}}
        </td>
        <td class="text-center">
          <button ng-if="health.name === 'dara'" class="btn btn-danger btn-xs" data-translate="administration.health.dara.update"
                  ng-click="updateDaraProjects(health)" ng-disabled="isUpdatingDara" type="button">flag quali-data
          </button>
          <button ng-if="health.name === 'elasticsearch'" class="btn btn-danger btn-xs"
                  data-translate="administration.health.elasticsearch.reindex" ng-click="recreateAllElasticsearchIndices()"
                  ng-disabled="isRecreatingIndices" type="button">Reindex
          </button>
        </td>
        <td class="text-center">
                    <span class="label" ng-class="getLabelClass(health.status)">
                        {{'administration.health.status.' + health.status | translate}}
                    </span>
        </td>
        <td class="text-center">
          <a class="hand" ng-click="showHealth(health)" ng-show="health.details || health.error">
            <i class="glyphicon glyphicon-eye-open"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>{{'administration.health.indicator.pid' | translate}}</td>
        <td class="text-center">
          <button class="btn btn-danger btn-xs" data-translate="administration.health.pid.download"
                  ng-click="downloadPidData()" ng-disabled="isDownloadingData" type="button">
          </button>
        </td>
        <td class="text-center">
        </td>
        <td class="text-center">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
