<div layout="row"
     flex="100"
     layout-gt-sm="row"
     class="ms-flex">
  <md-autocomplete flex="100"
                   required="true"
                   md-floating-label="{{'analysis-package-management.detail.label.analyzed-data-package.data-package' | translate}}"
                   md-delay="250"
                   md-min-length="0"
                   md-require-match="true"
                   md-select-on-match="true"
                   md-no-cache="true"
                   md-select-on-focus="true"
                   md-clear-button="true"
                   md-is-error="!$ctrl.currentForm['analysisDataPackagesAnalyzedDataPackage_' + $ctrl.index].$valid && ($ctrl.currentForm['analysisDataPackagesAnalyzedDataPackage_' + $ctrl.index].$dirty || $ctrl.currentForm['analysisDataPackagesAnalyzedDataPackage_' + $ctrl.index].$touched)"
                   md-input-name="analysisDataPackagesAnalyzedDataPackage_{{$ctrl.index}}"
                   md-selected-item="$ctrl.currentDataPackage"
                   md-selected-item-change="$ctrl.selectedItem($ctrl.currentDataPackage)"
                   md-item-text="item.title[$ctrl.currentLanguage]"
                   md-search-text="$ctrl.searchText"
                   md-items="item in $ctrl.search($ctrl.searchText)">
    <md-item-template>
      <span md-highlight-text="$ctrl.searchText"
            md-highlight-flags="ig">{{item.title[$ctrl.currentLanguage]}}</span>
    </md-item-template>
    <md-not-found>
      {{'analysis-package-management.error.analyzed-data-package.data-package-master-id.not-found' | translate}}
    </md-not-found>
    <div
      class="fdz-input-hint"
      ng-if="!$ctrl.currentForm['analysisDataPackagesAnalyzedDataPackage_' + $parent.$ctrl.index].$dirty && !$ctrl.currentForm['analysisDataPackagesAnalyzedDataPackage_' + $parent.$ctrl.index].$touched">
      {{'analysis-package-management.edit.hints.analyzed-data-package.data-package' | translate}}
    </div>
    <div
      ng-messages="$ctrl.currentForm['analysisDataPackagesAnalyzedDataPackage_' + $parent.$ctrl.index].$error">
      <div ng-message="required">
        {{'analysis-package-management.error.analyzed-data-package.data-package-master-id.not-empty' | translate}}
      </div>
      <div ng-message="md-require-match">
        {{'analysis-package-management.error.analyzed-data-package.data-package-master-id.not-valid' | translate}}
      </div>
    </div>
  </md-autocomplete>
</div>
<div layout="row"
     layout-gt-sm="row"
     class="ms-flex">
  <md-input-container flex="50"
                      class="mr8 ms-flex"
                      md-is-error="!$ctrl.currentForm['analysisDataPackagesAnalyzedDataPackageVersion_' + $ctrl.index].$valid && ($ctrl.currentForm['analysisDataPackagesAnalyzedDataPackageVersion_' + $ctrl.index].$dirty || $ctrl.currentForm['analysisDataPackagesAnalyzedDataPackageVersion_' + $ctrl.index].$touched)">
    <label>{{ 'analysis-package-management.detail.label.analyzed-data-package.version' | translate}}</label>
    <md-select ng-disabled="$ctrl.currentDataPackage ? false : true"
               ng-model="$ctrl.currentVersion"
               ng-change="$ctrl.changeVersion()"
               name="analysisDataPackagesAnalyzedDataPackageVersion_{{$ctrl.index}}"
               ng-model-options="{trackBy: '$value.version'}"
               required>
      <md-optgroup
        label="{{'analysis-package-management.detail.label.analyzed-data-package.available-versions' | translate}}">
        <md-option ng-repeat="item in $ctrl.releases" ng-value="item">
          {{item.version}}
        </md-option>
      </md-optgroup>
    </md-select>
    <div class="fdz-input-hint"
         ng-if="!$ctrl.currentForm['analysisDataPackagesAnalyzedDataPackageVersion_' + $ctrl.index].$dirty && !$ctrl.currentForm['analysisDataPackagesAnalyzedDataPackageVersion_' + $ctrl.index].$touched">
      {{'analysis-package-management.edit.hints.analyzed-data-package.version' | translate}}
    </div>
    <div multiple
         ng-messages="$ctrl.currentForm['analysisDataPackagesAnalyzedDataPackageVersion_' + $ctrl.index].$error">
      <div ng-message="required">
        {{'analysis-package-management.error.analyzed-data-package.version.not-empty' | translate}}
      </div>
    </div>
  </md-input-container>
  <md-input-container flex="50"
                      class="mr8 ms-flex">
    <label>{{ 'analysis-package-management.detail.label.analyzed-data-package.access-way' | translate}}</label>
    <md-select ng-disabled="$ctrl.currentDataPackage ? false : true"
               ng-model="$ctrl.currentAccessWay"
               ng-change="$ctrl.changeAccessWay()"
               name="analysisDataPackagesAnalyzedDataPackageAccessWay_{{$ctrl.index}}"
               ng-model-options="{trackBy: '$value'}"
               required>
      <md-optgroup
        label="{{'analysis-package-management.detail.label.analyzed-data-package.available-access-ways' | translate}}">
        <md-option ng-repeat="item in $ctrl.accessWays" ng-value="item">
          {{item | displayAccessWay}}
        </md-option>
      </md-optgroup>
    </md-select>
    <div class="fdz-input-hint"
         ng-if="!$ctrl.currentForm['analysisDataPackagesAnalyzedDataPackageAccessWay_' + $ctrl.index].$dirty && !$ctrl.currentForm['analysisDataPackagesAnalyzedDataPackageAccessWay_' + $ctrl.index].$touched">
      {{'analysis-package-management.edit.hints.analyzed-data-package.access-way.choose' | translate}}
    </div>
    <div multiple
         ng-messages="$ctrl.currentForm['analysisDataPackagesAnalyzedDataPackageAccessWay_' + $ctrl.index].$error">
      <div ng-message="required">
        {{'analysis-package-management.error.analyzed-data-package.access-way.not-empty' | translate}}
      </div>
    </div>
  </md-input-container>
</div>
