<md-dialog aria-label="protocol for upload">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>{{'search.dialog.upload.upload-protocol' | translate}}</span>
            </h2>
            <span flex></span>
            <div class="pull-right">
                <span class="label label-as-badge label-success">{{'search.dialog.upload.success' | translate}}:
                    {{ctrl.parent.job.successes || 0}}</span>
                <span class="label label-as-badge label-danger">{{'search.dialog.upload.error' | translate}}:
                    {{ctrl.parent.job.errors || 0}}</span>
            </div>
            <md-button class="md-icon-button" ng-click="ctrl.parent.cancel()">
                <md-icon md-font-set="material-icons">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <uib-accordion>
            <uib-accordion-group is-open="true">
                <div>
                    <pre><span ng-repeat="logMessage in ctrl.parent.job.logMessages track by $index" ng-class="{'text-danger': logMessage.type==='error'}">{{logMessage.message}}</span></pre>
                </div>
            </uib-accordion-group>
        </uib-accordion>
    </md-dialog-content>
</md-dialog>
