<md-toast>
    <span data-translate="search.toast.no-project-toast-title"></span>
    <md-button class="md-raised md-primary" ng-click="closeToast()" aria-label="search.buttons.close">
        <span data-translate="search.buttons.close"></span>
    </md-button>
</md-toast>
