<div class="fdz-cc">
<div layout="column" ng-switch="isAuthenticated()" ngf-drop="tabs[searchParams.selectedTabIndex].uploadFunction($files)" ngf-multiple="true" ngf-drag-over-class="{accept:'fdz-file-drop-accept', delay:0}" ngf-drop-disabled="isDropZoneDisabled">
  <div ng-if="isAuthenticated()">
    <md-card class="pa0 db">
        <md-tabs md-selected="searchParams.selectedTabIndex" md-dynamic-height md-border-bottom>
            <md-tab ng-repeat="tab in tabs" md-on-select="onSelectedTabChanged()" ng-disabled="tab.disabled">
                <md-tab-label>
                    <span>{{tab.title|translate}} {{tab.count != null? '(' + tab.count + ')' : ''}}</span>
                  <span ng-if="tab.group && currentProject && !currentProject.released && hasAnyAuthority(['ROLE_PUBLISHER','ROLE_DATA_PROVIDER']) && tab.group !== 'concepts'" ng-switch="getSentimentValue(tab.group)">
                            <span ng-switch-when="0">
                                <md-icon md-svg-src="assets/images/icons/clipboard.svg"></md-icon>
                            </span>
                            <span ng-switch-when="1">
                                <md-icon md-svg-src="assets/images/icons/clipboard-check.svg"></md-icon>
                            </span>
                            <span ng-switch-when="2">
                                <md-icon md-svg-src="assets/images/icons/clipboard-double-check.svg"></md-icon>
                            </span>
                        </span>
                    <md-tooltip md-direction="top" md-autohide="true" md-z-index="bowser.msie || bowser.msedge || bowser.mobile || bowser.tablet ? -100 : 100001">{{tab.title+'-tooltip'|translate}}</md-tooltip>
                </md-tab-label>
            </md-tab>
        </md-tabs>
        <form role="search" ng-submit="hideMobileKeyboard($event)" class="pb8">
            <md-input-container class="fdz-search-input">
                <label>{{tabs[searchParams.selectedTabIndex].inputLabel|translate}}</label>
                <md-icon md-font-set="material-icons">search</md-icon>
                <input id="query" type="search" ng-model="searchParams.query" ng-model-options="{debounce: 250}" autocomplete="off" tabindex="0" fdz-clear-input md-select-on-focus>
            </md-input-container>
            <input type="submit" ng-hide="true">
        </form>
        <md-progress-linear ng-if="!tabs[searchParams.selectedTabIndex].elasticSearchType" md-mode="indeterminate" ng-disabled="!isSearching"></md-progress-linear>
    </md-card>
    <md-card ng-if="tabs[searchParams.selectedTabIndex].elasticSearchType" class="pa0">
        <search-filter-panel current-elasticsearch-type="tabs[searchParams.selectedTabIndex].elasticSearchType" current-language="currentLanguage" current-search-params="searchParams" filter-changed-callback="onFilterChanged" bowser="bowser" is-searching="isSearching"></search-filter-panel>
    </md-card>
  </div>
  <div ng-if="options.pageObject.totalHits" layout="row" layout-align="center">
    <fdz-paginator options="options"
                  on-update="onPageChanged(event = $event, option = $option)"
                  template-url="scripts/common/paginator/fdzPaginatorTemplate.html.tmpl"></fdz-paginator>
  </div>
  <div>
        <div ng-repeat="result in searchResult" ng-switch="result._index" class="fdz-fade-in fdz-dp-search-container">
            <variable-search-result
              ng-if="isAuthenticated()"
              ng-switch-when="variables"
              search-query="searchParams.query"
              search-result="result._source"
              current-language="currentLanguage"
              bowser="bowser"
              search-result-index="computeSearchResultIndex($index)"></variable-search-result>
            <survey-search-result
              ng-if="isAuthenticated()"
              ng-switch-when="surveys"
              search-query="searchParams.query"
              search-result="result._source"
              current-language="currentLanguage"
              bowser="bowser"
              add-margin="$mdMedia('gt-sm')"
              search-result-index="computeSearchResultIndex($index)"></survey-search-result>
            <question-search-result
              ng-if="isAuthenticated()"
              ng-switch-when="questions"
              search-query="searchParams.query"
              search-result="result._source"
              current-language="currentLanguage"
              bowser="bowser"
              search-result-index="computeSearchResultIndex($index)"></question-search-result>
            <dataset-search-result
              ng-if="isAuthenticated()"
              ng-switch-when="data_sets"
              search-query="searchParams.query"
              search-result="result._source"
              current-language="currentLanguage"
              bowser="bowser"
              add-margin="$mdMedia('gt-sm')"
              search-result-index="computeSearchResultIndex($index)"></dataset-search-result>
            <datapackage-search-result
              bowser="bowser"
              current-language="currentLanguage"
              ng-switch-when="data_packages"
              search-query="searchParams.query"
              search-result="result._source"
              set-params="setCurrentSearchParams()"
              search-result-index="computeSearchResultIndex($index)"></datapackage-search-result>
            <analysispackage-search-result
              bowser="bowser"
              current-language="currentLanguage"
              ng-switch-when="analysis_packages"
              search-query="searchParams.query"
              search-result="result._source"
              set-params="setCurrentSearchParams()"
              search-result-index="computeSearchResultIndex($index)"></analysispackage-search-result>
            <related-publication-search-result
              ng-switch-when="related_publications"
              search-query="searchParams.query"
              search-result="result._source"
              current-language="currentLanguage"
              bowser="bowser"
              search-result-index="computeSearchResultIndex($index)"></related-publication-search-result>
            <instrument-search-result
              ng-if="isAuthenticated()"
              ng-switch-when="instruments"
              search-query="searchParams.query"
              search-result="result._source"
              current-language="currentLanguage"
              bowser="bowser"
              search-result-index="computeSearchResultIndex($index)"></instrument-search-result>
            <concept-search-result
              ng-if="isAuthenticated()"
              ng-switch-when="concepts"
              search-query="searchParams.query"
              search-result="result._source"
              current-language="currentLanguage"
              bowser="bowser"
              search-result-index="computeSearchResultIndex($index)"></concept-search-result>
        </div>
         <div class="fdz-no-result" ng-if="searchResult.length === 0">
           <p>{{ 'search-management.no-results-text.all' | translate }}</p>
         </div>
    <div ng-if="options.pageObject.totalHits" layout="row" layout-align="center">
      <fdz-paginator  options="options"
                      on-update="onPageChanged(event = $event, option = $option)"
                      template-url="scripts/common/paginator/fdzPaginatorTemplate.html.tmpl"></fdz-paginator>
    </div>
  <div ng-switch-when="true" data-has-any-authority="ROLE_PUBLISHER, ROLE_DATA_PROVIDER" class="fdz-fab-button-container" layout="column" layout-align="center end">
        <div layout="row" layout-align="end center">
          <md-button class="md-primary md-fab" ng-click="refresh()">
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'search-management.buttons.refresh-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">refresh</md-icon>
          </md-button>
        </div>
        <report-publications-component ng-if="currentProject && tabs[searchParams.selectedTabIndex].elasticSearchType==='related_publications'"></report-publications-component>
        <md-button ng-disabled="!tabs[searchParams.selectedTabIndex].count" class="md-fab md-raised md-primary" ng-click="deleteAllDataPackages()" ng-if="tabs[searchParams.selectedTabIndex].elasticSearchType==='data_packages' && currentProject">
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'search-management.buttons.delete-all-data-packages-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">delete_sweep</md-icon>
        </md-button>
        <md-button ng-disabled="!tabs[searchParams.selectedTabIndex].count" class="md-fab md-raised md-primary" ng-click="deleteAllAnalysisPackages()" ng-if="tabs[searchParams.selectedTabIndex].elasticSearchType==='analysis_packages' && currentProject">
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'search-management.buttons.delete-all-analysis-packages-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">delete_sweep</md-icon>
        </md-button>
        <md-button ng-disabled="!tabs[searchParams.selectedTabIndex].count" class="md-fab md-raised md-primary" ng-click="deleteAllQuestions()" ng-if="tabs[searchParams.selectedTabIndex].elasticSearchType==='questions' && currentProject">
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'search-management.buttons.delete-all-questions-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">delete_sweep</md-icon>
        </md-button>
        <md-button ng-disabled="!tabs[searchParams.selectedTabIndex].count" class="md-fab md-raised md-primary" ng-click="deleteAllVariables()" ng-if="tabs[searchParams.selectedTabIndex].elasticSearchType==='variables' && currentProject">
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'search-management.buttons.delete-all-variables-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">delete_sweep</md-icon>
        </md-button>
        <md-button ng-disabled="!tabs[searchParams.selectedTabIndex].count" class="md-fab md-raised md-primary" ng-click="deleteAllInstruments()" ng-if="tabs[searchParams.selectedTabIndex].elasticSearchType==='instruments' && currentProject">
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'search-management.buttons.delete-all-instruments-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">delete_sweep</md-icon>
        </md-button>
        <md-button ng-disabled="!tabs[searchParams.selectedTabIndex].count" class="md-fab md-raised md-primary" ng-click="deleteAllSurveys()" ng-if="tabs[searchParams.selectedTabIndex].elasticSearchType==='surveys' && currentProject">
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'search-management.buttons.delete-all-surveys-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">delete_sweep</md-icon>
        </md-button>
        <md-button ng-disabled="!tabs[searchParams.selectedTabIndex].count" class="md-fab md-raised md-primary" ng-click="deleteAllDataSets()" ng-if="tabs[searchParams.selectedTabIndex].elasticSearchType==='data_sets' && currentProject">
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'search-management.buttons.delete-all-data-sets-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">delete_sweep</md-icon>
        </md-button>
        <div ng-if="tabs[searchParams.selectedTabIndex].elasticSearchType==='data_packages'">
            <md-button ng-if="!currentDataPackage" class="md-fab md-raised md-accent" ng-click="navigateToCreateState('dataPackageCreate')">
                <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'search-management.buttons.create-data-package-tooltip' | translate}}
                </md-tooltip>
                <md-icon md-font-set="material-icons">add</md-icon>
            </md-button>
            <md-button ng-if="currentDataPackage" class="md-fab md-raised md-accent" ui-sref="dataPackageEdit({id: currentDataPackage.id})">
                <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'search-management.buttons.edit-data-package-tooltip' | translate}}
                </md-tooltip>
                <md-icon md-font-set="material-icons">mode_edit</md-icon>
            </md-button>
        </div>
        <div ng-if="tabs[searchParams.selectedTabIndex].elasticSearchType==='analysis_packages'">
            <md-button ng-if="!currentAnalysisPackage" class="md-fab md-raised md-accent" ng-click="navigateToCreateState('analysisPackageCreate')">
                <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'search-management.buttons.create-analysis-package-tooltip' | translate}}
                </md-tooltip>
                <md-icon md-font-set="material-icons">add</md-icon>
            </md-button>
            <md-button ng-if="currentAnalysisPackage" class="md-fab md-raised md-accent" ui-sref="analysisPackageEdit({id: currentAnalysisPackage.id})">
                <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'search-management.buttons.edit-analysis-package-tooltip' | translate}}
                </md-tooltip>
                <md-icon md-font-set="material-icons">mode_edit</md-icon>
            </md-button>
        </div>
        <!-- Index 2 = Questions Tab -->
        <md-button aria-label="{{'search-management.buttons.upload-questions' | translate}}" ng-if="tabs[searchParams.selectedTabIndex].elasticSearchType==='questions'" type="file" ngf-select="uploadQuestions($files)" ngf-multiple="true" ngf-select-disabled="!isUploadAllowed('questions')" class="md-accent md-fab fdz-fade-in"
          directory webkitdirectory>
            <md-tooltip ng-hide="!currentProject || currentProject.release" md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'search-management.buttons.upload-questions-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">add</md-icon>
        </md-button>

        <md-button aria-label="{{'search-management.buttons.upload-variables' | translate}}" ng-if="tabs[searchParams.selectedTabIndex].elasticSearchType==='variables'" type="file" ngf-select="uploadVariables($files)" ngf-select-disabled="!isUploadAllowed('variables')" class="md-accent md-fab fdz-fade-in" ngf-multiple="true"
          directory webkitdirectory>
            <md-tooltip ng-hide="!currentProject || currentProject.release" md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'search-management.buttons.upload-variables-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">add</md-icon>
        </md-button>

        <md-button class="md-fab md-raised md-accent" ng-click="navigateToCreateState('surveyCreate')" ng-if="tabs[searchParams.selectedTabIndex].elasticSearchType==='surveys'">
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'search-management.buttons.create-survey-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">add</md-icon>
        </md-button>

        <md-button class="md-fab md-raised md-accent" ng-click="navigateToCreateState('dataSetCreate')" ng-if="tabs[searchParams.selectedTabIndex].elasticSearchType==='data_sets'">
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'search-management.buttons.create-data-set-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">add</md-icon>
        </md-button>

        <md-button class="md-fab md-raised md-accent" ng-click="navigateToCreateState('instrumentCreate')" ng-if="tabs[searchParams.selectedTabIndex].elasticSearchType==='instruments'">
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'search-management.buttons.create-instrument-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">add</md-icon>
        </md-button>

        <md-button data-has-authority="ROLE_PUBLISHER" ng-if="!currentProject && tabs[searchParams.selectedTabIndex].elasticSearchType==='related_publications'" type="file" ngf-select="uploadRelatedPublications($file)" accept=".xlsx" class="md-accent md-fab fdz-fade-in">
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'search-management.buttons.upload-related-publications-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">cloud_upload</md-icon>
        </md-button>

        <md-button class="md-fab md-raised md-accent" data-has-authority="ROLE_PUBLISHER" ng-click="navigateToCreateState('conceptCreate')" ng-if="tabs[searchParams.selectedTabIndex].elasticSearchType==='concepts'">
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'search-management.buttons.create-concept-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">add</md-icon>
        </md-button>
    </div>
    <div class="fdz-fab-button-container" ng-if="!isAuthenticated()" layout="column" layout-align="center end">
      <report-publications-component></report-publications-component>
      <md-button hide-gt-md class="md-fab md-raised md-accent"
                 ng-click="toggleSidenav()">
        <md-tooltip md-autohide="true" md-direction="left"
                    md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'search-management.buttons.open-filter-panel' | translate}}
        </md-tooltip>
        <md-icon md-font-set="material-icons">filter_alt</md-icon>
      </md-button>
    </div>
</div>
</div>
