<md-toast>
    <span data-translate="toast.upload-complete-toast-title"></span>
    <md-button class="md-raised md-accent" ng-click="showLog()" aria-label="toast.show-log">
        <span data-translate="toast.show-log"></span>
    </md-button>
    <md-button class="md-raised md-primary" ng-click="closeToast()" aria-label="toast.close">
        <span data-translate="toast.close"></span>
    </md-button>
</md-toast>
