<div class="fdz-breadcrumbs" ng-if="$ctrl.show">
  <div class="md-body-1" ng-repeat="item in $ctrl.items">
    <a ng-if="!$last && !item.notFound && item.state"
       ui-sref="{{item.state}}" ng-attr-rel="{{item.state.indexOf('search') > -1 ? 'search': ($index === $ctrl.items.length - 2? 'parent' : undefined)}}">
      <span class="fdz-truncate-string" hide-xs>{{item.type | translate}}</span>
      <span class="fdz-truncate-string" hide-xs ng-if="item.tabName && $ctrl.isAuthenticated()">({{item.tabName | translate}})</span>
      <span class="fdz-truncate-string" hide-xs ng-if="item.id">{{item.id}}</span>
      <span class="fdz-truncate-string" hide-xs ng-if="item.number">{{item.number}}</span>
      <span class="fdz-truncate-string" hide-xs ng-if="item.numbers">{{item.numbers}}</span>
      <span class="fdz-truncate-string" hide-xs ng-if="item.projectId">{{item.projectId}}</span>
      <span class="fdz-truncate-string" hide-xs ng-if="item.name">{{item.name}}</span>
      <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            <span ng-if="item.tabName" translate='{{item.tooltip}}'
                  translate-value-tabname="{{item.tabName | translate}}"></span>
        <span ng-if="item.id" translate='{{item.tooltip}}' translate-value-param="{{item.id}}"></span>
        <span ng-if="item.number" translate='{{item.tooltip}}' translate-value-param="{{item.number}}"></span>
        <span ng-if="item.numbers" translate='{{item.tooltip}}' translate-value-param="{{item.numbers}}"></span>
        <span ng-if="item.projectId" translate='{{item.tooltip}}' translate-value-param="{{item.projectId}}"></span>
        <span ng-if="item.name" translate='{{item.tooltip}}' translate-value-param="{{item.name}}"></span>
      </md-tooltip>
    </a>
    <a class="fdz-truncate-string"
       disabled="true"
       ng-if="item.notFound">
      {{item.type | translate}}
      <span class="fdz-truncate-string">{{item.notFound}}</span>
    </a>
    <span hide-xs ng-if="!$last" class="mv0 mh8">></span>
    <a class="fdz-truncate-string"
       ng-disabled="!item.enableLastItem"
       ng-href="javascript:void(0);"
       ng-if="$last && !item.notFound && item.enableLastItem"
       ui-sref="{{item.state}}">
      {{item.type | translate}}
      <span class="fdz-truncate-string" ng-if="item.tabName && $ctrl.isAuthenticated()">({{item.tabName | translate}})</span>
      <span class="fdz-truncate-string" ng-if="item.id">{{item.id}}</span>
      <span class="fdz-truncate-string" ng-if="item.number">{{item.number}}</span>
      <span class="fdz-truncate-string" ng-if="item.projectId">{{item.projectId}}</span>
      <span class="fdz-truncate-string" ng-if="item.name">{{item.name}}</span>
      <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001"
                  ng-if="item.enableLastItem">
                <span ng-if="item.tabName" translate='{{item.tooltip}}'
                      translate-value-tabname="{{item.tabName | translate}}"></span>
        <span ng-if="item.id" translate='{{item.tooltip}}' translate-value-param="{{item.id}}"></span>
        <span ng-if="item.number" translate='{{item.tooltip}}' translate-value-param="{{item.number}}"></span>
        <span ng-if="item.numbers" translate='{{item.tooltip}}' translate-value-param="{{item.numbers}}"></span>
        <span ng-if="item.projectId" translate='{{item.tooltip}}'
              translate-value-param="{{item.projectId}}"></span>
        <span ng-if="item.name" translate='{{item.tooltip}}' translate-value-param="{{item.name}}"></span>
      </md-tooltip>
    </a>
    <span class="fdz-truncate-string fdz-text"
          ng-disabled="!item.enableLastItem"
          ng-href="javascript:void(0);"
          ng-if="$last && !item.notFound && item.enableLastItem === undefined"
          ui-sref="{{item.state}}">
      {{item.type | translate}}
      <span class="fdz-truncate-string" ng-if="item.tabName && $ctrl.isAuthenticated()">({{item.tabName | translate}})</span>
      <span class="fdz-truncate-string" ng-if="item.id">{{item.id}}</span>
      <span class="fdz-truncate-string" ng-if="item.number">{{item.number}}</span>
      <span class="fdz-truncate-string" ng-if="item.projectId">{{item.projectId}}</span>
      <span class="fdz-truncate-string" ng-if="item.name">{{item.name}}</span>
      <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001"
                  ng-if="item.enableLastItem">
                <span ng-if="item.tabName" translate='{{item.tooltip}}'
                      translate-value-tabname="{{item.tabName | translate}}"></span>
        <span ng-if="item.id" translate='{{item.tooltip}}' translate-value-param="{{item.id}}"></span>
        <span ng-if="item.number" translate='{{item.tooltip}}' translate-value-param="{{item.number}}"></span>
        <span ng-if="item.numbers" translate='{{item.tooltip}}' translate-value-param="{{item.numbers}}"></span>
        <span ng-if="item.projectId" translate='{{item.tooltip}}'
              translate-value-param="{{item.projectId}}"></span>
        <span ng-if="item.name" translate='{{item.tooltip}}' translate-value-param="{{item.name}}"></span>
      </md-tooltip>
    </span>
  </div>
</div>
