<md-card>
  <md-divider></md-divider>
  <md-card-header>
    <md-card-header-text>
      <h2 class="md-title">{{'global.cards.related-objects' | translate }} {{searchParams.filter.version?'- Version ' + searchParams.filter.version:'' }}</h2>
    </md-card-header-text>
    <md-button
      aria-label="md-card collapsed = {{$ctrl.collapsed}}}"
      class="md-card-collapsible-button"
      ng-click="$ctrl.collapsed = !$ctrl.collapsed">
      <md-icon md-font-set="material-icons" ng-if="!$ctrl.collapsed">keyboard_arrow_up</md-icon>
      <md-icon md-font-set="material-icons" ng-if="$ctrl.collapsed">keyboard_arrow_down</md-icon>
    </md-button>
  </md-card-header>
  <div ng-if="!$ctrl.collapsed">
    <md-card-content>
      <md-tabs md-border-bottom md-dynamic-height md-selected="$ctrl.searchParams.selectedTabIndex">
        <md-tab md-on-select="$ctrl.onSelectedTabChanged()" ng-disabled="tab.disabled" ng-repeat="tab in $ctrl.tabs">
          <md-tab-label>
            <span>{{tab.title|translate}} {{tab.count != null? '(' + tab.count + ')' : ''}}</span>
            <md-tooltip md-autohide="true" md-direction="top"
                        md-z-index="bowser.msie || bowser.msedge || bowser.mobile || bowser.tablet ? -100 : 100001">
              {{tab.title+'-tooltip'|translate}}
            </md-tooltip>
          </md-tab-label>
        </md-tab>
      </md-tabs>
      <div class="fdz-detail-search-container">
        <form
          class="fdz-search"
          md-whiteframe="1"
          ng-submit="$ctrl.hideMobileKeyboard($event)"
          role="search">
          <md-input-container class="fdz-search__input hide-validation-error" md-no-float>
            <md-icon md-font-set="material-icons">search</md-icon>
            <input
              autocomplete="off"
              id="query"
              md-select-on-focus
              ng-model="$ctrl.searchParams.query"
              ng-model-options="{debounce: 250}"
              placeholder="{{'global.search-component.search' | translate}} {{$ctrl.placeHolder | translate}}"
              tabindex="0"
              type="search">
            <md-button
              class="md-small md-primary"
              ng-if="!$ctrl.searchParams.query">
              {{'global.search-component.search' | translate}}
            </md-button>
            <md-button
              class="md-small md-primary"
              ng-if="$ctrl.searchParams.query"
              ng-click="$ctrl.searchParams.query = ''">
              {{'global.search-component.delete' | translate}}
            </md-button>
          </md-input-container>
          <input ng-hide="true" type="submit">
          <md-progress-linear md-mode="indeterminate" ng-disabled="!isSearching"></md-progress-linear>
        </form>
        <div ng-if="$ctrl.options.pageObject.totalHits" layout="row" layout-align="center" style="margin-bottom: 0px;">
          <fdz-paginator  options="$ctrl.options"
                          on-update="$ctrl.onPageChanged(event = $event, option = $option)"
                          template-url="scripts/common/paginator/fdzPaginatorTemplate.html.tmpl"></fdz-paginator>
        </div>
        <div class="flex fdz-detail-search-item-container">
          <div ng-repeat="result in $ctrl.searchResult" ng-switch="result._index" class="fdz-fade-in">
            <study-search-result
              ng-switch-when="studies"
              search-result="result._source"
              current-language="$ctrl.lang"
              bowser="bowser"
              search-result-index="computeSearchResultIndex($index)"></study-search-result>
            <variable-search-result
              ng-switch-when="variables"
              search-result="result._source"
              current-language="$ctrl.lang"
              bowser="bowser"
              search-result-index="computeSearchResultIndex($index)"></variable-search-result>
            <survey-search-result
              ng-switch-when="surveys"
              search-result="result._source"
              current-language="$ctrl.lang"
              bowser="bowser"
              add-margin="$mdMedia('gt-sm')"
              search-result-index="computeSearchResultIndex($index)"></survey-search-result>
            <question-search-result
              ng-switch-when="questions"
              search-result="result._source"
              current-language="$ctrl.lang"
              bowser="bowser"
              search-result-index="computeSearchResultIndex($index)"></question-search-result>
            <dataset-search-result
              ng-switch-when="data_sets"
              search-result="result._source"
              current-language="$ctrl.lang"
              bowser="bowser"
              add-margin="$mdMedia('gt-sm')"
              search-result-index="computeSearchResultIndex($index)"></dataset-search-result>
            <related-publication-search-result
              ng-switch-when="related_publications"
              search-result="result._source"
              current-language="$ctrl.lang"
              bowser="bowser"
              search-result-index="computeSearchResultIndex($index)"></related-publication-search-result>
            <instrument-search-result
              ng-switch-when="instruments"
              search-result="result._source"
              current-language="$ctrl.lang"
              bowser="bowser"
              search-result-index="computeSearchResultIndex($index)"></instrument-search-result>
            <concept-search-result
              ng-switch-when="concepts"
              search-result="result._source"
              current-language="$ctrl.lang"
              bowser="bowser"
              search-result-index="computeSearchResultIndex($index)"></concept-search-result>
          </div>
      </div>
      <div ng-if="$ctrl.options.pageObject.totalHits" layout="row" layout-align="center" style="margin-bottom: 0px;">
        <fdz-paginator  options="$ctrl.options"
                        on-update="$ctrl.onPageChanged(event = $event, option = $option)"
                        template-url="scripts/common/paginator/fdzPaginatorTemplate.html.tmpl"></fdz-paginator>
      </div>
    </md-card-content>
  </div>
</md-card>
