<md-toast>
    <span translate="{{messageId}}" translate-values='{ name: messageParam}' ></span>
    <md-button class="md-raised md-primary" ng-click="closeToast()" aria-label="">
        <span data-translate="search.buttons.close"></span>
    </md-button>
</md-toast>
