<md-toast>
    <span translate="{{messageId}}" translate-values="messageParams"></span>
    <md-button class="md-raised md-primary" ng-click="closeToast()" aria-label="{{search.buttons.close}}">
        <span data-translate="global.buttons.close"></span>
    </md-button>
</md-toast>
