<md-toast ng-class="{'md-accent': alert}">
    <span data-translate="{{messageId}}" data-translate-values="messageParams"></span>
    <md-button aria-label="{{'global.buttons.close' | translate}}" ng-click="closeToast()">
        <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
            {{'global.toast.tooltip.close' | translate}}
        </md-tooltip>
        <md-icon ng-style="{color: alert?'black':'white'}" md-font-set="material-icons">close</md-icon>
    </md-button>
</md-toast>
