<div ng-if="!ctrl.isAuthenticated() || ctrl.hasAuthority('ROLE_USER')" layout="column" layout-gt-sm="row">
    <div flex-gt-sm="50">
        <md-card flex class="fdz-reset-top-margin">
            <md-card-header>
                <md-card-header-text>
                    <h2 class="md-title">{{'shopping-cart.detail.label.product-options' | translate | fdzHyphenate}}</h2>
                </md-card-header-text>
            </md-card-header>
            <md-divider></md-divider>
            <md-card-content ng-if="!ctrl.noFinalRelease && !ctrl.noDataSets && !ctrl.variableNotAccessible && !ctrl.dataNotAvailable">
                <div layout="row">
                    <md-input-container flex="50">
                        <label>{{'shopping-cart.detail.label.access-way-of-data-sets' | translate}}</label>
                        <md-select ng-model="ctrl.selectedAccessWay">
                            <md-optgroup label="{{'shopping-cart.detail.label.available-access-ways' | translate}}">
                                <md-option ng-repeat="item in ctrl.accessWays" ng-value="item">{{item}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>{{'shopping-cart.detail.label.version-of-data-sets' | translate }}</label>
                        <md-select ng-model="ctrl.selectedVersion">
                            <md-optgroup label="{{'shopping-cart.detail.label.available-versions' | translate}}">
                                <md-option ng-repeat="item in ctrl.releases" ng-value="item.version">{{item.version}}{{$first?' (' + ('shopping-cart.detail.label.current' | translate) + ')':''}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-button class="md-raised md-accent fdz-truncate-string" ng-click="ctrl.addToShoppingCart()" style="margin-left: 0px; margin-top: 0px;" ng-disabled="!ctrl.selectedAccessWay || !ctrl.selectedVersion">
                        <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                            {{'shopping-cart.buttons.add-study-tooltip' | translate}}
                        </md-tooltip>
                        <md-icon md-font-set="material-icons">add_shopping_cart</md-icon>
                        <span>{{'shopping-cart.buttons.add-study' | translate}}</span>
                    </md-button>
                    <md-button class="md-raised md-primary fdz-truncate-string" style="margin-top: 0px;" ui-sref="shoppingCart">
                        <md-icon md-font-set="material-icons">shopping_cart</md-icon>
                        <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 20">
                            {{'shopping-cart.buttons.open-cart-tooltip' | translate}}
                        </md-tooltip>
                        <span>{{'shopping-cart.buttons.open-cart' | translate}}</span>
                    </md-button>
                </div>
            </md-card-content>
            <md-card-content ng-if="ctrl.noFinalRelease || ctrl.noDataSets || ctrl.variableNotAccessible || ctrl.dataNotAvailable">
                <p ng-if="!ctrl.variableNotAccessible && !ctrl.dataNotAvailable">
                  {{'shopping-cart.detail.no-final-release' | translate | fdzHyphenate}}
                </p>
                <p ng-if="ctrl.variableNotAccessible">
                  {{'shopping-cart.detail.variable-not-accessible' | translate | fdzHyphenate}}
                </p>
                <p ng-if="ctrl.dataNotAvailable">
                  {{'shopping-cart.detail.data-not-available' | translate | fdzHyphenate}}
                </p>
            </md-card-content>
        </md-card>
    </div>
    <div flex-gt-sm="50">
        <div class="fdz-fake-empty-card fdz-reset-top-margin" ng-class="{'fdz-reset-left-margin': $mdMedia('gt-sm')}"></div>
    </div>
</div>
