<div>
  <h2><span data-translate="metadatamanagementApp.survey.detail.title">Survey</span> {{survey.fdzId}}</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th data-translate="entity.detail.field">Field</th>
          <th data-translate="entity.detail.value">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span data-translate="metadatamanagementApp.survey.fdzId">fdzId</span>
          </td>
          <td>
            <span class="form-control-static">{{survey.fdzId}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span data-translate="metadatamanagementApp.survey.title.de">Title (DE)</span>
          </td>
          <td>
            <span class="form-control-static">{{survey.title.de}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span data-translate="metadatamanagementApp.survey.title.en">Title (EN)</span>
          </td>
          <td>
            <span class="form-control-static">{{survey.title.en}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span data-translate="metadatamanagementApp.survey.fieldPeriod.start">FieldPeriod (Start)</span>
          </td>
          <td>
            <span class="form-control-static">{{survey.fieldPeriod.start | date:'mediumDate'}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span data-translate="metadatamanagementApp.survey.fieldPeriod.end">FieldPeriod (end)</span>
          </td>
          <td>
            <span class="form-control-static">{{survey.fieldPeriod.end | date:'mediumDate'}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span data-translate="metadatamanagementApp.survey.fdzProjectName">FdzProjectName</span>
          </td>
          <td>
            <span class="form-control-static">{{survey.fdzProject.name}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <button type="submit" onclick="window.history.back()" class="btn btn-info">
    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
  </button>
</div>
