<div>
   <div>
      <ul class="list-group">
            <li ng-repeat="survey in currentPage._embedded.surveys" class="list-group-item">
                  <h4 class="list-group-item-heading">
                      <a ui-sref="survey.detail({id:survey.id})">{{survey.name}}</a>
                  </h4>
                  <p class="list-group-item-text">{{survey.title[currentLanguage]}}</p>
                  <p class="list-group-item-text">{{'metadatamanagementApp.survey.fieldPeriod.start' |translate}}: {{survey.fieldPeriod.start | date:'mediumDate'}} {{'metadatamanagementApp.survey.fieldPeriod.end'|translate}}: {{survey.fieldPeriod.end | date:'mediumDate'}}</p>
            </li>
      </ul>
  </div>
    <div  class="col-md-12 col-md-offset-4">
    <uib-pagination total-items="pageState.totalElements" ng-model="pageState.currentPageNumber" ng-change="pageChanged()" max-size="pageState.maxSize" class="pagination-sm" boundary-links="true" boundary-link-numbers="true" rotate="false" previous-text="{{'pager.previous' | translate}}" next-text="{{'pager.next' | translate}}" first-text="{{'pager.first' | translate}}" last-text="{{'pager.last' | translate}}"></uib-pagination>
  </div>
</div>
<div ng-if="!currentPage.$resolved">
  <loading></loading>
</div>
