<div>
  <h2 data-translate="metadatamanagementApp.survey.home.title">Surveys</h2>
  <jh-alert></jh-alert>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-primary" ui-sref="survey.new">
          <span class="glyphicon glyphicon-flash"></span> <span data-translate="metadatamanagementApp.survey.home.createLabel">Create a new Survey</span>
        </button>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
          <th jh-sort-by="fdzId"><span data-translate="global.field.fdzId">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
          <th jh-sort-by="title"><span data-translate="metadatamanagementApp.survey.title.de">Title (DE)</span> <span class="glyphicon glyphicon-sort"></span></th>
          <th jh-sort-by="fieldPeriod.start"><span data-translate="metadatamanagementApp.survey.fieldPeriod.start">FieldPeriod (Start)</span> <span class="glyphicon glyphicon-sort"></span></th>
          <th jh-sort-by="fieldPeriod.end"><span data-translate="metadatamanagementApp.survey.fieldPeriod.end">FieldPeriod (End)</span> <span class="glyphicon glyphicon-sort"></span></th>
          <th jh-sort-by="fdzProjectName"><span data-translate="metadatamanagementApp.survey.fdzProjectName">FdzProjectName</span> <span class="glyphicon glyphicon-sort"></span></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="survey in surveys track by survey.id">
          <td><a ui-sref="survey.detail({id:survey.id})">{{survey.id}}</a></td>
          <td>{{survey.title.de}}</td>
          <td>{{survey.fieldPeriod.start | date:'mediumDate'}}</td>
          <td>{{survey.fieldPeriod.end | date:'mediumDate'}}</td>
          <td>{{survey.fdzProjectId}}</td>
          <td>
            <button type="submit" ui-sref="survey.detail({id:survey.id})" class="btn btn-info btn-sm">
              <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span data-translate="entity.action.view"> View</span>
            </button>
            <button type="submit" ui-sref="survey.edit({id:survey.id})" class="btn btn-primary btn-sm">
              <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span data-translate="entity.action.edit"> Edit</span>
            </button>
            <button type="submit" ui-sref="survey.delete({id:survey.id})" class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span data-translate="entity.action.delete"> Delete</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
