<?xml version="1.0" encoding="UTF-8"?>
<resource xmlns="http://da-ra.de/schema/kernel-4" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://da-ra.de/schema/kernel-4 http://www.da-ra.de/fileadmin/media/da-ra.de/Technik/4.0/dara.xsd">
  <resourceType>Dataset</resourceType>
  <resourceTypesFree>
    <resourceTypeFree>
      <language>de</language>
      <typeName>${resourceTypeFree.de}</typeName>
    </resourceTypeFree>
    <resourceTypeFree>
      <language>en</language>
      <typeName>${resourceTypeFree.en}</typeName>
    </resourceTypeFree>
  </resourceTypesFree>
  <resourceIdentifier>
    <identifier>dzhw:${dataAcquisitionProject.masterId}:1.0.0</identifier>
    <currentVersion>${dataAcquisitionProject.release.version}</currentVersion>
  </resourceIdentifier>
  <titles>
    <title>
      <language>de</language>
      <titleName>${dataPackage.title.de}</titleName>
    </title>
    <title>
      <language>en</language>
      <titleName>${dataPackage.title.en}</titleName>
    </title>
  </titles>
  <creators>
    <#list dataPackage.projectContributors as contributor>
      <creator>
        <person>
          <firstName>${contributor.firstName}</firstName>
          <#if contributor.middleName??>
            <middleName>${contributor.middleName}</middleName>
          </#if>
          <lastName>${contributor.lastName}</lastName>
          <#if contributor.orcid??>
          <personIDs>
            <personID>
              <identifierURI>https://orcid.org/${contributor.orcid}</identifierURI>
              <identifierSchema>ORCID</identifierSchema>
            </personID>
          </personIDs>
          </#if>
        </person>
      </creator>
    </#list>
    <#if dataPackage.institutions??>
    <#list dataPackage.institutions as institution>
    <creator>
      <institution>
        <#if institution.de??>
          <institutionName>${institution.de}</institutionName>
          <#else>
            <institutionName>${institution.en}</institutionName>
        </#if>
      </institution>
    </creator>
    </#list>
    </#if>
  </creators>
  <dataURLs>
    <dataURL>
      ${projectURL}
    </dataURL>
  </dataURLs>
  <doiProposal>${doi}</doiProposal>
  <publicationDate>
    <date>${releaseDate}</date>
  </publicationDate>
  <availability>
    <availabilityType>${availabilityControlled}</availabilityType>
    <availabilityFree>
      <language>de</language>
      <freetext>Beantragung notwendig unter https://metadata.fdz.dzhw.eu/de/data-packages/${dataPackage.masterId}?version=${dataAcquisitionProject.release.version}</freetext>
    </availabilityFree>
    <availabilityFree>
      <language>en</language>
      <freetext>Application necessary under https://metadata.fdz.dzhw.eu/en/data-packages/${dataPackage.masterId}?version=${dataAcquisitionProject.release.version}</freetext>
    </availabilityFree>
  </availability>
  <alternativeIDs>
    <alternativeID>
      <identifier>1</identifier>
      <type>VerbundFDB</type>
    </alternativeID>
  </alternativeIDs>
  <freeKeywords>
      <freeKeyword>
          <language>de</language>
          <keywords>
     <#list dataPackage.tags.de as deTag>
         <keyword>${deTag}</keyword>
     </#list>
          </keywords>
      </freeKeyword>
  <#if dataPackage.tags.en??>
    <freeKeyword>
        <language>en</language>
        <keywords>
        <#list dataPackage.tags.en as enTag>
            <keyword>${enTag}</keyword>
        </#list>
        </keywords>
    </freeKeyword>
  </#if>
  </freeKeywords>
  <descriptions>
    <description>
      <language>de</language>
      <freetext>${removeMarkdown(dataPackage.description.de)}</freetext>
      <descriptionType>Abstract</descriptionType>
    </description>
    <description>
      <language>en</language>
      <freetext>${removeMarkdown(dataPackage.description.en)}</freetext>
      <descriptionType>Abstract</descriptionType>
    </description>
  </descriptions>
  <geographicCoverages>
    <#list geographicCoverages as geographicCoverage>
      <geographicCoverage>
          <geographicCoverageControlled>${geographicCoverage.country}</geographicCoverageControlled>
        <#if geographicCoverage.description?? && (geographicCoverage.description.de?has_content || geographicCoverage.description.en?has_content)>
          <geographicCoveragesFree>
            <#if geographicCoverage.description.de?has_content>
              <geographicCoverageFree>
                  <language>de</language>
                  <freetext>${removeMarkdown(geographicCoverage.description.de)}</freetext>
              </geographicCoverageFree>
            </#if>
            <#if geographicCoverage.description.en?has_content>
              <geographicCoverageFree>
                  <language>en</language>
                  <freetext>${removeMarkdown(geographicCoverage.description.en)}</freetext>
              </geographicCoverageFree>
            </#if>
          </geographicCoveragesFree>
        </#if>
      </geographicCoverage>
    </#list>
  </geographicCoverages>
  <universes>
    <universe>
      <language>de</language>
      <sampled>
      	<ul>
        <#list surveys as survey>
          <li><strong>${survey.title.de}:</strong>
          ${removeMarkdown(survey.population.description.de)}
          </li>
        </#list>
        </ul>
      </sampled>
    </universe>
    <universe>
      <language>en</language>
      <sampled>
        <ul>
        <#list surveys as survey>
          <li><strong>${survey.title.en}:</strong>
          ${removeMarkdown(survey.population.description.en)}
          </li>
        </#list>
        </ul>
      </sampled>
    </universe>
  </universes>
  <#if surveySamplesMap?? && surveySamplesMap?size gt 0>
  <samplings>
    <sampling>
        <language>de</language>
        <method>${surveySamplesMap['de']}</method>
    </sampling>
    <sampling>
        <language>en</language>
        <method>${surveySamplesMap['en']}</method>
    </sampling>
  </samplings>
  </#if>
  <#if surveys?? && surveys?size gt 0>
    <temporalCoverages>
      <#list surveys as survey>
        <#if survey.fieldPeriod.start??>
          <temporalCoverage>
            <temporalCoverageFormal>
              <startDate>
                <date>${survey.fieldPeriod.start}</date>
              </startDate>
              <#if survey.fieldPeriod.end??>
                <endDate>
                  <date>${survey.fieldPeriod.end}</date>
                </endDate>
              </#if>
            </temporalCoverageFormal>
            <temporalCoveragesFree>
              <temporalCoverageFree>
                <language>de</language>
                <freetext>${survey.title.de}</freetext>
              </temporalCoverageFree>
              <temporalCoverageFree>
                <language>en</language>
                <freetext>${survey.title.en}</freetext>
              </temporalCoverageFree>
            </temporalCoveragesFree>
          </temporalCoverage>
        </#if>
      </#list>
    </temporalCoverages>
  </#if>
  <timeDimensions>
    <timeDimension>
      <timeDimensionType>${timeDimension}</timeDimensionType>
    </timeDimension>
  </timeDimensions>
  <contributors>
    <contributor>
      <institution>
        <institutionName>FDZ-DZHW</institutionName>
        <contributorType>Distributor</contributorType>
      </institution>
    </contributor>
    <#list dataPackage.dataCurators as person>
     <contributor>
       <person>
         <firstName>${person.firstName}</firstName>
         <#if person.middleName??>
           <middleName>${person.middleName}</middleName>
         </#if>
         <lastName>${person.lastName}</lastName>
         <contributorType>DataCurator</contributorType>
         <#if person.orcid??>
         <personIDs>
           <personID>
             <identifierURI>https://orcid.org/${person.orcid}</identifierURI>
             <identifierSchema>ORCID</identifierSchema>
           </personID>
         </personIDs>
         </#if>
       </person>
     </contributor>
    </#list>
  </contributors>
  <#if dataPackage.sponsors??>
    <fundingReferences>
      <#list dataPackage.sponsors as sponsor>
      <fundingReference>
        <institution>
          <#if sponsor.name.de??>
            <institutionName>${sponsor.name.de}</institutionName>
            <#else>
            <institutionName>${sponsor.name.en}</institutionName>
          </#if>
        </institution>
      </fundingReference>
      </#list>
    </fundingReferences>
  </#if>

    <collectionModes>
      <#list surveys as survey>
        <#list surveyToCollectionModesMap[survey.getId()] as collectionMode>
          <collectionMode>
          	<collectionModeType>${collectionMode}</collectionModeType>
            <collectionModesFree>
              <#if survey.surveyMethod.de??>
                <collectionModeFree>
                  <language>de</language>
                  <freetext>${survey.title.de}: ${survey.surveyMethod.de}</freetext>
                </collectionModeFree>
              </#if>
              <#if survey.surveyMethod.en??>
                <collectionModeFree>
                  <language>en</language>
                  <freetext>${survey.title.en}: ${survey.surveyMethod.en}</freetext>
                </collectionModeFree>
              </#if>
            </collectionModesFree>
          </collectionMode>
        </#list>
      </#list>
    </collectionModes>

  <#if dataSets?? && dataSets?size gt 0>
    <dataSets>
      <#list dataSets as dataSet>
        <#list dataSet.subDataSets as subDataSet>
          <#if subDataSet.numberOfObservations?? && numberOfVariablesMap[dataSet.id]?? && subDataSet.name??>
            <dataSet>
              <unitType>Individual</unitType>
              <numberUnits>${subDataSet.numberOfObservations}</numberUnits>
              <numberVariables>${numberOfVariablesMap[dataSet.id]}</numberVariables>
              <files>
                <file>
                  <name>${subDataSet.name}</name>
                </file>
              </files>
            </dataSet>
          </#if>
        </#list>
      </#list>
    </dataSets>
  </#if>
  <notes>
    <note>
      <language>de</language>
      <text><#if dataPackage.annotations?? && dataPackage.annotations.de??>Anmerkungen zum Datenpaket: ${removeMarkdown(dataPackage.annotations.de)} ### </#if>Erhebungseinheit: ${surveyUnits}</text>
    </note>
    <#if dataPackage.annotations?? && dataPackage.annotations.en??>
      <note>
        <language>en</language>
        <text>Comments on the data package: ${removeMarkdown(dataPackage.annotations.en)}</text>
      </note>
    </#if>
  </notes>
  <#if previousDoi??>
    <relations>
      <relation>
        <identifier>${previousDoi}</identifier>
        <identifierType>DOI</identifierType>
        <relationType>IsNewVersionOf</relationType>
      </relation>
    </relations>
  </#if>
  <#if relatedPublications?? && relatedPublications?size gt 0>
    <publications>
      <#list relatedPublications as publication>
        <#if publication.sourceReference??>
          <publication>
            <unstructuredPublication>
              <freetext>${removeMarkdown(publication.sourceReference)}</freetext>
            </unstructuredPublication>
          </publication>
        </#if>
      </#list>
    </publications>
  </#if>
</resource>
