<?xml version="1.0" encoding="UTF-8"?>
<resource xmlns="http://da-ra.de/schema/kernel-4" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://da-ra.de/schema/kernel-4 http://www.da-ra.de/fileadmin/media/da-ra.de/Technik/4.0/dara.xsd">
    <!-- kann hardcoded hierrein -->
    <resourceType>${resourceType}</resourceType>
    <!-- Wie dynamisch ist das? Wollen wir das gleich auf Deutsch und Englisch
    Berechnen: Quanti (studie)= Umfrage- und Aggregatdaten, Quali = Qualitatives nicht oder gering standardisiertes Datenmaterial, Mixed = Umfrage- und Aggregatdaten; Qualitatives nicht oder gering standardisiertes Datenmaterial
    <resourceTypesFree>
      <resourceTypeFree>
        <language>de</language>
        <typeName>??? z.B.: Umfrage- und Aggregatdaten; Kompetenz- und Leistungsdaten</typeName>
      </resourceTypeFree>
    </resourceTypesFree>
    -->
    <resourceIdentifier>
        <identifier>dzhw:${study.dataAcquisitionProjectId}:1.0.0</identifier>
        <currentVersion>${dataAcquisitionProject.release.version}</currentVersion>
    </resourceIdentifier>
    <titles>
        <title>
            <language>de</language>
            <titleName>${study.title.de}</titleName>
        </title>
        <title>
            <language>en</language>
            <titleName>${study.title.en}</titleName>
        </title>
    </titles>
    <creators>
        <#list study.authors as author>
        <creator>
            <person>
                <firstName>${author.firstName}</firstName>
                <#if author.middleName??>
                    <middleName>${author.middleName}</middleName>
                </#if>
                <lastName>${author.lastName}</lastName>
            </person>
        </creator>
        </#list>
        <creator>
            <institution>
                <#if study.institution.de??>
                <institutionName>${study.institution.de}</institutionName>
                <#else>
                <institutionName>${study.institution.en}</institutionName>
                </#if>
            </institution>
        </creator>
    </creators>
    <!--Welchen institutionName?
    <contributors>
        <contributor>
          <institution>
            <institutionName>FDZ des DZHW</institutionName>
            <contributorType>4</contributorType>
          </institution>
        </contributor>
    </contributors>
   -->
    <dataURLs>
        <dataURL>
            https://metadata.fdz.dzhw.eu/#!/de/studies/${study.id}?version=${dataAcquisitionProject.release.version}
        </dataURL>
    </dataURLs>
    <doiProposal>${doi}</doiProposal>
    <publicationDate>
        <date>${releaseDate}</date>
    </publicationDate>

    <!--Aktuell: Delivery oder NotAvailable je nach study.dataAvailability -->
    <availability>
        <availabilityType>${availabilityControlled}</availabilityType>
        <!--Brauchen wir auch availabilityFree? Wenn ja, was schreiben wir in den beiden Fällen?
        <availabilityFree>
          <language>de</language>
          <freetext>Beantragung notwendig unter (link auf study detail)</freetext>
        </availabilityFree>
        <availabilityFree>
          <language>en</language>
          <freetext>Beantragung notwendig unter (link auf study detail)</freetext>
        </availabilityFree>
        -->
    </availability>
    <#if study.description??><!-- ist damit jetzt pflicht in beiden Sprachen -->
    <descriptions>
        <#if study.description.de??>
        <description>
            <language>de</language>
            <freetext>${study.description.de}</freetext>
            <descriptionType>Abstract</descriptionType>
        </description>
        </#if>
        <#if study.description.en??>
        <description>
            <language>en</language>
            <freetext>${study.description.en}</freetext>
            <descriptionType>Abstract</descriptionType>
        </description>
        </#if>
    </descriptions>
    </#if>
    <!-- neues Pflichtfeld in survey, mehrere country codes vermutlich nach ISO 3166-1 alpha-2,
    wollen wir geographicCoverageFree?
    <#list surveys as survey>
    <geographicCoverages>
      <geographicCoverage>
        <geographicCoverageControlled>DE</geographicCoverageControlled>
        <geographicCoveragesFree>
          <geographicCoverageFree>
            <language>de</language>
            <freetext>de</freetext>
          <geographicCoverageFree>
        </geographicCoveragesFree>
      </geographicCoverage>
    </geographicCoverages>
    </#list>
    -->
    <temporalCoverages>
        <#list surveys as survey>
        <#if survey.fieldPeriod.start??><!-- must not be empty anymore -->
        <temporalCoverage>
            <temporalCoverageFormal>
	            <startDate>
	               <date>${survey.fieldPeriod.start}</date>
	            </startDate>
	            <#if survey.fieldPeriod.end??>
	             <endDate>
	               <date>${survey.fieldPeriod.end}</date>
	             </endDate>
	            </#if>
            </temporalCoverageFormal>
            <temporalCoveragesFree>
                <temporalCoverageFree>
                    <language>de</language>
                    <freetext>${survey.title.de}</freetext>
                </temporalCoverageFree>
                <temporalCoverageFree>
                    <language>en</language>
                    <freetext>${survey.title.en}</freetext>
                </temporalCoverageFree>
            </temporalCoveragesFree>
        </temporalCoverage>
        </#if>
        </#list>
    </temporalCoverages>
    <!-- controlled vocabulary of dara (not VFDB!) e.g. 'Longitudinal.Panel' or 'CrossSection'
    Brauchen wir jetzt alle, oder nur die beiden?
    <timeDimensions>
      <timeDimension>
        <timeDimensionType>${study.surveyDesign}</timeDimensionType>
      </timeDimension>
    </timeDimensions>
    -->
    <fundingReferences>
        <fundingReference>
            <institution>
                <#if study.sponsor.de??>
                    <institutionName>${study.sponsor.de}</institutionName>
                <#else>
                    <institutionName>${study.sponsor.en}</institutionName>
                </#if>
            </institution>
        </fundingReference>
    </fundingReferences>
    <#if surveys?? && surveys?size gt 0>
    <collectionModes>
        <#list surveys as survey>
        <#if survey.surveyMethod??>
         <collectionMode>
            <collectionModesFree>
                <#if survey.surveyMethod.de??>
                <collectionModeFree>
                    <language>de</language>
                    <freetext>${survey.title.de}: ${survey.surveyMethod.de}</freetext>
                </collectionModeFree>
                </#if>
                <#if survey.surveyMethod.en??>
                <collectionModeFree>
                    <language>en</language>
                    <freetext>${survey.title.en}: ${survey.surveyMethod.en}</freetext>
                </collectionModeFree>
                </#if>
            </collectionModesFree>
            <!-- controlled vocabulary of dara
            Haben wir momentan gar nicht, berechnen aus instrument.type wenn nur eins da?
            <collectionModeType>Interview.Email</collectionModeType>
            -->
         </collectionMode>
         </#if>
        </#list>
    </collectionModes>

    <!--survey.population.description? damit muss survey.population.description oder description
      in beiden Sprachen angegeben werden. Population.title steht in Frage....
    <universes>
      <#list surveys as survey>
      <universe>
        <language>de<language>
        <sampled>${survey.population.description.de}</sampled>
        <language>en<language>
        <sampled>${survey.population.description.en}</sampled>
      </universe>
      </#list>
    </universes>
   -->
    <!-- controlled vocabulary https://mdr.iqb.hu-berlin.de/#/catalog/1d791cc7-6d8d-dd35-b1ef-0eec9c31bbb5
     wäre dann in Deutsch und Englisch Pflicht und als Dropdown in der GUI
    <samplings>
      <#list surveys as survey>
      <sampling>
        <language>de<language>
        <method>${survey.sample.de}</method>
      </sampling>
      <sampling>
        <language>en<language>
        <method>${survey.sample.en}</method>
      </sampling>
      </#list>
    </samplings>
    -->
    </#if>
    <#if dataSets?? && dataSets?size gt 0>
    <dataSets>
        <#list dataSets as dataSet>
        <#list dataSet.subDataSets as subDataSet>
        <#if subDataSet.numberOfObservations?? && numberOfVariablesMap[dataSet.id]?? && subDataSet.name??>
        <dataSet>
            <unitType>Individual</unitType>
            <numberUnits>${subDataSet.numberOfObservations}</numberUnits>
            <numberVariables>${numberOfVariablesMap[dataSet.id]}</numberVariables>
            <files>
                <file>
                    <name>${subDataSet.name}</name>
                </file>
            </files>
        </dataSet>
        </#if>
        </#list>
        </#list>
    </dataSets>
    </#if>
    <#if previousDoi??>
    <relations>
    	<relation>
    		<identifier>${previousDoi}</identifier>
    		<identifierType>DOI</identifierType>
    		<relationType>IsNewVersionOf</relationType>
    	</relation>
    </relations>
    </#if>
    <#if relatedPublications?? && relatedPublications?size gt 0>
    <publications>
        <#list relatedPublications as publication>
        <#if publication.sourceReference??>
        <publication>
            <unstructuredPublication>
                <freetext>${publication.sourceReference}</freetext>
            </unstructuredPublication>
        </publication>
        </#if>
        </#list>
    </publications>
    </#if>
    <!-- hardcoded classifier for VFDB
    <classifications>
      <classification>
        <classificationExternal>
          <language>de</language>
          <classificationSchema>VerbundFDB</classificationSchema>
          <terms>
            <term>VerbundFDB</term>
          </terms>
        </classificationExternal>
      </classification>
    </classifications>
    -->
    <!-- Schlagwörter für VFDB (de,en?) dynamisch?
    <freeKeywords>
      <freeKeyword>
        <language>de</language>
        <keywords>
          <keyword>Hochschulforschung</keyword>
          <keyword> Hochschulabsolventen</keyword>
          <keyword> Mobilität</keyword>
          <keyword> Promotion</keyword>
        </keywords>
      </freeKeyword>
    </freeKeywords>
    -->
    <!-- Hinter Untersuchungseinheit, kontrolliertes Vokabular aus https://mdr.iqb.hu-berlin.de/#/catalog/94d1ae4f-a441-c728-4a03-adb0eb4604af (semikolonsepariert)
    add survey.population.unit and merge here from all surveys.
    <notes>
      <note>
        <language>de</language>
        <text>Untersuchungseinheit: </text>
      </note>
      <note>
        <language>de</language>
        <text>Anmerkungen zur Studie: study.annotations.de </text>
      </note>
    </notes>
    -->
</resource>
