<?xml version="1.0" encoding="UTF-8"?>
<resource xmlns="http://da-ra.de/schema/kernel-4"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://da-ra.de/schema/kernel-4 http://www.da-ra.de/fileadmin/media/da-ra.de/Technik/4.0/dara.xsd">
    <resourceType>${resourceType}</resourceType>
    <resourceIdentifier>
        <identifier>dzhw:${study.dataAcquisitionProjectId}:1.0.0</identifier>
        <currentVersion>1.0.0</currentVersion>
    </resourceIdentifier>
    <titles>
        <title>
            <language>de</language>
            <titleName>${study.title.de}</titleName>
        </title>
        <title>
            <language>en</language>
            <titleName>${study.title.en}</titleName>
        </title>
    </titles>
    <creators>
        <#list study.authors as author>
        <creator>
            <person>
                <firstName>${author.firstName}</firstName>
                <#if author.middleName??>
                <middleName>${author.middleName}</middleName>
                <#else>
                <middleName/>
                </#if>
                <lastName>${author.lastName}</lastName>
            </person>
        </creator>
        </#list>
    </creators>
    <dataURLs>
        <dataURL>
            https://metadata.fdz.dzhw.eu/#!/de/studies/${study.id}
        </dataURL>
    </dataURLs>
    <#if !isDaraTest>
    <doiProposal>${study.doi}</doiProposal>
    <#else>
    <doiProposal>${study.doi?replace("10.21249", "10.5072")}</doiProposal>
    </#if>
    <publicationDate>
        <date>${releaseDate}</date>
    </publicationDate>
    <availability>
        <availabilityType>${availabilityControlled}</availabilityType>
    </availability>
</resource>
