<?xml version="1.0" encoding="UTF-8"?>
<resource xmlns="http://da-ra.de/schema/kernel-4" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://da-ra.de/schema/kernel-4 http://www.da-ra.de/fileadmin/media/da-ra.de/Technik/4.0/dara.xsd">
  <resourceType>Dataset</resourceType>
  <resourceIdentifier>
    <identifier>dzhw:${dataAcquisitionProject.masterId}:1.0.0</identifier>
    <currentVersion>${dataAcquisitionProject.release.version}</currentVersion>
  </resourceIdentifier>
  <titles>
    <title>
      <language>de</language>
      <titleName>${dataPackage.title.de}</titleName>
    </title>
    <title>
      <language>en</language>
      <titleName>${dataPackage.title.en}</titleName>
    </title>
  </titles>
  <creators>
    <#list dataPackage.projectContributors as contributor>
      <creator>
        <person>
          <firstName>${contributor.firstName}</firstName>
          <#if contributor.middleName??>
            <middleName>${contributor.middleName}</middleName>
          </#if>
          <lastName>${contributor.lastName}</lastName>
          <#if contributor.orcid??>
          <personIDs>
            <personID>
              <identifierURI>https://orcid.org/${contributor.orcid}</identifierURI>
              <identifierSchema>ORCID</identifierSchema>
            </personID>
          </personIDs>
          </#if>
        </person>
      </creator>
    </#list>
    <#if dataPackage.institutions??>
    <#list dataPackage.institutions as institution>
    <creator>
      <institution>
        <#if institution.de??>
          <institutionName>${institution.de}</institutionName>
          <#else>
            <institutionName>${institution.en}</institutionName>
        </#if>
      </institution>
    </creator>
    </#list>
    </#if>
  </creators>
  <dataURLs>
    <dataURL>
      https://metadata.fdz.dzhw.eu/${projectURLLanguage}/data-packages/${dataPackage.masterId}?version=${dataAcquisitionProject.release.version}
    </dataURL>
  </dataURLs>
  <doiProposal>${doi}</doiProposal>
  <publicationDate>
    <date>${releaseDate}</date>
  </publicationDate>
  <availability>
    <availabilityType>${availabilityControlled}</availabilityType>
    <availabilityFree>
      <language>de</language>
      <freetext>Beantragung notwendig unter https://metadata.fdz.dzhw.eu/de/data-packages/${dataPackage.masterId}?version=${dataAcquisitionProject.release.version}</freetext>
    </availabilityFree>
    <availabilityFree>
      <language>en</language>
      <freetext>Application necessary under https://metadata.fdz.dzhw.eu/en/data-packages/${dataPackage.masterId}?version=${dataAcquisitionProject.release.version}</freetext>
    </availabilityFree>
    <embargoDate>${embargoDate}</embargoDate>
  </availability>
  <#if previousDoi??>
    <relations>
      <relation>
        <identifier>${previousDoi}</identifier>
        <identifierType>DOI</identifierType>
        <relationType>IsNewVersionOf</relationType>
      </relation>
    </relations>
  </#if>
</resource>
