<div>
    <div>
      <ul class="list-group">
            <li ng-repeat="atomicQuestion in currentPage._embedded.atomicQuestions" class="list-group-item">
                  <h4 class="list-group-item-heading">
                        <a ui-sref="atomicQuestion.detail({id:atomicQuestion.id})">{{atomicQuestion.name}}</a>
                  </h4>
                  <p class="list-group-item-text">{{'metadatamanagementApp.atomicQuestion.questionText' |translate}}: {{atomicQuestion.questionText[currentLanguage]}}</p>
                  <p class="list-group-item-text">{{'metadatamanagementApp.atomicQuestion.introduction' |translate}}: {{atomicQuestion.introduction[currentLanguage]}}</p>
                  <p class="list-group-item-text">{{'metadatamanagementApp.atomicQuestion.instruction' |translate}}: {{atomicQuestion.instruction[currentLanguage]}}</p>
                  <p class="list-group-item-text">{{'metadatamanagementApp.atomicQuestion.type' |translate}}: {{atomicQuestion.type[currentLanguage]}}</p>
                  <p class="list-group-item-text">{{'metadatamanagementApp.variable.detail.title' |translate}}: <a ui-sref="variable.detail({id:atomicQuestion.variableId})">{{atomicQuestion.variableId}}</a></p>
            </li>
      </ul>
  </div>
    <div  class="col-md-12 col-md-offset-4">
    <uib-pagination total-items="pageState.totalElements" ng-model="pageState.currentPageNumber" ng-change="pageChanged()" max-size="pageState.maxSize" class="pagination-sm" boundary-links="true" boundary-link-numbers="true" rotate="false" previous-text="{{'pager.previous' | translate}}" next-text="{{'pager.next' | translate}}" first-text="{{'pager.first' | translate}}" last-text="{{'pager.last' | translate}}"></uib-pagination>
  </div>
</div>
<div ng-if="!currentPage.$resolved">
  <loading></loading>
</div>
