<md-card>
  <md-card-header ng-click="$ctrl.collapsed = !$ctrl.collapsed">
    <md-card-header-text>
      <h2 class="md-title">{{'question-management.detail.technical-representation' | translate}} ({{$ctrl.options.question.technicalRepresentation.type}})</h2>
    </md-card-header-text>
    <md-button
      class="md-card-collapsible-button"
      aria-label="{{($ctrl.collapsed ? 'global.collapsed' : 'global.uncollapsed') | translate}}">
      <md-icon md-font-set="material-icons" ng-if="!$ctrl.collapsed">keyboard_arrow_up</md-icon>
      <md-icon md-font-set="material-icons" ng-if="$ctrl.collapsed">keyboard_arrow_down</md-icon>
    </md-button>
  </md-card-header>
  <div ng-if="!$ctrl.collapsed">
    <md-card-content>
      <div>
          <div class="fdz-code-container"
               create-variable-links="{currentLanguage: $ctrl.lang, currentVariable: $ctrl.options.question}"
               hljs hljs-language="{{$ctrl.options.question.technicalRepresentation.language}}"
               hljs-source="$ctrl.options.technicalRepresentationBeauty"
               ng-class="{'fdz-hidden-code': $ctrl.options.representationCodeToggleFlag}"
               style="margin-top: 0.5em;"></div>
          <div class="fdz-button-wrapper">
            <md-button
              class="md-icon-button md-primary"
              data-clipboard-text="{{$ctrl.options.technicalRepresentationBeauty}}"
              ng-click="$ctrl.options.openSuccessCopyToClipboardToast('question-management.log-messages.question.technical-representation-success-copy-to-clipboard')"
              ngclipboard>
              <md-icon md-font-library="material-icons">content_copy</md-icon>
              <md-tooltip md-autohide="true" md-direction="top"
                          md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'question-management.detail.copy-technical-representation-to-clipboard-tooltip' | translate}}
              </md-tooltip>
            </md-button>
            <md-button class="md-icon-button md-primary" ng-click="$ctrl.options.toggleRepresentationCode()">
              <md-icon md-svg-src="/assets/images/icons/arrow-expand.svg"
                       ng-if="$ctrl.options.representationCodeToggleFlag"></md-icon>
              <md-icon md-svg-src="/assets/images/icons/arrow-compress.svg"
                       ng-if="!$ctrl.options.representationCodeToggleFlag"></md-icon>
              <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'question-management.detail.show-complete-technical-representation-tooltip.' + $ctrl.options.representationCodeToggleFlag | translate }}
              </md-tooltip>
            </md-button>
          </div>
        </div>
      </div>
    </md-card-content>
  </div>
</md-card>
