<md-sidenav md-component-id="SideNavBar" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4" tab-index="-1" flex layout="column">
    <md-toolbar style="background-color: white;">
        <a ui-sref="search" title="{{'global.rdcAltText'|translate}}">
            <img src="assets/images/FDZ_Logo.svg" style="height: 64px" alt>
            <span class="sr-only">FDZ</span>
        </a>
    </md-toolbar>
    <md-content ng-switch="isAuthenticated()" flex role="navigation">
        <ul style="padding: 0px; margin: 0px;">
            <md-divider></md-divider>
            <li class="fdz-navbar-menu-accent" ng-switch-when="true" data-has-authority="ROLE_USER" style="padding: 5px 1em 1em 1em;">
                <span style="margin-bottom: 5px;">Aktuelles Datenaufbereitungsprojekt:</span>
                <md-autocomplete
                    md-search-text="searchText"
                    md-selected-item="selectedProject"
                    md-selected-item-change="updateCurrentProject(selectedProject)"
                    md-items="project in querySearch(searchText)"
                    md-item-text="project.id"
                    md-min-length="0"
                    placeholder="{{'global.menu.entities.selectProject' | translate}}"
                    ng-disabled="disableAutocomplete"
                    md-select-on-match="true"
                    style="margin-top: 5px;">
                    <md-item-template>
                        <span md-highlight-text="searchText">{{project.id}}</span>
                    </md-item-template>
                    <md-not-found>
                        <span data-translate="global.menu.entities.unknown-project" data-translate-values="{projectId: searchText}"></span>
                    </md-not-found>
                </md-autocomplete>
            </li>
            <md-divider ng-switch-when="true"></md-divider>
            <li class="fdz-navbar-menu" ng-switch-when="true" data-has-authority="ROLE_USER">
                <md-button class="fdz-navbar-menu-toggle" ng-click="toggleEntityMenu()" aria-label="{{'global.menu.entities.main' | translate}}">
                    <span data-translate="global.menu.entities.main"></span>
                    <md-icon style="text-align: right;" ng-if="!isEntityMenuOpen" md-font-set="material-icons">keyboard_arrow_down</md-icon>
                    <md-icon style="text-align: right;" ng-if="isEntityMenuOpen" md-font-set="material-icons">keyboard_arrow_up</md-icon>
                </md-button>
                <ul class="fdz-navbar-menu-items" ng-show="isEntityMenuOpen">
                    <li>
                        <md-button ui-sref="dataAcquisitionProject" ui-sref-active="fdz-navbar-button-active" class="fdz-navbar-button">
                            <span data-translate="global.menu.entities.rdcProject">RDC Projects</span>
                        </md-button>
                    </li>
                    <li>
                        <md-button ui-sref="dataSet" ui-sref-active="fdz-navbar-button-active" class="fdz-navbar-button">
                            <span data-translate="global.menu.entities.dataSet">DataSets</span>
                        </md-button>
                    </li>
                    <li>
                        <md-button ui-sref="survey" ui-sref-active="fdz-navbar-button-active" class="fdz-navbar-button">
                            <span data-translate="global.menu.entities.survey">Surveys</span>
                        </md-button>
                    </li>
                </ul>
            </li>
            <md-divider ng-switch-when="true"></md-divider>
            <li class="fdz-navbar-menu" ng-switch-when="true">
                <md-button class="fdz-navbar-menu-toggle" ng-click="toggleAccountMenu()" aria-label="{{'global.menu.account.main' | translate}}">
                    <span data-translate="global.menu.account.main"></span>
                    <md-icon ng-if="!isAccountMenuOpen" md-font-set="material-icons">keyboard_arrow_down</md-icon>
                    <md-icon ng-if="isAccountMenuOpen" md-font-set="material-icons">keyboard_arrow_up</md-icon>
                </md-button>
                <ul class="fdz-navbar-menu-items" ng-show="isAccountMenuOpen">
                    <li>
                        <md-button ui-sref="settings" ui-sref-active="fdz-navbar-button-active" class="fdz-navbar-button">
                            <span data-translate="global.menu.account.settings">Settings</span>
                        </md-button>
                    </li>
                    <li>
                        <md-button ui-sref="password" ui-sref-active="fdz-navbar-button-active" class="fdz-navbar-button">
                            <span data-translate="global.menu.account.password">Password</span>
                        </md-button>
                    </li>
                </ul>
            </li>
            <md-divider ng-switch-when="true"></md-divider>
            <li class="fdz-navbar-menu" ng-switch-when="true" data-has-authority="ROLE_ADMIN">
                <md-button class="fdz-navbar-menu-toggle" ng-click="toggleAdminMenu()" aria-label="{{'global.menu.admin.main' | translate}}">
                    <span data-translate="global.menu.admin.main"></span>
                    <md-icon ng-if="!isAdminMenuOpen" md-font-set="material-icons">keyboard_arrow_down</md-icon>
                    <md-icon ng-if="isAdminMenuOpen" md-font-set="material-icons">keyboard_arrow_up</md-icon>
                </md-button>
                <ul class="fdz-navbar-menu-items" ng-show="isAdminMenuOpen">
                    <li>
                        <md-button ui-sref="user-management" ui-sref-active="fdz-navbar-button-active" class="fdz-navbar-button">
                            <span data-translate="global.menu.admin.user-management">User management</span>
                        </md-button>
                    </li>
                    <li>
                        <md-button ui-sref="metrics" ui-sref-active="fdz-navbar-button-active" class="fdz-navbar-button">
                            <span data-translate="global.menu.admin.metrics">Metrics</span>
                        </md-button>
                    </li>
                    <li>
                        <md-button ui-sref="health" ui-sref-active="fdz-navbar-button-active" class="fdz-navbar-button">
                            <span data-translate="global.menu.admin.health">Health</span>
                        </md-button>
                    </li>
                    <li>
                        <md-button ui-sref="configuration" ui-sref-active="fdz-navbar-button-active" class="fdz-navbar-button">
                            <span data-translate="global.menu.admin.configuration">Configuration</span>
                        </md-button>
                    </li>
                    <li>
                        <md-button ui-sref="logs" ui-sref-active="fdz-navbar-button-active" class="fdz-navbar-button">
                            <span data-translate="global.menu.admin.logs">Logs</span>
                        </md-button>
                    </li>
                </ul>
            </li>
            <md-divider ng-switch-when="true"></md-divider>
            <li class="fdz-navbar-menu">
                <md-button ui-sref="disclosure" ui-sref-active="fdz-navbar-button-active" class="fdz-navbar-button">
                    <span data-translate="global.menu.disclosure">Disclosure</span>
                </md-button>
            </li>
            <md-divider></md-divider>
        </ul>
        <div layout="column" layout-align="center center">
            <a class="bmbf_logo_de" ng-href="http://www.bmbf.de/" ng-if="currentLanguage=='de'" title="{{'global.bmbfAltText'|translate}}"></a>
            <a class="bmbf_logo_en" ng-href="http://www.bmbf.de/en/index.html" ng-if="currentLanguage=='en'" title="{{'global.bmbfAltText'|translate}}"></a>

            <a class="dzhw_logo" ng-href="http://www.dzhw.eu/" ng-if="currentLanguage=='de'" title="{{'global.dzhwAltText'|translate}}"></a>
            <a class="dzhw_logo" ng-href="http://www.dzhw.eu/en_note" ng-if="currentLanguage=='en'" title="{{'global.dzhwAltText'|translate}}"></a>
        </div>
    </md-content>
</md-sidenav>
