<div flex>
  <div layout="row" style="margin-bottom: 0px;" layout-margin>
    <h1 id="top" class="md-headline fdz-truncate-string" style="margin-left: 0px;">{{'projectcockpit.title' | translate}}</h1>
  </div>
  <md-card>
    Test
  </md-card>
</div>
