<md-card>
    <md-card-header>
        <md-card-header-text>
            Test your Question SVG
        </md-card-header-text>
    </md-card-header>
    <md-card-content>
        <div class="fdz-svg-container" ng-bind-html="svg">
        </div>
        <div ng-show="extractedText" >
          <div>Extracted Text:</div>
          <pre style="white-space: pre-line; word-break: break-word;">{{extractedText}}</pre>
        </div>
        <md-button class="md-primary md-raised" type="file" ngf-select="parseSvg($file)" accept=".svg">
            <md-icon md-font-set="material-icons">note_add</md-icon>
            Select SVG
        </md-button>
    </md-card-content>
</md-card>
