<md-card>
  <md-card-header ng-click="$ctrl.collapsed = !$ctrl.collapsed">
    <md-card-header-text>
      <h2 class="md-title">{{'question-management.detail.images-for-question' | translate }}</h2>
    </md-card-header-text>
    <md-button
      class="md-card-collapsible-button"
      aria-label="{{($ctrl.collapsed ? 'global.collapsed' : 'global.uncollapsed') | translate}}">
      <md-icon md-font-set="material-icons" ng-if="!$ctrl.collapsed">keyboard_arrow_up</md-icon>
      <md-icon md-font-set="material-icons" ng-if="$ctrl.collapsed">keyboard_arrow_down</md-icon>
    </md-button>
  </md-card-header>
  <div ng-if="!$ctrl.collapsed">
    <md-card-content read-element-size class="pa0">
      <div class="fdz-overlay-outer-box">
        <div class="fdz-overlay-inner-box-top"
             ng-if="$ctrl.options.imageLanguages.length > 1"
             style="top: unset; bottom: 50px; right: 8px; position: absolute; z-index: 20;">
          <md-menu>
            <md-button class="md-icon-button md-primary" ng-click="$mdMenu.open($event)">
              <md-tooltip md-autohide="true" md-direction="left"
                          md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'question-management.detail.change-image-language-tooltip' | translate}}
              </md-tooltip>
              <md-icon md-font-set="material-icons">language</md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item ng-repeat="language in $ctrl.options.imageLanguages">
                <md-button md-prevent-menu-close="md-prevent-menu-close"
                           ng-click="$ctrl.options.changeCurrentImageLanguage(language)">{{language |
                  displayIsoLanguage:$ctrl.lang}}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
        <div ng-if="$ctrl.options.imagesGroupedByLanguage[$ctrl.options.currentImageLanguage].length > 1">
          <jk-carousel current-index="$ctrl.options.currentImageIndex"
                       data="$ctrl.options.imagesGroupedByLanguage[$ctrl.options.currentImageLanguage]"
                       item-template-url="'scripts/questionmanagement/views/question-image-template.html.tmpl'" max-height="211px" max-width="{{windowWidth}}px">
          </jk-carousel>
        </div>
        <div ng-if="$ctrl.options.imagesGroupedByLanguage[$ctrl.options.currentImageLanguage].length === 1">
          <div class="fdz-overlay-outer-box">
            <div style="max-height:211px; overflow-y:hidden;">
              <img alt="" display-i18n-string="$ctrl.options.question.questionText" ng-src="{{$ctrl.options.imagesGroupedByLanguage[$ctrl.options.currentImageLanguage][0].id}}"
                   style="width: 100%; height: auto"/>
            </div>
          </div>
        </div>
        <div class="fdz-button-wrapper image">
          <md-button class="md-icon-button md-primary"
                     ng-href="{{$ctrl.options.imagesGroupedByLanguage[$ctrl.options.currentImageLanguage][$ctrl.options.currentImageIndex].id}}"
                     target="_blank">
            <md-icon md-svg-src="/assets/images/icons/arrow-expand.svg"></md-icon>
            <md-tooltip md-autohide="true" md-direction="left"
                        md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'global.tooltips.images' | translate}}
            </md-tooltip>
          </md-button>
        </div>
      </div>
      <md-divider
        ng-if="$ctrl.options.question.instrument.type != 'PAPI' || $ctrl.options.imagesGroupedByLanguage[$ctrl.options.currentImageLanguage][$ctrl.options.currentImageIndex].containsAnnotations"></md-divider>
      <md-card-content
        layout="column"
        ng-if="$ctrl.options.question.instrument.type != 'PAPI' || $ctrl.options.imagesGroupedByLanguage[$ctrl.options.currentImageLanguage][$ctrl.options.currentImageIndex].containsAnnotations">
        <div class="fdz-text-block" ng-class="{'fdz-add-bottom-margin': $ctrl.options.imagesGroupedByLanguage[$ctrl.options.currentImageLanguage][$ctrl.options.currentImageIndex].containsAnnotations}"
             ng-if="$ctrl.options.question.instrument.type != 'PAPI'">
          <span class="b">{{'question-management.detail.label.resolution' | translate }}: </span>
          <span ng-if="$ctrl.options.currentImageIndex < $ctrl.options.imagesGroupedByLanguage[$ctrl.options.currentImageLanguage].length">{{$ctrl.options.imagesGroupedByLanguage[$ctrl.options.currentImageLanguage][$ctrl.options.currentImageIndex].resolution.widthX}} x {{$ctrl.options.imagesGroupedByLanguage[$ctrl.options.currentImageLanguage][$ctrl.options.currentImageIndex].resolution.heightY}} ({{ 'question-management.detail.label.resolution-hint' | translate}})</span>
        </div>
        <div
          class="fdz-text-block"
          ng-if="$ctrl.options.imagesGroupedByLanguage[$ctrl.options.currentImageLanguage][$ctrl.options.currentImageIndex].containsAnnotations">
          <span class="b">{{'question-management.detail.label.note' | translate }}: </span>
          <span>{{'question-management.detail.label.has-annotations' | translate }}</span>
        </div>
      </md-card-content>
    </md-card-content>
  </div>
</md-card>
