<md-card>
  <md-card-header ng-click="$ctrl.collapsed = !$ctrl.collapsed">
    <md-card-header-text>
      <h2 class="md-title">{{'question-management.detail.successors' | translate}}</h2>
    </md-card-header-text>
    <md-button
      class="md-card-collapsible-button"
      aria-label="{{($ctrl.collapsed ? 'global.collapsed' : 'global.uncollapsed') | translate}}">
      <md-icon md-font-set="material-icons" ng-if="!$ctrl.collapsed">keyboard_arrow_up</md-icon>
      <md-icon md-font-set="material-icons" ng-if="$ctrl.collapsed">keyboard_arrow_down</md-icon>
    </md-button>
  </md-card-header>
  <div ng-if="!$ctrl.collapsed">
    <md-card-content class="fdz-questions">
      <div ng-repeat="successor in $ctrl.options" class="questions w-100">
        <question-search-result bowser="bowser" current-language="$ctrl.lang"
                                search-result="successor._source"></question-search-result>
      </div>
      <p ng-if="$ctrl.length == 0">
        {{'question-management.detail.no-predecessors' | translate}}
      </p>
    </md-card-content>
  </div>
</md-card>
