.fdz-theme md-sidenav {
  width: 320px;
  max-width: 320px;
  z-index: 20;

  @include rwd(375) {
    width: 375px;
    max-width: 375px;
  }

  &, md-content {
    background-color: $background-hue-1;
  }
}
