<md-card>
  <md-card-header ng-click="$ctrl.collapsed = !$ctrl.collapsed">
    <md-card-header-text>
      <h2 class="md-title">{{'instrument-management.detail.attachments.table-title' | translate}}</h2>
    </md-card-header-text>
    <md-button
      class="md-card-collapsible-button"
      aria-label="{{($ctrl.collapsed ? 'global.collapsed' : 'global.uncollapsed') | translate}}">
      <md-icon md-font-set="material-icons" ng-if="!$ctrl.collapsed">keyboard_arrow_up</md-icon>
      <md-icon md-font-set="material-icons" ng-if="$ctrl.collapsed">keyboard_arrow_down</md-icon>
    </md-button>
  </md-card-header>
  <div ng-if="!$ctrl.collapsed">
    <md-card-content class="pt8">
      <table fdz-table class="mh16 mb16">
        <thead>
        <tr>
          <th class="fdz-table-third-absorbing-column">
            {{'instrument-management.detail.label.attachments.type' | translate }}
            <md-tooltip hide-gt-xs md-direction="right">
              {{'instrument-management.detail.label.attachments.type' | translate }}
            </md-tooltip>
          </th>
          <th class="fdz-table-half-absorbing-column">
            {{'instrument-management.detail.label.attachments.description' |
            translate }}
            <md-tooltip hide-gt-xs md-direction="right">
              {{'instrument-management.detail.label.attachments.description' | translate }}
            </md-tooltip>
          </th>

          <th>
            {{'instrument-management.detail.label.attachments.language' | translate }}
            <md-tooltip hide-gt-xs md-direction="right">
              {{'instrument-management.detail.label.attachments.language' | translate }}
            </md-tooltip>
          </th>
          <th>DOI
          </th>
          <th>
            {{'instrument-management.detail.label.attachments.file' | translate }}
            <md-tooltip hide-gt-xs md-direction="right">
              {{'instrument-management.detail.label.attachments.file' | translate }}
            </md-tooltip>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in $ctrl.options">
          <td display-i18n-string="row.type"></td>
          <td class="fdz-text-block" display-i18n-string="row.description" ></td>
          <td>{{row.language | displayIsoLanguage: $ctrl.lang}}&nbsp;</td>
          <td>
            <a target="_blank" rel="noopener noreferrer" href="{{row.doi}}" ng-if="row.doi">
              <md-icon md-font-set="material-icons" class="ng-scope material-icons md-primary" role="img">link</md-icon>
              <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{row.doi}}
              </md-tooltip>
              <a ng-if="!row.doi" aria-disabled>
                <md-icon md-font-set="material-icons" class="ng-scope material-icons" role="img">link_off</md-icon>
              </a> 
            </a> 
          </td>
          <td class="nowrap"><a ng-href="{{row.id}}" target="_blank" fdz-track-download>{{row.fileName}}
            <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'global.tooltips.files.download' | translate: {filename: row.fileName} }}
            </md-tooltip>
          </a>&nbsp;
          </td>
        </tr>
        </tbody>
      </table>
    </md-card-content>
  </div>
</md-card>
