<div block-ui="blockRelatedDataSetContainer">
<div  ng-if="relatedDataSetController.dataSets.totalHits !== 0" class="fdz-InfiniteScroll">
    <md-virtual-repeat-container id="vertical-container">
     <div md-virtual-repeat="dataSet in relatedDataSetController.dataSets" md-on-demand
         class="fdz-repeated-item" flex>
         <dataset-search-result search-result="dataSet._source"></dataset-search-result>
     </div>
   </md-virtual-repeat-container>
</div>
  <div ng-if="relatedDataSetController.dataSets.totalHits === 0" layout-margin>
    <span>{{'data-set-management.detail.no-related-data-sets' | translate }}</span>
  </div>
</div>
