<md-dialog aria-label="{{'data-acquisition-project-management.home.createLabel' | translate}}" class="md-inline-form">
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <h2 class="fdz-truncate-string">
        <span>{{'data-acquisition-project-management.home.createLabel' | translate}}</span>
      </h2>
      <md-button class="md-icon-button" ng-click="closeDialog()">
        <md-icon md-font-set="material-icons">clear</md-icon>
        <md-tooltip md-autohide="true" md-direction="top" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
          {{'data-acquisition-project-management.home.dialog-tooltip.create-cancel' | translate }}
        </md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <md-divider></md-divider>
  <form autocomplete="off" flex layout="column" layout-align="space-between stretch" name="projectForm"
        class="ms-flex">
    <md-dialog-content style="padding: 1.5em 1.5em 0 1.5em;">
      <md-input-container class="md-block" md-is-error="!projectForm.id.$valid" md-no-float>
        <label>{{'data-acquisition-project-management.name' | translate}}
        </label>
        <input data-md-autofocus data-md-maxlength="32" data-md-no-asterisk
               name="id" ng-model="project.id" ng-pattern="/^[a-z0-9]*$/" project-does-not-exist required
               translate-attr="{'title':'global.entity.validation.required'}">
        <div data-md-auto-hide="false" data-multiple ng-messages="projectForm.id.$error">
          <div ng-message="required">{{'global.entity.validation.required' | translate}}</div>
          <div ng-message="md-maxlength">{{'global.entity.validation.maxlength' | translate:'{ max: "32" }'}}</div>
          <div ng-message="pattern">{{'data-acquisition-project-management.error.data-acquisition-project.id.pattern' |
            translate }}
          </div>
          <div ng-message="project-does-not-exist">
            {{'data-acquisition-project-management.error.data-acquisition-project.id.exists' | translate }}
          </div>
        </div>
      </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row" style="padding: 0 1.5em 1em 0;">
      <md-button class="md-raised" ng-click="closeDialog()">
        <span>{{'global.entity.action.cancel' | translate}}</span>
        <md-tooltip md-autohide="true" md-direction="top" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
          {{'data-acquisition-project-management.home.dialog-tooltip.create-cancel' | translate }}
        </md-tooltip>
      </md-button>
      <md-button class="md-raised" ng-click="ok(project)" ng-disabled="projectForm.$invalid || projectForm.$pending"
                 type="submit">
        <span>{{'global.entity.action.ok' | translate}}</span>
        <md-tooltip md-autohide="true" md-direction="top" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
          {{'data-acquisition-project-management.home.dialog-tooltip.create-ok' | translate }}
        </md-tooltip>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
