<div class="container">
    <div ng-if="!dataAcquisitionProject.$resolved">
        <!-- Todo replace with loading directive -->
        Lade Daten...
    </div>
    <div ng-if="dataAcquisitionProject.$resolved">
        <h2>
            <span data-translate="metadatamanagementApp.dataAcquisitionProject.detail.title">Data Acquisition Project</span>
            {{dataAcquisitionProject.name}}</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th data-translate="entity.detail.field">Field</th>
                                <th data-translate="entity.detail.value">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span data-translate="metadatamanagementApp.dataAcquisitionProject.name">Name</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{dataAcquisitionProject.id}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <uib-accordion close-others="false">
                    <uib-accordion-group is-open="dataSetsListIsOpen">
                        <uib-accordion-heading>
                            <div class="row">
                                <div class="col-md-12">
                                    <span data-translate="metadatamanagementApp.dataSet.title">DataSets</span>
                                    <span class="pull-right">
                                        <span class="label label-as-badge label-default">{{objLists.dataSetList.page.totalElements}}</span>
                                        <i class="glyphicon" ng-class="{'glyphicon-chevron-down': dataSetsListIsOpen, 'glyphicon-chevron-right': !dataSetsListIsOpen}"></i>
                                    </span>
                                </div>
                            </div>
                        </uib-accordion-heading>
                        <div>
                            <datasetlist params="{dataAcquisitionProjectId: dataAcquisitionProject.id}" current-language="currentLanguage" current-page="objLists.dataSetList"></datasetlist>
                        </div>
                    </uib-accordion-group>
                    <br/>
                    <uib-accordion-group is-open="surveysListIsOpen">
                        <uib-accordion-heading>
                            <div class="row">
                                <div class="col-md-12">
                                    <span data-translate="metadatamanagementApp.survey.home.title">Surveys</span>
                                    <span class="pull-right">
                                        <span class="label label-as-badge label-default">{{objLists.surveyList.page.totalElements}}</span>
                                        <i class="glyphicon" ng-class="{'glyphicon-chevron-down': surveysListIsOpen, 'glyphicon-chevron-right': !surveysListIsOpen}"></i>
                                    </span>
                                </div>
                            </div>
                        </uib-accordion-heading>
                        <div>
                            <surveylist params="{dataAcquisitionProjectId: dataAcquisitionProject.id}" current-language="currentLanguage" current-page="objLists.surveyList"></surveylist>
                        </div>
                    </uib-accordion-group>
                    <br/>
                    <uib-accordion-group is-open="variablesListIsOpen">
                        <uib-accordion-heading>
                            <div class="row">
                                <div class="col-md-12">
                                    <span data-translate="metadatamanagementApp.variable.home.title">Variablen</span>
                                    <span class="pull-right">
                                        <span class="label label-as-badge label-default">{{objLists.variableList.page.totalElements}}</span>
                                        <i class="glyphicon" ng-class="{'glyphicon-chevron-down': variablesListIsOpen, 'glyphicon-chevron-right': !variablesListIsOpen}"></i>
                                    </span>
                                </div>
                            </div>
                        </uib-accordion-heading>
                        <div>
                            <variablelist params="{dataAcquisitionProjectId: dataAcquisitionProject.id}" current-language="currentLanguage" current-page="objLists.variableList"></variablelist>
                        </div>
                    </uib-accordion-group>
                    <br/>
                    <uib-accordion-group is-open="atomicQuetionListIsOpen">
                        <uib-accordion-heading>
                            <div class="row">
                                <div class="col-md-12">
                                    <span data-translate="metadatamanagementApp.atomicQuestion.title">AtomicQuestions</span>
                                    <span class="pull-right">
                                        <span class="label label-as-badge label-default">{{objLists.atomicQuestionList.page.totalElements}}</span>
                                        <i class="glyphicon" ng-class="{'glyphicon-chevron-down': atomicQuetionListIsOpen, 'glyphicon-chevron-right': !atomicQuetionListIsOpen}"></i>
                                    </span>
                                </div>
                            </div>
                        </uib-accordion-heading>
                        <div>
                            <atomicquestionlist params="{dataAcquisitionProjectId: dataAcquisitionProject.id}" current-language="currentLanguage" current-page="objLists.atomicQuestionList"></atomicquestionlist>
                        </div>
                    </uib-accordion-group>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" onclick="window.history.back()" class="btn btn-info">
                                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;
                                <span data-translate="entity.action.back">
                                    Back</span>
                            </button>
                            <button type="file" class="btn btn-default" ngf-select="uploadSurveys($file)" accept=".xlsx" ng-disabled="uploadState.disableButton">
                                <span class="glyphicon glyphicon-cloud-upload"></span>
                                {{'metadatamanagementApp.dataAcquisitionProject.detail.upload.surveys' | translate}}</button>
                            <button type="file" class="btn btn-default" ngf-select="uploadDataSets($file)" accept=".xlsx" ng-disabled="uploadState.disableButton">
                                <span class="glyphicon glyphicon-cloud-upload"></span>
                                {{'metadatamanagementApp.dataAcquisitionProject.detail.upload.datasets' | translate}}</button>
                            <button type="file" class="btn btn-default" ngf-select="uploadVariables($file)" accept=".zip" ng-disabled="uploadState.disableButton">
                                <span class="glyphicon glyphicon-cloud-upload"></span>
                                {{'metadatamanagementApp.dataAcquisitionProject.detail.upload.variables' | translate}}</button>
                            <button type="file" class="btn btn-default" ngf-select="uploadAtomicQuestions($file)" accept=".xlsx" ng-disabled="uploadState.disableButton">
                                <span class="glyphicon glyphicon-cloud-upload"></span>
                                {{'metadatamanagementApp.dataAcquisitionProject.detail.upload.atomicQuestion' | translate}}</button>
                        </div>
                    </div>
                    <br/>
                    <div ng-if="job.state === 'running'" layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-linear ng-class="job.errors > 0 ? 'md-warn' : 'md-primary'" md-mode="indeterminate"></md-progress-linear>
                    </div>
                    <uib-accordion-group is-open="isOpen">
                        <uib-accordion-heading>
                            <div class="row">
                                <div class="col-md-2">
                                    <span>{{'metadatamanagementApp.dataAcquisitionProject.detail.uploadprotocol' | translate}}
                                    </span>
                                </div>
                                <div class="col-md-10">
                                    <div class="pull-right">
                                        <span class="label label-as-badge label-success">{{'metadatamanagementApp.dataAcquisitionProject.detail.success' | translate}}:
                                            {{job.successes || 0}}</span>
                                        <span class="label label-as-badge label-danger">{{'metadatamanagementApp.dataAcquisitionProject.detail.error' | translate}}:
                                            {{job.errors || 0}}</span>
                                        <i class="glyphicon" ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}"></i>
                                    </div>
                                </div>
                            </div>
                        </uib-accordion-heading>
                        <div>
                            <pre><span ng-repeat="logMessage in job.logMessages track by $index" ng-class="{'text-danger': logMessage.type==='error'}">{{logMessage.message}}</span></pre>
                        </div>
                    </uib-accordion-group>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>
