<div class="container-fluid">
  <md-sidenav class="md-sidenav-left" style= "z-index:8000;" md-component-id="left">
    <md-toolbar class="md-theme-light">
      <h2>Sidenav Left</h2>
    </md-toolbar>
    <md-content class="md-padding">
      <md-button ng-click="close()" class="md-primary">
        Close Sidenav Left
      </md-button>
    </md-content>
  </md-sidenav>
<md-content><md-button ng-click="openLeftMenu()">Open Left Menu</md-button></md-content>
    <h2>
        <span data-translate="metadatamanagementApp.dataAcquisitionProject.detail.title">Data Acquisition Project</span>
        {{dataAcquisitionProject.name}}</h2>
        <div class="container-fluid">
          <div>
        <md-tabs>
          <md-tab label="Info" style="text-transform: capitalize;">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th data-translate="entity.detail.field">Field</th>
                                    <th data-translate="entity.detail.value">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span data-translate="metadatamanagementApp.dataAcquisitionProject.name">Name</span>
                                    </td>
                                    <td>
                                        <span class="form-control-static">{{dataAcquisitionProject.id}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </md-tab>
          <md-tab label="{{'metadatamanagementApp.dataSet.title' | translate}} ( {{objLists.dataSetList.page.totalElements}} )">
                  <datasetlist params="{dataAcquisitionProjectId: dataAcquisitionProject.id}" current-language="currentLanguage" current-page="objLists.dataSetList"></datasetlist>
          </md-tab>
          <md-tab label="{{'metadatamanagementApp.survey.home.title' | translate}} ( {{objLists.surveyList.page.totalElements}} )">
                    <surveylist params="{dataAcquisitionProjectId: dataAcquisitionProject.id}" current-language="currentLanguage" current-page="objLists.surveyList"></surveylist>
          </md-tab>
          <md-tab label="{{'metadatamanagementApp.variable.home.title' | translate}} ( {{objLists.variableList.page.totalElements}} )">
                    <variablelist params="{dataAcquisitionProjectId: dataAcquisitionProject.id}" current-language="currentLanguage" current-page="objLists.variableList" >
                    </variablelist>
                </md-tab>
            <md-tab label="{{'metadatamanagementApp.atomicQuestion.title' | translate}} ( {{objLists.atomicQuestionsList.page.totalElements}} )">
                    <atomicquestionlist params="{dataAcquisitionProjectId: dataAcquisitionProject.id}" current-language="currentLanguage" current-page="objLists.atomicQuestionsList"></atomicquestionlist>
                </md-tab>
        </md-tabs>
        <div>

      </div>

<!--
      <md-button class="md-fab md-fab-bottom-right" ng-mouseenter="$root.$dial=true" ng-mouseleave="$root.$dial=false">
        Hi
      </md-button>
-->
            <md-fab-toolbar md-open="isOpen" md-direction="{{selectedDirection}}"
            count="count">
            <md-fab-trigger class="align-with-text">
               <md-button aria-label="menu" class="md-fab md-primary">
                  <md-icon class="material-icons">+</md-icon>
               </md-button>
            </md-fab-trigger>
            <md-toolbar>
               <md-fab-actions class="md-toolbar-tools">
                 <button type="file" class="md-primary md-hue-1 md-button md-ink-ripple" ngf-select="uploadDataSets($file)" accept=".xlsx" ng-disabled="uploadState.disableButton">
                         <span class="glyphicon glyphicon-cloud-upload"></span>
                         {{'metadatamanagementApp.dataAcquisitionProject.detail.upload.datasets' | translate}}</button>
                 <button type="file" class="md-primary md-hue-1 md-button md-ink-ripple" ngf-select="uploadSurveys($file)" accept=".xlsx" ng-disabled="uploadState.disableButton">
                     <span class="glyphicon glyphicon-cloud-upload"></span>
                     {{'metadatamanagementApp.dataAcquisitionProject.detail.upload.surveys' | translate}}</button>
                 <button type="file" class="md-primary md-hue-1 md-button md-ink-ripple" ngf-select="uploadVariables($file)" accept=".zip" ng-disabled="uploadState.disableButton">
                         <span class="glyphicon glyphicon-cloud-upload"></span>
                         {{'metadatamanagementApp.dataAcquisitionProject.detail.upload.variables' | translate}}</button>
                 <button type="file" class="md-primary md-hue-1 md-button md-ink-ripple" ngf-select="uploadAtomicQuestions($file)" accept=".xlsx" ng-disabled="uploadState.disableButton">
                         <span class="glyphicon glyphicon-cloud-upload"></span>
                         {{'metadatamanagementApp.dataAcquisitionProject.detail.upload.atomicQuestion' | translate}}</button>
               </md-fab-actions>
            </md-toolbar>
         </md-fab-toolbar>
  <uib-accordion close-others="false">
              <div ng-if="job.state === 'running'" layout="row" layout-sm="column" layout-align="space-around">
                      <md-progress-linear ng-class="job.errors > 0 ? 'md-warn' : 'md-primary'" md-mode="indeterminate"></md-progress-linear>
              </div>
                <uib-accordion-group is-open="isOpen">
                    <uib-accordion-heading>
                      <div class="row">
                        <div class="col-md-2">
                          <span>{{'metadatamanagementApp.dataAcquisitionProject.detail.uploadprotocol' | translate}} </span>
                        </div>
                        <div class = "col-md-10">
                        <div class="pull-right">
                            <span class="label label-as-badge label-success">{{'metadatamanagementApp.dataAcquisitionProject.detail.success' | translate}}: {{job.successes || 0}}</span>
                            <span class="label label-as-badge label-danger">{{'metadatamanagementApp.dataAcquisitionProject.detail.error' | translate}}: {{job.errors || 0}}</span>
                            <i class="glyphicon" ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}"></i>
                        </div>
                      </div>
                      </div>
                    </uib-accordion-heading>
                    <div>
                      <pre><span ng-repeat="logMessage in job.logMessages track by $index" ng-class="{'text-danger': logMessage.type==='error'}">{{logMessage.message}}</span></pre>
                    </div>
                </uib-accordion-group>
              </uib-accordion>
            </div>
          </div>
        </div>
