
<div class="">
  <div layout="row" style="margin-bottom: 0px;" layout-margin>
    <h1 id="top" class="md-headline fdz-truncate-string" style="margin-left: 0px;">{{'data-acquisition-project-management.project-cockpit.title' | translate}}</h1>
  </div>
  <div ng-if="!project || !usersFetched" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
  <div class="layout-row" layout-sm="column" ng-if="project && usersFetched">
    <div flex>
      <div class="layout-margin layout-row md-body-2">{{'data-acquisition-project-management.project-cockpit.search.header-publisher' | translate}} {{project.id}}:</div>
      <md-card>
        <md-autocomplete
          flex
          ng-disabled="false"
          md-search-text="searchText.publishers"
          md-selected-item="selectedUser.publishers"
          md-selected-item-change="selectedUserChanged(selectedUser.publishers, 'publishers')"
          md-items="user in searchUsers(searchText.publishers, 'publishers', 'ROLE_PUBLISHER')"
          md-item-text="user.login"
          md-min-length="1"
          md-delay="250"
          placeholder="{{'data-acquisition-project-management.project-cockpit.search.placeholder' | translate}}"
          md-require-match="true"
          md-no-cache="true"
          style="margin-bottom: 8px"
          >
            <md-item-template>
              <div layout="row">
                <span md-highlight-text="searchText.publishers">{{user.login}} ({{user.firstName}} {{user.lastName}})</span>
                <span flex></span>
                <md-chips readonly="true" ng-if="!!user.authorities" ng-model="user.authorities">
                  <md-chip-template class="authority">{{'data-acquisition-project-management.project-cockpit.label.' + $chip | translate}}</md-chip-template>
                </md-chips>
              </div>
            </md-item-template>
            <md-not-found>
              <span data-translate="global.menu.entities.unknown-project"></span>
            </md-not-found>
        </md-autocomplete>

        <md-list ng-repeat="user in activeUsers.publishers">
          <md-list-item class="layout-row">
            <div class="md-list-item-text">
              <p style="margin:8px;"><strong>{{user.login}}</strong></p>
            </div>
            <span flex></span>
            <md-chips readonly="true" ng-if="!!user.authorities" ng-model="user.authorities">
              <md-chip-template class="authority">{{'data-acquisition-project-management.project-cockpit.label.' + $chip | translate}}</md-chip-template>
            </md-chips>
            <md-button ng-disabled="!canDeleteUser(user, 'publishers')" class="md-primary md-raised" ng-click="removeUser(user, 'publishers')" aria-label="remove user">
              <md-icon md-font-set="material-icons" class="ng-binding ng-scope material-icons" role="img" aria-hidden="true">delete</md-icon>
            </md-button>
          </md-list-item>
        </md-list>
        <div class="layout-margin" ng-if="!activeUsers.publishers || !activeUsers.publishers.length">
          <i>{{'data-acquisition-project-management.project-cockpit.list.empty-publisher' | translate}}</i>
        </div>
      </md-card>
    </div>

    <div flex>
      <div class="layout-margin layout-row md-body-2">{{'data-acquisition-project-management.project-cockpit.search.header-data-provider' | translate}} {{project.id}}:</div>
      <md-card>
        <md-autocomplete
          flex
          ng-disabled="false"
          md-search-text="searchText.dataProviders"
          md-selected-item="selectedUser.dataProviders"
          md-selected-item-change="selectedUserChanged(selectedUser.dataProviders, 'dataProviders')"
          md-items="user in searchUsers(searchText.dataProviders, 'dataProviders', 'ROLE_DATA_PROVIDER')"
          md-item-text="user.login"
          md-min-length="1"
          md-delay="250"
          placeholder="{{'data-acquisition-project-management.project-cockpit.search.placeholder' | translate}}"
          md-require-match="true"
          md-no-cache="true"
          style="margin-bottom: 8px"
          >
            <md-item-template>
              <div layout="row">
                <span md-highlight-text="searchText.dataProviders">{{user.login}}</span>
                <span flex></span>
                <md-chips readonly="true" ng-if="!!user.authorities" ng-model="user.authorities">
                  <md-chip-template class="authority">{{'data-acquisition-project-management.project-cockpit.label.' + $chip | translate}}</md-chip-template>
                </md-chips>
              </div>
            </md-item-template>
            <md-not-found>
              <span data-translate="global.menu.entities.unknown-project"></span>
            </md-not-found>
        </md-autocomplete>

        <md-list ng-repeat="user in activeUsers.dataProviders">
          <md-list-item class="layout-row">
            <div class="md-list-item-text">
              <p style="margin:8px;"><strong>{{user.login}}</strong><p>
            </div>
            <span flex></span>
            <md-chips readonly="true" ng-if="!!user.authorities" ng-model="user.authorities">
              <md-chip-template class="authority">{{'data-acquisition-project-management.project-cockpit.label.' + $chip | translate}}</md-chip-template>
            </md-chips>
            <md-button ng-disabled="!canDeleteUser(user, 'dataProviders')" class="md-primary md-raised" ng-click="removeUser(user, 'dataProviders')" aria-label="remove user">
              <md-icon md-font-set="material-icons" class="ng-binding ng-scope material-icons" role="img" aria-hidden="true">delete</md-icon>
            </md-button>
          </md-list-item>
        </md-list>
        <div class="layout-margin" ng-if="!activeUsers.dataProviders || !activeUsers.dataProviders.length">
          <i>{{'data-acquisition-project-management.project-cockpit.list.empty-data-provider' | translate}}</i>
        </div>
      </md-card>
    </div>
  </div>

  <div class="fdz-fab-button-container" layout="column">
    <md-button class="md-raised md-fab md-accent" ng-click="saveChanges()" ng-disabled="!changed">
    <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
        {{'data-acquisition-project-management.project-cockpit.button.save' | translate}}
    </md-tooltip>
    <md-icon md-font-set="material-icons">save</md-icon>
    </md-button>
  </div>
</div>
