<md-card style="margin-top:8px;">
	<md-card-content>
		<div>
			<project-status-label assignee-group="{{project.assigneeGroup}}"></project-status-label>
		</div>
		<md-switch ng-disabled="true" md-invert class="md-primary">
			{{'data-acquisition-project-management.project-cockpit.config.released' | translate}}
		</md-switch>
	</md-card-content>
</md-card>
<md-divider></md-divider>
<div layout-gt-sm="row" layout="column" layout-wrap>
	<project-cockpit-assignment group="studies" createstate="studyCreate"></project-cockpit-assignment>
	<project-cockpit-assignment group="surveys" createstate="surveyCreate"></project-cockpit-assignment>
	<project-cockpit-assignment group="instruments" createstate="instrumentCreate"></project-cockpit-assignment>
	<project-cockpit-assignment group="questions" createstate="questionCreate"></project-cockpit-assignment>
	<project-cockpit-assignment group="dataSets" createstate="dataSetCreate"></project-cockpit-assignment>
	<project-cockpit-assignment group="variables" createstate="variableCreate"></project-cockpit-assignment>
</div>
