<md-card style="margin-top:8px;">
	<md-card-content>
		<div>
			<project-status-label assignee-group="{{project.assigneeGroup}}"></project-status-label>
		</div>
		<md-switch ng-disabled="true" md-invert class="md-primary">
			{{'data-acquisition-project-management.project-cockpit.config.released' | translate}}
		</md-switch>
	</md-card-content>
</md-card>
<md-divider></md-divider>
<div layout-gt-sm="row" layout="column" layout-wrap>
	<project-cockpit-assignment group="studies" icon="assets/images/icons/study.svg" createstate="studyCreate"></project-cockpit-assignment>
	<project-cockpit-assignment group="surveys" icon="assets/images/icons/survey.svg" createstate="surveyCreate"></project-cockpit-assignment>
	<project-cockpit-assignment group="instruments" icon="assets/images/icons/instrument.svg" createstate="instrumentCreate"></project-cockpit-assignment>
	<project-cockpit-assignment group="questions" icon="assets/images/icons/question.svg">
        <md-button ng-disabled="project.configuration.questionsState.dataProviderReady && project.configuration.questionsState.publisherReady"
                   type="file" ngf-select="uploadQuestions($files)" directory webkitdirectory ngf-multiple="true" class="md-primary">
            {{'data-acquisition-project-management.project-cockpit.config.upload' | translate}}
        </md-button>
    </project-cockpit-assignment>
	<project-cockpit-assignment group="dataSets" icon="assets/images/icons/data-set.svg" createstate="dataSetCreate"></project-cockpit-assignment>
	<project-cockpit-assignment group="variables" icon="assets/images/icons/variable.svg">
        <md-button ng-disabled="project.configuration.variablesState.dataProviderReady && project.configuration.variablesState.publisherReady"
                   type="file" ngf-select="uploadVariables($files)" directory webkitdirectory ngf-multiple="true" class="md-primary">
            {{'data-acquisition-project-management.project-cockpit.config.upload' | translate}}
        </md-button>
    </project-cockpit-assignment>
</div>
