<div class="fdz-cc">
  <md-content layout="column" layout-align="start stretch">
    <md-card>
      <md-card-header>
        <md-card-header-text>
          <h1 class="md-headline fdz-truncate-string" id="top">
            {{'data-acquisition-project-management.project-overview.header' | translate}}
          </h1>
        </md-card-header-text>
      </md-card-header>
      <!-- Check if currently any projects are assigned to currently logged in user -->
      <div ng-switch="ctrl.userProjects.length > 0">
        <!-- user with projects -->
        <md-card-content ng-switch-when="true" card="pa0">
          <table class="table-striped table-hover" fdz-table>
            <thead class="">
            <tr>
              <th>{{'data-acquisition-project-management.project-overview.table.project-name' | translate}}</th>
              <th>{{'data-acquisition-project-management.project-overview.table.release-version' | translate}}</th>
              <th>{{'data-acquisition-project-management.project-overview.table.assigned-group' | translate}}</th>
              <th class="fdz-project-status-overview-metadata-status-table-cell">
                {{'data-acquisition-project-management.project-overview.table.data-package-status' | translate}}&nbsp;
              </th>
              <th class="fdz-project-status-overview-metadata-status-table-cell">
                {{'data-acquisition-project-management.project-overview.table.analysis-package-status' | translate}}&nbsp;
              </th>
              <th class="fdz-project-status-overview-metadata-status-table-cell">
                {{'data-acquisition-project-management.project-overview.table.surveys-status' | translate}}&nbsp;
              </th>
              <th class="fdz-project-status-overview-metadata-status-table-cell">
                {{'data-acquisition-project-management.project-overview.table.instruments-status' | translate}}&nbsp;
              </th>
              <th class="fdz-project-status-overview-metadata-status-table-cell">
                {{'data-acquisition-project-management.project-overview.table.data-sets-status' | translate}}&nbsp;
              </th>
              <th class="fdz-project-status-overview-metadata-status-table-cell">
                {{'data-acquisition-project-management.project-overview.table.questions-status' | translate}}&nbsp;
              </th>
              <th class="fdz-project-status-overview-metadata-status-table-cell">
                {{'data-acquisition-project-management.project-overview.table.variables-status' | translate}}&nbsp;
              </th>
              <th class="fdz-project-status-overview-metadata-status-table-cell">
                {{'data-acquisition-project-management.project-overview.table.publications-status' | translate}}&nbsp;
              </th>
              <th class="fdz-project-status-overview-metadata-status-table-cell">
                {{'data-acquisition-project-management.project-overview.table.concepts-status' | translate}}&nbsp;
              </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-click="ctrl.openProjectCockpit(dataAcquisitionProject.id)"
                ng-repeat="dataAcquisitionProject in ctrl.userProjects">
              <td class="fdz-table-data-vertical-middle">
                {{::dataAcquisitionProject.id}}
                <md-tooltip md-autohide="true" md-direction="top"
                            md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                  {{'data-acquisition-project-management.project-overview.table.tooltip'| translate}}
                </md-tooltip>
              </td>
              <td class="fdz-table-data-vertical-middle">{{::dataAcquisitionProject.release.version ?
                dataAcquisitionProject.release.version :
                ('data-acquisition-project-management.project-overview.table.unreleased' | translate)}}&nbsp;
              </td>
              <td class="fdz-table-data-vertical-middle" ng-switch="dataAcquisitionProject.assigneeGroup">
                <span ng-switch-when="PUBLISHER">{{'data-acquisition-project-management.project-overview.table.publisher' | translate}}</span>
                <span ng-switch-when="DATA_PROVIDER">{{'data-acquisition-project-management.project-overview.table.data-provider' | translate}}</span>
                <span ng-switch-default>&nbsp;</span>
              </td>
              <td class="fdz-table-data-vertical-middle">
                <metadata-status project="dataAcquisitionProject" type="'dataPackages'"></metadata-status>
              </td>
              <td class="fdz-table-data-vertical-middle">
                <metadata-status project="dataAcquisitionProject" type="'analysisPackages'"></metadata-status>
              </td>
              <td class="fdz-table-data-vertical-middle">
                <metadata-status project="dataAcquisitionProject" type="'surveys'"></metadata-status>
              </td>
              <td class="fdz-table-data-vertical-middle">
                <metadata-status project="dataAcquisitionProject" type="'instruments'"></metadata-status>
              </td>
              <td class="fdz-table-data-vertical-middle">
                <metadata-status project="dataAcquisitionProject" type="'dataSets'"></metadata-status>
              </td>
              <td class="fdz-table-data-vertical-middle">
                <metadata-status project="dataAcquisitionProject" type="'questions'"></metadata-status>
              </td>
              <td class="fdz-table-data-vertical-middle">
                <metadata-status project="dataAcquisitionProject" type="'variables'"></metadata-status>
              </td>
              <td class="fdz-table-data-vertical-middle">
                <metadata-status project="dataAcquisitionProject" type="'publications'"></metadata-status>
              </td>
              <td class="fdz-table-data-vertical-middle">
                <metadata-status project="dataAcquisitionProject" type="'concepts'"></metadata-status>
              </td>
            </tr>
            </tbody>
          </table>
          <!-- TODO: PAGINATION WON'T UPDATE DEPENDING ON USER-->
          <div layout="column" layout-align="start center">
            <ul boundary-link-numbers="true"
                class="pagination-sm"
                items-per-page="ctrl.pagination.itemsPerPage"
                next-text="{{'global.pagination.next'|translate}}"
                ng-change="ctrl.onPageChange()"
                ng-model="ctrl.pagination.selectedPageNumber"
                previous-text="{{'global.pagination.previous'|translate}}"
                template-url="scripts/common/pagination/custom-uib-pagination.html.tmpl"
                total-items="ctrl.pagination.totalItems"
                uib-pagination>
            </ul>
          </div>
        </md-card-content>
        <div ng-switch-when="false">
          <!-- user without projects -->
          <span data-translate="data-acquisition-project-management.project-overview.no-project-msg"></span>
        </div>
      </div>
    </md-card>
  </md-content>
</div>
