<div layout-column style="margin-top:8px;">
	<span class="md-headline" layout-margin>
		assigned group <span class="label label-as-badge label-default">Publisher</span>
	</span>
	<div layout-margin>

	<md-switch ng-disabled="true" md-invert class="md-primary">Released
	</md-switch>
	</div>
</div>
<md-divider></md-divider>
<div layout-gt-sm="row" layout="column" layout-wrap>
	<project-cockpit-assignment group="studies"></project-cockpit-assignment>
	<project-cockpit-assignment group="surveys"></project-cockpit-assignment>
	<project-cockpit-assignment group="instruments"></project-cockpit-assignment>
	<project-cockpit-assignment group="questions"></project-cockpit-assignment>
	<project-cockpit-assignment group="dataSets"></project-cockpit-assignment>
	<project-cockpit-assignment group="variables"></project-cockpit-assignment>
</div>
