<md-dialog aria-label="{{'data-acquisition-project-management.home.releaseLabel' | translate:'{id:\'' + project.id + '\'}'}}" style="min-width: 550px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <div flex>
                <h2 class="fdz-truncate-string">
                    <span>{{'data-acquisition-project-management.home.releaseLabel' | translate:'{id:"' + project.id + '"}'}}</span>
                </h2>
            </div>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-font-set="material-icons">clear</md-icon>
                <md-tooltip md-direction="top" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
                  {{'data-acquisition-project-management.home.dialog-tooltip.close' | translate }}
                </md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <form name="releaseForm">
        <md-dialog-content style="padding: 1.5em 1.5em 0 1.5em;">
            <md-input-container class="md-block" md-is-error="!releaseForm.version.$valid">
                <label>{{'data-acquisition-project-management.release.version' | translate}}</label>
                <input data-md-maxlength="32" required translate-attr="{'title':'global.entity.validation.required'}" data-md-no-asterisk ng-model="release.version" name="version" ng-pattern="/^[0-9][0-9.]*$/" data-md-autofocus>
                <div ng-messages="releaseForm.version.$error" data-multiple data-md-auto-hide="false">
                    <div ng-message="required">{{'global.entity.validation.required' | translate}}</div>
                    <div ng-message="md-maxlength">{{'global.entity.validation.maxlength' | translate:'{ max: "32" }'}}</div>
                    <div ng-message="pattern">{{'global.entity.validation.data-acquisition-project.release.version' | translate }}</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>{{'data-acquisition-project-management.release.notes.de' | translate}}</label>
              <textarea name="notes.de" ng-model="release.notes.de" md-maxlength="2048" rows="5"></textarea>
              <div ng-messages="releaseForm.notes.de.$error" data-multiple data-md-auto-hide="false">
                  <div ng-message="md-maxlength">{{'global.entity.validation.maxlength' | translate:'{ max: "2048" }'}}</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>{{'data-acquisition-project-management.release.notes.en' | translate}}</label>
              <textarea name="notes.en" ng-model="release.notes.en" md-maxlength="2048" rows="5"></textarea>
              <div ng-messages="releaseForm.notes.en.$error" data-multiple data-md-auto-hide="false">
                  <div ng-message="md-maxlength">{{'global.entity.validation.maxlength' | translate:'{ max: "2048" }'}}</div>
              </div>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row" style="padding: 0 1.5em 1em 0;">
            <md-button class="md-raised" ng-click="cancel()">
              <span>{{'global.entity.action.cancel' | translate}}</span>
              <md-tooltip md-direction="top" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
                {{'data-acquisition-project-management.home.dialog-tooltip.cancel' | translate }}
              </md-tooltip>
            </md-button>
            <md-button class="md-raised" ng-click="ok(release)" ng-disabled="releaseForm.$invalid">
              <span>{{'global.entity.action.ok' | translate}}</span>
              <md-tooltip md-direction="top" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
                {{'data-acquisition-project-management.home.dialog-tooltip.ok' | translate }}
              </md-tooltip>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
