<span class="label label-as-badge" ng-class="{'fdz-released': released, 'fdz-unreleased': !released}">
{{(released ? 'data-acquisition-project-management.releasestatusbadge.released' : 'data-acquisition-project-management.releasestatusbadge.unreleased') | translate}}
</span>
