<md-dialog aria-label="JSON content title" class="fdz-fullscreen-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="fdz-truncate-string" display-i18n-string="headerTitle" flex>Dialog title</h2>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon aria-label="{{'common.dialogs.jsoncontentdialog.close' | translate}}">
          close
        </md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-divider></md-divider>
  <md-dialog-content>
    <div class="md-dialog-content">
      <json-formatter json="content" open="1"></json-formatter>
    </div>
  </md-dialog-content>
</md-dialog>
