<md-button ng-click="open()" class="md-primary fdz-small ma0">
    <md-tooltip md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
        {{'common.dialogs.jsoncontentdialog.tooltip' | translate}}
    </md-tooltip>
    <span class="fdz-no-select">{&nbsp;}</span>
</md-button>
