<div class="fdz-cc ma-auto">
  <div class="fdz-center">
    <div class="fdz-start">
      <div class="fdz-start__header">
        <div class="fdz-start__header-text">
          <h1 class="md-headline">{{'start.data-search' | translate}}</h1>
        </div>
      </div>
      <div class="fdz-start__content">{{'start.fdz-text' | translate}}</div>
      <fdz-search-detail></fdz-search-detail>
      <div class="fdz-link">
        <a ui-sref="search">{{'start.show-all' | translate}}</a>
      </div>
      <div class="fdz-start__header">
        <div class="fdz-start__header-text">
          <h1 class="md-headline">{{'start.recommendation' | translate}}</h1>
        </div>
      </div>
      <div class="fdz-start__content">
        <study-search-result
          bowser=""
          current-language="currentLanguage"
          search-query=""
          search-result="study"
          set-params=""
          search-result-index=""></study-search-result>
      </div>
    </div>
  </div>
</div>
