<div class="fdz-cc ma-auto">
  <div class="fdz-center">
    <div class="fdz-start flex">
      <div class="fdz-start__header">
        <div class="fdz-start__header-text">
          <h1 class="md-headline">{{'start.data-search' | translate}}</h1>
        </div>
      </div>
      <div class="fdz-start__content" data-translate="start.fdz-text"></div>
      <fdz-search-detail></fdz-search-detail>
      <div class="fdz-link">
        <a ui-sref="search" rel="search">{{'start.show-all' | translate}} ({{ dataPackagesCount ? dataPackagesCount : 0 }})</a>
        <a ui-sref="search({type: 'analysis_packages'})" rel="search">{{'start.show-all-analysis-packages' | translate}}  ({{ analysisPackagesCount ? analysisPackagesCount : 0 }})</a>
      </div>
      <div class="fdz-start__images">
        <a ui-sref="search({'study-series': '{{socialSurvey[lang]}}'})" class="fdz-image social-survey">
          <div class="md-title fdz-image-text">{{socialSurvey[lang] | fdzHyphenate}}</div>
        </a>
        <a ui-sref="search({'study-series': '{{graduateSurvey[lang]}}'})" class="fdz-image">
          <div class="md-title fdz-image-text">{{graduateSurvey[lang] | fdzHyphenate}}</div>
        </a>
        <a ui-sref="search({'study-series': '{{schoolSurvey[lang]}}'})" class="fdz-image school-leavers">
          <div class="md-title fdz-image-text">{{schoolSurvey[lang] | fdzHyphenate}}</div>
        </a>
      </div>
      <div ng-if="pinnedDataPackage" class="fdz-start__header pb0" style="margin-bottom: -8px;">
        <div class="fdz-start__header-text">
          <h2 class="md-headline">{{'start.pinned-data-package-title' | translate}}</h1>
        </div>
      </div>
      <datapackage-search-result
        bowser="bowser"
        current-language="currentLanguage"
        ng-if="pinnedDataPackage"
        search-result="pinnedDataPackage"></datapackage-search-result>
    </div>
  </div>
</div>
<div class="fdz-fab-button-container" layout="column" layout-align="center end">
  <report-publications-component></report-publications-component>
</div>
