/* Fix bootstrap overlapping of body and navbar */
body {
	padding-top: 70px;
}

/* Adjust bootstraps jumbotron margin-bottom (original is 30px)*/
.jumbotron {
	margin-bottom: 20px;
}

/* Adjust the filter checkboxes and headlines with margin-left to 10xp. (Original 0px)
 It would be overwrite by the checkbox class. This is the reason of the !important.*/
.filter-margin{
	margin-left: 5px !important;
}

/* chevron Up and Down and link style */
.custom-panel-heading .panel-toggle:after {
	/* symbol for "opening" panels */
	font-family: 'Glyphicons Halflings';
	/* essential for enabling glyphicon */
	content: "\e113"; /* adjust as needed, taken from bootstrap.css */
	float: right; /* adjust as needed */
	color: white; /* adjust as needed */
}

.custom-panel-heading .panel-toggle.collapsed:after {
	/* symbol for "collapsed" panels */
	content: "\e114"; /* adjust as needed, taken from bootstrap.css */
}

.panel-primary .custom-panel-heading a:focus {
	color: white;
	outline-color: white;
}

.panel-primary .custom-panel-heading a:hover {
	color: white;
}

/* fix for error and success glyphicons on dropdowns 
   see https://github.com/twbs/bootstrap/issues/14202 */
select ~ .form-control-feedback {
	margin-right: 15px;
}

/* fix for error and success glyphicons on dropdowns 
   see https://github.com/twbs/bootstrap/issues/14202 */
select[multiple] ~ .form-control-feedback {
	margin-right: 0;
}

/* make text bold*/
.customLabel  {
	font-weight: bold;
	line-height: 150%;
}

/* add hover effect to panels */
.custom-panel-heading {
	cursor: pointer !important;
}

.custom-panel-heading:hover {
	background-color: #0D67B5 !important;
}

/* show scrollbar on mobile divices*/
@media ( max-width : 767px) {
	.custom-table {
		overflow-x: scroll;
		-webkit-overflow-scrolling-x: scroll;
	}
}