/*Common style*/
.ui-datepicker {
	background: #ffffff;
	font-family: "Helvetica", "Arial", "sans-serif";
	font-weight: bold;
	z-index: 10000 !important;
}
/*Head style*/
.ui-widget-header {
	border: #ffffff;
	background: #ffffff;
	color: #ffffff;
}
/*Selectbox style */
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year
	{
	color: #1a1a1a;
	font-weight: bold;
	border: #ffffff;
	background: #ffffff;
}
/*Corrent day*/
.ui-datepicker-calendar td.ui-datepicker-today a {
	background: #6fabf1;
	color: #ffffff;
}
/* Selected day */
.ui-widget-content .ui-state-active {
	background: #0073ea;
    color: #ffffff;
}

button.ui-datepicker-current {
	display: none;
}​

