<md-card>
  <md-card-header>
    <md-card-header-text>
      <h2 class="md-title">{{'data-package-management.detail.label.attachments.citation-details' | translate }}</h2>
    </md-card-header-text>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content>
    <div layout="column" layout-gt-sm="row" class="ms-flex">
      <md-input-container flex="33" md-is-error="!form.publicationYear.$valid && (form.publicationYear.$dirty || form.publicationYear.$touched)" class="ms-flex mr8">
        <label>{{'data-package-management.edit.label.publication-year' | translate}}</label>
        <input min="1990" max="{{$ctrl.currentYear + 1}}" name="publicationYear" ng-model="$ctrl.citationDetails.publicationYear" required step="1" type="number">
        <div class="fdz-input-hint" ng-if="!form.publicationYear.$dirty && !form.publicationYear.$touched">
          {{'data-package-management.edit.hints.citation-details.publication-year' | translate}}
        </div>
        <div multiple ng-messages="form.publicationYear.$error">
          <div ng-message="required">{{'data-package-management.error.data-package-attachment-metadata.publication-year.not-null' | translate}}</div>
          <div ng-message="step">{{'data-package-management.error.data-package-attachment-metadata.publication-year.invalid-number' | translate}}</div>
          <div ng-message="number">{{'data-package-management.error.data-package-attachment-metadata.publication-year.invalid-number' | translate}}</div>
          <div ng-message="min">{{'data-package-management.error.data-package-attachment-metadata.publication-year.min' | translate}}</div>
          <div ng-message="max">{{'data-package-management.error.data-package-attachment-metadata.publication-year.max' | translate}}</div>
        </div>
      </md-input-container>
      <md-input-container flex="33" class="ms-flex mr8" md-is-error="!form.institution.$valid && (form.institution.$dirty || form.institution.$touched)">
        <label class="fdz-input-required">{{'data-package-management.edit.label.institution' | translate}} ({{'global.in' | translate}} {{ $ctrl.selectedLanguage? ($ctrl.selectedLanguage | displayIsoLanguage) : '?'}})</label>
        <input fdz-required md-maxlength="512" ng-model="$ctrl.citationDetails.institution" name="institution">
        <div ng-if="!form.institution.$dirty && !form.institution.$touched" class="fdz-input-hint">{{'data-package-management.edit.hints.citation-details.institution' | translate}}</div>
        <div ng-messages="form.institution.$error" multiple>
          <div ng-message="md-maxlength">{{'data-package-management.error.data-package-attachment-metadata.institution.string-size' | translate}}</div>
          <div ng-message="fdz-required">{{'data-package-management.error.data-package-attachment-metadata.institution.not-empty' | translate}}</div>
        </div>
      </md-input-container>
      <md-input-container flex="33" class="ms-flex mr8" md-is-error="!form.location.$valid && (form.location.$dirty || form.location.$touched)">
        <label class="fdz-input-required">{{'data-package-management.edit.label.location' | translate}} ({{'global.in' | translate}} {{ $ctrl.selectedLanguage? ($ctrl.selectedLanguage | displayIsoLanguage) : '?'}})</label>
        <input fdz-required md-maxlength="512" ng-model="$ctrl.citationDetails.location" name="location">
        <div ng-if="!form.location.$dirty && !form.location.$touched" class="fdz-input-hint">{{'data-package-management.edit.hints.citation-details.location' | translate}}</div>
        <div ng-messages="form.location.$error" multiple>
          <div ng-message="md-maxlength">{{'data-package-management.error.data-package-attachment-metadata.location.string-size' | translate}}</div>
          <div ng-message="fdz-required">{{'data-package-management.error.data-package-attachment-metadata.location.not-empty' | translate}}</div>
        </div>
      </md-input-container>
    </div>
  </md-card-content>
</md-card>
