<div style="
    position: relative;
    background:rgba(0,0,0,0.5);
    z-index: 100;
    background-image: url('../assets/images/hourglass_FDZ.svg');
    background-repeat:no-repeat;
    background-position:center center;">
    .
</div>
