<md-card class="mb8">
  <md-card-header>
    <md-card-header-text>
      <h2 class="md-title">
        {{ 'analysis-package-management.detail.label.scripts' | translate}}</h2>
    </md-card-header-text>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content>
    <div layout="column"
         layout-gt-sm="column"
         class="ms-flex"
         ng-repeat="script in $ctrl.scripts track by $index">
      <div layout="row"
           layout-gt-sm="row"
           class="ms-flex">
        <md-button class="md-primary md-icon-button"
                   ng-click="$ctrl.deleteScript($index)"
                   style="margin-top: 18px; margin-left: 0px; padding-left: 0px;">
          <md-tooltip md-autohide="true"
                      md-direction="bottom"
                      md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'analysis-package-management.edit.delete-script-tooltip' | translate}}
          </md-tooltip>
          <md-icon md-font-set="material-icons">delete_forever</md-icon>
        </md-button>
        <input hidden
               name="scriptsUuid_{{$index}}"
               ng-model="script.uuid">
        <md-input-container flex="50"
                            class="mr8"
                            md-is-error="!$ctrl.currentForm['scriptsTitleDe_' + $index].$valid && ($ctrl.currentForm['scriptsTitleDe_' + $index].$dirty || $ctrl.currentForm['scriptsTitleDe_' + $index].$touched)">
          <label
            class="fdz-input-required">{{'analysis-package-management.detail.label.title' | translate}}</label>
          <input fdz-required
                 md-no-asterisk
                 name="scriptsTitleDe_{{$index}}"
                 lang="de"
                 md-maxlength="2048"
                 ng-model="script.title.de">
          <div class="fdz-input-hint"
               ng-if="!$ctrl.currentForm['scriptsTitleDe_' + $index].$dirty && !$ctrl.currentForm['scriptsTitleDe_' + $index].$touched">
            {{'analysis-package-management.edit.hints.title.de' | translate}}
          </div>
          <div multiple
               ng-messages="$ctrl.currentForm['scriptsTitleDe_' + $index].$error">
            <div ng-message="fdz-required">
              {{'analysis-package-management.error.analysis-package.title.i18n-string-entire-not-empty' |
            translate}}
            </div>
            <div ng-message="md-maxlength">
              {{'analysis-package-management.error.analysis-package.title.i18n-string-size' | translate}}
            </div>
          </div>
        </md-input-container>
        <md-input-container flex="50"
                            class="mr8"
                            md-is-error="!$ctrl.currentForm['scriptsTitleEn_' + $index].$valid && ($ctrl.currentForm['scriptsTitleEn_' + $index].$dirty || $ctrl.currentForm['scriptsTitleEn_' + $index].$touched)">
          <label
            class="fdz-input-required">{{'analysis-package-management.detail.label.title' | translate}}</label>
          <input fdz-required
                 md-no-asterisk
                 name="scriptsTitleEn_{{$index}}"
                 lang="de"
                 md-maxlength="2048"
                 ng-model="script.title.en">
          <div class="fdz-input-hint"
               ng-if="!$ctrl.currentForm['scriptsTitleEn_' + $index].$dirty && !$ctrl.currentForm['scriptsTitleEn_' + $index].$touched">
            {{'analysis-package-management.edit.hints.title.en' | translate}}
          </div>
          <div multiple
               ng-messages="$ctrl.currentForm['scriptsTitleEn_' + $index].$error">
            <div ng-message="fdz-required">
              {{'analysis-package-management.error.analysis-package.title.i18n-string-entire-not-empty' |
            translate}}
            </div>
            <div ng-message="md-maxlength">
              {{'analysis-package-management.error.analysis-package.title.i18n-string-size' | translate}}
            </div>
          </div>
        </md-input-container>
      </div>
      <div layout="row"
           layout-gt-sm="row"
           class="ms-flex">
        <md-autocomplete required flex="100" class="ms-flex ml28 mr8"
                         md-input-name="scriptsUsedLanguage_{{$index}}"
                         md-floating-label="{{'analysis-package-management.edit.label.script.language' | translate}}"
                         md-require-match="true" md-select-on-match="true"
                         md-match-case-insensitive="true"
                         md-selected-item="$ctrl['selectedLanguage_' + $index]"
                         md-min-length="0"
                         md-search-text="$ctrl['languageSearchText_' + $index]"
                         md-items="item in $ctrl.searchLanguages($ctrl['languageSearchText_' + $index])"
                         md-item-text="item.displayLanguage[$ctrl.currentLanguage]"
                         md-clear-button="true" md-no-cache="true"
                         md-selected-item-change="$ctrl.selectedLanguageChanged($index)"
                         md-is-error="!$ctrl.currentForm['scriptsUsedLanguage_' + $index].$valid && ($ctrl.currentForm['scriptsUsedLanguage_' + $index].$dirty || $ctrl.currentForm['scriptsUsedLanguage_' + $index].$touched)">
          <md-item-template>
          <span class="md-title"
                md-highlight-flags="ig"
                md-highlight-text="$ctrl['languageSearchText_' + $parent.$index]"
                style="font-size: 14px;">{{item.displayLanguage[$ctrl.currentLanguage]}}</span>
          </md-item-template>
          <md-not-found>
            {{'analysis-package-management.error.analysis-package.language.not-found' | translate}}
          </md-not-found>
          <div
            ng-if="!$ctrl.currentForm['scriptsUsedLanguage_' + $parent.$index].$dirty && !$ctrl.currentForm['scriptsUsedLanguage_' + $parent.$index].$touched"
            class="fdz-input-hint">
            {{'analysis-package-management.edit.hints.script.language' | translate}}
          </div>
          <div
            ng-messages="$ctrl.currentForm['scriptsUsedLanguage_' + $parent.$index].$error"
            multiple>
            <div ng-message="required">
              {{'analysis-package-management.error.analysis-package.language.not-null' | translate}}
            </div>
            <div ng-message="md-require-match">
              {{'analysis-package-management.error.analysis-package.language.not-valid' | translate}}
            </div>
          </div>
        </md-autocomplete>
        <md-autocomplete flex="50" class="ms-flex mr8"
                         ng-required="true"
                         md-input-name="scriptsSoftwarePackage_{{$index}}"
                         md-is-error="!$ctrl.currentForm['scriptsSoftwarePackage_' + $index].$valid && ($ctrl.currentForm['scriptsSoftwarePackage_ ' + $index].$dirty || $ctrl.currentForm['scriptsSoftwarePackage_ ' + $index].$touched)"
                         md-floating-label="{{'analysis-package-management.edit.label.script.software-package' | translate}}"
                         md-require-match="true" md-select-on-match="true"
                         md-match-case-insensitive="true"
                         md-selected-item="$ctrl['selectedSoftwarePackage_' + $index]"
                         md-min-length="0"
                         md-search-text="$ctrl['softwarePackageSearchText_' + $index]"
                         md-items="item in $ctrl.searchSoftwarePackages($ctrl['softwarePackageSearchText_' + $index])"
                         md-item-text="item"
                         md-clear-button="true" md-no-cache="true"
                         md-selected-item-change="$ctrl.selectedSoftwarePackageChanged($index)">
          <md-item-template>
          <span class="md-title"
                md-highlight-flags="ig"
                md-highlight-text="$ctrl['softwarePackageSearchText_' + $parent.$index]"
                style="font-size: 14px;">{{item}}</span>
          </md-item-template>
          <md-not-found>
            {{'analysis-package-management.error.analysis-package.software-package.not-found' | translate}}
          </md-not-found>
          <div
            class="fdz-input-hint"
            ng-if="!$ctrl.currentForm['scriptsSoftwarePackage_' + $parent.$index].$dirty && !$ctrl.currentForm['scriptsSoftwarePackage_' + $parent.$index].$touched">
            {{'analysis-package-management.edit.hints.script.software-package' | translate}}
          </div>
          <div multiple
               ng-messages="$ctrl.currentForm['scriptsSoftwarePackage_' + $parent.$index].$error">
            <div ng-message="required">
              {{'analysis-package-management.error.analysis-package.software-package.not-null' | translate}}
            </div>
            <div ng-message="md-require-match">
              {{'analysis-package-management.error.analysis-package.software-package.not-valid' | translate}}
            </div>
          </div>
        </md-autocomplete>
      </div>
      <div layout="row"
           layout-gt-sm="row"
           class="ms-flex">
        <md-input-container flex="50"
                            class="mr8 ml28"
                            md-is-error="!$ctrl.currentForm['scriptsSoftwarePackageVersion_' + $index].$valid && ($ctrl.currentForm['scriptsSoftwarePackageVersion_' + $index].$dirty || $ctrl.currentForm['scriptsSoftwarePackageVersion_' + $index].$touched)">
          <label
            class="fdz-input-required">{{'analysis-package-management.detail.label.version' | translate}}</label>
          <input fdz-required
                 md-no-asterisk
                 name="scriptsSoftwarePackageVersion_{{$index}}"
                 lang="de"
                 md-maxlength="32"
                 ng-model="script.softwarePackageVersion">
          <div class="fdz-input-hint"
               ng-if="!$ctrl.currentForm['scriptsSoftwarePackageVersion_' + $index].$dirty && !$ctrl.currentForm['scriptsSoftwarePackageVersion_' + $index].$touched">
            {{'analysis-package-management.edit.hints.script.version' | translate}}
          </div>
          <div multiple
               ng-messages="$ctrl.currentForm['scriptsSoftwarePackageVersion_' + $index].$error">
            <div ng-message="fdz-required">
              {{'analysis-package-management.error.analysis-package.software-package-version.string-entire-not-empty' |
            translate}}
            </div>
            <div ng-message="md-maxlength">
              {{'analysis-package-management.error.analysis-package.software-package-version.string-size' | translate}}
            </div>
          </div>
        </md-input-container>
        <div flex="50"
             class="fdz-button-wrapper mr8"
             style="align-items: center;">
            <md-button class="md-primary md-raised mr8"
                     ng-click="$ctrl.addScriptAttachment($index, $event)"
                     ng-disabled="!$ctrl.createMode && $ctrl.attachments.length != 0"
                     style="max-height: 36px;">
            <span>{{'analysis-package-management.detail.label.script-attachments.file' | translate}}</span>
            <md-tooltip ng-if="!$ctrl.createMode"
                        md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'analysis-package-management.detail.script-attachments.add-attachment-tooltip' | translate}}
            </md-tooltip>
            <md-tooltip ng-if="$ctrl.createMode"
                        md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'analysis-package-management.detail.script-attachments.save-analysis-package-before-adding-attachment' | translate}}
            </md-tooltip>
            <md-tooltip ng-if="$ctrl.attachments.length != 0"
                        md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'analysis-package-management.detail.script-attachments.length-attachment-tooltip' | translate}}
            </md-tooltip>
          </md-button>
        </div>
      </div>
      <div ng-if="!$ctrl.createMode && $ctrl.scriptAttachments && $ctrl.scriptAttachments.length > 0"
           class="ml28 mr8"
           style="margin: 0 28px;">
        <h2 class="md-title ng-binding pb16">
          {{'analysis-package-management.detail.script-attachments.table-title' | translate}}</h2>

        <table fdz-table>
          <thead>
          <tr>
            <th style="min-height: 40px;">
              &nbsp;
            </th>
            <th>
              {{'analysis-package-management.detail.label.attachments.file' | translate
              }}
              <md-tooltip hide-gt-xs md-direction="right">
                {{'analysis-package-management.detail.label.attachments.file' | translate
                }}
              </md-tooltip>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr
            ng-class="{'fdz-selected-table-row': $index === ctrl.currentAttachmentIndex}"
            ng-init="translationParams = {filename: row.fileName}"
            ng-repeat="row in $ctrl.scriptAttachments | filter: { scriptUuid: script.uuid }">
            <td class="fdz-table-nowrap ma0 pa0" style="width: 40px;">
              <md-button class="md-primary md-icon-button ma0"
                         ng-click="$ctrl.deleteScriptAttachment(row, $index)">
                <md-tooltip md-autohide="true" md-direction="bottom"
                            md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                  {{'analysis-package-management.detail.attachments.delete-attachment-tooltip' | translate:translationParams
                  }}
                </md-tooltip>
                <md-icon md-font-set="material-icons">delete_forever</md-icon>
              </md-button>
            </td>
            <td class="nowrap"><a ng-href="{{row.id}}"
                                  target="_blank">{{row.fileName}}
              <md-tooltip md-autohide="true"
                          md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'global.tooltips.files.download' | translate: {filename: row.fileName}
                }}
              </md-tooltip>
            </a>&nbsp;
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </md-card-content>
  <md-card-actions layout="row" layout-align="begin center"
                   style="margin-top: 0px; margin-bottom: 12px;">
    <md-button class="md-primary md-raised md-icon-button ml6"
               ng-click="$ctrl.addScript()">
      <md-tooltip md-autohide="true"
                  md-direction="bottom"
                  md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
        {{'analysis-package-management.edit.add-script-tooltip' | translate}}
      </md-tooltip>
      <md-icon md-font-set="material-icons">add</md-icon>
    </md-button>
<!--    <md-button class="md-primary md-raised md-icon-button"-->
<!--               id="move-link-up-button"-->
<!--               ng-click="$ctrl.moveCurrentScriptUp()"-->
<!--               ng-disabled="$ctrl.currentScriptIndex == null || $ctrl.currentScriptIndex === 0">-->
<!--      <md-tooltip md-autohide="true"-->
<!--                  md-direction="bottom"-->
<!--                  md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">-->
<!--        {{'analysis-package-management.edit.move-script-up-tooltip' | translate}}-->
<!--      </md-tooltip>-->
<!--      <md-icon md-font-set="material-icons">keyboard_arrow_up</md-icon>-->
<!--    </md-button>-->
<!--    <md-button class="md-primary md-raised md-icon-button"-->
<!--               id="move-link-down-button"-->
<!--               ng-click="$ctrl.moveCurrentScriptDown()"-->
<!--               ng-disabled="$ctrl.currentScriptIndex == null || $ctrl.currentScriptIndex === $ctrl.analysisPackage.additionalScripts.length - 1">-->
<!--      <md-tooltip md-autohide="true"-->
<!--                  md-direction="bottom"-->
<!--                  md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">-->
<!--        {{'analysis-package-management.edit.move-script-down-tooltip' | translate}}-->
<!--      </md-tooltip>-->
<!--      <md-icon md-font-set="material-icons">keyboard_arrow_down</md-icon>-->
<!--    </md-button>-->
  </md-card-actions>
</md-card>
