<md-card class="mb8">
  <md-card-header>
    <md-card-header-text>
      <h2 class="md-title">
        {{ 'analysis-package-management.detail.label.scripts' | translate}}</h2>
    </md-card-header-text>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content>
    <div layout="column"
         layout-gt-sm="column"
         class="ms-flex"
         ng-repeat="script in $ctrl.scripts track by $index">
      <div layout="row"
           layout-gt-sm="row"
           class="ms-flex">
        <md-button class="md-primary md-icon-button"
                   ng-click="$ctrl.deleteScript($index)"
                   style="margin-top: 18px; margin-left: 0px; padding-left: 0px;">
          <md-tooltip md-autohide="true"
                      md-direction="bottom"
                      md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'analysis-package-management.edit.delete-script-tooltip' | translate}}
          </md-tooltip>
          <md-icon md-font-set="material-icons">delete_forever</md-icon>
        </md-button>
        <input hidden
               name="scriptsUuid_{{$index}}"
               ng-model="script.uuid">
        <md-input-container flex="50"
                            class="mr8"
                            md-is-error="!$ctrl.currentForm['scriptsTitleDe_' + $index].$valid && ($ctrl.currentForm['scriptsTitleDe_' + $index].$dirty || $ctrl.currentForm['scriptsTitleDe_' + $index].$touched)">
          <label
            class="fdz-input-required">{{'analysis-package-management.detail.label.title' | translate}}</label>
          <input fdz-required
                 md-no-asterisk
                 name="scriptsTitleDe_{{$index}}"
                 lang="de"
                 md-maxlength="2048"
                 ng-model="script.title.de">
          <div class="fdz-input-hint"
               ng-if="!$ctrl.currentForm['scriptsTitleDe_' + $index].$dirty && !$ctrl.currentForm['scriptsTitleDe_' + $index].$touched">
            {{'analysis-package-management.edit.hints.title.de' | translate}}
          </div>
          <div multiple
               ng-messages="$ctrl.currentForm['scriptsTitleDe_' + $index].$error">
            <div ng-message="fdz-required">
              {{'analysis-package-management.error.analysis-package.title.i18n-string-entire-not-empty' |
            translate}}
            </div>
            <div ng-message="md-maxlength">
              {{'analysis-package-management.error.analysis-package.title.i18n-string-size' | translate}}
            </div>
          </div>
        </md-input-container>
        <md-input-container flex="50"
                            class="mr8"
                            md-is-error="!$ctrl.currentForm['scriptsTitleEn_' + $index].$valid && ($ctrl.currentForm['scriptsTitleEn_' + $index].$dirty || $ctrl.currentForm['scriptsTitleEn_' + $index].$touched)">
          <label
            class="fdz-input-required">{{'analysis-package-management.detail.label.title' | translate}}</label>
          <input fdz-required
                 md-no-asterisk
                 name="scriptsTitleEn_{{$index}}"
                 lang="de"
                 md-maxlength="2048"
                 ng-model="script.title.en">
          <div class="fdz-input-hint"
               ng-if="!$ctrl.currentForm['scriptsTitleEn_' + $index].$dirty && !$ctrl.currentForm['scriptsTitleEn_' + $index].$touched">
            {{'analysis-package-management.edit.hints.title.en' | translate}}
          </div>
          <div multiple
               ng-messages="$ctrl.currentForm['scriptsTitleEn_' + $index].$error">
            <div ng-message="fdz-required">
              {{'analysis-package-management.error.analysis-package.title.i18n-string-entire-not-empty' |
            translate}}
            </div>
            <div ng-message="md-maxlength">
              {{'analysis-package-management.error.analysis-package.title.i18n-string-size' | translate}}
            </div>
          </div>
        </md-input-container>
      </div>
      <div layout="row"
           layout-gt-sm="row"
           class="ms-flex">
        <md-autocomplete required flex="100" class="ms-flex ml28 mr8"
                         md-input-name="scriptsUsedLanguage_{{$index}}"
                         md-floating-label="{{'analysis-package-management.edit.label.script.language' | translate}}"
                         md-require-match="true" md-select-on-match="true"
                         md-match-case-insensitive="true"
                         md-selected-item="$ctrl['selectedLanguage_' + $index]"
                         md-min-length="0"
                         md-search-text="$ctrl['languageSearchText_' + $index]"
                         md-items="item in $ctrl.searchLanguages($ctrl['languageSearchText_' + $index])"
                         md-item-text="item.displayLanguage[$ctrl.currentLanguage]"
                         md-clear-button="true" md-no-cache="true"
                         md-selected-item-change="$ctrl.selectedLanguageChanged($index)"
                         md-is-error="!$ctrl.currentForm['scriptsUsedLanguage_' + $index].$valid && ($ctrl.currentForm['scriptsUsedLanguage_' + $index].$dirty || $ctrl.currentForm['scriptsUsedLanguage_' + $index].$touched)">
          <md-item-template>
          <span class="md-title"
                md-highlight-flags="ig"
                md-highlight-text="$ctrl['languageSearchText_' + $parent.$index]"
                style="font-size: 14px;">{{item.displayLanguage[$ctrl.currentLanguage]}}</span>
          </md-item-template>
          <md-not-found>
            {{'analysis-package-management.error.analysis-package.language.not-found' | translate}}
          </md-not-found>
          <div
            ng-if="!$ctrl.currentForm['scriptsUsedLanguage_' + $parent.$index].$dirty && !$ctrl.currentForm['scriptsUsedLanguage_' + $parent.$index].$touched"
            class="fdz-input-hint">
            {{'analysis-package-management.edit.hints.script.language' | translate}}
          </div>
          <div
            ng-messages="$ctrl.currentForm['scriptsUsedLanguage_' + $parent.$index].$error"
            multiple>
            <div ng-message="required">
              {{'analysis-package-management.error.analysis-package.language.not-null' | translate}}
            </div>
            <div ng-message="md-require-match">
              {{'analysis-package-management.error.analysis-package.language.not-valid' | translate}}
            </div>
          </div>
        </md-autocomplete>
        <md-autocomplete flex="50" class="ms-flex mr8"
                         ng-required="true"
                         md-input-name="scriptsSoftwarePackage_{{$index}}"
                         md-is-error="!$ctrl.currentForm['scriptsSoftwarePackage_' + $index].$valid && ($ctrl.currentForm['scriptsSoftwarePackage_ ' + $index].$dirty || $ctrl.currentForm['scriptsSoftwarePackage_ ' + $index].$touched)"
                         md-floating-label="{{'analysis-package-management.edit.label.script.software-package' | translate}}"
                         md-require-match="true" md-select-on-match="true"
                         md-match-case-insensitive="true"
                         md-selected-item="$ctrl['selectedSoftwarePackage_' + $index]"
                         md-min-length="0"
                         md-search-text="$ctrl['softwarePackageSearchText_' + $index]"
                         md-items="item in $ctrl.searchSoftwarePackages($ctrl['softwarePackageSearchText_' + $index])"
                         md-item-text="item"
                         md-clear-button="true" md-no-cache="true"
                         md-selected-item-change="$ctrl.selectedSoftwarePackageChanged($index)">
          <md-item-template>
          <span class="md-title"
                md-highlight-flags="ig"
                md-highlight-text="$ctrl['softwarePackageSearchText_' + $parent.$index]"
                style="font-size: 14px;">{{item}}</span>
          </md-item-template>
          <md-not-found>
            {{'analysis-package-management.error.analysis-package.software-package.not-found' | translate}}
          </md-not-found>
          <div
            class="fdz-input-hint"
            ng-if="!$ctrl.currentForm['scriptsSoftwarePackage_' + $parent.$index].$dirty && !$ctrl.currentForm['scriptsSoftwarePackage_' + $parent.$index].$touched">
            {{'analysis-package-management.edit.hints.script.software-package' | translate}}
          </div>
          <div multiple
               ng-messages="$ctrl.currentForm['scriptsSoftwarePackage_' + $parent.$index].$error">
            <div ng-message="required">
              {{'analysis-package-management.error.analysis-package.software-package.not-null' | translate}}
            </div>
            <div ng-message="md-require-match">
              {{'analysis-package-management.error.analysis-package.software-package.not-valid' | translate}}
            </div>
          </div>
        </md-autocomplete>
      </div>
      <div layout="row"
           layout-gt-sm="row"
           class="ms-flex">
        <md-input-container flex="50"
                            class="mr8 ml28"
                            md-is-error="!$ctrl.currentForm['scriptsSoftwarePackageVersion_' + $index].$valid && ($ctrl.currentForm['scriptsSoftwarePackageVersion_' + $index].$dirty || $ctrl.currentForm['scriptsSoftwarePackageVersion_' + $index].$touched)">
          <label
            class="fdz-input-required">{{'analysis-package-management.detail.label.version' | translate}}</label>
          <input fdz-required
                 md-no-asterisk
                 name="scriptsSoftwarePackageVersion_{{$index}}"
                 lang="de"
                 md-maxlength="32"
                 ng-model="script.softwarePackageVersion">
          <div class="fdz-input-hint"
               ng-if="!$ctrl.currentForm['scriptsSoftwarePackageVersion_' + $index].$dirty && !$ctrl.currentForm['scriptsSoftwarePackageVersion_' + $index].$touched">
            {{'analysis-package-management.edit.hints.script.version' | translate}}
          </div>
          <div multiple
               ng-messages="$ctrl.currentForm['scriptsSoftwarePackageVersion_' + $index].$error">
            <div ng-message="fdz-required">
              {{'analysis-package-management.error.analysis-package.software-package-version.string-entire-not-empty' |
            translate}}
            </div>
            <div ng-message="md-maxlength">
              {{'analysis-package-management.error.analysis-package.software-package-version.string-size' | translate}}
            </div>
          </div>
        </md-input-container>

        <md-input-container ng-if="!$ctrl.createMode"
                            flex="50"
                            class="mr8"
                            ngf-drop="$ctrl.upload($file, $index)" ngf-drag-over-class="{accept:'fdz-file-drop-accept', delay:0}" ngf-select="$ctrl.upload($file, $index)"
                            md-is-error="!$ctrl.currentForm.filename.$valid && ($ctrl.currentForm.filename.$dirty || $ctrl.currentForm.filename.$touched)">
          <label>{{'analysis-package-management.detail.label.script-attachments.file' | translate
            }}</label>
          <input disabled
                 ng-pattern="/^[_A-Za-z0-9äöüÄÖÜß\-.]*$/"
                 ng-model="$ctrl.scriptAttachmentMetadata[$index].fileName"
                 name="filename" class="pointer"
                 style="border-bottom: 1px rgba(0,0,0,0.12) solid; background-image: none;">
          <div
            ng-if="!$ctrl.currentForm.filename.$dirty && !$ctrl.currentForm.filename.$touched"
            class="fdz-input-hint">
            {{ctrl.labels.hints.file.key | translate:ctrl.labels.hints.file.params}}
          </div>
          <div ng-messages="$ctrl.currentForm.filename.$error" multiple>
            <div ng-message="required">
              {{'analysis-package-management.error.analysis-package.attachment.error.filename.not-empty' | translate}}
            </div>
            <div ng-message="unique">
              {{'analysis-package-management.error.analysis-package.attachment.error.filename.not-unique' | translate}}
            </div>
            <div ng-message="valid">
              {{'analysis-package-management.error.analysis-package.attachment.error.filename.not-valid' | translate}}
            </div>
            <div ng-message="pattern">
              {{'analysis-package-management.error.analysis-package.attachment.error.filename.pattern' | translate}}
            </div>
          </div>
        </md-input-container>
        <div ng-if="$ctrl.createMode"
             flex="50"
             class="mr8"></div>
      </div>

    </div>
  </md-card-content>
  <md-card-actions layout="row" layout-align="begin center"
                   style="margin-top: 0px; margin-bottom: 12px;">
    <md-button class="md-primary md-raised md-icon-button ml6"
               ng-click="$ctrl.addScript()">
      <md-tooltip md-autohide="true"
                  md-direction="bottom"
                  md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
        {{'analysis-package-management.edit.add-script-tooltip' | translate}}
      </md-tooltip>
      <md-icon md-font-set="material-icons">add</md-icon>
    </md-button>
    <md-button class="md-primary md-raised md-icon-button"
               id="move-link-up-button"
               ng-click="$ctrl.moveCurrentScriptUp()"
               ng-disabled="$ctrl.currentScriptIndex == null || $ctrl.currentScriptIndex === 0">
      <md-tooltip md-autohide="true"
                  md-direction="bottom"
                  md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
        {{'analysis-package-management.edit.move-script-up-tooltip' | translate}}
      </md-tooltip>
      <md-icon md-font-set="material-icons">keyboard_arrow_up</md-icon>
    </md-button>
    <md-button class="md-primary md-raised md-icon-button"
               id="move-link-down-button"
               ng-click="$ctrl.moveCurrentScriptDown()"
               ng-disabled="$ctrl.currentScriptIndex == null || $ctrl.currentScriptIndex === $ctrl.analysisPackage.additionalScripts.length - 1">
      <md-tooltip md-autohide="true"
                  md-direction="bottom"
                  md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
        {{'analysis-package-management.edit.move-script-down-tooltip' | translate}}
      </md-tooltip>
      <md-icon md-font-set="material-icons">keyboard_arrow_down</md-icon>
    </md-button>
  </md-card-actions>
</md-card>
