<div ng-if="ctrl.instrument.id">
  <previous-search-result bowser="bowser" current-language="currentLanguage"></previous-search-result>
  <next-search-result bowser="bowser" current-language="currentLanguage"></next-search-result>
  <div class="fdz-cc" ng-if="!isAuthenticated()">
    <div>
      <div class="fdz-detail">
        <div class="fdz-detail__header">
          <h1 class="md-headline" display-i18n-string="ctrl.instrument.title" fdz-hyphenate></h1>
        </div>
        <fdz-detail
          collapsed="false"
          lang="currentLanguage"
          options="ctrl.instrument"
          template-url="scripts/common/detail/instrument/dp-detail.html.tmpl"></fdz-detail>
        <fdz-related-objects
          collapsed="false"
          lang="currentLanguage"
          options="ctrl.counts"
          template-url="scripts/common/detail/common/dp-related-objects.html.tmpl"></fdz-related-objects>
        <fdz-detail
          collapsed="false"
          lang="currentLanguage"
          options="ctrl.attachments"
          template-url="scripts/common/detail/instrument/dp-attachments.html.tmpl"></fdz-detail>
      </div>
    </div>
  </div>

  <div class="fdz-cc">
    <div layout="row" layout-margin style="margin-bottom: 0px;">
      <h1 class="md-headline fdz-headline">
        <span display-i18n-string="ctrl.instrument.description" fdz-hyphenate></span>
        <span class="label label-as-badge label-default">{{ctrl.instrument.masterId}}</span>
      </h1>
      <json-content-dialog class="mb0" content="ctrl.instrument"
                           exclude-fields="ctrl.jsonExcludes" header-title="ctrl.instrument.description"
                           ng-if="ctrl.enableJsonView"></json-content-dialog>
    </div>
    <div layout="column" layout-gt-sm="row">
      <div flex-gt-sm="50" layout="column">
        <md-card flex="auto">
          <md-card-header>
            <md-card-header-text>
              <h2 class="md-title">{{'global.cards.details' | translate }}</h2>
            </md-card-header-text>
          </md-card-header>
          <md-divider></md-divider>
          <md-card-content>
            <div class="fdz-add-bottom-margin" ng-if="ctrl.instrument.title">
              <span style="font-weight: bold;">{{'instrument-management.detail.label.title' | translate }}:</span>
              <span display-i18n-string="ctrl.instrument.title" fdz-hyphenate></span>
            </div>
            <div class="fdz-add-bottom-margin" ng-if="ctrl.instrument.subtitle">
              <span style="font-weight: bold;">{{'instrument-management.detail.label.subtitle' | translate }}:</span>
              <span class="fdz-multiline-property" display-i18n-string="ctrl.instrument.subtitle" fdz-hyphenate></span>
            </div>
            <div class="fdz-add-bottom-margin" ng-if="ctrl.instrument.type">
              <span style="font-weight: bold;">{{'instrument-management.detail.label.type' | translate }}:</span>
              <span>{{ctrl.instrument.type}}</span>
            </div>
            <div class="fdz-add-bottom-margin fdz-text-block" ng-if="ctrl.instrument.annotations">
              <span style="font-weight: bold;">{{'instrument-management.detail.label.annotations' | translate }}:</span>
              <span class="fdz-multiline-property" display-i18n-string="ctrl.instrument.annotations"
                    fdz-hyphenate></span>
            </div>
          </md-card-content>
        </md-card>
      </div>
      <div flex-gt-sm="50" layout="column">
        <md-card flex="auto"
                 ng-class="{'fdz-reset-left-margin': $mdMedia('gt-sm'), 'fdz-reset-top-margin': $mdMedia('sm') || $mdMedia('xs')}">
          <md-card-header>
            <md-card-header-text>
              <h2 class="md-title">{{'global.cards.related-objects' | translate }}</h2>
            </md-card-header-text>
          </md-card-header>
          <md-divider></md-divider>
          <md-card-content>
            <div layout="row" style="margin-bottom: 0.5em; width: 100%;">
              <div class="fdz-truncate-string" flex ng-if="!ctrl.study">
                <md-icon md-svg-src="/assets/images/icons/study.svg"></md-icon>
                {{'study-management.detail.label.study' | translate }}: {{'global.messages.error.unavailable' |
                translate}}
              </div>
              <div class="fdz-truncate-string" flex ng-if="ctrl.study">
                <a
                  ui-sref="studyDetail({id: ctrl.study.masterId, version: ctrl.instrument.shadow?ctrl.instrument.release.version:''})">
                  <md-icon md-svg-src="/assets/images/icons/study.svg"></md-icon>
                  {{'study-management.detail.label.study' | translate }}:
                  <span display-i18n-string="ctrl.study.title"></span>
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'instrument-management.detail.tooltips.studies.one' | translate}}
                  </md-tooltip>
                </a>
              </div>
            </div>
            <div layout="row" style="margin-bottom: 0.5em; width: 100%;">
              <div class="fdz-truncate-string" flex ng-if="ctrl.surveyCount == 1 && !ctrl.survey">
                <md-icon md-svg-src="/assets/images/icons/survey.svg"></md-icon>
                {{'survey-management.detail.label.surveys' | translate }}: {{'global.messages.error.unavailable' |
                translate}}
              </div>
              <div class="fdz-truncate-string" flex ng-if="ctrl.surveyCount == 1 && ctrl.survey">
                <a
                  ui-sref="surveyDetail({'id': ctrl.survey.masterId, version: ctrl.instrument.shadow?ctrl.instrument.release.version:''})">
                  <md-icon md-svg-src="/assets/images/icons/survey.svg"></md-icon>
                  {{'survey-management.detail.label.survey' | translate }}:
                  <span display-i18n-string="ctrl.survey.title"></span>
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'instrument-management.detail.tooltips.surveys.one' | translate}}
                  </md-tooltip>
                </a>
              </div>
              <div class="fdz-truncate-string" flex ng-if="ctrl.surveyCount > 1">
                <a
                  ui-sref="search({'type': 'surveys', 'instrument':ctrl.instrument.id, 'study': ctrl.instrument.studyId})">
                  <md-icon md-svg-src="/assets/images/icons/survey.svg"></md-icon>
                  {{'survey-management.detail.label.surveys' | translate }}: ({{ctrl.surveyCount}})
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'instrument-management.detail.tooltips.surveys.many' | translate}}
                  </md-tooltip>
                </a>
              </div>
            </div>
            <div layout="row" style="margin-bottom: 0.5em; width: 100%;">
              <div class="fdz-truncate-string" flex ng-if="ctrl.questionCount == 0">
                <md-icon md-svg-src="/assets/images/icons/question.svg"></md-icon>
                {{'question-management.detail.label.questions' | translate }}: {{'global.messages.error.undocumented' |
                translate}}
              </div>
              <div class="fdz-truncate-string" flex ng-if="ctrl.questionCount == 1 && ctrl.question">
                <a
                  ui-sref="questionDetail({'id': ctrl.question.masterId, version: ctrl.instrument.shadow?ctrl.instrument.release.version:''})">
                  <md-icon md-svg-src="/assets/images/icons/question.svg"></md-icon>
                  {{'question-management.detail.label.question' | translate }}:
                  <span display-i18n-string="ctrl.question.questionText"></span>
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'instrument-management.detail.tooltips.questions.one' | translate}}
                  </md-tooltip>
                </a>
              </div>
              <div class="fdz-truncate-string" flex ng-if="ctrl.questionCount > 1">
                <a
                  ui-sref="search({'instrument': ctrl.instrument.id, 'study': ctrl.instrument.studyId, 'type': 'questions'})">
                  <md-icon md-svg-src="/assets/images/icons/question.svg"></md-icon>
                  {{'question-management.detail.label.questions' | translate }}: ({{ctrl.questionCount}})
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'instrument-management.detail.tooltips.questions.many' | translate}}
                  </md-tooltip>
                </a>
              </div>
            </div>
            <div layout="row" style="margin-bottom: 0.5em; width: 100%;">
              <div class="fdz-truncate-string" flex ng-if="ctrl.publicationCount == 0">
                <md-icon md-svg-src="/assets/images/icons/related-publication.svg"></md-icon>
                {{'related-publication-management.detail.label.publications' | translate }}:
                {{'global.messages.error.undocumented' | translate}}
              </div>
              <div class="fdz-truncate-string" flex ng-if="ctrl.publicationCount == 1">
                <a ui-sref="relatedPublicationDetail({'id': ctrl.relatedPublication.id})">
                  <md-icon md-svg-src="/assets/images/icons/related-publication.svg"></md-icon>
                  {{'related-publication-management.detail.label.publication' | translate }}:
                  {{ctrl.relatedPublication.title}}
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'instrument-management.detail.tooltips.publications.one' | translate}}
                  </md-tooltip>
                </a>
              </div>
              <div class="fdz-truncate-string" flex ng-if="ctrl.publicationCount > 1">
                <a
                  ui-sref="search({'type': 'related_publications', 'instrument': ctrl.instrument.id, 'study': ctrl.instrument.studyId})">
                  <md-icon md-svg-src="/assets/images/icons/related-publication.svg"></md-icon>
                  {{'related-publication-management.detail.label.publications' | translate }}:
                  ({{ctrl.publicationCount}})
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'instrument-management.detail.tooltips.publications.many' | translate}}
                  </md-tooltip>
                </a>
              </div>
            </div>
            <div layout="row" style="margin-bottom: 0.5em; width: 100%;">
              <div class="fdz-truncate-string" flex ng-if="ctrl.conceptsCount == 0">
                <md-icon md-svg-src="/assets/images/icons/concept.svg"></md-icon>
                {{'concept-management.detail.label.concepts' | translate }}: {{'global.messages.error.undocumented' |
                translate}}
              </div>
              <div class="fdz-truncate-string" flex ng-if="ctrl.conceptsCount == 1">
                <a ui-sref="conceptDetail({'id': ctrl.concept.id})">
                  <md-icon md-svg-src="/assets/images/icons/concept.svg"></md-icon>
                  {{'concept-management.detail.label.concept' | translate }}:
                  <span display-i18n-string="ctrl.concept.title"></span>
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'instrument-management.detail.tooltips.concepts.one' | translate}}
                  </md-tooltip>
                </a>
              </div>
              <div class="fdz-truncate-string" flex ng-if="ctrl.conceptsCount > 1">
                <a
                  ui-sref="search({'type': 'concepts', 'instrument':ctrl.instrument.id, 'study': ctrl.instrument.studyId})">
                  <md-icon md-svg-src="/assets/images/icons/concept.svg"></md-icon>
                  {{'concept-management.detail.label.concepts' | translate }}: ({{ctrl.conceptsCount}})
                  <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'instrument-management.detail.tooltips.concepts.many' | translate}}
                  </md-tooltip>
                </a>
              </div>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </div>
    <div layout="row">
      <md-card class="fdz-reset-top-margin" flex ng-if="ctrl.attachments">
        <md-card-header layout-align="center center">
          <md-card-header-text>
            <h2 class="md-title">{{'instrument-management.detail.attachments.table-title' | translate | fdzHyphenate
              }}</h2>
          </md-card-header-text>
        </md-card-header>
        <table fdz-table>
          <thead>
          <tr>
            <th>{{'instrument-management.detail.label.attachments.type' | translate }}
              <md-tooltip hide-gt-xs md-direction="right">
                {{'instrument-management.detail.label.attachments.type' | translate }}
              </md-tooltip>
            </th>
            <th class="fdz-table-half-absorbing-column">{{'instrument-management.detail.label.attachments.description' |
              translate }}
              <md-tooltip hide-gt-xs md-direction="right">
                {{'instrument-management.detail.label.attachments.description' | translate }}
              </md-tooltip>
            </th>
            <th>{{'instrument-management.detail.label.attachments.language' | translate }}
              <md-tooltip hide-gt-xs md-direction="right">
                {{'instrument-management.detail.label.attachments.language' | translate }}
              </md-tooltip>
            </th>
            <th>{{'instrument-management.detail.label.attachments.file' | translate }}
              <md-tooltip hide-gt-xs md-direction="right">
                {{'instrument-management.detail.label.attachments.file' | translate }}
              </md-tooltip>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="row in ctrl.attachments">
            <td display-i18n-string="row.type"></td>
            <td class="fdz-text-block" display-i18n-string="row.description" fdz-hyphenate></td>
            <td>{{row.language | displayIsoLanguage: currentLanguage}}&nbsp;</td>
            <td style="white-space: nowrap;"><a ng-href="{{row.id}}" target="_blank">{{row.fileName}}
              <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'global.tooltips.files.download' | translate: {filename: row.fileName} }}
              </md-tooltip>
            </a>&nbsp;
            </td>
          </tr>
          </tbody>
        </table>
      </md-card>
    </div>
  </div>
  <div class="fdz-fab-button-container" layout="column">
    <md-button class="md-fab md-raised md-accent" data-has-any-authority="ROLE_PUBLISHER, ROLE_DATA_PROVIDER"
               ng-click="ctrl.instrumentEdit()" ng-if="!ctrl.projectIsCurrentlyReleased">
      <md-tooltip md-autohide="true" md-direction="left" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
        {{'search-management.buttons.edit-instrument-tooltip' | translate}}
      </md-tooltip>
      <md-icon md-font-set="material-icons">mode_edit</md-icon>
    </md-button>
    <md-button class="md-fab md-raised md-accent" ng-click="ctrl.addToShoppingCart($event)"
               ng-if="!ctrl.isAuthenticated() || ctrl.hasAuthority('ROLE_USER')">
      <md-tooltip md-autohide="true" md-direction="left" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
        {{'shopping-cart.buttons.add-study-tooltip' | translate}}
      </md-tooltip>
      <md-icon md-font-set="material-icons">add_shopping_cart</md-icon>
    </md-button>
  </div>
</div>
