<div ng-if="ctrl.instrument.$resolved">
    <md-card>
        <md-card-header>
            <md-card-header-text>
                <h1 class="md-headline">{{ctrl.intstrument.title[currentLanguage]}}</h1>
            </md-card-header-text>
        </md-card-header>
        <md-card-content style="padding-top: 0px;" layout="column">
            
        </md-card-content>
    </md-card>
</div>
