<div>
    <h2 translate="metadatamanagementApp.fdzProject.home.title">FdzProjects</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="fdzProject.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="metadatamanagementApp.fdzProject.home.createLabel">Create a new FdzProject</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="name"><span translate="metadatamanagementApp.fdzProject.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sufDoi"><span translate="metadatamanagementApp.fdzProject.sufDoi">SufDoi</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cufDoi"><span translate="metadatamanagementApp.fdzProject.cufDoi">CufDoi</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fdzProject in fdzProjects track by fdzProject.name">
                    <td><a ui-sref="fdzProject.detail({name:fdzProject.name})">{{fdzProject.name}}</a></td>
                    <td>{{fdzProject.sufDoi}}</td>
                    <td>{{fdzProject.cufDoi}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="fdzProject.detail({name:fdzProject.name})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="fdzProject.edit({name:fdzProject.name})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="fdzProject.delete({name:fdzProject.name})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
