<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:include="common/head::head">
</head>
<body class="body-with-jumbotron">
	<header>
		<div th:include="common/navbar::navbar"></div>
		<div
			th:include="common/jumbotron::jumbotron(title=#{welcome.title},subtitle=#{welcome.subtitle})"></div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-2" style="padding-top: 25px;">
				<a
					th:href="'http://www.dzhw.eu/' + ${#locale.language.equals('en')?'en':''}">
					<img th:src="@{'/images/DZHW_Logo.svg'}" th:title="#{logo.dzhw}"
					th:alt="#{logo.dzhw}" class="img-responsive center-block" style="max-height: 110px; max-width: 262px;" />
				</a>
			</div>
			<div class="col-md-4">
				<a 
					th:href="'http://www.bmbf.de/' + ${#locale.language.equals('en')?'en':''}">
					<img
					th:src="@{'/images/BMBF_Logo_L_' + ${#locale.language} + '.png'}"
					th:title="#{logo.bmbf}" th:alt="#{logo.bmbf}"
					class="img-responsive center-block" />
				</a>
			</div>
		</div>
	</div>
	<div th:include="common/js_libraries::js"></div>
</body>
</html>
