<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:lang="${T(org.springframework.context.i18n.LocaleContextHolder).getLocale().getLanguage()}">
<head th:include="common/head::head">
</head>
<body>
	<header>
		<div th:include="common/navbar::navbar"></div>
		<div
			th:include="common/jumbotron::jumbotron(title=#{jumbo.welcome.intro})"></div>
	</header>
	<div class="container">Hello world 2</div>
	<div th:include="common/js_libraries::js"></div>
</body>
</html>
