<div block-ui="blockRelatedQuetionContainer">
<div  ng-if="RelatedQuestionController.questions.totalHits !== 0" class="fdz-InfiniteScroll">
    <md-virtual-repeat-container id="vertical-container" ng-style="{{RelatedQuestionController.style}}">
     <div md-virtual-repeat="question in RelatedQuestionController.questions" md-on-demand
         class="fdz-repeated-item" flex>
         <question-search-result search-result="question._source"></question-search-result>
     </div>
   </md-virtual-repeat-container>
</div>
  <div ng-if="RelatedQuestionController.questions.totalHits === 0" layout-margin>
    <span>{{'question-management.detail.no-related-questions' | translate }}</span>
  </div>
</div>
