<div ng-if="ctrl.concept.id">
    <previous-search-result bowser="bowser" current-language="currentLanguage"></previous-search-result>
    <next-search-result bowser="bowser" current-language="currentLanguage"></next-search-result>
    <div layout="row" style="margin-bottom: 0px;" layout-margin>
        <h1 class="md-headline" style="margin-left: 0px;">
            <span display-i18n-string="ctrl.concept.title" fdz-hyphenate></span>
            <span class="label label-as-badge label-default">{{ctrl.concept.id}}</span>
        </h1>
        <json-content-dialog ng-if="ctrl.enableJsonView" content="ctrl.concept" header-title="ctrl.concept.title" exclude-fields="ctrl.jsonExcludes" class="fdz-no-margin-bottom"></json-content-dialog>
    </div>
    <div layout="row" class="fdz-tag-link-container">
        <a ng-repeat="tag in ctrl.conceptTags" ui-sref="search({type: 'concepts', 'query': tag})" class="label label-as-badge md-raised md-button md-ink-ripple md-primary">
          <span>{{tag}}</span>
          <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'concept-management.detail.tag-tooltip' | translate}}
          </md-tooltip>
        </a>
    </div>
    <div layout="column" layout-gt-sm="row">
        <div flex-gt-sm="50" layout="column">
            <md-card flex="auto">
                <md-card-header>
                    <md-card-header-text>
                        <h2 class="md-title">{{'global.cards.details' | translate }}</h2>
                    </md-card-header-text>
                </md-card-header>
                <md-divider></md-divider>
                <md-card-content>
                    <div class="fdz-add-bottom-margin" ng-if="ctrl.concept.title">
                        <span style="font-weight: bold;">{{'concept-management.detail.label.title' | translate }}:</span>
                        <span>{{ctrl.concept.title | displayI18nString}}</span>
                    </div>
                    <div class="fdz-add-bottom-margin" ng-if="ctrl.concept.authors">
                        <span style="font-weight: bold;">{{'concept-management.detail.label.authors' | translate }}:</span>
                        <span ng-repeat="author in ctrl.concept.authors">
                                          <span>{{author.lastName}}, </span>
                                        <span
                                          ng-if="author.middleName === undefined"> {{author.firstName}}{{!$last?';':''}}</span>
                                        <span ng-if="author.middleName !== undefined"> {{author.firstName}}  {{author.middleName}}{{!$last?';':''}}</span>
                                        </span>
                    </div>
                    <div class="fdz-add-bottom-margin" ng-if="ctrl.concept.doi">
                        <span style="font-weight: bold;">{{'concept-management.detail.label.doi' | translate }}:</span>
                        <a ng-href="https://dx.doi.org/{{ctrl.concept.doi}}" target="_blank">
                            {{ctrl.concept.doi}}
                            <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                              {{'concept-management.detail.doi-tooltip' | translate}}
                            </md-tooltip>
                        </a>
                    </div>
                  <div class="fdz-add-bottom-margin" ng-if="ctrl.concept.citationHint">
                      <span style="font-weight: bold;">{{'concept-management.detail.label.citation-hint' | translate }}:</span>
                      <span>{{ctrl.concept.citationHint}}</span>
                  </div>
                  <div class="fdz-add-bottom-margin" ng-if="ctrl.concept.originalLanguages">
                      <span style="font-weight: bold;">{{'concept-management.detail.label.original-languages' | translate }}:</span>
                      <span ng-repeat="language in ctrl.concept.originalLanguages">
                          {{(language | displayIsoLanguage: currentLanguage)}}{{$index + 1 !== ctrl.concept.originalLanguages.length ? ', ': ''}}
                      </span>
                  </div>
                </md-card-content>
            </md-card>
        </div>
        <div flex-gt-sm="50" layout="column">
            <md-card flex="auto" ng-class="{'fdz-reset-left-margin': $mdMedia('gt-sm'), 'fdz-reset-top-margin': $mdMedia('sm') || $mdMedia('xs')}">
                <md-card-header>
                    <md-card-header-text>
                        <h2 class="md-title">{{'global.cards.related-objects' | translate }}</h2>
                    </md-card-header-text>
                </md-card-header>
                <md-divider></md-divider>
                <md-card-content layout="column" layout-align="center start">
                  <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                      <div ng-if="ctrl.counts.studiesCount == 0" class="fdz-truncate-string" flex>
                          <md-icon md-svg-src="/assets/images/icons/study.svg"></md-icon>
                          {{'study-management.detail.label.studies' | translate }}: {{'global.messages.error.undocumented' | translate}}
                      </div>
                      <div ng-if="ctrl.counts.studiesCount == 1 && ctrl.study" class="fdz-truncate-string" flex>
                          <a ui-sref="studyDetail({'id': ctrl.study.masterId, 'version': ctrl.studyVersion})">
                              <md-icon md-svg-src="/assets/images/icons/study.svg"></md-icon>
                              {{'study-management.detail.label.study' | translate }}:
                              <span display-i18n-string="ctrl.study.title"></span>
                              <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                                  {{'concept-management.detail.tooltips.studies.one' | translate}}
                              </md-tooltip>
                          </a>
                      </div>
                      <div ng-if="ctrl.counts.studiesCount > 1" class="fdz-truncate-string" flex>
                          <a ui-sref="search({'type': 'studies', 'concept': ctrl.concept.id})">
                              <md-icon md-svg-src="/assets/images/icons/study.svg"></md-icon>
                              {{'study-management.detail.label.studies' | translate }}: ({{ctrl.counts.studiesCount}})
                              <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                                  {{'concept-management.detail.tooltips.studies.many' | translate}}
                              </md-tooltip>
                          </a>
                      </div>
                  </div>
                    <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                        <div ng-if="ctrl.counts.surveysCount == 0" class="fdz-truncate-string" flex>
                            <md-icon md-svg-src="/assets/images/icons/survey.svg"></md-icon>
                            {{'survey-management.detail.label.surveys' | translate }}: {{'global.messages.error.undocumented' | translate}}
                        </div>
                        <div ng-if="ctrl.counts.surveysCount == 1 && ctrl.survey" class="fdz-truncate-string" flex>
                            <a ui-sref="surveyDetail({'id': ctrl.survey.masterId, 'version': ctrl.surveyVersion})">
                                <md-icon md-svg-src="/assets/images/icons/survey.svg"></md-icon>
                                {{'survey-management.detail.label.survey' | translate }}:
                                <span display-i18n-string="ctrl.survey.title"></span>
                                <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                                    {{'concept-management.detail.tooltips.surveys.one' | translate}}
                                </md-tooltip>
                            </a>
                        </div>
                        <div ng-if="ctrl.counts.surveysCount > 1" class="fdz-truncate-string" flex>
                            <a ui-sref="search({'type': 'surveys', 'concept': ctrl.concept.id})">
                                <md-icon md-svg-src="/assets/images/icons/survey.svg"></md-icon>
                                {{'survey-management.detail.label.surveys' | translate }}: ({{ctrl.counts.surveysCount}})
                                <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                                    {{'concept-management.detail.tooltips.surveys.many' | translate}}
                                </md-tooltip>
                            </a>
                        </div>
                    </div>
                    <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                        <div ng-if="ctrl.counts.instrumentsCount == 0" class="fdz-truncate-string" flex>
                            <md-icon md-svg-src="/assets/images/icons/instrument.svg"></md-icon>
                            {{'instrument-management.detail.label.instrument' | translate }}: {{'global.messages.error.undocumented' | translate}}
                        </div>
                        <div ng-if="ctrl.counts.instrumentsCount == 1 && ctrl.instrument" class="fdz-truncate-string" flex>
                            <a ui-sref="instrumentDetail({'id': ctrl.instrument.masterId, 'version': ctrl.instrumentVersion})">
                                <md-icon md-svg-src="/assets/images/icons/instrument.svg"></md-icon>
                                {{'instrument-management.detail.label.instrument' | translate }}: <span display-i18n-string="ctrl.instrument.description"></span>
                                <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                                    {{'concept-management.detail.tooltips.instruments.one' | translate}}
                                </md-tooltip>
                            </a>
                        </div>
                        <div ng-if="ctrl.counts.instrumentsCount > 1" class="fdz-truncate-string" flex>
                            <a ui-sref="search({'type': 'instruments', 'concept': ctrl.concept.id, 'sorty-by': 'number'})">
                                <md-icon md-svg-src="/assets/images/icons/instrument.svg"></md-icon>
                                {{'instrument-management.detail.label.instruments' | translate }}: ({{ctrl.counts.instrumentsCount}})
                                <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                                    {{'concept-management.detail.tooltips.instruments.many' | translate}}
                                </md-tooltip>
                            </a>
                        </div>
                    </div>
                    <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                        <div ng-if="ctrl.counts.questionsCount == 0" class="fdz-truncate-string" flex>
                            <md-icon md-svg-src="/assets/images/icons/question.svg"></md-icon>
                            {{'question-management.detail.label.questions' | translate }}: {{'global.messages.error.undocumented' | translate}}
                        </div>
                        <div ng-if="ctrl.counts.questionsCount == 1 && ctrl.question" class="fdz-truncate-string" flex>
                            <a ui-sref="questionDetail({'id': ctrl.question.masterId, 'version': ctrl.questionVersion})">
                                <md-icon md-svg-src="/assets/images/icons/question.svg"></md-icon>
                                {{'question-management.detail.label.question' | translate }}: <span display-i18n-string="ctrl.question.questionText"></span>
                                <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                                    {{'concept-management.detail.tooltips.questions.one' | translate}}
                                </md-tooltip>
                            </a>
                        </div>
                        <div ng-if="ctrl.counts.questionsCount > 1" class="fdz-truncate-string" flex>
                            <a ui-sref="search({'type': 'questions', 'concept':ctrl.concept.id})">
                                <md-icon md-svg-src="/assets/images/icons/question.svg"></md-icon>
                                {{'question-management.detail.label.questions' | translate }}: ({{ctrl.counts.questionsCount}})
                                <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                                    {{'concept-management.detail.tooltips.questions.many' | translate}}
                                </md-tooltip>
                            </a>
                        </div>
                    </div>
                    <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                        <div ng-if="ctrl.counts.dataSetsCount == 0" class="fdz-truncate-string" flex>
                            <md-icon md-svg-src="/assets/images/icons/data-set.svg"></md-icon>
                            {{'data-set-management.detail.label.data-sets' | translate }}: {{'global.messages.error.undocumented' | translate}}
                        </div>
                        <div ng-if="ctrl.counts.dataSetsCount == 1 && ctrl.dataSet" class="fdz-truncate-string" flex>
                            <a ui-sref="dataSetDetail({'id': ctrl.dataSet.masterId, 'version': ctrl.dataSetVersion})">
                                <md-icon md-svg-src="/assets/images/icons/data-set.svg"></md-icon>
                                {{'data-set-management.detail.label.data-set' | translate }}:
                                <span display-i18n-string="ctrl.dataSet.description"></span>
                                <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                                    {{'concept-management.detail.tooltips.data-sets.one' | translate}}
                                </md-tooltip>
                            </a>
                        </div>
                        <div ng-if="ctrl.counts.dataSetsCount > 1" class="fdz-truncate-string" flex>
                            <a ui-sref="search({'type': 'data_sets', 'concept':ctrl.concept.id})">
                                <md-icon md-svg-src="/assets/images/icons/data-set.svg"></md-icon>
                                {{'data-set-management.detail.label.data-sets' | translate }}: ({{ctrl.counts.dataSetsCount}})
                                <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                                    {{'concept-management.detail.tooltips.data-sets.many' | translate}}
                                </md-tooltip>
                            </a>
                        </div>
                    </div>
                    <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                        <div ng-if="ctrl.counts.variablesCount == 0" class="fdz-truncate-string" flex>
                            <md-icon md-svg-src="/assets/images/icons/variable.svg"></md-icon>
                            {{'variable-management.detail.label.variables' | translate }}: {{'global.messages.error.undocumented' | translate}}
                        </div>
                        <div ng-if="ctrl.counts.variablesCount == 1 && ctrl.variable" class="fdz-truncate-string" flex>
                            <a ui-sref="variableDetail({'id': ctrl.variable.masterId, 'version': ctrl.variableVersion})">
                                <md-icon md-svg-src="/assets/images/icons/variable.svg"></md-icon>
                                {{'variable-management.detail.label.variable' | translate }}:
                                <span display-i18n-string="ctrl.variable.label"></span>
                                <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                                    {{'concept-management.detail.tooltips.variables.one' | translate}}
                                </md-tooltip>
                            </a>
                        </div>
                        <div ng-if="ctrl.counts.variablesCount > 1" class="fdz-truncate-string" flex>
                            <a ui-sref="search({'type': 'variables', 'concept': ctrl.concept.id})">
                                <md-icon md-svg-src="/assets/images/icons/variable.svg"></md-icon>
                                {{'variable-management.detail.label.variables' | translate }}: ({{ctrl.counts.variablesCount}})
                                <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                                    {{'concept-management.detail.tooltips.variables.many' | translate}}
                                </md-tooltip>
                            </a>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div layout="row">
        <md-card flex class="fdz-reset-top-margin">
            <md-card-header>
                <md-card-header-text>
                    <h2 class="md-title">{{'concept-management.detail.description' | translate | fdzHyphenate}}</h2>
                </md-card-header-text>
            </md-card-header>
            <md-divider></md-divider>
            <md-card-content>
                <p display-i18n-string="ctrl.concept.description" fdz-hyphenate class="fdz-text-block fdz-multiline-property"></p>
            </md-card-content>
        </md-card>
    </div>
    <div layout="row">
        <md-card ng-if="ctrl.attachments && ctrl.attachments.length > 0" flex class="fdz-reset-top-margin">
            <md-card-header layout-align="center center">
                <md-card-header-text>
                    <h2 class="md-title">{{'concept-management.detail.attachments.table-title' | translate | fdzHyphenate}}</h2>
                </md-card-header-text>
            </md-card-header>
            <table fdz-table>
                <thead>
                    <tr>
                        <th>{{'concept-management.detail.label.attachments.type' | translate }}
                            <md-tooltip hide-gt-xs md-direction="right">
                                {{'concept-management.detail.label.attachments.type' | translate }}
                            </md-tooltip>
                        </th>
                        <th class="fdz-table-half-absorbing-column">{{'concept-management.detail.label.attachments.description' | translate }}
                            <md-tooltip hide-gt-xs md-direction="right">
                                {{'concept-management.detail.label.attachments.description' | translate }}
                            </md-tooltip>
                        </th>
                        <th class="fdz-table-half-absorbing-column">{{'concept-management.detail.label.attachments.title' | translate }}
                            <md-tooltip hide-gt-xs md-direction="right">
                                {{'concept-management.detail.label.attachments.title' | translate }}
                            </md-tooltip>
                        </th>
                        <th>{{'concept-management.detail.label.attachments.language' | translate }}
                            <md-tooltip hide-gt-xs md-direction="right">
                                {{'concept-management.detail.label.attachments.language' | translate }}
                            </md-tooltip>
                        </th>
                        <th>{{'concept-management.detail.label.attachments.file' | translate }}
                            <md-tooltip hide-gt-xs md-direction="right">
                                {{'concept-management.detail.label.attachments.file' | translate }}
                            </md-tooltip>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in ctrl.attachments">
                        <td class="fdz-table-nowrap" display-i18n-string="row.type"></td>
                        <td display-i18n-string="row.description" fdz-hyphenate class="fdz-text-block"></td>
                        <td lang="{{row.language}}">{{row.title}}&nbsp;</td>
                        <td>{{row.language | displayIsoLanguage: currentLanguage}}&nbsp;</td>
                        <td style="white-space: nowrap;"><a ng-href="{{row.id}}" target="_blank">{{row.fileName}}<md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">{{'global.tooltips.files.download' | translate: {filename: row.fileName} }}</md-tooltip></a>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </md-card>
    </div>
    <div layout="row">
        <md-card  ng-if="ctrl.concept.license" flex class="fdz-reset-top-margin">
            <md-card-header>
                <md-card-header-text>
                    <h2 class="md-title">{{'concept-management.detail.label.license' | translate}}</h2>
                </md-card-header-text>
            </md-card-header>
            <md-divider></md-divider>
            <md-card-content>
              {{ctrl.concept.license}}
            </md-card-content>
        </md-card>
    </div>
    <div class="fdz-fab-button-container" layout="column">
        <md-button data-has-authority="ROLE_PUBLISHER" class="md-fab md-raised md-accent" ng-click="ctrl.conceptEdit()">
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'search-management.buttons.edit-concept-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">mode_edit</md-icon>
        </md-button>
    </div>
</div>
