<div ng-if="ctrl.concept.id">
  <previous-search-result bowser="bowser" current-language="currentLanguage"></previous-search-result>
  <next-search-result bowser="bowser" current-language="currentLanguage"></next-search-result>
  <div class="fdz-cc">
    <div>
      <div class="fdz-detail">
        <div class="fdz-detail__header">
          <h1 class="md-headline" display-i18n-string="ctrl.concept.title" fdz-hyphenate></h1>
        </div>
        <md-divider></md-divider>
        <fdz-detail
          collapsed="false"
          lang="currentLanguage"
          options="ctrl.concept"
          template-url="scripts/conceptmanagement/templates/dp-detail.html.tmpl"></fdz-detail>
        <md-divider></md-divider>
        <fdz-related-objects
          collapsed="false"
          lang="currentLanguage"
          options="ctrl.counts"
          id="ctrl.concept.id"
          template-url="scripts/common/detail/common/dp-related-objects.html.tmpl"></fdz-related-objects>
        <md-divider></md-divider>
        <fdz-detail
          collapsed="false"
          lang="currentLanguage"
          options="ctrl.concept.description"
          template-url="scripts/conceptmanagement/templates/dp-description.html.tmpl"></fdz-detail>
        <md-divider
          ng-if="ctrl.attachments && ctrl.attachments.length > 0"></md-divider>
        <fdz-detail
          ng-if="ctrl.attachments && ctrl.attachments.length > 0"
          collapsed="false"
          lang="currentLanguage"
          options="ctrl.attachments"
          template-url="scripts/conceptmanagement/templates/dp-attachments.html.tmpl"></fdz-detail>
        <md-divider
          ng-if="ctrl.concept.license"></md-divider>
        <fdz-detail
          ng-if="ctrl.concept.license"
          collapsed="false"
          lang="currentLanguage"
          options="ctrl.concept.license"
          template-url="scripts/conceptmanagement/templates/dp-license.html.tmpl"></fdz-detail>
      </div>
    </div>
  </div>
</div>
