<form name="studyForm">
    <div ng-if="ctrl.study.id">
        <div layout="row" style="margin-bottom: 0px;" layout-margin>
            <h1 ng-if="ctrl.createMode" class="md-headline" style="margin-left: 0px;">{{'study-management.edit.label.create-study' | translate}} <span class="label label-as-badge label-default">{{ctrl.study.id}}</span></h1>
            <h1 ng-if="!ctrl.createMode" class="md-headline" style="margin-left: 0px;">{{'study-management.edit.label.edit-study' | translate}} <span class="label label-as-badge label-default">{{ctrl.study.id}}</span></h1>
        </div>
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <h2 class="md-title">{{'global.cards.details' | translate }}</h2>
                </md-card-header-text>
            </md-card-header>
            <md-divider></md-divider>
            <md-card-content>
                <div layout-gt-sm="row" layout="column">
                    <md-input-container flex="50" style="margin-right: 8px;" md-is-error="!studyForm.titleDe.$valid && (studyForm.titleDe.$dirty || studyForm.titleDe.$touched)">
                        <label>{{'study-management.detail.label.title' | translate}} ({{'global.in-german' | translate}})</label>
                        <input ng-trim="true" md-maxlength="2048" fdz-required ng-model="ctrl.study.title.de" name="titleDe" lang="de">
                        <div ng-if="!studyForm.titleDe.$dirty && !studyForm.titleDe.$touched" class="fdz-input-hint">{{'study-management.edit.hints.title.de' | translate}}</div>
                        <div ng-messages="studyForm.titleDe.$error" multiple>
                            <div ng-message="fdz-required">{{'study-management.error.study.title.i18n-string-entire-not-empty' | translate}}</div>
                            <div ng-message="md-maxlength">{{'study-management.error.study.title.i18n-string-size' | translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="50" md-is-error="!studyForm.titleEn.$valid && (studyForm.titleEn.$dirty || studyForm.titleEn.$touched)">
                        <label>{{'study-management.detail.label.title' | translate}} ({{'global.in-english' | translate}})</label>
                        <input md-maxlength="2048" fdz-required ng-model="ctrl.study.title.en" name="titleEn" lang="en">
                        <div ng-if="!studyForm.titleEn.$dirty && !studyForm.titleEn.$touched" class="fdz-input-hint">{{'study-management.edit.hints.title.en' | translate}}</div>
                        <div ng-messages="studyForm.titleEn.$error" multiple>
                            <div ng-message="fdz-required">{{'study-management.error.study.title.i18n-string-entire-not-empty' | translate}}</div>
                            <div ng-message="md-maxlength">{{'study-management.error.study.title.i18n-string-size' | translate}}</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row" layout="column">
                    <md-autocomplete md-delay="250" flex="50" md-input-name="surveySeriesDe" md-input-maxlength="128" md-floating-label="{{'study-management.detail.label.surveySeries' | translate}} ({{'global.in-german' | translate}})" md-min-length="0" md-require-match="false"
                      md-select-on-match="true" md-selected-item="currentSurveySeries" md-search-text="ctrl.study.surveySeries.de" md-items="item in searchSurveySeries(ctrl.study.surveySeries.de, 'de')" md-item-text="item.de" md-clear-button="true" md-no-cache="true"
                      md-selected-item-change="studyForm.$setDirty()" md-is-error="!studyForm.surveySeriesDe.$valid && (studyForm.surveySeriesDe.$dirty studyForm.surveySeriesDe.$touched) ">
                        <md-item-template>
                            <span class="md-title" style="font-size: 14px;">{{item.de}}</span>
                        </md-item-template>
                        <md-not-found>
                            {{'search-management.filter.survey-series-filter.not-found' | translate}}
                        </md-not-found>
                        <div ng-if="!studyForm.surveySeriesDe.$dirty && !studyForm.surveySeriesDe.$touched" class="fdz-input-hint">{{'study-management.edit.hints.survey-series.de' | translate}}</div>
                        <div ng-messages="studyForm.surveySeriesDe.$error" multiple>
                            <div ng-message="maxlength">{{'study-management.error.study.survey-series.i18n-string-size' | translate}}</div>
                        </div>
                    </md-autocomplete>
                    <md-autocomplete md-delay="250" flex="50" md-input-name="surveySeriesEn" md-input-maxlength="128" md-floating-label="{{'study-management.detail.label.surveySeries' | translate}} ({{'global.in-english' | translate}})" md-min-length="0" md-require-match="false"
                      md-select-on-match="true" md-selected-item="currentSurveySeries" md-search-text="ctrl.study.surveySeries.en" md-items="item in searchSurveySeries(ctrl.study.surveySeries.en, 'en')" md-item-text="item.en" md-clear-button="true" md-no-cache="true"
                      md-selected-item-change="studyForm.$setDirty()" md-is-error="!studyForm.surveySeriesEn.$valid && (studyForm.surveySeriesEn.$dirty || studyForm.surveySeriesEn.$touched)">
                        <md-item-template>
                            <span class="md-title" style="font-size: 14px;">{{item.en}}</span>
                        </md-item-template>
                        <md-not-found>
                            {{'search-management.filter.survey-series-filter.not-found' | translate}}
                        </md-not-found>
                        <div ng-if="!studyForm.surveySeriesEn.$dirty && !studyForm.surveySeriesEn.$touched" class="fdz-input-hint">{{'study-management.edit.hints.survey-series.en' | translate}}</div>
                        <div ng-messages="studyForm.surveySeriesEn.$error" multiple>
                            <div ng-message="maxlength">{{'study-management.error.study.survey-series.i18n-string-size' | translate}}</div>
                        </div>
                    </md-autocomplete>
                </div>
                <div layout-gt-sm="row" layout="column">
                    <md-input-container flex="50" style="margin-right: 8px;" md-is-error="!studyForm.institutionDe.$valid && (studyForm.institutionDe.$dirty || studyForm.institutionDe.$touched)">
                        <label>{{'study-management.detail.label.institution' | translate}} ({{'global.in-german' | translate}})</label>
                        <input md-maxlength="128" fdz-required="!ctrl.study.institution.en" ng-model="ctrl.study.institution.de" name="institutionDe" lang="de">
                        <div ng-if="!studyForm.institutionDe.$dirty && !studyForm.institutionDe.$touched" class="fdz-input-hint">{{'study-management.edit.hints.institution.de' | translate}}</div>
                        <div ng-messages="studyForm.institutionDe.$error" multiple>
                            <div ng-message="fdz-required">{{'study-management.error.study.institution.i18n-string-not-empty' | translate}}</div>
                            <div ng-message="md-maxlength">{{'study-management.error.study.institution.i18n-string-size' | translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="50" md-is-error="!studyForm.institutionEn.$valid && (studyForm.institutionEn.$dirty || studyForm.institutionEn.$touched)">
                        <label>{{'study-management.detail.label.institution' | translate}} ({{'global.in-english' | translate}})</label>
                        <input md-maxlength="128" fdz-required="!ctrl.study.institution.de" ng-model="ctrl.study.institution.en" name="institutionEn" lang="en">
                        <div ng-if="!studyForm.institutionEn.$dirty && !studyForm.institutionEn.$touched" class="fdz-input-hint">{{'study-management.edit.hints.institution.en' | translate}}</div>
                        <div ng-messages="studyForm.institutionEn.$error" multiple>
                            <div ng-message="fdz-required">{{'study-management.error.study.institution.i18n-string-not-empty' | translate}}</div>
                            <div ng-message="md-maxlength">{{'study-management.error.study.institution.i18n-string-size' | translate}}</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row" layout="column">
                    <md-input-container flex="50" style="margin-right: 8px;" md-is-error="!studyForm.sponsorDe.$valid && (studyForm.sponsorDe.$dirty || studyForm.sponsorDe.$touched)">
                        <label>{{'study-management.detail.label.sponsors' | translate}} ({{'global.in-german' | translate}})</label>
                        <input md-maxlength="128" fdz-required ng-model="ctrl.study.sponsor.de" name="sponsorDe" lang="de">
                        <div ng-if="!studyForm.sponsorDe.$dirty && !studyForm.sponsorDe.$touched" class="fdz-input-hint">{{'study-management.edit.hints.sponsor.de' | translate}}</div>
                        <div ng-messages="studyForm.sponsorDe.$error" multiple>
                            <div ng-message="fdz-required">{{'study-management.error.study.sponsor.i18n-string-entire-not-empty' | translate}}</div>
                            <div ng-message="md-maxlength">{{'study-management.error.study.sponsor.i18n-string-size' | translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="50" md-is-error="!studyForm.sponsorEn.$valid && (studyForm.sponsorEn.$dirty || studyForm.sponsorEn.$touched)">
                        <label>{{'study-management.detail.label.sponsors' | translate}} ({{'global.in-english' | translate}})</label>
                        <input md-maxlength="128" fdz-required ng-model="ctrl.study.sponsor.en" name="sponsorEn" lang="en">
                        <div ng-if="!studyForm.sponsorEn.$dirty && !studyForm.sponsorEn.$touched" class="fdz-input-hint">{{'study-management.edit.hints.sponsor.en' | translate}}</div>
                        <div ng-messages="studyForm.sponsorEn.$error" multiple>
                            <div ng-message="fdz-required">{{'study-management.error.study.sponsor.i18n-string-entire-not-empty' | translate}}</div>
                            <div ng-message="md-maxlength">{{'study-management.error.study.sponsor.i18n-string-size' | translate}}</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row" layout="column">
                    <md-input-container flex="50" md-is-error="!studyForm.surveyDesign.$valid && (studyForm.surveyDesign.$dirty || studyForm.surveyDesign.$touched)">
                        <label>{{'study-management.detail.label.surveyDesign' | translate}}</label>
                        <md-select required ng-model="ctrl.study.surveyDesign" ng-model-options="{trackBy: '$value.de'}" name="surveyDesign">
                            <md-option ng-value="surveyDesign" ng-repeat="surveyDesign in ctrl.surveyDesigns">{{surveyDesign[currentLanguage]}}</md-option>
                        </md-select>
                        <div ng-if="!studyForm.surveyDesign.$dirty && !studyForm.surveyDesign.$touched" class="fdz-input-hint">{{'study-management.edit.hints.survey-design' | translate}}</div>
                        <div ng-messages="studyForm.surveyDesign.$error" multiple>
                            <div ng-message="required">{{'study-management.error.study.survey-design.not-null' | translate}}</div>
                        </div>
                    </md-input-container>
                    <div flex="50"></div>
                </div>
                <div layout-gt-sm="row" layout="column">
                    <md-input-container flex="50" style="margin-right: 8px;" md-is-error="!studyForm.annotationsDe.$valid && (studyForm.annotationsDe.$dirty || studyForm.annotationsDe.$touched)">
                        <label>{{'study-management.detail.label.annotations' | translate}} ({{'global.in-german' | translate}})</label>
                        <textarea rows="4" md-maxlength="2048" ng-model="ctrl.study.annotations.de" name="annotationsDe" lang="de"></textarea>
                        <div ng-if="!studyForm.annotationsDe.$dirty && !studyForm.annotationsDe.$touched" class="fdz-input-hint">{{'study-management.edit.hints.annotations.de' | translate}}</div>
                        <div ng-messages="studyForm.annotationsDe.$error" multiple>
                            <div ng-message="md-maxlength">{{'study-management.error.study.annotations.i18n-string-size' | translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="50" md-is-error="!studyForm.annotationsEn.$valid && (studyForm.annotationsEn.$dirty || studyForm.annotationsEn.$touched)">
                        <label>{{'study-management.detail.label.annotations' | translate}} ({{'global.in-english' | translate}})</label>
                        <textarea rows="4" md-maxlength="2048" ng-model="ctrl.study.annotations.en" name="annotationsEn" lang="en"></textarea>
                        <div ng-if="!studyForm.annotationsEn.$dirty && !studyForm.annotationsEn.$touched" class="fdz-input-hint">{{'study-management.edit.hints.annotations.en' | translate}}</div>
                        <div ng-messages="studyForm.annotationsEn.$error" multiple>
                            <div ng-message="md-maxlength">{{'study-management.error.study.annotations.i18n-string-size' | translate}}</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row" layout="column">
                    <md-input-container flex="50" md-is-error="!studyForm.dataAvailability.$valid && (studyForm.dataAvailability.$dirty || studyForm.dataAvailability.$touched)">
                        <label>{{'study-management.detail.label.dataAvailability' | translate}}</label>
                        <md-select required ng-model="ctrl.study.dataAvailability" ng-model-options="{trackBy: '$value.de'}" name="dataAvailability">
                            <md-option ng-value="dataAvailability" ng-repeat="dataAvailability in ctrl.dataAvailabilities">{{dataAvailability[currentLanguage]}}</md-option>
                        </md-select>
                        <div ng-if="!studyForm.dataAvailability.$dirty && !studyForm.dataAvailability.$touched" class="fdz-input-hint">{{'study-management.edit.hints.data-availability' | translate}}</div>
                        <div ng-messages="studyForm.dataAvailability.$error" multiple>
                            <div ng-message="required">{{'study-management.error.study.data-availability.not-null' | translate}}</div>
                        </div>
                    </md-input-container>
                    <div flex="50"></div>
                </div>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <h2 class="md-title">{{'study-management.detail.description' | translate | fdzHyphenate}}</h2>
                </md-card-header-text>
            </md-card-header>
            <md-divider></md-divider>
            <md-card-content>
                <div layout-gt-sm="row" layout="column">
                    <md-input-container flex="50" style="margin-right: 8px;" md-is-error="!studyForm.descriptionDe.$valid && (studyForm.descriptionDe.$dirty || studyForm.descriptionDe.$touched)">
                        <label>{{'study-management.detail.description' | translate}} ({{'global.in-german' | translate}})</label>
                        <textarea rows="4" md-maxlength="2048" fdz-required="!ctrl.study.description.en" ng-model="ctrl.study.description.de" name="descriptionDe" lang="de"></textarea>
                        <div ng-if="!studyForm.descriptionDe.$dirty && !studyForm.descriptionDe.$touched" class="fdz-input-hint">{{'study-management.edit.hints.description.de' | translate}}</div>
                        <div ng-messages="studyForm.descriptionDe.$error" multiple>
                            <div ng-message="fdz-required">{{'study-management.error.study.description.i18n-string-not-empty' | translate}}</div>
                            <div ng-message="md-maxlength">{{'study-management.error.study.description.i18n-string-size' | translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="50" md-is-error="!studyForm.descriptionEn.$valid && (studyForm.descriptionEn.$dirty || studyForm.descriptionEn.$touched)">
                        <label>{{'study-management.detail.description' | translate}} ({{'global.in-english' | translate}})</label>
                        <textarea rows="4" md-maxlength="2048" fdz-required="!ctrl.study.description.de" ng-model="ctrl.study.description.en" name="descriptionEn" lang="en"></textarea>
                        <div ng-if="!studyForm.descriptionEn.$dirty && !studyForm.descriptionEn.$touched" class="fdz-input-hint">{{'study-management.edit.hints.description.en' | translate}}</div>
                        <div ng-messages="studyForm.descriptionEn.$error" multiple>
                            <div ng-message="fdz-required">{{'study-management.error.study.description.i18n-string-not-empty' | translate}}</div>
                            <div ng-message="md-maxlength">{{'study-management.error.study.description.i18n-string-size' | translate}}</div>
                        </div>
                    </md-input-container>
                </div>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <h2 class="md-title">{{'study-management.detail.label.authors' | translate }}</h2>
                </md-card-header-text>
            </md-card-header>
            <md-divider></md-divider>
            <md-card-content style="padding-bottom: 0px; padding-left: 0px;">
                <div layout="row" ng-repeat="person in ctrl.study.authors track by $index">
                    <md-button ng-if="ctrl.study.authors.length > 1" class="md-primary md-icon-button" ng-click="ctrl.deleteAuthor($index)" style="margin-top: 18px; margin-left: 0px; margin-right: 0px;">
                        <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                            {{'study-management.edit.delete-author-tooltip' | translate}}
                        </md-tooltip>
                        <md-icon md-font-set="material-icons">delete_forever</md-icon>
                    </md-button>
                    <div ng-if="ctrl.study.authors.length <= 1" style="margin-left: 16px;"></div>
                    <md-input-container flex="33" md-is-error="!studyForm['authorsFirstName_' + $index].$valid && (studyForm['authorsFirstName_' + $index].$dirty || studyForm['authorsFirstName_' + $index].$touched)">
                        <label>{{'study-management.edit.label.first-name' | translate}}</label>
                        <input fdz-required ng-model="person.firstName" name="authorsFirstName_{{$index}}" ng-blur="ctrl.deleteCurrentAuthor($event)" ng-focus="ctrl.setCurrentAuthor($index,$event)">
                        <div ng-if="!studyForm['authorsFirstName_' + $index].$dirty && !studyForm['authorsFirstName_' + $index].$touched" class="fdz-input-hint">{{'study-management.edit.hints.authors.first-name' | translate}}</div>
                        <div ng-messages="studyForm['authorsFirstName_' + $index].$error" multiple>
                            <div ng-message="fdz-required">{{'global.error.person.first-name.not-empty' | translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex md-is-error="!studyForm['authorsMiddleName_' + $index].$valid && (studyForm['authorsMiddleName_' + $index].$dirty || studyForm['authorsMiddleName_' + $index].touched)">
                        <label>{{'study-management.edit.label.middle-name' | translate}}</label>
                        <input ng-model="person.middleName" name="authorsMiddleName_{{$index}}" ng-blur="ctrl.deleteCurrentAuthor($event)" ng-focus="ctrl.setCurrentAuthor($index,$event)">
                        <div ng-if="!studyForm['authorsMiddleName_' + $index].$dirty && !studyForm['authorsMiddleName_' + $index].$touched" class="fdz-input-hint">{{'study-management.edit.hints.authors.middle-name' | translate}}</div>
                        <div ng-messages="studyForm['authorsMiddleName_' + $index].$error" multiple>
                        </div>
                    </md-input-container>
                    <md-input-container flex="33" md-is-error="!studyForm['authorsLastName_' + $index].$valid && (studyForm['authorsLastName_' + $index].$dirty || studyForm['authorsLastName_' + $index].$touched)">
                        <label>{{'study-management.edit.label.last-name' | translate}}</label>
                        <input fdz-required ng-model="person.lastName" name="authorsLastName_{{$index}}" ng-blur="ctrl.deleteCurrentAuthor($event)" ng-focus="ctrl.setCurrentAuthor($index,$event)">
                        <div ng-if="!studyForm['authorsLastName_' + $index].$dirty && !studyForm['authorsLastName_' + $index].$touched" class="fdz-input-hint">{{'study-management.edit.hints.authors.last-name' | translate}}</div>
                        <div ng-messages="studyForm['authorsLastName_' + $index].$error" multiple>
                            <div ng-message="fdz-required">{{'global.error.person.last-name.not-empty' | translate}}</div>
                        </div>
                    </md-input-container>
                </div>
            </md-card-content>
            <md-card-actions style="margin-top: 0px; margin-bottom: 12px;" layout="row" layout-align="begin center">
                <md-button class="md-primary md-raised md-icon-button" ng-click="ctrl.addAuthor()" style="margin-left: 6px;">
                    <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                        {{'study-management.edit.add-author-tooltip' | translate}}
                    </md-tooltip>
                    <md-icon md-font-set="material-icons">add</md-icon>
                </md-button>
                <md-button id="move-author-up-button" ng-disabled="ctrl.currentAuthorIndex == null || ctrl.currentAuthorIndex === 0" class="md-primary md-raised md-icon-button" ng-click="ctrl.moveCurrentAuthorUp()">
                    <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                        {{'study-management.edit.move-author-up-tooltip' | translate}}
                    </md-tooltip>
                    <md-icon md-font-set="material-icons">keyboard_arrow_up</md-icon>
                </md-button>
                <md-button id="move-author-down-button" ng-disabled="ctrl.currentAuthorIndex == null || ctrl.currentAuthorIndex === ctrl.study.authors.length - 1" class="md-primary md-raised md-icon-button" ng-click="ctrl.moveCurrentAuthorDown()">
                    <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                        {{'study-management.edit.move-author-down-tooltip' | translate}}
                    </md-tooltip>
                    <md-icon md-font-set="material-icons">keyboard_arrow_down</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</form>
<md-card ng-if="ctrl.study.id" class="fdz-reset-top-margin">
    <md-card-header layout-align="center center">
        <md-card-header-text>
            <h2 class="md-title">{{'study-management.detail.attachments.table-title' | translate | fdzHyphenate}}</h2>
        </md-card-header-text>
    </md-card-header>
    <table ng-if="!ctrl.createMode && ctrl.attachments && ctrl.attachments.length > 0" fdz-table>
        <thead>
            <tr>
                <th>
                    &nbsp;
                </th>
                <th style="min-height: 40px;">
                    &nbsp;
                </th>
                <th style="min-height: 40px;">
                    &nbsp;
                </th>
                <th>{{'study-management.detail.label.attachments.type' | translate }}
                    <md-tooltip hide-gt-xs md-direction="right">
                        {{'study-management.detail.label.attachments.type' | translate }}
                    </md-tooltip>
                </th>
                <th class="fdz-table-half-absorbing-column">{{'study-management.detail.label.attachments.description' | translate }}
                    <md-tooltip hide-gt-xs md-direction="right">
                        {{'study-management.detail.label.attachments.description' | translate }}
                    </md-tooltip>
                </th>
                <th class="fdz-table-half-absorbing-column">{{'study-management.detail.label.attachments.title' | translate }}
                    <md-tooltip hide-gt-xs md-direction="right">
                        {{'study-management.detail.label.attachments.title' | translate }}
                    </md-tooltip>
                </th>
                <th>{{'study-management.detail.label.attachments.language' | translate }}
                    <md-tooltip hide-gt-xs md-direction="right">
                        {{'study-management.detail.label.attachments.language' | translate }}
                    </md-tooltip>
                </th>
                <th>{{'study-management.detail.label.attachments.file' | translate }}
                    <md-tooltip hide-gt-xs md-direction="right">
                        {{'study-management.detail.label.attachments.file' | translate }}
                    </md-tooltip>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in ctrl.attachments" ng-click="ctrl.selectAttachment($index)" ng-class="{'fdz-selected-table-row': $index === ctrl.currentAttachmentIndex}" ng-init="translationParams = {filename: row.fileName}">
                <td class="fdz-table-nowrap" style="padding-right: 0px;">
                    <md-radio-group ng-model="ctrl.currentAttachmentIndex" class="md-primary">
                        <md-radio-button ng-value="$index" style="margin-bottom: 0px;">
                            <md-tooltip md-direction="right" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                                {{'study-management.detail.attachments.select-attachment-tooltip' | translate:translationParams }}
                            </md-tooltip>
                        </md-radio-button>
                    </md-radio-group>
                </td>
                <td class="fdz-table-nowrap" style="padding: 0px;">
                    <md-button class="md-primary md-icon-button" ng-click="ctrl.editAttachment(row, $event)" style="margin: 0px;">
                        <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                            {{'study-management.detail.attachments.edit-attachment-tooltip' | translate:translationParams }}
                        </md-tooltip>
                        <md-icon md-font-set="material-icons">mode_edit</md-icon>
                    </md-button>
                </td>
                <td class="fdz-table-nowrap" style="padding: 0px;">
                    <md-button class="md-primary md-icon-button" ng-click="ctrl.deleteAttachment(row, $index)" style="margin: 0px;">
                        <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                            {{'study-management.detail.attachments.delete-attachment-tooltip' | translate:translationParams }}
                        </md-tooltip>
                        <md-icon md-font-set="material-icons">delete_forever</md-icon>
                    </md-button>
                </td>
                <td class="fdz-table-nowrap" display-i18n-string="row.type"></td>
                <td display-i18n-string="row.description" fdz-hyphenate class="fdz-text-block"></td>
                <td lang="{{row.language}}">{{row.title}}&nbsp;</td>
                <td>{{row.language | displayIsoLanguage: currentLanguage}}&nbsp;</td>
                <td><a ng-href="{{row.id}}" target="_blank">{{row.fileName}}<md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">{{'global.tooltips.files.download' | translate: {filename: row.fileName} }}</md-tooltip></a>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <md-divider ng-if="ctrl.createMode"></md-divider>
    <md-card-content ng-if="ctrl.createMode">
      {{'study-management.detail.attachments.save-study-before-adding-attachment' | translate}}
    </md-card-content>
    <md-card-actions ng-if="!ctrl.createMode" style="margin-top: 12px; margin-bottom: 12px;" layout="row" layout-align="begin center">
        <md-button class="md-primary md-raised md-icon-button" ng-click="ctrl.addAttachment($event)" style="margin-left: 6px;">
            <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                {{'study-management.detail.attachments.add-attachment-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">add</md-icon>
        </md-button>
        <md-button ng-disabled="ctrl.currentAttachmentIndex == null || ctrl.currentAttachmentIndex === 0" class="md-primary md-raised md-icon-button" ng-click="ctrl.moveAttachmentUp()">
            <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                {{'study-management.detail.attachments.move-attachment-up-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">keyboard_arrow_up</md-icon>
        </md-button>
        <md-button ng-disabled="ctrl.currentAttachmentIndex == null || ctrl.currentAttachmentIndex === ctrl.attachments.length - 1" class="md-primary md-raised md-icon-button" ng-click="ctrl.moveAttachmentDown()">
            <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                {{'study-management.detail.attachments.move-attachment-down-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">keyboard_arrow_down</md-icon>
        </md-button>
        <md-button ng-disabled="!ctrl.attachmentOrderIsDirty" class="md-accent md-raised md-icon-button" ng-click="ctrl.saveAttachmentOrder()">
            <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
                {{'study-management.detail.attachments.save-attachment-order-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">save</md-icon>
        </md-button>
    </md-card-actions>
</md-card>
<div ng-if="ctrl.study.id" class="fdz-fab-button-container" layout="column">
    <md-button class="md-fab md-raised md-primary" ng-click="ctrl.openRestorePreviousVersionDialog($event)" ng-disabled="ctrl.createMode">
        <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
            {{'study-management.edit.open-choose-previous-version-tooltip' | translate}}
        </md-tooltip>
        <md-icon md-font-set="material-icons">undo</md-icon>
    </md-button>
    <md-button class="md-fab md-raised md-accent" type="submit" ng-click="ctrl.saveStudy()" ng-disabled="studyForm.$invalid || !studyForm.$dirty">
        <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
            {{'study-management.edit.save-tooltip' | translate}}
        </md-tooltip>
        <md-icon md-font-set="material-icons">save</md-icon>
    </md-button>
</div>
