<div ng-if="ctrl.study.id">
    <div layout="row" style="margin-bottom: 0px;" layout-margin>
        <h1 class="md-headline" style="margin-left: 0px;"><span display-i18n-string="ctrl.study.title"></span> <span class="label label-as-badge label-default">{{ctrl.study.id}}</span></h1>
    </div>
    <div layout="column" layout-gt-sm="row">
        <div flex-gt-sm="50" layout="column">
            <md-card flex="auto">
                <md-card-header>
                    <md-card-header-text>
                        <h2 class="md-title">{{'global.cards.details' | translate }}</h2>
                    </md-card-header-text>
                </md-card-header>
                <md-divider></md-divider>
                <md-card-content>
                    <div style="margin-bottom: 0.5em;">
                        <span style="font-weight: bold;">{{'study-management.detail.surveySeries' | translate }}:</span>
                        <span display-i18n-string="ctrl.study.surveySeries"></span>
                    </div>
                    <div style="margin-bottom: 0.5em;" ng-if="ctrl.study.institution">
                        <span style="font-weight: bold;">{{'study-management.detail.institution' | translate }}:</span>
                        <span display-i18n-string="ctrl.study.institution"></span>
                    </div>
                    <div style="margin-bottom: 0.5em;" ng-if="ctrl.study.authors">
                        <span style="font-weight: bold;">{{'study-management.detail.authors' | translate }}:</span>
                        <span ng-repeat="author in ctrl.study.authors">{{author.lastName}}, {{author.firstName}} {{author.middleName}}; </span>
                    </div>
                    <div style="margin-bottom: 0.5em;" ng-if="ctrl.study.sponsor">
                        <span style="font-weight: bold;">{{'study-management.detail.sponsors' | translate }}:</span>
                        <span display-i18n-string="ctrl.study.sponsor"></span>
                    </div>
                    <div style="margin-bottom: 0.5em;" ng-if="ctrl.study.surveyDesign">
                        <span style="font-weight: bold;">{{'study-management.detail.surveyDesign' | translate }}:</span>
                        <span display-i18n-string="ctrl.study.surveyDesign"></span>
                    </div>
                    <div style="margin-bottom: 0.5em;" ng-if="ctrl.study.citationHint">
                        <span style="font-weight: bold;">{{'study-management.detail.citationHint' | translate }}:</span>
                        <span display-i18n-string="ctrl.study.citationHint"></span>
                    </div>
                    <div style="margin-bottom: 0.5em;" ng-if="ctrl.study.doi">
                        <span style="font-weight: bold;">{{'study-management.detail.doi' | translate }}:</span>
                        <a ng-href="https://dx.doi.org/{{ctrl.study.doi}}" target="_blank">{{ctrl.study.doi}}<md-tooltip md-autohide="true">
                            {{'study-management.detail.doi-tooltip' | translate}}
                        </md-tooltip>
                        </a>
                    </div>
                    <div style="margin-bottom: 0.5em;">
                        <span style="font-weight: bold;">{{'study-management.detail.version' | translate }}:</span>
                        <span>{{ctrl.study.release?ctrl.study.release.version: ('study-management.detail.not-yet-released' | translate)}}</span>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div flex-gt-sm="50" layout="column">
            <md-card flex="auto" ng-class="{'fdz-reset-left-margin': $mdMedia('gt-sm'), 'fdz-reset-top-margin': $mdMedia('sm') || $mdMedia('xs')}">
                <md-card-header>
                    <md-card-header-text>
                        <h2 class="md-title">{{'global.cards.related-objects' | translate }}</h2>
                    </md-card-header-text>
                </md-card-header>
                <md-divider></md-divider>
                <md-card-content layout="column" layout-align="center start">
                    <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                        <div ng-if="ctrl.counts.surveysCount == 0" class="fdz-truncate-string" flex>
                            <md-icon md-svg-src="/assets/images/icons/survey.svg"></md-icon>
                            {{'survey-management.detail.surveys' | translate }}: {{'global.messages.error.unavailable' | translate}}
                        </div>
                        <div ng-if="ctrl.counts.surveysCount == 1 && ctrl.survey" class="fdz-truncate-string" flex>
                            <a ui-sref="surveyDetail({'id': ctrl.survey.id})">
                                <md-icon md-svg-src="/assets/images/icons/survey.svg"></md-icon>
                                {{'survey-management.detail.survey' | translate }}:
                                <span display-i18n-string="ctrl.survey.title"></span>
                                <md-tooltip md-autohide="true">
                                    {{'study-management.detail.tooltips.surveys.one' | translate}}
                                </md-tooltip>
                              </a>
                        </div>
                        <div ng-if="ctrl.counts.surveysCount > 1" class="fdz-truncate-string" flex>
                            <a ui-sref="search({'type': 'surveys', 'data-set': ctrl.dataSet.id, 'page': 1})">
                                <md-icon md-svg-src="/assets/images/icons/survey.svg"></md-icon>
                                {{'survey-management.detail.surveys' | translate }}: ({{ctrl.counts.surveysCount}})
                                <md-tooltip md-autohide="true">
                                    {{'study-management.detail.tooltips.surveys.many' | translate}}
                                </md-tooltip>
                            </a>
                        </div>
                    </div>
                    <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                        <div ng-if="ctrl.counts.dataSetsCount == 0" class="fdz-truncate-string" flex>
                            <md-icon md-svg-src="/assets/images/icons/data-set.svg"></md-icon>
                            {{'data-set-management.detail.data-sets' | translate }}: {{'global.messages.error.unavailable' | translate}}
                        </div>
                        <div ng-if="ctrl.counts.dataSetsCount == 1 && ctrl.dataSet" class="fdz-truncate-string" flex>
                            <a ui-sref="dataSetDetail({'id': ctrl.dataSet.id})">
                                <md-icon md-svg-src="/assets/images/icons/data-set.svg"></md-icon>
                                {{'data-set-management.detail.data-set' | translate }}:
                                <span display-i18n-string="ctrl.dataSet.description"></span>
                                <md-tooltip md-autohide="true">
                                    {{'study-management.detail.tooltips.data-sets.one' | translate}}
                                </md-tooltip>
                            </a>
                        </div>
                        <div ng-if="ctrl.counts.dataSetsCount > 1" class="fdz-truncate-string" flex>
                            <a ui-sref="search({'type': 'data_sets', 'survey':ctrl.survey.id, 'page': 1})">
                                <md-icon md-svg-src="/assets/images/icons/data-set.svg"></md-icon>
                                {{'data-set-management.detail.data-sets' | translate }}: ({{ctrl.counts.dataSetsCount}})
                                <md-tooltip md-autohide="true">
                                    {{'study-management.detail.tooltips.data-sets.many' | translate}}
                                </md-tooltip>
                            </a>
                        </div>
                    </div>
                    <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                        <div ng-if="ctrl.counts.publicationsCount == 0" class="fdz-truncate-string" flex>
                            <md-icon md-svg-src="/assets/images/icons/related-publication.svg"></md-icon>
                            {{'related-publication-management.detail.publications' | translate }}: {{'global.messages.error.unavailable' | translate}}
                        </div>
                        <div ng-if="ctrl.counts.publicationsCount == 1" class="fdz-truncate-string" flex>
                            <a ui-sref="relatedPublicationDetail({'id': ctrl.relatedPublication.id})">
                                <md-icon md-svg-src="/assets/images/icons/related-publication.svg"></md-icon>
                                {{'related-publication-management.detail.publication' | translate }}: {{ctrl.relatedPublication.title}}
                                <md-tooltip md-autohide="true">
                                    {{'study-management.detail.tooltips.publications.one' | translate}}
                                </md-tooltip>
                            </a>
                        </div>
                        <div ng-if="ctrl.counts.publicationsCount > 1" class="fdz-truncate-string" flex>
                            <a ui-sref="search({'type': 'related_publications', 'study': ctrl.study.id, 'page': 1})">
                                <md-icon md-svg-src="/assets/images/icons/related-publication.svg"></md-icon>
                                {{'related-publication-management.detail.publications' | translate }}: ({{ctrl.counts.publicationsCount}})
                                <md-tooltip md-autohide="true">
                                    {{'study-management.detail.tooltips.publications.many' | translate}}
                                </md-tooltip>
                            </a>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div layout="row">
        <md-card flex class="fdz-reset-top-margin">
            <md-card-header>
                <md-card-header-text>
                    <h2 class="md-title">{{'study-management.detail.description' | translate }}</h2>
                </md-card-header-text>
            </md-card-header>
            <md-divider></md-divider>
            <md-card-content>
                <p display-i18n-string="ctrl.study.description"></p>
            </md-card-content>
        </md-card>
    </div>
    <div layout="row" ng-if="ctrl.dataSets.length > 0">
        <md-card flex class="fdz-reset-top-margin">
            <md-card-header layout-align="center center">
                <md-card-header-text>
                    <h2 class="md-title">{{'study-management.detail.data-set.card-title' | translate }}</h2>
                </md-card-header-text>
            </md-card-header>
            <table class="fdz-table">
                <thead>
                    <tr>
                        <th>{{'study-management.detail.data-set.description' | translate }}
                            <md-tooltip hide-gt-xs md-direction="right">
                                {{'study-management.detail.data-set.description' | translate }}
                            </md-tooltip>
                        </th>
                        <th>{{'study-management.detail.data-set.accessWays' | translate }}
                            <md-tooltip hide-gt-xs md-direction="right">
                                {{'study-management.detail.data-set.accessWays' | translate }}
                            </md-tooltip>
                        <th>{{'study-management.detail.data-set.maxNumberOfObservations' | translate }} <span katex>(max)</span>
                            <md-tooltip hide-gt-xs md-direction="right">
                                {{'study-management.detail.data-set.maxNumberOfObservations' | translate }} <span katex>(max)</span>
                            </md-tooltip>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in ctrl.dataSets | orderBy: 'number'">
                        <td><a ui-sref="dataSetDetail({'id': row.id})">
                          <span display-i18n-string="row.description"></span>&nbsp;
                          <md-tooltip md-autohide="true">
                                {{'study-management.detail.data-set.description-tooltip' | translate: {id:row.id} }}
                            </md-tooltip></a></td>
                        <td>{{row.accessWays}}</td>
                        <td>{{row.maxOfNumberOfObservations}}</td>
                    </tr>
                </tbody>
            </table>
        </md-card>
    </div>

    <div layout="row">
        <md-card flex class="fdz-reset-top-margin">
            <md-card-header>
                <md-card-header-text>
                    <h2 class="md-title">{{'study-management.detail.basic-data-of-surveys' | translate }}</h2>
                </md-card-header-text>
            </md-card-header>
            <md-divider></md-divider>
            <md-card-content></md-card-content>
        </md-card>
    </div>
    <div layout="row">
        <md-card flex class="fdz-reset-top-margin">
            <md-card-header>
                <md-card-header-text>
                    <h2 class="md-title">{{'study-management.detail.downloads' | translate }}</h2>
                </md-card-header-text>
            </md-card-header>
            <md-divider></md-divider>
            <md-card-content></md-card-content>
        </md-card>
    </div>
    <div layout="row">
        <md-card flex class="fdz-reset-top-margin">
            <md-card-header>
                <md-card-header-text>
                    <h2 class="md-title">....</h2>
                </md-card-header-text>
            </md-card-header>
            <md-divider></md-divider>
            <md-card-content></md-card-content>
        </md-card>
    </div>
</div>
