<div class="fdz-cc">
  <form name="studyForm">
    <div ng-if="ctrl.study.id">
      <div layout="row" layout-margin class="mb0">
        <h1 class="md-headline" ng-if="ctrl.createMode">
          {{'study-management.edit.label.create-study' | translate}} <span class="label label-as-badge label-default">{{ctrl.study.id}}</span>
        </h1>
        <h1 class="md-headline" ng-if="!ctrl.createMode">
          {{'study-management.edit.label.edit-study' | translate}} <span class="label label-as-badge label-default">{{ctrl.study.id}}</span>
        </h1>
      </div>
      <md-card>
        <md-card-header>
          <md-card-header-text>
            <h2 class="md-title">{{'global.cards.details' | translate }}</h2>
          </md-card-header-text>
        </md-card-header>
        <md-divider></md-divider>
        <md-card-content>
          <div layout="column" layout-gt-sm="row" class="ms-flex">
            <md-input-container flex="50"
                                md-is-error="!studyForm.titleDe.$valid && (studyForm.titleDe.$dirty || studyForm.titleDe.$touched)"
                                ng-class="{'mr10': $mdMedia('gt-sm')}"
                                class="ms-flex">
              <label class="fdz-input-required">{{'study-management.detail.label.title' | translate}}
                ({{'global.in-german' | translate}})</label>
              <input fdz-required lang="de" md-maxlength="2048" md-no-asterisk name="titleDe"
                     ng-model="ctrl.study.title.de" ng-trim="true">
              <div class="fdz-input-hint" ng-if="!studyForm.titleDe.$dirty && !studyForm.titleDe.$touched">
                {{'study-management.edit.hints.title.de' | translate}}
              </div>
              <div multiple ng-messages="studyForm.titleDe.$error">
                <div ng-message="fdz-required">{{'study-management.error.study.title.i18n-string-entire-not-empty' |
                  translate}}
                </div>
                <div ng-message="md-maxlength">{{'study-management.error.study.title.i18n-string-size' | translate}}
                </div>
              </div>
            </md-input-container>
            <md-input-container flex="50"
                                md-is-error="!studyForm.titleEn.$valid && (studyForm.titleEn.$dirty || studyForm.titleEn.$touched)"
                                class="ms-flex">
              <label class="fdz-input-required">{{'study-management.detail.label.title' | translate}}
                ({{'global.in-english' | translate}})</label>
              <input fdz-required lang="en" md-maxlength="2048" md-no-asterisk name="titleEn"
                     ng-model="ctrl.study.title.en">
              <div class="fdz-input-hint" ng-if="!studyForm.titleEn.$dirty && !studyForm.titleEn.$touched">
                {{'study-management.edit.hints.title.en' | translate}}
              </div>
              <div multiple ng-messages="studyForm.titleEn.$error">
                <div ng-message="fdz-required">{{'study-management.error.study.title.i18n-string-entire-not-empty' |
                  translate}}
                </div>
                <div ng-message="md-maxlength">{{'study-management.error.study.title.i18n-string-size' | translate}}
                </div>
              </div>
            </md-input-container>
          </div>
          <div layout="column" layout-gt-sm="row">
            <md-autocomplete flex="50" md-clear-button="true" md-delay="250"
                             md-floating-label="{{'study-management.detail.label.studySeries' | translate}} ({{'global.in-german' | translate}})"
                             md-input-maxlength="512"
                             md-input-name="studySeriesDe"
                             md-is-error="!studyForm.studySeriesDe.$valid && (studyForm.studySeriesDe.$dirty studyForm.studySeriesDe.$touched) "
                             md-item-text="item.de"
                             md-items="item in searchStudySeries(ctrl.study.studySeries.de, 'de')"
                             md-match-case-insensitive="true" md-min-length="0"
                             md-no-cache="true" md-require-match="false"
                             md-search-text="ctrl.study.studySeries.de"
                             md-select-on-match="true" md-selected-item="ctrl.currentStudySeries" ng-pattern="/^[^,]*$/"
                             class="ms-flex">
              <md-item-template>
                <span class="md-title" md-highlight-flags="ig" md-highlight-text="ctrl.study.studySeries.de"
                      style="font-size: 14px;">{{item.de}}</span>
              </md-item-template>
              <md-not-found>
                {{'search-management.filter.study-series-filter.not-found' | translate}}
              </md-not-found>
              <div class="fdz-input-hint" ng-if="!studyForm.studySeriesDe.$dirty && !studyForm.studySeriesDe.$touched">
                {{'study-management.edit.hints.study-series.de' | translate}}
              </div>
              <div multiple ng-messages="studyForm.studySeriesDe.$error">
                <div ng-message="fdz-required">
                  {{'study-management.error.study.study-series.i18n-string-entire-not-empty-optional' | translate}}
                </div>
                <div ng-message="pattern">
                  {{'study-management.error.study.study-series.i18n-string-must-not-contain-comma' | translate}}
                </div>
                <div ng-message="maxlength">{{'study-management.error.study.study-series.i18n-string-size' |
                  translate}}
                </div>
              </div>
            </md-autocomplete>
            <md-autocomplete flex="50" md-clear-button="true" md-delay="250"
                             md-floating-label="{{'study-management.detail.label.studySeries' | translate}} ({{'global.in-english' | translate}})"
                             md-input-maxlength="512"
                             md-input-name="studySeriesEn"
                             md-is-error="!studyForm.studySeriesEn.$valid && (studyForm.studySeriesEn.$dirty || studyForm.studySeriesEn.$touched)"
                             md-item-text="item.en"
                             md-items="item in searchStudySeries(ctrl.study.studySeries.en, 'en')"
                             md-match-case-insensitive="true" md-min-length="0"
                             md-no-cache="true" md-require-match="false"
                             md-search-text="ctrl.study.studySeries.en"
                             md-select-on-match="true" md-selected-item="ctrl.currentStudySeries" ng-pattern="/^[^,]*$/"
                             class="ms-flex">
              <md-item-template>
                <span class="md-title" md-highlight-flags="ig" md-highlight-text="ctrl.study.studySeries.en"
                      style="font-size: 14px;">{{item.en}}</span>
              </md-item-template>
              <md-not-found>
                {{'search-management.filter.study-series-filter.not-found' | translate}}
              </md-not-found>
              <div class="fdz-input-hint" ng-if="!studyForm.studySeriesEn.$dirty && !studyForm.studySeriesEn.$touched">
                {{'study-management.edit.hints.study-series.en' | translate}}
              </div>
              <div multiple ng-messages="studyForm.studySeriesEn.$error">
                <div ng-message="fdz-required">
                  {{'study-management.error.study.study-series.i18n-string-entire-not-empty-optional' | translate}}
                </div>
                <div ng-message="pattern">
                  {{'study-management.error.study.study-series.i18n-string-must-not-contain-comma' | translate}}
                </div>
                <div ng-message="maxlength">{{'study-management.error.study.study-series.i18n-string-size' |
                  translate}}
                </div>
              </div>
            </md-autocomplete>
          </div>
          <div layout="column" layout-gt-sm="row" class="ms-flex">
            <md-autocomplete flex="50" md-clear-button="true" md-delay="250"
                             md-floating-label="{{'study-management.detail.label.sponsors' | translate}} ({{'global.in-german' | translate}})"
                             md-input-maxlength="512" md-input-name="sponsorDe"
                             md-is-error="!studyForm.sponsorDe.$valid && (studyForm.sponsorDe.$dirty studyForm.sponsorDe.$touched)"
                             md-item-text="item.de" md-items="item in searchSponsors(ctrl.study.sponsor.de, 'de')"
                             md-match-case-insensitive="true"
                             md-min-length="0"
                             md-no-cache="true" md-require-match="false"
                             md-search-text="ctrl.study.sponsor.de" md-select-on-match="true"
                             md-selected-item="ctrl.currentSponsor" md-selected-item-change="studyForm.$setDirty()"
                             ng-required="true"
                             class="ms-flex">
              <md-item-template>
                <span class="md-title" md-highlight-flags="ig" md-highlight-text="ctrl.study.sponsor.de"
                      style="font-size: 14px;">{{item.de}}</span>
              </md-item-template>
              <md-not-found>
                {{'search-management.filter.sponsor-filter.not-found' | translate}}
              </md-not-found>
              <div class="fdz-input-hint" ng-if="!studyForm.sponsorDe.$dirty && !studyForm.sponsorDe.$touched">
                {{'study-management.edit.hints.sponsor.de' | translate}}
              </div>
              <div multiple ng-messages="studyForm.sponsorDe.$error">
                <div ng-message="required">{{'study-management.error.study.sponsor.i18n-string-entire-not-empty' |
                  translate}}
                </div>
                <div ng-message="maxlength">{{'study-management.error.study.sponsor.i18n-string-size' | translate}}
                </div>
              </div>
            </md-autocomplete>
            <md-autocomplete flex="50" md-clear-button="true" md-delay="250"
                             md-floating-label="{{'study-management.detail.label.sponsors' | translate}} ({{'global.in-english' | translate}})"
                             md-input-maxlength="512" md-input-name="sponsorEn"
                             md-is-error="!studyForm.sponsorEn.$valid && (studyForm.sponsorEn.$dirty || studyForm.sponsorEn.$touched)"
                             md-item-text="item.en" md-items="item in searchSponsors(ctrl.study.sponsor.en, 'en')"
                             md-match-case-insensitive="true" md-min-length="0"
                             md-no-cache="true" md-require-match="false"
                             md-search-text="ctrl.study.sponsor.en" md-select-on-match="true"
                             md-selected-item="ctrl.currentSponsor" md-selected-item-change="studyForm.$setDirty()"
                             ng-required="true"
                             class="ms-flex">
              <md-item-template>
                <span class="md-title" md-highlight-flags="ig" md-highlight-text="ctrl.study.sponsor.en"
                      style="font-size: 14px;">{{item.en}}</span>
              </md-item-template>
              <md-not-found>
                {{'search-management.filter.sponsor-filter.not-found' | translate}}
              </md-not-found>
              <div class="fdz-input-hint" ng-if="!studyForm.sponsorEn.$dirty && !studyForm.sponsorEn.$touched">
                {{'study-management.edit.hints.sponsor.en' | translate}}
              </div>
              <div multiple ng-messages="studyForm.sponsorEn.$error">
                <div ng-message="required">{{'study-management.error.study.sponsor.i18n-string-entire-not-empty' |
                  translate}}
                </div>
                <div ng-message="maxlength">{{'study-management.error.study.sponsor.i18n-string-size' | translate}}
                </div>
              </div>
            </md-autocomplete>
          </div>
          <div layout="column" layout-gt-sm="row">
            <md-input-container flex="50"
                                md-is-error="!studyForm.surveyDesign.$valid && (studyForm.surveyDesign.$dirty || studyForm.surveyDesign.$touched)"
                                class="ms-flex">
              <label>{{'study-management.detail.label.surveyDesign' | translate}}</label>
              <md-select name="surveyDesign" ng-model="ctrl.study.surveyDesign"
                         ng-model-options="{trackBy: '$value.de'}"
                         required>
                <md-option ng-repeat="surveyDesign in ctrl.surveyDesigns" ng-value="surveyDesign">
                  {{surveyDesign[currentLanguage]}}
                </md-option>
              </md-select>
              <div class="fdz-input-hint" ng-if="!studyForm.surveyDesign.$dirty && !studyForm.surveyDesign.$touched">
                {{'study-management.edit.hints.survey-design' | translate}}
              </div>
              <div multiple ng-messages="studyForm.surveyDesign.$error">
                <div ng-message="required">{{'study-management.error.study.survey-design.not-null' | translate}}</div>
              </div>
            </md-input-container>
            <div flex="50"></div>
          </div>
          <div layout="column" layout-gt-sm="row">
            <md-input-container flex="50"
                                md-is-error="!studyForm.annotationsDe.$valid && (studyForm.annotationsDe.$dirty || studyForm.annotationsDe.$touched)"
                                ng-class="{'mr10': $mdMedia('gt-sm')}"
                                class="ms-flex">
              <label>{{'study-management.detail.label.annotations' | translate}} ({{'global.in-german' |
                translate}})</label>
              <textarea lang="de" md-maxlength="2048" name="annotationsDe" ng-model="ctrl.study.annotations.de"
                        rows="4"></textarea>
              <div class="fdz-input-hint" ng-if="!studyForm.annotationsDe.$dirty && !studyForm.annotationsDe.$touched">
                {{'study-management.edit.hints.annotations.de' | translate}}
              </div>
              <div multiple ng-messages="studyForm.annotationsDe.$error">
                <div ng-message="md-maxlength">{{'study-management.error.study.annotations.i18n-string-size' |
                  translate}}
                </div>
              </div>
            </md-input-container>
            <md-input-container flex="50"
                                md-is-error="!studyForm.annotationsEn.$valid && (studyForm.annotationsEn.$dirty || studyForm.annotationsEn.$touched)"
                                class="ms-flex">
              <label>{{'study-management.detail.label.annotations' | translate}} ({{'global.in-english' |
                translate}})</label>
              <textarea lang="en" md-maxlength="2048" name="annotationsEn" ng-model="ctrl.study.annotations.en"
                        rows="4"></textarea>
              <div class="fdz-input-hint" ng-if="!studyForm.annotationsEn.$dirty && !studyForm.annotationsEn.$touched">
                {{'study-management.edit.hints.annotations.en' | translate}}
              </div>
              <div multiple ng-messages="studyForm.annotationsEn.$error">
                <div ng-message="md-maxlength">{{'study-management.error.study.annotations.i18n-string-size' |
                  translate}}
                </div>
              </div>
            </md-input-container>
          </div>
          <div layout="column" layout-gt-sm="row">
            <md-input-container flex="50"
                                md-is-error="!studyForm.dataAvailability.$valid && (studyForm.dataAvailability.$dirty || studyForm.dataAvailability.$touched)"
                                class="ms-flex">
              <label>{{'study-management.detail.label.dataAvailability' | translate}}</label>
              <md-select name="dataAvailability" ng-model="ctrl.study.dataAvailability"
                         ng-model-options="{trackBy: '$value.de'}"
                         required>
                <md-option ng-repeat="dataAvailability in ctrl.dataAvailabilities" ng-value="dataAvailability">
                  {{dataAvailability[currentLanguage]}}
                </md-option>
              </md-select>
              <div class="fdz-input-hint"
                   ng-if="!studyForm.dataAvailability.$dirty && !studyForm.dataAvailability.$touched">
                {{'study-management.edit.hints.data-availability' | translate}}
              </div>
              <div multiple ng-messages="studyForm.dataAvailability.$error">
                <div ng-message="required">{{'study-management.error.study.data-availability.not-null' | translate}}
                </div>
              </div>
            </md-input-container>
            <div flex="50"></div>
          </div>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-header>
          <md-card-header-text>
            <h2 class="md-title">{{'study-management.detail.label.institutions' | translate }}</h2>
          </md-card-header-text>
        </md-card-header>
        <md-divider></md-divider>
        <md-card-content style="padding-bottom: 0px; padding-left: 0px;">
          <div id="move-institution-container" layout="row"
               ng-repeat="institution in ctrl.currentInstitutions track by $index">
            <md-button class="md-primary md-icon-button" ng-click="ctrl.deleteInstitution($index)"
                       ng-if="ctrl.study.institutions.length > 1" style="margin-top: 18px; margin-left: 0px;">
              <md-tooltip md-autohide="true" md-direction="bottom"
                          md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'study-management.edit.delete-institution-tooltip' | translate}}
              </md-tooltip>
              <md-icon md-font-set="material-icons">delete_forever</md-icon>
            </md-button>
            <div ng-if="ctrl.study.institutions.length <= 1" class="ml16"></div>
            <md-autocomplete flex="50" md-clear-button="true" md-delay="250"
                             md-floating-label="{{'study-management.detail.label.institution' | translate}} ({{'global.in-german' | translate}})"
                             md-input-maxlength="512" md-input-name="institutionDe_{{$index}}"
                             md-is-error="!studyForm['institutionDe_' + $index].$valid && (studyForm['institutionDe_' + $index].$dirty || studyForm['institutionDe_' + $index].$touched)"
                             md-item-text="item.de"
                             md-items="item in searchInstitutions(ctrl.study.institutions[$index].de, 'de')"
                             md-match-case-insensitive="true" md-min-length="0"
                             md-no-cache="true"
                             md-require-match="false"
                             md-search-text="ctrl.study.institutions[$index].de"
                             md-select-on-match="true" md-selected-item="ctrl.currentInstitutions[$index]"
                             md-selected-item-change="studyForm.$setDirty()"
                             ng-blur="ctrl.deleteCurrentInstitution($event)"
                             ng-focus="ctrl.setCurrentInstitution($index,$event)"
                             ng-required="true"
                             class="ms-flex">
              <md-item-template>
                <span class="md-title" md-highlight-flags="ig"
                      md-highlight-text="ctrl.study.institutions[$parent.$index].de"
                      style="font-size: 14px;">{{item.de}}</span>
              </md-item-template>
              <md-not-found>
                {{'search-management.filter.institution-filter.not-found' | translate}}
              </md-not-found>
              <div
                class="fdz-input-hint"
                ng-if="!studyForm['institutionDe_' + $parent.$index].$dirty && !studyForm['institutionDe_' + $parent.$index].$touched">
                {{'study-management.edit.hints.institution.de' | translate}}
              </div>
              <div multiple ng-messages="studyForm['institutionDe_' + $parent.$index].$error">
                <div ng-message="required">{{'study-management.error.study.institution.i18n-string-entire-not-empty' |
                  translate}}
                </div>
                <div ng-message="maxlength">{{'study-management.error.study.institution.i18n-string-size' |
                  translate}}
                </div>
              </div>
            </md-autocomplete>
            <md-autocomplete flex="50" md-clear-button="true" md-delay="250"
                             md-floating-label="{{'study-management.detail.label.institution' | translate}} ({{'global.in-english' | translate}})"
                             md-input-maxlength="512" md-input-name="institutionEn_{{$index}}"
                             md-is-error="!studyForm['institutionEn_' + $index].$valid && (studyForm['institutionEn_' + $index].$dirty || studyForm['institutionEn_' + $index].$touched)"
                             md-item-text="item.en"
                             md-items="item in searchInstitutions(ctrl.study.institutions[$index].en, 'en')"
                             md-match-case-insensitive="true" md-min-length="0"
                             md-no-cache="true"
                             md-require-match="false"
                             md-search-text="ctrl.study.institutions[$index].en"
                             md-select-on-match="true" md-selected-item="ctrl.currentInstitutions[$index]"
                             md-selected-item-change="studyForm.$setDirty()"
                             ng-blur="ctrl.deleteCurrentInstitution($event)"
                             ng-focus="ctrl.setCurrentInstitution($index,$event)"
                             ng-required="true"
                             class="ms-flex">
              <md-item-template>
                <span class="md-title" md-highlight-flags="ig"
                      md-highlight-text="ctrl.study.institutions[$parent.$index].en"
                      style="font-size: 14px;">{{item.en}}</span>
              </md-item-template>
              <md-not-found>
                {{'search-management.filter.institution-filter.not-found' | translate}}
              </md-not-found>
              <div
                class="fdz-input-hint"
                ng-if="!studyForm['institutionEn_' + $parent.$index].$dirty && !studyForm['institutionEn_' + $parent.$index].$touched">
                {{'study-management.edit.hints.institution.en' | translate}}
              </div>
              <div multiple ng-messages="studyForm['institutionEn_' + $parent.$index].$error">
                <div ng-message="required">{{'study-management.error.study.institution.i18n-string-entire-not-empty' |
                  translate}}
                </div>
                <div ng-message="maxlength">{{'study-management.error.study.institution.i18n-string-size' |
                  translate}}
                </div>
              </div>
            </md-autocomplete>
          </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="begin center" style="margin-top: 0px; margin-bottom: 12px;">
          <md-button class="md-primary md-raised md-icon-button ml6" ng-click="ctrl.addInstitution()">
            <md-tooltip md-autohide="true" md-direction="bottom"
                        md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'study-management.edit.add-institution-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">add</md-icon>
          </md-button>
          <md-button class="md-primary md-raised md-icon-button"
                     id="move-institution-up-button"
                     ng-click="ctrl.moveCurrentInstitutionUp()"
                     ng-disabled="ctrl.currentInstitutionIndex == null || ctrl.currentInstitutionIndex === 0">
            <md-tooltip md-autohide="true" md-direction="bottom"
                        md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'study-management.edit.move-institution-up-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">keyboard_arrow_up</md-icon>
          </md-button>
          <md-button class="md-primary md-raised md-icon-button"
                     id="move-institution-down-button"
                     ng-click="ctrl.moveCurrentInstitutionDown()"
                     ng-disabled="ctrl.currentInstitutionIndex == null || ctrl.currentInstitutionIndex === ctrl.study.institutions.length - 1">
            <md-tooltip md-autohide="true" md-direction="bottom"
                        md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'study-management.edit.move-institution-down-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">keyboard_arrow_down</md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
      <md-card>
        <md-card-header>
          <md-card-header-text>
            <h2 class="md-title">{{'study-management.detail.description' | translate | fdzHyphenate}}</h2>
          </md-card-header-text>
        </md-card-header>
        <md-divider></md-divider>
        <md-card-content>
          <div layout="column" layout-gt-sm="row">
            <md-input-container flex="50"
                                md-is-error="!studyForm.descriptionDe.$valid && (studyForm.descriptionDe.$dirty || studyForm.descriptionDe.$touched)"
                                ng-class="{'mr10': $mdMedia('gt-sm')}"
                                class="ms-flex">
              <label class="fdz-input-required">{{'study-management.detail.description' | translate}}
                ({{'global.in-german' | translate}})</label>
              <textarea fdz-required lang="de" md-maxlength="2048" md-no-asterisk
                        name="descriptionDe" ng-model="ctrl.study.description.de" rows="4"></textarea>
              <div class="fdz-input-hint" ng-if="!studyForm.descriptionDe.$dirty && !studyForm.descriptionDe.$touched">
                {{'study-management.edit.hints.description.de' | translate}}
              </div>
              <div multiple ng-messages="studyForm.descriptionDe.$error">
                <div ng-message="fdz-required">{{'study-management.error.study.description.i18n-string-not-empty' |
                  translate}}
                </div>
                <div ng-message="md-maxlength">{{'study-management.error.study.description.i18n-string-size' |
                  translate}}
                </div>
              </div>
            </md-input-container>
            <md-input-container flex="50"
                                md-is-error="!studyForm.descriptionEn.$valid && (studyForm.descriptionEn.$dirty || studyForm.descriptionEn.$touched)"
                                class="ms-flex">
              <label class="fdz-input-required">{{'study-management.detail.description' | translate}}
                ({{'global.in-english' | translate}})</label>
              <textarea fdz-required lang="en" md-maxlength="2048" md-no-asterisk
                        name="descriptionEn" ng-model="ctrl.study.description.en" rows="4"></textarea>
              <div class="fdz-input-hint" ng-if="!studyForm.descriptionEn.$dirty && !studyForm.descriptionEn.$touched">
                {{'study-management.edit.hints.description.en' | translate}}
              </div>
              <div multiple ng-messages="studyForm.descriptionEn.$error">
                <div ng-message="fdz-required">{{'study-management.error.study.description.i18n-string-not-empty' |
                  translate}}
                </div>
                <div ng-message="md-maxlength">{{'study-management.error.study.description.i18n-string-size' |
                  translate}}
                </div>
              </div>
            </md-input-container>
          </div>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-header>
          <md-card-header-text>
            <h2 class="md-title">{{'study-management.detail.label.authors' | translate }}</h2>
          </md-card-header-text>
        </md-card-header>
        <md-divider></md-divider>
        <md-card-content style="padding-bottom: 0px; padding-left: 0px;">
          <div id="move-container" layout="row" ng-repeat="person in ctrl.study.authors track by $index">
            <md-button class="md-primary md-icon-button" ng-click="ctrl.deleteAuthor($index)"
                       ng-if="ctrl.study.authors.length > 1"
                       style="margin-top: 18px; margin-left: 0px; margin-right: 0px;">
              <md-tooltip md-autohide="true" md-direction="bottom"
                          md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'study-management.edit.delete-author-tooltip' | translate}}
              </md-tooltip>
              <md-icon md-font-set="material-icons">delete_forever</md-icon>
            </md-button>
            <div ng-if="ctrl.study.authors.length <= 1" class="ml16"></div>
            <md-input-container flex="33"
                                md-is-error="!studyForm['authorsFirstName_' + $index].$valid && (studyForm['authorsFirstName_' + $index].$dirty || studyForm['authorsFirstName_' + $index].$touched)">
              <label class="fdz-input-required">{{'study-management.edit.label.first-name' | translate}}</label>
              <input fdz-required md-no-asterisk name="authorsFirstName_{{$index}}"
                     ng-blur="ctrl.deleteCurrentAuthor($event)" ng-focus="ctrl.setCurrentAuthor($index,$event)"
                     ng-model="person.firstName">
              <div
                class="fdz-input-hint"
                ng-if="!studyForm['authorsFirstName_' + $index].$dirty && !studyForm['authorsFirstName_' + $index].$touched">
                {{'study-management.edit.hints.authors.first-name' | translate}}
              </div>
              <div multiple ng-messages="studyForm['authorsFirstName_' + $index].$error">
                <div ng-message="fdz-required">{{'global.error.person.first-name.not-empty' | translate}}</div>
              </div>
            </md-input-container>
            <md-input-container flex
                                md-is-error="!studyForm['authorsMiddleName_' + $index].$valid && (studyForm['authorsMiddleName_' + $index].$dirty || studyForm['authorsMiddleName_' + $index].touched)">
              <label>{{'study-management.edit.label.middle-name' | translate}}</label>
              <input name="authorsMiddleName_{{$index}}" ng-blur="ctrl.deleteCurrentAuthor($event)"
                     ng-focus="ctrl.setCurrentAuthor($index,$event)" ng-model="person.middleName">
              <div
                class="fdz-input-hint"
                ng-if="!studyForm['authorsMiddleName_' + $index].$dirty && !studyForm['authorsMiddleName_' + $index].$touched">
                {{'study-management.edit.hints.authors.middle-name' | translate}}
              </div>
              <div multiple ng-messages="studyForm['authorsMiddleName_' + $index].$error">
              </div>
            </md-input-container>
            <md-input-container flex="33"
                                md-is-error="!studyForm['authorsLastName_' + $index].$valid && (studyForm['authorsLastName_' + $index].$dirty || studyForm['authorsLastName_' + $index].$touched)">
              <label class="fdz-input-required">{{'study-management.edit.label.last-name' | translate}}</label>
              <input fdz-required md-no-asterisk name="authorsLastName_{{$index}}"
                     ng-blur="ctrl.deleteCurrentAuthor($event)" ng-focus="ctrl.setCurrentAuthor($index,$event)"
                     ng-model="person.lastName">
              <div
                class="fdz-input-hint"
                ng-if="!studyForm['authorsLastName_' + $index].$dirty && !studyForm['authorsLastName_' + $index].$touched">
                {{'study-management.edit.hints.authors.last-name' | translate}}
              </div>
              <div multiple ng-messages="studyForm['authorsLastName_' + $index].$error">
                <div ng-message="fdz-required">{{'global.error.person.last-name.not-empty' | translate}}</div>
              </div>
            </md-input-container>
          </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="begin center" style="margin-top: 0px; margin-bottom: 12px;">
          <md-button class="md-primary md-raised md-icon-button ml6" ng-click="ctrl.addAuthor()">
            <md-tooltip md-autohide="true" md-direction="bottom"
                        md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'study-management.edit.add-author-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">add</md-icon>
          </md-button>
          <md-button class="md-primary md-raised md-icon-button"
                     id="move-author-up-button"
                     ng-click="ctrl.moveCurrentAuthorUp()"
                     ng-disabled="ctrl.currentAuthorIndex == null || ctrl.currentAuthorIndex === 0">
            <md-tooltip md-autohide="true" md-direction="bottom"
                        md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'study-management.edit.move-author-up-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">keyboard_arrow_up</md-icon>
          </md-button>
          <md-button class="md-primary md-raised md-icon-button"
                     id="move-author-down-button"
                     ng-click="ctrl.moveCurrentAuthorDown()"
                     ng-disabled="ctrl.currentAuthorIndex == null || ctrl.currentAuthorIndex === ctrl.study.authors.length - 1">
            <md-tooltip md-autohide="true" md-direction="bottom"
                        md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'study-management.edit.move-author-down-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">keyboard_arrow_down</md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
      <md-card>
        <md-card-header>
          <md-card-header-text>
            <h2 class="md-title">{{'study-management.edit.label.tags' | translate }}</h2>
          </md-card-header-text>
        </md-card-header>
        <md-divider></md-divider>
        <md-card-content>
          <tag-editor require-german-tag="true" tag-search="ctrl.findTags(searchText, language)"
                      tags="ctrl.study.tags"></tag-editor>
        </md-card-content>
      </md-card>
    </div>
  </form>
  <md-card class="mt0" ng-if="ctrl.study.id">
    <md-card-header layout-align="center center">
      <md-card-header-text>
        <h2 class="md-title">{{'study-management.detail.attachments.table-title' | translate | fdzHyphenate}}</h2>
      </md-card-header-text>
    </md-card-header>
    <table fdz-table ng-if="!ctrl.createMode && ctrl.attachments && ctrl.attachments.length > 0">
      <thead>
      <tr>
        <th>
          &nbsp;
        </th>
        <th style="min-height: 40px;">
          &nbsp;
        </th>
        <th style="min-height: 40px;">
          &nbsp;
        </th>
        <th>{{'study-management.detail.label.attachments.type' | translate }}
          <md-tooltip hide-gt-xs md-direction="right">
            {{'study-management.detail.label.attachments.type' | translate }}
          </md-tooltip>
        </th>
        <th class="fdz-table-half-absorbing-column">{{'study-management.detail.label.attachments.description' |
          translate }}
          <md-tooltip hide-gt-xs md-direction="right">
            {{'study-management.detail.label.attachments.description' | translate }}
          </md-tooltip>
        </th>
        <th class="fdz-table-half-absorbing-column">{{'study-management.detail.label.attachments.title' | translate }}
          <md-tooltip hide-gt-xs md-direction="right">
            {{'study-management.detail.label.attachments.title' | translate }}
          </md-tooltip>
        </th>
        <th>{{'study-management.detail.label.attachments.language' | translate }}
          <md-tooltip hide-gt-xs md-direction="right">
            {{'study-management.detail.label.attachments.language' | translate }}
          </md-tooltip>
        </th>
        <th>{{'study-management.detail.label.attachments.file' | translate }}
          <md-tooltip hide-gt-xs md-direction="right">
            {{'study-management.detail.label.attachments.file' | translate }}
          </md-tooltip>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-class="{'fdz-selected-table-row': $index === ctrl.currentAttachmentIndex}"
          ng-click="ctrl.selectAttachment($index)"
          ng-init="translationParams = {filename: row.fileName}"
          ng-repeat="row in ctrl.attachments">
        <td class="fdz-table-nowrap pr0">
          <md-radio-group class="md-primary" ng-model="ctrl.currentAttachmentIndex">
            <md-radio-button ng-value="$index" class="mb0">
              <md-tooltip md-autohide="true" md-direction="right"
                          md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'study-management.detail.attachments.select-attachment-tooltip' | translate:translationParams }}
              </md-tooltip>
            </md-radio-button>
          </md-radio-group>
        </td>
        <td class="fdz-table-nowrap pa0">
          <md-button class="md-primary md-icon-button ma0" ng-click="ctrl.editAttachment(row, $event)">
            <md-tooltip md-autohide="true" md-direction="bottom"
                        md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'study-management.detail.attachments.edit-attachment-tooltip' | translate:translationParams }}
            </md-tooltip>
            <md-icon md-font-set="material-icons">mode_edit</md-icon>
          </md-button>
        </td>
        <td class="fdz-table-nowrap" class="ma0">
          <md-button class="md-primary md-icon-button ma0" ng-click="ctrl.deleteAttachment(row, $index)">
            <md-tooltip md-autohide="true" md-direction="bottom"
                        md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'study-management.detail.attachments.delete-attachment-tooltip' | translate:translationParams }}
            </md-tooltip>
            <md-icon md-font-set="material-icons">delete_forever</md-icon>
          </md-button>
        </td>
        <td class="fdz-table-nowrap" display-i18n-string="row.type"></td>
        <td class="fdz-text-block" display-i18n-string="row.description" fdz-hyphenate></td>
        <td lang="{{row.language}}">{{row.title}}&nbsp;</td>
        <td>{{row.language | displayIsoLanguage: currentLanguage}}&nbsp;</td>
        <td class="nowrap"><a ng-href="{{row.id}}" target="_blank">{{row.fileName}}
          <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'global.tooltips.files.download' | translate: {filename: row.fileName} }}
          </md-tooltip>
        </a>&nbsp;
        </td>
      </tr>
      </tbody>
    </table>
    <md-divider ng-if="ctrl.createMode"></md-divider>
    <md-card-content ng-if="ctrl.createMode">
      {{'study-management.detail.attachments.save-study-before-adding-attachment' | translate}}
    </md-card-content>
    <md-card-actions layout="row" layout-align="begin center" ng-if="!ctrl.createMode"
                     style="margin-top: 12px; margin-bottom: 12px;">
      <md-button class="md-primary md-raised md-icon-button ml6" ng-click="ctrl.addAttachment($event)">
        <md-tooltip md-autohide="true" md-direction="bottom"
                    md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'study-management.detail.attachments.add-attachment-tooltip' | translate}}
        </md-tooltip>
        <md-icon md-font-set="material-icons">add</md-icon>
      </md-button>
      <md-button class="md-primary md-raised md-icon-button"
                 ng-click="ctrl.moveAttachmentUp()"
                 ng-disabled="ctrl.currentAttachmentIndex == null || ctrl.currentAttachmentIndex === 0">
        <md-tooltip md-autohide="true" md-direction="bottom"
                    md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'study-management.detail.attachments.move-attachment-up-tooltip' | translate}}
        </md-tooltip>
        <md-icon md-font-set="material-icons">keyboard_arrow_up</md-icon>
      </md-button>
      <md-button
        class="md-primary md-raised md-icon-button"
        ng-click="ctrl.moveAttachmentDown()"
        ng-disabled="ctrl.currentAttachmentIndex == null || ctrl.currentAttachmentIndex === ctrl.attachments.length - 1">
        <md-tooltip md-autohide="true" md-direction="bottom"
                    md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'study-management.detail.attachments.move-attachment-down-tooltip' | translate}}
        </md-tooltip>
        <md-icon md-font-set="material-icons">keyboard_arrow_down</md-icon>
      </md-button>
      <md-button class="md-accent md-raised md-icon-button" ng-click="ctrl.saveAttachmentOrder()"
                 ng-disabled="!ctrl.attachmentOrderIsDirty">
        <md-tooltip md-autohide="true" md-direction="bottom"
                    md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'study-management.detail.attachments.save-attachment-order-tooltip' | translate}}
        </md-tooltip>
        <md-icon md-font-set="material-icons">save</md-icon>
      </md-button>
    </md-card-actions>
  </md-card>
</div>
<div class="fdz-fab-button-container" layout="column" ng-if="ctrl.study.id">
  <md-button class="md-fab md-raised md-primary" ng-click="ctrl.openRestorePreviousVersionDialog($event)"
             ng-disabled="ctrl.createMode">
    <md-tooltip md-autohide="true" md-direction="left" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
      {{'study-management.edit.open-choose-previous-version-tooltip' | translate}}
    </md-tooltip>
    <md-icon md-font-set="material-icons" class="ml9">history</md-icon>
  </md-button>
  <md-button class="md-fab md-raised md-accent" ng-click="ctrl.saveStudy()" ng-disabled="!studyForm.$dirty"
             type="submit">
    <md-tooltip md-autohide="true" md-direction="left" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
      {{'study-management.edit.save-tooltip' | translate}}
    </md-tooltip>
    <md-icon md-font-set="material-icons">save</md-icon>
  </md-button>
</div>
