<md-dialog aria-label="{{'study-management.home.title' | translate }}" style="width: 70%;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'study-management.detail.studies' | translate }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="StudySearchDialogController.closeDialog()">
                <md-icon md-svg-src="/assets/images/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <related-studies method-name="{{StudySearchDialogController.methodName}}" method-params="StudySearchDialogController.methodParams" count="{{StudySearchDialogController.count}}"></related-studies>
    </md-dialog-content>
</md-dialog>
