<div ng-if="ctrl.study.$resolved">
    <md-card>
        <md-card-header>
            <md-card-header-text>
                <h1 class="md-headline">{{ctrl.study.title[currentLanguage]}}</h1>
            </md-card-header-text>
        </md-card-header>
        <md-card-content style="padding-top: 0px;" layout="column">
            <div layout="row" layout-sm="column" layout-xs="column">
                <md-card flex-gt-sm="60">
                    <md-card-header>
                        <md-card-header-text>
                            <h2 class="md-title">{{'global.cards.details' | translate }}</h2>
                        </md-card-header-text>
                    </md-card-header>
                    <md-divider></md-divider>
                    <md-card-content>
                        <div style="margin-bottom: 0.5em;" ng-if="ctrl.study.surveySeries[currentLanguage]">
                            <span style="font-weight: bold;">{{'study-management.detail.surveySeries' | translate }}:
                            </span>
                            <span>{{ctrl.study.surveySeries[currentLanguage]}}</span>
                        </div>
                        <div style="margin-bottom: 0.5em;" ng-if="ctrl.study.institution[currentLanguage]">
                            <span style="font-weight: bold;">{{'study-management.detail.institution' | translate }}:
                            </span>
                            <span>{{ctrl.study.institution[currentLanguage]}}</span>
                        </div>
                        <div style="margin-bottom: 0.5em;" ng-if="ctrl.study.authors">
                            <span style="font-weight: bold;">{{'study-management.detail.authors' | translate }}:
                            </span>
                            <span>{{ctrl.study.authors}}</span>
                        </div>
                        <div style="margin-bottom: 0.5em;" ng-if="ctrl.study.sponsor[currentLanguage]">
                            <span style="font-weight: bold;">{{'study-management.detail.sponsors' | translate }}:
                            </span>
                            <span>{{ctrl.study.sponsor[currentLanguage]}}</span>
                        </div>
                        <div style="margin-bottom: 0.5em;" ng-if="ctrl.study.accessWays">
                            <span style="font-weight: bold;">{{'study-management.detail.accessWays' | translate }}:
                            </span>
                            <span>{{ctrl.study.accessWays.join(', ')}}</span>
                        </div>
                            <div ng-if="ctrl.study.releases.length > 0" ng-repeat="release in ctrl.study.releases">
                                <div style="margin-bottom: 0.5em;">
                                    <span style="font-weight: bold;">doi:
                                    </span>
                                    <span>{{release.doi}}</span>
                                </div>
                                <div style="margin-bottom: 0.5em;">
                                    <span style="font-weight: bold;">{{'study-management.detail.version' | translate }}:
                                    </span>
                                    <span>{{release.version}}</span>
                                </div>
                        </div>
                        <div style="margin-bottom: 0.5em;" ng-if="ctrl.study.citationHint[currentLanguage]">
                            <span style="font-weight: bold;">{{'study-management.detail.citationHint' | translate }}:
                            </span>
                            <span>{{ctrl.study.citationHint[currentLanguage]}}</span>
                        </div>
                    </md-card-content>
                </md-card>
                <md-card flex-gt-sm="40">
                    <md-card-header>
                        <md-card-header-text>
                            <h2 class="md-title">{{'global.cards.related-objects' | translate }}</h2>
                        </md-card-header-text>
                    </md-card-header>
                    <md-divider></md-divider>
                    <md-card-content layout="column" layout-align="center start">
                        <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                            <md-icon md-svg-src="/assets/images/icons/question.svg" style="margin-top:0px; margin-right:4px;"></md-icon>
                            <div style="margin-right:3px;">{{'question-management.detail.questions' | translate }}:</div>
                            <a ng-click="ctrl.showRelatedQuestions()" class="fdz-truncate-string" flex>({{ctrl.counts.questionsCount}})</a>
                        </div>
                        <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                            <md-icon md-svg-src="/assets/images/icons/data-set.svg" style="margin-top:0px; margin-right:4px;"></md-icon>
                            <div style="margin-right:3px;">{{'data-set-management.detail.data-sets' | translate }}:</div>
                            <a ng-click="ctrl.showRelatedDataSets()" class="fdz-truncate-string" flex>({{ctrl.counts.dataSetsCount}})</a>
                        </div>
                        <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                            <md-icon md-svg-src="/assets/images/icons/survey.svg" style="margin-top:0px; margin-right:4px;"></md-icon>
                            <div style="margin-right:3px;">{{'survey-management.detail.surveys' | translate }}:</div>
                            <a ng-click="ctrl.showRelatedSurveys()" class="fdz-truncate-string" flex>({{ctrl.counts.surveysCount}})</a>
                        </div>
                        <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                            <md-icon md-svg-src="/assets/images/icons/related-publication.svg" style="margin-top:0px; margin-right:4px;"></md-icon>
                            <div style="margin-right:3px;">{{'related-publication-management.detail.publications' | translate }}:</div>
                            <a ng-click="ctrl.showRelatedPublications()" class="fdz-truncate-string" flex>({{ctrl.counts.publicationsCount}})</a>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="row">
                <md-card flex>
                    <md-card-header>
                        <md-card-header-text>
                            <h2 class="md-title">{{'study-management.detail.description' | translate }}</h2>
                        </md-card-header-text>
                    </md-card-header>
                    <md-divider></md-divider>
                    <md-card-content>
                        <p ng-if="ctrl.study.description[currentLanguage]">{{ctrl.study.description[currentLanguage]}}</p>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="row">
                <md-card flex>
                    <md-card-header>
                        <md-card-header-text>
                            <h2 class="md-title">....</h2>
                        </md-card-header-text>
                    </md-card-header>
                    <md-divider></md-divider>
                    <md-card-content>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="row">
                <md-card flex>
                    <md-card-header>
                        <md-card-header-text>
                            <h2 class="md-title">....</h2>
                        </md-card-header-text>
                    </md-card-header>
                    <md-divider></md-divider>
                    <md-card-content>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="row">
                <md-card flex>
                    <md-card-header>
                        <md-card-header-text>
                            <h2 class="md-title">....</h2>
                        </md-card-header-text>
                    </md-card-header>
                    <md-divider></md-divider>
                    <md-card-content>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="row">
                <md-card flex>
                    <md-card-header>
                        <md-card-header-text>
                            <h2 class="md-title">....</h2>
                        </md-card-header-text>
                    </md-card-header>
                    <md-divider></md-divider>
                    <md-card-content>
                    </md-card-content>
                </md-card>
            </div>
        </md-card-content>
    </md-card>
</div>
