<div layout="row" layout-align="center center">
  <ul class="breadcrumb">
    <li ng-repeat="item in items |limitTo:4"  ng-class="{'currentState':$last}"><a ng-href="{{item.url}}">{{stateNames[item.pageType][language]}}</a></li>
  </ul>
</div>
