<div class="fdz-cc-wide">
  <md-card>
    <md-card-content layout="column">
      <md-content style="background-color: white;" >
        <form role="search" class="pb8">
            <md-input-container class="fdz-search-input">
                <label data-translate="user-management.searchUsers"></label>
                <md-icon md-font-set="material-icons">search</md-icon>
                <input id="user-management-search" type="search" ng-model="searchFilter" ng-model-options="{debounce: 800}" ng-change="hideMobileKeyboardAndSearch($event)" autocomplete="off" tabindex="0" fdz-clear-input md-select-on-focus>
            </md-input-container>
        </form>
        <table class="table table-striped">
          <thead>
          <tr>
            <th data-translate="global.field.id">ID</th>
            <th data-translate="user-management.login.login">Login</th>
            <th data-translate="user-management.first-name">First name</th>
            <th data-translate="user-management.last-name">Last name</th>
            <th data-translate="user-management.email">Email</th>
            <th></th>
            <th data-translate="user-management.langKey">LangKey</th>
            <th data-translate="user-management.profiles">Profiles</th>
            <th data-translate="user-management.createdDate">CreatedDate</th>
            <th data-translate="user-management.lastModifiedBy">LastModifiedBy</th>
            <th data-translate="user-management.lastModifiedDate">LastModifiedDate</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="user in users track by user.id">
            <td>
              <a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a>
            </td>
            <td>{{user.login}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>
              <span class="label label-danger pointer" data-translate="user-management.deactivated" ng-click="setActive(user, true)"
                    ng-show="!user.activated">Desactivated</span>
              <span class="label label-success pointer" data-translate="user-management.activated" ng-click="setActive(user, false)"
                    ng-show="user.activated">Activated</span>
            </td>
            <td>{{user.langKey}}</td>
            <td>
              <div ng-repeat="authority in user.authorities">
                <span class="label label-info">{{ authority }}</span>
              </div>
            </td>
            <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
            <td>{{user.lastModifiedBy}}</td>
            <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
            <td class="text-right">
              <button class="btn btn-info btn-sm" type="submit" ui-sref="user-management-detail({login:user.login})">
                <span class="glyphicon glyphicon-eye-open"></span>
              </button>
              <button class="btn btn-primary btn-sm" ng-click="showUpdate(user.login)" type="submit">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div ng-show="!users || users.length == 0" data-translate="user-management.noUsersFound"></div>
        <nav>
          <ul ng-show="users && users.length > 0" class="pagination">
            <li ng-click="loadPage(links['first'])" ng-show="links['first'] >= 0">
              <a>&lt;&lt;</a>
            </li>
            <li ng-click="loadPage(links['prev'] || 0)" ng-show="page > 0">
              <a>&lt;</a>
            </li>
            <li ng-click="loadPage(page - 2)" ng-show="page > 1">
              <a>{{page - 1}}</a>
            </li>
            <li ng-click="loadPage(page - 1)" ng-show="page > 0">
              <a>{{page}}</a>
            </li>
            <li class="active">
              <a>{{page + 1}}</a>
            </li>
            <li ng-click="loadPage(page + 1)" ng-show="page < links['last']">
              <a>{{page + 2}}</a>
            </li>
            <li ng-click="loadPage(page + 2)" ng-show="page < links['last'] - 1">
              <a>{{page + 3}}</a>
            </li>
            <li ng-click="loadPage(links['next'])" ng-show="links['next']">
              <a>&gt;</a>
            </li>
            <li ng-click="loadPage(links['last'])" ng-show="links['last'] > 0">
              <a>&gt;&gt;</a>
            </li>
          </ul>
        </nav>
      </md-content>
    </md-card-content>
  </md-card>
</div>
<div class="fdz-fab-button-container" layout="column">
  <md-button class="md-accent md-fab" ng-click="openUserMessageDialog($event)">
    <md-tooltip md-autohide="true" md-direction="left" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
      {{'user-management.user-messages.dialog-tooltip.open-create-dialog' | translate}}
    </md-tooltip>
    <md-icon md-font-set="material-icons">send</md-icon>
  </md-button>
</div>
