

@import "fdz-theme/index";
// Weird CSS
@import "fdz-theme/will-be-deleted/will-be-deleted";

.fdz-primary {
  color: $brand-primary;
}

.fdz-secondary {
  color: $brand-secondary;
}

.fdz-third {
  color: $brand-third!important;
}
.fdz-text {
  color: $brand-background-600;
}


fdz-paginator {
  width: 100%;
  padding: 0 8px;
  @include rwd(600) {
    padding: 0 16px;
  }
  .fdz-paginator__container {
    margin: 0;
  }
  .fdz-paginator__container md-input-container {
    padding: 0;
  }
  .fdz-paginator__container .fdz-paginator__container:first-child {
    display: none;
  }

  @include rwd(400) {
    .fdz-paginator__container .fdz-paginator__container:first-child {
      display: flex;
    }
  }
}

.md-button.fdz-small {
  min-width: 36px;
}


