// bootstrap icons are not found when running locally
$icon-font-path: "./fonts/";
$brand-primary: #006AB2 !default;
$brand-success: #28A745 !default;
$brand-info: #028AA4 !default;
$brand-warning: #F69F24 !default;
$brand-danger: #C91630 !default;
$state-success-text: $brand-success !default;
$state-success-bg: #F0EFCE !default;
$state-success-border: $brand-success !default;
$state-info-text: $brand-info !default;
$state-info-bg: #CCE8ED !default;
$state-info-border: $brand-info !default;
$state-warning-text: $brand-warning !default;
$state-warning-bg: #FDECD3 !default;
$state-warning-border: $brand-warning !default;
$state-danger-text: $brand-danger !default;
$state-danger-bg: #F5D0D0 !default;
$state-danger-border: $brand-danger !default; // bower:scss
 @import "../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
 // endbower

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    img[src$=".svg"] {
        width: 100%;
    }
}





.fdz-block-ui-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.block-ui-container {
    z-index: 100000;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


.saucelabs_logo {
    width: 100%;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.error {
    color: $state-warning-bg;
    background-color: $brand-danger;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}


/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}



/* start Password strength bar style */
ul#strength {
    display: inline;
    list-style: none;
    margin: 0 0 0 15px;
    padding: 0;
    vertical-align: 2px;
}


/* end Password strength bar style */
/* Custom alerts for notification */
.alerts .alert {
    text-overflow: ellipsis;
}

.alert pre {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}
/* end of Custom alerts for notification */
/* disable links */
.inactive {
    pointer-events: none;
    cursor: default;
}

.label-as-badge {
    border-radius: 1em;
    padding: 0.1em 0.6em;
}

project-cockpit-status {
    display: block;
    @media screen and (max-width: 960px) {
        margin-bottom: 150px;
    }
}

.fdz-metadata-type-state-card.ng-hide:not(.ng-hide-animate) {
    visibility: hidden;
    opacity: 0;
    display: inherit!important;
}

project-status-badge {
    display: inline-block;
}

release-status-badge {
    display: inline-block;
}

project-status-badge > span, release-status-badge > span {
    font-size: 1em !important;
}

.egg-confused {
    position: absolute;
    z-index: 999999;
    bottom: 0;
    width: 100%;
    overflow: hidden;

    img {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        bottom: -220px;
        opacity: 0;
        animation: move 5s forwards, show 5s forwards;
    }

    @keyframes move {
      100% {
        bottom: 0px;
      }
    }

    @keyframes show {
      100% {
        opacity: 1;
      }
    }
}



