$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$brand-primary:         #006AB2 !default;
$brand-success:         #B2B109 !default;
$brand-info:            #028AA4 !default;
$brand-warning:         #F69F24 !default;
$brand-danger:          #C91630 !default;

$state-success-text:             #000000 !default;
$state-success-bg:               #F0EFCE !default;
$state-success-border:           $brand-success !default;

$state-info-text:                #000000 !default;
$state-info-bg:                  #CCE8ED !default;
$state-info-border:              $brand-info !default;

$state-warning-text:             #000000 !default;
$state-warning-bg:               #FDECD3 !default;
$state-warning-border:           $brand-warning !default;

$state-danger-text:              #000000 !default;
$state-danger-bg:                #F5D0D0 !default;
$state-danger-border:            $brand-danger !default;

// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=50f55666-6085-42ae-8620-9f4cdb0ff7b3");

@font-face {
    font-family: "Calibri W01 Light";
    src: url("../fonts/3bf8ead2-2902-446a-af57-fcf4e5da22db.eot?#iefix");
    src: url("../fonts/3bf8ead2-2902-446a-af57-fcf4e5da22db.eot?#iefix") format("eot"),url("../fonts/52f16f8c-2868-43ee-a2ca-378b097a3580.woff2") format("woff2"),url("../fonts/9cb02ba8-d928-43f5-a1bd-32fb78238194.woff") format("woff"),url("../fonts/1cc9eda5-6732-4a23-ad69-782421f8c81b.ttf") format("truetype"),url("../fonts/bf08ac41-3def-4da6-976b-7f125842a2c3.svg#bf08ac41-3def-4da6-976b-7f125842a2c3") format("svg");
}

@font-face {
    font-family: "Calibri W01 Light Italic";
    src: url("../fonts/443c8ba0-016c-4a11-af5c-58f3c01f635c.eot?#iefix");
    src: url("../fonts/443c8ba0-016c-4a11-af5c-58f3c01f635c.eot?#iefix") format("eot"),url("../fonts/aa102de4-ec9f-42ac-b628-6c30e83d0d93.woff2") format("woff2"),url("../fonts/b67d06e6-0656-41da-a1f4-e700d786580b.woff") format("woff"),url("../fonts/ed45e86a-ab65-4c27-9c41-b4b3d13bc2c6.ttf") format("truetype"),url("../fonts/301a0a5a-16af-4dae-84e6-c032da865cac.svg#301a0a5a-16af-4dae-84e6-c032da865cac") format("svg");
}

@font-face {
    font-family: "Calibri";
    src: url("../fonts/d4acc8cd-67f2-4139-80be-d669bb2564d7.eot?#iefix");
    src: url("../fonts/d4acc8cd-67f2-4139-80be-d669bb2564d7.eot?#iefix") format("eot"),url("../fonts/367341fc-4cc6-4a79-89ad-d6c61561611e.woff2") format("woff2"),url("../fonts/1ff86dd4-d3b2-4325-89bc-c6eb493cedba.woff") format("woff"),url("../fonts/aa6b4b64-5ce0-48fd-887a-bece037cd9c9.ttf") format("truetype"),url("../fonts/59b6060c-d311-413e-b351-d79aaf982f7a.svg#59b6060c-d311-413e-b351-d79aaf982f7a") format("svg");
}

@font-face {
    font-family: "Calibri W01 Italic_904613";
    src: url("../fonts/f5fb4de8-efeb-47a8-94a7-50b825a6966a.eot?#iefix");
    src: url("../fonts/f5fb4de8-efeb-47a8-94a7-50b825a6966a.eot?#iefix") format("eot"),url("../fonts/e1cc7218-de20-4af1-a27c-6f325a4b0f0f.woff2") format("woff2"),url("../fonts/cac25ebb-269d-41e9-8ee5-78589746706e.woff") format("woff"),url("../fonts/6a4b5dab-ebbd-4741-80c7-3b30cd46e05d.ttf") format("truetype"),url("../fonts/318af76f-0012-4791-a785-d241f2613955.svg#318af76f-0012-4791-a785-d241f2613955") format("svg");
}

@font-face {
    font-family: "Calibri W01 Bold_904607";
    src: url("../fonts/26989e0d-2435-46c9-ab53-ae63e1816b99.eot?#iefix");
    src: url("../fonts/26989e0d-2435-46c9-ab53-ae63e1816b99.eot?#iefix") format("eot"),url("../fonts/3ded7064-503f-4fa0-853b-9f7a2cf55f20.woff2") format("woff2"),url("../fonts/4e7b2126-77d3-4e53-810d-7ccfde46450a.woff") format("woff"),url("../fonts/dcb27c78-fcd6-43bb-ab8b-9152bcfeb336.ttf") format("truetype"),url("../fonts/ab531dcb-6916-45d8-9326-ab3e33d75ef3.svg#ab531dcb-6916-45d8-9326-ab3e33d75ef3") format("svg");
}

@font-face {
    font-family: "Calibri W01 Bold Italic_904610";
    src: url("../fonts/c0f723f3-c373-4abc-9043-0fb0b460b8dc.eot?#iefix");
    src: url("../fonts/c0f723f3-c373-4abc-9043-0fb0b460b8dc.eot?#iefix") format("eot"),url("../fonts/fe969ae7-f9ce-40b2-93cc-9cc7138809a2.woff2") format("woff2"),url("../fonts/e43fbe67-bdec-48c3-b305-e4f021d8e755.woff") format("woff"),url("../fonts/7cf1f907-81f8-4b27-8ae5-986118860da1.ttf") format("truetype"),url("../fonts/d5b3dbd1-291d-4354-bdcd-216ef956c562.svg#d5b3dbd1-291d-4354-bdcd-216ef956c562") format("svg");
}

@font-face {
    font-family: "Verdana";
    src: url("../fonts/de87ff33-fd6e-44d6-b508-64fd48f40e18.eot?#iefix");
    src: url("../fonts/de87ff33-fd6e-44d6-b508-64fd48f40e18.eot?#iefix") format("eot"),url("../fonts/5bfd7bdf-7110-4964-ad2d-776de3899a40.woff2") format("woff2"),url("../fonts/bd147430-0506-4d5d-b20d-fede78e8fc3f.woff") format("woff"),url("../fonts/43b27849-ca62-4f8a-9776-0f8db547fc3b.ttf") format("truetype"),url("../fonts/b01702f8-d48b-4dfb-b41c-63e7c2a75bb2.svg#b01702f8-d48b-4dfb-b41c-63e7c2a75bb2") format("svg");
}

@font-face {
    font-family: "Verdana W01 Italic";
    src: url("../fonts/633fef0e-b2a3-455f-a89b-1aa2446e4972.eot?#iefix");
    src: url("../fonts/633fef0e-b2a3-455f-a89b-1aa2446e4972.eot?#iefix") format("eot"),url("../fonts/0a7491cf-cbf7-4cc9-be27-646c2e1bab70.woff2") format("woff2"),url("../fonts/a6982c05-96d2-457e-9b49-e11a19f3055a.woff") format("woff"),url("../fonts/fd550f5c-bfad-4d45-82ad-bd3e5fc55984.ttf") format("truetype"),url("../fonts/7a9fd036-b91e-46fd-8cab-6189796a5354.svg#7a9fd036-b91e-46fd-8cab-6189796a5354") format("svg");
}

@font-face {
    font-family: "Verdana W01 Bold";
    src: url("../fonts/24f737f9-3a43-4faf-a2e0-ab692f03a5f5.eot?#iefix");
    src: url("../fonts/24f737f9-3a43-4faf-a2e0-ab692f03a5f5.eot?#iefix") format("eot"),url("../fonts/b70c0ca5-ff0e-472b-a9e6-8532942726f5.woff2") format("woff2"),url("../fonts/e7399f4b-680f-4cb3-9012-81f44c7d6354.woff") format("woff"),url("../fonts/030ab09a-f6b8-4501-a8a9-dd4b5863ed3c.ttf") format("truetype"),url("../fonts/1e79cec5-4bc4-4ac5-b6f7-4cb168ded435.svg#1e79cec5-4bc4-4ac5-b6f7-4cb168ded435") format("svg");
}

@font-face {
    font-family: "Verdana W01 Bold Italic";
    src: url("../fonts/525820ba-dfb0-484d-995c-3bbb57fe8a92.eot?#iefix");
    src: url("../fonts/525820ba-dfb0-484d-995c-3bbb57fe8a92.eot?#iefix") format("eot"),url("../fonts/22932b74-95cc-452a-9673-a4f686701316.woff2") format("woff2"),url("../fonts/ffb69e62-e644-4447-8437-5d91fa53a95e.woff") format("woff"),url("../fonts/99d68a5a-21ad-484c-a1d7-bd20eda32a52.ttf") format("truetype"),url("../fonts/185883a5-5a5c-4910-a1a9-637f0036a1f9.svg#185883a5-5a5c-4910-a1a9-637f0036a1f9") format("svg");
}

@font-face {
    font-family: "Wingdings";
    src: url("../fonts/284e822a-06b4-4764-96da-c7584f59d979.eot?#iefix");
    src: url("../fonts/284e822a-06b4-4764-96da-c7584f59d979.eot?#iefix") format("eot"),url("../fonts/ea76d17b-4ff6-488a-8ad0-f1710f04afec.woff2") format("woff2"),url("../fonts/b77da5fe-13ec-4d11-bebe-a36b41479ac2.woff") format("woff"),url("../fonts/ce7fbdee-ca0f-428f-a6e0-ad43b644a367.ttf") format("truetype"),url("../fonts/8c9aadac-4cb6-4229-af21-52303d132d42.svg#8c9aadac-4cb6-4229-af21-52303d132d42") format("svg");
}

@font-face {
    font-family: "Wingdings 2";
    src: url("../fonts/97bb5a96-4840-46c5-bf08-0eed6133f76e.eot?#iefix");
    src: url("../fonts/97bb5a96-4840-46c5-bf08-0eed6133f76e.eot?#iefix") format("eot"),url("../fonts/7a23d3d5-5536-4134-8754-9f943197d6be.woff2") format("woff2"),url("../fonts/0fe7b176-419c-47b7-a619-85c826c2520d.woff") format("woff"),url("../fonts/f6d581da-7fa1-4ecb-91d2-a27b3b6b613a.ttf") format("truetype"),url("../fonts/69b40d7f-6f71-4585-be3e-1107bf16c6ed.svg#69b40d7f-6f71-4585-be3e-1107bf16c6ed") format("svg");
}

@font-face {
    font-family: "Wingdings 3";
    src: url("../fonts/672c17f6-c09c-4bae-90ff-87228dacb42c.eot?#iefix");
    src: url("../fonts/672c17f6-c09c-4bae-90ff-87228dacb42c.eot?#iefix") format("eot"),url("../fonts/dad72213-9797-4c95-8145-20df4e28f925.woff2") format("woff2"),url("../fonts/04f2d489-e630-4504-93b2-6030f29acc66.woff") format("woff"),url("../fonts/84a9274e-d221-4564-a33d-9c7c0535fe94.ttf") format("truetype"),url("../fonts/3150aebd-04db-4dde-a00b-cac326e6251d.svg#3150aebd-04db-4dde-a00b-cac326e6251d") format("svg");
}

body {
    font-family: "Verdana", Helvetica, Arial, sans-serif;
}

.content {
	margin-top: 50px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

[ng-cloak].fdz-splash {
  display: table !important;
}

.fdz-splash {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #006AB2;
  color: white;
}

.fdz-splash div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 26px;
}

.fdz-splash i {
  font-size: 40px;
  animation:spin 2s linear infinite;
}

.fdz-block-ui-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

@keyframes spin { 100% { transform:rotate(360deg); } }

.ribbon {
  /* positioning */
  position: absolute;
  padding: 5px 0px;
  width: 200px;
  /* top left of the page */
  top: 40px;
  left: -40px;
  text-align: center;
  overflow: hidden;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
  /* effects with some shadow */
  box-shadow: 0 0 0 3px #C91630, 0 0 20px -3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3);
  /* looks */
  background-color: #C91630;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
  /* ribbon effects */
  border: 2px dotted #ffffff;
  /* webkit antialias fix */
  -webkit-backface-visibility: hidden;
  z-index: 2000;
}

.dzhw_logo {
    background-image: url("../images/DZHW_Logo.svg");
}

.fdz_logo {
    background-image: url("../images/FDZ_Logo.svg");
}

.bmbf_logo_de {
   background-image: url("../images/BMBF_Logo_L_de.png");
}

.bmbf_logo_en {
   background-image: url("../images/BMBF_Logo_L_en.png");
}

.fdz_logo {
   width: 190px;
   height: 45px;
   padding-right: 190px;
   background-size: 190px 45px;
   background-image: url("../images/FDZ_Logo.svg");
}

.fdz_logo, .dzhw_logo, .bmbf_logo_de, .bmbf_logo_en {
   background-color: transparent;
   background-position: center center;
   background-repeat: no-repeat;
}

.dzhw_logo {
   width: 221px;
   height: 157px;
   background-size: 215px 90px;
}

.bmbf_logo_de, .bmbf_logo_en {
   width: 221px;
   height: 157px;
   background-size: 221px 157px;
}

.fdz-search-result-icon {
  width: 40px;
  height: 40px;
  color: $brand-primary;
  background-color: transparent;
  padding: 0px;
}

.fdz-search-result {
  color : black;
  text-decoration: none;
}

.fdz-search-result:hover, .fdz-search-result:focus {
  color : black;
  text-decoration: none;
  background-color: rgba(158, 158, 158, 0.2);
}

.fdz-search-result md-card {
  background-color: inherit;
}

.fdz-search-result-label {
  flex-grow: 0;
  flex-shrink: 0;
  width: 12em;
}

.fdz-inline-icon {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

.fdz-card-header-border {
  border-bottom: 1px rgba(0,0,0,0.12) solid;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: #C91630;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

.pad {
    padding: 10px;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* make sure browsers use the pointer cursor for anchors, even with no href */
a:hover {
  cursor: pointer;
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

.alert .popover pre {
    font-size: 10px;
}

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}

.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}

/* end Password strength bar style */
/* Custom alerts for notification */
.alerts .alert{
    text-overflow: ellipsis;
}

.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}
/* end of Custom alerts for notification */

/* disable links */
 .inactive {
   pointer-events: none;
   cursor: default;
 }

.label-as-badge {
  border-radius: 1em;
  padding: 0.2em 0.6em 0.2em 0.6em;
  line-height: inherit;
}

/*
style for datapackage
*/

.md-tab , .md-button {
  text-transform: none;
}

md-tooltip {
  font-size: 12px;
}

.fdz-tab-heading {
  margin: 0px;
  font-size: 1em;
  font-weight: normal;
  line-height: 24px;
}

.fdz-group {
  margin: 1em;
  display: block;
}

.fdz-group-text {
  margin: 0px;
}

.fdz-group-label {
  flex-grow:0;
  flex-shrink:0;
  width: 20em;
  margin: 0px;
  font-size: 14px;
  line-height: 1.428571429;
  font-weight: bold;
}

.fdz-group-label::after {
  content: ":";
}

.fdz-table {
  overflow: auto;
}

.fdz-table > table {
  border-collapse: collapse;
  white-space: nowrap;
  width: 100%;
  border: 1px solid #ddd;
  text-align: left;
}

.fdz-table td, .fdz-table th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 10px;
}

.fdz-truncate-string {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fdz-navbar-menu {
  border-left: 5px solid $brand-primary;
}

.fdz-navbar-menu-accent {
  border-left: 5px solid $brand-warning;
}

.fdz-navbar-menu-items {
  padding: 0px;
  margin: 0px;
}

.fdz-navbar-menu-toggle {
  display: block;
  padding: 0 0 0 1em;
  margin: 0px;
  width: 100%;
  height: 100%;
  text-align: left;
}

.fdz-navbar-menu-toggle > span {
  display: inline-block;
  width: 90%;
}

.fdz-navbar-button {
  display: block;
  margin: 0px;
  padding: 0 0 0 1em;
  width: 100%;
  height: 100%;
  text-align: left;
}

.fdz-navbar-menu-items .fdz-navbar-button {
  padding: 0 0 0 2em;
}

.fdz-navbar-button-active {
  background-color: #E5F0F7;
}

.fdz-fab-button-container {
  position:fixed;
  bottom: 1em;
  right: 1em;
}

.fdz-search-input {
  display: block;
  margin-bottom: 0px;
  margin-left: 1.5em;
  margin-right: 2em;
}

.fdz-search-input-container {
  border-left: 3px solid $brand-warning;
}

.fdz-search-input .md-errors-spacer {
  display: none;
}

.fdz-log-error-text {
  color: $brand-danger;
}
