$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$brand-primary:         #006AB2 !default;
$brand-success:         #B2B109 !default;
$brand-info:            #028AA4 !default;
$brand-warning:         #F69F24 !default;
$brand-danger:          #C91630 !default;

$state-success-text:             #000000 !default;
$state-success-bg:               #F0EFCE !default;
$state-success-border:           $brand-success !default;

$state-info-text:                #000000 !default;
$state-info-bg:                  #CCE8ED !default;
$state-info-border:              $brand-info !default;

$state-warning-text:             #000000 !default;
$state-warning-bg:               #FDECD3 !default;
$state-warning-border:           $brand-warning !default;

$state-danger-text:              #000000 !default;
$state-danger-bg:                #F5D0D0 !default;
$state-danger-border:            $brand-danger !default;

// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
    font-family: "Verdana", Helvetica, Arial, sans-serif;
}

.content {
	margin-top: 50px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

[ng-cloak].fdz-splash {
  display: table !important;
}

.fdz-splash {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #006AB2;
  color: white;
}

.fdz-splash div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 26px;
}

.fdz-splash i {
  font-size: 40px;
  animation:spin 2s linear infinite;
}

.fdz-block-ui-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

@keyframes spin { 100% { transform:rotate(360deg); } }

.ribbon {
  /* positioning */
  position: absolute;
  padding: 5px 0px;
  width: 200px;
  /* top left of the page */
  top: 40px;
  left: -40px;
  text-align: center;
  overflow: hidden;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
  /* effects with some shadow */
  box-shadow: 0 0 0 3px #C91630, 0 0 20px -3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3);
  /* looks */
  background-color: #C91630;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
  /* ribbon effects */
  border: 2px dotted #ffffff;
  /* webkit antialias fix */
  -webkit-backface-visibility: hidden;
  z-index: 2000;
}

.dzhw_logo {
    background-image: url("../images/DZHW_Logo.svg");
}

.fdz_logo {
    background-image: url("../images/FDZ_Logo.svg");
}

.bmbf_logo_de {
   background-image: url("../images/BMBF_Logo_L_de.png");
}

.bmbf_logo_en {
   background-image: url("../images/BMBF_Logo_L_en.png");
}

.fdz_logo {
   width: 190px;
   height: 45px;
   padding-right: 190px;
   background-size: 190px 45px;
   background-image: url("../images/FDZ_Logo.svg");
}

.fdz_logo, .dzhw_logo, .bmbf_logo_de, .bmbf_logo_en {
   background-color: transparent;
   background-position: center center;
   background-repeat: no-repeat;
}

.dzhw_logo {
   width: 221px;
   height: 157px;
   background-size: 215px 90px;
}

.bmbf_logo_de, .bmbf_logo_en {
   width: 221px;
   height: 157px;
   background-size: 221px 157px;
}

.fdz-search-result-icon {
  width: 40px;
  height: 40px;
  background-color: $brand-primary;
}

.fdz-search-result {
  color : currentColor;
}

.fdz-search-result:not([disabled]):hover {
  background-color: rgba(158, 158, 158, 0.2);
  cursor: pointer;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: #C91630;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

.pad {
    padding: 10px;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* make sure browsers use the pointer cursor for anchors, even with no href */
a:hover {
  cursor: pointer;
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

.alert .popover pre {
    font-size: 10px;
}

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}

.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}

/* end Password strength bar style */
/* Custom alerts for notification */
.alerts .alert{
    text-overflow: ellipsis;
}

.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}
/* end of Custom alerts for notification */

/* disable links */
 .inactive {
   pointer-events: none;
   cursor: default;
 }

.label-as-badge {
  border-radius: 1em;
  padding: 0.2em 0.6em 0.2em 0.6em;
}

/*
style for datapackage
*/

.md-tab , .md-button {
  text-transform: none;
}

.fdz-tab-heading {
  margin: 0px;
  font-size: 1em;
  font-weight: normal;
  line-height: 24px;
}

.fdz-group {
  margin: 1em;
  display: block;
}

.fdz-group-text {
  margin: 0px;
}

.fdz-group-label {
  flex-grow:0;
  flex-shrink:0;
  width: 20em;
  margin: 0px;
  font-size: 14px;
  line-height: 1.428571429;
  font-weight: bold;
}

.fdz-group-label::after {
  content: ":";
}

.fdz-table {
  overflow: auto;
}

.fdz-table > table {
  border-collapse: collapse;
  white-space: nowrap;
  width: 100%;
  border: 1px solid #ddd;
  text-align: left;
}

.fdz-table td, .fdz-table th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 10px;
}

.fdz-truncate-string {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fdz-navbar-menu {
  border-left: 5px solid $brand-primary;
}

.fdz-navbar-menu-accent {
  border-left: 5px solid $brand-warning;
}

.fdz-navbar-menu-items {
  padding: 0px;
  margin: 0px;
}

.fdz-navbar-menu-toggle {
  display: block;
  padding: 0 0 0 1em;
  margin: 0px;
  width: 100%;
  height: 100%;
  text-align: left;
}

.fdz-navbar-menu-toggle > span {
  display: inline-block;
  width: 90%;
}

.fdz-navbar-button {
  display: block;
  margin: 0px;
  padding: 0 0 0 1em;
  width: 100%;
  height: 100%;
  text-align: left;
}

.fdz-navbar-menu-items .fdz-navbar-button {
  padding: 0 0 0 2em;
}

.fdz-navbar-button-active {
  background-color: #E5F0F7;
}

.fdz-floating-div {
  position:fixed;
  bottom: 1em;
  right: 1em;
}

.fdz-search-input {
  margin-bottom: 0px;
  margin-left: 1em;
  margin-right: 2em;
}

.fdz-search-input-container {
  border-left: 3px solid $brand-warning;
}

.fdz-search-input .md-errors-spacer {
  display: none;
}
