// bootstrap icons are not found when running locally
$icon-font-path: "./fonts/";
$brand-primary: #006AB2 !default;
$brand-success: #28A745 !default;
$brand-info: #028AA4 !default;
$brand-warning: #F69F24 !default;
$brand-danger: #C91630 !default;
$state-success-text: #000000 !default;
$state-success-bg: #F0EFCE !default;
$state-success-border: $brand-success !default;
$state-info-text: #000000 !default;
$state-info-bg: #CCE8ED !default;
$state-info-border: $brand-info !default;
$state-warning-text: #000000 !default;
$state-warning-bg: #FDECD3 !default;
$state-warning-border: $brand-warning !default;
$state-danger-text: #000000 !default;
$state-danger-bg: #F5D0D0 !default;
$state-danger-border: $brand-danger !default; // bower:scss
 @import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
 // endbower
h1,
h2,
h3 {
    margin: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content {
    margin-top: 50px;
}

.ng-cloak,
.x-ng-cloak,
[data-ng-cloak],
[ng-cloak],
[ng\:cloak],
[x-ng-cloak] {
    display: none !important;
}

[ng-cloak].fdz-splash {
    display: table !important;
}

.fdz-splash {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #006AB2;
    color: white;
}

.fdz-splash div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 26px;
}

.fdz-splash i {
    font-size: 40px;
    animation: spin 2s linear infinite;
}

.fdz-block-ui-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.ribbon {
    /* positioning */
    pointer-events: none;
    position: absolute;
    padding: 5px 0;
    width: 200px;
    /* top left of the page */
    top: 40px;
    left: -40px;
    text-align: center;
    overflow: hidden;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
    /* effects with some shadow */
    box-shadow: 0 0 0 3px #C91630, 0 0 20px -3px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3);
    /* looks */
    background-color: #C91630;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    text-transform: capitalize;
    /* ribbon effects */
    border: 2px dotted #ffffff;
    /* webkit antialias fix */
    -webkit-backface-visibility: hidden;
    z-index: 2000;
}

.dzhw_logo {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bmbf_logo {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    width: 221px;
    height: 157px;
    background-size: 221px 157px;
}

.fdz-search-result-icon {
    width: 40px;
    height: 40px;
    color: $brand-primary;
    background-color: transparent;
    padding: 0;
}

.fdz-search-result {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fdz-search-result:focus,
.fdz-search-result:hover {
    color: black;
    text-decoration: none;
}

.fdz-search-result:focus,
.fdz-search-result:hover {
    background-color: rgba(158, 158, 158, 0.2);
}

.md-tooltip {
    font-size: 12px;
}

.fdz-search-result-label {
    padding-right: 0.5em;
}

.fdz-inline-icon {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.fdz-card-header-border {
    border-bottom: 1px rgba(0,0,0,0.12) solid;
    position: relative;
    padding: 1em;
}

.fdz-svg-container > svg {
    display: block;
    margin: auto;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: #C91630;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

.pad {
    padding: 10px;
}
/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}
/* make sure browsers use the pointer cursor for anchors, even with no href */
a:hover {
    cursor: pointer;
}

.hand {
    cursor: pointer;
}

#healthCheck .popover,
#threadDump .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

.alert .popover pre {
    font-size: 10px;
}
/* start Password strength bar style */
ul#strength {
    display: inline;
    list-style: none;
    margin: 0 0 0 15px;
    padding: 0;
    vertical-align: 2px;
}

.point:last {
    margin: 0 !important;
}

.point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}
/* end Password strength bar style */
/* Custom alerts for notification */
.alerts .alert {
    text-overflow: ellipsis;
}

.alert pre {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}
/* end of Custom alerts for notification */
/* disable links */
.inactive {
    pointer-events: none;
    cursor: default;
}

.label-as-badge {
    border-radius: 1em;
    padding: 0.1em 0.6em;
}
/*
style for datapackage
*/
.md-button,
.md-tab {
    text-transform: none;
}

.fdz-tab-heading {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    line-height: 24px;
}

.fdz-group {
    margin: 1em;
    display: block;
}

.fdz-group-text {
    margin: 0;
}

.fdz-group-label {
    flex-grow: 0;
    flex-shrink: 0;
    width: 20em;
    margin: 0;
    font-size: 14px;
    line-height: 1.428571429;
    font-weight: bold;
}

.fdz-group-label::after {
    content: ":";
}

.fdz-truncate-string {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fdz-navbar-menu {
    width: 100%;
    border-left: 5px solid $brand-primary;
}

.fdz-navbar-menu-accent {
    width: 100%;
    border-left: 5px solid $brand-warning;
}

.fdz-navbar-menu-items {
    padding: 0;
    margin: 0;
    width: 100%;
}

.fdz-navbar-menu-toggle {
    display: block;
    padding: 0 0 0 1em;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: left;
}

.fdz-navbar-menu-toggle > span {
    display: inline-block;
    width: 80%;
}

.fdz-navbar-button {
    display: block;
    margin: 0;
    padding: 0 0 0 1em;
    width: 100%;
    height: 100%;
    text-align: left;
}

.fdz-navbar-menu-items .fdz-navbar-button {
    padding: 0 0 0 2em;
}

.fdz-navbar-button-active {
    background-color: #E5F0F7;
}

.fdz-fab-button-container {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.fdz-search-input {
    display: block;
    margin-left: 8px;
    margin-right: 16px;
    margin-bottom: 24px;
}

.fdz-search-input .md-errors-spacer {
    display: none;
}

md-input-container.fdz-search-input label:not(.md-container-ignore) {
    bottom: 89%;
}

.fdz-log-error-text {
    color: $brand-danger;
}

.fdz-log-warning-text {
    color: $brand-warning;
}

.fdz-text-through {
    text-decoration: line-through;
}

.fdz-toast {
    background-color: black;
    color: white;
    padding: 0 18px;
    border-radius: 2px;
    margin: 4px;
}

.md-table-pagination div div.label {
    color: #757575;
}

.fdz-code-container {
    white-space: pre-wrap;
    overflow: hidden;
}

.fdz-hidden-code {
    height: 52px;
}

.fdz-file-drop-accept {
    background-color: $brand-success !important;
}

.fdz-released {
    color: $brand-success;
}

.fdz-not-released {
    color: $brand-danger;
}

.fdz-bootstrap-headline,
md-dialog h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.fdz-table-wide {
    table-layout: auto;
    border-collapse: collapse;
    text-align: left;
}

.fdz-table-wide thead {
    background-color: white;
    color: black;
}

.fdz-table-wide thead th {
    font-weight: bold;
}

.fdz-table-number {
    text-align: right;
    white-space: nowrap;
}

.fdz-table-total-number {
    text-align: right;
    font-weight: bold;
    white-space: nowrap;
}

.fdz-table-wide td,
.fdz-table-wide th {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.fdz-table-wide td {
    vertical-align: top;
}

.fdz-table-wide th {
    white-space: nowrap;
}

.fdz-table-wide tbody > tr:hover {
    background-color: rgba(158, 158, 158, 0.2);
}

.fdz-table-absorbing-column {
    width: 100%;
}

.fdz-table-half-absorbing-column {
    width: 50%;
}

.fdz-table-nowrap {
    white-space: nowrap;
}

.fdz-table-rotated {
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: 0;
}

.fdz-table-rotated thead {
    margin-left: 11px;
    display: block;
    float: left;
    width: 100px;
}

.fdz-table-rotated tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
}

.fdz-table-rotated td,
.fdz-table-rotated th {
    margin: 0;
    vertical-align: top;
    text-align: left;
}

.fdz-table-rotated th {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 0;
    margin: 5px;
}

.fdz-table-wide td .md-icon-button {
  padding: 0px;
  height: auto;
}

.fdz-table-rotated td .md-icon-button {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-left: 0px;
    min-height: 0px;
    height: 18px;
}

.fdz-table-rotated th:last-child {
    border-bottom: 0;
}

.fdz-table-rotated td {
    display: block;
    text-align: left;
    border: 0;
    margin: 5px;
}

.fdz-table-rotated thead tr {
    display: block;
    border-right: 1px solid #ddd;
}

.fdz-table-rotated tbody tr {
    display: inline-block;
    vertical-align: top;
    border-collapse: collapse;
    border-right: 1px solid #ddd;
    border-bottom: 0;
}

.hljs {
    background-color: inherit;
}

pre {
    margin: 0;
}

.fdz-card-header-with-button {
    padding-top: 1px;
    padding-bottom: 1px;
}

.md-dialog-container {
    z-index: 10000;
    counter-reset: section;
}

.fdz-InfiniteScroll #vertical-container {
    width: 100%;
    min-height: 300px;
}

.fdz-repeated-item {
    border-bottom: 1px solid #ddd;
}

.fdz-overlay-outer-box {
    width: 100%;
    display: block;
    position: relative;
}

.fdz-overlay-outer-box .fdz-overlay-inner-box-top {
    top: 0;
    right: 0;
    position: absolute;
}

.fdz-overlay-outer-box .fdz-overlay-inner-box-bottom {
    bottom: 0;
    right: 0;
    position: absolute;
}

.fdz-fake-empty-card {
    margin: 8px;
}

.fdz-reset-top-margin {
    margin-top: 0;
}

.fdz-reset-left-margin {
    margin-left: 0;
}

.fdz-add-right-margin {
    margin-right: 10px;
}

.fdz-add-bottom-margin {
    margin-bottom: 0.5em;
}

.fdz-skip-navigation {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -100;
    display: block;
    width: 95%;
    margin: 0.5em;
    -webkit-transition: opacity 0.30s linear;
    transition: opacity 0.30s linear;
}

.fdz-skip-navigation:focus {
    opacity: 0.9;
    z-index: 60;
}

.js-plotly-plot .plotly .modebar {
    z-index: 50 !important;
}

a:focus,
button:focus {
    outline: 0 !important;
    outline-offset: 0 !important;
    border: 1px solid $brand-warning !important;
}

.fdz-content:focus {
    background-color: rgba(158, 158, 158, 0.2) !important;
    border: 1px solid $brand-warning !important;
}

md-tab-item:hover {
    background-color: rgba(158, 158, 158, 0.2) !important;
}

.fdz-toolbar-button {
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.26) !important;
}

.fdz-search-filter-component md-input-container {
    margin: 0;
}

.fdz-search-filter-component {
    margin-bottom: 0 !important;
}

.fdz-search-filter-component button {
    top: 2px !important;
}

.fdz-search-filter-component md-progress-linear {
    bottom: 22px !important;
}

.fdz-search-filter-component md-input-container.md-input-focused label,
.fdz-search-filter-component md-input-container.md-input-has-value label {
    bottom: 80% !important;
}

.fdz-search-filter-component md-input-container label:not(.md-container-ignore) {
    bottom: 91%;
}

.fdz-search-filter-component .ng-active div[ng-message] {
    opacity: 1;
    margin-top: 0;
}

.md-select-placeholder {
    font-weight: bold;
}

.fdz-select-header {
    background-color: white;
    padding-left: 10px;
}

.fdz-select-header md-input-container {
    margin-bottom: 10px;
    margin-top: 10px;
}

.fdz-select-header md-input-container.md-input-focused label,
.fdz-select-header md-input-container.md-input-has-value label {
    bottom: 65% !important;
}

.fdz-select-header .md-errors-spacer {
    display: none;
}

.fdz-filter-select {
    margin-left: 8px;
    margin-right: 0;
    margin-bottom: 24px;
}

md-input-container.fdz-filter-select.md-input-focused label,
md-input-container.fdz-filter-select.md-input-has-value label {
    bottom: 89% !important;
}

input::-ms-clear {
    display: none;
}

.fdz-hyphenate {
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

.fdz-text-block {
    text-align: justify;
}

.md-dialog-content-body {
  white-space: pre-line;
}

md-sidenav.md-locked-open#SideNavBar, md-toolbar#toolbar {
  position: fixed;
}
