<div layout="row"
     layout-gt-sm="row"
     class="ms-flex">
  <title-component
    index="$ctrl.index"
    name="analysisDataPackages"
    not-null="true"
    current-form="$ctrl.currentForm"
    translation-key-package="external-data-package"
    translation-key-name="title"
    max-length="2048"
    content="$ctrl.package"
    class="df fg"></title-component>
</div>
<div layout="row"
     layout-gt-sm="row"
     class="ms-flex">
  <text-component
    bilingual="true"
    index="$ctrl.index"
    name="analysisDataPackages"
    not-null="true"
    current-form="$ctrl.currentForm"
    translation-key-management="analysis-package-management"
    translation-key-package="external-data-package"
    translation-key-name="description"
    max-length="2048"
    content="$ctrl.package.description"
    class="df fg"></text-component>
</div>
<div layout="row"
     layout-gt-sm="row"
     class="ms-flex">
  <text-component
    bilingual="true"
    index="$ctrl.index"
    name="analysisDataPackages"
    not-null="false"
    current-form="$ctrl.currentForm"
    translation-key-management="analysis-package-management"
    translation-key-package="external-data-package"
    translation-key-name="annotations"
    max-length="2048"
    content="$ctrl.package.annotations"
    class="df fg"></text-component>
</div>
<div layout="row"
     layout-gt-sm="row"
     class="ms-flex">
  <text-component
    bilingual="true"
    single-line="true"
    index="$ctrl.index"
    name="analysisDataPackages"
    not-null="true"
    current-form="$ctrl.currentForm"
    translation-key-management="analysis-package-management"
    translation-key-package="external-data-package"
    translation-key-name="data-source"
    max-length="512"
    content="$ctrl.package.dataSource"
    class="df fg"></text-component>
</div>
<div layout="row"
     layout-gt-sm="row"
     class="ms-flex">
  <md-input-container flex="50"
                      class="mr8"
                      md-is-error="!$ctrl.currentForm['analysisDataPackagesDataSourceUrl_' + $ctrl.index].$valid && ($ctrl.currentForm['analysisDataPackagesDataSourceUrl_' + $ctrl.index].$dirty || $ctrl.currentForm['analysisDataPackagesDataSourceUrl_' + $ctrl.index].$touched)">
    <label>{{'analysis-package-management.detail.label.external-data-package.data-source-url' | translate}}</label>
    <input type="url" md-no-asterisk
           name="analysisDataPackagesDataSourceUrl_{{$ctrl.index}}"
           md-maxlength="2000"
           ng-model="$ctrl.package.dataSourceUrl" autocomplete="off">
    <div class="fdz-input-hint"
         ng-if="$ctrl.currentForm['analysisDataPackagesDataSourceUrl_' + $ctrl.index].$viewValue == null 
          || $ctrl.currentForm['analysisDataPackagesDataSourceUrl_' + $ctrl.index].$viewValue == ''">
      {{ 'analysis-package-management.edit.hints.external-data-package.data-source-url' | translate}}
    </div>
    <div multiple
         ng-messages="$ctrl.currentForm['analysisDataPackagesDataSourceUrl_' + $ctrl.index].$error">
      <div ng-message="md-maxlength">
        {{'analysis-package-management.error.external-data-package.data-source-url.url-size' | translate}}
      </div>
      <div ng-message="url">
        {{'analysis-package-management.error.external-data-package.data-source-url.invalid-url' | translate}}
      </div>
    </div>
  </md-input-container>
  <md-input-container flex="50"
                      md-is-error="!$ctrl.currentForm['analysisDataPackagesAvailabilityType_' + $ctrl.index].$valid && ($ctrl.currentForm['analysisDataPackagesAvailabilityType_' + $ctrl.index].$dirty || $ctrl.currentForm['analysisDataPackagesAvailabilityType_' + $ctrl.index].$touched)"
                      class="mr8 ms-flex">
    <label>{{ 'analysis-package-management.detail.label.external-data-package.availability-type' | translate}}</label>
    <md-select ng-model="$ctrl.package.availabilityType"
               ng-model-options="{trackBy: '$value.de'}"
               name="analysisDataPackagesAvailabilityType_{{$ctrl.index}}"
               required>
      <md-optgroup
        label="{{'analysis-package-management.detail.label.external-data-package.available-availability-type' | translate}}">
        <md-option ng-repeat="item in $ctrl.availabilityType"
                   ng-value="item">
          {{ item[$ctrl.currentLanguage] }}
        </md-option>
      </md-optgroup>
    </md-select>
    <div class="fdz-input-hint"
         ng-if="!$ctrl.currentForm['analysisDataPackagesAvailabilityType_' + $ctrl.index].$dirty && !$ctrl.currentForm['analysisDataPackagesAvailabilityType_' + $ctrl.index].$touched && !$ctrl.package.availabilityType.de">
      {{'analysis-package-management.edit.hints.external-data-package.availability-type.choose' | translate}}
    </div>
    <div class="fdz-input-hint"
         ng-if="$ctrl.package.availabilityType.en === 'open-access'">
      {{'analysis-package-management.edit.hints.external-data-package.availability-type.open' | translate}}
    </div>
    <div class="fdz-input-hint"
         ng-if="$ctrl.package.availabilityType.en === 'restricted access'">
      {{'analysis-package-management.edit.hints.external-data-package.availability-type.restricted' | translate}}
    </div>
    <div class="fdz-input-hint"
         ng-if="$ctrl.package.availabilityType.en === 'not accessible'">
      {{'analysis-package-management.edit.hints.external-data-package.availability-type.none' | translate}}
    </div>
    <div multiple
         ng-messages="$ctrl.currentForm['analysisDataPackagesAvailabilityType_' + $ctrl.index].$error">
      <div ng-message="required">
        {{'analysis-package-management.error.external-data-package.availability-type.i18n-not-null' | translate}}
      </div>
    </div>
  </md-input-container>
</div>
