<md-toast>
    <span data-translate="{{resultMessage}}" translate-values="{{translationData}}"></span>
    <md-button class="md-raised md-accent" ng-click="showLog()" aria-label="{{'joblogging.job-complete-toast.show-log'| translate}}">
        <span data-translate="joblogging.job-complete-toast.show-log"></span>
    </md-button>
    <md-button class="md-raised md-primary" ng-click="closeToast()" aria-label="{{'global.buttons.close' | translate}}">
        <span data-translate="global.buttons.close"></span>
    </md-button>
</md-toast>
