<md-card>
<md-divider></md-divider>
  <md-card-header>
    <md-card-header-text>
      <h2 class="md-title">{{'global.cards.details' | translate }}</h2>
    </md-card-header-text>
    <md-button
      aria-label="md-card collapsed = {{$ctrl.collapsed}}}"
      class="md-card-collapsible-button"
      ng-click="$ctrl.collapsed = !$ctrl.collapsed">
      <md-icon md-font-set="material-icons" ng-if="!$ctrl.collapsed">keyboard_arrow_up</md-icon>
      <md-icon md-font-set="material-icons" ng-if="$ctrl.collapsed">keyboard_arrow_down</md-icon>
    </md-button>
  </md-card-header>
  <div ng-if="!$ctrl.collapsed">
    <md-card-content>
      <md-list>
        <md-list-item ng-if="$ctrl.options.name">
          <h5>{{'variable-management.detail.label.name' | translate }}:</h5>
          <span class="md-secondary">{{$ctrl.options.name}}</span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.label">
          <h5>{{'variable-management.detail.label.label' | translate }}:</h5>
          <span class="md-secondary" display-i18n-string="$ctrl.options.label" fdz-hyphenate></span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.dataType">
          <h5>{{'variable-management.detail.label.data-type' | translate }}:</h5>
          <span class="md-secondary" display-i18n-string="$ctrl.options.dataType" fdz-hyphenate></span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.scaleLevel">
          <h5>{{'variable-management.detail.label.scale-level' | translate }}:</h5>
          <span class="md-secondary" display-i18n-string="$ctrl.options.scaleLevel" fdz-hyphenate></span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.accessWays">
          <h5>{{'variable-management.detail.label.access-ways' | translate }}:</h5>
          <span class="md-secondary">{{$ctrl.options.accessWays.join(', ')}}</span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.annotations">
          <h5>{{'variable-management.detail.label.annotations' | translate }}:</h5>
          <span class="md-secondary" display-i18n-string="$ctrl.options.annotations" fdz-hyphenate></span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.filterDetails.description">
          <h5>{{'variable-management.detail.label.filter-description' | translate }}:</h5>
          <span class="md-secondary" display-i18n-string="$ctrl.options.filterDetails.description"
                fdz-hyphenate></span>
        </md-list-item>


      </md-list>
    </md-card-content>
  </div>
</md-card>
