<div class="fdz-cc">
  <form name="analysisPackageForm">
    <div ng-if="ctrl.analysisPackage.id">
      <div layout="row" layout-margin class="mb0">
        <h1 class="md-headline" ng-if="ctrl.createMode">
          {{'analysis-package-management.edit.label.create-analysis-package' | translate}}
          <span
            class="label label-as-badge label-default">{{ctrl.analysisPackage.id}}</span>
        </h1>
        <h1 class="md-headline" ng-if="!ctrl.createMode">
          {{'analysis-package-management.edit.label.edit-analysis-package' | translate}}
          <span
            class="label label-as-badge label-default">{{ctrl.analysisPackage.id}}</span>
        </h1>
      </div>
      <md-card class="mb8">
        <md-card-header>
          <md-card-header-text>
            <h2 class="md-title">{{'global.cards.details' | translate }}</h2>
          </md-card-header-text>
        </md-card-header>
        <md-divider></md-divider>
        <md-card-content>
          <title-component
            current-form="analysisPackageForm"
            translation-key-package="analysis-package"
            translation-key-name="title"
            max-length="2048"
            content="ctrl.analysisPackage"
            layout="column" layout-gt-sm="row"
            class="ms-flex"></title-component>
          <div layout="column" layout-gt-sm="row">
            <md-input-container flex="50"
                                md-is-error="!analysisPackageForm.annotationsDe.$valid && (analysisPackageForm.annotationsDe.$dirty || analysisPackageForm.annotationsDe.$touched)"
                                ng-class="{'mr10': $mdMedia('gt-sm')}"
                                class="ms-flex">
              <label>{{'analysis-package-management.detail.label.annotations' | translate}}
                ({{'global.in-german' | translate}})
                <md-icon
                  md-svg-src="assets/images/icons/markdown.svg"></md-icon>
              </label>
              <textarea lang="de" md-maxlength="2048" name="annotationsDe"
                        ng-model="ctrl.analysisPackage.annotations.de"
                        rows="4"></textarea>
              <div class="fdz-input-hint"
                   ng-if="!analysisPackageForm.annotationsDe.$dirty && !analysisPackageForm.annotationsDe.$touched">
                {{'analysis-package-management.edit.hints.annotations.de' | translate}}
              </div>
              <div multiple
                   ng-messages="analysisPackageForm.annotationsDe.$error">
                <div ng-message="md-maxlength">
                  {{'analysis-package-management.error.analysis-package.annotations.i18n-string-size' | translate}}
                </div>
              </div>
            </md-input-container>
            <md-input-container flex="50"
                                md-is-error="!analysisPackageForm.annotationsEn.$valid && (analysisPackageForm.annotationsEn.$dirty || analysisPackageForm.annotationsEn.$touched)"
                                class="ms-flex">
              <label>{{'analysis-package-management.detail.label.annotations' | translate}}
                ({{'global.in-english' | translate}})
                <md-icon
                  md-svg-src="assets/images/icons/markdown.svg"></md-icon>
              </label>
              <textarea lang="en" md-maxlength="2048" name="annotationsEn"
                        ng-model="ctrl.analysisPackage.annotations.en"
                        rows="4"></textarea>
              <div class="fdz-input-hint"
                   ng-if="!analysisPackageForm.annotationsEn.$dirty && !analysisPackageForm.annotationsEn.$touched">
                {{'analysis-package-management.edit.hints.annotations.en' | translate}}
              </div>
              <div multiple
                   ng-messages="analysisPackageForm.annotationsEn.$error">
                <div ng-message="md-maxlength">
                  {{'analysis-package-management.error.analysis-package.annotations.i18n-string-size' | translate}}
                </div>
              </div>
            </md-input-container>
          </div>
        </md-card-content>
      </md-card>
      <edit-text-section-component bilingual="true"
                                   not-null="true"
                                   current-form="analysisPackageForm"
                                   translation-key-package="analysis-package"
                                   translation-key-name="description"
                                   max-length="2048"
                                   content="ctrl.analysisPackage.description"></edit-text-section-component>
      <edit-people-component people="ctrl.analysisPackage.authors"
                             people-id="'authors'"
                             translation-keys="ctrl.translationKeysAuthors"
                             current-form="analysisPackageForm"></edit-people-component>
      <edit-people-component people="ctrl.analysisPackage.dataCurators"
                             people-id="'dataCurators'"
                             translation-keys="ctrl.translationKeysDataCurators"
                             current-form="analysisPackageForm"></edit-people-component>
      <md-card class="mb8">
        <md-card-header>
          <md-card-header-text>
            <h2 class="md-title">
              {{'analysis-package-management.detail.label.institutions' | translate
              }}</h2>
          </md-card-header-text>
        </md-card-header>
        <md-divider></md-divider>
        <md-card-content>
          <div id="move-institution-container" layout="row"
               ng-repeat="institution in ctrl.currentInstitutions track by $index">
            <md-button class="md-primary md-icon-button"
                       ng-click="ctrl.deleteInstitution($index)"
                       style="margin-top: 18px; margin-left: 0px; padding-left: 0px;">
              <md-tooltip md-autohide="true" md-direction="bottom"
                          md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'analysis-package-management.edit.delete-institution-tooltip' | translate}}
              </md-tooltip>
              <md-icon md-font-set="material-icons">delete_forever</md-icon>
            </md-button>
            <md-autocomplete flex="50" md-clear-button="true" md-delay="250"
                             md-floating-label="{{'analysis-package-management.detail.label.institution' | translate}} ({{'global.in-german' | translate}})"
                             md-input-maxlength="512"
                             md-input-name="institutionDe_{{$index}}"
                             md-is-error="!analysisPackageForm['institutionDe_' + $index].$valid && (analysisPackageForm['institutionDe_' + $index].$dirty || analysisPackageForm['institutionDe_' + $index].$touched)"
                             md-item-text="item.de"
                             md-items="item in searchInstitutions(ctrl.analysisPackage.institutions[$index].de, 'de')"
                             md-match-case-insensitive="true" md-min-length="0"
                             md-no-cache="true"
                             md-require-match="false"
                             md-search-text="ctrl.analysisPackage.institutions[$index].de"
                             md-select-on-match="true"
                             md-selected-item="ctrl.currentInstitutions[$index]"
                             md-selected-item-change="analysisPackageForm.$setDirty()"
                             ng-blur="ctrl.deleteCurrentInstitution($event)"
                             ng-focus="ctrl.setCurrentInstitution($index, $event)"
                             ng-required="true"
                             class="ms-flex mr8">
              <md-item-template>
                <span class="md-title" md-highlight-flags="ig"
                      md-highlight-text="ctrl.analysisPackage.institutions[$parent.$index].de"
                      style="font-size: 14px;">{{item.de}}</span>
              </md-item-template>
              <md-not-found>
                {{'search-management.filter.institution-filter.not-found' | translate}}
              </md-not-found>
              <div
                class="fdz-input-hint"
                ng-if="!analysisPackageForm['institutionDe_' + $parent.$index].$dirty && !analysisPackageForm['institutionDe_' + $parent.$index].$touched">
                {{'analysis-package-management.edit.hints.institution.de' | translate}}
              </div>
              <div multiple
                   ng-messages="analysisPackageForm['institutionDe_' + $parent.$index].$error">
                <div ng-message="required">
                  {{'analysis-package-management.error.analysis-package.institution.i18n-string-entire-not-empty' | translate}}
                </div>
                <div ng-message="maxlength">
                  {{'analysis-package-management.error.analysis-package.institution.i18n-string-size' | translate}}
                </div>
              </div>
            </md-autocomplete>
            <md-autocomplete flex="50" md-clear-button="true" md-delay="250"
                             md-floating-label="{{'analysis-package-management.detail.label.institution' | translate}} ({{'global.in-english' | translate}})"
                             md-input-maxlength="512"
                             md-input-name="institutionEn_{{$index}}"
                             md-is-error="!analysisPackageForm['institutionEn_' + $index].$valid && (analysisPackageForm['institutionEn_' + $index].$dirty || analysisPackageForm['institutionEn_' + $index].$touched)"
                             md-item-text="item.en"
                             md-items="item in searchInstitutions(ctrl.analysisPackage.institutions[$index].en, 'en')"
                             md-match-case-insensitive="true" md-min-length="0"
                             md-no-cache="true"
                             md-require-match="false"
                             md-search-text="ctrl.analysisPackage.institutions[$index].en"
                             md-select-on-match="true"
                             md-selected-item="ctrl.currentInstitutions[$index]"
                             md-selected-item-change="analysisPackageForm.$setDirty()"
                             ng-blur="ctrl.deleteCurrentInstitution($event)"
                             ng-focus="ctrl.setCurrentInstitution($index, $event)"
                             ng-required="true"
                             class="ms-flex">
              <md-item-template>
                <span class="md-title" md-highlight-flags="ig"
                      md-highlight-text="ctrl.analysisPackage.institutions[$parent.$index].en"
                      style="font-size: 14px;">{{item.en}}</span>
              </md-item-template>
              <md-not-found>
                {{'search-management.filter.institution-filter.not-found' | translate}}
              </md-not-found>
              <div
                class="fdz-input-hint"
                ng-if="!analysisPackageForm['institutionEn_' + $parent.$index].$dirty && !analysisPackageForm['institutionEn_' + $parent.$index].$touched">
                {{'analysis-package-management.edit.hints.institution.en' | translate}}
              </div>
              <div multiple
                   ng-messages="analysisPackageForm['institutionEn_' + $parent.$index].$error">
                <div ng-message="required">
                  {{'analysis-package-management.error.analysis-package.institution.i18n-string-entire-not-empty' | translate}}
                </div>
                <div ng-message="maxlength">
                  {{'analysis-package-management.error.analysis-package.institution.i18n-string-size' | translate}}
                </div>
              </div>
            </md-autocomplete>
          </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="begin center" class="mb12">
          <md-button class="md-primary md-raised md-icon-button ml6"
                     ng-click="ctrl.addInstitution()">
            <md-tooltip md-autohide="true" md-direction="bottom"
                        md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'analysis-package-management.edit.add-institution-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">add</md-icon>
          </md-button>
          <md-button class="md-primary md-raised md-icon-button"
                     id="move-institution-up-button"
                     ng-click="ctrl.moveCurrentInstitutionUp()"
                     ng-disabled="ctrl.currentInstitutionIndex == null || ctrl.currentInstitutionIndex === 0">
            <md-tooltip md-autohide="true" md-direction="bottom"
                        md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'analysis-package-management.edit.move-institution-up-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">keyboard_arrow_up</md-icon>
          </md-button>
          <md-button class="md-primary md-raised md-icon-button"
                     id="move-institution-down-button"
                     ng-click="ctrl.moveCurrentInstitutionDown()"
                     ng-disabled="ctrl.currentInstitutionIndex == null || ctrl.currentInstitutionIndex === ctrl.analysisPackage.institutions.length - 1">
            <md-tooltip md-autohide="true" md-direction="bottom"
                        md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'analysis-package-management.edit.move-institution-down-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">keyboard_arrow_down</md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
      <md-card class="mb8">
        <md-card-header>
          <md-card-header-text>
            <h2 class="md-title">
              {{'analysis-package-management.detail.label.sponsors' | translate}}</h2>
          </md-card-header-text>
        </md-card-header>
        <md-divider></md-divider>
        <md-card-content>
          <div id="move-sponsor-container" layout="row"
               ng-repeat="sponsor in ctrl.currentSponsors track by $index">
            <md-button class="md-primary md-icon-button"
                       ng-click="ctrl.deleteSponsor($index)"
                       style="margin-top: 18px; margin-left: 0px; padding-left: 0px;">
              <md-tooltip md-autohide="true" md-direction="bottom"
                          md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'analysis-package-management.edit.delete-sponsor-tooltip' | translate}}
              </md-tooltip>
              <md-icon md-font-set="material-icons">delete_forever</md-icon>
            </md-button>
            <md-autocomplete flex="50" md-clear-button="true" md-delay="250"
                             md-floating-label="{{'analysis-package-management.edit.label.sponsor' | translate}} ({{'global.in-german' | translate}})"
                             md-input-maxlength="512"
                             md-input-name="sponsorDe_{{$index}}"
                             md-is-error="!analysisPackageForm['sponsorDe_' + $index].$valid && (analysisPackageForm['sponsorDe_' + $index].$dirty || analysisPackageForm['sponsorDe_' + $index].$touched)"
                             md-item-text="item.de"
                             md-items="item in searchSponsors(ctrl.analysisPackage.sponsors[$index].de, 'de')"
                             md-match-case-insensitive="true" md-min-length="0"
                             md-no-cache="true"
                             md-require-match="false"
                             md-search-text="ctrl.analysisPackage.sponsors[$index].de"
                             md-select-on-match="true"
                             md-selected-item="ctrl.currentSponsors[$index]"
                             md-selected-item-change="analysisPackageForm.$setDirty()"
                             ng-blur="ctrl.deleteCurrentSponsor($event)"
                             ng-focus="ctrl.setCurrentSponsor($index, $event)"
                             ng-required="true"
                             class="ms-flex mr8">
              <md-item-template>
                <span class="md-title" md-highlight-flags="ig"
                      md-highlight-text="ctrl.analysisPackage.sponsors[$parent.$index].de"
                      style="font-size: 14px;">{{item.de}}</span>
              </md-item-template>
              <md-not-found>
                {{'search-management.filter.sponsor-filter.not-found' | translate}}
              </md-not-found>
              <div
                class="fdz-input-hint"
                ng-if="!analysisPackageForm['sponsorDe_' + $parent.$index].$dirty && !analysisPackageForm['sponsorDe_' + $parent.$index].$touched">
                {{'analysis-package-management.edit.hints.sponsor.de' | translate}}
              </div>
              <div multiple
                   ng-messages="analysisPackageForm['sponsorDe_' + $parent.$index].$error">
                <div ng-message="required">
                  {{'analysis-package-management.error.analysis-package.sponsor.i18n-string-entire-not-empty' | translate}}
                </div>
                <div ng-message="maxlength">
                  {{'analysis-package-management.error.analysis-package.sponsor.i18n-string-size' | translate}}
                </div>
              </div>
            </md-autocomplete>
            <md-autocomplete flex="50" md-clear-button="true" md-delay="250"
                             md-floating-label="{{'analysis-package-management.edit.label.sponsor' | translate}} ({{'global.in-english' | translate}})"
                             md-input-maxlength="512"
                             md-input-name="sponsorEn_{{$index}}"
                             md-is-error="!analysisPackageForm['sponsorEn_' + $index].$valid && (analysisPackageForm['sponsorEn_' + $index].$dirty || analysisPackageForm['sponsorEn_' + $index].$touched)"
                             md-item-text="item.en"
                             md-items="item in searchSponsors(ctrl.analysisPackage.sponsors[$index].en, 'en')"
                             md-match-case-insensitive="true" md-min-length="0"
                             md-no-cache="true"
                             md-require-match="false"
                             md-search-text="ctrl.analysisPackage.sponsors[$index].en"
                             md-select-on-match="true"
                             md-selected-item="ctrl.currentSponsors[$index]"
                             md-selected-item-change="analysisPackageForm.$setDirty()"
                             ng-blur="ctrl.deleteCurrentSponsor($event)"
                             ng-focus="ctrl.setCurrentSponsor($index, $event)"
                             ng-required="true"
                             class="ms-flex">
              <md-item-template>
                <span class="md-title" md-highlight-flags="ig"
                      md-highlight-text="ctrl.analysisPackage.sponsors[$parent.$index].en"
                      style="font-size: 14px;">{{item.en}}</span>
              </md-item-template>
              <md-not-found>
                {{'search-management.filter.sponsor-filter.not-found' | translate}}
              </md-not-found>
              <div
                class="fdz-input-hint"
                ng-if="!analysisPackageForm['sponsorEn_' + $parent.$index].$dirty && !analysisPackageForm['sponsorEn_' + $parent.$index].$touched">
                {{'analysis-package-management.edit.hints.sponsor.en' | translate}}
              </div>
              <div multiple
                   ng-messages="analysisPackageForm['sponsorEn_' + $parent.$index].$error">
                <div ng-message="required">
                  {{'analysis-package-management.error.analysis-package.sponsor.i18n-string-entire-not-empty' | translate}}
                </div>
                <div ng-message="maxlength">
                  {{'analysis-package-management.error.analysis-package.sponsor.i18n-string-size' | translate}}
                </div>
              </div>
            </md-autocomplete>
          </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="begin center" class="mb12">
          <md-button class="md-primary md-raised md-icon-button ml6"
                     ng-click="ctrl.addSponsor()">
            <md-tooltip md-autohide="true" md-direction="bottom"
                        md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'analysis-package-management.edit.add-sponsor-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">add</md-icon>
          </md-button>
          <md-button class="md-primary md-raised md-icon-button"
                     id="move-sponsor-up-button"
                     ng-click="ctrl.moveCurrentSponsorUp()"
                     ng-disabled="ctrl.currentSponsorIndex == null || ctrl.currentSponsorIndex === 0">
            <md-tooltip md-autohide="true" md-direction="bottom"
                        md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'analysis-package-management.edit.move-sponsor-up-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">keyboard_arrow_up</md-icon>
          </md-button>
          <md-button class="md-primary md-raised md-icon-button"
                     id="move-sponsor-down-button"
                     ng-click="ctrl.moveCurrentSponsorDown()"
                     ng-disabled="ctrl.currentSponsorIndex == null || ctrl.currentSponsorIndex === ctrl.analysisPackage.sponsors.length - 1">
            <md-tooltip md-autohide="true" md-direction="bottom"
                        md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'analysis-package-management.edit.move-sponsor-down-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">keyboard_arrow_down</md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
      <edit-text-section-component bilingual="false"
                                   name="link"
                                   current-form="analysisPackageForm"
                                   translation-key-package="analysis-package"
                                   translation-key-name="license"
                                   max-length="1048576"
                                   content="ctrl.analysisPackage.license"></edit-text-section-component>
      <edit-script-section-component scripts="ctrl.analysisPackage.scripts"
                                     create-mode="ctrl.createMode"
                                     package-id="ctrl.analysisPackage.id"
                                     master-id="ctrl.analysisPackage.masterId"
                                     project-id="ctrl.analysisPackage.dataAcquisitionProjectId"
                                     current-form="analysisPackageForm"></edit-script-section-component>
      <list-data-package-component current-form="analysisPackageForm"
                                   packages="ctrl.analysisPackage.analysisDataPackages"></list-data-package-component>
      <md-card class="mb8">
        <md-card-header>
          <md-card-header-text>
            <h2 class="md-title">
              {{'analysis-package-management.edit.label.tags' | translate}}</h2>
          </md-card-header-text>
        </md-card-header>
        <md-divider></md-divider>
        <md-card-content>
          <tag-editor require-german-tag="true" require-english-tag="true"
                      tag-search="ctrl.findTags(searchText, language)"
                      tags="ctrl.analysisPackage.tags"></tag-editor>
        </md-card-content>
      </md-card>

      <url-component
        current-form="analysisPackageForm"
        content="ctrl.analysisPackage.additionalLinks"
        template-url="scripts/common/url/additional-links.html.tmpl"></url-component>
    </div>
  </form>
  <div>
    <md-card class="mt0" ng-if="ctrl.analysisPackage.id">
      <md-card-header layout-align="center center">
        <md-card-header-text class="pb">
          <h2 class="md-title">
            {{'analysis-package-management.detail.attachments.table-title' | translate}}</h2>
        </md-card-header-text>
      </md-card-header>
      <table fdz-table
             ng-if="!ctrl.createMode && ctrl.attachments && ctrl.attachments.length > 0">
        <thead>
        <tr>
          <th></th>
          <th style="min-height: 40px;"></th>
          <th style="min-height: 40px;"></th>
          <th class="fdz-table-half-absorbing-column">
            {{'analysis-package-management.detail.label.attachments.description' | translate}}
            <md-tooltip hide-gt-xs md-direction="right">
              {{'analysis-package-management.detail.label.attachments.description' | translate}}
            </md-tooltip>
          </th>
          <th class="fdz-table-half-absorbing-column">
            {{'analysis-package-management.detail.label.attachments.title' | translate}}
            <md-tooltip hide-gt-xs md-direction="right">
              {{'analysis-package-management.detail.label.attachments.title' | translate}}
            </md-tooltip>
          </th>
          <th>
            {{'analysis-package-management.detail.label.attachments.language' | translate}}
            <md-tooltip hide-gt-xs md-direction="right">
              {{'analysis-package-management.detail.label.attachments.language' | translate}}
            </md-tooltip>
          </th>
          <th>
            {{'analysis-package-management.detail.label.attachments.file' | translate}}
            <md-tooltip hide-gt-xs md-direction="right">
              {{'analysis-package-management.detail.label.attachments.file' | translate}}
            </md-tooltip>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr
          ng-class="{'fdz-selected-table-row': $index === ctrl.currentAttachmentIndex}"
          ng-click="ctrl.selectAttachment($index)"
          ng-init="translationParams = {filename: row.fileName}"
          ng-repeat="row in ctrl.attachments">
          <td class="fdz-table-nowrap pr0">
            <md-radio-group class="md-primary"
                            ng-model="ctrl.currentAttachmentIndex">
              <md-radio-button ng-value="$index" class="mb0">
                <md-tooltip md-autohide="true" md-direction="right"
                            md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                  {{'analysis-package-management.detail.attachments.select-attachment-tooltip' | translate:translationParams}}
                </md-tooltip>
              </md-radio-button>
            </md-radio-group>
          </td>
          <td class="fdz-table-nowrap pa0">
            <md-button class="md-primary md-icon-button ma0"
                       ng-click="ctrl.editAttachment(row, $event)">
              <md-tooltip md-autohide="true" md-direction="bottom"
                          md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'analysis-package-management.detail.attachments.edit-attachment-tooltip' | translate:translationParams}}
              </md-tooltip>
              <md-icon md-font-set="material-icons">mode_edit</md-icon>
            </md-button>
          </td>
          <td class="fdz-table-nowrap ma0 pa0">
            <md-button class="md-primary md-icon-button ma0"
                       ng-click="ctrl.deleteAttachment(row, $index)">
              <md-tooltip md-autohide="true" md-direction="bottom"
                          md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'analysis-package-management.detail.attachments.delete-attachment-tooltip' | translate:translationParams}}
              </md-tooltip>
              <md-icon md-font-set="material-icons">delete_forever</md-icon>
            </md-button>
          </td>
          <td class="fdz-text-block" display-i18n-string="row.description"></td>
          <td lang="{{row.language}}">{{row.title}}&nbsp;</td>
          <td>{{row.language | displayIsoLanguage: currentLanguage}}&nbsp;</td>
          <td class="nowrap"><a ng-href="{{row.id}}"
                                target="_blank">{{row.fileName}}
            <md-tooltip md-autohide="true"
                        md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'global.tooltips.files.download' | translate: {filename: row.fileName}
              }}
            </md-tooltip>
          </a>&nbsp;
          </td>
        </tr>
        </tbody>
      </table>
      <md-divider></md-divider>
      <md-card-content ng-if="ctrl.createMode">
        {{'analysis-package-management.detail.attachments.save-analysis-package-before-adding-attachment' | translate}}
      </md-card-content>
      <md-card-actions layout="row" layout-align="begin center"
                       ng-if="!ctrl.createMode"
                       style="margin-top: 12px; margin-bottom: 12px;">
        <md-button class="md-primary md-raised md-icon-button ml6"
                   ng-click="ctrl.addAttachment($event)">
          <md-tooltip md-autohide="true" md-direction="bottom"
                      md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'analysis-package-management.detail.attachments.add-attachment-tooltip' | translate}}
          </md-tooltip>
          <md-icon md-font-set="material-icons">add</md-icon>
        </md-button>
        <md-button class="md-primary md-raised md-icon-button"
                   ng-click="ctrl.moveAttachmentUp()"
                   ng-disabled="ctrl.currentAttachmentIndex == null || ctrl.currentAttachmentIndex === 0">
          <md-tooltip md-autohide="true" md-direction="bottom"
                      md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'analysis-package-management.detail.attachments.move-attachment-up-tooltip' | translate}}
          </md-tooltip>
          <md-icon md-font-set="material-icons">keyboard_arrow_up</md-icon>
        </md-button>
        <md-button
          class="md-primary md-raised md-icon-button"
          ng-click="ctrl.moveAttachmentDown()"
          ng-disabled="ctrl.currentAttachmentIndex == null || ctrl.currentAttachmentIndex === ctrl.attachments.length - 1">
          <md-tooltip md-autohide="true" md-direction="bottom"
                      md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'analysis-package-management.detail.attachments.move-attachment-down-tooltip' | translate}}
          </md-tooltip>
          <md-icon md-font-set="material-icons">keyboard_arrow_down</md-icon>
        </md-button>
        <md-button class="md-accent md-raised md-icon-button"
                   ng-click="ctrl.saveAttachmentOrder()"
                   ng-disabled="!ctrl.attachmentOrderIsDirty">
          <md-tooltip md-autohide="true" md-direction="bottom"
                      md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'analysis-package-management.detail.attachments.save-attachment-order-tooltip' | translate}}
          </md-tooltip>
          <md-icon md-font-set="material-icons">save</md-icon>
        </md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>
<div class="fdz-fab-button-container" layout="column"
     ng-if="ctrl.analysisPackage.id">
  <md-button class="md-fab md-raised md-primary"
             ng-click="ctrl.openRestorePreviousVersionDialog($event)"
             ng-disabled="ctrl.createMode">
    <md-tooltip md-autohide="true" md-direction="left"
                md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
      {{'analysis-package-management.edit.open-choose-previous-version-tooltip' | translate}}
    </md-tooltip>
    <md-icon md-font-set="material-icons" class="ml9">history</md-icon>
  </md-button>
  <md-button class="md-fab md-raised md-accent"
             ng-click="ctrl.saveAnalysisPackage()"
             ng-disabled="!analysisPackageForm.$dirty"
             type="submit">
    <md-tooltip md-autohide="true" md-direction="left"
                md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
      {{'analysis-package-management.edit.save-tooltip' | translate}}
    </md-tooltip>
    <md-icon md-font-set="material-icons">save</md-icon>
  </md-button>
</div>
