<md-card>
<md-divider></md-divider>
  <md-card-header>
    <md-card-header-text>
      <h2 class="md-title">{{'variable-management.detail.next-variable-in-data-set' | translate | fdzHyphenate }}</h2>
    </md-card-header-text>
    <md-button
      aria-label="md-card collapsed = {{$ctrl.collapsed}}}"
      class="md-card-collapsible-button"
      ng-click="$ctrl.collapsed = !$ctrl.collapsed">
      <md-icon md-font-set="material-icons" ng-if="!$ctrl.collapsed">keyboard_arrow_up</md-icon>
      <md-icon md-font-set="material-icons" ng-if="$ctrl.collapsed">keyboard_arrow_down</md-icon>
    </md-button>
  </md-card-header>
  <div ng-if="!$ctrl.collapsed">
    <md-card-content>
      <div ng-repeat="next in $ctrl.options" style="width: 100%;" class="questions">
        <variable-search-result bowser="bowser" current-language="$ctrl.lang"
                                search-result="next._source"></variable-search-result>
      </div>
      <div layout="row" layout-align="center center" layout-padding ng-if="$ctrl.options.length == 0">
        {{'variable-management.detail.no-next-variable' | translate }}
      </div>
    </md-card-content>
  </div>
</md-card>
