<md-card>
  <md-card-header ng-click="$ctrl.collapsed = !$ctrl.collapsed">
    <md-card-header-text>
      <h2 class="md-title">{{'variable-management.detail.previous-variable-in-data-set' | translate }}</h2>
    </md-card-header-text>
    <md-button
      class="md-card-collapsible-button"
      aria-label="{{($ctrl.collapsed ? 'global.collapsed' : 'global.uncollapsed') | translate}}">
      <md-icon md-font-set="material-icons" ng-if="!$ctrl.collapsed">keyboard_arrow_up</md-icon>
      <md-icon md-font-set="material-icons" ng-if="$ctrl.collapsed">keyboard_arrow_down</md-icon>
    </md-button>
  </md-card-header>
  <div ng-if="!$ctrl.collapsed">
    <md-card-content class="fdz-questions">
      <div ng-repeat="next in $ctrl.options" class="questions w-100">
        <variable-search-result bowser="bowser" current-language="$ctrl.lang"
                                search-result="next._source"></variable-search-result>
      </div>
      <div layout="row" layout-align="center center" layout-padding ng-if="$ctrl.options.length == 0">
        {{'variable-management.detail.no-previous-variable' | translate}}
      </div>
    </md-card-content>
  </div>
</md-card>
