<div ng-form="derivedVariablesIdentifierFilterForm" layout="row" layout-align="center center">
    <md-autocomplete fdz-autofocus="!currentSearchParams.filter['derived-variables-identifier']" md-delay="250" class="fdz-search-filter-component" md-input-name="derivedVariablesIdentifierFilter" md-floating-label="{{'search-management.filter.floating-label.derived-variables-identifier' | translate}}" flex md-min-length="0" md-require-match="true" md-select-on-match="true"
      md-selected-item="currentDerivedVariablesIdentifier" md-selected-item-change="onSelectionChanged(currentDerivedVariablesIdentifier)" md-search-text="searchText" md-items="item in searchDerivedVariablesIdentifiers(searchText)" md-item-text="item.key" md-clear-button="true" md-no-cache="true" md-menu-class="fdz-search-filter-items" md-select-on-focus="true">
        <md-item-template>
            <span class="item-title fdz-truncate-string">
              <strong md-highlight-text="searchText" md-highlight-flags="ig">{{item.key}}</strong>
            </span>
            <span class="item-metadata fdz-truncate-string">{{'search-management.tabs.variables-found' | translate:'{number:' + item.doc_count + '}':'messageformat'}}</span>
        </md-item-template>
        <md-not-found>
          <span class="item-title fdz-truncate-string">
            <strong>{{'search-management.filter.derived-variables-identifier-filter.not-found' | translate}}</strong>
          </span>
          <span class="item-metadata fdz-truncate-string">{{'search-management.tabs.variables-found' | translate:'{number:0}':'messageformat'}}</span>
        </md-not-found>
        <div ng-messages="derivedVariablesIdentifierFilterForm.derivedVariablesIdentifierFilter.$error">
            <div ng-message="md-require-match">
                {{'search-management.filter.derived-variables-identifier-filter.no-valid-selected' | translate}}
            </div>
        </div>
    </md-autocomplete>
</div>
