<div ng-form="repeatedMeasurementIdentifierFilterForm" layout="row" layout-align="center center">
    <md-autocomplete fdz-autofocus="!currentSearchParams.filter['repeated-measurement-identifier']" md-delay="250" class="fdz-search-filter-component" md-input-name="repeatedMeasurementIdentifierFilter" md-floating-label="{{'search-management.filter.floating-label.repeated-measurement-identifier' | translate}}" flex md-min-length="0" md-require-match="true" md-select-on-match="true"
      md-selected-item="currentRepeatedMeasurementIdentifier" md-selected-item-change="onSelectionChanged(currentRepeatedMeasurementIdentifier)" md-search-text="searchText" md-items="item in searchRepeatedMeasurementIdentifiers(searchText)" md-item-text="item.key" md-clear-button="true" md-no-cache="true" md-menu-class="fdz-search-filter-items" md-select-on-focus="true">
        <md-item-template>
          <span class="item-title fdz-truncate-string">
            <strong md-highlight-text="searchText" md-highlight-flags="ig">{{item.key}}</strong>
          </span>
          <span class="item-metadata fdz-truncate-string">{{'search-management.tabs.variables-found' | translate:'{number:' + item.doc_count + '}':'messageformat'}}</span>
        </md-item-template>
        <md-not-found>
          <span class="item-title fdz-truncate-string">
            <strong>{{'search-management.filter.repeated-measurement-identifier-filter.not-found' | translate}}</strong>
          </span>
          <span class="item-metadata fdz-truncate-string">{{'search-management.tabs.variables-found' | translate:'{number:0}':'messageformat'}}</span>
        </md-not-found>
        <div ng-messages="repeatedMeasurementIdentifierFilterForm.repeatedMeasurementIdentifierFilter.$error">
            <div ng-message="md-require-match">
                {{'search-management.filter.repeated-measurement-identifier-filter.no-valid-selected' | translate}}
            </div>
        </div>
    </md-autocomplete>
</div>
