<div layout="row">
    <md-input-container flex-gt-sm="50" flex class="fdz-filter-select" ng-style="!selectedFilters || selectedFilters.length === 0 ? {'margin-right':'16px'} : {}">
        <md-icon md-svg-src="/assets/images/icons/filter.svg"></md-icon>
        <label>{{'search-management.filter.input-label.' + currentElasticsearchType | translate}}</label>
        <md-select ng-model="selectedFilters" md-on-close="clearFilterSearchTerm()" multiple>
            <md-select-header layout="row" class="fdz-select-header">
                <md-input-container flex>
                    <label>{{'search-management.filter.filter-search-input-label' | translate}}</label>
                    <input id="searchFilterInput" ng-model="filterSearchTerm" type="search">
                </md-input-container>
                <md-button class="md-icon-button" tabindex="-1" aria-label="{{'global.buttons.close' | translate}}" ng-click="closeSelectMenu()">
                    <md-icon md-font-set="material-icons">close</md-icon>
                </md-button>
            </md-select-header>
            <md-divider style="background-color: white;"></md-divider>
            <md-content class="md-select-menu-ie11-fix">
                <md-option ng-value="filter" ng-repeat="filter in availableHiddenFilters | filterTranslatedValues:filterSearchTerm:'search-management.filter.'" ng-click="selectedFilters.indexOf(filter) === -1 && closeSelectMenu()">{{'search-management.filter.' + filter | translate}}</md-option>
                <md-option ng-value="filter" ng-repeat="filter in displayAvailableFilters | filterTranslatedValues:filterSearchTerm:'search-management.filter.'" ng-click="selectedFilters.indexOf(filter) === -1 && closeSelectMenu()">{{'search-management.filter.' + filter | translate}}</md-option>
            </md-content>
        </md-select>
    </md-input-container>
    <div flex-gt-sm></div>
    <md-button ng-class="{'md-primary': filtersCollapsed}" ng-show="selectedFilters && selectedFilters.length !== 0" class="md-icon-button" ng-click="filtersCollapsed = !filtersCollapsed" style="margin-right: 0px; margin-top: 16px;">
      <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
        {{'search-management.filter.uncollapse-filters-tooltip.' +  filtersCollapsed | translate}}
      </md-tooltip>
      <md-icon ng-if="filtersCollapsed" md-svg-src="/assets/images/icons/arrow-expand.svg"></md-icon>
      <md-icon ng-if="!filtersCollapsed" md-svg-src="/assets/images/icons/arrow-compress.svg"></md-icon>
    </md-button>
    <md-button ng-show="selectedFilters && selectedFilters.length !== 0" class="md-icon-button" ng-click="selectedFilters = []" style="margin-right: 16px; margin-top: 16px;">
        <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'search-management.filter.clear-filters-tooltip' | translate}}
        </md-tooltip>
        <md-icon md-svg-src="/assets/images/icons/filter-remove.svg"></md-icon>
    </md-button>
</div>
<div ng-if="selectedFilters && selectedFilters.length !== 0" layout="column" style="margin: 0px 16px 0px 16px;" ng-style="getFilterPanelStyle()" ng-hide="filtersCollapsed">
    <form role="search" ng-submit="hideMobileKeyboard()">
        <study-series-search-filter ng-if="selectedFilters.indexOf('study-series-de') >= 0 || selectedFilters.indexOf('study-series-en') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" selected-filters="selectedFilters" study-series-changed-callback="onOneFilterChanged" bowser="bowser"></study-series-search-filter>
        <datapackage-search-filter ng-if="selectedFilters.indexOf('data-package') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" datapackage-changed-callback="onOneFilterChanged" bowser="bowser"></datapackage-search-filter>
        <institution-search-filter ng-if="selectedFilters.indexOf('institution-de') >= 0 || selectedFilters.indexOf('institution-en') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" institution-changed-callback="onOneFilterChanged()" bowser="bowser"></institution-search-filter>
        <survey-search-filter ng-if="selectedFilters.indexOf('survey') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" survey-changed-callback="onOneFilterChanged" bowser="bowser"></survey-search-filter>
        <instrument-search-filter ng-if="selectedFilters.indexOf('instrument') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" instrument-changed-callback="onOneFilterChanged" bowser="bowser"></instrument-search-filter>
        <question-search-filter ng-if="selectedFilters.indexOf('question') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" question-changed-callback="onOneFilterChanged" bowser="bowser"></question-search-filter>
        <dataset-search-filter ng-if="selectedFilters.indexOf('data-set') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" dataset-changed-callback="onOneFilterChanged" bowser="bowser"></dataset-search-filter>
        <variable-search-filter ng-if="selectedFilters.indexOf('variable') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" variable-changed-callback="onOneFilterChanged" bowser="bowser"></variable-search-filter>
        <access-way-search-filter ng-if="selectedFilters.indexOf('access-way') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" access-way-changed-callback="onOneFilterChanged" bowser="bowser"></access-way-search-filter>
        <repeated-measurement-identifier-search-filter ng-if="selectedFilters.indexOf('repeated-measurement-identifier') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" repeated-measurement-identifier-changed-callback="onOneFilterChanged" bowser="bowser"></repeated-measurement-identifier-search-filter>
        <derived-variables-identifier-search-filter ng-if="selectedFilters.indexOf('derived-variables-identifier') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" derived-variables-identifier-changed-callback="onOneFilterChanged" bowser="bowser"></derived-variables-identifier-search-filter>
        <related-publication-search-filter ng-if="selectedFilters.indexOf('related-publication') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" related-publication-changed-callback="onOneFilterChanged" bowser="bowser"></related-publication-search-filter>
        <concept-search-filter ng-if="selectedFilters.indexOf('concept') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" concept-changed-callback="onOneFilterChanged" bowser="bowser"></concept-search-filter>
        <sponsor-search-filter ng-if="selectedFilters.indexOf('sponsor-de') >= 0 || selectedFilters.indexOf('sponsor-en') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" sponsor-changed-callback="onOneFilterChanged()" bowser="bowser"></sponsor-search-filter>
        <survey-method-search-filter ng-if="selectedFilters.indexOf('survey-method-de') >= 0 || selectedFilters.indexOf('survey-method-en') >= 0" current-language="currentLanguage" current-search-params="currentSearchParams" survey-method-changed-callback="onOneFilterChanged()" bowser="bowser"></survey-method-search-filter>
        <md-checkbox ng-if="selectedFilters.indexOf('transmissionViaVerbundFdb') >= 0" ng-model="transmissionViaVerbundFdb" ng-change="onTransmissionViaVerbundFdbClick()" name="dataPackage" class="mb0">
            {{'search-management.filter.transmissionViaVerbundFdb' | translate}}
        </md-checkbox>
        <input type="submit" ng-hide="true">
    </form>
</div>
<md-progress-linear md-mode="indeterminate" ng-disabled="!isSearching"></md-progress-linear>
