<div ng-form="studySeriesFilterForm" layout="row" layout-align="center center">
    <md-autocomplete fdz-autofocus="!currentSearchParams.filter['study-series-' + currentLanguage]" md-delay="250" class="fdz-search-filter-component" md-input-name="studySeriesFilter" md-floating-label="{{'search-management.filter.floating-label.study-series' | translate}}" flex md-min-length="0" md-require-match="true" md-select-on-match="true"
      md-selected-item="currentStudySeries" md-selected-item-change="onSelectionChanged(currentStudySeries)" md-search-text="searchText" md-items="item in searchStudySeries(searchText, currentLanguage)" md-item-text="item[currentLanguage]" md-clear-button="true" md-no-cache="true" md-menu-class="fdz-search-filter-items" md-select-on-focus="true">
        <md-item-template>
          <span class="item-title fdz-truncate-string">
            <strong md-highlight-text="searchText" md-highlight-flags="ig">{{(item | displayI18nString)}}</strong>
          </span>
          <span class="item-metadata fdz-truncate-string">{{'search-management.tabs.' + type + '-found' | translate:'{number:' + item.count + '}':'messageformat'}}</span>
        </md-item-template>
        <md-not-found>
          <span class="item-title fdz-truncate-string">
            <strong>{{'search-management.filter.study-series-filter.not-found' | translate}}</strong>
          </span>
          <span class="item-metadata fdz-truncate-string">{{'search-management.tabs.' + type + '-found' | translate:'{number:0}':'messageformat'}}</span>
        </md-not-found>
        <div ng-messages="studySeriesFilterForm.studySeriesFilter.$error">
            <div ng-message="md-require-match">
                {{'search-management.filter.study-series-filter.no-valid-selected' | translate}}
            </div>
        </div>
    </md-autocomplete>
</div>
