<div ng-form="surveyMethodFilterForm" layout="row" layout-align="center center">
    <md-autocomplete fdz-autofocus="!currentSearchParams.filter['survey-method-' + currentLanguage]"
                     class="fdz-search-filter-component"
                     flex
                     md-delay="250"
                     md-input-name="surveyMethodFilter"
                     md-floating-label="{{'search-management.filter.floating-label.survey-method' | translate}}"
                     md-min-length="0"
                     md-items="item in searchSurveyMethods(searchText, currentLanguage)"
                     md-selected-item="currentSurveyMethod"
                     md-selected-item-change="onSelectionChanged(currentSurveyMethod)"
                     md-require-match="true"
                     md-select-on-match="true"
                     md-search-text="searchText"
                     md-item-text="item[currentLanguage]"
                     md-clear-button="true"
                     md-no-cache="true"
                     md-menu-class="fdz-search-filter-items"
                     md-select-on-focus="true">
        <md-item-template>
          <span class="item-title fdz-truncate-string">
            <strong md-highlight-text="searchText" md-highlight-flags="ig">{{(item | displayI18nString)}}</strong>
          </span>
            <span class="item-metadata fdz-truncate-string">{{'search-management.tabs.' + type + '-found' | translate:'{number:' + item.count + '}':'messageformat'}}</span>
        </md-item-template>
        <md-not-found>
          <span class="item-title fdz-truncate-string">
            <strong>{{'search-management.filter.survey-method-filter.not-found' | translate}}</strong>
          </span>
            <span class="item-metadata fdz-truncate-string">{{'search-management.tabs.' + type + '-found' | translate:'{number:0}':'messageformat'}}</span>
        </md-not-found>
        <div ng-messages="surveyMethodFilterForm.surveyMethodFilter.$error">
            <div ng-message="md-require-match">
                {{'search-management.filter.survey-method-filter.no-valid-selected' | translate}}
            </div>
        </div>
    </md-autocomplete>
</div>
