<span class="label label-as-badge bg-primary" ng-if="assigneeGroup">
    {{'data-acquisition-project-management.projectstatuslabel.assigned-to' | translate}}
    {{('data-acquisition-project-management.projectstatuslabel.' + assigneeGroup) | translate}}
</span>
