<div>
	<div layout-gt-sm="row" layout="column">
	<div flex class="ms-flex">
		<div class="layout-margin layout-row md-body-2">{{'data-acquisition-project-management.project-cockpit.search.header-publisher' | translate}}</div>
		<user-list project="project" is-publisher="ctrl.isUserPublisher()" group="publishers"></user-list>
	</div>
	<div flex class="ms-flex">
		<div class="layout-margin layout-row md-body-2">{{'data-acquisition-project-management.project-cockpit.search.header-data-provider' | translate}}</div>
		<user-list project="project" is-publisher="ctrl.isUserPublisher()" group="dataProviders"></user-list>
	</div>
	</div>

	<md-card>
		<md-card-title class="pa0">
			<md-card-title-text>
				<span class="md-headline">
					Release Einstellungen
				</span>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
			<md-input-container>
				<label>Embargo-Date</label>
				<div class="layout-row">
					<md-datepicker ng-model="ctrl.project.embargoDate" ng-disabled="ctrl.isEmbargoDateDisabled()" md-hide-icons="calendar" ng-change="ctrl.onEmbargoDateChanged()" md-open-on-focus></md-datepicker>
					<md-button ng-disabled="ctrl.project.embargoDate === null || ctrl.isEmbargoDateDisabled()" class="md-icon-button md-primary mb-16" ng-click="ctrl.removeEmbargoDate()">
						<md-icon md-font-set="material-icons" class="ng-binding ng-scope material-icons" role="img">delete_forever</md-icon>
						<md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
							"Embargo-Date löschen"
						</md-tooltip>
					</md-button>
				</div>
			</md-input-container>
		</md-card-content>
	</md-card>

	<md-card ng-if="ctrl.project.configuration.requirements">
		<md-card-title class="pa0">
			<md-card-title-text>
				<span class="md-headline">
					{{'data-acquisition-project-management.project-cockpit.requirements.header' | translate}}
				</span>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
			<p class="md-body-1">
				{{'data-acquisition-project-management.project-cockpit.requirements.setting-info' | translate}}
			</p>
			<form class="df fg-1" name="requirements" novalidate>
				<md-list class="w-50">
					<md-list-item>
						<md-input-container class="mv8">
							<md-checkbox ng-model="ctrl.project.configuration.requirements.dataPackagesRequired" ng-change="ctrl.isDataPackageChecked()" ng-disabled="ctrl.isProjectRequirementsDisabled()" name="dataPackage" class="mb0">
								{{'data-acquisition-project-management.project-cockpit.requirements.dataPackages' | translate}}
							</md-checkbox>
						</md-input-container>
					</md-list-item>
					<md-list-item>
						<md-input-container class="mv8">
							<md-checkbox ng-model="ctrl.project.configuration.requirements.surveysRequired" class="mb0" name="survey" ng-disabled="ctrl.isProjectRequirementsDisabled() || ctrl.project.configuration.requirements.analysisPackagesRequired">
								{{'data-acquisition-project-management.project-cockpit.requirements.surveys' | translate}}
							</md-checkbox>
						</md-input-container>
					</md-list-item>
					<md-list-item>
						<md-input-container class="mv8">
							<md-checkbox ng-model="ctrl.project.configuration.requirements.instrumentsRequired" class="mb0" name="instruments" ng-disabled="ctrl.isProjectRequirementsDisabled() || ctrl.project.configuration.requirements.analysisPackagesRequired">
								{{'data-acquisition-project-management.project-cockpit.requirements.instruments' | translate}}
							</md-checkbox>
						</md-input-container>
					</md-list-item>
					<md-list-item>
						<md-input-container class="mv8">
							<md-checkbox ng-model="ctrl.project.configuration.requirements.questionsRequired" class="mb0" name="questions" ng-disabled="ctrl.isProjectRequirementsDisabled() || ctrl.project.configuration.requirements.analysisPackagesRequired">
								{{'data-acquisition-project-management.project-cockpit.requirements.questions' | translate}}
							</md-checkbox>
						</md-input-container>
					</md-list-item>
					<md-list-item>
						<md-input-container class="mv8">
							<md-checkbox ng-model="ctrl.project.configuration.requirements.dataSetsRequired" class="mb0" name="dataSet" ng-disabled="ctrl.isProjectRequirementsDisabled() || ctrl.project.configuration.requirements.analysisPackagesRequired">
								{{'data-acquisition-project-management.project-cockpit.requirements.dataSets' | translate}}
							</md-checkbox>
						</md-input-container>
					</md-list-item>
					<md-list-item>
						<md-input-container class="mv8">
							<md-checkbox ng-model="ctrl.project.configuration.requirements.variablesRequired" class="mb0" name="variables" ng-disabled="ctrl.isProjectRequirementsDisabled() || ctrl.project.configuration.requirements.analysisPackagesRequired">
								{{'data-acquisition-project-management.project-cockpit.requirements.variables' | translate}}
							</md-checkbox>
						</md-input-container>
					</md-list-item>
					<md-list-item>
						<md-input-container class="mv8">
							<md-checkbox ng-model="ctrl.project.configuration.requirements.publicationsRequired" class="mb0" name="publications" ng-disabled="ctrl.isProjectRequirementsDisabled() || ctrl.project.configuration.requirements.analysisPackagesRequired">
								{{'data-acquisition-project-management.project-cockpit.requirements.publications' | translate}}
							</md-checkbox>
						</md-input-container>
					</md-list-item>
					<md-list-item>
						<md-input-container class="mv8">
							<md-checkbox ng-model="ctrl.project.configuration.requirements.conceptsRequired" class="mb0" name="concepts" ng-disabled="ctrl.isProjectRequirementsDisabled() || ctrl.project.configuration.requirements.analysisPackagesRequired">
								{{'data-acquisition-project-management.project-cockpit.requirements.concepts' | translate}}
							</md-checkbox>
						</md-input-container>
					</md-list-item>
				</md-list>
        <md-list class="w-50">
          <md-list-item>
            <md-input-container class="mv8">
              <md-checkbox ng-model="ctrl.project.configuration.requirements.analysisPackagesRequired" ng-change="ctrl.isAnalysisPackageChecked()"  ng-disabled="ctrl.isProjectRequirementsDisabled()" name="analysisPackage" class="mb0">
                {{'data-acquisition-project-management.project-cockpit.requirements.analysisPackages' | translate}}
              </md-checkbox>
            </md-input-container>
          </md-list-item>
        </md-list>
			</form>
		</md-card-content>
	</md-card>
</div>
