<div>
    <md-button ng-if="ctrl.project" class="md-primary md-raised md-icon-button" ng-click="ctrl.toggleReleaseProject()"
        ng-disabled="!ctrl.isAssignedPublisher() || ctrl.project.assigneeGroup !== 'PUBLISHER' || (ctrl.project.release && ctrl.project.release.isPreRelease && !ctrl.isEmbargoDateExpired())"
        aria-label="Toggle release state of project">
        <!-- tooltips -->
        <md-tooltip ng-if="ctrl.shouldDisplayUserNotAllowedTooltip()" ng-hide="!project" md-direction="bottom"
            md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'data-acquisition-project-management.error.project-update-access.member-of-assigned-group' | translate}}
        </md-tooltip>
        <md-tooltip ng-if="ctrl.shouldDisplayReleaseTooltip()" ng-hide="!project" md-direction="bottom"
            md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'global.tooltips.release-project' | translate}}
        </md-tooltip>
        <md-tooltip ng-if="ctrl.shouldDisplayPreReleaseTooltip()" ng-hide="!project" md-direction="bottom"
            md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'global.tooltips.prerelease-project' | translate}}
        </md-tooltip>
        <md-tooltip ng-if="ctrl.shouldDisplayReleaseNotAllowedTooltip()" ng-hide="!project" md-direction="bottom"
            md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            Diese Aktion ist nicht möglich, solange das Embargo-Datum nicht abgelaufen ist.
        </md-tooltip>
        <md-tooltip ng-if="ctrl.shouldDisplayUnreleaseTooltip()" ng-hide="!project" md-direction="bottom"
            md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'global.tooltips.unrelease-project' | translate}}
        </md-tooltip>
        <!-- icons -->
        <md-icon ng-if="ctrl.shouldDisplayPreReleaseIcon()" md-font-set="material-icons">{{'more_time'}}</md-icon>
        <md-icon ng-if="ctrl.shouldDisplayRegularReleaseIcon()" md-font-set="material-icons">{{'screen_share'}}
        </md-icon>
        <md-icon ng-if="ctrl.shouldDisplayUnreleaseIcon()"
            md-font-set="material-icons">{{'stop_screen_share'}}</md-icon>
    </md-button>
</div>