<md-card>
    <md-card-content layout="column">
        <md-content style="background-color: white;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th data-translate="global.field.id">ID</th>
                        <th data-translate="user-management.login.login">Login</th>
                        <th data-translate="user-management.email">Email</th>
                        <th></th>
                        <th data-translate="user-management.langKey">LangKey</th>
                        <th data-translate="user-management.profiles">Profiles</th>
                        <th data-translate="user-management.createdDate">CreatedDate</th>
                        <th data-translate="user-management.lastModifiedBy">LastModifiedBy</th>
                        <th data-translate="user-management.lastModifiedDate">LastModifiedDate</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users track by user.id">
                        <td>
                            <a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a>
                        </td>
                        <td>{{user.login}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <span class="label label-danger" ng-click="setActive(user, true)" ng-show="!user.activated" data-translate="user-management.deactivated" style="cursor: pointer;">Desactivated</span>
                            <span class="label label-success" ng-click="setActive(user, false)" ng-show="user.activated" data-translate="user-management.activated" style="cursor: pointer;">Activated</span>
                        </td>
                        <td>{{user.langKey}}</td>
                        <td>
                            <div ng-repeat="authority in user.authorities">
                                <span class="label label-info">{{ authority }}</span>
                            </div>
                        </td>
                        <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                        <td>{{user.lastModifiedBy}}</td>
                        <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                        <td class="text-right">
                            <button type="submit" ui-sref="user-management-detail({login:user.login})" class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button type="submit" ng-click="showUpdate(user.login)" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pagination">
                    <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])">
                        <a>&lt;&lt;</a>
                    </li>
                    <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)">
                        <a>&lt;</a>
                    </li>
                    <li ng-show="page > 1" ng-click="loadPage(page - 2)">
                        <a>{{page - 1}}</a>
                    </li>
                    <li ng-show="page > 0" ng-click="loadPage(page - 1)">
                        <a>{{page}}</a>
                    </li>
                    <li class="active">
                        <a>{{page + 1}}</a>
                    </li>
                    <li ng-show="page < links['last']" ng-click="loadPage(page + 1)">
                        <a>{{page + 2}}</a>
                    </li>
                    <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)">
                        <a>{{page + 3}}</a>
                    </li>
                    <li ng-show="links['next']" ng-click="loadPage(links['next'])">
                        <a>&gt;</a>
                    </li>
                    <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])">
                        <a>&gt;&gt;</a>
                    </li>
                </ul>
            </nav>
        </md-content>
    </md-card-content>
</md-card>
<div class="fdz-fab-button-container" layout="column">
    <md-button class="md-accent md-fab" ng-click="openUserMessageDialog($event)">
        <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
            {{'user-management.user-messages.dialog-tooltip.open-create-dialog' | translate}}
        </md-tooltip>
        <md-icon md-font-set="material-icons">send</md-icon>
    </md-button>
</div>
