<span style="margin-bottom: 5px;">{{'global.menu.entities.current-project' | translate}}</span>
<md-autocomplete
    md-search-text="ctrl.searchText"
    md-selected-item="ctrl.selectedProject"
    md-selected-item-change="ctrl.onSelectedProjectChanged(ctrl.selectedProject)"
    md-items="project in ctrl.searchProjects(ctrl.searchText)"
    md-item-text="project.id"
    md-min-length="0"
    placeholder="{{'global.menu.entities.select-project' | translate}}"
    ng-disabled="ctrl.dataAcquisitionProjects.length === 0"
    md-select-on-match="true"
    style="margin-top: 5px;"
    md-no-cache="true">
    <md-item-template>
        <span md-highlight-text="ctrl.searchText">{{project.id}}</span>
    </md-item-template>
    <md-not-found>
        <span data-translate="global.menu.entities.unknown-project" data-translate-values="{projectId: ctrl.searchText}"></span>
    </md-not-found>
</md-autocomplete>
<div style="margin-top: 1em;">
    <md-button aria-label="{{'global.menu.tooltipps.create-project' | translate}}" class="md-primary md-raised md-icon-button" ng-click="ctrl.createProject()" style="margin-right: 0px; margin-left: 0px;">
            <md-tooltip md-direction="bottom">
                {{'global.menu.tooltipps.create-project' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">add</md-icon>
    </md-button>
    <md-button aria-label="{{'global.menu.tooltipps.delete-project' | translate}}" class="md-primary md-raised md-icon-button" ng-click="ctrl.deleteProject()" style="margin-right: 0px;" ng-disabled="!ctrl.selectedProject">
            <md-tooltip md-direction="bottom">
              {{'global.menu.tooltipps.delete-project' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">delete</md-icon>
    </md-button>
    <md-button aria-label="{{'global.menu.tooltipps.post-validation' | translate}}" class="md-primary md-raised md-icon-button" ng-click="ctrl.postValidateProject()" style="margin-right: 0px;" ng-disabled="!ctrl.selectedProject">
            <md-tooltip md-direction="bottom">
                {{'global.menu.tooltipps.post-validation' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">playlist_add_check</md-icon>
    </md-button>
</div>
