<div ng-controller="dataAcquisitionProjectNavbarController">
    <span style="margin-bottom: 5px;">{{'global.menu.entities.current-project' | translate}}</span>
    <md-autocomplete
        md-search-text="autocomplete.searchText"
        md-selected-item="selectedProject"
        md-selected-item-change="updateCurrentProject(selectedProject)"
        md-items="project in querySearch(autocomplete.searchText)"
        md-item-text="project.id"
        md-min-length="0"
        placeholder="{{'global.menu.entities.select-project' | translate}}"
        ng-disabled="disableAutocomplete"
        md-select-on-match="true"
        style="margin-top: 5px;"
        md-no-cache="true">
        <md-item-template>
            <span md-highlight-text="autocomplete.searchText">{{project.id}}</span>
        </md-item-template>
        <md-not-found>
            <span data-translate="global.menu.entities.unknown-project" data-translate-values="{projectId: autocomplete.searchText}"></span>
        </md-not-found>
    </md-autocomplete>
    <div style="margin-top: 1em;">
        <md-button class="md-primary md-raised md-icon-button" ng-click="createProject()" style="margin-right: 0px; margin-left: 0px;">
            <div>
                <md-tooltip md-direction="bottom">
                    {{'global.menu.tooltipps.create-project' | translate}}
                </md-tooltip>
                <md-icon md-font-set="material-icons">add</md-icon>
            </div>
        </md-button>
        <md-button class="md-primary md-raised md-icon-button" ng-click="deleteProject()" style="margin-right: 0px;" ng-disabled="!project">
            <div>
                <md-tooltip md-direction="bottom">
                    {{'global.menu.tooltipps.delete-project' | translate}}
                </md-tooltip>
                <md-icon md-font-set="material-icons">delete</md-icon>
            </div>
        </md-button>
        <md-button class="md-primary md-raised md-icon-button" ng-click="postValidateProject()" style="margin-right: 0px;" ng-disabled="!project">
            <div>
                <md-tooltip md-direction="bottom">
                    {{'global.menu.tooltipps.post-validation' | translate}}
                </md-tooltip>
                <md-icon md-font-set="material-icons">playlist_add_check</md-icon>
            </div>
        </md-button>
    </div>
</div>
