<div ng-switch="ctrl.score">
    <md-icon ng-switch-when="0" style="min-height: 28px; min-width: 28px;" md-svg-src="assets/images/icons/clipboard.svg" class="md-primary"></md-icon>
    <md-icon ng-switch-when="1" style="min-height: 28px; min-width: 28px;" md-svg-src="assets/images/icons/clipboard-check.svg" class="md-primary"></md-icon>
    <md-icon ng-switch-when="2" style="min-height: 28px; min-width: 28px;" md-svg-src="assets/images/icons/clipboard-double-check.svg" class="md-primary"></md-icon>
    <div ng-switch-default style="min-height: 28px; min-width: 28px;"></div>
</div>