<div>
	<div layout-gt-xs="row" layout="column" layout-wrap>
		<md-card layout-margin layout-column layout-align="center center" flex="1" style="flex-grow:0;min-width:200px;padding:8px;">
			<release-status-badge released="project.release"></release-status-badge>
			<div class="layout-row">
				<md-button class="md-raised md-fab md-mini md-primary" ng-click="toggleReleaseProject()" ng-disabled="!isAssignedPublisher || project.assigneeGroup !== 'PUBLISHER'">
					<md-tooltip ng-if="isAssignedPublisher && project.assigneeGroup === 'PUBLISHER'" ng-hide="!project" md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
						{{project.release?'global.tooltips.unrelease-project':'global.tooltips.release-project' | translate}}
					</md-tooltip>
					<md-tooltip ng-if="!isAssignedPublisher || project.assigneeGroup !== 'PUBLISHER'" ng-hide="!project" md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
						{{'data-acquisition-project-management.error.project-update-access.member-of-assigned-group' | translate}}
					</md-tooltip>
					<md-icon md-font-set="material-icons">{{project.release?'stop_screen_share':'screen_share'}}</md-icon>
				</md-button>
			</div>
		</md-card>
		<md-card layout-margin layout-column layout-align="center center" flex="1" style="flex-grow:0;min-width:200px;padding:8px;">
			<project-status-badge assignee-group="{{project.assigneeGroup}}"></project-status-badge>
			<div class="layout-row">
				<md-button ng-if="!(isAssignedPublisher && project.assigneeGroup !== 'PUBLISHER')" ng-disabled="!(project.assigneeGroup === 'PUBLISHER' && isAssignedPublisher || project.assigneeGroup === 'DATA_PROVIDER' && isAssignedDataProvider)" class="md-raised md-fab md-mini md-primary" ng-click="onSaveChangesAndAssign()">
					<md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
						{{'data-acquisition-project-management.project-cockpit.button.save-assign' | translate}}
					</md-tooltip>
					<md-icon md-font-set="material-icons">send</md-icon>
				</md-button>
				<md-button ng-if="isAssignedPublisher && project.assigneeGroup !== 'PUBLISHER'" class="md-raised md-fab md-mini md-primary" ng-click="onSaveChangesAndTakeBack()">
					<md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100">
						{{'data-acquisition-project-management.project-cockpit.button.save-takeback' | translate}}
					</md-tooltip>
					<md-icon md-font-set="material-icons">gavel</md-icon>
				</md-button>
			</div>
		</md-card>
	</div>
</div>
<div layout-gt-sm="row" layout="column" layout-wrap>
	<metadata-type-state-card project="project" counts="counts" is-assigned-data-provider="isAssignedDataProvider" is-assigned-publisher="isAssignedPublisher" group="studies"></metadata-type-state-card>
	<metadata-type-state-card project="project" counts="counts" is-assigned-data-provider="isAssignedDataProvider" is-assigned-publisher="isAssignedPublisher" group="surveys"></metadata-type-state-card>
	<metadata-type-state-card project="project" counts="counts" is-assigned-data-provider="isAssignedDataProvider" is-assigned-publisher="isAssignedPublisher" group="instruments"></metadata-type-state-card>
	<metadata-type-state-card project="project" counts="counts" is-assigned-data-provider="isAssignedDataProvider" is-assigned-publisher="isAssignedPublisher" group="questions"></metadata-type-state-card>
	<metadata-type-state-card project="project" counts="counts" is-assigned-data-provider="isAssignedDataProvider" is-assigned-publisher="isAssignedPublisher" group="dataSets"></metadata-type-state-card>
	<metadata-type-state-card project="project" counts="counts" is-assigned-data-provider="isAssignedDataProvider" is-assigned-publisher="isAssignedPublisher" group="variables"></metadata-type-state-card>
</div>
