<div>
	<div>
		<div layout-gt-xs="row" layout="column" layout-wrap>
			<md-card layout-margin layout-column layout-align="center center" flex="1" style="flex-grow:0;min-width:200px;padding:8px;" class="ma8">
				<release-status-badge released="ctrl.project.release"></release-status-badge>
				<div class="layout-row">
					<md-button class="md-raised md-fab md-mini md-primary" ng-click="ctrl.toggleReleaseProject()" ng-disabled="!ctrl.isAssignedPublisher() || ctrl.project.assigneeGroup !== 'PUBLISHER'">
						<md-tooltip ng-if="ctrl.isAssignedPublisher() && ctrl.project.assigneeGroup === 'PUBLISHER'" ng-hide="!project" md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
							{{ctrl.project.release?'global.tooltips.unrelease-project':'global.tooltips.release-project' | translate}}
						</md-tooltip>
						<md-tooltip ng-if="!ctrl.isAssignedPublisher() || ctrl.project.assigneeGroup !== 'PUBLISHER'" ng-hide="!project" md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
							{{'data-acquisition-project-management.error.project-update-access.member-of-assigned-group' | translate}}
						</md-tooltip>
						<md-icon md-font-set="material-icons">{{ctrl.project.release?'stop_screen_share':'screen_share'}}</md-icon>
					</md-button>
				</div>
			</md-card>
			<md-card layout-margin layout-column layout-align="center center" flex="1" style="flex-grow:0;min-width:200px;padding:8px;" class="ma8">
				<project-status-badge assignee-group="{{ctrl.project.assigneeGroup}}"></project-status-badge>
				<div class="layout-row">
					<md-button ng-if="!(ctrl.isAssignedPublisher() && ctrl.project.assigneeGroup !== 'PUBLISHER')" ng-disabled="ctrl.project.release || !(ctrl.project.assigneeGroup === 'PUBLISHER' && ctrl.isAssignedPublisher() || ctrl.project.assigneeGroup === 'DATA_PROVIDER' && ctrl.isAssignedDataProvider())" class="md-raised md-fab md-mini md-primary" ng-click="ctrl.onSaveChangesAndAssign()">
						<md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
							{{'data-acquisition-project-management.project-cockpit.button.save-assign' | translate}}
						</md-tooltip>
						<md-icon md-font-set="material-icons">send</md-icon>
					</md-button>
					<md-button ng-if="ctrl.isAssignedPublisher() && ctrl.project.assigneeGroup !== 'PUBLISHER'" class="md-raised md-fab md-mini md-primary" ng-click="ctrl.onSaveChangesAndTakeBack()">
						<md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
							{{'data-acquisition-project-management.project-cockpit.button.save-takeback' | translate}}
						</md-tooltip>
						<md-icon md-font-set="material-icons">gavel</md-icon>
					</md-button>
				</div>
			</md-card>
		</div>
	</div>
	<div layout-gt-sm="row" layout="column" layout-wrap class="mb8">
		<metadata-type-state-card ng-if="ctrl.project.configuration.requirements['dataPackagesRequired']" flex="auto" project="ctrl.project" counts="ctrl.counts" type="dataPackages"></metadata-type-state-card>
		<metadata-type-state-card ng-if="ctrl.project.configuration.requirements['analysisPackagesRequired']" flex="auto" project="ctrl.project" counts="ctrl.counts" type="analysisPackages"></metadata-type-state-card>
		<metadata-type-state-card ng-repeat="state in ctrl.sortedStates" flex="auto" project="ctrl.project" counts="ctrl.counts" type="{{state}}"></metadata-type-state-card>
	</div>
</div>
