<form
  class="fdz-search"
  md-whiteframe="1"
  role="search">
  <md-input-container
    class="fdz-search__input hide-validation-error"
    md-no-float>
    <md-icon md-font-set="material-icons">search</md-icon>
    <input
      ng-keyup="$event.keyCode == 13 && $ctrl.submit() && hideMobileKeyboard($event)"
      autocomplete="off"
      id="query"
      md-select-on-focus
      ng-model="$ctrl.query"
      placeholder="{{'search-management.detail.dataPackageSearch'|translate}}"
      tabindex="0"
      type="search">
    <md-button
      class="md-small md-primary"
      ng-click="$ctrl.submit() && hideMobileKeyboard($event)">
      {{'global.search-component.search' | translate}}
    </md-button>
  </md-input-container>
</form>
