<script src="unitValuePicker.controller.js"></script>
<md-card>
    <md-card-header>
        <md-card-header-text>
            <h2 class="md-title">{{'survey-management.detail.label.geographic-coverages' | translate}}</h2>
        </md-card-header-text>
    </md-card-header>
    <md-divider></md-divider>
    <md-card-content>
        <ul ng-if="geographicCoverages.length > 0">
            <li ng-repeat="geographicCoverage in geographicCoverages">
                <div layout="row" layout-align="start stretch">
                    <div layout="column" class="fdz-geographic-coverage-item-controls">
                      <md-button class="md-icon-button md-primary mt18 mh0 pl0" aria-label="Delete geographic location" ng-click="deleteGeographicCoverage(geographicCoverage)" style="margin: 6px;">
                        <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                          {{'survey-management.geographic-coverage.tooltip.delete' | translate}}
                        </md-tooltip>
                        <md-icon>delete_forever</md-icon>
                      </md-button>
                        <md-button class="md-icon-button md-primary mt18 mh0 pl0" ng-disabled="$index === 0" ng-click="moveItemUp($index)" md-no-ink="true">
                            <md-icon md-font-set="material-icons" class="ng-scope material-icons" role="img" aria-hidden="true">keyboard_arrow_up</md-icon>
                            <md-tooltip md-direction="right" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                                {{'survey-management.geographic-coverage-list.tooltip.move-item-up'|translate}}
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-primary mt18 mh0 pl0" ng-disabled="$index >= geographicCoverages.length - 1" ng-click="moveItemDown($index)" md-no-ink="true">
                            <md-icon md-font-set="material-icons" class="ng-scope material-icons" role="img" aria-hidden="true">keyboard_arrow_down</md-icon>
                            <md-tooltip md-direction="right" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                                {{'survey-management.geographic-coverage-list.tooltip.move-item-down'|translate}}
                            </md-tooltip>
                        </md-button>
                    </div>
                    <geographic-coverage geographic-coverage="geographicCoverage"
                                         flex>
                    </geographic-coverage>
                </div>
                <md-divider></md-divider>
            </li>
        </ul>
        <p style="margin: 16px 16px 0px 16px;" ng-if="ngModelCtrl.$untouched && (!geographicCoverages || geographicCoverages.length === 0)">
            {{'survey-management.geographic-coverage-list.hint.empty-list' | translate}}
        </p>
        <div style="margin: 16px 16px 0px 16px;" ng-if="ngModelCtrl.$touched" ng-messages="ngModelCtrl.$error" class="fdz-error">
            <div ng-message="not-empty">{{'survey-management.geographic-coverage-list.errors.empty' | translate}}</div>
        </div>
    </md-card-content>
    <md-card-actions layout-align="begin center" style="margin: 12px 8px">
        <md-button class="md-primary md-raised md-icon-button" ng-click="onAddGeographicCoverage()" style="margin: 0 6px">
            <md-tooltip md-direction="bottom" md-autohide="true"
                        md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'survey-management.geographic-coverage-list.tooltip.add-geographic-coverage' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">add</md-icon>
        </md-button>
    </md-card-actions>
</md-card>
