<div layout="column" ng-form="geographicCoverageForm">
    <div layout="row" layout-align="space-between stretch">
        <md-autocomplete required
                         md-no-cache="true"
                         md-items="country in filterCountries(countryStr)"
                         md-search-text="countryStr"
                         md-selected-item="selectedCountry"
                         md-item-text="country[language]"
                         md-input-name="countryInput"
                         md-require-match="true"
                         md-select-on-match="true"
                         md-match-case-insensitive="true"
                         md-clear-button="true"
                         md-selected-item-change="selectedCountryChange(country)"
                         md-min-length="0"
                         md-floating-label="{{'survey-management.geographic-coverage.label.country' | translate}}"
                         flex="100" flex-gt-sm="50"
                         ng-disabled="isDisabled">
            <md-item-template>
                <span class="md-title" style="font-size: 14px;" md-highlight-text="countryStr" md-highlight-flags="ig">{{country[language]}}</span>
            </md-item-template>
            <md-not-found>
                {{'survey-management.geographic-coverage.label.country-not-found' | translate}}
            </md-not-found>
            <div ng-if="geographicCoverageForm.countryInput.$untouched" class="fdz-input-hint">
                {{'survey-management.geographic-coverage.hints.country' | translate}}
            </div>
            <div ng-messages="geographicCoverageForm.countryInput.$error">
                <div ng-message="required">{{'survey-management.geographic-coverage.errors.required' | translate}}</div>
                <div ng-message="md-require-match">{{'survey-management.geographic-coverage.errors.no-match' | translate}}</div>
            </div>
        </md-autocomplete>
    </div>
    <div layout-gt-xs="column" layout-gt-sm="row" class="pr16">
        <md-input-container flex="grow" ng-class="{'mr10': isScreenGreaterSmall}">
            <label>{{'survey-management.geographic-coverage.label.description.de' | translate}}<md-icon md-svg-src="assets/images/icons/markdown.svg"></md-icon></label>
            <textarea name="descriptionDe" ng-model="geographicCoverage.description.de" rows="4" md-maxlength="512" lang="de"></textarea>
            <div ng-if="geographicCoverageForm.descriptionDe.$untouched" class="fdz-input-hint">
                {{'survey-management.geographic-coverage.hints.description' | translate}}
            </div>
            <div ng-messages="geographicCoverageForm.descriptionDe.$error">
                <div ng-message="md-maxlength">{{'survey-management.geographic-coverage.errors.maxlength' | translate}}</div>
            </div>
        </md-input-container>
        <md-input-container flex="grow">
            <label>{{'survey-management.geographic-coverage.label.description.en' | translate}}<md-icon md-svg-src="assets/images/icons/markdown.svg"></md-icon></label>
            <textarea name="descriptionEn" ng-model="geographicCoverage.description.en" rows="4" md-maxlength="512" lang="en"></textarea>
            <div ng-if="geographicCoverageForm.descriptionEn.$untouched" class="fdz-input-hint">
                {{'survey-management.geographic-coverage.hints.description' | translate}}
            </div>
            <div ng-messages="geographicCoverageForm.descriptionDe.$error">
                <div ng-message="md-maxlength">{{'survey-management.geographic-coverage.errors.maxlength' | translate}}</div>
            </div>
        </md-input-container>
    </div>
</div>
