<div block-ui="blockRelatedSurveyContainer">
<div  ng-if="RelatedSurveyController.surveys.totalHits !== 0" class="fdz-InfiniteScroll">
    <md-virtual-repeat-container id="vertical-container" ng-style="{{RelatedSurveyController.style}}">
     <div md-virtual-repeat="survey in RelatedSurveyController.surveys" md-on-demand
         class="fdz-repeated-item" flex>
         <survey-search-result search-result="survey._source"></survey-search-result>
     </div>
   </md-virtual-repeat-container>
</div>
  <div ng-if="RelatedSurveyController.surveys.totalHits === 0" layout-margin>
    <span>{{'survey-management.detail.no-related-surveys' | translate }}</span>
  </div>
</div>
