<div ng-form="sampleTypeForm">
    <md-autocomplete md-items="sampleOption in searchSampleTypes(sampleTypeSearchText)"
                     md-no-cache="true"
                     md-search-text="sampleTypeSearchText"
                     md-selected-item="selectedSampleType"
                     md-selected-item-change="onSampleTypeChange(sampleOption)"
                     md-min-length="0"
                     md-input-name="sampleType"
                     md-select-on-match="true"
                     md-match-case-insensitive="true"
                     md-clear-button="true"
                     md-require-match="true"
                     md-floating-label="{{'survey-management.sample-type-picker.label' | translate}}"
                     md-item-text="sampleOption[language]"
                     ng-required="true"
                     ng-disabled="isDisabled">
        <md-item-template>
            <span class="md-title" style="font-size: 14px;" md-highlight-text="sampleTypeSearchText" md-highlight-flags="ig">{{sampleOption[language]}}</span>
        </md-item-template>
        <md-not-found>
            {{'survey-management.sample-type-picker.error.no-match' | translate}}
        </md-not-found>
        <div ng-if="sampleTypeForm.$dirty" ng-messages="sampleTypeForm.sampleType.$error">
            <div ng-message="required">{{'survey-management.sample-type-picker.error.required' | translate}}</div>
            <div ng-message="md-require-match">{{'survey-management.sample-type-picker.error.no-match' | translate}}</div>
        </div>
    </md-autocomplete>
</div>
