<div ng-form="unitValuePickerForm">
    <md-autocomplete required
                     md-no-cache="true"
                     md-items="unitValue in filterUnitValues(unitValueStr)"
                     md-search-text="unitValueStr"
                     md-selected-item="selectedUnitValue"
                     md-item-text="unitValue[language]"
                     md-input-name="unit"
                     md-require-match="true"
                     md-select-on-match="true"
                     md-match-case-insensitive="true"
                     md-clear-button="true"
                     md-selected-item-change="selectedUnitChange(unitValue)"
                     md-min-length="0"
                     md-floating-label="{{'survey-management.unit-value-picker.label' | translate}}"
                     ng-disabled="isDisabled">
        <md-item-template>
            <span class="md-title" style="font-size: 14px;" md-highlight-text="unitValueStr" md-highlight-flags="ig">{{unitValue[language]}}</span>
        </md-item-template>
        <md-not-found>
            {{'survey-management.unit-value-picker.errors.no-match' | translate}}
        </md-not-found>
        <div ng-if="unitValuePickerForm.unit.$untouched" class="fdz-input-hint">
            {{'survey-management.unit-value-picker.hints.unit' | translate}}
        </div>
        <div ng-messages="unitValuePickerForm.unit.$error">
            <div ng-message="required">{{'survey-management.unit-value-picker.errors.required' | translate}}</div>
            <div ng-message="md-require-match">{{'survey-management.unit-value-picker.errors.no-match' | translate}}</div>
        </div>
    </md-autocomplete>
</div>
