<div ng-cloak>
<div class="container" ng-init="initsearch()">
	<div class="page-header">
		<h1 class="text-center" translate="variablesearch.title"></h1>
	</div>
	<div class="panel panel-primary">
		<div class="panel-body">
			<form ng-submit="search()" method='get'>
				<div class="input-group">
					<label class="sr-only" for="query">Geben Sie Ihre
						Suchbegriffe ein...</label> <input type="text" ng-model="query"
						ng-keyup="search()" class="form-control"
						placeholder="Geben Sie Ihre Suchbegriffe ein..."
						autocomplete="off"> <span class="input-group-btn"><button
							class="btn btn-default" type="submit">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button></span>
				</div>
			</form>
		</div>
	</div>
	<!-- if searchResult is available, display it as formatted json -->
	<div ng-if="searchResult" class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Search Result</h3>
		</div>
		<ul class="list-group">
			<li ng-repeat="hit in searchResult" class="list-group-item"><h4
					class="list-group-item-heading">
					<a href="">{{ hit._source.label }}</a>
				</h4>
				<p class="list-group-item-text">{{ hit._source.name }}</p>
				<p class="list-group-item-text">{{ hit._source.question }}</p>
				<p class="list-group-item-text">{{ hit._source.variableSurvey.title }}</p>
			</li>
		</ul>
	</div>
	<!-- if clusterState is available, display it as formatted json -->
	<div ng-if="clusterState && !searchResult" class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Cluster State</h3>
		</div>
		<div class="panel-body">
			<pre pretty-json="clusterState" />
		</div>
	</div>
</div>
</div>