<md-card>
  <md-card-header ng-click="$ctrl.collapsed = !$ctrl.collapsed">
    <md-card-header-text>
      <h2 class="md-title">{{'global.cards.details' | translate }}</h2>
    </md-card-header-text>
    <md-button
      class="md-card-collapsible-button"
      aria-label="{{($ctrl.collapsed ? 'global.collapsed' : 'global.uncollapsed') | translate}}">
      <md-icon md-font-set="material-icons" ng-if="!$ctrl.collapsed">keyboard_arrow_up</md-icon>
      <md-icon md-font-set="material-icons" ng-if="$ctrl.collapsed">keyboard_arrow_down</md-icon>
    </md-button>
  </md-card-header>
  <div ng-if="!$ctrl.collapsed">
    <md-card-content>
      <md-list>
        <md-list-item ng-if="$ctrl.options.studySeries">
          <h5>{{'study-management.detail.label.studySeries' | translate }}:</h5>
          <a
            class="md-secondary"
            ui-sref="search({'type': 'studies', 'study-series': $ctrl.options.studySeries.{{$ctrl.lang}}})">
            <span display-i18n-string="$ctrl.options.studySeries" fdz-hyphenate></span>
            <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'study-management.detail.tooltips.studies.study-series' | translate}}
            </md-tooltip>
          </a>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.institutions">
          <h5>{{'study-management.detail.label.institutions' | translate }}:</h5>
          <span
            class="md-secondary"
            ng-repeat="institution in $ctrl.options.institutions">
            {{institution[$ctrl.lang]}}{{!$last?';':''}}
          </span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.sponsor">
          <h5>{{'study-management.detail.label.sponsors' | translate }}:</h5>
          <span
            class="md-secondary"
            display-i18n-string="$ctrl.options.sponsor"></span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.authors">
          <h5>{{'study-management.detail.label.authors' | translate }}:</h5>
          <span
            class="md-secondary pre"
            ng-repeat="author in $ctrl.options.authors">{{author.lastName}}, {{author.firstName}}{{author.middleName !== undefined?' '+author.middleName:''}}{{!$last?'; ':''}}</span>
          </span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.surveyDesign">
          <h5>{{'study-management.detail.label.surveyDesign' | translate }}:</h5>
          <span
            class="md-secondary"
            display-i18n-string="$ctrl.options.surveyDesign" fdz-hyphenate></span>
        </md-list-item>
        <md-list-item ng-if="$ctrl.options.annotations">
          <h5>{{'study-management.detail.label.annotations' | translate }}:</h5>
          <span
            class="md-secondary"
            display-i18n-string="$ctrl.options.annotations"
            fdz-hyphenate></span>
        </md-list-item>
      </md-list>
    </md-card-content>
  </div>
</md-card>
