<div ng-cloak>
      <div class="page-header">
            <h1>{{'disclosure.title' | translate}}</h1>
      </div>
      <div class="container">
            <div class="row">
                  <address>
                        <p>
                              <strong>Deutsches Zentrum für Hochschul- und Wissenschaftsforschung GmbH</strong>
                        </p>
                        <p>Goseriede 9<br/>30159 Hannover<br/>
                              <span data-translate="disclosure.phone"></span>+49 511 1220-0<br/>
                              <span data-translate="disclosure.fax"></span>+49 511 1220-160</p>
                        <p data-translate="disclosure.or"></p>
                        <p>Postfach 255520<br/>30029 Hannover</p>
                  </address>
                  <p>
                        <span data-translate="disclosure.responsibleUrlsText"></span>
                  </p>
                  <p>
                        <span data-translate="disclosure.Supervisory"></span>
                        <span>Peter Greisler</span>
                  </p>
                  <p>
                        <span data-translate="disclosure.scientificDirectorFemale"></span>
                        <span>Prof. Dr. Monika Jungbauer-Gans</span>
                  </p>
                  <p>
                        <span data-translate="disclosure.executiveDirectorMale"></span>
                        <span>Dr. Bernhard Hartung</span>
                  </p>
                  <p>
                        <span data-translate="disclosure.registerCourt"></span>
                        <span>Hannover | HRB 210251
                        </span>
                  </p>
                  <p>
                        <span data-translate="disclosure.identificationNumber"></span>
                        <span>DE291239300</span>
                  </p>
                  <p>
                        <span data-translate="disclosure.responsiblePressLaw"></span><br/>
                        <span>Dr. Franziska Kümmerling</span><br/>
                        <a href="mailto:kuemmerling@dzhw.eu">kuemmerling@dzhw.eu</a>
                  </p>

                  <p>
                        <strong>
                              <span data-translate="disclosure.copyright"></span>
                        </strong>
                  </p>

                  <p>
                        <span data-translate="disclosure.copyrightGeneral"></span>
                  </p>
                  <p>
                        <span data-translate="disclosure.copyrightEmployees"></span>
                  </p>
                  <p>
                        <span data-translate="disclosure.copyrightEditorial"></span>
                  </p>
            </div>
      </div>
</div>
