<md-dialog aria-label="{{(ctrl.createMode?ctrl.labels.createTitle.key:ctrl.labels.editTitle.key) | translate:ctrl.titleParams }}" flex="75" layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <h2 class="fdz-truncate-string">
        <span ng-if="ctrl.isCreateMode">{{ctrl.labels.createTitle.key | translate:ctrl.labels.createTitle.params}}</span>
        <span ng-if="!ctrl.isCreateMode">{{ctrl.labels.editTitle.key | translate:ctrl.labels.editTitle.params}}</span>
      </h2>
      <md-button class="md-icon-button" ng-click="ctrl.cancel()">
        <md-icon md-font-set="material-icons">clear</md-icon>
        <md-tooltip md-direction="top" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
          {{'attachment.tooltip.cancel' | translate }}
        </md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <md-divider></md-divider>
  <form name="scriptAttachmentForm">
    <md-content>
      <md-card ngf-drop="ctrl.upload($file)" ngf-drag-over-class="{accept:'fdz-file-drop-accept', delay:0}" ngf-select="ctrl.upload($file)" class="pointer">
        <md-card-header>
          <md-card-header-text>
            <h2 class="md-title">{{'global.cards.file' | translate }}</h2>
          </md-card-header-text>
        </md-card-header>
        <md-divider></md-divider>
        <md-card-content>
          <div layout="column">
            <md-input-container class="pa0 ms-flex" md-is-error="!scriptAttachmentForm.filename.$valid && (scriptAttachmentForm.filename.$dirty || scriptAttachmentForm.filename.$touched)">
              <label>{{'attachment.label.file' | translate }}</label>
              <input disabled ng-pattern="/^[_A-Za-z0-9äöüÄÖÜß\-.]*$/" required ng-model="ctrl.scriptAttachmentMetadata.fileName" name="filename" class="pointer" style="border-bottom: 1px rgba(0,0,0,0.12) solid; background-image: none;">
              <div ng-if="!scriptAttachmentForm.filename.$dirty && !scriptAttachmentForm.filename.$touched" class="fdz-input-hint">{{ctrl.labels.hints.file.key | translate:ctrl.labels.hints.file.params}}</div>
              <div ng-messages="scriptAttachmentForm.filename.$error" multiple>
                <div ng-message="required">{{'attachment.error.filename.not-empty' | translate}}</div>
                <div ng-message="unique">{{'attachment.error.filename.not-unique' | translate}}</div>
                <div ng-message="valid">{{'attachment.error.filename.not-valid' | translate}}</div>
                <div ng-message="pattern">{{'attachment.error.filename.pattern' | translate}}</div>
              </div>
            </md-input-container>
            <div layout="column" layout-align="center end">
              <md-button class="md-primary md-raised md-icon-button ma8" type="file" ngf-select="ctrl.upload($file)">
                <md-tooltip md-direction="bottom" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                  {{'attachment.tooltip.change-file' | translate}}
                </md-tooltip>
                <md-icon md-font-set="material-icons">attach_file</md-icon>
              </md-button>
            </div>
          </div>
        </md-card-content>
      </md-card>
    <div class="fdz-fab-button-container" layout="column">
      <md-button class="md-fab md-raised md-accent" type="submit" ng-click="ctrl.saveScriptAttachment()" ng-disabled="!scriptAttachmentForm.$dirty">
        <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
          {{'attachment.tooltip.save' | translate}}
        </md-tooltip>
        <md-icon md-font-set="material-icons">save</md-icon>
      </md-button>
    </div>
  </form>
</md-dialog>
