<md-card class="fdz-search-filter">
  <md-card-header>
    <md-card-header-text>
      <span class="md-title">Filter</span>
    </md-card-header-text>
  </md-card-header>
  <md-card-content>
    <div class="fdz-button-wrapper">
      <md-button class="md-primary" ng-click="$ctrl.clearFilter()">Clear Filter</md-button>
    </div>
    <md-divider></md-divider>
    <ul class="fdz-filter-menu-list">
      <li ng-repeat="item in $ctrl.filterValues">
        <fdz-menu-toggle
          collapsed = "item.collapsed"
          name = "item.name"
          property = "item.property"
          options = $ctrl.dataPacketFilter[item.property]
          template-url="scripts/searchmanagement/components/menutoggle/menu-toggle.html.tmpl"></fdz-menu-toggle>
      </li>
    </ul>
  </md-card-content>
</md-card>
