<md-dialog aria-label="{{'instrument-management.edit.choose-instrument-number.title' | translate }}" layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <h2 class="fdz-truncate-string">
                <span>{{'instrument-management.edit.choose-instrument-number.title' | translate }}</span>
            </h2>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
        <form name="instrumentNumberForm" layout="row">
            <md-input-container flex md-is-error="!instrumentNumberForm.instrumentNumber.$valid && (instrumentNumberForm.instrumentNumber.$dirty || instrumentNumberForm.instrumentNumber.$touched)">
                <label>{{'instrument-management.edit.choose-instrument-number.label' | translate}}</label>
                <md-select required ng-model="selectedInstrumentNumber" name="instrumentNumber">
                    <md-option ng-value="instrumentNumber" ng-repeat="instrumentNumber in availableInstrumentNumbers">{{instrumentNumber}}</md-option>
                </md-select>
                <div ng-if="!instrumentNumberForm.instrumentNumber.$dirty && !instrumentNumberForm.instrumentNumber.$touched" class="fdz-input-hint">{{'instrument-management.edit.hints.instrument-number' | translate}}</div>
                <div ng-messages="instrumentNumberForm.instrumentNumber.$error" multiple>
                    <div ng-message="required">{{'instrument-management.error.instrument.number.not-null' | translate}}</div>
                </div>
            </md-input-container>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="closeDialog()" md-autofocus="true">
            <span>{{'global.entity.action.ok' | translate}}</span>
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
                {{'instrument-management.edit.choose-instrument-number.ok-tooltip' | translate }}
            </md-tooltip>
        </md-button>
    </md-dialog-actions>
</md-dialog>
