<md-dialog aria-label="{{'data-package-management.create-overview.title' | translate}}" class="md-inline-form" flex="50">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <div flex>
            <h2 class="fdz-truncate-string">
            <span>{{'data-package-management.order-data-package.title' | translate}}</span>
            </h2>
        </div>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
            <md-icon md-font-set="material-icons">clear</md-icon>
            <md-tooltip md-autohide="true" md-direction="top" md-z-index="bowser.mobile || bowser.tablet ? -100 : 1000001">
            {{'data-package-management.order-data-package.tooltip.cancel' | translate }}
            </md-tooltip>
        </md-button>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <fdz-data-package-configurator></fdz-data-package-configurator>
</md-dialog>
