<div class="fdz-cc">
  <form name="orderForm">
    <input id="website" type="text" name="website" ng-hide="true" tabindex="-1" autocomplete="off" />
    <input id="email" type="text" name="email" tabindex="-1" autocomplete="off" value="your@email.com" class="fdz-order-email" />
    <div layout="row" class="mb0 fdz-shopping-cart__header" layout-margin>
      <h1 ng-if="!ctrl.orderSaved" class="md-headline mb0">{{'shopping-cart.detail.table-title' | translate}}</h1>
      <h1 ng-if="ctrl.orderSaved" class="md-headline mb0">{{'shopping-cart.detail.thank-you' | translate}}</h1>
    </div>
    <div ng-if="ctrl.initComplete" ng-repeat="product in ctrl.products" class="fdz-fade-in">
      <md-card class="fdz-search-result pb4" ng-if="product.hasOwnProperty('analysisPackage')">
        <md-card-header>
          <md-card-header-text class="fdz-truncate-string pb0">
            <div class="md-title fdz-truncate-string">
              <a ui-sref="analysisPackageDetail({id: product.analysisPackage.id.replace('$', ''), version: product.version})">
                {{ctrl.analysisPackages[product.analysisPackage.id + '-' + product.version].title | displayI18nString}}
                <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                  {{'shopping-cart.detail.analysis-package-tooltip' | translate}}
                </md-tooltip>
              </a>
            </div>
            <div class="md-subhead left fdz-truncate-string">
              <span>{{'shopping-cart.detail.label.version' | translate }} {{product.version}}</span>
              <strong ng-if="!ctrl.isCurrentVersion(product)">&nbsp;{{'(' + ('shopping-cart.detail.label.not-current' | translate) + ')'}}</strong>
              <span ng-if="ctrl.isCurrentVersion(product)">&nbsp;{{' (' + ('shopping-cart.detail.label.current' | translate) + ')'}}</span>
            </div>
          </md-card-header-text>
        </md-card-header>
        <md-card-content ng-switch="ctrl.noShadowCopyAvailable[product.analysisPackage.id + '-' + product.version]">
          <p>
            <span>{{'shopping-cart.detail.label.this-analysis-product' | translate}}</span>
            <span>{{'shopping-cart.detail.label.contains' | translate}}</span>
            <a ui-sref="analysisPackageDetail({id: product.analysisPackage.id.replace('$', ''), version: product.version})">{{'shopping-cart.detail.label.scripts' | translate:'{scripts: ' + ctrl.getNumberOfScripts(product) + ', formattedScripts:"' + (ctrl.getNumberOfScripts(product) | number) + '"}':'messageformat'}}
              <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'shopping-cart.detail.scripts-tooltip' | translate}}
              </md-tooltip>
            </a>
            <span>{{'shopping-cart.detail.label.following' | translate:'{packages: ' + ctrl.getNumberOfScripts(product) + ', formattedPackages:"' + (ctrl.getNumberOfScripts(product) | number) + '"}':'messageformat'}}</span>
            <span>{{'shopping-cart.detail.label.software-packages' | translate:'{packages: ' + ctrl.getNumberOfScripts(product) + ', formattedPackages:"' + (ctrl.getNumberOfScripts(product) | number) + '"}':'messageformat'}}:</span>
            <span ng-repeat="package in ctrl.getSoftwarePackages(product)">{{package}}{{!$last?', ':'.'}}</span>
            <span ng-if="ctrl.getAccessibleCustomDataPackages(product.analysisPackage.id + '-' + product.version) != 0">
              <span>{{'shopping-cart.detail.label.additionally' | translate}}</span>
              <a ui-sref="analysisPackageDetail({id: product.analysisPackage.id.replace('$', ''), version: product.version})">{{'shopping-cart.detail.label.custom-data-packages' | translate:'{packages: ' + ctrl.getAccessibleCustomDataPackages(product.analysisPackage.id + '-' + product.version) + ', formattedPackages:"' + (ctrl.getAccessibleCustomDataPackages(product.analysisPackage.id + '-' + product.version) | number) + '"}':'messageformat'}}.
                <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                  {{'shopping-cart.detail.custom-data-packages-tooltip' | translate}}
                </md-tooltip>
              </a>
            </span>
          </p>
          <div ng-if="ctrl.analysisPackages[product.analysisPackage.id + '-' + product.version].annotations">
            <span class="b">{{'shopping-cart.detail.label.annotations' | translate }}:&nbsp;</span>
            <p markdown-to-html="ctrl.analysisPackages[product.analysisPackage.id + '-' + product.version].annotations | displayI18nString"></p>
          </div>
        </md-card-content>
        <md-card-actions>
          <md-button
            class="md-primary md-small md-button md-ink-ripple"
            ng-click="ctrl.deleteProduct(product)">
            <md-tooltip
              md-direction="left"
              md-autohide="true"
              md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'shopping-cart.buttons.delete-product-tooltip' | translate}}
            </md-tooltip>
            {{'global.entity.action.delete' | translate}}
          </md-button>
        </md-card-actions>
      </md-card>
      <md-card class="fdz-search-result pb4" ng-if="product.hasOwnProperty('dataPackage')">
        <md-card-header>
          <md-card-header-text class="fdz-truncate-string pb0">
            <div class="md-title fdz-truncate-string">
              <a ui-sref="dataPackageDetail({id: product.dataPackage.id.replace('$', ''), version: product.version})">
                {{ctrl.dataPackages[product.dataPackage.id + '-' + product.version].title | displayI18nString}}
                <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                  {{'shopping-cart.detail.data-package-tooltip' | translate}}
                </md-tooltip>
              </a>
            </div>
            <div class="md-subhead left fdz-truncate-string">
              <span>{{product.accessWay | displayAccessWay}},&nbsp</span><span>{{'shopping-cart.detail.label.version' | translate }} {{product.version}}</span>
              <strong ng-if="!ctrl.isCurrentVersion(product)">&nbsp;{{'(' + ('shopping-cart.detail.label.not-current' | translate) + ')'}}</strong>
              <span ng-if="ctrl.isCurrentVersion(product)">&nbsp;{{' (' + ('shopping-cart.detail.label.current' | translate) + ')'}}</span>
            </div>
          </md-card-header-text>
        </md-card-header>
        <md-card-content ng-switch="ctrl.noShadowCopyAvailable[product.dataPackage.id + '-' + product.version]">
          <p>
            <span>{{'shopping-cart.detail.label.this-data-product' | translate}}</span>
            <a
              ui-sref="search({id: product.dataPackage.id, version: product.version, 'type': 'data_packages', 'study-series': ctrl.dataPackages[product.dataPackage.id + '-' + product.version].studySeries[currentLanguage]})"
              ng-if="ctrl.dataPackages[product.dataPackage.id + '-' + product.version].studySeries[currentLanguage]">{{'shopping-cart.detail.label.study-series'
            | translate:'{series:"'+ ctrl.dataPackages[product.dataPackage.id + '-' + product.version].studySeries[currentLanguage]
            + '"}'}}
              <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'shopping-cart.detail.study-series-tooltip' | translate}}
              </md-tooltip>
            </a>
            <span>{{'shopping-cart.detail.label.contains' | translate}}</span>
            <span ng-switch-when="true">{{'shopping-cart.detail.label.variables' | translate:'{variables: ' + ctrl.getNumberOfVariables(product) + ', formattedVariables:"' + (ctrl.getNumberOfVariables(product) | number) + '"}':'messageformat'}}</span>
            <a ng-switch-default ng-if="ctrl.containsQuantitativeData(product.dataPackage.surveyDataTypes)"
               ui-sref="dataPackageDetail({id: product.dataPackage.id.replace('$', ''), version: product.version, 'type': 'variables', 'access-way': product.accessWay})">{{'shopping-cart.detail.label.variables'
            | translate:'{variables: ' + ctrl.getNumberOfVariables(product) + ', formattedVariables:"' +
            (ctrl.getNumberOfVariables(product) | number) + '"}':'messageformat'}}
              <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'shopping-cart.detail.variables-tooltip' | translate}}
              </md-tooltip>
            </a>
            <span ng-if="ctrl.containsQuantitativeData(product.dataPackage.surveyDataTypes)">{{'shopping-cart.detail.label.in' | translate}}</span>
            <span ng-switch-when="true">{{'shopping-cart.detail.label.data-sets' | translate:'{dataSets: ' + ctrl.getNumberOfDataSets(product) + ', formattedDataSets:"' + (ctrl.getNumberOfDataSets(product) | number) + '"}':'messageformat'}}</span>
            <a ng-switch-default
               ui-sref="dataPackageDetail({id: product.dataPackage.id.replace('$', ''), version: product.version, 'type': 'data_sets', 'access-way': product.accessWay})">{{ctrl.containsQuantitativeData(product.dataPackage.surveyDataTypes)?'shopping-cart.detail.label.data-sets':'shopping-cart.detail.label.qualitative-data-sets'
              | translate:'{dataSets: ' + ctrl.getNumberOfDataSets(product) + ', formattedDataSets:"' +
              (ctrl.getNumberOfDataSets(product) | number) + '"}':'messageformat'}}
              <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                {{'shopping-cart.detail.data-sets-tooltip' | translate}}
              </md-tooltip>
            </a>
          </p>
          <p>
            <span>{{'shopping-cart.detail.label.data-formats' | translate}}</span>
            <span ng-repeat="dataFormat in product.dataFormats">
            {{('data-set-management.detail.sub-data-sets.data-formats.' + dataFormat | translate) + (!$last ? ', ' : '.')}}
          </span>
            <span ng-if="ctrl.dataPackages[product.dataPackage.id + '-' + product.version].dataLanguages && ctrl.dataPackages[product.dataPackage.id + '-' + product.version].dataLanguages.length > 0">{{'shopping-cart.detail.label.data-languages' | translate}}</span>
            <span
              class="pre"
              ng-repeat="language in ctrl.dataPackages[product.dataPackage.id + '-' + product.version].dataLanguages">{{(language | displayIsoLanguage: currentLanguage)}}{{$index + 1 !== ctrl.dataPackages[product.dataPackage.id + '-' + product.version].dataLanguages.length ? ', ': ''}}</span>
            </span>
          </p>
          <div ng-if="ctrl.dataPackages[product.dataPackage.id + '-' + product.version].annotations">
            <span class="b">{{'shopping-cart.detail.label.annotations' | translate }}:&nbsp;</span>
            <p markdown-to-html="ctrl.dataPackages[product.dataPackage.id + '-' + product.version].annotations | displayI18nString"></p>
          </div>
        </md-card-content>
        <md-card-actions>
          <md-button
            class="md-primary md-small md-button md-ink-ripple"
            ng-click="ctrl.deleteProduct(product)">
            <md-tooltip
              md-direction="left"
              md-autohide="true"
              md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'shopping-cart.buttons.delete-product-tooltip' | translate}}
            </md-tooltip>
            {{'global.entity.action.delete' | translate}}
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
    <md-card ng-if="ctrl.initComplete && ctrl.products && ctrl.products.length > 0" class="fdz-fade-in mb8">
      <md-card-header>
        <md-card-header-text>
          <h2 class="md-title">{{'shopping-cart.detail.hint' | translate }}</h2>
        </md-card-header-text>
      </md-card-header>
      <md-card-content class="pt0">
        <p data-translate="shopping-cart.detail.explain-data-product"></p>
        <div layout="row">
          <md-button class="md-raised md-accent fdz-truncate-string ml0 mt8" ng-click="ctrl.order()" analytics-on="click" analytics-event="checkout-shopping-cart" analytics-label="{{'shopping-cart.buttons.checkout' | translate}}" analytics-category="Bestellprozess">
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'shopping-cart.buttons.checkout-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">thumb_up</md-icon>
            <span>{{'shopping-cart.buttons.checkout' | translate}}</span>
          </md-button>
          <md-button class="md-raised md-primary fdz-truncate-string" ng-click="ctrl.clear()">
            <md-tooltip md-direction="left" md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'shopping-cart.buttons.remove-all-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">remove_shopping_cart</md-icon>
            <span>{{'shopping-cart.buttons.remove-all' | translate}}</span>
          </md-button>
        </div>
      </md-card-content>
    </md-card>
    <md-card ng-if="ctrl.initComplete && !(ctrl.products && ctrl.products.length > 0)" class="fdz-fade-in">
      <md-card-content layout-align="center center" class="pt0">
        <p ng-if="ctrl.orderSaved" data-translate="shopping-cart.detail.dlp-redirect" data-translate-values="{seconds: ctrl.redirectCountDownSeconds}"></p>
        <p ng-if="!ctrl.orderSaved" data-translate="shopping-cart.detail.empty-cart-text"></p>
        <p ng-if="!ctrl.orderSaved" data-translate="shopping-cart.detail.explain-data-product"></p>
      </md-card-content>
    </md-card>
  </form>
</div>
