<div ng-controller="BlockUIController" layout="column" class="fdz-block-ui-overlay">
    <div flex layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate" md-diameter="75px"></md-progress-circular>
        <span style="font-size: 24px; margin-left: 1em;" ng-if="job.state === 'running' && job.id !== 'postValidation' && job.id !== 'dataSetReport'" data-translate="global.joblogging.block-ui-message" data-translate-values="{ errors: job.errors, warnings: job.warnings, total: job.errors + job.successes}"></span>
    </div>
</div>
