package eu.dzhw.fdz.metadatamanagement.searchmanagement.documents;

import eu.dzhw.fdz.metadatamanagement.common.domain.I18nString;

/**
 * Generated GUI labels from translations-de.js and translations-en.js.
 */
public class ${model.domainObject}DetailsGuiLabels {
  public static final I18nString GUI_LABELS = new I18nString(
    "${model.de}",
    "${model.en}"
  );
}
