@use "@angular/material" as mat;

@include mat.core();

// adapted from node_modules/@angular/material/core/theming/_palette.scss
$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;
$fdz-palette: (
    50: #e3f2fa,
    100: #bbdff5,
    200: #92ccef,
    300: #68b8e9,
    400: #48a9e6,
    500: #279be2,
    600: #1c8dd5,
    700: #0d7bc3,
    800: #006bb2,
    900: #004e93,
    A100: #80d8ff,
    A200: #40c4ff,
    A400: #00b0ff,
    A700: #0091ea,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $dark-primary-text,
        A700: $light-primary-text,
    )
);

$fdz-primary: mat.define-palette($fdz-palette, 800);
$fdz-accent: mat.define-palette(mat.$orange-palette);

$fdz-theme: mat.define-light-theme((
    color: (
        primary: $fdz-primary,
        accent: $fdz-accent,
    ),
    typography: mat.define-typography-config(),
    density: 0,
));

@include mat.all-component-themes($fdz-theme);
