<md-input-container flex="40"
                    md-is-error="!$ctrl.currentForm.titleDe.$valid && ($ctrl.currentForm.titleDe.$dirty || $ctrl.currentForm.titleDe.$touched)"
                    ng-class="{'mr10': $mdMedia('gt-sm')}"
                    class="ms-flex">
  <label class="fdz-input-required">{{'analysis-package-management.detail.label.title' | translate}}
    ({{'global.in-german' | translate}})</label>
  <input fdz-required lang="de" md-maxlength="$ctrl.maxLength" md-no-asterisk name="titleDe"
         ng-model="$ctrl.content.title.de" ng-trim="true">
  <div class="fdz-input-hint" ng-if="!$ctrl.currentForm.titleDe.$dirty && !$ctrl.currentForm.titleDe.$touched">
    {{'analysis-package-management.edit.hints.title.de' | translate}}
  </div>
  <div multiple ng-messages="$ctrl.currentForm.titleDe.$error">
    <div ng-message="fdz-required">{{'analysis-package-management.error.analysis-package.title.i18n-string-entire-not-empty' |
    translate}}
    </div>
    <div ng-message="md-maxlength">{{'analysis-package-management.error.analysis-package.title.i18n-string-size' | translate}}
    </div>
  </div>
</md-input-container>
<md-input-container flex="50"
                    md-is-error="!$ctrl.currentForm.titleEn.$valid && ($ctrl.currentForm.titleEn.$dirty || $ctrl.currentForm.titleEn.$touched)"
                    class="ms-flex">
  <label class="fdz-input-required">{{'analysis-package-management.detail.label.title' | translate}}
    ({{'global.in-english' | translate}})</label>
  <input fdz-required lang="en" md-maxlength="$ctrl.maxLength" md-no-asterisk name="titleEn"
         ng-model="$ctrl.content.title.en">
  <div class="fdz-input-hint" ng-if="!$ctrl.currentForm.titleEn.$dirty && !$ctrl.currentForm.titleEn.$touched">
    {{'analysis-package-management.edit.hints.title.en' | translate}}
  </div>
  <div multiple ng-messages="$ctrl.currentForm.titleEn.$error">
    <div ng-message="fdz-required">{{'analysis-package-management.error.analysis-package.title.i18n-string-entire-not-empty' |
    translate}}
    </div>
    <div ng-message="md-maxlength">{{'analysis-package-management.error.analysis-package.title.i18n-string-size' | translate}}
    </div>
  </div>
</md-input-container>
