<div class="fdz-cc">
  <form name="surveyForm">
    <div ng-if="ctrl.survey.id">
      <div layout="row" layout-margin class="mb0">
        <h1 class="md-headline" ng-if="ctrl.createMode">
          {{'survey-management.edit.label.create-survey' | translate}} <span class="label label-as-badge label-default">{{ctrl.survey.id}}</span>
        </h1>
        <h1 class="md-headline" ng-if="!ctrl.createMode">
          {{'survey-management.edit.label.edit-survey' | translate}} <span class="label label-as-badge label-default">{{ctrl.survey.id}}</span>
        </h1>
      </div>
      <md-card class="mb8">
        <md-card-header>
          <md-card-header-text>
            <h2 class="md-title">{{'global.cards.details' | translate }}</h2>
          </md-card-header-text>
        </md-card-header>
        <md-divider></md-divider>
        <md-card-content>
          <div layout="column" layout-gt-sm="row">
            <md-input-container flex="50" md-is-error="!surveyForm.titleDe.$valid && (surveyForm.titleDe.$dirty || surveyForm.titleDe.$touched)" ng-class="{'mr10': $mdMedia('gt-sm')}" class="ms-flex">
              <label class="fdz-input-required">{{'survey-management.edit.label.title' | translate}}
                ({{'global.in-german' | translate}})</label>
              <input fdz-required lang="de" md-maxlength="2048" md-no-asterisk name="titleDe" ng-model="ctrl.survey.title.de" ng-trim="true">
              <div class="fdz-input-hint" ng-if="!surveyForm.titleDe.$dirty && !surveyForm.titleDe.$touched">
                {{'survey-management.edit.hints.title.de' | translate}}
              </div>
              <div multiple ng-messages="surveyForm.titleDe.$error">
                <div ng-message="fdz-required">{{'survey-management.error.survey.title.i18n-string-entire-not-empty' |
                  translate}}
                </div>
                <div ng-message="md-maxlength">{{'survey-management.error.survey.title.i18n-string-size' | translate}}
                </div>
              </div>
            </md-input-container>
            <md-input-container flex="50" md-is-error="!surveyForm.titleEn.$valid && (surveyForm.titleEn.$dirty || surveyForm.titleEn.$touched)" class="ms-flex">
              <label class="fdz-input-required">{{'survey-management.edit.label.title' | translate}}
                ({{'global.in-english' | translate}})</label>
              <input fdz-required lang="en" md-maxlength="2048" md-no-asterisk name="titleEn" ng-model="ctrl.survey.title.en">
              <div class="fdz-input-hint" ng-if="!surveyForm.titleEn.$dirty && !surveyForm.titleEn.$touched">
                {{'survey-management.edit.hints.title.en' | translate}}
              </div>
              <div multiple ng-messages="surveyForm.titleEn.$error">
                <div ng-message="fdz-required">{{'survey-management.error.survey.title.i18n-string-entire-not-empty' |
                  translate}}
                </div>
                <div ng-message="md-maxlength">{{'survey-management.error.survey.title.i18n-string-size' | translate}}
                </div>
              </div>
            </md-input-container>
          </div>
          <div layout="column" layout-gt-sm="row" class="ms-flex">
            <md-input-container flex="50" md-is-error="!surveyForm.serialNumber.$valid && (surveyForm.serialNumber.$dirty || surveyForm.serialNumber.$touched)" class="ms-flex">
              <label>{{'survey-management.detail.label.serial-number' | translate}}</label>
              <input min="1" max="2147483647" name="serialNumber" ng-model="ctrl.survey.serialNumber" required step="1" type="number">
              <div class="fdz-input-hint" ng-if="!surveyForm.serialNumber.$dirty && !surveyForm.serialNumber.$touched">
                {{'survey-management.edit.hints.serial-number' | translate}}
              </div>
              <div multiple ng-messages="surveyForm.serialNumber.$error">
                <div ng-message="required">{{'survey-management.error.survey.serial-number.not-null' | translate}}</div>
                <div ng-message="step">{{'survey-management.error.survey.serial-number.invalid-number' | translate}}</div>
                <div ng-message="number">{{'survey-management.error.survey.serial-number.invalid-number' | translate}}</div>
                <div ng-message="max">{{'survey-management.error.survey.serial-number.invalid-number' | translate}}</div>
                <div ng-message="min">{{'survey-management.error.survey.serial-number.min' | translate}}</div>
              </div>
            </md-input-container>
            <div flex="50" class="ms-flex"></div>
          </div>
          <div layout="column" layout-gt-sm="row" class="ms-flex">
            <div flex="50" layout="column" layout-gt-xs="row" class="ms-flex">
              <md-input-container flex="50" class="ms-flex">
                <label>{{'survey-management.edit.label.field-period-start' | translate}}</label>
                <md-datepicker md-hide-icons="calendar" name="fieldPeriodStart" ng-change="ctrl.validatePeriod()" ng-model="ctrl.survey.fieldPeriod.start" ng-required="true"></md-datepicker>
                <div class="fdz-input-hint" ng-if="!surveyForm.fieldPeriodStart.$dirty && !surveyForm.fieldPeriodStart.$touched">{{'survey-management.edit.hints.field-period-start' | translate}}
                </div>
                <div ng-messages="surveyForm.fieldPeriodStart.$error">
                  <div ng-message="valid">{{'global.error.period.valid-period' | translate}}</div>
                  <div ng-message="required">{{'global.error.period.valid-period' | translate}}</div>
                </div>
              </md-input-container>
              <md-input-container flex="50" class="ms-flex">
                <label>{{'survey-management.edit.label.field-period-end' | translate}}</label>
                <md-datepicker md-hide-icons="calendar" md-min-date="ctrl.survey.fieldPeriod.start" name="fieldPeriodEnd" ng-change="ctrl.validatePeriod()" ng-model="ctrl.survey.fieldPeriod.end" ng-required="true"></md-datepicker>
                <div class="fdz-input-hint" ng-if="!surveyForm.fieldPeriodEnd.$dirty && !surveyForm.fieldPeriodEnd.$touched">{{'survey-management.edit.hints.field-period-end' | translate}}
                </div>
                <div ng-messages="surveyForm.fieldPeriodEnd.$error">
                  <div ng-message="valid">{{'global.error.period.valid-period' | translate}}</div>
                  <div ng-message="required">{{'global.error.period.valid-period' | translate}}</div>
                  <div ng-message="mindate">{{'global.error.period.valid-period' | translate}}</div>
                </div>
              </md-input-container>
            </div>
            <div flex="50" class="ms-flex"></div>
          </div>
          <div layout="column" layout-gt-sm="row" class="ms-flex">
            <md-autocomplete flex="50" md-clear-button="true" md-delay="250" md-floating-label="{{'survey-management.detail.label.survey-method' | translate}} ({{'global.in-german' | translate}})" md-input-maxlength="512"
              md-input-name="surveyMethodDe" md-is-error="!surveyForm.surveyMethodDe.$valid && (surveyForm.surveyMethodDe.$dirty surveyForm.surveyMethodDe.$touched)" md-item-text="item.de"
              md-items="item in ctrl.searchSurveyMethods(ctrl.survey.surveyMethod.de, 'de')" md-match-case-insensitive="true" md-min-length="0" md-no-cache="true" md-require-match="false" md-search-text="ctrl.survey.surveyMethod.de"
              md-select-on-match="true" md-selected-item="ctrl.currentSurveyMethod" md-selected-item-change="surveyForm.$setDirty()" ng-required="true" class="ms-flex">
              <md-item-template>
                <span class="md-title" md-highlight-flags="ig" md-highlight-text="ctrl.survey.surveyMethod.de" style="font-size: 14px;">{{item.de}}</span>
              </md-item-template>
              <md-not-found>
                {{'search-management.filter.survey-method-filter.not-found' | translate}}
              </md-not-found>
              <div class="fdz-input-hint" ng-if="!surveyForm.surveyMethodDe.$dirty && !surveyForm.surveyMethodDe.$touched">{{'survey-management.edit.hints.survey-method.de' | translate}}
              </div>
              <div multiple ng-messages="surveyForm.surveyMethodDe.$error">
                <div ng-message="required">{{'survey-management.error.survey.survey-method.i18n-string-entire-not-empty'
                  | translate}}
                </div>
                <div ng-message="maxlength">{{'survey-management.error.survey.survey-method.i18n-string-size' |
                  translate}}
                </div>
              </div>
            </md-autocomplete>
            <md-autocomplete flex="50" md-clear-button="true" md-delay="250" md-floating-label="{{'survey-management.detail.label.survey-method' | translate}} ({{'global.in-english' | translate}})" md-input-maxlength="512"
              md-input-name="surveyMethodEn" md-is-error="!surveyForm.surveyMethodEn.$valid && (surveyForm.surveyMethodEn.$dirty || surveyForm.surveyMethodEn.$touched)" md-item-text="item.en"
              md-items="item in ctrl.searchSurveyMethods(ctrl.survey.surveyMethod.en, 'en')" md-match-case-insensitive="true" md-min-length="0" md-no-cache="true" md-require-match="false" md-search-text="ctrl.survey.surveyMethod.en"
              md-select-on-match="true" md-selected-item="ctrl.currentSurveyMethod" md-selected-item-change="surveyForm.$setDirty()" ng-required="true" class="ms-flex">
              <md-item-template>
                <span class="md-title" md-highlight-flags="ig" md-highlight-text="ctrl.survey.surveyMethod.en" style="font-size: 14px;">{{item.en}}</span>
              </md-item-template>
              <md-not-found>
                {{'search-management.filter.survey-method-filter.not-found' | translate}}
              </md-not-found>
              <div class="fdz-input-hint" ng-if="!surveyForm.surveyMethodEn.$dirty && !surveyForm.surveyMethodEn.$touched">{{'survey-management.edit.hints.survey-method.en' | translate}}
              </div>
              <div multiple ng-messages="surveyForm.surveyMethodEn.$error">
                <div ng-message="required">{{'survey-management.error.survey.survey-method.i18n-string-entire-not-empty'
                  | translate}}
                </div>
                <div ng-message="maxlength">{{'survey-management.error.survey.survey-method.i18n-string-size' |
                  translate}}
                </div>
              </div>
            </md-autocomplete>
          </div>
          <div layout="column" layout-gt-sm="row" class="ms-flex">
            <md-input-container flex="50" md-is-error="!surveyForm.dataType.$valid && (surveyForm.dataType.$dirty || surveyForm.dataType.$touched)" class="ms-flex">
              <label>{{'survey-management.detail.label.data-type' | translate}}</label>
              <md-select name="dataType" ng-model="ctrl.survey.dataType" ng-model-options="{trackBy: '$value.de'}" required>
                <md-option ng-repeat="dataType in ctrl.dataTypes" ng-value="dataType">{{dataType[currentLanguage]}}
                </md-option>
              </md-select>
              <div class="fdz-input-hint" ng-if="!surveyForm.dataType.$dirty && !surveyForm.dataType.$touched">
                {{'survey-management.edit.hints.data-type' | translate}}
              </div>
              <div multiple ng-messages="surveyForm.dataType.$error">
                <div ng-message="required">{{'survey-management.error.survey.data-type.not-null' | translate}}</div>
              </div>
            </md-input-container>
            <div flex="50"></div>
          </div>
          <div layout="column" layout-gt-sm="row">
            <md-input-container flex="50" md-is-error="!surveyForm.populationDescriptionDe.$valid && (surveyForm.populationDescriptionDe.$dirty || surveyForm.populationDescriptionDe.$touched)" ng-class="{'mr10': $mdMedia('gt-sm')}" class="ms-flex">
              <label class="fdz-input-required">{{'survey-management.edit.label.population.description' | translate}}
                ({{'global.in-german' | translate}})<md-icon md-svg-src="assets/images/icons/markdown.svg"></md-icon></label>
              <textarea fdz-required lang="de" md-maxlength="2048" md-no-asterisk name="populationDescriptionDe" ng-model="ctrl.survey.population.description.de" rows="4"></textarea>
              <div class="fdz-input-hint" ng-if="!surveyForm.populationDescriptionDe.$dirty && !surveyForm.populationDescriptionDe.$touched">{{'survey-management.edit.hints.population.description.de' | translate}}
              </div>
              <div multiple ng-messages="surveyForm.populationDescriptionDe.$error">
                <div ng-message="fdz-required">{{'survey-management.error.population.description.i18n-string-not-empty'
                  | translate}}
                </div>
                <div ng-message="md-maxlength">{{'survey-management.error.population.description.i18n-string-size' |
                  translate}}
                </div>
              </div>
            </md-input-container>
            <md-input-container flex="50" md-is-error="!surveyForm.populationDescriptionEn.$valid && (surveyForm.populationDescriptionEn.$dirty || surveyForm.populationDescriptionEn.$touched)" class="ms-flex">
              <label class="fdz-input-required">{{'survey-management.edit.label.population.description' | translate}}
                ({{'global.in-english' | translate}})<md-icon md-svg-src="assets/images/icons/markdown.svg"></md-icon></label>
              <textarea fdz-required lang="en" md-maxlength="2048" md-no-asterisk name="populationDescriptionEn" ng-model="ctrl.survey.population.description.en" rows="4"></textarea>
              <div class="fdz-input-hint" ng-if="!surveyForm.populationDescriptionEn.$dirty && !surveyForm.populationDescriptionEn.$touched">{{'survey-management.edit.hints.population.description.en' | translate}}
              </div>
              <div multiple ng-messages="surveyForm.populationDescriptionEn.$error">
                <div ng-message="fdz-required">{{'survey-management.error.population.description.i18n-string-not-empty'
                  | translate}}
                </div>
                <div ng-message="md-maxlength">{{'survey-management.error.population.description.i18n-string-size' |
                  translate}}
                </div>
              </div>
            </md-input-container>
          </div>
          <div layout="row">
            <sample-type-picker flex="100" flex-gt-sm="50" sample-type="ctrl.survey.sample"></sample-type-picker>
          </div>
          <div layout="column" layout-gt-sm="row">
            <md-input-container flex="50" md-is-error="!surveyForm.grossSampleSize.$valid && (surveyForm.grossSampleSize.$dirty || surveyForm.grossSampleSize.$touched)" class="ms-flex">
              <label>{{'survey-management.detail.label.grossSampleSize' | translate}}</label>
              <input min="{{ ctrl.survey.sampleSize || 0}}" max="2147483647" name="grossSampleSize" ng-model="ctrl.survey.grossSampleSize" step="1" type="number">
              <div class="fdz-input-hint" ng-if="ctrl.survey.grossSampleSize == null || ctrl.survey.grossSampleSize == ''">{{'survey-management.edit.hints.grossSampleSize' | translate}}
              </div>
              <div multiple ng-messages="surveyForm.grossSampleSize.$error">
                <div ng-message="step">{{'survey-management.error.survey.gross-sample-size.invalid-number' |
                  translate}}
                </div>
                <div ng-message="number">{{'survey-management.error.survey.gross-sample-size.invalid-number' |
                  translate}}
                </div>
                <div ng-message="max">{{'survey-management.error.survey.gross-sample-size.invalid-number' |
                  translate}}
                </div>
                <div ng-message="min">{{'survey-management.error.survey.gross-sample-size.min' | translate}}</div>
              </div>
            </md-input-container>
            <div flex="50"></div>
          </div>
          <div layout="column" layout-gt-sm="row">
            <md-input-container flex="50" md-is-error="!surveyForm.sampleSize.$valid && (surveyForm.sampleSize.$dirty || surveyForm.sampleSize.$touched)" class="ms-flex">
              <label>{{'survey-management.detail.label.sampleSize' | translate}}</label>
              <input min="0" max="{{ ctrl.survey.grossSampleSize || 2147483647 }}" name="sampleSize" ng-model="ctrl.survey.sampleSize" required step="1" type="number">
              <div class="fdz-input-hint" ng-if="!surveyForm.sampleSize.$dirty && !surveyForm.sampleSize.$touched">
                {{'survey-management.edit.hints.sampleSize' | translate}}
              </div>
              <div multiple ng-messages="surveyForm.sampleSize.$error">
                <div ng-message="required">{{'survey-management.error.survey.sample-size.not-null' | translate}}</div>
                <div ng-message="step">{{'survey-management.error.survey.sample-size.invalid-number' | translate}}</div>
                <div ng-message="number">{{'survey-management.error.survey.sample-size.invalid-number' | translate}}
                </div>
                <div ng-message="min">{{'survey-management.error.survey.sample-size.min' | translate}}</div>
                <div ng-message="max">{{'survey-management.error.survey.sample-size.max' | translate}}</div>
              </div>
            </md-input-container>
            <div flex="50"></div>
          </div>
          <div layout="column" layout-gt-sm="row">
            <md-input-container flex="50" md-is-error="!surveyForm.responseRate.$valid && (surveyForm.responseRate.$dirty || surveyForm.responseRate.$touched)" class="ms-flex">
              <label>{{'survey-management.detail.label.responseRate' | translate}} (in %)</label>
              <input max="100" min="0" name="responseRate" ng-model="ctrl.survey.responseRate" step="0.01" type="number">
              <div class="fdz-input-hint" ng-if="ctrl.survey.responseRate == null || ctrl.survey.responseRate == ''">
                {{'survey-management.edit.hints.responseRate' | translate}}
              </div>
              <div multiple ng-messages="surveyForm.responseRate.$error">
                <div ng-message="step">{{'survey-management.error.survey.response-rate.invalid-number' | translate}}
                </div>
                <div ng-message="number">{{'survey-management.error.survey.response-rate.invalid-number' | translate}}
                </div>
                <div ng-message="min">{{'survey-management.error.survey.response-rate.min' | translate}}</div>
                <div ng-message="max">{{'survey-management.error.survey.response-rate.max' | translate}}</div>
              </div>
            </md-input-container>
            <div flex="50"></div>
          </div>
          <div layout="column" layout-gt-sm="row">
            <unit-value-picker flex="50" unit="ctrl.survey.population.unit"></unit-value-picker>
            <div flex="50"></div>
          </div>
          <div layout="column" layout-gt-sm="row">
            <md-input-container flex="50" md-is-error="!surveyForm.annotationsDe.$valid && (surveyForm.annotationsDe.$dirty || surveyForm.annotationsDe.$touched)" ng-class="{'mr10': $mdMedia('gt-sm')}" class="ms-flex">
              <label>{{'survey-management.detail.label.annotations' | translate}} ({{'global.in-german' |
                translate}})<md-icon md-svg-src="assets/images/icons/markdown.svg"></md-icon></label>
              <textarea lang="de" md-maxlength="2048" md-no-asterisk name="annotationsDe" ng-model="ctrl.survey.annotations.de" rows="4"></textarea>
              <div class="fdz-input-hint" ng-if="ctrl.survey.annotations.de == null || ctrl.survey.annotations.de == ''">{{'survey-management.edit.hints.annotations.de' | translate}}
              </div>
              <div multiple ng-messages="surveyForm.annotationsDe.$error">
                <div ng-message="fdz-required">{{'survey-management.error.survey.annotations.i18n-string-not-empty' |
                  translate}}
                </div>
                <div ng-message="md-maxlength">{{'survey-management.error.survey.annotations.i18n-string-size' |
                  translate}}
                </div>
              </div>
            </md-input-container>
            <md-input-container flex="50" md-is-error="!surveyForm.annotationsEn.$valid && (surveyForm.annotationsEn.$dirty || surveyForm.annotationsEn.$touched)" class="ms-flex">
              <label>{{'survey-management.detail.label.annotations' | translate}} ({{'global.in-english' |
                translate}})<md-icon md-svg-src="assets/images/icons/markdown.svg"></md-icon></label>
              <textarea lang="en" md-maxlength="2048" md-no-asterisk name="annotationsEn" ng-model="ctrl.survey.annotations.en" rows="4"></textarea>
              <div class="fdz-input-hint" ng-if="ctrl.survey.annotations.en == null || ctrl.survey.annotations.en == ''">{{'survey-management.edit.hints.annotations.en' | translate}}
              </div>
              <div multiple ng-messages="surveyForm.annotationsEn.$error">
                <div ng-message="md-maxlength">{{'survey-management.error.survey.annotations.i18n-string-size' |
                  translate}}
                </div>
              </div>
            </md-input-container>
          </div>
        </md-card-content>
      </md-card>
      <geographic-coverage-list geographic-coverages="ctrl.survey.population.geographicCoverages" ng-model="ctrl.survey.population.geographicCoverages"></geographic-coverage-list>
    </div>
  </form>
  <div layout="column" layout-gt-sm="row" ng-if="ctrl.survey.id">
    <div flex-gt-sm="50">
      <md-card class="mt0 mb8">
        <md-card-header>
          <md-card-header-text class="pb">
            <h2 class="md-title">{{'survey-management.detail.response-rate-information' | translate }}
              ({{'global.in-german' | translate}})</h2>
          </md-card-header-text>
        </md-card-header>
        <md-divider></md-divider>
        <md-card-content ng-if="!ctrl.createMode" ngf-drag-over-class="{accept:'fdz-file-drop-accept', reject:'fdz-file-drop-reject', delay:0}" ngf-drop="ctrl.saveResponseRateImageDe($file)" ngf-select="ctrl.saveResponseRateImageDe($file)"
          class="pointer">
          <img alt="" ngf-src="ctrl.responseRateImageDe" src="" style="width:100%;top:0;left:0;bottom:0;right:0;">
          <div ng-if="!ctrl.responseRateImageDe">
            {{'survey-management.edit.hints.response-rate-image.de' | translate}}
          </div>
        </md-card-content>
        <md-card-content ng-if="ctrl.createMode">
          {{'survey-management.edit.hints.response-rate-image.available-after-save' | translate}}
        </md-card-content>
        <md-card-actions layout="row" layout-align="begin center" ng-if="!ctrl.createMode" style="margin-top: 12px; margin-bottom: 12px;">
          <md-button class="md-primary md-raised md-icon-button ml6" ngf-select="ctrl.saveResponseRateImageDe($file)">
            <md-tooltip md-autohide="true" md-direction="bottom" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'survey-management.edit.response-rate-image.add-german-image-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons" ng-if="!ctrl.responseRateImageDe">add</md-icon>
            <md-icon md-font-set="material-icons" ng-if="ctrl.responseRateImageDe">edit</md-icon>
          </md-button>
          <md-button class="md-primary md-raised md-icon-button ml6" ng-click="ctrl.deleteResponseRateImageDe()" ng-disabled="!ctrl.responseRateImageDe">
            <md-tooltip md-autohide="true" md-direction="bottom" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'survey-management.edit.response-rate-image.delete-german-image-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">delete_forever</md-icon>
          </md-button>
          <md-button class="md-raised md-accent md-icon-button" ng-click="ctrl.uploadOrDeleteResponseRateImageDe()" ng-disabled="!ctrl.responseRateImageDeDirty">
            <md-tooltip md-autohide="true" md-direction="left" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'survey-management.edit.response-rate-image.upload-or-delete-german-image-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">save</md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div flex-gt-sm="50">
      <md-card class="mt0 mb8" ng-class="{'ml0': $mdMedia('gt-sm')}">
        <md-card-header>
          <md-card-header-text class="pb">
            <h2 class="md-title">{{'survey-management.detail.response-rate-information' | translate }}
              ({{'global.in-english' | translate}})</h2>
          </md-card-header-text>
        </md-card-header>
        <md-divider></md-divider>
        <md-card-content ng-if="!ctrl.createMode" ngf-drag-over-class="{accept:'fdz-file-drop-accept', reject:'fdz-file-drop-reject', delay:0}" ngf-drop="ctrl.saveResponseRateImageEn($file)" ngf-select="ctrl.saveResponseRateImageEn($file)"
          class="pointer">
          <img alt="" ngf-src="ctrl.responseRateImageEn" src="" style="width:100%;top:0;left:0;bottom:0;right:0;">
          <div ng-if="!ctrl.responseRateImageEn">
            {{'survey-management.edit.hints.response-rate-image.en' | translate}}
          </div>
        </md-card-content>
        <md-card-content ng-if="ctrl.createMode">
          {{'survey-management.edit.hints.response-rate-image.available-after-save' | translate}}
        </md-card-content>
        <md-card-actions layout="row" layout-align="begin center" ng-if="!ctrl.createMode" style="margin-top: 12px; margin-bottom: 12px;">
          <md-button class="md-primary md-raised md-icon-button ml6" ngf-select="ctrl.saveResponseRateImageEn($file)">
            <md-tooltip md-autohide="true" md-direction="bottom" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'survey-management.edit.response-rate-image.add-english-image-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons" ng-if="!ctrl.responseRateImageEn">add</md-icon>
            <md-icon md-font-set="material-icons" ng-if="ctrl.responseRateImageEn">edit</md-icon>
          </md-button>
          <md-button class="md-primary md-raised md-icon-button ml6" ng-click="ctrl.deleteResponseRateImageEn()" ng-disabled="!ctrl.responseRateImageEn">
            <md-tooltip md-autohide="true" md-direction="bottom" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'survey-management.edit.response-rate-image.delete-english-image-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">delete_forever</md-icon>
          </md-button>
          <md-button class="md-raised md-accent md-icon-button" ng-click="ctrl.uploadOrDeleteResponseRateImageEn()" ng-disabled="!ctrl.responseRateImageEnDirty">
            <md-tooltip md-autohide="true" md-direction="left" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
              {{'survey-management.edit.response-rate-image.upload-or-delete-english-image-tooltip' | translate}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">save</md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <div>
    <md-card class="mt0 mb8" ng-if="ctrl.survey.id">
      <md-card-header layout-align="center center">
        <md-card-header-text class="pb">
          <h2 class="md-title">{{'survey-management.detail.attachments.table-title' | translate}}</h2>
        </md-card-header-text>
      </md-card-header>
      <table fdz-table ng-if="!ctrl.createMode && ctrl.attachments && ctrl.attachments.length > 0">
        <thead>
          <tr>
            <th>
              &nbsp;
            </th>
            <th style="min-height: 40px;">
              &nbsp;
            </th>
            <th style="min-height: 40px;">
              &nbsp;
            </th>
            <th class="fdz-table-half-absorbing-column">{{'survey-management.detail.label.attachments.title' | translate }}
              <md-tooltip hide-gt-xs md-direction="right">
                {{'survey-management.detail.label.attachments.title' | translate }}
              </md-tooltip>
            </th>
            <th class="fdz-table-half-absorbing-column">{{'survey-management.detail.label.attachments.description' |
          translate }}
              <md-tooltip hide-gt-xs md-direction="right">
                {{'survey-management.detail.label.attachments.description' | translate }}
              </md-tooltip>
            </th>
            <th>{{'survey-management.detail.label.attachments.language' | translate }}
              <md-tooltip hide-gt-xs md-direction="right">
                {{'survey-management.detail.label.attachments.language' | translate }}
              </md-tooltip>
            </th>
            <th>DOI
            </th>
            <th>{{'survey-management.detail.label.attachments.file' | translate }}
              <md-tooltip hide-gt-xs md-direction="right">
                {{'survey-management.detail.label.attachments.file' | translate }}
              </md-tooltip>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-class="{'fdz-selected-table-row': $index === ctrl.currentAttachmentIndex}" ng-click="ctrl.selectAttachment($index)" ng-init="translationParams = {filename: row.fileName}" ng-repeat="row in ctrl.attachments">
            <td class="fdz-table-nowrap pr0">
              <md-radio-group class="md-primary" ng-model="ctrl.currentAttachmentIndex">
                <md-radio-button ng-value="$index" class="mb0">
                  <md-tooltip md-autohide="true" md-direction="right" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                    {{'survey-management.detail.attachments.select-attachment-tooltip' | translate:translationParams }}
                  </md-tooltip>
                </md-radio-button>
              </md-radio-group>
            </td>
            <td class="fdz-table-nowrap pa0">
              <md-button class="md-primary md-icon-button ma0" ng-click="ctrl.editAttachment(row, $event)">
                <md-tooltip md-autohide="true" md-direction="bottom" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                  {{'survey-management.detail.attachments.edit-attachment-tooltip' | translate:translationParams }}
                </md-tooltip>
                <md-icon md-font-set="material-icons">mode_edit</md-icon>
              </md-button>
            </td>
            <td class="fdz-table-nowrap pa0">
              <md-button class="md-primary md-icon-button ma0" ng-click="ctrl.deleteAttachment(row, $index)">
                <md-tooltip md-autohide="true" md-direction="bottom" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                  {{'survey-management.detail.attachments.delete-attachment-tooltip' | translate:translationParams }}
                </md-tooltip>
                <md-icon md-font-set="material-icons">delete_forever</md-icon>
              </md-button>
            </td>
            <td lang="{{row.language}}">{{row.title}}&nbsp;</td>
            <td class="fdz-text-block" display-i18n-string="row.description" ></td>
            <td>{{row.language | displayIsoLanguage: currentLanguage}}&nbsp;</td>
            <td>
              <a target="_blank" rel="noopener noreferrer" href="{{row.doi}}" ng-if="row.doi">
                <md-icon md-font-set="material-icons" class="ng-scope material-icons md-primary" role="img">link</md-icon>
                <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                  {{row.doi}}
                </md-tooltip>
                <a ng-if="!row.doi" aria-disabled>
                  <md-icon md-font-set="material-icons" class="ng-scope material-icons" role="img">link_off</md-icon>
                </a> 
              </a> 
            </td>
            <td class="nowrap"><a ng-href="{{row.id}}" target="_blank">{{row.fileName}}
                <md-tooltip md-autohide="true" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
                  {{'global.tooltips.files.download' | translate: {filename: row.fileName} }}
                </md-tooltip>
              </a>&nbsp;
            </td>
          </tr>
        </tbody>
      </table>
      <md-divider></md-divider>
      <md-card-content ng-if="ctrl.createMode">
        {{'survey-management.detail.attachments.save-survey-before-adding-attachment' | translate}}
      </md-card-content>
      <md-card-actions layout="row" layout-align="begin center" ng-if="!ctrl.createMode" style="margin-top: 12px; margin-bottom: 12px;">
        <md-button class="md-primary md-raised md-icon-button ml6" ng-click="ctrl.addAttachment($event)">
          <md-tooltip md-autohide="true" md-direction="bottom" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'survey-management.detail.attachments.add-attachment-tooltip' | translate}}
          </md-tooltip>
          <md-icon md-font-set="material-icons">add</md-icon>
        </md-button>
        <md-button class="md-primary md-raised md-icon-button" ng-click="ctrl.moveAttachmentUp()" ng-disabled="ctrl.currentAttachmentIndex == null || ctrl.currentAttachmentIndex === 0">
          <md-tooltip md-autohide="true" md-direction="bottom" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'survey-management.detail.attachments.move-attachment-up-tooltip' | translate}}
          </md-tooltip>
          <md-icon md-font-set="material-icons">keyboard_arrow_up</md-icon>
        </md-button>
        <md-button class="md-primary md-raised md-icon-button" ng-click="ctrl.moveAttachmentDown()" ng-disabled="ctrl.currentAttachmentIndex == null || ctrl.currentAttachmentIndex === ctrl.attachments.length - 1">
          <md-tooltip md-autohide="true" md-direction="bottom" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'survey-management.detail.attachments.move-attachment-down-tooltip' | translate}}
          </md-tooltip>
          <md-icon md-font-set="material-icons">keyboard_arrow_down</md-icon>
        </md-button>
        <md-button class="md-accent md-raised md-icon-button" ng-click="ctrl.saveAttachmentOrder()" ng-disabled="!ctrl.attachmentOrderIsDirty">
          <md-tooltip md-autohide="true" md-direction="bottom" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
            {{'survey-management.detail.attachments.save-attachment-order-tooltip' | translate}}
          </md-tooltip>
          <md-icon md-font-set="material-icons">save</md-icon>
        </md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>
<div class="fdz-fab-button-container" layout="column" ng-if="ctrl.survey.id">
  <md-button class="md-fab md-raised md-primary" ng-click="ctrl.openRestorePreviousVersionDialog($event)" ng-disabled="ctrl.createMode">
    <md-tooltip md-autohide="true" md-direction="left" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
      {{'survey-management.edit.open-choose-previous-version-tooltip' | translate}}
    </md-tooltip>
    <md-icon md-font-set="material-icons" class="ml9">history</md-icon>
  </md-button>
  <md-button class="md-fab md-raised md-accent" ng-click="ctrl.saveSurvey()" ng-disabled="!surveyForm.$dirty" type="submit">
    <md-tooltip md-autohide="true" md-direction="left" md-z-index="bowser.mobile || bowser.tablet ? -100 : 100001">
      {{'survey-management.edit.save-tooltip' | translate}}
    </md-tooltip>
    <md-icon md-font-set="material-icons">save</md-icon>
  </md-button>
</div>
