<md-dialog aria-label="{{'survey-management.home.title' | translate }}" style="width: 70%;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'survey-management.home.title' | translate }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.closeDialog()">
                <md-icon md-svg-src="/assets/images/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
      <div block-ui="blockRelatedSurveyContainer">
   <div  class="fdz-InfiniteScroll">
<md-virtual-repeat-container id="vertical-container">
      <div md-virtual-repeat="item in ctrl.infiniteItems" md-on-demand
          class="repeated-item" flex>
          <md-card ui-sref="surveyDetail({id:item._source.id})" class="fdz-search-result">
            <md-card-header class="fdz-card-header-border">
                <md-card-avatar>
                    <md-icon md-svg-src="/assets/images/icons/survey.svg" class="fdz-search-result-icon"></md-icon>
                </md-card-avatar>
                <md-card-header-text class="fdz-truncate-string">
                    <div class="md-title fdz-truncate-string">{{item._source.title}}</div>
                    <div class="md-subhead fdz-truncate-string">{{item._source.id}}</div>
                </md-card-header-text>
            </md-card-header>
              <md-card-content>
                    <div layout="row" layout-xs="column" class="fdz-truncate-string">
                      <div class="fdz-search-result-label">
                        Feldzeit:
                      </div>
                      <div class="fdz-truncate-string">
                        {{item._source.fieldPeriod.start | date}} - {{item._source.fieldPeriod.end | date}}
                      </div>
                    </div>
              </md-card-content>
          </md-card>

      </div>
    </md-virtual-repeat-container>
</div>
   <!--
     <div  ng-if="ctrl.surveys.totalHits !== 0" class="fdz-InfiniteScroll">
          <md-virtual-repeat-container id="vertical-container">
           <div md-virtual-repeat="survey in ctrl.surveys" md-on-demand
               class="fdz-repeated-item" flex>
               <survey-search-result search-result="survey._source"></survey-search-result>
           </div>
         </md-virtual-repeat-container>
      </div>
    -->
        <div ng-if="ctrl.surveys.totalHits === 0" layout-margin>
          <span>{{'survey-management.detail.no-related-surveys' | translate }}</span>
        </div>
      </div>
    </md-dialog-content>
</md-dialog>
