<div ng-if="ctrl.survey.$resolved">
    <md-card>
        <md-card-header>
            <md-card-header-text>
                <h1 class="md-headline">{{ctrl.survey.title[currentLanguage]}}</h1>
            </md-card-header-text>
        </md-card-header>
        <md-card-content style="padding-top: 0px;" layout="column">
            <div layout="row" layout-sm="column" layout-xs="column">
                <md-card flex-gt-sm>
                    <md-card-header>
                        <md-card-header-text>
                            <h2 class="md-title">{{'survey-management.detail.survey-informations' | translate }}</h2>
                        </md-card-header-text>
                    </md-card-header>
                    <md-divider></md-divider>
                    <md-card-content>
                      <section style="margin-bottom: 0.5em;" ng-if="ctrl.survey.population">
                        <span style="font-weight: bold;">{{'survey-management.detail.population' | translate }}:
                        </span>
                        <span>{{ctrl.survey.population[currentLanguage]}}</span>
                      </section>
                      <section style="margin-bottom: 0.5em;" ng-if="ctrl.survey.sample">
                        <span style="font-weight: bold;">{{'survey-management.detail.sample' | translate }}:
                        </span>
                        <span>{{ctrl.survey.sample[currentLanguage]}}</span>
                      </section>
                      <section style="margin-bottom: 0.5em;" ng-if="ctrl.survey.surveyMethod">
                        <span style="font-weight: bold;">{{'survey-management.detail.survey-method' | translate }}:
                        </span>
                        <span>{{ctrl.survey.surveyMethod[currentLanguage]}}</span>
                      </section>
                      <section style="margin-bottom: 0.5em;" ng-if="ctrl.survey.fieldPeriod">
                          <span style="font-weight: bold;">{{'survey-management.detail.field-period' | translate }}:
                          </span>
                          <span>{{ctrl.survey.fieldPeriod.start | date}} - {{ctrl.survey.fieldPeriod.end | date}}</span>
                      </section>
                      <section style="margin-bottom: 0.5em;" ng-if="ctrl.survey.grossSampleSize">
                          <span style="font-weight: bold;">{{'survey-management.detail.grossSampleSize' | translate }}:
                          </span>
                          <span>N = {{ctrl.survey.grossSampleSize}}</span>
                      </section>
                      <section style="margin-bottom: 0.5em;" ng-if="ctrl.survey.sampleSize">
                        <span style="font-weight: bold;">{{'survey-management.detail.sampleSize' | translate }}:
                        </span>
                        <span>N = {{ctrl.survey.sampleSize}}</span>
                      </section>
                      <section style="margin-bottom: 0.5em;" ng-if="ctrl.survey.responseRate">
                        <span style="font-weight: bold;">{{'survey-management.detail.responseRate' | translate }}:
                        </span>
                        <span>{{ctrl.survey.responseRate}}%</span>
                      </section>
                    </md-card-content>
                </md-card>
                <md-card>
                    <md-card-header>
                        <md-card-header-text>
                            <h2 class="md-title">{{'survey-management.detail.related-objects' | translate }}</h2>
                        </md-card-header-text>
                    </md-card-header>
                    <md-divider></md-divider>
                    <md-card-content layout="column" layout-align="center start">
                        <section style="margin-bottom: 0.5em;" layout="row">
                          <md-icon md-svg-src="/assets/images/icons/study.svg" style="margin-top:0px; margin-right:4px;"></md-icon>
                          <div layout="row" layout-sm="column" layout-xs="column">
                            <span  style="margin-right:3px;">{{'study-management.detail.study' | translate }}:</span>
                            <a ui-sref="studyDetail({id:ctrl.study.id})">{{ctrl.study.title}}</a>
                          </div>
                        </section>
                        <section ng-hide="true" style="margin-bottom: 0.5em;" layout="row">
                            <md-icon md-svg-src="/assets/images/icons/instrument.svg" style="margin-top:0px; margin-right:4px;"></md-icon>
                            <div layout="row" layout-sm="column" layout-xs="column">
                            <span style="margin-right:3px;">{{'instrument-management.detail.instruments' | translate }}:</span>
                            <a ng-click="ctrl.showRelatedInstruments()">(...)</a>
                          </div>
                        </section>
                        <section style="margin-bottom: 0.5em;" layout="row">
                            <md-icon md-svg-src="/assets/images/icons/data-set.svg" style="margin-top:0px; margin-right:4px;"></md-icon>
                            <div layout="row" layout-sm="column" layout-xs="column">
                            <span style="margin-right:3px;">{{'data-set-management.detail.data-sets' | translate }}:</span>
                            <a ng-click="ctrl.showRelatedDataSets()">({{ctrl.counts.dataSetsCount}})</a>
                            </div>
                        </section>
                        <section style="margin-bottom: 0.5em;" layout="row">
                            <md-icon md-svg-src="/assets/images/icons/survey.svg" style="margin-top:0px;margin-right:4px;"></md-icon>
                            <div layout="row" layout-sm="column" layout-xs="column">
                            <span style="margin-right:3px;">{{'survey-management.detail.surveys' | translate }}:</span>
                            <a ng-click="ctrl.showRelatedSurveys()">({{ctrl.counts.surveysCount}})</a>
                            </div>
                        </section>
                    </md-card-content>
                </md-card>
            </div>
    </md-card-content>
    </md-card>
</div>
