<div ng-if="ctrl.survey.$resolved && ctrl.survey.id">
    <div layout="row" style="margin-bottom: 0px;" layout-margin>
        <h1 class="md-headline" style="margin-left: 0px;">{{ctrl.survey.title[currentLanguage]}} <span class="label label-as-badge label-default">{{ctrl.survey.id}}</span></h1>
    </div>
    <div layout="column" layout-gt-sm="row">
        <div flex-gt-sm="50" layout="column">
            <md-card flex="auto">
                <md-card-header>
                    <md-card-header-text>
                        <h2 class="md-title">{{'global.cards.details' | translate }}</h2>
                    </md-card-header-text>
                </md-card-header>
                <md-divider></md-divider>
                <md-card-content>
                  <i18n i18n-string=ctrl.survey.population current-language=currentLanguage label='survey-management.detail.population' type></i18n>
                  <i18n i18n-string=ctrl.survey.sample current-language=currentLanguage label='survey-management.detail.sample' type></i18n>
                  <i18n i18n-string=ctrl.survey.surveyMethod current-language=currentLanguage label='survey-management.detail.survey-method' type></i18n>
                  <div style="margin-bottom: 0.5em;" ng-if="ctrl.survey.fieldPeriod">
                    <span style="font-weight: bold;">{{'survey-management.detail.field-period' | translate }}:</span>
                    <span>{{ctrl.survey.fieldPeriod.start | date}} - {{ctrl.survey.fieldPeriod.end | date}}</span>
                  </div>
                  <div style="margin-bottom: 0.5em;" ng-if="ctrl.survey.grossSampleSize">
                    <span style="font-weight: bold;">{{'survey-management.detail.grossSampleSize' | translate }}:</span>
                    <span>N = {{ctrl.survey.grossSampleSize | number}}</span>
                  </div>
                  <div style="margin-bottom: 0.5em;" ng-if="ctrl.survey.sampleSize">
                    <span style="font-weight: bold;">{{'survey-management.detail.sampleSize' | translate }}:</span>
                    <span>N = {{ctrl.survey.sampleSize | number}}</span>
                  </div>
                  <div style="margin-bottom: 0.5em;" ng-if="ctrl.survey.responseRate">
                    <span style="font-weight: bold;">{{'survey-management.detail.responseRate' | translate }}:</span>
                    <span>{{ctrl.survey.responseRate | number}}%</span>
                  </div>
                </md-card-content>
            </md-card>
        </div>
        <div flex-gt-sm="50" layout="column">
            <md-card flex="auto" ng-class="{'fdz-reset-left-margin': $mdMedia('gt-sm'), 'fdz-reset-top-margin': $mdMedia('sm') || $mdMedia('xs')}">
                <md-card-header>
                    <md-card-header-text>
                        <h2 class="md-title">{{'global.cards.related-objects' | translate }}</h2>
                    </md-card-header-text>
                </md-card-header>
                <md-divider></md-divider>
                <md-card-content layout="column" layout-align="center start">
                    <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                        <div ng-if="!ctrl.study" class="fdz-truncate-string" flex>
                            <md-icon md-svg-src="/assets/images/icons/study.svg"></md-icon>
                            {{'study-management.detail.study' | translate }}: {{'global.messages.error.unavailable' | translate}}
                        </div>
                        <i18n style="width: 100%;" ng-if="ctrl.study" i18n-string=ctrl.study.title current-language=currentLanguage label='study-management.detail.study'
                              state="{name: 'studyDetail', params:{id: ctrl.study.id}}" icon='study' type>
                        </i18n>
                    </div>
                    <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                        <div ng-if="ctrl.counts.instrumentsCount == 0" class="fdz-truncate-string" flex>
                            <md-icon md-svg-src="/assets/images/icons/instrument.svg"></md-icon>
                            {{'instrument-management.detail.instruments' | translate }}: {{'global.messages.error.unavailable' | translate}}
                        </div>
                        <i18n style="width: 100%;" ng-if="ctrl.instrument && ctrl.counts.instrumentsCount === 1" i18n-string=ctrl.instrument.description
                              current-language=currentLanguage label='instrument-management.detail.instrument'
                              state="{name: 'instrumentDetail', params:{id: ctrl.instrument.id}}" icon='instrument' type>
                        </i18n>
                        <div ng-if="ctrl.counts.instrumentsCount > 1" class="fdz-truncate-string" flex>
                            <a ui-sref="search({'type': 'instruments', 'survey':ctrl.survey.id, 'page': 1})">
                                <md-icon md-svg-src="/assets/images/icons/instrument.svg"></md-icon>
                                {{'instrument-management.detail.instruments' | translate }}: ({{ctrl.counts.instrumentsCount}})</a>
                        </div>
                    </div>
                    <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                        <div ng-if="ctrl.counts.dataSetsCount == 0" class="fdz-truncate-string" flex>
                            <md-icon md-svg-src="/assets/images/icons/data-set.svg"></md-icon>
                            {{'data-set-management.detail.data-sets' | translate }}: {{'global.messages.error.unavailable' | translate}}
                        </div>
                        <i18n style="width: 100%;" ng-if="ctrl.dataSet && ctrl.counts.dataSetsCount === 1" i18n-string=ctrl.dataSet.description
                              current-language=currentLanguage label='data-set-management.detail.data-set'
                              state="{name: 'dataSetDetail', params: {'id': ctrl.dataSet.id}}" icon='data-set' type>
                        </i18n>
                        <div ng-if="ctrl.counts.dataSetsCount > 1" class="fdz-truncate-string" flex>
                            <a ui-sref="search({'type': 'data_sets', 'survey':ctrl.survey.id, 'page': 1})">
                                <md-icon md-svg-src="/assets/images/icons/data-set.svg"></md-icon>
                                {{'data-set-management.detail.data-sets' | translate }}: ({{ctrl.counts.dataSetsCount}})</a>
                        </div>
                    </div>
                    <div ng-if="ctrl.counts.surveysCount !== 1" style="margin-bottom: 0.5em; width: 100%;" layout="row">
                        <div ng-if="ctrl.counts.surveysCount == 0" class="fdz-truncate-string" flex>
                            <md-icon md-svg-src="/assets/images/icons/survey.svg"></md-icon>
                            {{'survey-management.detail.surveys-same-study' | translate }}: {{'global.messages.error.unavailable' | translate}}
                        </div>
                        <div ng-if="ctrl.counts.surveysCount > 1" class="fdz-truncate-string" flex>
                            <a ui-sref="search({'type': 'surveys', 'study':ctrl.survey.studyId, 'page': 1})">
                                <md-icon md-svg-src="/assets/images/icons/survey.svg"></md-icon>
                                {{'survey-management.detail.surveys-same-study' | translate }}: ({{ctrl.counts.surveysCount}})</a>
                        </div>
                    </div>
                    <div style="margin-bottom: 0.5em; width: 100%;" layout="row">
                        <div ng-if="ctrl.counts.publicationsCount == 0" class="fdz-truncate-string" flex>
                            <md-icon md-svg-src="/assets/images/icons/related-publication.svg"></md-icon>
                            {{'related-publication-management.detail.publications' | translate }}: {{'global.messages.error.unavailable' | translate}}
                        </div>
                        <div ng-if="ctrl.counts.publicationsCount == 1" class="fdz-truncate-string" flex>
                            <a ui-sref="relatedPublicationDetail({'id': ctrl.relatedPublication.id})">
                                <md-icon md-svg-src="/assets/images/icons/related-publication.svg"></md-icon>
                                {{'related-publication-management.detail.publication' | translate }}: {{ctrl.relatedPublication.title}}</a>
                        </div>
                        <div ng-if="ctrl.counts.publicationsCount > 1" class="fdz-truncate-string" flex>
                            <a ui-sref="search({'type': 'related_publications', 'survey': ctrl.survey.id, 'page': 1})">
                                <md-icon md-svg-src="/assets/images/icons/related-publication.svg"></md-icon>
                                {{'related-publication-management.detail.publications' | translate }}: ({{ctrl.counts.publicationsCount}})</a>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div layout="row">
        <md-card ng-if="ctrl.attachments" flex class="fdz-reset-top-margin">
            <md-card-header layout-align="center center">
                <md-card-header-text>
                    <h2 class="md-title">{{'survey-management.detail.attachments.table-title' | translate }}</h2>
                </md-card-header-text>
            </md-card-header>
            <table class="fdz-table">
                <thead>
                    <tr>
                        <th>{{'survey-management.detail.attachments.title' | translate }}
                            <md-tooltip hide-gt-xs md-direction="right">
                                {{'survey-management.detail.attachments.title' | translate }}
                            </md-tooltip>
                        </th>
                        <th>{{'survey-management.detail.attachments.description' | translate }}
                            <md-tooltip hide-gt-xs md-direction="right">
                                {{'survey-management.detail.attachments.description' | translate }}
                            </md-tooltip>
                        </th>
                        <th>{{'survey-management.detail.attachments.language' | translate }}
                            <md-tooltip hide-gt-xs md-direction="right">
                                {{'survey-management.detail.attachments.language' | translate }}
                            </md-tooltip>
                        </th>
                        <th>{{'survey-management.detail.attachments.file' | translate }}
                            <md-tooltip hide-gt-xs md-direction="right">
                                {{'survey-management.detail.attachments.file' | translate }}
                            </md-tooltip>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in ctrl.attachments">
                        <td lang="{{row.language}}">{{row.title}}&nbsp;</td>
                        <td><i18n i18n-string=row.description language=currentLanguage type='table-cell'></i18n></td>
                        <td>{{row.language | displayIsoLanguage: currentLanguage}}&nbsp;</td>
                        <td><a ng-href="{{row.id}}" target="_blank">{{row.fileName}}</a>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </md-card>
    </div>
    <div layout="column" layout-gt-sm="row">
        <div flex-gt-sm="50">
            <md-card ng-hide="!ctrl.imgResolved" class="fdz-reset-top-margin">
                <md-card-header>
                    <md-card-header-text>
                        <h2 class="md-title">{{'survey-management.detail.response-rate-informations' | translate }}</h2>
                    </md-card-header-text>
                </md-card-header>
                <md-divider></md-divider>
                <a ng-href="{{'/public/files/surveys/' + ctrl.survey.id + '/' + ctrl.survey.number + '_responserate_' + currentLanguage + '.svg'}}" title="" target="_blank">
                    <img data-fdz-onload="ctrl.setImgResolved()" alt="" style="width:100%;height:100%;top:0;left:0;bottom:0;right:0;" ng-src="{{'/public/files/surveys/' + ctrl.survey.id + '/' + ctrl.survey.number + '_responserate_' + currentLanguage + '.svg'}}" />
                </a>
            </md-card>
        </div>
        <div flex-gt-sm="50">
            <div class="fdz-fake-empty-card fdz-reset-top-margin" ng-class="{'fdz-reset-left-margin': $mdMedia('gt-sm')}"></div>
        </div>
    </div>
</div>
