<md-dialog aria-label="{{'survey-management.home.title' | translate }}" style="width: 70%;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'survey-management.home.title' | translate }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.closeDialog()">
                <md-icon md-svg-src="/assets/images/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <related-surveys method-name="{{ctrl.methodName}}" method-params="ctrl.methodParams" count="{{ctrl.count}}" survey-id="{{ctrl.surveyId}}"></related-surveys>
    </md-dialog-content>
</md-dialog>
