name: Nightly E2E Tests
on:
  #schedule:
   #- cron: "0 2 * * *"
  workflow_dispatch:
jobs:
    chrome-public-user:
      runs-on: ubuntu-18.04
      steps:
        - uses: actions/checkout@v1
          with:
            ref: development
        - name: Setup Python 3.8.0
          uses: actions/setup-python@v2
          with:
            python-version: '3.8.0'
        - name: Install robotframework dependencies
          run: ./src/test/robotframework/setup.sh
        - name: Nightly Chrome Tests (Public User)
          run: robot -P ./src/test/robotframework/libs -d target/test/robotframework/logs/chrome -v USE_SAUCELABS:TRUE -v BROWSER:chrome --include publicuserNOTfirefoxonlyNOTlocalonly ./src/test/robotframework
          env:
            SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
            SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
    firefox-public-user:
      runs-on: ubuntu-18.04
      steps:
        - uses: actions/checkout@v1
          with:
            ref: development
        - name: Setup Python 3.8.0
          uses: actions/setup-python@v2
          with:
            python-version: '3.8.0'
        - name: Install robotframework dependencies
          run: ./src/test/robotframework/setup.sh
        - name: Nightly Firefox Tests (Public User)
          run: robot -P ./src/test/robotframework/libs -d target/test/robotframework/logs/firefox -v USE_SAUCELABS:TRUE -v BROWSER:firefox --include publicuserNOTchromeonlyNOTlocalonly ./src/test/robotframework
          env:
            SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
            SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
    edge-public-user:
      runs-on: ubuntu-18.04
      steps:
        - uses: actions/checkout@v1
          with:
            ref: development
        - name: Setup Python 3.8.0
          uses: actions/setup-python@v2
          with:
            python-version: '3.8.0'
        - name: Install robotframework dependencies
          run: ./src/test/robotframework/setup.sh
        - name: Nightly Edge Tests (Public User)
          run: robot -P ./src/test/robotframework/libs -d target/test/robotframework/logs/edge -v USE_SAUCELABS:TRUE -v BROWSER:edge --include publicuserNOTfirefoxonlyNOTchromeonlyNOTnoslowpokeNOTlocalonly ./src/test/robotframework
          env:
            SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
            SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
    safari-public-user:
      runs-on: ubuntu-18.04
      steps:
        - uses: actions/checkout@v1
          with:
            ref: development
        - name: Setup Python 3.8.0
          uses: actions/setup-python@v2
          with:
            python-version: '3.8.0'
        - name: Install robotframework dependencies
          run: ./src/test/robotframework/setup.sh
        - name: Nightly Safari Tests (Public User)
          run: robot -P ./src/test/robotframework/libs -d target/test/robotframework/logs/safari -v USE_SAUCELABS:TRUE -v BROWSER:safari --include publicuserNOTfirefoxonlyNOTchromeonlyNOTnoslowpokeNOTlocalonly ./src/test/robotframework
          env:
            SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
            SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
    chrome-dataprovider:
      runs-on: ubuntu-18.04
      needs:
        - chrome-public-user
        - firefox-public-user
        - edge-public-user
        - safari-public-user
      steps:
        - uses: actions/checkout@v1
          with:
            ref: development
        - name: Setup Python 3.8.0
          uses: actions/setup-python@v2
          with:
            python-version: '3.8.0'
        - name: Install robotframework dependencies
          run: ./src/test/robotframework/setup.sh
        - name: Nightly Chrome Tests (Dataprovider)
          run: robot -P ./src/test/robotframework/libs -d target/test/robotframework/logs/chrome -v USE_SAUCELABS:TRUE -v BROWSER:chrome --include dataproviderNOTfirefoxonlyNOTlocalonly ./src/test/robotframework
          env:
            SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
            SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
    firefox-dataprovider:
      runs-on: ubuntu-18.04
      needs:
        - chrome-public-user
        - firefox-public-user
        - edge-public-user
        - safari-public-user
      steps:
        - uses: actions/checkout@v1
          with:
            ref: development
        - name: Setup Python 3.8.0
          uses: actions/setup-python@v2
          with:
            python-version: '3.8.0'
        - name: Install robotframework dependencies
          run: ./src/test/robotframework/setup.sh
        - name: Nightly Firefox Tests (Dataprovider)
          run: robot -P ./src/test/robotframework/libs -d target/test/robotframework/logs/firefox -v USE_SAUCELABS:TRUE -v BROWSER:firefox --include dataproviderNOTchromeonlyNOTlocalonly ./src/test/robotframework
          env:
            SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
            SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
    edge-dataprovider:
      runs-on: ubuntu-18.04
      needs:
        - chrome-public-user
        - firefox-public-user
        - edge-public-user
        - safari-public-user
      steps:
        - uses: actions/checkout@v1
          with:
            ref: development
        - name: Setup Python 3.8.0
          uses: actions/setup-python@v2
          with:
            python-version: '3.8.0'
        - name: Install robotframework dependencies
          run: ./src/test/robotframework/setup.sh
        - name: Nightly Edge Tests (Dataprovider)
          run: robot -P ./src/test/robotframework/libs -d target/test/robotframework/logs/edge -v USE_SAUCELABS:TRUE -v BROWSER:edge --include dataproviderNOTfirefoxonlyNOTchromeonlyNOTnoslowpokeNOTlocalonly ./src/test/robotframework
          env:
            SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
            SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
    safari-dataprovider:
      runs-on: ubuntu-18.04
      needs:
        - chrome-public-user
        - firefox-public-user
        - edge-public-user
        - safari-public-user
      steps:
        - uses: actions/checkout@v1
          with:
            ref: development
        - name: Setup Python 3.8.0
          uses: actions/setup-python@v2
          with:
            python-version: '3.8.0'
        - name: Install robotframework dependencies
          run: ./src/test/robotframework/setup.sh
        - name: Nightly Safari Tests (Dataprovider)
          run: robot -P ./src/test/robotframework/libs -d target/test/robotframework/logs/safari -v USE_SAUCELABS:TRUE -v BROWSER:safari --include dataproviderNOTfirefoxonlyNOTchromeonlyNOTlocalonly ./src/test/robotframework
          env:
            SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
            SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
    chrome-publisher:
      runs-on: ubuntu-18.04
      needs:
        - chrome-dataprovider
        - firefox-dataprovider
        - edge-dataprovider
        - safari-dataprovider
      steps:
        - uses: actions/checkout@v1
          with:
            ref: development
        - name: Setup Python 3.8.0
          uses: actions/setup-python@v2
          with:
            python-version: '3.8.0'
        - name: Install robotframework dependencies
          run: ./src/test/robotframework/setup.sh
        - name: Nightly Chrome Tests (Publisher)
          run: robot -P ./src/test/robotframework/libs -d target/test/robotframework/logs/chrome -v USE_SAUCELABS:TRUE -v BROWSER:chrome --include publisherNOTfirefoxonlyNOTlocalonly ./src/test/robotframework
          env:
            SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
            SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
    firefox-publisher:
      runs-on: ubuntu-18.04
      needs:
        - chrome-dataprovider
        - firefox-dataprovider
        - edge-dataprovider
        - safari-dataprovider
      steps:
        - uses: actions/checkout@v1
          with:
            ref: development
        - name: Setup Python 3.8.0
          uses: actions/setup-python@v2
          with:
            python-version: '3.8.0'
        - name: Install robotframework dependencies
          run: ./src/test/robotframework/setup.sh
        - name: Nightly Firefox Tests (Publisher)
          run: robot -P ./src/test/robotframework/libs -d target/test/robotframework/logs/firefox -v USE_SAUCELABS:TRUE -v BROWSER:firefox --include publisherNOTchromeonlyNOTlocalonly ./src/test/robotframework
          env:
            SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
            SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
    edge-publisher:
      runs-on: ubuntu-18.04
      needs:
        - chrome-dataprovider
        - firefox-dataprovider
        - edge-dataprovider
        - safari-dataprovider
      steps:
        - uses: actions/checkout@v1
          with:
            ref: development
        - name: Setup Python 3.8.0
          uses: actions/setup-python@v2
          with:
            python-version: '3.8.0'
        - name: Install robotframework dependencies
          run: ./src/test/robotframework/setup.sh
        - name: Nightly Edge Tests (Publisher)
          run: robot -P ./src/test/robotframework/libs -d target/test/robotframework/logs/edge -v USE_SAUCELABS:TRUE -v BROWSER:edge --include publisherNOTfirefoxonlyNOTchromeonlyNOTnoslowpokeNOTlocalonly ./src/test/robotframework
          env:
            SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
            SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
    #safari-publisher:
    #  runs-on: ubuntu-18.04
    #  needs:
    #    - chrome-publisher
    #    - firefox-publisher
    #    - edge-publisher
    #  steps:
    #    - uses: actions/checkout@v1
    #      with:
    #        ref: development
    #    - name: Setup Python 3.8.0
    #      uses: actions/setup-python@v2
    #      with:
    #        python-version: '3.8.0'
    #    - name: Install robotframework dependencies
    #      run: ./src/test/robotframework/setup.sh
    #    - name: Nightly Safari Tests (Publisher)
    #      run: robot -P ./src/test/robotframework/libs -d target/test/robotframework/logs/safari -v USE_SAUCELABS:TRUE -v BROWSER:safari --include publisherNOTfirefoxonlyNOTchromeonlyNOTlocalonly ./src/test/robotframework
    #      env:
    #        SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
    #        SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
    report-via-slack:
      runs-on: ubuntu-18.04
      needs:
        - chrome-public-user
        - firefox-public-user
        - edge-public-user
        - safari-public-user
        - chrome-dataprovider
        - firefox-dataprovider
        - edge-dataprovider
        - safari-dataprovider
        - chrome-publisher
        - firefox-publisher
        - edge-publisher
      #  - safari-publisher
      if: always()
      steps:
        - name: Report build status via Slack
          uses: act10ns/slack@v1
          with:
            status: ${{ fromJSON('["success", "failure"]')[contains(needs.*.result,'failure') || contains(needs.*.result,'cancelled')]}}
          env:
            SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
