<div class="container" ng-cloak>
    <div class="jumbotron" style="margin-top: 20px;">
        <div class="container">
            <h1>{{'main.title' | translate}}</h1>
            <h4>{{'main.subtitle' | translate}}</h4>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-2" title="{{'global.dzhwAltText'|translate}}">
                <a class="navbar-brand dzhw_logo" ng-href="{{'main.dzhwUrl'|translate}}"></a>
            </div>
            <div class="col-md-4" title="{{'global.bmbfAltText'|translate}}">
                <a class="{{'global.bmbfClass' |translate}}" ng-href="{{'main.bmbfUrl'|translate}}"></a>
            </div>
        </div>
    </div>
</div>
