<div class="container">
    <jh-alert></jh-alert>
    <div class="container">

        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="{{'global.menu.entities.variable'|translate}}">
                    <div ng-controller="VariableController">
                        <md-content class="md-padding">
                            <md-input-container class="md-block">
                                <label>{{'global.menu.search.variablesearch'|translate}}</label>
                                <input id="query" type="text" ng-model="query" ng-keyup="search(1)" autocomplete="off" autofocus="autofocus">
                                <md-icon md-font-set="material-icons">search</md-icon>
                            </md-input-container>

                            <md-toolbar class="md-hue-3">
                                <div class="md-toolbar-tools">
                                    <span class="panel-title" data-translate="variablesearch.variablelist" data-translate-values="{'totalHits':{{page.totalHits}},'minHitNumber':{{page.getMinHitNumber()}},'maxHitNumber':{{page.getMaxHitNumber()}}}">Showing hits 1-10</span>
                                </div>
                            </md-toolbar>
                            <md-list>
                                <md-list-item ui-sref="variable.detail({id:result._source.id})" class="md-3-line" ng-repeat="result in searchResult" ng-click="null" flex>
                                    <div class="md-list-item-text" layout="column">
                                        <h3>{{result._source.label}}</h3>
                                        <h4>{{result._source.name}}</h4>
                                        <p>{{result._source.dataAcquisitionProjectId}}</p>
                                    </div>
                                </md-list-item>
                                <md-divider ></md-divider>
                            </md-list>
                            <ul class="pager" ng-show="page.totalHits>0">
                                <li>
                                    <md-button class="md-raised md-button md-ink-ripple" ng-disabled="!page.hasPreviousPage()" ng-click="previousPage()">
                                        <md-icon md-font-set="material-icons">arrow_backward</md-icon>
                                        {{'pagination.previous'|translate}}
                                    </md-button>
                                </li>
                                <li class="hide-xs">
                                    <md-button class="md-raised md-button md-ink-ripple">
                                        <span data-translate="variablesearch.numberofpages" data-translate-values="{'currentPageNumber':{{page.currentPageNumber}},'totalNumberOfPages':{{page.getTotalNumberOfPages()}}}">Page 1 of 1</span>
                                    </md-button>
                                </li>
                                <li>
                                    <md-button class="md-raised md-button md-ink-ripple" ng-disabled="!page.hasNextPage()" ng-click="nextPage()">
                                        {{'pagination.next'|translate}}
                                        <md-icon md-font-set="material-icons">arrow_forward</md-icon>
                                    </md-button>
                                </li>
                            </ul>
                        </md-content>
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>
